{% extends 'base.html.twig' %}

{% block content %}
    <h1>Merci</h1>
    <ul>
        <li>
            <a href="{{ path('jemarchereport') }}">Retour au formulaire</a>
        </li>
    </ul>
{% endblock %}
