{% block summary_contact %}
    <div class="cv__header__contact l__row l__row--center l__row--top">
        {% if summary.contactEmail %}
            <div class="summary-contact-email">
                <a href="mailto:{{ summary.contactEmail }}"><i class="fa fa-envelope-o"></i></a>
            </div>
        {% endif %}
        {% if summary.facebookUrl %}
            <div class="summary-contact-facebook">
                <a href="{{ summary.facebookUrl }}"><i class="fa fa-facebook-official"></i></a>
            </div>
        {% endif %}
        {% if summary.linkedInUrl %}
            <div class="summary-contact-linked_in">
                <a href="{{ summary.linkedInUrl }}"><i class="fa fa-linkedin-square"></i></a>
            </div>
        {% endif %}
        {% if summary.twitterNickname %}
            <div class="summary-contact-twitter">
                <a href="{{ summary.twitterNickname }}"><i class="fa fa-twitter"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}
