<section id="summary-interests" class="space--30-0 l__wrapper--medium">
    {% block summary_interests %}
        <div>
            <h2 class="b__nudge--bottom">Centres d'intérêt</h2>
            {% for interest in summary.memberInterests %}
                <p class="text--body">{{ member_interest_label(interest) }}</p>
            {% endfor %}
        </div>
    {% endblock %}
</section>
