<section id="summary-interests" class="space--30-0 l__wrapper--medium">
    {% block summary_interests %}
        <div class="cv__interests">
            <h2 class="b__nudge--bottom">Mes centres d'intérêt</h2>
            <ul class="b__nudge--bottom">
            {% for interest in summary.memberInterests %}
                <li>{{ member_interest_label(interest) }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endblock %}
</section>
