<section class="space--30-0 l__wrapper--medium">
    {% block summary_interests %}
        <div id="summary-interests">
            <h2 class="b__nudge--bottom">Centres d'intérêt</h2>
            {% for interest in summary.memberInterests %}
                <p>{{ member_interest_label(interest) }}</p>
            {% endfor %}
        </div>
    {% endblock %}
</section>
