<section id="summary-languages" class="l__wrapper--medium space--30-0">
    {% block summary_languages %}
        <div>
            <h2 class="b__nudge--bottom">Langues</h2>
            {% for language_id, language in summary.languagesByLevel %}
                <div class="text--body">{{ language }}</div>
                {% block modify %}{% endblock %}
            {% endfor %}
        </div>
    {% endblock %}
</section>
