<section id="summary-languages" class="l__wrapper--medium space--30-0">
    {% block summary_languages %}
        <h2 class="b__nudge--bottom">Mes langues</h2>
        {% for language_id, language in summary.languagesByLevel %}
            <div class="cv__languages">
                <div class="text--body">{{ language }}</div>
                {% block modify %}{% endblock %}
            </div>
        {% endfor %}
    {% endblock %}
</section>
