<section class="background--green space--60-0 text--center">
    {% block summary_mission_wishes %}
        <div class="l__wrapper--medium">
            <h2>Mes ambitions chez <i>En Marche</i></h2>
            <div class="text--body b__nudge--top">
                {% for wish in summary.missionTypeWishes %}
                    <div class="summary-wish">
                        {{ wish.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
</section>
