<section class="background--lighter space--60-0">
    {% block summary_motivation %}
        <div class="l__wrapper--medium">
            <h2>Mes motivations</h2>
            <div class="text--body b__nudge--top">{{ summary.motivation }}</div>
        </div>
    {% endblock %}
</section>
