<section class="background--lighter space--60-0">
    <div class="l__wrapper--medium">
    {% block summary_motivation %}
        <h2>Ce qui me motive</h2>
        <div class="text--body b__nudge--top cv__motivation">{{ summary.motivation }}</div>
    {% endblock %}
    </div>
</section>
