<section class="l__wrapper--medium">
    {% block summary_motivation %}
        <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
            <h2>Vos motivations</h2>
            <p>{{ summary.motivation }}</p>
        </div>
    {% endblock %}
</section>
