{% block summary_photo %}
        <div class="cv__header__photo progressive-background"
                {% if summary.urlProfilePicture %}
                style="background-image: url('{{ summary.urlProfilePicture }}')"
                {% endif %}>
        </div>
{% endblock %}
