<section class="space--30-0 l__wrapper--medium">
    {% block summary_recent_activities %}
        <div>
            <h2>Activité récente chez En Marche</h2>
            <p class="text--body">
                {% for activity in recent_activities.logs %}
                    {{ activity }}
                {% endfor %}
            </p>
        </div>
    {% endblock %}
</section>
