<section id="summary-recent-activities" class="space--30-0 l__wrapper--medium">
    {% block summary_recent_activities %}
        {% if summary.showingRecentActivities %}
            <div>
                <h2>Mon activité récente</h2>
                <p>
                    {% for activity in recent_activities.logs|slice(1, 5) %}
                        <div class="text--body">{{ activity }}</div>
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    {% endblock %}
</section>
