<section id="summary-recent-activities" class="space--30-0 l__wrapper--medium">
    {% block summary_recent_activities %}
        {% if summary.showingRecentActivities %}
            <div>
                <h2>Activité récente chez En Marche</h2>
                <p class="text--body">
                    {% for activity in recent_activities.logs %}
                        <div>{{ activity }}</div>
                    {% endfor %}
                </p>
            </div>
        {% endif %}
    {% endblock %}
</section>
