<section id="summary-skills" class="l__wrapper--medium space--30-0">
    {% block summary_skills %}
        <div class="cv__skills">
            <h2 class="b__nudge--bottom">Compétences</h2>
            <ul class="b__nudge--top">
            {% for skill in summary.skills %}
                <li>{{ skill.name }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endblock %}
</section>
