{% extends 'base.html.twig' %}

{% block page_title 'Listes candidates au Bureau exécutif' %}
{% block banner '' %}

{% block stylesheets %}
    <style type="text/css">
        nav,
        .cc-window {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        {% block action_talents_header %}
            <header class="hero hero--minimalist hero--minimalist--center-20 background--blue">
                <div class="hero--minimalist__nav">
                    <a href="{{ path('homepage') }}">En Marche !</a>
                </div>
                <div class="hero--minimalist__content">
                    <h1>
                        Listes candidates au Bureau exécutif
                    </h1>
                </div>
            </header>
        {% endblock %}

        <section class="content">
            <article class="l__wrapper--600 space--60-0">
                <p>
                    Le conseil d’administration a validé la candidature de
                    quatre listes de 20 membres en vue de l’élection du
                    Bureau exécutif. Ces membres seront élus au scrutin à un
                    tour à la majorité simple des suffrages par le Conseil réuni
                    le 18 novembre 2017 à Lyon.
                </p>
                <p>
                    Vous pouvez ici prendre connaissance de leur professions de foi,
                    ainsi que des photos et biographies des candidat(e)s de chaque liste.
                </p>
                <h2><a href="https://en-marche.fr/articles/communiques/bureau-executif-liste-1">
                    Liste 1 : En Marche Citoyen
                </a></h2>
                <h2><a href="https://en-marche.fr/articles/communiques/bureau-executif-liste-2">
                    Liste 2 : En Marche pour la Vie
                </a></h2>
                <h2><a href="https://en-marche.fr/articles/communiques/bureau-executif-liste-3">
                    Liste 3 : Territoires, en Marche !
                </a></h2>
                <h2><a href="https://en-marche.fr/articles/communiques/bureau-executif-liste-4">
                    Liste 4 : En Marche #AvecCasta !
                </a></h2>
            </article>
        </section>

    </main>
{% endblock %}
