{% extends 'base.html.twig' %}

{% block page_title page.title %}
{% block canonical_url url('app_static_page', { slug: page.slug }) %}

{% block content %}
    <main>
        <section class="content">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    {{ page.title }}
                </h1>
            </header>

            <article class="l__wrapper--slim b__nudge--bottom-huge">
                {{ page.content|markdown }}
            </article>
        </section>
    </main>
{% endblock %}
