{% extends 'base.html.twig' %}

{% block page_title 'Mooc' %}
{% block meta_description 'Nous mettons à votre disposition une plateforme de formation citoyenne en ligne, gratuite et ouverte à tous.' %}
{% block canonical_url url('page_mooc') %}

{% block open_graph_image_width 1667 %}
{% block open_graph_image_height 873 %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="mooc">
        <header class="hero hero--simple">
            <h1>
                Devenez acteurs de votre vie locale
            </h1>
            <p>
                Ce MOOC, c’est 5 semaines à partir du 20 novembre.
                En 5 semaines, vous allez rencontrer des gens, vous allez
                apprendre, vous allez réfléchir, mais surtout vous allez faire.
                Vous avez tout à gagner ! <a href="https://aide.en-marche.fr/category/681-campus" target="_blank">En savoir plus</a>.
            </p>
            <a href="#" class="btn btn--blue">S'inscrire</a>
        </header>

        <section class="mooc__schedule">
            <h2>
                Ce que vous apprendrez en 5 semaines
            </h2>
            <div class="mooc__week">
                <div class="mooc__week--left">
                </div>
                <div class="mooc__week--dot">
                    <i></i>
                    <i></i>
                </div>
                <div class="mooc__week--right">
                    <h3>Semaine 1</h3>
                    <p class="text--body">
                        Comprendre qui fait quoi sur mon territoire et identifier les acteurs en place.
                    </p>
                </div>
            </div>
            <div class="mooc__week">
                <div class="mooc__week--left">
                    <h3>Semaine 2</h3>
                    <p class="text--body">
                        Identifier les problèmes qui me tiennent à coeur.
                    </p>
                </div>
                <div class="mooc__week--dot">
                    <i></i>
                    <i></i>
                </div>
                <div class="mooc__week--right">
                </div>
            </div>
            <div class="mooc__week">
                <div class="mooc__week--left">
                </div>
                <div class="mooc__week--dot">
                    <i></i>
                    <i></i>
                </div>
                <div class="mooc__week--right">
                    <h3>Semaine 3</h3>
                    <p class="text--body">
                        Trouver le projet pour répondre au problème sur lequel je veux agir.
                    </p>
                </div>
            </div>
            <div class="mooc__week">
                <div class="mooc__week--left">
                    <h3>Semaine 4</h3>
                    <p class="text--body">
                        Définir mon plan d'action et poser la première pierre de mon projet.
                    </p>
                </div>
                <div class="mooc__week--dot">
                    <i></i>
                    <i></i>
                </div>
                <div class="mooc__week--right">
                </div>
            </div>
            <div class="mooc__week">
                <div class="mooc__week--left">
                </div>
                <div class="mooc__week--dot">
                    <i></i>
                    <i></i>
                </div>
                <div class="mooc__week--right">
                    <h3>Semaine 5</h3>
                    <p class="text--body">
                        Donner un cadre à mon projet sur la durée et explorer l'univers des suites possibles !
                    </p>
                </div>
            </div>
        </section>

        <section class="mooc__cta">
            <h2>
                Alors, qu’attendez-vous ? Rejoignez-nous ! C’est gratuit !
            </h2>
            <a href="#" class="btn btn--blue">S'inscrire</a>
        </section>

        <section class="mooc__partner">
            <div>
                Créé en partenariat avec
                <a target="_blank" class="link--no-decor" href="https://360learning.com/?utm_source=enmarchefr">
                    <img src="{{ asset('images/360-learning-logo.svg') }}" width="160" />
                </a>
            </div>
            <p class="l__wrapper--600">
                360Learning est une plateforme de formation en ligne qui permet à n'importe qui de créer ses propres contenus de formation. <a href="https://360learning.com/?utm_source=enmarchefr" target="_blank">En savoir plus</a>.
            </p>
        </section>

    </main>
{% endblock %}
