{% extends 'base.html.twig' %}

{% block page_title 'Politique de cookies' %}
{% block canonical_url url('page_politique_cookies') %}

{% block content %}
    <main>
        <section class="content">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    Politique de Cookies
                </h1>
            </header>

            <article class="l__wrapper--slim b__nudge--bottom-huge">
                {{ page.content|markdown_to_html }}
            </article>
        </section>
    </main>
{% endblock %}
