{% extends 'base.html.twig' %}

{% block banner '' %}
{% block footer '' %}

{% block page_title 'Vous êtes désormais inscrit à notre newsletter' %}
{% block canonical_url url('newsletter_subscription') %}

{% block content %}

    <main class="newsletter-result l__wrapper--500 space--60-0">
        <h2 class="text--large b__nudge--bottom-larger">
            Rendez-vous dans votre boite mail
        </h2>

        <p class="text--body text--dark font-roboto b__nudge--bottom-larger">
            Nous venons de vous envoyer un e-mail pour confirmer votre inscription à la newsletter.
        </p>

        <a href="{{ path('homepage') }}" class="btn btn--blue">Retourner à l'accueil</a>
    </main>

{% endblock %}
