{% extends 'base.html.twig' %}

{% block banner '' %}
{% block footer '' %}

{% block page_title 'Vous êtes désormais inscrit à notre newsletter' %}
{% block canonical_url url('newsletter_subscription') %}

{% block content %}

    <main class="newsletter-result l__wrapper--slim space--60-0">
        <h2 class="text--large b__nudge--bottom-larger">
            Vous venez de vous inscrire à notre newsletter. Merci !
        </h2>

        <p class="text--body text--dark font-roboto b__nudge--bottom-larger">
            Vous recevrez désormais régulièrement des informations sur la vie de notre mouvement (événements, projets, outils
            mis à disposition de nos adhérents…), les actions du Gouvernement et de nos élus (avancement des réformes, annonces
            etc.) ou sur d’autres sujets d’actualité.<br /><br />

            Nous vous invitons à suivre tout cela à nos côtés et, pourquoi pas, à vous engager localement !<br /><br />

            À bientôt,<br />
            L'équipe de La République En Marche !
        </p>

        <a href="{{ path('homepage') }}" class="btn btn--blue">Aller sur la page d'accueil</a>
    </main>

{% endblock %}
