{% extends 'referent/_layout.html.twig' %}

{% block sub_menu %}
    <nav class="tabs-nav b__nudge--bottom-larger">
        <ul>
            {% set sub_routes = [
                {
                    route_name: "app_#{space_type}_committees",
                    label: 'Comités actifs',
                },
                {
                    route_name: "app_#{space_type}_committees_requests",
                    label: 'Demandes de créations',
                },
                {
                    route_name: "app_#{space_type}_committees_designations",
                    label: 'Désignations',
                },
            ] %}

            {% for route in sub_routes %}
                <li {{ is_active_route(app.request, route.route_name) ? 'class="active"' }}>
                    {% if is_active_route(app.request, route.route_name) %}
                        <span class="tabs-nav__item">{{ route.label }}</span>
                    {% else %}
                        <a class="tabs-nav__item" href="{{ path(route.route_name) }}">{{ route.label }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block referent_content %}
    {% block committee_content %}{% endblock %}
{% endblock %}
