{% block _committee_feed_message_published_row %}
    <div class="committee__message__publish form__checkbox form__checkbox--large">
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
{% endblock %}

{% block _committee_feed_citizen_initiative_message_published_row %}
    <div class="committee__citizen_initiative_message__publish form__checkbox form__checkbox--large">
        {{ form_widget(form) }}
        {{ form_label(form) }}
    </div>
{% endblock %}
