<div id="committee-host-nav" class="committee__host__nav">
    <ul class="list__links list__links--default list__links--row list__links--row-left">
        <li>
            <a href="{{ path('app_committee_manager_edit', {'slug': committee.slug}) }}" class="icon--with-text">
                Gérer le comité →
            </a>
        </li>
    </ul>
</div>
