<h5>Animateurs du comité</h5>
<ul>
    {% for host in committee_hosts %}
    <li class="committee-host text--body text--bold">
        {{ host }}
        {% if app.user.equals(host) %}
            (vous)
        {% else %}
            <a href="{{ path('app_adherent_contact', {'uuid': host.uuid, 'from': 'committee', 'id': committee.uuid.toString}) }}"
               class="link--no-decor text--blue text--normal text--summary">
                Contacter
            </a>
        {% endif %}
    </li>
</ul>
{% if app.user.equals(host) %}
    <a href="{{ path('app_adherent_profile') }}" class="text--summary">Éditer mon compte</a>
{% endif %}

{% endfor %}

<p class="text--summary">
    Pour ajouter ou supprimer des animateurs, dirigez-vous vers la
    <a href="{{ path('app_commitee_manager_list_members', {'slug': committee.slug}) }}">section des membres</a>.
</p>
