{% if committee.isRefused %}
    <span class="label label-danger">Refusé</span>
{% elseif committee.isApproved %}
    <span class="label label-success">Accepté</span>
{% elseif committee.isClosed %}
    <span class="label label-default">Fermé</span>
{% else %}
    <span class="label label-primary">En attente</span>
{% endif %}
