{% extends 'legislatives/layout.html.twig' %}

{% block page_title 'Les événements' %}
{% block canonical_url url('legislatives_events') %}

{% block stylesheets %}
    <style type="text/css">
        body {
            height: 100vh;
            justify-content: flex-start;
        }
    </style>
{% endblock %}
{% block footer '' %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runEventsMap();
        });
    </script>
{% endblock %}

{% block content__outer %}
    <main class="legislatives__map">
        <header class="l__wrapper text--center b__nudge--bottom">
            <h1 class="text--large text--pink">
                Les événements <em>La République En Marche !</em>
            </h1>
        </header>

        <div id="map-config" data-event-type=""></div>
        <div id="map" style="height: 100%; width: 100%;"></div>
    </main>
{% endblock %}
