form[name="app_renaissance_membership"] {
    .form-group {
        input, select {
            font-size: 1rem;
        }
    }
}

.mention-checkbox-container {
    .form__checkbox {
        label {
            flex-grow: 1;
            margin-left: 8px;
            padding: 8px;
        }

        &:not(:disabled) + label:hover {
            border-color: $dark-blue;
        }

        &:checked + label {
            border-color: $dark-blue;
            position: relative;

            &:before {
                content: '✅';
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
        }
    }
}

.cotisation {
    &-checkbox {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked + label {
            .amount-text-label {
                color: var(--green-color);
            }

            svg {
                display: block;
            }

            .active-border {
                border-color: var(--green-color);
                border-width: 2px;
            }
        }

        label {
            svg {
                display: none;
            }
        }
    }
}
