.mention-checkbox-container {
    .form__checkbox {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;

        label {
            flex-grow: 1;
            cursor: pointer;
            margin-left: 8px;
            padding: 8px;
            border: 1px solid lighten($disable-grey, 10%);
            border-left-width: 0;
            border-radius: .5rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover {
                border-color: $white;
            }
        }

        input:checked + label {
            border-color: $dark-blue;
            position: relative;

            &:before {
                content: '✅';
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
        }
    }
}
