.map {
    display: none;

    path {
        fill: #D2DFFB;
        stroke: #1D214F;
        stroke-width: 1px;
        transition: all 0.3s;
    }

    a {
        outline: none;
        border: none;
    }

    .current path {
        fill: #104CC2;
    }

    .invalid path {
        fill: #F00032;
    }

    @media screen and (min-width: 1024px) {
        display: block;
        width: 100%;
        height: auto;
    }
}

.departments-list {
    a {
        transition: all 0.3s;
    }

    a.current {
        background-color: #1254D8;
        border-color: #5D8EF1;

        h4 { color: #fff; }
        p { color: #A2BEF7; }
    }
}
