.proposal-steps {
	padding: 84px 80px 60px;
	background: $snow;

	&__title {
		text-align: center;
	}

	&__container {
		display: flex;
		margin-top: 80px;

		&__step {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;

			&__img {
				margin-bottom: 54px;
			}

			&__number {
				width: 48px;
				height: 48px;
				margin-bottom: 18px;
				border-radius: 50%;
				border: 1px solid $black-bean;
				font-size: 20px;
				font-weight: bold;
				color: $blue;
				line-height: 48px;
				text-align: center;
				background: $white;
			}

			&__text {
				width: 340px;
				text-align: center;
				color: $light-black;
			}
		}

		&__separator {
			border-top: 1px dashed $silver-chalice;
			width: 128px;
			align-self: center;
			margin-bottom: 18%;
		}
	}

	// responsive
	@media #{$tablet} {
		padding: 84px 0 60px;
		flex: initial;
		&__container {
			flex-direction: column;
			&__step {
				&__img {
					margin-bottom: 10px;
				}
			}
			&__separator {
				margin-bottom: 5%;
			}
		}
	}
	@media #{$mobile} {
		padding: 84px 0 60px;
		flex: initial;
		&__container {
			flex-direction: column;
			&__step {
				&__img {
					margin-bottom: 10px;
				}
			}
			&__separator {
				margin-bottom: 5%;
			}
		}
	}
}
