{% block _delete_widget %}
    <div class="text--center">
        {{ form_label(form.text_confirmation) }}
        {{ form_errors(form.text_confirmation) }}
        {{ form_widget(form.text_confirmation) }}
        {{ form_row(form.delete) }}
    </div>
{% endblock %}
