.create-idea-actions {
  display: flex;
  justify-content: space-between;

  .create-idea-actions__delete {
    @extend %reset-button;
    cursor: pointer;
    color: $saphir;
  }

  .create-idea-actions__publish {
    margin-left: 15px;
  }
}
