.second-form {
	overflow-x: hidden;

	&__section {
		margin-bottom: 35px;

		&__title {
			font-size: 26px;
			letter-spacing: -0.5px;
			line-height: normal;
		}

		&__label {
			display: inline-block;
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 16px;

			&__optional {
				font-style: italic;
				font-weight: normal;
				color: $sonic-silver;
			}
		}

		&__mentions {
			display: flex;
			align-items: center;

			&--no-error {
				margin-bottom: 35px;
			}

			&__checkbox {
				display: block;
				position: relative;
				padding-left: 30px;
				margin-bottom: 30px;
				cursor: pointer;
				&__input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}

				&__checkmark {
					position: absolute;
					top: 0;
					left: 0;
					height: 30px;
					width: 30px;
					background-color: $platinum;
					> img {
						display: none;
					}
				}
			}

			&__checkbox:hover &__checkbox__input ~ &__checkbox__checkmark {
				background-color: #ccc;
			}

			&__checkbox &__checkbox__input:checked ~ &__checkbox__checkmark {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $caribbean-green;
				> img {
					display: inline-block;
					width: 16px;
					height: 16px;
				}
			}

			&__text {
				margin-left: 10px;
				font-size: 14px;

				&__link {
					border: 0;
					color: $saphir;
					text-decoration: none;
				}
			}
		}

		&__mentions--error {
			margin-top: 5px;
			margin-bottom: 35px;
			font-size: 12px;
			color: $giants-orange;
		}

		&__text {
			text-align: justify;
			font-size: 12px;
			color: $medium-grey;
		}
	}

	&__button {
		cursor: pointer;
		width: 100%;
		height: 60px;
		font-size: 17px;
		letter-spacing: 1.5;
		margin-bottom: 10px;
	}

	&__error {
		text-align: center;
		margin: 5px 0 0;
		font-size: 12px;
		color: $giants-orange;
	}
}
