<a href="{{ path('admin_app_jecoute_datasurvey_list', {filter: {survey: {value: object.id}}}) }}" class="btn btn-sm btn-default view_link"
   title="Voir les résultats" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-bar-chart" aria-hidden="true"></i>
    Voir les résultats
</a>
