.avatar-initials {
    font-family: $font-gillsans;
    font-weight: bold;
    font-style: italic;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        height: 100%;
    }
}

.avatar {
    // size
    &--small {
        width: 48px;
        height: 48px;
        font-size: 16px;
    }

    &--medium {
        width: 66px;
        height: 66px;
        font-size: 22px;
    }

    &--large {
        width: 90px;
        height: 90px;
        font-size: 30px;
    }

    // style
    &--style-01 {
        background-color: $gray--lighter;
        color: $blue;
    }

    &--style-02 {
        background-color: $pink;
        color: $white;
    }
}
