@mixin btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 18px;
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 4px;
    @include text--small;
    transition: all 0.45s;
    box-sizing: border-box;
    font-family: $font-roboto;

    &:hover {
        background: black;
        color: white;
        transform: translateY(-1px);
    }

    &:disabled,
    &:disabled:hover {
        opacity: 0.7;
        background: $gray--light;
        color: $black--half;
        border-color: $gray;
        cursor: not-allowed;
    }

    &--smaller {
        padding: 5px 15px;
        @include text--small;
    }

    &--light {
        color: $dark;
        border: 1px solid $gray--light;
        background-color: white;

        &:hover {
            background: white;
            border-color: $newblue;
            color: $newblue;
        }
    }

    &--brick {
        background: $brick;
        color: white;
        border: 1px solid $brick;
    }

    &--brick-hollow {
        border-color: $brick;
        color: $brick;

        &:hover {
            border-color: $brick;
            background: $brick;
            color: white;
        }
    }

    // used for the board member area
    // &--green {
    //     background-color: $newgreen;
    //     color: white;
    //     border-color: $newgreen;
    //
    //     &:hover {
    //         background-color: $error;
    //         border-color: $error;
    //         color: white;
    //     }
    // }
}

@mixin btn--primary {
    color: white;
    background-color: $pink;
    border-color: $pink;

    &:hover {
        background-color: $pink-hover;
        border-color: $pink-hover;
    }
}

@mixin btn--green {
    background: $green;
    border-color: $green;

    &:hover {
        color: black;
        background: $green-hover;
        border-color: $green-hover;
    }
}

@mixin btn--dark {
    color: white;
    background: $dark;
    border-color: $dark;

    &:hover {
        background: $darker;
        border-color: $darker;
    }
}

@mixin btn--muted {
    color: $darker;
    background: $gray--light;
    border-color: $gray--light;

    &:hover {
        color: $darker;
        background: $gray;
        border-color: $gray;
    }
}

@mixin btn--yellow {
    background: $yellow;
    border-color: $yellow;

    &:hover {
        color: black;
        background: $yellow-hover;
        border-color: $yellow-hover;
    }
}

@mixin btn--black {
    color: white;
    background: black;
    border-color: black;

    &:hover {
        color: white;
        background: $gray--dark;
        border-color: $gray--dark;
    }
}

@mixin btn--blue {
    color: white;
    background: $blue;
    border-color: $blue;

    &:hover {
        background-color: $blue-hover;
        border-color: $blue-hover;
    }
}

@mixin btn--error {
    color: white;
    background: $error;
    border-color: $error;
}

@mixin btn--success {
    color: white;
    background: $success;
    border-color: $success;
}

.btn {
    @include btn;

    &--small {
        font-size: $text--size-smallest;
        padding: 2px 10px;
    }

    &--medium {
        font-size: $text--size-medium--small;
    }

    &--large-and-medium {
        @include text--medium-small;
        max-width: 300px;
        width: 100%;
        height: 75px;
    }

    &--large {
        padding: 0 25px;
        font-size: $text--size-large;
        height: 70px;

        @media(max-width: $mobile) {
          padding: 0 18px;
          font-size: $text--size-medium--small;
          height: 50px;
        }
    }

    &--no-border {
        border-color: white;

        &:hover {
            border-color: black;
        }
    }

    &--no-wrap {
        white-space: nowrap;
    }

    &--full {
        margin: 0;
        width: 100%;
    }

    &--inline {
        display: inline-table;
    }

    &--primary {
        @include btn--primary;
    }

    &--green {
        @include btn--green;
    }

    &--blue {
        @include btn--blue;
    }

    &--muted {
        @include btn--muted;
    }

    &--text-blue {
        color: $blue;
    }

    &--black {
        @include btn--black;
    }

    &--hollow {
        background: transparent;
        color: white;
        border-color: white;

        &:hover {
            background: black;
        }
    }

    &--error {
        @include btn--error;

        &__icon {
            font-size: 0;
            letter-spacing: 0;

            &:before {
                font-family: FontAwesome;
                content: "\f00d";
                font-size: $text--size-medium--small;
            }
        }
    }

    &--success {
        @include btn--success;

        &__icon {
            font-size: 0;
            letter-spacing: 0;

            &:before {
                font-family: FontAwesome;
                content: "\f00c";
                font-size: $text--size-medium--small;
            }
        }
    }

    &--social {
        font-size: $text--size-smallest;
        font-family: $font-roboto;

        i {
            margin-right: 7px;
        }
    }

    &--facebook {
        background: $facebook;
        border-color: $facebook;
        color: white;
    }

    &--twitter {
        background: $twitter;
        border-color: $twitter;
        color: white;
    }

    &--google_plus {
        background: $google;
        border-color: $google;
        color: white;
    }

    &--instagram {
        background: $instagram;
        border-color: $instagram;
        color: white;
    }

    &--email {
        background: $gray;
        border-color: $gray;
        color: white;
    }

    &__icon {
        border: none;

        &:hover {
            path {
                stroke: rgba(0,0,0,.4);
            }
        }

        &--dark {
            &:hover {
                path {
                    stroke: white;
                }
            }
        }
    }

    &--disabled {
        border-color: #c9c9c9;
        color: #999;

        &:hover {
            cursor: default;
            background: #fff;
            transition: 0s;
            border-color: #c9c9c9;
            color: #999;
        }
    }
}

button.btn {
    display: inline-block;
    padding: 10px 15px 9px;
}
