.card {
    border: 0;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    text-decoration: none;

    &:hover {
        h2 {
            color: $black--half;
        }

        .outer {
            fill: rgba(0, 0, 0, 0);
            stroke: #fff;
        }

        .inner {
            fill: #fff;
        }
    }

    .share {
        color: $gray;
        font-family: $font-roboto;
        font-size: $text--size-smallest;
        padding: 0 10px;
        text-transform: uppercase;

        .fa {
            font-size: $text--size-medium--small;
            margin-left: 5px;
            cursor: pointer;

            &-facebook-square:hover {
                color: $facebook;
            }

            &-twitter:hover {
                color: $twitter;
            }
        }
    }

    &__background {
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &--large {
        color: white;
        flex: 2;
        margin: 0;
        padding: 30px;
        top: 0;
        left: 0;
        position: relative;

        &:hover {
            color: white;

            h2 {
                color: white;
            }
        }

        h2 {
            @include text--large;
            font-style: italic;
            text-decoration: none;
            width: 50%;
        }

        p {
            width: 40%;
        }

        .background {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            .content {
                z-index: 1;
            }
        }

        &:before {
            @include animate-gradient($gradient, 1);
        }

        &:after {
            @include animate-gradient($gradient-hover, 0);
        }

        &:hover {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }

        @media (max-width: $tablet) {
            color: black;
            margin-bottom: 20px;
            padding: 0;

            &:hover {
                color: $black--half;

                h2,
                p {
                    color: $black--half
                }
            }

            .content {
                border: none;
                padding-top: 15px;

                h2 {
                    width: 100%;
                    @include text--medium-large;
                }

                p {
                    width: 100%;
                }
            }

            &:before,
            &:after {
                display: none;
            }

            .background {
                height: 450px;
            }

            .background-container {
                border: 0;
            }
        }

        @media (max-width: $tablet - 200px) {
            .background {
                height: 350px;
            }
        }

        @media (max-width: $mobile + 100px) {
            .background {
                height: 300px;
            }
        }

        @media (max-width: $mobile - 100) {
            .background {
                height: 250px;
            }
        }

        @media (max-width: $mobile - 200) {
            .background {
                height: 200px;
            }
        }
    }

    &--large-secondary {
        color: white;
        flex-basis: auto;
        flex-grow: 2;
        margin: 0;
        padding: 30px;
        top: 0;
        left: 0;
        position: relative;

        &:hover {
            color: white;

            h2 {
                color: white;
            }
        }

        .background {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            .content {
                z-index: 1;
            }
        }

        &:before {
            @include animate-gradient($gradient, 1);
        }

        &:after {
            @include animate-gradient($gradient-hover, 0);
        }

        &:hover {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }

    &--content {
      width: 32%;
    }

    &--1,
    &--2,
    &--5,
    &--6 {
        width: 24%;

        &--article {
            .csv,
            .cm,
            .cmv {
                display: none;
            }
        }

        &--video {
            .cs,
            .cm,
            .cmv {
                display: none;
            }
        }
    }

    &--3,
    &--4 {
        width: 49%;

        &--article {
            .cs,
            .csv,
            .cmv {
                display: none;
            }
        }

        &--video {
            .cs,
            .csv,
            .cm {
                display: none;
            }
        }
    }

    .card--small {
        h2 {
            @include text--medium;
            font-weight: normal;
            padding: 10px;
        }

        &:hover {
            .background-container {
                &:after {
                    opacity: 1;
                }
            }
        }

        .background-container {
            @include gradient-container;
            border: 0;

            &:after {
                @include animate-gradient($gradient--light, 0);
            }

            .background {
                height: 200px;
                display: flex;
                justify-content: center;

                .play-icon {
                    content: $play-icon;
                    z-index: 1;
                }
            }
        }

        &__video {
            &:hover {
                .background-container {
                    &:before {
                        opacity: 0;
                    }

                    &:after {
                        opacity: 1;
                    }
                }
            }

            .background-container {
                &:before {
                    @include animate-gradient($gradient, 1);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &:after {
                    background: $gradient-hover;
                    opacity: 0;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }

    .card--medium {
        h2 {
            @include text--large;
            font-style: italic;
            color: white;
        }

        a {
            transition: none;
        }

        .background-container {
            @include gradient-container;

            .background {
                height: 350px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;

                .content {
                    z-index: 1;
                    padding: 22px 20px;
                }
            }

            &:before {
                @include animate-gradient($gradient, 1);
            }

            &:after {
                @include animate-gradient($gradient-hover, 0);
            }

            &:hover {
                &:before {
                    opacity: 0;
                }
                &:after {
                    opacity: 1;
                }
            }
        }

        &__video {
            .share {
                color: white;
            }

            .headline-row {
                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .headline {
                    margin: 0;
                }

                .play {
                    margin-right: 20px;
                    content: $play-icon;
                }
            }
        }
    }

    @media (max-width: $tablet + 100px) {
        .card--small {
            .background-container
            .background {
                height: 160px;
            }
        }

        .card--medium {
            .background-container
            .background {
                height: 280px;
            }
        }
    }

    @media (max-width: $tablet) {

        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            width: 32%;

            &--article {
                .cs {
                    display: block;
                }

                .csv,
                .cm,
                .cmv {
                    display: none;
                }
            }

            &--video {
                .csv {
                    display: block;
                }

                .cs,
                .cm,
                .cmv {
                    display: none;
                }
            }
        }
    }

    @media (max-width: $tablet - 180px) {
        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            width: 48.5%;
        }
    }

    @media (max-width: $mobile) {
        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6,
        &--content {
            width: 100%;
            margin: 0;
            padding: 20px 0;
            display: flex;
            border-bottom: 1px solid $gray--light;

            &:first-child {
                padding: 0 0 20px;
            }

            &--article {
                .cs {
                    display: flex;
                }
            }

            &--video {
                .csv {
                    display: flex;
                }
            }
        }

        .card--small {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .background-container {
                width: 30%;

                .background {
                    height: 80px;

                    .play-icon {
                        content: $play-icon--small;
                    }
                }
            }

            .headline {
                margin-left: 3%;
                width: 67%;

                h2 {
                    @include text--default;
                    font-family: $font-roboto;
                    padding: 0;
                }
            }

            .share {
                display: none;
            }

            &__video {
                &:hover {
                    .background-container:after {
                        background: $gradient-hover;
                        background-repeat: no-repeat;
                        background-position: center;
                   }
                }

                .background-container {
                    &:after {
                        background: $gradient;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }

    &--no-gradient {
        &, .background-container {
            &:before, &:after, &:hover:before, &:hover:after {
                opacity: 0 !important;
            }
        }
    }
}

.boxes {
    width: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0;
    @media (max-width: $tablet) {
        justify-content: flex-start !important;
    }

    .box {
        background: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        height: 270px;
        justify-content: space-between;
        margin: 0 10px;
        min-width: 265px;
        padding: 20px;
        width: 265px;

        h2,
        p {
            white-space: normal;
        }

        .btn {
            align-self: flex-start;
        }
    }
}

.bandeau {
    ul {
        @include wrapper--slim;
        display: flex;
        justify-content: space-between;
        @include text--medium;
        font-family: $font-roboto;
        font-weight: bold;
        font-size: 22px;
        padding: 15px 0;
        color: white;

        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }

    a {
        border: 0;
    }

    li {
        width: 28%;
        border-left: 1px solid black;
        padding: 7px 15px;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &--wide {
        ul {
            @include wrapper--medium;
        }
    }

    &--one {
        li {
            width: 100%;
            padding: 15px;
        }

        div {
            @include text--body;
            font-weight: normal;
        }
    }

    &--green {
        background-color: $green;
    }

    &--blue {
        background-color: $blue;

        li {
            border-color: white;
        }
    }

    &--yellow {
        background-color: $yellow;
    }

    &--pink {
        background-color: $pink;

        a {
            @include link--white;
        }

        li {
            border-color: white;
        }
    }

}

.em-card {
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: $white;
    border: 1px solid $lines-grey;
    padding: 30px;
}
