@mixin em-form-label {
    display: block;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: $black;
    margin-bottom: 10px;

    .em-form__required {
        color: $red--nation;
    }
}

@mixin em-form-field {
    display: block;
    box-sizing: border-box;
    font-family: $font-roboto;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    padding: 0 12px;
    color: $black;
    margin: 0;
    height: 60px;
    border-radius: 3px;
    border: solid 1px $lines-grey;
    background-color: $white;
    outline: 0;
    transition: border 0.2s;
    -webkit-transition: border 0.2s;

    &::placeholder {
        color: $neutral-grey;
        font-weight: normal;
    }

    &:hover {
        border-color: $lines-hover-grey;
    }

    &:focus {
        border-color: $blue--dark;
    }

    &:disabled {
        background-color: $pale-grey;
        color: $silver-grey;
        cursor: not-allowed;

        &:hover {
            border-color: $lines-grey;
        }
    }
}

@mixin em-form-legend {
    color: $neutral-grey;
    font-family: $font-roboto;
    margin: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: normal;
}

@mixin em-form-error {
    color: $error;
    font-family: $font-roboto;
    margin: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: normal;

    & a {
        color: $error;
        border-color: $error;
    }
}

@mixin em-form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $white url('/images/icons/icn-form-select.svg') no-repeat right 10px center;
    cursor: pointer;
}

@mixin em-form-search {
    background: $white url('/images/icons/icn-form-search.svg') no-repeat left 10px center;
    padding-left: 45px;
}

@mixin em-form-textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 60px;
    line-height: 24px;
    color: $dark;
}

@mixin em-form-chars-count {
    position: absolute;
    right: 1px;
    bottom: 1px;
    color: $neutral-grey;
    line-height: 19px;
    font-family: $font-roboto;
    font-size: 13px;
    padding: 15px;
    pointer-events: none;
}

@mixin em-form-checkbox {
    input[type='checkbox'] {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            border-color: $blue--dark;
            background: $blue--dark;
            content: $checkbox__mark;
        }

        &:disabled + label {
            cursor: not-allowed;

            &:before {
                background-color: $pale-grey;

                &:hover {
                    border-color: $lines-grey;
                }
            }
        }
    }
}

@mixin em-form-radio {
    input[type='radio'] {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            box-sizing: border-box;
            border: 8px solid $blue--dark;
            background: $white;
            content: '';
        }

        &:disabled + label {
            cursor: not-allowed;

            &:before {
                background-color: $pale-grey;

                &:hover {
                    border-color: $lines-grey;
                }
            }
        }
    }

    label {
        &:before {
            border-radius: 50px;
        }
    }
}

@mixin em-form-autocomplete {
    background: white;
    margin-left: 5px;
    border: solid 1px $lines-grey;
    padding: 8px 0;

    li {
        padding: 0 8px;

        a {
            font-family: $font-roboto;
            font-size: 16px;
            color: $dark;
            cursor: pointer;
            border: 0;
            padding: 8px 10px;
            border-radius: 3px;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;

            &:hover {
                background: $gray--lighter;
            }
        }
    }
}

.em-form {

    .em-form__section {
        padding-bottom: 30px;
    }

    .em-form__group {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $dark;

        .em-form__field--ctn { position: relative; }

        .em-form__field { @include em-form-field;}
        textarea.em-form__field { @include em-form-textarea; }
        select.em-form__field { @include em-form-select; }
        .em-form__search { @include em-form-search; }

        .em-form__label { @include em-form-label; }
        .em-form__legend { @include em-form-legend; }
        .em-form--error { @include em-form-error; }

        .character-count { @include em-form-chars-count; }

        .em-form__file {
            font-family: $font-roboto;
            position: relative;
            height: 140px;
            border: dashed 1px $lines-grey;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input[type='file'] {
                position: absolute;
                z-index: -1;
                opacity: 0;
                transition: border 0.2s;
                -webkit-transition: border 0.2s;
            }

            &--label {
                font-size: 16px;
                transition: border 0.2s;
                -webkit-transition: border 0.2s;
                margin-bottom: 5px;
                cursor: pointer;

                &:hover {
                    color: rgba(0, 0, 0, 0.4);
                }
            }

            .em-form__file--name {
                font-size: 12px;
                line-height: normal;
                color: $neutral-grey;
            }
        }

        &.em-form__type-and-select {
            margin-bottom: 45px;

            .type-and-select {
                &__tags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    min-height: 39px;
                    margin-top: 12px;
                }

                &__item {
                    display: inline-block;
                    position: relative;
                    box-sizing: border-box;
                    height: 34px;
                    background-color: $inf-modl--bkg-blue;
                    padding: 0 35px 0 15px;
                    border-radius: 50px;
                    margin: 0 5px 5px 0;

                    &--value {
                        display: block;
                        font-family: $font-roboto;
                        line-height: 34px;
                        color: $inf-modl--text-blue;
                        font-size: 15px;
                    }

                    &--remove {
                        display: block;
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        line-height: 0;
                        opacity: 0.5;
                        cursor: pointer;
                        padding: 3px;
                        transition: all 0.2s ease;

                        &:hover {
                            opacity: 1;
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }


        &--cgu {
            .form__checkbox {
                margin-bottom: 0;
            }
        }

        .em-form__cgu {
            color: $neutral-grey;
            display: block;
            font-family: $font-roboto;
            font-size: 12px;
            text-align: justify;
            line-height: normal;

            a {
                border: none;
            }
        }

        &.em-form__radio--inline {
            .form__radio {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 20px;
            }
        }

        &.em-form__checkbox--inline {
            .form__checkbox {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 20px;
            }
        }

        .checkb-cols {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            &__col {
                flex-grow: 1;
                flex-basis: 100%;

                @media (min-width: $mobile) {
                    flex-basis: calc(50% - 10px);
                    margin-right: 10px;
                }


                .form__checkbox {
                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .em-form__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media (min-width: $mobile) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .em-form__group {
            flex-basis: 100%;
            margin-right: 0;

            @media (min-width: $mobile) {
                margin-right: 15px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .em-form__width {
            &--1 { flex-grow: 1; }
            &--2 { flex-grow: 2; }
            &--3 { flex-grow: 3; }
        }
    }

    .em-form__action-container {
        display: flex;
        flex-direction: row;
        font-size: 0;

        margin-top: 10px;
        margin-bottom: 20px;

        @media (min-width: $mobile) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .em-form__action {
            display: inline-flex;
            width: 100%;
            height: 60px;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: solid 1px $lines-grey;
            box-sizing: border-box;
            font-size: 12px;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border-color: $black;
                color: $black;
            }

            &--remove {
                color: $status-red;

                &:hover {
                    border-color: $status-red;
                    color: $status-red;
                }
            }

            @media (min-width: $mobile) {
                width: 60px;
                margin-right: 0;
                margin-left: 5px;
            }
        }
    }

    //Checkbox & radio base preset
    .form__checkbox,
    .form__radio {
        display: block;
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;

        label {
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            line-height: 22px;
            font-family: $font-roboto;
            padding-left: 34px;
            margin: 0;

            &:before {
                box-sizing: border-box;
                content: ' ';
                width: 22px;
                height: 22px;
                min-width: 22px;
                min-height: 22px;
                margin-right: 15px;
                background: $white;
                border: 2px solid $lines-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1px;
                left: 0;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
            }

            .label-with-link {
                a {
                    text-decoration: none;
                    border: none;
                }
            }
        }

        &:hover {
            > label:before {
                border-color: $blue--dark;
            }
        }
    }

    // Checkbox style
    .form__checkbox {
        @include em-form-checkbox;
    }

    // Radio style
    .form__radio {
        @include em-form-radio;
    }
}

ul.em-form__autocomplete.ui-autocomplete {
    @include em-form-autocomplete;
}

// Switcher
.em-switch {
    &__wrapper {
        display: inline-flex;
        align-items: center;
        font-size: 0;
    }

    &__toggle {
        position: relative;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 44px;
        height: 22px;
        line-height: 20px;
        padding: 0;
        vertical-align: middle;
        border-radius: 20px 20px;
        border: none;
        outline: 0;
        background-color: $gray--light;
        cursor: pointer;
        -webkit-transition: all .3s cubic-bezier(.35,0,.25,1);
        -o-transition: all .3s cubic-bezier(.35,0,.25,1);
        transition: all .3s cubic-bezier(.35,0,.25,1);

        &:after {
            position: absolute;
            width: 18px;
            height: 18px;
            left: 2px;
            top: 2px;
            border-radius: 50% 50%;
            background-color: #a3a8ae;
            content: " ";
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        }

        &.checked {
            background-color: $blue--dark;

            &:after {
                background-color: #fff;
                right: 2px;
                left: auto;
            }
        }
    }

    &__label {
        color: $dark;
        font-family: $font-roboto;
        font-size: 16px;
        margin-left: 15px;
        line-height: 30px;
    }

    &__wrapper.disabled {

        .em-switch__toggle {
            cursor: not-allowed;
        }

        .em-switch__label {
            color: $neutral-grey;
        }
    }
}
