@mixin form__checkbox--large {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 15px;
    border-width: 2px;
}

label {
    @include text--small;
    margin-bottom: 2px;
}

.form {
    &__label {
        font-family: $font-roboto;
    }

    &__field {
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 3px;
        border: solid 1px $gray--light;
        height: 41px;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: $text--size-small;
        font-family: $font-roboto;
        @media (max-width: $tablet) {
            margin: 5px 10px 5px 0;
        }

        &--no-border {
            border: none;
        }

        &--textarea-120 {
            height: 120px;
            padding: 12px;
        }

        &--textarea-300 {
            height: 200px;
            padding: 12px;
        }

        &--textarea-500 {
            height: 500px;
            padding: 12px;
        }

        &--no-margin {
            margin: 0;
        }
    }

    &__errors {
        @include text--small;
        font-family: $font-roboto;
        margin-bottom: 10px;

        li {
            list-style-type: none !important;
            padding: 2px 0 0;
            width: 95%;
        }
    }

    &__email {
        width: 290px;
        @media (max-width: $tablet) {
            flex-grow: 2;
        }
        @media (max-width: $mobile) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__skills {
        width: 500px;
        @media (max-width: $tablet) {
            width: 100%;
        }
    }

    &__zipcode {
        width: 110px;
        @media (max-width: $tablet) {
            flex-grow: 1;
        }
    }

    &__row {
        margin-bottom: 15px;
        width: 100%;

        label {
            font-family: $font-roboto;

            &.form__label--header {
                @include text--medium-small;
                font-family: $font-gillsans;
                font-weight: bold;

                span {
                    font-weight: normal;
                    color: $gray--muted;
                }
            }
        }

        &--stretch {
            display: flex;
            justify-content: space-between;
        }

        #app_donation_gender {
            .form {
                font-family: $font-roboto;
            }

            label {
                margin: 0 25px 0 5px;
            }
        }

        &__checkbox {
            text-align: left;
        }
    }

    &__error {
        color: $error;
    }

    &__textbox {
        @include text--default;
        width: 100%;
        height: 100px;
        padding: 10px 15px;
    }

    &__word {
        color: $error;

        label {
            @include text--medium-small;
            font-weight: bold;
            font-family: $font-gillsans;
        }

        input {
            width: 100%;
            display: block;
            @include text--default;
            margin-top: 15px;
            padding: 10px 15px;
            margin-bottom: 40px;
        }
    }

    &--full {
        width: 100%;
    }

    &--mid {
        width: 49%;
        margin: 0;
    }

    &--third {
        width: 32%;
        margin: 0;
    }

    &--warning {
        background: #edf861;
        margin: 30px 0;
        padding: 10px;
        color: #ff3680;
        font-size: 16px;
        line-height: 1em;
    }

    &__radio-button {
        label {
            display: flex;
            align-items: center;
            margin: 5px 0;

            &:before {
                content: ' ';
                width: 20px;
                height: 20px;
                min-width: 20px;
                min-height: 20px;
                border-radius: 50px;
                margin-right: 10px;
                transition: all 0.2s;
                background: $gray--light;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }
        }

        input[type='radio'] {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + label:before {
                border-color: $blue;
                background: white;
            }
        }
    }

    &__radio-button--tab {
        label {
            border-top: 1px solid $gray--light;
            border-left: 1px solid $gray--light;
            border-bottom: 1px solid $gray--light;
            background: white;
            display: inline-block;
            padding: 10px 20px;
            transition: all 0.2s;
            @include text--body;
            cursor: pointer;

            &:hover {
                background-color: $gray--lighter;
            }
            &.label--small {
                padding: 5px 9px;
            }
        }

        &:first-child label {
            border-radius: 3px 0 0 3px;
        }

        &:last-child label {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid $gray--light;
        }

        input[type='radio'] {
            position: absolute;
            left: -50%;
            top: 50%;
            width: 22px;
            height: 22px;
            margin: -11px 0 0 -9px;
            outline: 0;
            z-index: 1;

            &:checked + label {
                background-color: $blue--dark;
                color: white;
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        position: relative;

        &--col {
            width: 25%;

            @media (max-width: $mobile) {
                width: 50%;
            }
        }

        label {
            display: flex;
            align-items: center;
            margin: 7px 0;
            text-align: left;

            &:before {
                content: ' ';
                width: 20px;
                height: 20px;
                min-width: 20px;
                min-height: 20px;
                margin-right: 15px;
                transition: all 0.2s;
                background: $white;
                border: 1px solid #c9d4e4;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
            }
        }

        &--medium .form__label {
            @include text--default;
        }

        &--large label:before {
            @include form__checkbox--large;
        }

        &:hover {
            label:before {
                background: $gray;
            }
        }

        input[type='checkbox'] {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + label:before {
                border-color: $blue--dark;
                background: $blue--dark;
                content: $checkbox__mark;
            }
        }
    }

    &__info {
        padding-top: 15px;
        color: $black--half;
    }

    &__radio {
        display: flex;
        align-items: center;
        position: relative;

        &--col {
            width: 25%;

            @media (max-width: $mobile) {
                width: 50%;
            }
        }

        label {
            display: flex;
            align-items: center;
            margin: 5px 7px 5px 0;

            text-align: left;

            &:before {
                content: ' ';
                width: 20px;
                height: 20px;
                min-width: 20px;
                min-height: 20px;
                margin-right: 5px;
                transition: all 0.2s;
                background: $gray--light;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--medium .form__label {
            @include text--default;
        }

        &--large label:before {
            @include form__checkbox--large;
        }

        &:hover {
            label:before {
                background: $gray;
            }
        }

        input[type='radio'] {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + label:before {
                border-color: $blue--dark;
                background: $blue--dark;
                content: $checkbox__mark;
            }
        }
    }
}

.newsletter {
    @media (max-width: $tablet) {
        form {
            width: 100%;
        }

        .text--uppercase {
            text-align: center;
        }
    }

    @media (max-width: $mobile) {
        button {
            width: 100%;
            margin-top: 5px;
        }

        input {
            margin-right: 0;
        }
    }

    .form {
        &__zipcode {
            width: 150px;
        }
    }
}

.newsletter-page,
.invitation-page {
    margin: 20px 0 100px 0;

    &__form {
        margin-top: 20px;
    }
}

.newsletter-result,
.invitation-result {
    margin: 80px 0 100px 0;
    text-align: center;
}

.security,
.login,
.forgot-password,
.reset-password {
    &--box {
        margin: 20px auto 0;
        background-color: white;

        &--separator {
            border-top: 2px solid black;

            &--text {
                width: 20%;
                position: relative;
                top: -12px;
                margin: 0 auto;
                background-color: white;
            }
        }
    }

    margin: 50px 0 100px 0;
    text-align: center;

    &__form {
        margin-top: 25px;
    }

    &__error {
        margin-bottom: 20px;
    }

    &__separator {
        margin: 50px 0 10px 0;
        border-top: 1px solid $gray--light;

        &__text {
            width: 55%;
            position: relative;
            top: -12px;
            margin: 0 auto;
            background-color: white;
        }
    }
}

.address {
    &__postal-code--loading {
        background: url('/images/loader-sm.gif') no-repeat 93% 50%;
    }
}

.flash {
    &--info {
        background-color: $yellow;
    }

    &--error {
        background-color: $pink--light;
    }

    &__inner {
        @include wrapper;
        padding: 20px 0;
        font-family: $font-roboto;
        text-align: center;
    }
}

input[type='date']::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.select__styled {
    width: 285px;
    height: 50px;
    position: relative;

    &:before {
        content: $caret--down;
        top: 14px;
        right: 20px;
        position: absolute;
        z-index: 1;
    }

    &--inner {
        position: absolute;
        font-size: $text--size-default;
        width: 285px;
        -webkit-appearance: inherit;
        border-radius: 0;
        color: rgba(black, 0.5);
        padding: 15px 20px;
        border: 0;
        border-bottom: 1px solid $gray--light;
    }
}

.form__new {
    @include text--default;
    font-family: $font-roboto;
    padding: 0;
    text-align: left;

    label,
    legend {
        @include text--default;

        &.label__header {
            margin-bottom: 3px;
            display: inline-block;
            font-weight: bold;
        }
    }

    input,
    textarea {
        @include text--default;
        font-family: $font-roboto;
        border-radius: 3px;
        border: solid 1px $gray--light;
        width: 100%;
        height: auto;
        padding: 10px 15px;
        box-sizing: border-box;

        &:disabled {
            background: $gray--lighter;
        }

        &:focus {
            outline: none;
            border-color: $blue--dark;
        }
    }

    textarea {
        height: 150px;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 20px;

        &.form--split {
            margin-bottom: 0;

            ul {
                display: flex;
                justify-content: space-between;

                > li {
                    width: 48%;
                }
            }
        }
    }

    &__forgotten-pw {
        @include text--small;
        display: inline-block;
        margin: 10px 0 0 0;
    }

    &__checkbox {
        > div {
            display: flex;
            align-items: flex-start;
        }

        input[type='checkbox'] {
            width: 60px;
        }

        label {
            order: 2;
            @include text--small;
        }
    }
}

.form__new {
    @include text--default;
    font-family: $font-roboto;
    padding: 0;
    text-align: left;
    position: relative;

    label,
    legend {
        @include text--default;

        &.label__header {
            margin-bottom: 3px;
            display: inline-block;
            font-weight: bold;
        }

        &.label__header--small {
            font-family: $font-roboto;
            @include text--small;
        }

        &.label__header--large {
            font-family: $font-gillsans;
            @include text--medium-small;
            margin-bottom: 8px;
            font-weight: bold;
            display: inline-block;

            span {
                color: $gray;
                font-style: italic;
                font-weight: normal;
                font-family: $font-roboto;
                @include text--default;
            }
        }

        &.label__header--image {
            display: inline-block;
            @include text--medium-small;
            color: $blue--dark;
            font-weight: bold;
            top: 38px;
            position: relative;
            z-index: 100;
            width: 100%;
            text-align: center;
        }
    }

    .character-count {
        margin-top: -40px;
        position: absolute;
        right: 20px;
    }

    input,
    textarea,
    select {
        @include text--default;
        font-family: $font-roboto;
        border-radius: 3px;
        border: solid 1px $gray--light;
        width: 100%;
        height: auto;
        padding: 10px 15px;
        box-sizing: border-box;

        &:disabled {
            background: $gray--lighter;
        }

        &:focus {
            outline: none;
            border-color: $blue--dark;
        }
    }

    textarea {
        height: 150px;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        margin-bottom: 20px;

        &.form--split {
            margin-bottom: 0;

            ul {
                display: flex;
                justify-content: space-between;

                > li {
                    width: 48%;
                }
            }
        }
    }

    &__forgotten-pw {
        @include text--small;
        display: inline-block;
        margin: 10px 0 0 0;
    }

    &__checkbox {
        > div {
            display: flex;
            align-items: flex-start;
        }

        input[type='checkbox'] {
            width: 20px;
            flex: none;
        }

        label {
            order: 2;
        }
    }
}
