@mixin em-form-label {
    display: block;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: $black;
    margin-bottom: 10px;

    .em-form__required {
        color: $red--nation;
    }
}

@mixin em-form-field {
    display: block;
    box-sizing: border-box;
    font-family: $font-roboto;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    padding-left: 12px;
    color: $black;
    margin: 0;
    height: 60px;
    border-radius: 3px;
    border: solid 1px $lines-grey;
    background-color: $white;
    outline: 0;
    transition: border 0.2s;
    -webkit-transition: border 0.2s;

    &::placeholder {
        color: $neutral-grey;
        font-weight: normal;
    }

    &:hover {
        border-color: $lines-hover-grey;
    }

    &:focus {
        border-color: $blue--dark;
    }

    &:disabled {
        background-color: $pale-grey;
        color: $silver-grey;
        cursor: default;

        &:hover {
            border-color: $lines-grey;
        }
    }
}

@mixin em-form-legend {
    color: $neutral-grey;
    font-family: $font-roboto;
    margin: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 14px;
}

@mixin em-form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/images/icons/icn-form-select.svg') no-repeat right 10px center;
    cursor: pointer;
}

@mixin em-form-textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 60px;
    line-height: 24px;
    color: $dark;
}

@mixin em-form-chars-count {
    position: absolute;
    right: 1px;
    bottom: 1px;
    color: $neutral-grey;
    line-height: 19px;
    font-family: $font-roboto;
    font-size: 13px;
    padding: 15px;
    pointer-events: none;
}

@mixin em-form-checkbox {
    input[type='checkbox'] {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            border-color: $blue--dark;
            background: $blue--dark;
            content: $checkbox__mark;
        }
    }
}

@mixin em-form-radio {
    input[type='radio'] {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked + label:before {
            box-sizing: border-box;
            border: 8px solid $blue--dark;
            background: $white;
            content: '';

        }
    }

    label {
        &:before {
            border-radius: 50px;
        }
    }
}

.em-form {

    &__section { padding-bottom: 30px; }

    &__group {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $dark;

        .em-form__field--ctn { position: relative; }

        .em-form__field { @include em-form-field;}
        textarea.em-form__field { @include em-form-textarea; }
        select.em-form__field { @include em-form-select; }

        .em-form__label { @include em-form-label; }
        .em-form__legend { @include em-form-legend; }

        .character-count { @include em-form-chars-count; }

        .em-form__file {
            font-family: $font-roboto;
            position: relative;
            height: 140px;
            border: dashed 1px $lines-grey;
            width: 100%;

            input[type='file'] {
                position: absolute;
                z-index: -1;
                opacity: 0;
                transition: border 0.2s;
                -webkit-transition: border 0.2s;
            }

            &--area {

            }

            &--label {
                position: absolute;
                font-size: 16px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transition: border 0.2s;
                -webkit-transition: border 0.2s;
                cursor: pointer;

                &:hover {
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }

        .em-form__cgu {
            color: $neutral-grey;
            display: block;
            font-family: $font-roboto;
            margin: 0;
            font-size: 12px;
            text-align: justify;
            line-height: normal;

            a {
                color: $blue--dark;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media (min-width: $mobile) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .em-form__group {
            flex-basis: 0;
            margin-right: 0;

            @media (min-width: $mobile) {
                margin-right: 15px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .em-form__width {
            &--1 { flex-grow: 1; }
            &--2 { flex-grow: 2; }
            &--3 { flex-grow: 3; }
        }
    }

    //Checkbox & radio base preset
    .form__checkbox,
    .form__radio {
        display: block;
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;

        label {
            display: inline-block;
            cursor: pointer;
            font-size: 16px;
            line-height: 22px;
            font-family: $font-roboto;
            padding-left: 34px;
            margin: 0;

            &:before {
                content: ' ';
                width: 22px;
                height: 22px;
                min-width: 22px;
                min-height: 22px;
                margin-right: 15px;
                transition: all 0.2s;
                background: $gray--light;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1px;
                left: 0;
            }

            .label-with-link {
                a {
                    text-decoration: none;
                    border: none;
                }
            }
        }

        &:hover {
            label:before {
                background: $gray;
            }
        }
    }

    // Checkbox style
    .form__checkbox {
        @include em-form-checkbox;
    }

    // Radio style
    .form__radio {
        @include em-form-radio;
    }

}
