// Layout

.l {
    &__wrapper--wide {
        width: 90%;
        margin: 0 auto;
    }

    &__wrapper {
        @include wrapper;
    }

    &__wrapper--medium {
        @include wrapper--medium;
    }

    &__wrapper--narrow {
        width: 90%;
        max-width: 850px;
        margin: 0 auto;
    }

    &__wrapper--slim {
        @include wrapper--slim;
    }

    &__wrapper--main {
        width: 100%;
        max-width: 800px;
        flex-grow: 1;

        &-right {
            margin-left: 30px;
        }

        &-left {
            margin-right: 30px;
        }
        @media (max-width: $tablet) {
            order: 2;
            margin: 0;
        }
    }

    &__wrapper--430 {
        width: 430px;
        margin: 0 auto;
        box-sizing: border-box;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px $border-gray;
        text-align: center;
        @media (max-width: $mobile) {
            border: 0;
            width: 100%;
            box-shadow: none;
        }
    }

    &__wrapper--aside {
        width: 285px;
    }

    &__wrapper--600 {
        @include wrapper--600;
    }

    &__wrapper--500 {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__wrapper-300 {
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }

    &__inner {
        padding: 0 30px 30px;

        &__footer {
            padding: 20px 30px;
            background: $bg--gray;
            color: $text--gray;
            @include text--small;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--wrap {
            flex-wrap: wrap;
        }

        &--h-stretch {
            justify-content: space-between;
        }

        &--h-stretch-around {
            justify-content: space-around;
        }

        &--h-start {
            justify-content: flex-start;
        }

        &--h-end {
            justify-content: flex-end;
        }

        &--v-stretch {
            align-items: stretch;
        }

        &--center {
            justify-content: center;
        }

        &--top {
            align-items: flex-start;
        }

        &--middle {
            align-items: center;
        }

        &--bottom {
            align-items: flex-end;
        }

        &--top {
            align-items: flex-start;
        }

        &--pack-center {
            align-content: center;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--center {
            align-items: center;
        }

        &--left {
            align-items: flex-start;
        }

        &--top {
            justify-content: flex-start;
        }

        &--middle {
            justify-content: center;
        }

        &--bottom {
            justify-content: flex-end;
        }

        &--v-stretch {
            justify-content: space-between;
        }

        &--grow-1 {
            flex-grow: 1;
        }

        &--wrap {
            display: inline-flex;
            flex-flow: column wrap;
            max-height: 100%;
        }

        &--half {
            flex-basis: 50%;
        }
    }

    &__tablet {
        @media (max-width: $tablet) {
            &--col {
                display: flex;
                flex-direction: column;
                align-items: stretch;

                &-center {
                    align-items: center;
                }
            }
        }
    }

    &__mobile {
        @media (max-width: $mobile) {
            &--col {
                display: flex;
                flex-direction: column;

                &-center {
                    align-items: center;
                }
            }
        }
    }

    &__hide {
        &--on-mobile {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        &--on-small-laptop {
            @media (max-width: $tablet + 150px) {
                display: none;
            }
        }

        &--on-tablet {
            @media (max-width: $tablet) {
                display: none;
            }
        }

        &--above-small-laptop {
            @media (min-width: $tablet + 151px) {
                display: none;
            }
        }

        &--on-desktop {
            @media (min-width: $tablet + 1) {
                display: none;
            }
        }
    }
}
// Blocks
.space {
    &--100-0 {
        padding: 100px 0;
        @media (max-width: $mobile) {
            padding: 70px 0;
        }
    }

    &--60-0 {
        padding: 60px 0;
    }

    &--60-15 {
        padding: 60px 0 15px;
    }

    &--45-5 {
        padding: 45px 5px;
    }

    &--40-0 {
        padding: 40px 0;
    }

    &--30 {
        padding: 30px;
    }

    &--30-0 {
        padding: 30px 0;
    }

    &--35-15 {
        padding: 35px 0 15px;
    }

    &--20 {
        padding: 20px;
    }

    &--20-0 {
        padding: 20px 0;
    }

    &--5-20 {
        padding: 5px 0 20px;
    }

    &--20-30 {
        padding: 20px 30px;
    }

    &--10-0 {
        padding: 10px 0;
    }

    &--10-15 {
        padding: 10px 15px;
    }
}

.b {
    &__flex {
        &--1 {
            flex: 1;
        }
    }

    &__border {
        border: 1px solid $gray--light;

        &--black {
            border: 1px solid black;
        }

        &--top-bot {
            border-top: 1px solid $gray--light;
            border-bottom: 1px solid $gray--light;
        }
    }

    &__nudge {
        &--top-50 {
            margin-top: 50px;
        }

        &--top-40 {
            margin-top: 40px;
        }

        &--top-large {
            margin-top: 30px;
        }

        &--top {
            margin-top: 20px;
        }

        &--top-15 {
            margin-top: 15px;
        }

        &--top-10 {
            margin-top: 10px;
        }

        &--top-5 {
            margin-top: 5px;
        }

        &--top-0 {
            margin-top: 0 !important;
        }

        &--bottom-tiny {
            margin-bottom: 5px;
        }

        &--bottom-small {
            margin-bottom: 10px;
        }

        &--bottom-medium {
            margin-bottom: 15px;
        }

        &--bottom {
            margin-bottom: 20px;
        }

        &--bottom-large {
            margin-bottom: 30px;
        }

        &--bottom-larger {
            margin-bottom: 40px;
        }

        &--bottom-60 {
            margin-bottom: 60px;
        }

        &--bottom-huge {
            margin-bottom: 80px;
        }

        &--right-nano {
            margin-right: 5px;
        }

        &--right-small {
            margin-right: 10px;
        }

        &--right {
            margin-right: 20px;
        }

        &--right-large {
            margin-right: 30px;
        }

        &--right-larger {
            margin-right: 40px;
        }

        &--right-extra-large {
            margin-right: 50px;
        }

        &--left-large {
            margin-left: 30px;
        }

        &--left-medium {
            margin-left: 15px;
        }

        &--left-small {
            margin-left: 10px;
        }
    }
}
// TODO: need better way to manage bg images, maybe a scss file just for that
.topstory-side {
    flex: 1;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        max-width: 90%;
    }
}

.proteger {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 25px;
}

.flex {
    &--center {
        @include flex(center, column);

        &--mobile {
            @media (max-width: $mobile) {
                @include flex(center, column);
            }
        }
    }

    &--left {
      @include flex(start, row);
    }
}

.block {
    display: block;
}

.ui-dialog {
    top: 2% !important;
    height: 90% !important;
    border: 0 !important;

    @media (max-width: $mobile) {
        width: 97% !important;
        left: 0 !important;
    }

    .ui-widget-content {
        border: 0;
    }

    .ui-dialog-titlebar {
        background: $white;
        border: 0;
    }

    &-content {
        object {
            width: 100%;
            height: 100%;
        }
    }

    &-buttonpane {
        margin-top: -4px;
        .ui-dialog-buttonset button {
            font-size: 1.2em;
            @include btn;
            @include btn--pink;
        }
    }

    #chart_dialog {
        height: 75% !important;
    }
}
