.em-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        position: relative;
        border-radius: 3px;
    }

    .close {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }

        &:before,
        &:after {
            position: absolute;
            left: 10px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-color: #333;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
