.nav-mobile {
    position: relative;
    top: -35px;

    input[type=checkbox] {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        opacity: 0;
}

    label {
        position: relative;
        display: block;
        float: right;
        cursor: pointer;
        height: 28px;
        width: 28px;
        margin-top: 4px;
        content: $three_bars--black;

        &:hover {
            content: $three_bars--gray;
        }
    }

    input[type=checkbox]:checked ~ label {
        height: 23px;
        width: 23px;
        content: $cross--black;
        right: 3px;
        top: 2px;

        &:hover {
            content: $cross--gray;
        }
    }

    input[type=checkbox]:checked ~ &--menu {
        height: auto;
        margin-top: 40px;
        opacity: 1;
    }

    &--menu {
        clear: both;
        height: 0;
        overflow: hidden;
        float: left;
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease;
    }

    ul {
        font-family: $font-roboto;

        a {
            border: 0;
        }
    }

    small {
        color: $gray--muted;
        margin-bottom: 10px;
        position: relative;
        display: block;
    }
}

.nav-dropdown {
    position: relative;
    font-family: $font-roboto;
    margin: 0 15px;

    &__mrg--0 {
        margin: 0;
    }

    &>p {
        display: flex;

        &:hover {
            cursor: pointer;
        }
    }

    .nav__chevron {
        transition: all 0.3s;
        width: 15px;
        margin-left: 5px;
    }

    &:hover {
        .nav__chevron {
            transform: rotate(180deg);
            transition: all 0.3s;
        }
    }

    &__caret {
        display: none;
        position: absolute;
        overflow: hidden;
        float: left;
        top: 45px;
        width: 18px;
        height: 10px;
        z-index: $zIndex__overlay-caret;

        span {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            margin-left: -1px;
            margin-left: 0;
        }

        &--inner {
            top: 1px;
            left: 1px;
            border-left: 9px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 14px solid $gray--light;
        }

        &--outer {
            border-left: 9px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 14px solid rgba(0, 0 ,0 , 0.07);
            height: auto;
            width: auto;
            left: 0;
            top: 0;
        }
    }

    &__name {
        padding: 20px 0;
    }

    &__item {
        display: none;
        position: absolute;
        background: white;
        min-width: 190px;
        padding: 10px 25px 10px 15px;
        top: 45px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        z-index: $zIndex__overlay-menu;
        box-sizing: border-box;

        li {
            font-size:15px;
            line-height: 1.73;
            white-space: nowrap;
        }
    }

    &__menu {
        display: none;
        position: absolute;
        background: white;
        width: 715px;
        top: 55px;
        left: -580px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
        z-index: $zIndex__overlay-menu;
        box-sizing: border-box;

        li {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            padding: 3px 0;

            &:first-child {
                padding: 0 0 3px 0;
            }

            &:last-child {
                padding: 3px 0 0 0;
            }

            a {
                border: 0;
                display: block;
                width: 205px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.is-new {
                    &:after {
                        content: 'Nouveau';
                        @include new-feature;
                    }
                }
            }
        }
    }

    &__row {
        display: flex;

        > ul, > div {
            flex: 1;
            border-right: 1px solid $gray--light;
            &:last-child {
                border: 0;
            }
        }
    }

    &__section {
        padding: 13px 18px;
        font-family: $font-roboto;
        @include text--small;

        &__name {
            font-weight: bold;
            font-size: 18px;
            padding: 0;

            a {
                display: block;
                overflow: auto !important;
                width: 100% !important;
            }
        }
    }

    &__separator {
        border-top: 1px solid $gray--light;
        height: 1px;
    }

    &:hover {
        .nav-dropdown__menu, .nav-dropdown__caret, .nav-dropdown__item {
            display: block;
        }

        .fa-caret-down {
            display: none;
        }

        .fa-caret-up {
            display: inline;
        }
    }

    .fa {
        color: $white;
        float: right;
        padding-top: 5px;
        padding-left: 5px;
    }

    .fa-caret-down {
        display: inline;
    }

    .fa-caret-up {
        display: none;
    }

    &__black {
        position: absolute;
        top: 34px;
        left: -15px;
        width: auto;
        margin-top: -10px;
        padding: 15px;
        line-height: 24px;
        background-color: $darker;

        ul {
            display: block;
            li a {
                width: auto;
           }
        }
    }
}

// NEW MOBILE NAV
.em-nav-mobile {
    width: 100%;
    height: 100vh;
    background: $white;

    &__adherent-profile {
        background: $gray--lighter;
        padding: 30px 5%;
    }

    &__menu {
        background-color: teal;
        padding: 0 5%;
    }
}

// ADHERENT NEW DROPDOWN
.adherent-nav-dropdown {
    display: none;
    border-top: 1px solid $lines-grey;
    background-color: $white;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    top: 64px;
    padding: 40px 0;

    &__col {
        flex-basis: 0;
        flex-grow: 1;
        margin-right: 24px;

        &:last-child { margin-right: 0; }
    }

    &__menu {

        &--head {
            @include subtitle;
            display: inline-block;
            font-size: 14px;
            margin-bottom: 10px;
        }

        &--items {
            li {
                margin: 10px 0;

                a {
                    font-family: $font-roboto;
                    border: none;
                }

            }
        }
    }
}
