.table {

    &__default {

        thead tr th {
            color: $black;
            font-weight: bold;
            font-size: 18px;
            text-align: left;
        }

        td, th {
            padding: 10px 5px;

            &.c__width-40 {
                width: 40%;
            }
        }
    }
}
