<svg class="icon-search" width="23px" height="24px" viewBox="0 0 23 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="title">
    <title>Recherche</title>
    <path d="M9.9263,0 C4.4443,0 0.0003,4.444 0.0003,9.926 C0.0003,15.408 4.4443,19.853 9.9263,19.853 C15.4083,19.853 19.8523,15.408 19.8523,9.926 C19.8523,4.444 15.4083,0 9.9263,0 M9.9263,1 C14.8483,1 18.8523,5.004 18.8523,9.926 C18.8523,14.848 14.8483,18.853 9.9263,18.853 C5.0043,18.853 1.0003,14.848 1.0003,9.926 C1.0003,5.004 5.0043,1 9.9263,1" fill="#333333"></path>
    <path class="stroke" d="M16.6294,16.7087 L22.6294,22.6357" stroke="#333333" stroke-linecap="round"></path>
</svg>
