<form method="get" action="{{ path('donation_index') }}" class="donate__form">
    <input type="hidden" name="montant" class="amount-chooser donate__form__chooser__input" value="20" />

    <button type="submit" title="Je donne" class="btn-fat btn-fat--blue donate__form__button">
        Je donne maintenant
    </button>
</form>
