{% extends 'base.html.twig' %}

{% block page_title 'Je donne' %}
{% block meta_description 'Si la démocratie n\'a pas de prix, elle a un coût! Aidez-nous à faire gagner vos idées' %}
{% block canonical_url url('donation_index') %}

{% block open_graph_image (homepage_url ~ asset('images/donation-sharer.jpg'))|raw %}

{% block stylesheets %}
    <style type="text/css">
        header,
        footer {
            display: none;
        }
        footer.footer--slim {
            display: initial;
        }
    </style>
{% endblock %}

{% block banner '' %}
{% block footer '' %}

{% block content %}

    <div class="donation__page">

        <section class="donation__content">
            {% block donation_content %}{% endblock %}
        </section>

        <section class="donation__footer">
            <div class="l__wrapper"></div>
        </section>
    </div>

{% endblock %}
