{% extends 'base.html.twig' %}

{% block page_title 'Je donne' %}
{% block meta_description 'Si la démocratie n\'a pas de prix, elle a un coût! Aidez-nous à faire gagner vos idées' %}
{% block canonical_url url('donation_index') %}

{% block open_graph_image (homepage_url ~ asset('images/donation-sharer.jpg'))|raw %}

{% block stylesheets %}
    <style type="text/css">
        header,
        footer {
            display: none;
        }
        footer.footer--slim {
            display: initial;
        }
    </style>
{% endblock %}

{% block banner '' %}
{% block footer '' %}

{% block content %}

    <div class="donation__page">

        <section class="donation__content">
            {% block donation_content %}{% endblock %}
        </section>

        <section class="donation__footer">
            <div class="l__wrapper">
                <div class="donation__footer__sections">
                    <div class="footer__section text--body">
                        <h5>Une question ? Contactez-nous.</h5>
                        <p>01 86 95 09 15  / <a class="text--blue--dark link--no-decor" href="mailto:dons@en-marche.fr">dons@en-marche.fr</a></p>
                    </div>
                    <div class="footer__section text--body">
                        <h5>Suivez La République En Marche !</h5>
                        <ul class="list__links list__links--no-decor list__links--svgs">
                            <li><a href="https://www.facebook.com/EnMarche/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://twitter.com/enmarchefr" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/enmarchefr/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube-square"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/en-marche" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="https://www.flickr.com/photos/enmarchefr/albums" rel="noopener noreferrer" target="_blank"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="https://t.me/enmarchefr" rel="noopener noreferrer" target="_blank"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="{{ url('articles_feed') }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
