{% extends 'donation/layout.html.twig' %}

{% block javascripts %}
<script type="text/javascript">
    Kernel.onLoad(function() {
        hide(dom('#app-donation-redirect-form'));
        show(dom('#app-donation-redirect-loader'));
        document.getElementById('app-donation-redirect-form').submit();
    });
</script>
{% endblock %}

{% block donation_content %}
    <ul class="donation__form-steps">
        <li>Montant</li>
        <li>Coordonnées</li>
        <li class="active">Paiement</li>
        <li>Confirmation</li>
    </ul>

    <div class="donation__payment">
        <div class="donation__loader" id="app-donation-redirect-loader">
            <p class="donation__loader__text">
                Veuillez patienter pendant que nous vous redirigons vers votre banque ...
            </p>
        </div>

        <form class="donation__nojs" action="{{ url }}" method="post" name="app_donation_payment" id="app-donation-redirect-form">
            {% for field in form %}
                <input type="{{ field.vars.block_prefixes[1] }}"
                       name="{{ field.vars.name }}"
                       {% if field.vars.value is not empty %}value="{{ field.vars.value }}" {% endif %} />
            {% endfor %}

            <input type="submit" class="form btn btn--primary text--center" value="Continuer vers ma banque" />
        </form>
    </div>
{% endblock %}
