.latest-ideas {
  padding: 50px 100px;
  background-color: $white-smoke;

  &__title {
    margin-bottom: 50px;
    width: 40%;
  }

  .latest-ideas__pane {
    padding-top: 35px;
  }

  // responsive
  @media #{$tablet} {
    padding: 50px;

    &__title {
      width: 60%;
    }
  }

  @media #{$mobile} {
    padding: 50px 0;

    &__title {
      width: 100%;
    }

    .latest-ideas__pane {
      padding-top: 20px;
    }
  }
}
