.latest-ideas {
  background-image: linear-gradient(to top, $snow, $white);
  padding-bottom: 50px;

  &--header {
    text-align: center;
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 34px;
    line-height: normal;
  }

  .latest-ideas__pane {
    padding-top: 35px;
  }

  .link {
    color: $blue;
    text-align: center;
    margin-top: 50px;

    img {
      position: relative;
      top: 3px;
      left: 3px;
      transition: all 0.4s;
    }
    &:hover {
      img {
        left: 6px;
        transition: all 0.4s;
      }
    }
  }

  &__slider {
    overflow: hidden;

    &--second {
      left: -200px;
    }

    & > div {
      display: flex;
      position: relative;
      transition: all 0.5s ease;

      .idea-card {
        animation: bannermove 80s linear infinite;
        position: relative;
        margin: 10px;
        min-width: 550px;

        @media #{$mobile} {
          min-width: 350px;
          animation: bannermove 20s linear infinite;
        }
      }
    }
  }

  @keyframes "bannermove" {
    0% {
      left: 0px;
    }
    100% {
      left: -100%;
    }
  }

  // responsive
  @media #{$desktop} {
    .rc-tabs-tab {
      font-size: 18px;
    }
  }

  @media #{$tablet} {
    padding: 50px;

    &__title {
      width: 100%;
      font-size: 28px;
    }
  }

  @media #{$mobile} {
    padding: 50px 0;

    &__title {
      width: 100%;
      font-size: 24px;
    }

    .latest-ideas__pane {
      padding-top: 20px;
    }
  }
}
