services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false
        bind:
            $adherentInterests: '%adherent_interests%'

    _instanceof:
        App\Mailchimp\Webhook\Handler\WebhookHandlerInterface:
            tags: ['app.mailchimp.webhook_handler']
        App\Mailchimp\Campaign\ContentSection\ContentSectionBuilderInterface:
            tags: [ 'app.mailchimp.campaign.content_builder' ]
        App\Mailchimp\Campaign\SegmentConditionBuilder\SegmentConditionBuilderInterface:
            tags: ['app.mailchimp.campaign.segment_condition_builder']
        Symfony\Component\Messenger\Handler\MessageHandlerInterface:
            tags: ['messenger.message_handler']

    App\Mailchimp\:
        resource: ../../src/Mailchimp/

    App\Mailchimp\Webhook\WebhookHandler:
        arguments: [!tagged_iterator 'app.mailchimp.webhook_handler']

    App\Mailchimp\Campaign\SegmentConditionsBuilder:
        arguments:
            $builders: !tagged_iterator 'app.mailchimp.campaign.segment_condition_builder'

    App\Mailchimp\Campaign\CampaignContentRequestBuilder:
        arguments:
            $builders: !tagged_iterator 'app.mailchimp.campaign.content_builder'

    App\Mailchimp\Synchronisation\Handler\AdherentChangeCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\Handler\AdherentChangeEmailCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\Handler\ElectedRepresentativeChangeCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\Handler\DataSurveyCreateCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\Handler\CoalitionMemberChangeCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\RequestBuilder:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Newsletter\Handler\:
        resource: ../../src/Newsletter/Handler/

    App\Mailchimp\SignUp\SignUpHandler:
        arguments:
            $client: '@app.http_client.mailchimp_signup'
            $subscriptionGroupId: '%env(MAILCHIMP_SIGNUP_SUBSCRIPTION_GROUP_ID)%'
            $subscriptionIds: '%env(json:MAILCHIMP_SIGNUP_SUBSCRIPTION_IDS)%'
            $mailchimpOrgId: '%env(MAILCHIMP_ORG_ID)%'
            $listId: '%env(MAILCHIMP_MEMBER_LIST_ID)%'
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Campaign\MailchimpObjectIdMapping:
        arguments:
            $mainListId:                            '%env(MAILCHIMP_MEMBER_LIST_ID)%'
            $newsletterListId:                      '%env(MAILCHIMP_NEWSLETTER_LIST_ID)%'
            $electedRepresentativeListId:           '%env(MAILCHIMP_ELECTED_REPRESENTATIVE_LIST_ID)%'
            $applicationRequestCandidateListId:     '%env(MAILCHIMP_APPLICATION_REQUEST_CANDIDATE_LIST_ID)%'
            $jecouteListId:                         '%env(MAILCHIMP_JECOUTE_LIST_ID)%'
            $coalitionsListId:                      '%env(MAILCHIMP_COALITIONS_LIST_ID)%'

            $folderIds:                             '%env(json:MAILCHIMP_CAMPAIGN_FOLDER_IDS)%'
            $templateIds:                           '%env(json:MAILCHIMP_TEMPLATE_IDS)%'

            $interestIds:                           '%env(json:MAILCHIMP_INTEREST_IDS)%'
            $coalitionsInterestIds:                 '%env(json:MAILCHIMP_COALITIONS_INTEREST_IDS)%'

            $memberGroupInterestGroupId:            '%env(MAILCHIMP_MEMBER_GROUP_INTEREST_GROUP_ID)%'
            $memberInterestInterestGroupId:         '%env(MAILCHIMP_MEMBER_INTEREST_INTEREST_GROUP_ID)%'
            $subscriptionTypeInterestGroupId:       '%env(MAILCHIMP_SUBSCRIPTION_TYPE_INTEREST_GROUP_ID)%'
            $coalitionsNotificationInterestGroupId: '%env(MAILCHIMP_COALITIONS_NOTIFICATION_INTEREST_GROUP_ID)%'

            $applicationRequestTagIds:              '%env(json:MAILCHIMP_APPLICATION_REQUEST_TAG_IDS)%'
            $newsletterTagIds:                      '%env(json:MAILCHIMP_NEWSLETTER_TAG_IDS)%'

            $segmentTagIds:                         '%env(json:MAILCHIMP_SEGMENT_TAG_IDS)%'
