services:
    _defaults:
        autoconfigure: true
        autowire: true
        public: false
        bind:
            $adherentInterests: '%adherent_interests%'
            $mailchimpSignUpHost: '%env(MAILCHIMP_SIGNUP_HOST)%'

    _instanceof:
        App\Mailchimp\Webhook\Handler\WebhookHandlerInterface:
            tags: ['app.mailchimp.webhook_handler']
        App\Mailchimp\Campaign\ContentSection\ContentSectionBuilderInterface:
            tags: ['app.mailchimp.campaign.content_builder']
        App\Mailchimp\Campaign\SegmentConditionBuilder\SegmentConditionBuilderInterface:
            tags: ['app.mailchimp.campaign.segment_condition_builder']

    App\Mailchimp\:
        resource: ../../src/Mailchimp/

    App\Mailchimp\Driver:
        arguments:
            $listId: '%env(MAILCHIMP_MEMBER_LIST_ID)%'
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Manager:
        arguments:
            $requestBuildersLocator: '@app.mailchimp.request_builders_locator'
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\MemberRequest\NewsletterMemberRequestBuilder:
        shared: false

    App\Mailchimp\Webhook\WebhookHandler:
        arguments: [!tagged_iterator 'app.mailchimp.webhook_handler']

    App\Mailchimp\Campaign\SegmentConditionsBuilder:
        arguments:
            $builders: !tagged_iterator 'app.mailchimp.campaign.segment_condition_builder'

    App\Mailchimp\Synchronisation\Handler\AdherentChangeEmailCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\Handler\ElectedRepresentativeChangeCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\Handler\JemarcheDataSurveyCreateCommandHandler:
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Synchronisation\RequestBuilder:
        shared: false
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Newsletter\Handler\:
        resource: ../../src/Newsletter/Handler/

    App\Mailchimp\SignUp\SignUpHandler:
        arguments:
            $subscriptionGroupId: '%env(MAILCHIMP_SIGNUP_SUBSCRIPTION_GROUP_ID)%'
            $subscriptionIds: '%env(json:MAILCHIMP_SIGNUP_SUBSCRIPTION_IDS)%'
            $mailchimpOrgId: '%env(MAILCHIMP_ORG_ID)%'
            $listId: '%env(MAILCHIMP_MEMBER_LIST_ID)%'
        tags:
            - { name: 'monolog.logger', channel: 'mailchimp_sync' }
        calls:
            - ['setLogger', ['@logger']]

    App\Mailchimp\Campaign\MailchimpObjectIdMapping:
        arguments:
            $mainListId: '%env(MAILCHIMP_MEMBER_LIST_ID)%'
            $newsletterListId: '%env(MAILCHIMP_NEWSLETTER_LIST_ID)%'
            $electedRepresentativeListId: '%env(MAILCHIMP_ELECTED_REPRESENTATIVE_LIST_ID)%'
            $nationalEventInscriptionListId: '%env(MAILCHIMP_NATIONAL_EVENT_INSCRIPTION_LIST_ID)%'
            $jecouteListId: '%env(MAILCHIMP_JECOUTE_LIST_ID)%'
            $jeMengageListId: '%env(MAILCHIMP_JEMENGAGE_LIST_ID)%'
            $newsletterLegislativeCandidateListId: '%env(MAILCHIMP_NEWSLETTER_LEGISLATIVE_CANDIDATE_LIST_ID)%'
            $newsletterRenaissanceListId: '%env(MAILCHIMP_NEWSLETTER_RENAISSANCE_LIST_ID)%'

            $folderIds: '%env(json:MAILCHIMP_CAMPAIGN_FOLDER_IDS)%'
            $templateIds: '%env(json:MAILCHIMP_TEMPLATE_IDS)%'

            $interestIds: '%env(json:MAILCHIMP_INTEREST_IDS)%'

            $memberGroupInterestGroupId: '%env(MAILCHIMP_MEMBER_GROUP_INTEREST_GROUP_ID)%'
            $memberInterestInterestGroupId: '%env(MAILCHIMP_MEMBER_INTEREST_INTEREST_GROUP_ID)%'
            $subscriptionTypeInterestGroupId: '%env(MAILCHIMP_SUBSCRIPTION_TYPE_INTEREST_GROUP_ID)%'

            $mailchimpCampaignUrl: '%env(MAILCHIMP_CAMPAIGN_URL)%'
            $mailchimpOrg: '%env(MAILCHIMP_ORG_ID)%'

    app.mailchimp.request_builders_locator:
        class: Symfony\Component\DependencyInjection\ServiceLocator
        arguments:
            - App\Mailchimp\Synchronisation\MemberRequest\NewsletterMemberRequestBuilder: '@App\Mailchimp\Synchronisation\MemberRequest\NewsletterMemberRequestBuilder'
              App\Mailchimp\Synchronisation\RequestBuilder: '@App\Mailchimp\Synchronisation\RequestBuilder'
              App\Mailchimp\Campaign\CampaignRequestBuilder: '@App\Mailchimp\Campaign\CampaignRequestBuilder'
              App\Mailchimp\Campaign\CampaignContentRequestBuilder: '@App\Mailchimp\Campaign\CampaignContentRequestBuilder'
              App\Mailchimp\MailchimpSegment\SegmentRequestBuilder: '@App\Mailchimp\MailchimpSegment\SegmentRequestBuilder'
        tags:
            - { name: 'container.service_locator' }
