<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <!-- Form -->
        <service id="App\Form\TypeExtension\FormTypeExtension">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType" />
        </service>

        <service id="App\Form\TypeExtension\TextTypeExtension">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\TextType" />
        </service>

        <service id="App\Form\TypeExtension\PhoneNumberTypeExtension">
            <tag name="form.type_extension" extended-type="Misd\PhoneNumberBundle\Form\Type\PhoneNumberType" />
        </service>

        <!-- Doctrine Listeners -->
        <service id="App\Entity\Listener\ContainingUserDocumentListener" public="true">
            <tag name="doctrine.orm.entity_listener" entity="App\Entity\Jecoute\News" event="prePersist"/>
            <tag name="doctrine.orm.entity_listener" entity="App\Entity\Jecoute\News" event="preUpdate"/>
            <tag name="doctrine.orm.entity_listener" entity="App\Entity\Jecoute\News" event="postUpdate"/>
            <tag name="doctrine.orm.entity_listener" entity="App\Entity\Jecoute\News" event="preRemove"/>
            <tag name="doctrine.orm.entity_listener" entity="App\Entity\Jecoute\News" event="postRemove"/>
            <argument type="service" id="App\UserDocument\UserDocumentManager"/>
            <argument>%pattern_uuid%</argument>
        </service>
    </services>
</container>
