@import './SuccessSignal/style';

.flag-modal {
	overflow-x: hidden;

	&__title {
		font-size: 26px;
		line-height: normal;
		letter-spacing: -0.5px;
	}

	&__subtitle {
		margin: 15px 0 35px;
		font-size: 14px;
		color: $light-black;
	}

	&__comment {
		margin-top: 35px;
	}

	&__label {
		display: inline-block;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
	}

	&__button {
		width: 100%;
		height: 60px;
		margin-top: 45px;
	}

	&__text {
		margin-top: 20px;
		color: $light-black;
		font-size: 12px;
	}

	&__error {
		text-align: center;
		margin: 5px 0 0;
		font-size: 12px;
		color: $giants-orange;
	}
}
