#layout-municipales {

    .content header {
        position: relative;
        overflow: hidden;
        background-color: $blue--extra-light;
        padding: 50px 0 30px 0;
        margin-bottom: 30px;

        @media (min-width: $mobile) {
            padding: 100px 0 70px 0;
            margin-bottom: 50px;
        }

        h1 {
            padding-right: 50px;
            @media (min-width: $mobile) {
                padding: 0;
            }
        }

        h2 {
            font-weight: normal;
            font-size: 18px;
        }
    }
}
