.citizen__select__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    top: 150px;
    background: transparent;

    @media (max-width: $tablet) {
        top: 0;
    }

    .Select {
        width: 31%;
        height: 49px;

        @media (max-width: $tablet) {
            flex-basis: 100%;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-input {
            height: 100%;

            > input {
                height: 100%;
                padding: 0;
            }
        }

        &-value {
            line-height: 48px;
            text-align: left;
        }

        &-clear {
            line-height: 48px;
        }

        &-placeholder {
            color: $gray--dark;
            text-align: left;
            line-height: 44px;
            font-weight: normal;
            letter-spacing: 0.5px;
        }

        &.is-open .Select-placeholder {
            display: none;
        }

        &-arrow {
            border-color: $pink transparent transparent;
        }

        &-control {
            height: 100%;
            border-radius: 0;
            border: 1px solid $gray--lighter;

            > div {
                height: 100%;
            }
        }
    }

    .citizen__keyword-filter {
        color: $gray--dark;
        box-sizing: border-box;
        width: 31%;
        font-family: $font-gillsans;
        border: 1px solid $gray--lighter;
        padding: 10px;

        letter-spacing: 0.5px;
        font-weight: normal;
        font-size: 16px;

        @media (max-width: $tablet) {
            width: 100%;
            height: 52px;
            margin-bottom: 8px;
        }
    }
}

a.citizen__project__item {
    margin: 15px;

    @media (max-width: $mobile) {
        margin: 8px 0;
    }
}

.citizen__project {
    &__item {
        width: 30%;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid transparent !important;
        top: 0;
        position: relative;

        &:hover {
            transition: all 0.5s;
            box-shadow: 10px 10px 47px 0px rgba(224, 224, 224, 1);
            cursor: pointer;
            border-bottom: 3px solid $pink !important;
            top: -4px;
            position: relative;
        }

        @media (max-width: $tablet) {
            width: 100%;
        }

        &__thumbnail {
            background-image: url('/assets-citizen-project/images/video-bg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex-basis: 150px;

            > div {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                height: 100%;
            }

            @media (max-width: $tablet) {
                height: 200px;
            }

            img {
                width: 100%;
                z-index: 1;
                position: relative;
            }
        }

        h2 {
            text-align: left;
            font-size: 24px;
            font-family: $font-gillsans;
            font-weight: 400;
            letter-spacing: 0.5px;
            line-height: 1;
            margin-bottom: 10px;
        }

        p {
            text-align: left;
            margin: 0 0 8px;
            font-family: $font-gillsans;
            font-size: 19px;
            font-weight: 200;
            letter-spacing: 0.5px;
            line-height: 1.25;
            color: $gray-medium;
        }

        &__content {
            background-color: white;
            border: 1px solid $gray--lighter;
            padding: 15px 20px;
            flex: 1;
            display: flex;
            flex-direction: column;

            .district {
                color: $purple ;
                text-align: center;
                font-size: 14px;
                text-align: left;
            }
        }

        &__footer {
            margin-top: auto;
            text-align: right;
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 0.3px;
        }

        &__author {
            font-weight: initial;
        }
    }
    &__grid {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 40px;

        &--empty {
            padding: 75px 25px;
            font-size: 24px;
            line-height: 1.25;

            @media (max-width: $mobile) {
                padding: 0;
            }
        }

        .citizen__project__item {
            border: none;
        }

        &--more {
            appearance: none;
            border: none;
            font-family: $font-gillsans;
            color: white;
            font-size: 19px;
            padding: 12px 48px;
            letter-spacing: 0.5px;
            background-color: white;
            color: $pink;
            border: 0.8px solid $pink;
            border-radius: 143px;
            margin-bottom: 24px;
            transition: all 0.5s;

            &:hover {
                cursor: pointer;
                background-color: $pink;
                color: white;
                border: 0.8px solid white;
                transition: all 0.5s;
            }

            &[disabled] {
                opacity: 0.5;
            }
        }
    }
    
}

.citizen__wrapper {
    &__footer {
        > a {
            font-size: 18px;
            color: $pink;
            line-height: 1.5;
            border-bottom: 0;

            &:hover {
                color: $pink-hover;
            }
        }
    }
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
    font-weight: normal;
    line-height: 50px;
}
