{% extends 'base.html.twig' %}

{% block page_title 'Espace député' %}
{% block canonical_url url('app_deputy_users_message') %}

{% block content %}
    <main>
        <section class="deputy procuration-manager b__nudge--bottom-huge">
            <header class="l__wrapper--slim b__nudge--bottom-large">
                <h1 class="text--center text--large">
                    {{ block('page_title') }}
                </h1>
                <p class="text--center">
                    Vous gérez : {{ app.user.managedDistrict }}
                </p>
            </header>

            <div class="l__wrapper procuration-manager__content">
                {% block deputy_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
