{% set isDeputy = is_granted('ROLE_DEPUTY') %}
<nav class="manager-sidebar__menu">
    {% if app.user is not same as(currentUserOrDelegator) %}
        <p class="manager-sidebar__text text--body">Vous êtes <span class="text--black">{{ delegated_access.role|lower }}<span> du député <span class="text--black">{{ currentUserOrDelegator }}</span></p>
    {% endif %}

    {% if isDeputy or is_granted('HAS_DELEGATED_ACCESS_COMMITTEE') %}
        <ul>
            <li class="{{ is_active_route(app.request, 'app_deputy_committees') ? 'active' }}">
                <a href="{{ path('app_deputy_committees') }}">Comités</a>
            </li>
        </ul>
    {% endif %}
</nav>
