{% extends 'base.html.twig' %}

{% block title 'Erreur 500 | En Marche !' %}
{% block stylesheets %}
    <style type="text/css">
        header,
        #header-banner,
        footer {
             display: none;
         }
    </style>
{% endblock %}

{% block content %}

<main class="error">
    <div class="header l__wrapper">
        <h1><a href="{{ path('homepage') }}">En Marche !</a></h1>
    </div>
    <section class="l__wrapper--slim">
        <div class="error__box error__box--500">Oups</div>
        <div>
            <h1>Une erreur innatendue s'est produite.</h1>
            <p class="text--body text--gray">Actualisez votre navigateur. Ou bien contactez-nous si le problème persiste.</p>
        <div>
    </section>
</main>

{% endblock %}
