{% extends 'base.html.twig' %}

{% block title '503 | En Marche !' %}
{% block stylesheets %}
    <style type="text/css">
        header,
        #header-banner,
        footer {
             display: none;
         }
    </style>
{% endblock %}

{% block content %}

<main class="error">
    <div class="header l__wrapper">
        <h1><a href="{{ path('homepage') }}">En Marche !</a></h1>
    </div>
    <section class="l__wrapper--slim">
        <div class="error__box">503</div>
        <div>
            <h1>Le site En Marche est temporairement indisponible.</h1>
        <div>
    </section>
</main>

{% endblock %}
