<li>
    <a href="{{ path('app_committees_map') }}" class="sonata-action-element" title="Carte des comités">
        <i class="fa fa-map" aria-hidden="true"></i>
        Carte des comités
    </a>
</li>
