{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div style="width: 160px; margin-top: 5px;">
        {% if not object.isClosed %}
            <a href="{{ path('admin_app_committee_edit', {id: object.id}) }}" class="btn btn-xs btn-default" title="Éditer">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Éditer
            </a>
        {% endif %}

        <a href="{{ path('app_admin_committee_members', {id: object.id}) }}" class="btn btn-xs btn-default" title="Membres">
            <i class="fa fa-users" aria-hidden="true"></i>
            Membres
        </a>
    </div>
{% endblock %}
