{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.refused %}
        <span class="label label-danger">Refusé</span>
    {% elseif object.approved %}
        <span class="label label-success">Accepté</span>
    {% else %}
        <span class="label label-primary">En attente</span>
    {% endif %}
{% endblock %}
