{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div style="text-align: center;">
        {% if object.isWaitingForApproval and object.hasPhotoUploaded %}
            <a href="{{ path('app_admin_committee_photo', { id: object.id }) }}" target="_blank">
                <img src="{{ path('app_admin_committee_photo', { id: object.id }) }}" style="max-height: 50px; max-width: 100px;" />
            </a>
        {% endif %}
    </div>
{% endblock %}
