{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div style="text-align: center;">
        {% if object.isWaitingForApproval and object.hasPhotoUploaded %}
            <a href="{{ path('asset_url', { path: object.photoPath }) }}" target="_blank">
                <img src="{{ path('asset_url', { path: object.photoPath }) }}" style="max-height: 50px; max-width: 100px;" />
            </a>
        {% endif %}
    </div>
{% endblock %}
