{% extends 'base.html.twig' %}

{% block page_title 'Administration' %}

{% block content %}

    <main>
        <section class="l__wrapper--500">
            <div class="login">
                <h2>Espace d'administration</h2>

                <div class="login__form">
                    <p class="login__form__title">Code d'authentification</p>

                    <form class="form" action="{{ path("admin_security_2fa_check") }}" method="post">
                        {% for flashMessage in app.flashes("two_factor") %}
                            <p class="text--error">{{ flashMessage|trans }}</p>
                        {% endfor %}

                        <div class="form__row">
                            <input id="_auth_code" type="text" autocomplete="off" name="_auth_code"
                                   class="form form__field form--full" />
                        </div>

                        <button type="submit"
                                title="Je me connecte"
                                class="form form--full btn btn--blue login__button">Je me connecte</button>

                        {# The logout link gives the user a way out if they can't complete the second step #}
                        <p>
                            <a href="{{ path('logout') }}">Annuler</a>
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
