{% extends 'besoindeurope/base_besoindeurope.html.twig' %}

{% block header '' %}

{% block body_classes 'min-h-screen' %}

{% block content %}
    <section class="flex flex-col bg-white pt-[40px] pb-[3.25rem] re_new_ui bde-theme">
        <a href="//{{ besoindeurope_host }}" class="flex flex-col justify-center self-center  mb-6 lg:mb-[4.38rem] font-sharp font-semibold text-[2rem]/[normal] text-black neg-letter-spacing--4" title="Site Besoin d'Europe">
            <span class="text-[#00AEEF]">Le 9 juin<br/>nous avons</span>
            <span class="!text-black">Besoin<br/>d’Europe</span>
        </a>

        <div class="flex flex-col items-center justify-center h-full w-full">
            {% include 'renaissance/partials/flashes.html.twig' with { wrapper_class: 'mb-6 lg:mb-16' } %}
            <div class="w-full p-8 m-auto max-w-[500px]">
                <h1 class="mb-6  text-center font-maax text-ui_gray-80 tracking-tighter font-medium text-xl">
                    {% block security_block_title '' %}
                </h1>

                {% block security_content '' %}
            </div>
        </div>

        <footer class="text-center mt-24 text-ui_gray-40">
            Besoin d'Europe © {{ "now"|date('Y') }}
        </footer>
    </section>
{% endblock %}
