{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Réinitialiser mon mot de passe' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}

{% block back_btn_target path('app_renaissance_login') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' %}
{% endblock %}

{% block content_right_side %}
    <section class="flex flex-grow items-center justify-center p-5">
        <div class="w-96">
            {{ form_start(form) }}
                <p class="text-base leading-6 text-gray-600 mb-6">
                    Saisissez l'adresse e-mail associée à votre compte, et nous vous enverrons
                    un e-mail afin de réinitialiser votre mot de passe.
                </p>

                {{ form_errors(form) }}

                {{ form_row(form.email, { label: 'E-mail' }) }}

                <div>
                    <button type="submit" class="button button-blue button-full">Envoyez-moi l'email</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
