{% extends base_template %}

{% block vote_result_lists_main_block %}
    <main>
        <section class="b__nudge--bottom-huge">
            {% block vote_result_lists_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
