{% extends 'base.html.twig' %}

{% block page_title "Mon espace J'écoute" %}

{% block banner '' %}

{% block content %}
    <main>
        <section class="manager-space referent procuration-manager b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="manager-information">
                            <p>Vous gérez : <span>{{ app.user.getJecouteManagedAreaCodesAsString }}</span> </p>
                        </div>
                        <p class="report">🐛 Bug ? Nouveau besoin ?
                            <a href="https://t.me/joinchat/EmY0e1J2fyTv4Fd-cHEMHg" target="_blank" class="text--blue--dark link--no-decor">Écrivez-nous !</a>
                        </p>
                    </div>
                    <div class="second-section">
                        <h1 class="page-title text--large b__nudge--bottom">
                            {{ block('page_title') }}
                        </h1>
                    </div>
                </div>
            </header>
            <div class="l__wrapper procuration-manager__content text--body">
                {% block jecoute_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/sonataadmin/vendor/jqueryui/ui/jquery-ui.js') }}></script>
{% endblock %}
