{% extends 'adherent_space/_layout.html.twig' %}

{% block page_title 'Mon espace responsable des questionnaires' %}

{% block banner '' %}

{% block manager_content %}
    {% block jecoute_content %}{% endblock %}
{% endblock %}

{% block adherent_space_header_title %}
    Vous gérez : <span class="text--black text--bold">{{ app.user.jecouteManagedArea.zone }}</span>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src={{ asset('js/jquery/jquery-2.2.4.min.js') }}></script>
    <script type="text/javascript" src={{ asset('js/jquery/ui/jquery-ui-1.10.4.min.js') }}></script>
{% endblock %}
