<nav class="manager-sidebar__menu">
    <ul>
        <li class="active">
            <a href="{{ path('app_access_delegation_unset', {type: 'jecoute_manager_local_surveys'}) }}">Questionnaires</a>
        </li>
    </ul>
</nav>
