{% extends 'jecoute/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'id',
                        name: 'ID',
                        style: {
                            width: 25,
                        }
                    },
                    {
                        key: 'name',
                        name: 'Nom du questionnaire',
                    },
                    {
                        key: 'createdAt',
                        name: 'Date de création',
                    },
                    {
                        key: 'questionsCount',
                        name: 'Nombre de questions',
                    },
                    {
                        key: 'city',
                        name: 'Ville',
                    },
                    {
                        key: 'author',
                        name: 'Créateur',
                    },
                    {
                        key: 'edit',
                        name: "Edition",
                        link: true,
                    },
                    {
                        key: 'duplicate',
                        name: "Duplication",
                        link: true,
                    },
                    {
                        key: 'stats',
                        name: "Statistiques",
                        link: true,
                    },
                    {
                        key: 'publish',
                        name: "Publication",
                        style: {
                            width: 100,
                        }
                    },
                ],
                {{ surveysListJson|raw }}
            );
        });
    </script>
{% endblock %}

{% block jecoute_content %}
    <div class="datagrid__table__tabs">
        <div class="datagrid__table__tabs__items">
            <h3>Questionnaires locaux</h3>
            <span class="separator"></span>
            <h3><a href="{{ path("app_jecoute_#{space_name}_national_surveys_list") }}">Questionnaires nationaux</a></h3>
        </div>
        <a href="{{ path("app_jecoute_#{space_name}_local_survey_create") }}" class="btn-secondary btn-secondary--blue">
            + Créer un questionnaire local
        </a>
    </div>

    <div id="datagrid"></div>
{% endblock %}
