{% extends 'jecoute/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'id',
                        name: 'ID',
                        style: {
                            width: 25,
                        }
                    },
                    {
                        key: 'name',
                        name: 'Nom du questionnaire',
                    },
                    {
                        key: 'createdAt',
                        name: 'Date de création',
                    },
                    {
                        key: 'questionsCount',
                        name: 'Nombre de questions',
                    },
                    {
                        key: 'responsesCount',
                        name: 'Nombre de répondants',
                    },
                    {
                        key: 'zone',
                        name: 'Zone',
                        style: {
                            'min-width': 125,
                        }
                    },
                    {% if type == constant('App\\Jecoute\\SurveyTypeEnum::LOCAL') %}
                        {
                            key: 'author',
                            name: 'Créateur',
                        },
                    {% endif %}
                    {
                        key: 'publish',
                        name: "Publication",
                        style: {
                            width: 100,
                        }
                    },
                    {
                        key: 'menu',
                        name: 'Action',
                        menu: true,
                    },
                ],
                [
                {%- spaceless %}
                    {% for data in surveys %}
                        {% set survey = data[0] %}
                        {% set zone = survey is instanceof('App\\Entity\\Jecoute\\LocalSurvey') ? survey.zone %}

                        {% set row = {
                            id: survey.id,
                            name: survey.name,
                            createdAt: survey.createdAt|date('d/m/Y'),
                            questionsCount: data.questions_count,
                            responsesCount: data.responses_count,
                            zone: survey is instanceof('App\\Entity\\Jecoute\\LocalSurvey')
                                ? '<span class="adherent-dashboard-tag">'~('geo_zone.'~zone.type)|trans~'</span><br>'
                                    ~"<div class=\"b__nudge--top-10\">#{zone.name} (#{zone.code})</span>",
                            publish: survey.published ? '<span class="status status__1">Publié</span>' :
                                '<span class="status status__2">Non publié</span>',
                        } %}

                        {% if type == constant('App\\Jecoute\\SurveyTypeEnum::LOCAL') %}
                            {% set row = row|merge({
                                author: survey.author ? survey.author.fullName : 'Ancien adhérent',
                                menu: [
                                    {
                                        label: 'Éditer',
                                        url: path("app_jecoute_#{space_name}_local_survey_edit", {uuid: survey.uuid})
                                    },
                                    {
                                        label: 'Dupliquer',
                                        url: path("app_jecoute_#{space_name}_local_survey_duplicate", {uuid: survey.uuid})
                                    },
                                    {
                                        label: 'Statistiques',
                                        url: path("app_jecoute_#{space_name}_survey_stats", {uuid: survey.uuid})
                                    },
                                    {
                                        label: 'Télécharger les résultats',
                                        url: path("app_jecoute_#{space_name}_survey_stats", {uuid: survey.uuid, export: 'xls'})
                                    },
                                ]
                            }) %}
                        {% else %}
                            {% set row = row|merge({
                                menu: [
                                    {
                                        label: 'Voir',
                                        url: path("app_jecoute_#{space_name}_national_survey_show", {uuid: survey.uuid})
                                    },
                                    {
                                        label: 'Statistiques',
                                        url: path("app_jecoute_#{space_name}_survey_stats", {uuid: survey.uuid})
                                    },
                                    {
                                        label: 'Télécharger les résultats',
                                        url: path("app_jecoute_#{space_name}_survey_stats", {uuid: survey.uuid, export: 'xls'})
                                    },
                                ]
                            }) %}
                        {% endif %}

                        {{ row|json_encode|raw }},
                    {% endfor %}
                {% endspaceless -%}
                ]
            );
        });
    </script>
{% endblock %}

{% block jecoute_content %}
    <div class="datagrid__table__tabs">
        <div class="datagrid__pre-table b__nudge--bottom-larger">
            <h3>Questionnaires</h3>
            {% if not(space_name == constant('App\\Jecoute\\JecouteSpaceEnum::CANDIDATE_SPACE') and is_granted('ROLE_CANDIDATE_DEPARTMENTAL')) %}
                <a href="{{ path("app_jecoute_#{space_name}_local_survey_create") }}" class="btn-secondary btn-secondary--blue">
                    + Créer un questionnaire local
                </a>
            {% endif %}
        </div>

        <div class="alert alert--tips b__nudge--bottom-60">
            J’écoute vous permet de créer des questionnaires pour recueillir les impressions et les idées des citoyens sur la vie locale comme sur la politique nationale.
            Ils seront disponibles sur l'application mobile et consultables par les adhérent(e)s du territoire que vous gérez.
        </div>

        <nav class="tabs-nav b__nudge--bottom-larger">
            <ul>
                {% if type == constant('App\\Jecoute\\SurveyTypeEnum::LOCAL') %}
                    <li class="active">
                        <span class="tabs-nav__item">
                            Questionnaires locaux
                        </span>
                    </li>
                    <li>
                        <a class="tabs-nav__item" href="{{ path("app_jecoute_#{space_name}_national_surveys_list") }}">
                            Questionnaires nationaux
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a class="tabs-nav__item" href="{{ path("app_jecoute_#{space_name}_local_surveys_list") }}">
                            Questionnaires locaux
                        </a>
                    </li>
                    <li class="active">
                        <span class="tabs-nav__item">
                            Questionnaires nationaux
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div id="datagrid"></div>
{% endblock %}
