{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value and not value.isEmpty %}
        <span class="label label-success">Oui</span>
    {% else %}
        <span class="label label-danger">Non</span>
    {% endif %}
{% endblock %}
