{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% import 'admin/donation/_macros.html.twig' as macros %}

{% block field %}
    {% if value %}
        {{ value.amountInEuros|format_currency('EUR') }}
        le {{ value.lastSuccessDate|format_datetime }}
        {{ macros.get_donation_payment_method_badge(value.type) }}
    {% else %}
        <span class="label label-danger">Aucun don réussi pour l'instant</span>
    {% endif %}
{% endblock %}
