{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value %}
        {{ value.amountInEuros|localizedcurrency('EUR') }}
        le {{ value.createdAt|localizeddate('short', 'none') }}
        ({{ ('donation.status.' ~ value.status)|trans }})
    {% else %}
        <span class="label label-danger">Aucun don réussi pour l'instant</span>
    {% endif %}
{% endblock %}
