{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field_value %}
    <ul>
        {% for donation in object.donations %}
            <li>
                <a href="{{ path('admin_app_donation_show', { id: donation.id }) }}">Le {{ donation.createdAt|localizeddate('none', 'none', 'fr_FR', null, 'd MMM yyyy HH:mm') }} : {{ donation.amountInEuros|localizedcurrency('EUR') }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
