{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field_value %}
    <ul>
        {% for donation in object.donations %}
            <li>
                <a href="{{ path('admin_app_donation_show', {id: donation.id}) }}">Le {{ donation.createdAt|format_datetime('none', 'none', 'd MMM yyyy HH:mm') }} : {{ donation.amountInEuros|format_currency('EUR') }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
