{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title article.title %}
{% block meta_description article.description %}

{% block canonical_url url('app_formation_article', { 'slug': article.slug }) %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block base_stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/emoji.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main class="content espace-formation">
        <section class="espace-formation__article">
            {{ include('formation/_navbar.html.twig') }}
            <article class="l__wrapper--slim">
                {{ article.content|markdown }}
            </article>
        </section>
    </main>
{% endblock %}
