{% extends 'base.html.twig' %}

{% block app_title 'La République En Marche !' %}
{% block meta_description 'Espace de formation animateurs locaux' %}
{% block meta_rss '' %}

{% block open_graph_image (homepage_url ~ static_asset('pages-sharers/legislatives-trombi.jpg', {'q': 90, 'w': 1600, 'h': 800, 'fit': 'crop'}))|raw %}

{% block banner '' %}

{% block base_stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/emoji.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <header class="espace-formation__header">
        <div class="l__wrapper">
            {% block navMap %}
                {{ include('formation/_navbar.html.twig') }}
            {% endblock %}
        </div>
    </header>

    {% block content__outer %}
        <main class="espace-formation">
            {% block content__inner %}{% endblock %}
        </main>
    {% endblock %}
{% endblock %}
