<nav class="manager-sidebar__menu">
    <ul>
        <li class="menu-section">Coalition</li>

        <li class="{{ is_active_route(app.request, 'app_coalition_cause*') ? 'active' }}">
            <a href="{{ path('app_coalition_causes_list') }}">Causes</a>
        </li>

        <li class="{{ is_active_route(app.request, 'app_coalition_moderator_event_manager*') ? 'active' }}">
            <a href="{{ path('app_coalition_moderator_event_manager_coalition_events') }}">Événements</a>
        </li>
    </ul>
</nav>
