<ul class="documents__tree">
    {% for document in documents %}
        <li>
            {% if 'dir' == document.type %}
            <a href="{{ path('app_documents_directory', {'type': treeType, 'path': document.path}) }}">
            {% else %}
            <a href="{{ path('app_documents_file', {'type': treeType, 'path': document.path}) }}"
               target="_blank" rel="noopener noreferrer">
            {% endif %}
                <i class="fa fa-{{ document.icon }}"></i>
                {{ document.name }}
            </a>
        </li>
    {% endfor %}
</ul>
