@import './Comment/style';

.comments-list {
  background-color: $snow;
  padding: 15px;

  .comments-list__comment {
    margin-bottom: 15px;
  }

  &__replies > .comments-list {
    padding: 0 0 30px 70px;
  }

  &__collapse-button {
    @extend %reset-button;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &__icon-replies {
      margin-right: 9px;
    }

    &__icon-toggle {
      margin-left: 7px;
    }

    &__icon-toggle--rotate {
      transform: rotate(90deg);
    }

    &__label {
      font-size: 16px;
      color: $light-black;
    }
  }

  &__more {
    text-align: center;
    padding-bottom: 20px;

    &-btn {
      @extend %reset-button;
      color: $dark-aurometalsaurus;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &__form {
    position: relative;
    text-align: right;

    .text-area__input {
      resize: none;
      overflow: auto;
      min-height: 74px;
      padding: 15px;

      &,
      &::placeholder {
        font-size: 14px;
      }
    }

    &__button {
      cursor: pointer;
      width: 140px;
      height: 40px;
      margin-top: 10px;
      font-size: 14px;
      letter-spacing: 1.5px;
    }
  }

  .comments-list__empty {
    @extend %reset-button;
    position: relative;
    width: 100%;
    padding: 15px 15px 30px;
    text-align: center;
    font-size: 20px;
    font-family: $font-gillsans;
    color: $france;
    cursor: pointer;
    outline: none;

    &--highlight {
      border-bottom: 3px solid $pale-cerulean;
    }

    .comments-list__empty__toggle {
      position: absolute;
      right: 15px;
    }
  }

  &--closed {
    padding: 0;
    border: 1px solid $pale-sky;

    .comments-list__empty {
      padding: 30px;

      .comments-list__empty__toggle {
        right: 30px;
        transform: rotate(-90deg);
      }
    }
  }
}
