.voting-platform__results {
    .candidate-tabs--container {
        .candidate-tab .tab--container {
            display: flex;
            flex-direction: column;

            @media (min-width: $tablet) {
                flex-direction: row;
            }

            .candidates-block {
                flex-basis: 100%;
            }

            .election {
                &__aside {
                    flex: 0 0 100%;

                    @media (min-width: $tablet) {
                        flex: 0 0 300px;
                    }
                }

                &__participated {
                    background: $pink;
                    color: $white;
                    border-radius: 3px;
                    margin-bottom: 24px;

                    p {
                        margin: 0;
                    }
                }

                &__stats {
                    background-color: $white;
                    border-radius: 3px;

                    .el {
                        margin: 20px 0;

                        .title {
                            font-size: 16px;
                            color: $neutral-grey;
                            margin-bottom: 10px;
                        }

                        .value {
                            font-size: 28px;
                            color: $black;
                            font-weight: bold;
                        }
                    }
                }

                &__ballots-detail {
                    width: 100%;

                    .table--container {
                        background: $white;
                        padding: 40px;
                        overflow: auto;
                        box-sizing: border-box;
                        max-width: 100%;

                        table {
                            width: 100%;
                            min-width: 750px;
                        }
                    }
                }
            }
        }
    }

    .progress-bar {
        flex-grow: 1;

        &__gauge {
            flex-basis: 100%;
            height: 12px;
            border-radius: 6px;
            background: $gray--lighter;

            .slider {
                height: 100%;
                border-radius: 6px;
            }
        }

        &__value {
            flex: 0 0 54px;
            font-size: 18px;
            color: $black;
            font-weight: bold;
        }
    }
}

.voting-platform-theme__local_poll {
    .voting-platform__results {
        .results__menu {
            margin: 15px 0;

            li {
                display: inline;
                margin-right: 15px;

                &.active {
                    font-weight: bold;
                }
            }
        }

        .candidate__box {
            .pool-name,
            .candidate-photo {
                display: none;
            }

            .candidate-gender {
                height: auto;
                width: auto;
                padding: 0 2px;
            }

            .elected-tag {
                display: inline-block;
                padding: 5px;
                font-size: 12px !important;
                line-height: 14px !important;
                vertical-align: middle;
                font-weight: bold;
                background: $yellow;

                &--small {
                    padding: 2px;
                }
            }
        }
    }
}
