{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title 'Formations' %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6">
        {% if national_formations is not empty %}
            <h1 class="text-3xl font-bold leading-10 text-gray-900">Formations nationales</h1>

            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-6">
                {% for formation in national_formations %}
                    {{ include('renaissance/formation/_formation_preview.html.twig', {formation: formation}) }}
                {% endfor %}
            </div>
        {% endif %}

        {% if local_formations is not empty %}
            <h1 class="text-3xl font-bold leading-10 text-gray-900">Formations locales</h1>

            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-6">
                {% for formation in local_formations %}
                    {{ include('renaissance/formation/_formation_preview.html.twig', {formation: formation}) }}
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}
