{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <div class="referent__menu-list-event">
        <div class="menu-items">
            <h3>Candidats colistiers</h3>
            <span class="separator">|</span>
            <h3><a href="{{ path('app_referent_municipal_volunteer_request') }}">Candidats bénévoles</a></h3>
        </div>
    </div>

    <div id="datagrid"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'gender',
                        name: 'Genre',
                    },
                    {
                        key: 'lastName',
                        name: 'Nom',
                    },
                    {
                        key: 'firstName',
                        name: 'Prénom',
                    },
                    {
                        key: 'phone',
                        name: 'Téléphone',
                    },
                    {
                        key: 'favoriteCities',
                        name: 'Ville(s) choisie(s)',
                    },
                    {
                        key: 'tags',
                        name: 'Tags de candidature',
                        className: 'municipal-candidate-tags',
                    },
                    {
                        key: 'isAdherent',
                        name: 'Adhérent ?',
                    },
                    {
                        key: 'menu',
                        name: 'Action',
                        menu: true,
                    },
                ],
                [
                    {% for request in running_mates %}
                        {% include 'application_request/municipal/_running_mate_row.js.twig' with {
                            show_route_name: 'app_referent_municipal_running_mate_request_detail',
                            edit_route_name: 'app_referent_municipal_running_mate_request_edit_tags',
                        } %},
                    {% endfor %}
                ]
            );
        });
    </script>
{% endblock %}
