version: 2
updates:
    - package-ecosystem: 'docker'
      directory: '/'
      schedule:
          interval: 'daily'
      labels:
          - 'dependencies'

    - package-ecosystem: 'composer'
      directory: '/'
      schedule:
          interval: 'daily'
      versioning-strategy: increase-if-necessary
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      labels:
          - 'dependencies'
      groups:
          symfony-framework:
              patterns:
                  - 'symfony/*'
                  - 'twig/*'
          admin:
              patterns:
                  - 'sonata-project/*'
          db:
              patterns:
                  - 'doctrine/*'
          code-quality:
              patterns:
                  - 'friendsofphp/php-cs-fixer'
                  - 'vincentlanglet/twig-cs-fixer'
                  - 'phpstan/*'
          test:
              patterns:
                  - 'behat/*'
                  - 'friends-of-behat/*'
                  - 'phpunit/*'
                  - 'coduo/php-matcher'
                  - 'dama/doctrine-test-bundle'
                  - 'fakerphp/faker'

    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'daily'
      versioning-strategy: increase-if-necessary
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      labels:
          - 'dependencies'
      groups:
          react-core:
              patterns:
                  - 'react'
                  - 'react-dom'
          tiptap:
              patterns:
                  - '@tiptap/*'
          babel:
              patterns:
                  - '@babel/*'

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'daily'
