version: 2
updates:
    - package-ecosystem: 'docker'
      directory: '/'
      schedule:
          interval: 'daily'
      labels:
          - 'dependencies'

    - package-ecosystem: 'composer'
      directory: '/'
      schedule:
          interval: 'daily'
      versioning-strategy: increase-if-necessary
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      labels:
          - 'dependencies'

    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'daily'
      versioning-strategy: increase-if-necessary
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      labels:
          - 'dependencies'

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'daily'
