api_platform:
    name_converter: serializer.name_converter.camel_case_to_snake_case
    use_symfony_listeners: true
    resource_class_directories:
        - '%kernel.project_dir%/src/Entity'
    enable_docs: false
    enable_swagger_ui: false
    enable_entrypoint: false
    exception_to_status:
        ApiPlatform\Validator\Exception\ValidationException: !php/const Symfony\Component\HttpFoundation\Response::HTTP_BAD_REQUEST
        Symfony\Component\Serializer\Exception\NotNormalizableValueException: !php/const Symfony\Component\HttpFoundation\Response::HTTP_BAD_REQUEST
    formats:
        json:
            mime_types: ['application/json']
        multipart:
            mime_types: ['multipart/form-data']
    error_formats:
        jsonproblem:
            mime_types: ['application/problem+json']
    patch_formats:
        json: ['application/json']
    collection:
        pagination:
            items_per_page_parameter_name: page_size
    defaults:
        normalization_context:
            skip_null_values: false
        extra_properties:
            standard_put: false
        pagination_items_per_page: 10
        pagination_maximum_items_per_page: 100
        pagination_client_items_per_page: true
