doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:           pdo_mysql
                charset:          UTF8
                host:             "%env(DATABASE_HOST)%"
                port:             "%env(DATABASE_PORT)%"
                dbname:           "%env(DATABASE_NAME)%"
                user:             "%env(DATABASE_USER)%"
                password:         "%env(DATABASE_PASSWORD)%"
                unix_socket:      "%env(DATABASE_SOCKET)%"
                server_version:   5.7
                options:
                    1002: "SET sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''))"
                schema_filter: '#^(?!rememberme_token)#'
            pgsql:
                driver: pdo_pgsql
                url: '%env(resolve:PGSQL_DSN)%'
                schema_filter:  ~^(?!(public|topology|tiger))~

        types:
            uuid:           Ramsey\Uuid\Doctrine\UuidType
            phone_number:   Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType
            geo_point:      App\Doctrine\DBAL\Types\GeoPointType
            geometry:       CrEOF\Spatial\DBAL\Types\GeometryType
            polygon:        CrEOF\Spatial\DBAL\Types\Geometry\PolygonType
            multipolygon:   CrEOF\Spatial\DBAL\Types\Geometry\PolygonType

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        default_entity_manager: default
        entity_managers:
            default:
                connection: default
                naming_strategy: doctrine.orm.naming_strategy.underscore
                auto_mapping: false
                mappings:
                    App:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/src/Entity'
                        prefix: 'App\Entity'
                        alias: App

                filters:
                    softdeleteable:
                        class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                        enabled: true
                    enabled:
                        class:   App\Doctrine\Filter\EnabledFilter
                        enabled: true

                dql:
                    datetime_functions:
                        year_month: DoctrineExtensions\Query\Mysql\YearMonth
                        timestampdiff: DoctrineExtensions\Query\Mysql\TimestampDiff
                        convert_tz: DoctrineExtensions\Query\Mysql\ConvertTz
                        now: DoctrineExtensions\Query\Mysql\Now
                        date: DoctrineExtensions\Query\Mysql\Date
                    numeric_functions:
                        acos: DoctrineExtensions\Query\Mysql\Acos
                        cos: DoctrineExtensions\Query\Mysql\Cos
                        radians: DoctrineExtensions\Query\Mysql\Radians
                        sin: DoctrineExtensions\Query\Mysql\Sin
                        st_geomfromtext: CrEOF\Spatial\ORM\Query\AST\Functions\MySql\GeomFromText
                        st_within: CrEOF\Spatial\ORM\Query\AST\Functions\MySql\STWithin
                        point: CrEOF\Spatial\ORM\Query\AST\Functions\MySql\Point
                    string_functions:
                        json_contains: App\Query\Mysql\JsonContains
                        find_in_set: DoctrineExtensions\Query\Mysql\FindInSet
                        json_length: Scienta\DoctrineJsonFunctions\Query\AST\Functions\Mysql\JsonLength
                        substring_index: DoctrineExtensions\Query\Mysql\SubstringIndex
                        group_concat: DoctrineExtensions\Query\Mysql\GroupConcat
                        concat_ws: DoctrineExtensions\Query\Mysql\ConcatWs
                        replace: DoctrineExtensions\Query\Mysql\Replace
                        if: DoctrineExtensions\Query\Mysql\IfElse

                hydrators:
                    EventHydrator: App\Doctrine\Hydrators\EventHydrator

            pgsql:
                connection: pgsql
                naming_strategy: doctrine.orm.naming_strategy.underscore
                auto_mapping: false
                mappings:
                    Pgsql:
                        is_bundle: false
                        type: annotation
                        dir: '%kernel.project_dir%/src/EntityPgsql'
                        prefix: 'App\EntityPgsql'
                        alias: Pgsql
