exercise_html_purifier:
    default_cache_serializer_path: '%kernel.cache_dir%/htmlpurifier_bundle_cache'
    html_profiles:
        default:
            config:
                Core.Encoding: 'UTF-8'
        event:
            config:
                HTML.Allowed: p,em,strong,ol,ul,li,br,a[href|title|rel|target]
