exercise_html_purifier:
    default:
        Core.Encoding: 'UTF-8'
        Cache.SerializerPermissions: ~
    enrich_content:
        HTML.AllowedElements: p,h1,h2,h3,h4,h5,h6,div,address,center,em,strong,pre,div,u,s,ol,ul,li,br,img,a,iframe
        HTML.AllowedAttributes: "*.style,img.src,img.alt,a.href,a.target,*.class,iframe.src,iframe.width,iframe.height,iframe.frameborder"
        HTML.SafeIframe: true
        URI.SafeIframeRegexp: '#^(https?:)?(\/\/www\.youtube(?:-nocookie)?\.com\/embed\/)#'
        Attr.AllowedFrameTargets: "_blank"
        CSS.AllowedProperties: text-align,border-style,border-width,float,height,width,margin
        AutoFormat.Custom:
            - '@AppBundle\HTMLPurifier\Injector\ImageDimension'
