framework:
    secret: '%env(SECRET)%'
    form: ~
    csrf_protection: ~
    serializer:
        name_converter: 'serializer.name_converter.camel_case_to_snake_case'
    trusted_hosts: ~
    session:
        name: renaissance
        handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler
    fragments: ~
    http_method_override: true
    assets:
        json_manifest_path: '%kernel.project_dir%/public/built/manifest.json'
    cache:
        app: cache.adapter.redis_tag_aware
        default_redis_provider: '%env(REDIS_DSN)%'
        pools:
            app.cache.redirection: ~
            app.cache.france_cities: ~
            app.cache.geocoder: ~
            app.cache.event_notifications: ~
