framework:
    http_client:
        default_options:
            timeout: 15
        scoped_clients:
            national_event_webhook.client:
                base_uri: '%env(NATIONAL_EVENT_WEBHOOK_HOST)%'
            national_event_export.client:
                base_uri: '%env(NATIONAL_EVENT_EXPORT_HOST)%'
            template_webhook.client:
                base_uri: '%env(PRODUCTION_WEBHOOK_HOST)%'
                auth_bearer: '%env(TEMPLATE_WEBHOOK_KEY)%'
            friendly_captcha.client:
                base_uri: 'https://eu-api.friendlycaptcha.eu'
            mailchimp_signup.client:
                base_uri: '%env(MAILCHIMP_SIGNUP_HOST)%'
            geo_gouv.client:
                base_uri: 'https://geo.api.gouv.fr'
            moodle.client:
                base_uri: '%env(MOODLE_WS_URL)%'
                query:
                    wstoken: '%env(MOODLE_WS_TOKEN)%'
                    moodlewsrestformat: json
            mandrill.client:
                base_uri: 'https://mandrillapp.com/api/1.0/'
                timeout: 60
            mailchimp.client:
                base_uri: 'https://us16.api.mailchimp.com'
                auth_bearer: '%env(MAILCHIMP_API_KEY)%'
                headers:
                    'User-Agent': 'Renaissance'
                timeout: 60
            ohme.client:
                base_uri: 'https://api-ohme.oneheart.fr/api/v1/'
                timeout: 60
                headers:
                    'Accept': 'application/json'
                    'client-name': '%env(OHME_CLIENT_NAME)%'
                    'client-secret': '%env(OHME_CLIENT_SECRET)%'
            google_place.client:
                base_uri: 'https://maps.googleapis.com/maps/api/place/'
            ogone.client:
                base_uri: '%env(OGONE_DIRECT_URL)%'
