parameters:
    env(RABBITMQ_DSN): 'amqp://%env(RABBITMQ_USER)%:%env(RABBITMQ_PASSWORD)%@%env(RABBITMQ_HOST)%:%env(RABBITMQ_PORT)%/%2f?lazy=0&connection_timeout=10&read_write_timeout=10&heartbeat=5'

framework:
    messenger:
        serializer:
            default_serializer: messenger.transport.symfony_serializer
            symfony_serializer:
                format: json
                context: { }
        transports:
            default:
                dsn: "%env(RABBITMQ_DSN)%"
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.command' }
                    queues:
                        default: { binding_keys: ['async.command'] }
            mailchimp_sync:
                dsn: "%env(RABBITMQ_DSN)%"
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'mailchimp.sync' }
                    queues:
                        mailchimp_sync: { binding_keys: ['mailchimp.sync'] }
            mailchimp_campaign:
                dsn: "%env(RABBITMQ_DSN)%"
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'mailchimp.campaign' }
                    queues:
                        mailchimp_campaign: { binding_keys: ['mailchimp.campaign'] }
        routing:
            App\Mailchimp\CampaignMessageInterface: mailchimp_campaign
            App\Mailchimp\SynchronizeMessageInterface: mailchimp_sync
            App\Messenger\Message\AsynchronousMessageInterface: default
