parameters:
    env(RABBITMQ_CONNECT_TIMEOUT): '10'
    env(RABBITMQ_READ_TIMEOUT): '250'
    env(RABBITMQ_WRITE_TIMEOUT): '250'
    env(RABBITMQ_HEARTBEAT): '120'

    env(RABBITMQ_DSN): 'phpamqplib://%env(RABBITMQ_USER)%:%env(RABBITMQ_PASSWORD)%@%env(RABBITMQ_HOST)%:%env(RABBITMQ_PORT)%/%2f?connect_timeout=%env(RABBITMQ_CONNECT_TIMEOUT)%&read_timeout=%env(RABBITMQ_READ_TIMEOUT)%&write_timeout=%env(RABBITMQ_WRITE_TIMEOUT)%&heartbeat=%env(RABBITMQ_HEARTBEAT)%&keepalive=1'

framework:
    messenger:
        buses:
            messenger.bus.default:
                middleware:
                    # each time a message is handled, the Doctrine connection
                    # is "pinged" and reconnected if it's closed. Useful
                    # if your workers run for a long time and the database
                    # connection is sometimes lost
                    - doctrine_ping_connection

                    - App\Messenger\LockMiddleware

                    # After handling, the Doctrine connection is closed,
                    # which can free up database connections in a worker,
                    # instead of keeping them open forever
                    - doctrine_close_connection
        serializer:
            default_serializer: messenger.transport.symfony_serializer
            symfony_serializer:
                format: json
                context: {}
        failure_transport: failed
        transports:
            failed: 'doctrine://default?queue_name=failed'
            default:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.command' }
                    queues:
                        default: { binding_keys: ['async.command'] }
            pap:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.pap' }
                    queues:
                        pap: { binding_keys: ['async.pap'] }
            mailchimp_sync:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'mailchimp.sync' }
                    queues:
                        mailchimp_sync: { binding_keys: ['mailchimp.sync'] }
            mailchimp_campaign:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'mailchimp.campaign' }
                    queues:
                        mailchimp_campaign: { binding_keys: ['mailchimp.campaign'] }
            notification:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.notification' }
                    queues:
                        notification: { binding_keys: ['async.notification'] }
            chatbot:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    max_retries: 20
                    delay: 3000
                    multiplier: 1
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.chatbot' }
                    queues:
                        chatbot: { binding_keys: ['async.chatbot'] }
            event:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.event' }
                    queues:
                        event: { binding_keys: ['async.event'] }
            cronjob:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.cronjob' }
                    queues:
                        cronjob: { binding_keys: ['async.cronjob'] }
            sequential:
                dsn: '%env(RABBITMQ_DSN)%'
                retry_strategy:
                    delay: 10000
                options:
                    exchange: { name: 'messenger-topic', type: 'topic', default_publish_routing_key: 'async.sequential' }
                    queues:
                        sequential: { binding_keys: ['async.sequential'] }
        routing:
            App\Chatbot\Command\RefreshThreadCommand: chatbot
            App\Event\Command\EventNotificationCommandInterface: event
            App\Mailchimp\CampaignMessageInterface: mailchimp_campaign
            App\Mailchimp\SynchronizeMessageInterface: mailchimp_sync
            App\Mailer\Command\AsyncSendMessageCommand: notification
            App\Messenger\Message\AsynchronousMessageInterface: default
            App\Messenger\Message\CronjobMessageInterface: cronjob
            App\Messenger\Message\SequentialMessageInterface: sequential
            App\Notifier\AsyncNotificationInterface: notification
            App\Pap\Command\AsynchronousMessageInterface: pap
