{{ introduction.content|replace({'%friend_first_name%': invitation.friendFirstName|e})|raw }}

{% spaceless %}
    <ul>
        {% if gender_choice %}
            <li>{{ gender_choice.content|raw }}</li>
        {% endif %}
        {% for argument in invitation.arguments %}
            <li>{{- argument|raw }}</li>
        {% endfor %}
    </ul>
{% endspaceless %}

{{ conclusion.content|raw }}
