<a href="{{ path('app_admin_phoning_campaign_stats', {'id': object.id}) }}" class="btn btn-sm btn-default view_link"
   title="Avancement de l'objectif" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Avancement de l'objectif
</a>
