{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    {{ include('referent/territorial_council/_instances_nav.html.twig') }}

    <main>
        <section class="b__nudge--bottom-huge">
            {% block designation_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
