{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <main>
        <section class="b__nudge--bottom-huge">
            {% block designation_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
