{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.status == constant('STATUS_NONE', object) %}
        <span class="label label-default">Pas de résultat</span>
    {% elseif object.status == constant('STATUS_LOST', object) %}
        <span class="label label-danger">Non qualifié</span>
    {% elseif object.status == constant('STATUS_QUALIFIED', object) %}
        <span class="label label-primary">Qualifié</span>
    {% elseif object.status == constant('STATUS_WON', object) %}
        <span class="label label-success">Elu</span>
    {% endif %}
{% endblock %}
