{
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "single"],
    "no-var": ["error"],
    "no-underscore-dangle": "off",
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error"],
    "eol-last": ["error"],
    "yoda": ["error", "always"]
  }
}
