/app/config/parameters.yml
/app/data/images/
/build/
/node_modules/
/var/
/vendor/
/web/bundles/
/web/built/
/.tmp
/docker-compose.override.yml
/gcloud-service-key.json
/npm-debug.log
/phpunit.xml
/supervisord.log
/supervisord.pid
