/app/data/images/
/app/data/files/
/app/data/chez-vous/
/app/data/timeline/
/app/data/user_documents/
/app/data/elections/
/build/
/var/
/vendor/
/public/css/cropper.min.css
/public/bundles/
/public/built/
/public/select2/
/.tmp
/compose.override.yml
/gcloud-service-key.json
/npm-debug.log
/phpunit.xml
/.phpunit.result.cache
/yarn-error.log
/.php_cs
/behat.yml
/docker-dev.lock
node_modules
.idea
/.env.local
/.env.local.php
/.env.*.local
*.DS_Store
.yarn
