default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\BrowserContext:
                    timeout: 3
                - Behatch\Context\XmlContext
                - FixtureContext:
                    manager: "@doctrine.orm.default_entity_manager"
                - RestContext:
                    sslPrivateKey: "%%ssl_private_key%%"
                    entityManager: "@doctrine.orm.default_entity_manager"
                - JsonContext
                - RabbitMqContext:
                    container: "@service_container"
                - SyncWithAPIContext:
                    doctrine: "@doctrine"
                    dispatcher: "@event_dispatcher"
                - EmailContext
                - ReferentTagContext:
                    adherentRepository: "@AppBundle\\Repository\\AdherentRepository"
                - SecurityContext
                - FeatureContext
                - DonationContext
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: AppBundle\Kernel
        Behat\MinkExtension:
            base_url: "http://test.enmarche.code"
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2:
                        capabilities:
                            version: ''
                        wd_host: http://selenium:4444/wd/hub
        Behatch\Extension: ~
