version: "2"

services:
    #nginx-proxy:
    #    image: jwilder/nginx-proxy
    #    ports:
    #        - "80:80"
    #    volumes:
    #        - /var/run/docker.sock:/tmp/docker.sock:ro

    #enmarche.dev:
    #    volumes:
    #        - "~/.composer:/root/.composer"
    #    ports:
    #        - "8000:80"
    #    environment:
    #        - BLACKFIRE_CLIENT_ID
    #        - BLACKFIRE_CLIENT_TOKEN

    #rabbitmq:
    #    ports:
    #        - "15672:15672"

    #enmarche_db:
    #    ports:
    #        - "3306:3306"

    pma:
        image: phpmyadmin/phpmyadmin
        depends_on:
            - enmarche_db
        environment:
            PMA_HOST: enmarche_db
            PMA_USER: root
            PMA_PASSWORD: root
        ports:
            - "8080:80"

#    blackfire:
#        image: blackfire/blackfire
#        environment:
#            BLACKFIRE_LOG_LEVEL: 4
#            BLACKFIRE_SERVER_ID:
#            BLACKFIRE_SERVER_TOKEN:
