version: "3.7"

# You can connect other docker app like api.en-marche.fr by setting up an external network.
# First, create that network by running `docker network create enmarche`.
# Then you can uncomment this section and specify networks required by each
# container by also uncommenting services.app.networks section for example.
# If you want to share the RabbitMQ container, make sure all your app are configured
# with the right connection config.

networks:
    proxy:
        external:
            name: proxy

services:
    nginx:
        networks:
            default:
                aliases:
                    - front.enmarche.code
                    - test.enmarche.code
                    - enmarche.code
            proxy:
                aliases:
                    - front.enmarche.code
                    - test.enmarche.code
                    - enmarche.code
        volumes:
            - "~/.composer:/home/enmarche/.composer"
        environment:
            - VIRTUAL_HOST=front.enmarche.code,enmarche.code,test.enmarche.code,m.enmarche.code
            - VIRTUAL_PORT=80

#    rabbitmq:
#        networks:
#            default: ~
#            proxy:
#                aliases:
#                    - rabbitmq-enmarche
#        environment:
#            - VIRTUAL_HOST=rabbitmq.enmarche.code
#            - VIRTUAL_PORT=15672
#        ports:
#            - '5672:5672'

    db:
        ports:
            - "3306:3306"

#    blackfire:
#        image: blackfire/blackfire
#        environment:
#            BLACKFIRE_LOG_LEVEL: 4
#            BLACKFIRE_SERVER_ID:
#            BLACKFIRE_SERVER_TOKEN:
    redis:
        ports:
            - 6379:6379

#    selenium:
#        networks:
#            - default
#            - proxy
#        ports:
#            - 5900:5900
