parameters:
    level: 1
    tmpDir: var/phpstan-tmp
    paths:
        - src
        - config
        - migrations
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        -
            identifier: doctrine.columnType
        -
            identifier: doctrine.associationType
