{% extends 'procuration/_layout.html.twig' %}

{% block page_title 'Merci de votre confiance ! - Procuration' %}

{% block procuration_content %}
    <section class="procuration__thanks l__wrapper--slim text--center space--60-0">
        {{ cms_block('procuration-request-thanks-content') }}

        <p>
            <a href="{{ path('app_procuration_landing') }}" class="btn">
                Recommencer
            </a>
        </p>

        <p><a href="https://avecvous.fr" class="text--summary">Retourner sur avecvous.fr</a></p>

        <p class="text--summary b__nudge--top-50">
            {{ cms_block('procuration-support-contact') }}
        </p>
    </section>
{% endblock %}
