{% spaceless %}
    {% set row = {
        gender: request.gender ? ('common.gender.' ~ request.gender)|trans,
        lastName: request.lastName,
        firstName: request.firstName,
        phone: request.phone|phone_number_format,
        favoriteCities: request.favoriteCitiesNames|join(', '),
        createdAt: request.createdAt|date('d/m/Y à H:i'),
        isAdherent: request.adherent ?
            '<span class="status status__1">Oui</span>'
            : '<span class="status status__2">Non</span>',
        menu: menu|default([])
    }|merge(columns|default({})) %}

    {{ row|json_encode|raw }}
{% endspaceless %}
