{% spaceless %}
    {% set row = {
        gender: request.gender ? ('common.gender.' ~ request.gender)|trans,
        lastName: request.firstName,
        firstName: request.lastName,
        phone: request.phone|phone_number_format,
        favoriteCities: request.favoriteCitiesNames|join(', '),
        tags: request.tags ? '<span>' ~ request.tags|join('</span><span>') ~ '</span>',
        createdAt: request.createdAt|date('d/m/Y à H:i'),
        updatedAt: request.updatedAt|date('d/m/Y à H:i'),
        isAdherent: request.adherent ?
            '<span class="status status__1">Oui</span>'
            : '<span class="status status__2">Non</span>',
        menu: [
            {
                label: 'Plus d\'infos',
                url: path(show_route_name, {uuid: request.uuid})
            },
            {
                label: 'Taguer',
                url: path(edit_route_name, {uuid: request.uuid})
            }
        ]|merge(menu|default([]))
    }|merge(columns|default({})) %}

    {{ row|json_encode|raw }}
{% endspaceless %}
