{% extends base_template %}

{% set target_sub_space = target_sub_space|default('candidate') %}

{% block application_request_main_block  %}
    <div class="referent__menu-list-event">
        <div class="menu-items">
            {% if request_type == constant('AppBundle\\ApplicationRequest\\ApplicationRequestTypeEnum::RUNNING_MATE') %}
                <h3>Candidats colistiers</h3>
                <span class="separator">|</span>
                <h3><a href="{{ path("app_#{space_name}_#{target_sub_space}_volunteer_list") }}">Candidats bénévoles</a></h3>
            {% else %}
                <h3><a href="{{ path("app_#{space_name}_#{target_sub_space}_running_mate_list") }}">Candidats colistiers</a></h3>
                <span class="separator">|</span>
                <h3>Candidats bénévoles</h3>
            {% endif %}
        </div>
    </div>

    <div id="datagrid"></div>
{% endblock %}

{% block javascripts %}
    {% include "#{space_name}/_application_request_datagrid.html.twig" %}
{% endblock %}
