{% set target_sub_space = 'my_team' %}

{% extends 'application_request/space/list.html.twig' %}

{% block help_message_block '' %}

{% block cta_contact_team %}
    <a class="btn-type-table m-auto--right" href="{{ path('app_message_municipal_chief_create') }}">+ Contacter mon équipe</a>
{% endblock %}
