{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% set editPath = path('admin_app_myeuropechoice_edit', { id: object.id }) %}
{% set deletePath = path('admin_app_myeuropechoice_delete', { id: object.id }) %}

{% block field %}
    <div style="width: 100px; margin-top: 5px;">
        <a href="{{ editPath }}" class="btn btn-xs btn-default" title="Éditer">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Éditer
        </a>
    </div>

    <div style="width: 100px; margin-top: 5px;">
        <a href="{{ deletePath }}" class="btn btn-xs btn-default" title="Supprimer">
            <i class="fa fa-times" aria-hidden="true"></i>
            Supprimer
        </a>
    </div>
{% endblock %}
