<main class="invitation-result">
    <h2>Invitation à adhérer à LaREM</h2>

    <p>Votre invitation à rejoindre La République En Marche a bien été envoyée. Merci !</p>

    <p><a href="{{ back_url }}" class="btn btn--blue">Retourner à l'accueil</a></p>
</main>
