<div class="candidate__box l__row l__row--v-stretch b__nudge--bottom-medium">
    {{ form_widget(form) }}
    {{ form_label(form, ' ') }}

    {% include 'voting_platform/vote_step/candidate_box/' ~ (designation.isExecutiveOfficeType ? 'burex' : 'default') ~ '_content.html.twig' %}
</div>
