<twig:Atoms:ReParagraphStatus status="info" class="w-full justify-center" slim="true">
    Vérification en cours ...
</twig:Atoms:ReParagraphStatus>

<div class="relative flex h-6 w-6 items-center justify-center">
    <div class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></div>
    <div class="relative inline-flex rounded-full h-5 w-5 bg-sky-500"></div>
</div>

<div class="font-medium text-center">Nous attendons la validation de votre banque.</div>
