.button {
  cursor: pointer;
  padding: 7px 15px;
  height: 40px;
  font-size: 14px;
  text-decoration: none;
}

.button--primary {
  font-family: $font-gillsans;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  border: 1px solid $blue;
}

.button--primary:hover {
  background-color: $marine-blue;
  color: $white;
}

.button--secondary {
  @extend .button;
  font-family: $font-gillsans;
  background-color: $white;
  color: $blue;
  text-transform: uppercase;
  border: 1px solid $blue;
}

.button--secondary:hover {
  background-color: $marine-blue;
  border-color: $marine-blue;
  color: $white;
}

.button--tertiary {
  @extend .button;
  font-family: $font-gillsans;
  background-color: $white;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $black;
}

.button--tertiary:hover {
  background-color: $black;
  color: $white;
}

.button--transparent {
  @extend .button;
  background: transparent;
  border: none;
}
