%reset-button {
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  //inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  //Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
  line-height: normal;

  // Corrects font smoothing for webkit
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  // Corrects inability to style clickable `input` types in iOS
  -webkit-appearance: none;

  // remove focus arround button on a click
  // &:focus {
  //   outline: none;
  // }
}

%sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}
