.vote-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid $grey-sky;
  border-radius: 2px;
  background-color: $white;
  color: $sky;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    border: 1px solid $french-sky-blue;
    opacity: 1;
    color: $french-sky-blue;
  }

  &--selected {
    border: 1px solid $blue;
    color: $blue;
    background-color: $alice-blue;
  }
  &--selected:hover {
    border: 1px solid $blue;
    color: $blue;
    background-color: white;
  }

  .vote-button__flag {
    font-family: $font-roboto;
    font-size: 15px;
    font-weight: bold;
    color: $pale-cerulean;

    position: absolute;
    right: 8px;

    z-index: 5;

    opacity: 0;

    .up > & {
      animation: slide-up 500ms ease-out;
    }
    .down > & {
      animation: slide-down 500ms ease-out;
    }
  }

  @media #{$mobile} {
    .vote-button__flag {
      font-size: 18px;
      right: 8px;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    25% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translateY(-40px);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    25% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translateY(40px);
    }
  }
}
