.programme__banner,
.bercy__banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 53%;
    background-size: 54%;
    background-color: black;
    @include gradient-container;

    > div {
        position: relative;
        z-index: 1;
    }

    svg {
        path {
            @include color-stroke(white);
        }

        &:hover {
            path {
                @include hover-stroke(white);
            }
        }
    }

    &:before {
        @include classic-gradient($gradient--program-left);
        width: 528px;
    }

    &:after {
        @include classic-gradient($gradient--program-right);
        left: 60%;
        width: 20%;
    }
}

.bercy__banner {
    background-color: #060608;
    background-position: left center;
    background-size: 40%;
    background-size: contain;

    &:before,
    &:after {
        background: none;
    }
}

.newsletter__banner {
    color: black;

    > div {
        position: relative;
        z-index: 1;
    }

    svg {
        path {
            @include color-stroke(black);
        }

        &:hover {
            path {
                @include hover-stroke(black);
            }
        }
    }

    &__btn {
        margin: 7px 0 0 20px;
    }

    @media (max-width: $tablet) {
        br {
            display: none;
        }

        > div {
            flex-direction: column;

            div:first-child {
                max-width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }

            div:child(2) {
                display: flex;
                justify-content: center;
            }
        }
    }

    @media (max-width: $mobile) {
        input,
        button,
        form,
        &__form {
            width: 100%;
        }

        button {
            margin-top: 5px;
        }
    }
}

.macron__banner {
    background: $pink;
    flex-basis: 365px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 15px;
    box-sizing: border-box;

    @media (max-width: $tablet) {
        img {
            margin-bottom: 25px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    a {
        @include text--medium;
        font-weight: bold;
        color: white;
        border: 1px solid white;
        text-align: center;
        padding: 15px 0;
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }

        &:hover {
            background: white;
            color: $pink;
        }
    }

    &--row {
        flex-direction: row;
        padding: 30px 0;
        height: auto;

        @media (max-width: $tablet) {
            flex-direction: column;
        }

        img {
            width: 160px;
        }

        .macron__banner__links {
            flex-direction: row;
            margin-left: 20px;

            @media (max-width: $tablet) {
                margin: 0;
            }

            @media (max-width: $mobile) {
                flex-direction: column;
            }
        }

        a {
            margin: 0 15px 0 0;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: $mobile) {
                margin: 0 0 10px 0;
            }
        }
    }
}

.video__banner {
    flex: 2;
    margin: 0 auto;
}
