*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // hide overflow on IE11
    -ms-overflow-x: hidden;

    font-size: 16px;
    line-height: 24px;
    font-family: $font-gillsans;

    // Sets the default color in case the visitor has changed them
    background-color: $defaultBackgroundColor;
    color : $defaultTextColor;

    -webkit-font-smoothing: antialiased;
    -moz-osk-font-smoothing: grayscale;
}

svg path,
svg polyline,
svg polygon {
    transition: all 0.45s;
}

@mixin link--no-decor {
    border: none;
}

a {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    transition: all 0.2s;

    &:hover {
        @include hover(black);

        path,
        polygon {
            @include hover(black);

            &.stroke {
                @include hover-stroke(black);
            }
        }

        polyline {
            @include hover-stroke(black);
        }
    }

    &.link--no-decor {
        @include link--no-decor;
    }

    &.link--block {
        display: block;
    }

    &.link--blue {
        color: $blue;
        border-color: $blue;

        &:hover {
            @include hover($blue);
        }
    }

    &.link--padding {
        padding-right: 40px;
    }

    &.link--newblue { // temporary until we update our color palette
        color: $blue--dark;
        border-color: transparent;

        &:hover {
            border-color: $blue--dark;
        }
    }

    &.link--red {
        color: $red;
        border-color: transparent;

        &:hover {
            border-color: $red;
        }
    }

    &.link--white {
        @include link--white;
    }
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    margin: 15px 0;
    color: $gray--light; /* old IE */
    background-color: $gray--light; /* Modern Browsers */
}

input[type="text"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
}

.cc-window a {
    border-bottom: 0;
}

table {
    border-collapse: collapse;
}

.cursor--pointer {
    cursor: pointer;
}
