.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid $gray--light;
    padding-top: 75px;

    h1 {
        @include wrapper--slim;
        @include text--extra-large;
        text-align: center;
    }

    p {
        @include wrapper--600;
        @include text--medium-small;
        font-family: $font-roboto;
        padding: 20px 0;
        font-weight: normal;
        text-align: center;
    }

    img {
        @include wrapper;
    }

    &__graphic--atop {
        z-index: 100;
        padding: 10px 0 40px;
        display: flex;
        align-items: center;
    }
}

.hero--simple {
    padding: 75px 0;
}

.hero--minimalist {
    padding-top: 0;
    color: white;

    &--center-20 {
        background-position: center 20%;
    }

    &__nav {
        @include wrapper;
        padding: 30px 0;
        position: relative;

        a {
            @include text--logo;
            @include link--no-decor;
            color: white;
            text-align: center;
        }
    }

    &__content {
        padding-bottom: 80px;
        @include wrapper--slim;
        text-align: center;
        position: relative;
    }
}

.hero--gradient {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include gradient-container;

    &:before {
        @include classic-gradient($filter);
    }
}
