@keyframes bigSpin {
    0% {
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin: 10px auto;
    width: 50px;
    height: 50px;

    &__edge {
        position: absolute;
        margin: 0 auto;
        width: 15px;
        height: 15px;
        border: 6px solid rgba(239,239,239,1);
        border-radius: 50%;
        border-left-color: rgba(213,213,213,1);
        border-top-color: rgba(213,213,213,1);

        &--small {
            animation: bigSpin .8s linear infinite;
            animation-origin: 50% 50%;
            width: 7.5px;
            height: 7.5px;
            margin-top: 8px;
            margin-left: 8px;
        }

        &--big {
            text-align: center;
            animation: bigSpin 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
            transform-origin: 50% 50%;
        }
    }
}
