{% if is_canary_enabled() %}
    <div class="datagrid__table__tabs">
        <div class="datagrid__table__tabs__items">
            <h3>
                {% if is_active_route(app.request, "app_assessors_#{space_type}_attribution_form") %}
                    Bureaux de votes
                {% else %}
                    <a href="{{ path("app_assessors_#{space_type}_attribution_form") }}">
                        Bureaux de votes
                    </a>
                {% endif %}
            </h3>
            <span class="separator"></span>
            <h3>
                {% if is_active_route(app.request, "app_municipal_manager_#{space_type}_attribution_form") %}
                    Communes
                {% else %}
                    <a href="{{ path("app_municipal_manager_#{space_type}_attribution_form") }}">
                        Communes
                    </a>
                {% endif %}
            </h3>
        </div>
    </div>
{% endif %}
