{% extends 'page/concrete/layout.html.twig' %}

{% block page_title 'Ça, c\'est du concret !' %}
{% block canonical_url url('page_concrete') %}
{% block meta_description page.description %}
{% block meta_twitter_description page.twitterDescription ?: page.description %}
{% block concrete_header_title 'Ça, c\'est du concret !' %}

{% block concrete_content %}
    <div class="space--20-0">
        {{ page.content|markdown_to_html }}
    </div>

    <a href="https://transformer.en-marche.fr/fr" class="concrete__promo text--center l__wrapper--600" target="_blank">
        Suivre l'action du gouvernement
    </a>

    <div class="l__wrapper--600 text--center b__nudge--bottom-large">
        <a href="{{ path('homepage') }}" class="link--no-decor">
            <img src="{{ asset('images/logo-LREM.svg') }}"
                 width="200"
                 title="La République En Marche"
                 alt="La République En Marche" />
        </a>
    </div>

{% endblock %}
