{% extends 'base.html.twig' %}

{% block open_graph_image (homepage_url ~ static_asset('pages-sharers/concrete.jpg', {'q': 70}))|raw %}

{% block banner '' %}
{% block footer '' %}

{% block stylesheets %}
    <style type="text/css">
        nav,
        .cc-window {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="concrete">
        {% block talents_header %}
            <header class="hero hero--minimalist--center-20">
                <div class="hero--minimalist__content">
                    <img src="images/concrete-logo.svg" alt="Ça, c'est du concret !" title="Ça, c'est du concret !">
                </div>
            </header>
        {% endblock %}

        <div class="keep-reading text--center">
            <img src="images/icons/arrow-down.svg" width="40"/>
        </div>

        <section class="content">
            {% block concrete_content %}{% endblock %}
        </section>

    </main>
{% endblock %}
