{% extends 'adherent/layout.twig' %}

{% block page_title 'Certification du profil' %}

{% block adherent_profile_form %}

    <h2>Certification du profil</h2>

    {% block certification_content '' %}

{% endblock %}
