{% extends base_template %}

{% block my_team_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Mon équipe</h3>
        <a href="{{ path('app_'~ space_name ~'_my_team_delegate_access') }}" class="btn-secondary btn-secondary--blue">Ajouter un adhérent à mon équipe</a>
    </div>

    <div class="datagrid">
        <div class="b__nudge--bottom-larger">
            <div class="datagrid__table-container">
                <table class="datagrid__table-manager">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Rôle</th>
                            <th>Délégation d'accès</th>
                            <th>Dernière connexion</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for access in delegatedAccesses %}
                            <tr>
                                <td>{{ access.delegated }}</td>
                                <td>{{ access.role }}</td>
                                <td class="table-labels">
                                    <span>Label 1</span>
                                    <span>Label 1</span>
                                    <span>Label 1</span>
                                </td>
                                <td>last connexion</td>
                                <td><a href="{{ path('app_'~ space_name ~'_my_team_delegate_access_delete', {uuid: access.uuid}) }}" class="text--blue--dark link--no-decor">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
