.my-ideas {
  margin-top: 38px;

  &__category__button {
    @extend %reset-button;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 15px;

    &__label {
      margin-right: 6px;
      font-size: 14px;
      font-weight: bold;
      color: $wild-blue-yonder;
      text-transform: uppercase;
    }

    &__icon {
      &--rotate {
        transform: rotate(180deg);
      }
    }
  }

  &__category__idea {
    padding: 20px 0;
    border-bottom: 1px solid $platinum;

    &__date {
      margin: 0 0 7px;
      color: $light-black;
      font-size: 14px;
    }

    &__name {
      margin: 0 0 15px;
      font-size: 20px;

      > a {
        border-bottom: none;
      }
    }

    &__actions {
      > * {
        margin-right: 14px;
        font-size: 16px;
        color: $light-black;
        border: none;
      }

      &__see-note,
      &__edit {
          color: $saphir;

          &:hover {
              color: $saphir;
              opacity: 0.75;
          }
      }

      &__delete {
            height: 24px;
            border: 0;
            margin: 0;
            padding: 0;
            width: auto;
            overflow: visible;
            background: transparent;
            color: inherit;
            font: inherit;
            line-height: normal;
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;
            -webkit-appearance: none;
      }
    }
  }

  .my-ideas__category__empty-label {
    padding-bottom: 20px;
    border-bottom: 1px solid $platinum;
    font-size: 14px;
    color: $light-black;
  }
}
