{% extends 'base.html.twig' %}

{% block page_title 'La campagne est terminée' %}

{% block content %}
<main>
    <section class="content">
        <header class="space--60-0 l__wrapper--slim">
            <h1 class="text--large b__nudge--bottom-small">
                La campagne est terminée
            </h1>
        </header>

        <article class="l__wrapper--slim b__nudge--bottom-huge">
            La campagne est terminée
        </article>
    </section>
</main>
{% endblock %}
