{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Les ordonnances expliquées' %}
{% block canonical_url url('app_explainer_index') %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="content">
        <section class="explainer">
            <header class="space--100-0 background--blue">
                <div class="l__wrapper--slim text--center">
                    <h1 class="text--extra-large text--italic text--white">
                       Les ordonnances expliquées
                    </h1>
                </div>
            </header>

            <article>
                <div class="explainer__description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </div>

                <div class="explainer__video-row">
                    <h2>Points de vus</h2>
                    <a href="#" target="_blank">Toutes les videos &raquo;</a>
                    <ul>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="explainer__video-row explainer__video-row--triptique">
                    <h2>Témoignages</h2>
                    <a href="#" target="_blank">Toutes les videos &raquo;</a>
                    <ul>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="explainer__video-row">
                    <h2>Désintox</h2>
                    <a href="#" target="_blank">Toutes les videos &raquo;</a>
                    <ul>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560"  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FEdouardPhilippePM%2Fvideos%2F2170853183141349%2F&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            </div>
                        </li>
                    </ul>
                </div>

            </article>

            <section class="explainer__articles">
                <ul>
                    {% for section in sections %}
                    <li>
                        <h2>{{ section.name }}</h2>

                        <ul>
                            {% for article in section.getPublishedArticlesOrderedByPosition %}
                                <li>
                                    <a href="{{ path('app_explainer_article_show', {'slug': article.slug}) }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>

            </section>

        </section>

    </main>
{% endblock %}
