{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Transformons la France : réforme du code du travail et du dialogue social' %}
{% block canonical_url url('app_explainer_index') %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="content">
        <section class="explainer">
            <header class="space--100-0 background--blue">
                <div class="l__wrapper--slim text--center">
                    <h1 class="text--extra-large text--italic text--white">
                        Transformons la France : réforme du code du travail et du dialogue social
                    </h1>
                </div>
            </header>

            <article>
                {{ page.content|markdown }}
            </article>

            <section class="explainer__articles">
                <ul>
                    {% for section in sections %}
                    <li>
                        <h2>{{ section.name }}</h2>

                        <ul>
                            {% for article in section.getPublishedArticlesOrderedByPosition %}
                                <li>
                                    <a href="{{ path('app_explainer_article_show', {'slug': article.slug}) }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>

            </section>

        </section>

    </main>
{% endblock %}
