{
	# Debug
	{$CADDY_DEBUG}
	auto_https off
	admin off
}

{$CADDY_EXTRA_CONFIG}

test.*.code:80 {
    root * /srv/app/public

    php_fastcgi unix//var/run/php/php-fpm.sock {
        env APP_ENV test
        trusted_proxies {$TRUSTED_PROXIES_WITH_SPACE:}
    }
    file_server
}

:80

log
log_skip /healthcheck

route {
	root * /srv/app/public

	# Set security headers

	# Disable Google FLOC tracking if not enabled explicitly: https://plausible.io/blog/google-floc
	header ?Permissions-Policy "interest-cohort=()"

	# Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
	header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	# Disallow the site to be rendered within a frame
	header Content-Security-Policy "frame-ancestors 'self' https://*.parti-renaissance.fr vox*://"

	# Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
	header X-Content-Type-Options "nosniff"

	# Enable cross-site filter (XSS) and tell browser to block detected attacks
	header X-XSS-Protection "1; mode=block"

	php_fastcgi unix//var/run/php/php-fpm.sock {
		trusted_proxies {$TRUSTED_PROXIES_WITH_SPACE:}
	}
	encode zstd gzip
	file_server
}
