{% extends '@SonataAdmin/CRUD/list__action.html.twig' %}

{% block field %}
    {{ parent() }}

    {% if is_granted('ROLE_ADMIN_TURNKEY_PROJECTS') and object.imageName is defined and object.imageName is not null %}
        <div class="btn-group">
            <a href="{{ path('app_admin_turnkey_project_remove_image', {id: object.id, token: csrf_token("turnkey_project.remove_image.#{object.id}")}) }}"
               class="btn btn-sm btn-default view_link" title="Supprimer l'image">
                <i class="fa fa-image" aria-hidden="true"></i>
                Supprimer l'image
            </a>
        </div>
    {% endif %}
{% endblock %}
