{% extends 'renaissance/elected_representative/contribution/_layout.html.twig' %}

{% block contribution_navigation '' %}

{% block contribution_content %}
    <div class="flex">
        <div class="shrink-0">
            {{ include('icons/check-circle.svg.twig', {svg_class: 'h-5 w-5 text-green-400'}) }}
        </div>
        <div class="ml-3">
            <h3 class="text-base font-medium text-green-800">Pas de cotisation nécessaire</h3>
            <div class="mt-2 text-base leading-6">
                <p class="text-green-700">Vous n'avez pas besoin de cotiser.</p>
            </div>

            <p class="text-base leading-6 text-gray-500 mt-2 mb-2">
                {{ cms_block('renaissance-elected-representative-contribution-step-2') }}
            </p>

            <div class="mt-4">
                <div class="-mx-2 -my-1.5 flex">
                    <a href="{{ path('renaissance_site') }}" class="rounded-md bg-green-50 px-2 py-1.5 text-base font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
                        Retour
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
