{% extends 'renaissance/elected_representative/contribution/_layout.html.twig' %}

{% block contribution_content %}
    <div class="rounded-md bg-blue-50 p-4">
        <div class="flex">
            <div class="shrink-0">
                {% include 'icons/money.svg.twig' with { svg_class: 'h-5 w-5 text-re-blue-400' } %}
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-blue-700">
                    Montant de cotisation calculé: <span class="font-medium text-re-blue-700">{{ command.contributionAmount }}€</span>
                </p>
                <p class="mt-3 text-sm md:mt-0 md:ml-6">
                    <a href="{{ path('app_renaissance_elected_representative_contribution_fill_revenue') }}" class="whitespace-nowrap text-blue-700 hover:text-blue-500">
                        Modifier ce montant
                        <span aria-hidden="true"> &larr;</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <p class="text-base leading-6 text-gray-500">
        {{ cms_block('renaissance-elected-representative-contribution-step-2') }}
    </p>
    <a class="inline-flex items-center text-re-blue-500 text-base leading-5 underline hover:text-re-blue-600 font-medium hover:decoration-re-blue-600 hover:decoration-2" href="{{ path('app_renaissance_elected_representative_contribution_fill_informations') }}">
        Remplir les informations
        <span aria-hidden="true"> &rarr;</span>
    </a>
{% endblock %}
