{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field%}
    <ul>
        {% for webHook in value %}
            <li>
                {{ webHook.event }}
                <ul>
                    {% for callback in webHook.callbacks %}
                        <li>{{ callback }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
