{% extends 'facebook/_layout.html.twig' %}

{% block content %}
    <main class="facebook text--center b__nudge--bottom-huge">
        <header class="l__wrapper l__wrapper--slim b__nudge--top-40">
            <h1 class="text--large">
                {{ block('page_title') }}
            </h1>
        </header>

        <section class="l__wrapper">
            <h2 class="facebook__subtitle">
                {{ block('meta_description') }}
            </h2>

            <div class="facebook__example">
                <img src="{{ asset('images/facebook-example.jpg') }}" />
            </div>

            <div class="facebook__legalities__checkbox l__wrapper--500">
                <form method="get" action="{{ path('app_facebook_auth') }}">
                    <div class="form__row form__checkbox form__checkbox--large">
                        <input type="checkbox" name="mentions_legales" id="mentions_legales" required="required" />
                        <label for="mentions_legales">
                            En cochant cette case, vous autorisez En Marche à utiliser les informations suivantes pour
                            activer un filtre La République En Marche sur votre compte Facebook (photo de profil Facebook, nom, prénom,
                            âge, sexe et adresse mail).
                        </label>
                    </div>

                    <button type="submit" class="btn btn--facebook btn--medium">
                        Changer mon image Facebook
                    </button>
                </form>
            </div>

            <div class="facebook__legalities__text text--body l__wrapper--500">
                Les données recueillies sur ce formulaire sont traitées par LaREM afin de gérer les informations relatives à l’application des filtres LaREM sur les photos de profil Facebook des utilisateurs et de permettre à LaREM de vous envoyer des communications politiques.
                Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
                Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
                Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 68 rue du Rocher, 75008 Paris, France et <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
            </div>
        </section>
    </main>
{% endblock %}
