{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    Zone: <b>{{ object.voteZone }}</b>
    <br>
    Bureau: <i>{{ object.customVotePlace ?? object.votePlace }}</i>

    {% if
        object is instanceof('App\\Entity\\Procuration\\Request')
        and object.isFDE()
        and object.fromFrance
    %}
        <br>
        <span class="badge bg-blue">
            {{ 'procuration.request.fromFrance.label'|trans }}
        </span>
    {% endif %}
{% endblock %}
