{% if object.published %}
    <a href="{{ path('desintox_view', {'slug': object.slug}) }}"
       class="btn btn-sm btn-default view_link"
       title="Prévisualiser" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-search-plus" aria-hidden="true"></i>
        Prévisualiser
    </a>
{% endif %}
