.error-modal {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  &__title {
      margin-top: 60px;
      font-size: 26px;
  }

  &__subtitle {
    margin: 15px 0 35px;

    a {
        color: $saphir;
        border: none;
    }
  }

  &__button {
    width: 125px;
    height: 40px;
    margin: 25px 0 44px;
  }
}
