{% set currentRoute = app.request.attributes.get('_route') %}
{% for route, title in {
    'page_emmanuel_macron': 'Ce que je suis',
    'program_index': 'Le Programme'
} %}
    <li class="{{ route == currentRoute ? 'active' }}">
        <a href="{{ path(route) }}">
            {{ title }}
        </a>
    </li>
{% endfor %}
