<div class="adherent-banner rounded-2xl mb-10 p-6 text-black" style="background: linear-gradient(94deg, #DEE4F9 14.86%, #ABC8FF 145.08%), #FFF;">
    <div class="flex flex-col-reverse sm:flex-row justify-between">
        <div class="flex flex-col">
            <h2 class="text-2xl font-medium">Grand Quiz</h2>

            <p class="text-2xl">Révisez votre Bilan européen</p>

            <twig:ReButton tag="a" color='gray' class="mt-6 w-fit" href="{{ path('app_quiz_europe') }}">Répondre au quiz</twig:ReButton>
        </div>

        <div class="mb-6 sm:mb-0">
            <img src="{{ asset('images/icons/europe-stars.svg') }}" alt="Quiz Europe" class="h-100 object-contain" />
        </div>
    </div>
</div>
