.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .button__label {
    font-size: 14px;
  }

  .button__icon {
    &--start {
      margin-right: 7px;
    }

    &--end {
      order: 1;
      margin-left: 7px;
    }
  }

  // Loading
  .button__loader {
    text-align: center;

    .button__loader__ball {
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin: 0 5px;
      background: $white;
      border-radius: 50%;
      -webkit-animation: loader .6s infinite alternate;
      -moz-animation: loader .6s infinite alternate;

      &:nth-of-type(2) {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
      }

      &:nth-of-type(3) {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
      }
    }

    @keyframes loader {
      0% {
        opacity: 0.5;
        transform: translateY(0);
      }

      100% {
        opacity: 1;
        transform: translateY(-5px);
      }
    }
  }

  // mode specifics
  &.button--loading {
    &.button--secondary {
      background-color: $marine-blue;
      border-color: $marine-blue;
    }

    &.button--tertiary {
      background-color: $black;
    }
  }
}
