{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div style="width: 160px; margin-top: 5px;">
        <a href="{{ path('admin_app_institutionalevent_edit', { id: object.id }) }}" class="btn btn-xs btn-default" title="Éditer">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Éditer
        </a>

        <a href="{{ path('admin_app_institutionalevent_show', { id: object.id }) }}" class="btn btn-xs btn-default" title="Afficher">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Afficher
        </a>
    </div>
{% endblock %}
