<li>
    <a class="sonata-action-element" href="{{ path('app_admin_donator_extract') }}">
        <i class="fa fa-download" aria-hidden="true"></i>
        Extraction de données donateurs
    </a>
</li>
