imports:
    - { resource: config.yml }
    - { resource: assets_version.yml }

doctrine:
    orm:
        metadata_cache_driver: apcu
        query_cache_driver: apcu
        result_cache_driver:
            type: service
            id: cache.redis_doctrine_provider

monolog:
    handlers:
        main:
            type:                   fingers_crossed
            action_level:           error
            handler:                nested
        nested:
            type:                   group
            members:                [file, buffer]
        file:
            type:                   stream
            path:                   "%kernel.logs_dir%/%kernel.environment%.log"
        buffer:
            type:                   buffer
            handler:                sentry
        sentry:
            type:                   service
            id:                     app.logging.sentry_handler

        console:
            type:                   console

lexik_paybox:
    parameters:
        production: "%env(bool:PAYBOX_PRODUCTION)%"

algolia:
    application_id:    "%env(ALGOLIA_APP_ID)%"
    api_key:           "%env(ALGOLIA_BACK_API_KEY)%"
    index_name_prefix: "%env(ALGOLIA_INDEX_PREFIX)%"
