parameters:
    env(DATABASE_HOST):         enmarche_db
    env(DATABASE_PORT):         3306
    env(DATABASE_SOCKET):       ~
    env(DATABASE_NAME):         enmarche
    env(DATABASE_USER):         root
    env(DATABASE_PASSWORD):     root

    env(REDIS_HOST):            enmarche_redis

    env(RABBITMQ_HOST):         rabbitmq
    env(RABBITMQ_PORT):         5672
    env(RABBITMQ_USER):         guest
    env(RABBITMQ_PASSWORD):     guest

    env(SENTRY_DSN):            ~
    env(SENTRY_PUBLIC_DSN):     ~

    env(SECRET):                ab2f3477e2b72055492b75f12490b172

    env(ENABLE_CANARY):         1

    env(GCLOUD_PROJECT_ID):     ~
    env(GCLOUD_BUCKET):         ~
    env(GCLOUD_LB_IP):          ~

    env(PAYBOX_SITE):           ~
    env(PAYBOX_RANK):           ~
    env(PAYBOX_IDENTIFIER):     ~
    env(PAYBOX_KEY):            ~

    env(RECAPTCHA_PUBLIC_KEY):  ''
    env(RECAPTCHA_PRIVATE_KEY): ''

    env(MAILJET_TRANSACTIONAL_PUBLIC_KEY):     ''
    env(MAILJET_TRANSACTIONAL_PRIVATE_KEY):    ''
    env(MAILJET_CAMPAIGN_PUBLIC_KEY):          ''
    env(MAILJET_CAMPAIGN_PRIVATE_KEY):         ''

    env(GMAPS_API_KEY):         ''

    env(FACEBOOK_APP_ID):         'app_id'
    env(FACEBOOK_APP_SECRET):     'app_secret'

    env(WATERMARKS_PATH):         '%kernel.root_dir%/../web/watermarks'

    env(ALGOLIA_APP_ID):        ~
    env(ALGOLIA_FRONT_API_KEY): ~
    env(ALGOLIA_BACK_API_KEY):  ~
    env(ALGOLIA_BLACKLIST):     ~

    env(LEGISLATIVES_PLATFORM): https://www.google.fr

    env(ENABLE_SILENCE_RULE):   'false'

    env(SESSION_MAX_IDLE_TIME): 1800

    env(APP_HOST): enmarche.dev
    env(AMP_HOST): m.enmarche.dev
    env(LEGISLATIVES_HOST): legislatives.enmarche.dev

    env(AUTH_CLIENT_ID): f80ce2df-af6d-4ce4-8239-04cfcefd5a19
    env(AUTH_CLIENT_SECRET): 2x26pszrpag408so88w4wwo4gs8o8ok4osskcw00ow80sgkkcs
    env(AUTH_ACCESS_TOKEN_URL): 'http://auth.en-marche.dev/oauth/v2/token'
    env(AUTH_ACCESS_AUTHORIZATION_URL): 'http://auth.en-marche.dev/oauth/v2/auth'
    env(AUTH_LOGIN_URL): 'http://en-marche.dev/connect/auth'
    env(AUTH_REGISTER_URL): 'http://auth.en-marche.dev/register?client_id=f80ce2df-af6d-4ce4-8239-04cfcefd5a19&redirect_uri=http://en-marche.dev/register'
    env(AUTH_INFO_URL): 'http://auth.en-marche.dev/api/me'
