parameters:
    env(DATABASE_HOST):         db
    env(DATABASE_PORT):         3306
    env(DATABASE_SOCKET):       ~
    env(DATABASE_NAME):         enmarche
    env(DATABASE_USER):         enmarche
    env(DATABASE_PASSWORD):     enmarche

    env(REDIS_HOST):            redis

    env(SENTRY_DSN):            ~
    env(SENTRY_PUBLIC_DSN):     ~

    env(SECRET):                ab2f3477e2b72055492b75f12490b172

    env(ENABLE_PLATFORM):       1

    env(GCLOUD_PROJECT_ID):     ~
    env(GCLOUD_BUCKET):         ~
    env(GCLOUD_LB_IP):          ~

    env(PAYBOX_SITE):           ~
    env(PAYBOX_RANK):           ~
    env(PAYBOX_IDENTIFIER):     ~
    env(PAYBOX_KEY):            ~

    env(RECAPTCHA_PUBLIC_KEY):  ''
    env(RECAPTCHA_PRIVATE_KEY): ''

    env(MAILJET_PUBLIC_KEY):    ''
    env(MAILJET_PRIVATE_KEY):   ''

    env(WRITER_LOGIN):          writer
    env(WRITER_PASSWORD):       writer

    env(ADMIN_LOGIN):           admin
    env(ADMIN_PASSWORD):        admin

    env(GMAPS_API_KEY):         ''
