parameters:
    env(DATABASE_HOST):         db
    env(DATABASE_PORT):         3306
    env(DATABASE_SOCKET):       ~
    env(DATABASE_NAME):         enmarche
    env(DATABASE_USER):         root
    env(DATABASE_PASSWORD):     root

    env(REDIS_HOST):            redis

    env(RABBITMQ_HOST):         rabbitmq
    env(RABBITMQ_PORT):         5672
    env(RABBITMQ_USER):         guest
    env(RABBITMQ_PASSWORD):     guest

    env(SENTRY_DSN):            ~
    env(SENTRY_PUBLIC_DSN):     ~

    env(SECRET):                ab2f3477e2b72055492b75f12490b172

    env(ENABLE_CANARY):         1

    env(GCLOUD_PROJECT_ID):     ~
    env(GCLOUD_BUCKET):         ~
    env(GCLOUD_LB_IP):          ~

    env(PAYBOX_SITE):           ~
    env(PAYBOX_RANK):           ~
    env(PAYBOX_IDENTIFIER):     ~
    env(PAYBOX_KEY):            ~
    env(PAYBOX_PRODUCTION):     false

    env(RECAPTCHA_PUBLIC_KEY):  ''
    env(RECAPTCHA_PRIVATE_KEY): ''

    env(MANDRILL_API_KEY):      ''

    env(GMAPS_API_KEY):         ''

    env(FACEBOOK_APP_ID):       'app_id'
    env(FACEBOOK_APP_SECRET):   'app_secret'

    env(WATERMARKS_PATH):       '%kernel.project_dir%/web/watermarks'

    env(ALGOLIA_APP_ID):        ~
    env(ALGOLIA_FRONT_API_KEY): ~
    env(ALGOLIA_BACK_API_KEY):  ~
    env(ALGOLIA_BLACKLIST):     ~
    env(ALGOLIA_INDEX_PREFIX):  'dev'

    env(LEGISLATIVES_PLATFORM): https://www.google.fr

    env(SESSION_MAX_IDLE_TIME): 1800

    env(APP_SCHEME): http
    env(APP_HOST): enmarche.code
    env(AMP_HOST): m.enmarche.code
    env(LEGISLATIVES_HOST): legislatives.enmarche.code
    env(MOOC_BASE_URL): http://mooc.enmarche.code
    env(EM_API_HOST): http://api.enmarche.code
    env(API_PATH_PREFIX): /api
    env(DPT_API_HOST): http://dpt-api.enmarche.code

    env(SSL_PRIVATE_KEY): 'file://%kernel.project_dir%/var/private.key'
    env(SSL_PUBLIC_KEY): 'file://%kernel.project_dir%/var/public.key'
    env(SSL_ENCRYPTION_KEY): 'PT/cLwGkQqwF5exN/CkkV5oUkBemNyhi2dXDHy2N+Nc='

    env(MAXMIND_LICENSE_KEY): ''
    env(MAXMIND_USER_ID):     ''

    env(CORS_ALLOW_ORIGIN): '^https?://localhost:?[0-9]*$'

    env(APP_EMAIL_SUBSCRIPTIONS_WEBHOOK_SECRET): 'mailchimp_secret'

    env(MAILCHIMP_API_KEY): ''
    env(MAILCHIMP_WEBHOOK_KEY): 'abc'
    env(MAILCHIMP_MEMBER_LIST_ID): ''
    env(MAILCHIMP_NEWSLETTER_LIST_ID): ''
    env(MAILCHIMP_APPLICATION_REQUEST_CANDIDATE_LIST_ID): ''
    env(MAILCHIMP_MEMBER_GROUP_INTEREST_GROUP_ID): ''
    env(MAILCHIMP_MEMBER_INTEREST_INTEREST_GROUP_ID): ''
    env(MAILCHIMP_SUBSCRIPTION_TYPE_INTEREST_GROUP_ID): ''
    env(MAILCHIMP_INTEREST_IDS): |
        {
            "agriculture": "1",
            "social": "2",
            "culture": "3",
            "economie": "4",
            "education": "5",
            "egalite": "6",
            "emploi": "7",
            "environement": "8",
            "europe": "9",
            "international": "10",
            "jeunesse": "11",
            "justice": "12",
            "numerique": "13",
            "sante": "14",
            "securite": "15",
            "sport": "16",
            "territoire": "17",
            "institution": "18",
            "subscribed_emails_movement_information": "123abc",
            "subscribed_emails_weekly_letter": "456def",
            "deputy_email": "21",
            "subscribed_emails_local_host": "22",
            "subscribed_emails_referents": "23",
            "citizen_project_host_email": "24",
            "municipal_email": "25",
            "senator_email": "26",
            "COMMITTEE_FOLLOWER": "27",
            "COMMITTEE_NO_FOLLOWER": "28",
            "COMMITTEE_SUPERVISOR": "29",
            "COMMITTEE_HOST": "30",
            "CITIZEN_PROJECT_HOST": "31",
            "REFERENT": "32",
            "DEPUTY": "33",
            "REC": "34",
            "COORDINATOR": "35",
            "PROCURATION_MANAGER": "36",
            "ASSESSOR_MANAGER": "37",
            "BOARD_MEMBER": "38"
        }
    env(MAILCHIMP_CAMPAIGN_FOLDER_IDS): '{}'
    env(MAILCHIMP_TEMPLATE_IDS): '{}'
    env(MAILCHIMP_APPLICATION_REQUEST_TAG_IDS): '{}'
    env(MAILCHIMP_NEWSLETTER_TAG_IDS): '{}'
    env(MAILCHIMP_SIGNUP_HOST): 'https://mailchimp.com'
    env(MAILCHIMP_SIGNUP_SUBSCRIPTION_GROUP_ID): 123
    env(MAILCHIMP_ORG_ID): 123
    env(MAILCHIMP_CAMPAGN_URL): https://us16.campaign-archive.com
    env(MAILCHIMP_SIGNUP_SUBSCRIPTION_IDS): |
        {
            "subscribed_emails_movement_information": 1,
            "subscribed_emails_weekly_letter": 2,
            "deputy_email": 4,
            "subscribed_emails_local_host": 8,
            "subscribed_emails_referents": 16,
            "citizen_project_host_email": 32,
            "militant_action_sms": 64,
            "municipal_email": 128,
            "senator_email": 256
        }
