#
# Health
#
app_health:
    host:     "%app_host%"
    resource: "@AppBundle/Controller/HealthController.php"
    type:     "annotation"

#
# Assets
#
app_assets:
    resource: "@AppBundle/Controller/AssetsController.php"
    type:     "annotation"

#
# User uploaded documents
#
app_documents:
    resource: "@AppBundle/Controller/UploadDocumentController.php"
    type:     "annotation"

#
# API
#
app_api:
    host:     "%app_host%"
    resource: "@AppBundle/Controller/Api"
    type:     "annotation"
    prefix:   "/api"
    defaults:
        _format: 'json'

#
# OAuth
#
app_oauth:
    host:     "%app_host%"
    resource: "@AppBundle/Controller/OAuth"
    type:     "annotation"
    prefix:   "/oauth/v2"

#
# Admin panel
#
admin_dashboard:
    host:     "%app_host%"
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix:   "/admin"

admin_crud:
    host:     "%app_host%"
    resource: .
    type:     sonata_admin
    prefix:   "/admin"

app_admin:
    host:     "%app_host%"
    resource: "@AppBundle/Controller/Admin"
    type:     "annotation"
    prefix:   "/admin"

#
# En Marche app
#
lexik_paybox:
    host:     "%app_host%"
    resource: "@LexikPayboxBundle/Resources/config/routing.yml"
    prefix:   "/don"

# This route must be loaded first to prevent another route to match his path
map_events:
    host:    "%app_host%"
    path:    /evenements/la-carte
    methods: GET
    defaults: { _controller: 'AppBundle:EnMarche/Map:events' }

app_enmarche:
    host:     "%app_host%"
    resource: "@AppBundle/Controller/EnMarche"
    type:     "annotation"

#
# AMP pages
#
app_enmarche_amp:
    host:     "%amp_host%"
    resource: "@AppBundle/Controller/Amp"
    type:     "annotation"

#
# Legislatives app
#
app_legislatives:
    host:     "%legislatives_host%"
    resource: "@AppBundle/Controller/Legislatives"
    type:     "annotation"

#
# Legacy
#
app_desintox:
    host: "%app_host%"
    path: /emmanuel-macron/desintox/{slug}
    defaults:
        slug: ~
        _controller: FrameworkBundle:Redirect:redirect
        route: ~

#
# Redirections
#
app_redirecting:
    host:     "%app_host%"
    resource: "@AppBundle/Controller/RedirectingController.php"
    type:     "annotation"

app_redirect_login:
    host: "%app_host%"
    path: /login
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: app_user_login

app_redirect_register:
    host: "%app_host%"
    path: /register
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: app_membership_join

app_redirect_inscription:
    host: "%app_host%"
    path: /inscription
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: app_membership_join
        permanent: true

# This route must be loaded the last to prevent an override
app_static_page:
    host:    "%app_host%"
    path:    /{slug}
    methods: GET
    defaults: { _controller: 'AppBundle:EnMarche/Page:showPage' }
    requirements:
        slug: .+
