{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <ul>
        {% for host in object.hosts %}
            <li>
                <a href="{{ path('admin_app_adherent_show', {'id': host.id}) }}">
                    {{ host.fullName }}
                </a>
                <br />
                {{ host.emailAddress }}
                {% if host.phone %}
                    <br />
                    {{ host.phone|phone_number_format }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
