{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div style="text-align: center;">
        <img src="{{ media_asset(object, {'w': 150}) }}" style="max-height: 50px; max-width: 100px;" />
    </div>
{% endblock %}
