<a href="{{ dynamic_asset('subdir/pikachu.jpg') }}" class="btn btn-sm btn-default view_link"
   title="Prévisualiser" target="_blank">
    <i class="fa fa-search-plus" aria-hidden="true"></i>
    Prévisualiser
</a>
