{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block list_filters_actions %}
    <ul class="nav navbar-nav navbar-left">
        <li class="sonata-actions">
            <a href="{{ path('app_admin_procuration_referents_invitations_urls') }}">
                <i class="fa fa-share-alt" aria-hidden="true" style="margin-right: 5px;"></i>
                Liens d'invitations (référents)
            </a>
        </li>
    </ul>

    {{ parent() }}
{% endblock %}
