<a href="{{ path('page_proposal', {'slug': object.slug}) }}" class="btn btn-sm btn-default view_link"
   title="Prévisualiser" target="_blank">
    <i class="fa fa-search-plus" aria-hidden="true"></i>
    Prévisualiser
</a>
