{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    Zone: <b>{{ object.voteZone }}</b>
    <br>
    Bureau: <i>{{ object.customVotePlace ?? object.votePlace }}</i>

    {% if
        object is instanceof('App\\Entity\\ProcurationV2\\Request')
        and object.isFDE()
        and object.fromFrance
    %}
        <br>
        <span class="badge bg-blue">
            Veut sa procuration sur le sol Français
        </span>
    {% endif %}
{% endblock %}
