{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block page_title 'Adhésion' %}

{% block content_right_side %}
    <div class="mx-5 my-10 flex flex-grow items-center justify-center">
        {% block adhesion_content '' %}
    </div>
{% endblock %}
