{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Activation' %}

{% block content %}
    <main class="bg-[#F4F4F7]">
        <header class="p-10">
            <a href="{{ path('app_renaissance_homepage') }}">
                <img src="{{ asset('/images/renaissance/logo-dark.svg') }}" class="h-4" alt="logo"/>
            </a>
        </header>
    </main>
{% endblock %}
