{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Confirmation d\'adhésion à Renaissance' %}

{% block content_right_side %}
    <section class="text-white">
        <div>
            <h1>Votre compte adhérent est maintenant actif. Pour poursuivre votre action militante, rendez-vous sur l'application mobile.</h1>
        </div>
    </section>
{% endblock %}
