{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block adhesion_content %}
    <div class="adhesion__result">
        <section class="adhesion__header with-bkg">
            <div class="l__wrapper">
                <div class="adhesion__header__content"></div>
            </div>
        </section>

        <section class="adhesion__result__intro text--center">
            <div class="l__wrapper">
                <div class="adhesion__result__into--title">
                    <h1 class="text--larger b__nudge--bottom-larger b__nudge--top-40">Votre compte adhérent est maintenant actif. Pour poursuivre votre action militante, rendez-vous sur l'application mobile.</h1>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
