{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% set left_side_background = 'bg-light-green' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 're-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <p>
        Confirmez votre e-mail en cliquant sur le lien dans l'e-mail que vous allez recevoir.
    </p>
{% endblock %}
