{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block navigation_steps '' %}

{% block adhesion_title %}
    Merci pour votre adhésion.
{% endblock %}

{% block adhesion_content %}
    <p>
        Il ne reste plus qu’à confirmer votre inscription <br/>
        en cliquant sur le lien que vous avez reçu sur votre email.
    </p>
{% endblock %}
