{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% set left_side_background = 'bg-light-green' %}
{% set back_btn_target = path('renaissance_site') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'h-20 w-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <p class="text-lg max-w-3xl text-gray-600 mx-auto">
        Confirmez votre e-mail en cliquant sur le lien dans l'e-mail que vous allez recevoir.
    </p>
{% endblock %}
