{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block navigation_steps '' %}

{% block adhesion_title %}
    Merci pour votre inscription.
{% endblock %}

{% block adhesion_content %}
    <p>
        Confirmez votre e-mail en cliquant sur le lien dans l'e-mail que vous allez recevoir.
    </p>
{% endblock %}
