{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Création de mot de passe' %}

{% block content %}
    {% set email = 'Albert-dupondominique@gmail.com' %}
    <main class=" re_new_ui bg-gradient-to-b from-slate-600 h-screen flex flex-col items-center md:justify-center to-slate-500">
        <section class="flex flex-col justify-center items-center gap-10">
            <div class=" justify-center items-center  flex-col  gap-8 "
                 x-data="xEmailVerificationForm({email: '{{ email }}'})">

                <div class="flex gap-8 flex-col p-5">
                    <twig:Atoms:ReCard class="max-w-[500px]">
                        <twig:Atoms:ReParagraphStatus status="success" icon="success" slim="true">
                            Votre paiement a bien été validé !
                        </twig:Atoms:ReParagraphStatus>

                        <twig:Atoms:ReParagraphStatus status="info">
                            Nous vous recommandons de compléter dès maintenant vos informations pour accéder à l’ensemble des fonctionnalités offertes : consultation, formations, événements...
                        </twig:Atoms:ReParagraphStatus>

                        <div>
                            <twig:Atoms:ReLabel>Votre espace adhérent</twig:Atoms:ReLabel>
                            <p  class="text-ui_gray-80">
                                Votre adhésion s’accompagne d’un compte qui vous permettra de participer à la vie du parti nationalement et localement.
                            </p>
                        </div>

                        <form action="" method="post" class="flex gap-8 flex-col">
                            <fieldset>
                                <twig:Atoms:ReLabel>Nouveau mot de passe</twig:Atoms:ReLabel>
                                <twig:Molecules:ReTextField
                                        placeholder="Adresse mail"
                                        type="password"
                                        validate="['required']"
                                        onCheck="setFieldValid('password')"
                                        autocomplete="new-password"
                                        id="password"
                                        class="w-full"
                                        x-on:input="handlePasswordInput($event)"
                                />
                            </fieldset>
                            <twig:Molecules:ReTextField
                                    placeholder="Comfirmer mon Adresse mail"
                                    type="password"
                                    validate="['required']"
                                    onCheck="setFieldValid('confirm-password')"
                                    autocomplete="new-password"
                                    x-bind:disabled="!isPasswordChanged"
                                    id="password-confirm"
                                    class="w-full"
                                    x-on:input="handleCodeInput($event)"
                            />
                        </form>

                        <twig:Molecules:ReButton
                            color="blue"
                            value="Valider"
                            class="w-full"
                            xSyncLoading="loading"
                            x-bind:disabled="!checkValidity()"
                            x-on:click="loading = true"
                        />
                    </twig:Atoms:ReCard>

                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block final_javascripts %}
    <script>
        Bootstrap.onLoad(() => Main.runAdhesionCreatePasswordPage());
    </script>
{% endblock %}
