{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% set left_side_background = 'bg-light-red' %}
{% set back_btn_target = path('app_renaissance_homepage') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-red',
        text_color_class: 'text-red',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section>
        {% if app.request.query.has('from_re_adhesion') %}
            <div>
                <h1 class="text-2xl leading-10 font-medium text-gray-900">Re-adhésion réussie !</h1>
                <p class="mt-2 text-lg text-gray-500 leading-8">
                    Votre adhésion a été prolongée pour l'année {{ 'now'|date('Y') }}.<br/>
                    Nous sommes ravis de vous avoir parmi nous.
                </p>
            </div>
        {% else %}
            <div>
                <h1 class="text-2xl leading-10 font-medium text-gray-900">Adhésion réussie !</h1>
                <p class="mt-2 text-lg text-gray-500 leading-8">
                    Vous êtes désormais adhérent, bienvenu(e) !
                </p>
            </div>
        {% endif %}

        <div class="mt-10">
            <a href="{{ path('app_renaissance_adherent_space') }}" class="button button-red">
                Retourner sur la page d'accueil
            </a>
        </div>
    </section>
{% endblock %}
