{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% set left_side_background = 'bg-light-red' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 're-logo-red',
        text_color_class: 'text-red',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section>
        <div>
            <h1>Adhésion réussie !</h1>
            <p>
                Vous êtes désormais inscrit, <br/>
                bienvenu(e)! Il ne reste plus qu’à confirmer votre inscription <br/>
                en cliquant sur le lien que vous avez reçu sur votre email.
            </p>
        </div>
        <div class="mt-10">
            <a href="{{ path('app_renaissance_homepage') }}" class="button button-red">
                Retourner sur la page d'accueil
            </a>
        </div>
    </section>
{% endblock %}
