{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Carte d’adhérent' %}

{% block flash_message '' %}

{% form_theme form 'renaissance/forms/tailwind_form_theme.html.twig' %}

{% block content %}
    <twig:ReStandaloneLayout class="re_new_ui">
        <twig:Atoms:ReCard class="max-w-[500px]" x-data="xMemberCardForm">
            {{ form_start(form, {attr: {'x-ref': 'form', class: 'flex gap-8 flex-col'}}) }}
                <div>
                    <twig:Atoms:ReLabel class="mb-6">Carte d'adhérant</twig:Atoms:ReLabel>
                    <p>Votre carte d’adhérent dématérialisée vient d’être générée rien que pour vous.</p>
                </div>

                <div>
                    <twig:Atoms:ReLabel class="mb-6">Adresse postale</twig:Atoms:ReLabel>
                    <p>Nous utiliserons cette adresse pour vous envoyer votre reçu fiscal et votre carte d’adhérent.</p>
                </div>

                {{ form_row(form.address, {label: false}) }}

                <twig:ReButton
                        type="submit"
                        x-bind:disabled="!isFormValid()"
                        onDisabledClick="checkFormValidity()"
                        @click="handleOnSubmit"
                >Recevoir ma carte</twig:ReButton>

                {{ form_widget(form.refuseMemberCard, {label: 'Je ne veux pas recevoir ma carte', attr: {link: 'link'}}) }}
            {{ form_end(form) }}
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}

{% block final_javascripts %}
    <script>
        Bootstrap.onLoad(() => Main.runAdhesionMemberCardPage());
    </script>
{% endblock %}
