{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block title 'Adhérer à Renaissance' %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function() {
            show(dom('#app-adhesion-redirect-loader'));
            var form = dom('#app-adhesion-redirect-form');
            hide(form);
            form.submit();
        });
    </script>
{% endblock %}

{% block content_right_side %}
    <section class="text-white">
        <div class="adhesion__payment">
            <div class="l__wrapper text--center b__nudge--top-50">
                <div class="adhesion__loader" id="app-adhesion-redirect-loader">
                    <p class="adhesion__loader__text text--medium">
                        Veuillez patienter pendant que nous vous redirigons vers votre banque...
                    </p>
                </div>
                <form action="{{ url }}" method="post" name="app_adhesion_payment" id="app-adhesion-redirect-form">
                    {% for field in form %}
                        <input type="{{ field.vars.block_prefixes[1] }}"
                               name="{{ field.vars.name }}"
                               {% if field.vars.value is not empty %}value="{{ field.vars.value }}" {% endif %} />
                    {% endfor %}
                    <input type="submit" class="form btn btn--red text--center" value="Continuer vers ma banque" />
                </form>
            </div>
        </div>
    </section>
{% endblock %}
