{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block navigation_steps '' %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function() {
            dom('#app-adhesion-redirect-loader').style.display = 'block';
            var form = dom('#app-adhesion-redirect-form');
            form.style.display = 'none';
            form.submit();
        });
    </script>
{% endblock %}

{% block adhesion_content %}
    <section>
        <p class="hidden" id="app-adhesion-redirect-loader">
            Veuillez patienter pendant que nous vous redirigeons vers votre banque...
        </p>

        <form action="{{ url }}" method="post" name="app_adhesion_payment" id="app-adhesion-redirect-form">
            {% for field in form %}
                <input
                    type="{{ field.vars.block_prefixes[1] }}"
                    name="{{ field.vars.name }}"
                    {% if field.vars.value is not empty %}value="{{ field.vars.value }}"{% endif %}
                />
            {% endfor %}

            <input type="submit" class="" value="Continuer vers ma banque" />
        </form>
    </section>
{% endblock %}
