{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runAdhesionAmountPage();
        });
    </script>
{% endblock %}

{% set left_side_background = 'bg-light-green' %}
{% set back_btn_target = path('app_renaissance_homepage') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <div class="max-w-4xl mx-auto">
        {% set is_re_adhesion = app.request.query.has('is_re_adhesion') %}

        {% if app.user.isRenaissanceAdherent() and not app.user.hasActiveMembership() %}
            <h2 class="text-re-green-500 text-xl lg:text-3xl">Bonjour {{ app.user.firstName }},</h2>
            <p class="mt-2 mb-4 text-gray-500">Nous vous remercions de votre confiance et vous proposons de cotiser pour l’année en cours.</p>
        {% endif %}
        {{ form_start(form) }}

            {% include 'renaissance/components/amount_chooser.html.twig' %}

            <div class="mt-10 flex flex-col">
                <button type="submit" class="button button-green button-full mt-10">Étape suivante</button>

                {% if is_re_adhesion %}
                    <div class="or-separator"></div>

                    <a class="button button-blue button-full" href="https://storage.googleapis.com/parti-renaissance.fr/Renaissance-Bulletin-adhesion.pdf" target="_blank">
                        Télécharger le bulletin d'adhésion
                    </a>
                {% endif %}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
