{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runAdhesionAmountPage();
        });
    </script>
{% endblock %}

{% set left_side_background = 'bg-light-green' %}
{% set back_btn_target = path('renaissance_site') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <div class="max-w-2xl mx-auto">
        {% set is_re_adhesion = app.user.isRenaissanceAdherent() and not app.user.hasActiveMembership() %}

        {% if is_re_adhesion %}
            <h2 class="text-re-green-500 text-xl lg:text-3xl">Bonjour {{ app.user.firstName }},</h2>
            <p class="text-justify my-4 text-gray-500">
                Le renouvellement annuel de votre cotisation au parti Renaissance permet d'accéder de manière prioritaire aux événements du parti comme le campus, de voter pour vos instances locales, ou de participer aux grandes consultations nationales.
                <br/>
                <br/>
                Elle est à 100% reversée sur le budget de votre assemblée départementale.
                <br/>
                <br/>
                Dans cette année européenne, nous avons encore plus besoin de vous.
                <br/>
                Contribuez à la campagne et faites un don en plus de votre cotisation ! Cliquez sur la case pour connaître la réduction d'impôt à laquelle vous avez droit.
            </p>
        {% endif %}

        {{ form_start(form) }}
            {% include 'renaissance/components/amount_chooser.html.twig' with { is_re_adhesion: is_re_adhesion } %}

            {% if is_re_adhesion %}
                <p class="text-justify mt-5 text-gray-500">Si vous souhaitez faire un don aux assemblées départementales, merci de vous rendre sur la page dédiée aux dons.</p>
            {% endif %}

            <div class="mt-4 flex flex-col">
                <button type="submit" class="button button-green button-full mt-10">Étape suivante</button>

                {% if is_re_adhesion %}
                    <div class="or-separator"></div>

                    <a class="button button-blue button-full" href="https://storage.googleapis.com/parti-renaissance.fr/Renaissance-Bulletin-adhesion.pdf" target="_blank">
                        Télécharger le bulletin d'adhésion
                    </a>
                {% endif %}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
