{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runAdhesionAmountPage();
        });
    </script>
{% endblock %}

{% set left_side_background = 'bg-light-green' %}
{% set back_btn_target = path('app_renaissance_homepage') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <div class="max-w-4xl mx-auto">
        {{ form_start(form) }}

            {% include 'renaissance/components/amount_chooser.html.twig' %}

            <button type="submit" class="button button-green button-full mt-10">
                Étape suivante
            </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
