{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block navigation_steps '' %}

{% block adhesion_title %}
    <span class="text-yellow font-bold">
        Paiement a échoué !
    </span>
{% endblock %}

{% block adhesion_content %}
    <section>
        <div>
            <div>
                <h3>{{ get_payment_message_by_code(result_code)|trans|raw }}</h3>

                <a href="{{ retry_url }}" class="text-dark-blue hover:text-white">
                    Je souhaite réessayer
                </a>

                <p>
                    Si le problème persiste, veuillez <a href="mailto:contact@parti-renaissance.fr" class="text-dark-blue hover:text-white" target="_blank">nous contacter</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
