{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% set left_side_background = 'bg-light-red' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-red',
        text_color_class: 'text-red',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section>
        <p class="flex flex-col">
            <span>{{ get_payment_message_by_code(result_code)|trans|raw }}</span>

            <a href="{{ retry_url }}" class="button button-blue w-96 my-10">
                Je souhaite réessayer
            </a>

            <span>Si le problème persiste, veuillez <a href="mailto:contact@parti-renaissance.fr" class="underline text-dark-blue hover:text-red" target="_blank">nous contacter</a>.</span>
        </p>
    </section>
{% endblock %}
