{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% block navigation_steps '' %}

{% block adhesion_title %}
    <span class="text-yellow font-bold">
        {% if successful %}
            Adhésion réussie !
        {% else %}
            L’adhésion a échoué !
        {% endif %}
    </span>
{% endblock %}

{% block content_right_side %}
    <section class="self-center">
        {% if successful %}
            <div>
                <h1>Adhésion réussie !</h1>
                <p>
                    Le paiement a bien été validé. Vous êtes désormais inscrit, <br/>
                    bienvenu(e)! Il ne reste plus qu’à confirmer votre inscription <br/>
                    en cliquant sur le lien que vous avez reçu sur votre email.
                </p>
            </div>
            <div class="mt-4">
                <a href="{{ path('app_renaissance_homepage') }}" class="bg-green-400 hover:bg-green-700 text-white-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Retourner sur la page d'accueil
                </a>
            </div>
        {% else %}
            <div>
                <div>
                    <h3>{{ get_payment_message_by_code(result_code)|trans|raw }}</h3>

                    <a href="{{ retry_url }}">
                        Je souhaite réessayer
                    </a>

                    <p>
                        Si le problème persiste, veuillez <a href="https://contact.en-marche.fr" target="_blank" rel="noopener noreferrer">nous contacter</a>.
                    </p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
