{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block navigation_steps '' %}

{% block adhesion_title %}
    Voici un récapitulatif<br/>de <span class="stabilo stabilo-blue">vos informations.</span>
{% endblock %}

{% block adhesion_content %}
    <section>
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Prénom', value: command.firstName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Nom', value: command.lastName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Adresse postale', value: command.address.fullAddress } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'E-mail', value: command.emailAddress } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Cotisation', value: command.amount|format_currency('EUR')|replace({',00' : ''}) } %}

        {{ form_start(form, { attr: { class: 'mt-10' } }) }}
            {{ form_errors(form) }}

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_renaissance_adhesion',
                previous_route_label: 'Modifier mes informations',
                next_button_label: 'Confirmer',
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
