{% extends 'renaissance/adhesion/_adhesion_layout.html.twig' %}

{% form_theme form 'renaissance/form_theme.html.twig' %}

{% block navigation_steps '' %}

{% block adhesion_title %}
    Voici un récapitulatif<br/>de vos informations.
{% endblock %}

{% block content_right_side %}
    <section class="py-10">
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Prénom', value: command.firstName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Nom', value: command.lastName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Adresse postale', value: command.address.fullAddress } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'E-mail', value: command.emailAddress } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Date de naissance', value: command.birthdate|format_date(pattern='d MMMM y') } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Genre', value: command.genderName|trans } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Nationalité', value: command.nationality|countryName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Téléphone', value: command.phone ? command.phone|phone_number_format } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Cotisation', value: command.amount|format_currency('EUR')|replace({',00' : ''}) } %}

        {{ form_start(form) }}
            {{ form_errors(form) }}

            {% include 'renaissance/adhesion/partials/previous-next-buttons.html.twig' with {
                route_name: 'app_renaissance_adhesion',
                route_label: 'Modifier mes informations',
                form_button: form.payment,
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
