{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% form_theme form 'renaissance/forms/default_form_theme.html.twig' %}

{% set left_side_background = 'bg-light-green' %}
{% set back_btn_target = path('app_renaissance_adhesion_amount') %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'h-20 w-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section>
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Prénom', value: command.firstName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Nom', value: command.lastName } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Adresse postale', value: command.address.fullAddress } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Email', value: command.emailAddress } %}
        {% include 'renaissance/adhesion/partials/summary_row.html.twig' with { label: 'Cotisation', value: command.amount|format_currency('EUR', locale='fr')|replace({',00' : ''}) } %}

        {{ form_start(form, { attr: { class: 'mt-10' } }) }}
            {{ form_errors(form) }}

            {% include 'renaissance/partials/previous-next-buttons.html.twig' with {
                previous_route_name: 'app_renaissance_adhesion',
                previous_route_label: 'Modifier mes informations',
                next_button_label: 'Confirmer mon email',
            } %}
        {{ form_end(form) }}
    </section>
{% endblock %}
