{% extends 'renaissance/adhesion/_layout.html.twig' %}

{% set left_side_background = 'bg-light-red' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 're-logo-red',
        text_color_class: 'text-red',
    } %}
{% endblock %}

{% block adhesion_content %}
    <section class="w-96">
        <div class="text-center font-normal">
            <h1 class="font-bold mt-5">Votre adresse email est validée !</h1>
            <p>
                Vous pouvez dès à présent procéder au paiement de votre cotisation de: <br/>
                <span class="font-normal text-3xl leading-10">{{ adherent_request.amount|format_currency('EUR')|replace({',00' : ''}) }}</span>
            </p>
        </div>

        <div class="mt-10 text-center">
            <a href="{{ path('app_renaissance_adhesion_pre_payment', { amount: adherent_request.amount }) }}" class="button button-full button-blue">
                Procéder au paiement
            </a>
        </div>
    </section>
{% endblock %}
