{% extends 'citizen_action_manager/_form_layout.html.twig' %}

{% block page_title 'Éditer mon action citoyenne' %}

{% block content_header 'Editer l\'action citoyenne' %}

{% block citizen_action_submit_button %}
    <div class="form__row text--center b__nudge--top-40 b__nudge--bottom-huge">
        <button type="submit" class="btn btn--blue btn--medium">Je modifie mon action citoyenne</button>
    </div>
{% endblock %}
