{% if object.isDraft() %}
    <a
            href="{{ admin.generateObjectUrl('edit', object, actions.link_parameters|default([])) }}"
            class="btn btn-sm btn-default"
            title="Modifier"
    >
        <i class="fa fa-edit" aria-hidden="true"></i>
        Modifier
    </a>
{% endif %}
