version: 2

references:
    working_directory: &working_directory
        working_directory: ~/app

    attach_workspace: &attach_workspace
        attach_workspace:
            at: ~/app

    configure_base: &configure_base
        environment:
            DOCKER_COMPOSE: "docker-compose -f docker-compose.yml -f docker-compose.ci.yml"
            EXEC: "$(DOCKER_COMPOSE) exec -T app entrypoint.sh"
        machine:
            image: ubuntu-2004:202107-02

    generate_docker_hashes: &generate_docker_hashes
        run: |
            test -e docker-dev.md5 || find docker/dev -type f -exec md5sum {} \; | sort -k 2 > docker-dev.md5
            echo 'export APP_DOCKER_IMAGE_NAME=eu.gcr.io/${GCLOUD_PROJECT}/en-marche.fr' >> $BASH_ENV
            echo 'export APP_DOCKER_IMAGE_MD5=$(md5sum docker-dev.md5 | cut -f1 -d" ")' >> $BASH_ENV

    authenticate_on_registry: &authenticate_on_registry
        run: |
            set -x

            echo $GCLOUD_SERVICE_KEY | base64 --decode > $HOME/gcloud-service-key.json
            gcloud auth activate-service-account --key-file $HOME/gcloud-service-key.json
            gcloud config set project $GCLOUD_PROJECT

    pull_docker_images: &pull_docker_images
        run: gcloud docker -- pull $APP_DOCKER_IMAGE_NAME:$APP_DOCKER_IMAGE_MD5

    start_containers: &start_containers
        run: make up perm

jobs:
    build:
        <<: *working_directory
        <<: *configure_base
        steps:
            - checkout

            - restore_cache:
                name: Restore Composer cache
                key: composer-{{ .Environment.CACHE_VERSION }}-{{ checksum "composer.lock" }}
            - restore_cache:
                name: Restore NPM cache
                key: npm-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

            - *generate_docker_hashes
            - *authenticate_on_registry
            - run: |
                set -x

                gcloud docker -- pull $APP_DOCKER_IMAGE_NAME:dev || true
                gcloud docker -- pull $APP_DOCKER_IMAGE_NAME:$APP_DOCKER_IMAGE_MD5 || true

                make build

                make up
                make -j2 node_modules assets-prod var/public.key
                make vendor cc

                gcloud docker -- push $APP_DOCKER_IMAGE_NAME:$APP_DOCKER_IMAGE_MD5
                gcloud container images add-tag $APP_DOCKER_IMAGE_NAME:$APP_DOCKER_IMAGE_MD5 $APP_DOCKER_IMAGE_NAME:dev --quiet

            - save_cache:
                  name: Save Composer cache
                  paths:
                      - ./vendor
                  key: composer-{{ .Environment.CACHE_VERSION }}-{{ checksum "composer.lock" }}
            - save_cache:
                  name: Save NPM cache
                  paths:
                      - ./node_modules
                  key: npm-{{ .Environment.CACHE_VERSION }}-{{ checksum "yarn.lock" }}

            - persist_to_workspace:
                  root: ./
                  paths:
                      - ./

    phpunit:
        <<: *working_directory
        <<: *configure_base
        steps:
            - *attach_workspace
            - *generate_docker_hashes
            - *authenticate_on_registry
            - *pull_docker_images
            - *start_containers
            - run: |
                set -x

                make security-check
                mkdir -p ./phpunit
                make -j2 tfp-rabbitmq tfp-db

                $DOCKER_COMPOSE exec app ./vendor/bin/phpunit -v --log-junit ./phpunit/junit.xml
            - store_test_results:
                path: ./phpunit

    behat:
        <<: *working_directory
        <<: *configure_base
        parallelism: 4
        steps:
            - *attach_workspace
            - *generate_docker_hashes
            - *authenticate_on_registry
            - *pull_docker_images
            - *start_containers
            - run: |
                set -x

                mkdir -p ./behat
                make -j2 tfp-rabbitmq tfp-db-init
                make perm

                case $CIRCLE_NODE_INDEX in
                    0)
                        $DOCKER_COMPOSE exec app ./vendor/bin/behat --tags='@api' -vvv --colors -f progress -o std -f junit -o ./behat --
                        ;;
                    1)
                        $DOCKER_COMPOSE exec app ./vendor/bin/behat --tags='@apiJemengage,@apiCoalitions,@apiUserInfo' -vvv --colors -f progress -o std -f junit -o ./behat --
                        ;;
                    2)
                        $DOCKER_COMPOSE exec app ./vendor/bin/behat --tags='@republicansilence,@registration,@popupchart,@municipalSpace,@procurationProxy,@donation,@procurationRequest,@committeeVote,@surveys' -vvv --colors -f progress -o std -f junit -o ./behat --
                        ;;
                    3)
                        $DOCKER_COMPOSE exec app ./vendor/bin/behat --tags='@oauth,@admin,~@apiJemengage&&~@apiCoalitions&&~@api&&~@donation&&~@admin&&~@oauth&&~@registration&&~@popupchart&&~@republicansilence&&~@surveys&&~@committeeVote&&~@municipalSpace&&~@procurationRequest&&~@procurationProxy' -vvv --colors -f progress -o std -f junit -o ./behat --
                        ;;
                esac
            - store_test_results:
                path: ./behat
            - store_artifacts:
                path: var/behat
                destination: screenshots
                when: on_fail

    deployment:
        <<: *working_directory
        docker:
            - image: google/cloud-sdk
        steps:
            - *attach_workspace
            - *authenticate_on_registry
            - setup_remote_docker
            - run: |
                bash scripts/build.sh

workflows:
    version: 2
    test_deploy:
        jobs:
            - build:
                filters:
                    branches:
                        only:
                            - master

            - phpunit:
                requires:
                    - build
            - behat:
                requires:
                    - build

            - deployment:
                requires:
                    - phpunit
                    - behat
                filters:
                    branches:
                        only:
                            - master

    prod_deploy:
        jobs:
            - build:
                filters:
                  branches:
                      ignore: /.*/
                  tags:
                      only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

            - deployment:
                requires:
                    - build
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
