{% extends 'base.html.twig' %}

{% block title 'Nouvel événement' %}

{% block banner '' %}

{% block content %}
    <section class="l__wrapper--medium">
        <div class="committee">
            <h2>Créer mon événement</h2>
        </div>
    </section>

    <section class="l__wrapper--medium">
        <div class="committee">
            {{ include('committee/hosts.html.twig') }}
        </div>
    </section>
{% endblock %}
