{% extends 'base_ren.html.twig' %}

{% block content %}
    <section class="w-screen h-screen md:flex">
        <div style="background-image: url('/images/renaissance/login-background.jpg')" class="h-1/2 md:h-full md:w-1/2 bg-cover relative md:flex md:flex-col md:justify-between">
            <div class="h-12.5 md:h-16.25 border-b-2 border-white/10 pl-7.5 md:flex md:items-center md:justify-between">
                <a href="{{ path('app_ren_homepage') }}"><img src="/images/renaissance/logo.svg" alt="logo"/></a>

                <a href="{{ path('app_ren_homepage') }}" class="md:hidden text-white font-bold text-sm pr-7.5">
                    <i class="fa fa-caret-left text-white mr-4"></i> Retour
                </a>
            </div>

            {% block content_left_side '' %}
        </div>

        <!-- Right side -->
        <div class="h-fit md:h-full md:w-1/2 bg-light-blue flex flex-col justify-between">
            <div class="h-12.5 md:h-16.25 md:border-b-2 md:border-white/10 md:flex md:justify-end md:items-center shrink-0">
                <a href="{{ path('app_ren_homepage') }}" class="md:mr-7.5 text-white font-bold text-sm">
                    <i class="fa fa-caret-left text-white mr-4"></i> Retour
                </a>
            </div>

            <div class="h-full md:flex px-3.75 xl:px-37.5 overflow-auto text-white">
                {% block content_right_side '' %}
            </div>
        </div>
    </section>
{% endblock %}
