{% extends 'base_renaissance.html.twig' %}

{% block content %}
    <main class="flex flex-col h-screen">
        {{ include('renaissance/partials/site-header.html.twig', {theme_bg: 'border-b border-re-blue-400 bg-re-blue-500'}) }}

        {% block content_section %}{% endblock %}
    </main>
{% endblock %}
