{% extends 'base_renaissance.html.twig' %}

{% block title 'Grand Quiz : Révisez votre Bilan européen' %}

{% block head_javascripts %}
    <script async src="https://tally.so/widgets/embed.js"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        html { margin: 0; height: 100%; overflow: hidden; }
        iframe { border: 0; }
    </style>
{% endblock %}

{% block header %}
    {% include 'renaissance/adherent/_nav_bar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="absolute top-[64px] right-0 bottom-0 left-0">
        <iframe data-tally-src="https://tally.so/r/3xYlVr?transparentBackground=1&uuid={{ app.user.uuid }}" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="Grand Quiz : Révisez votre Bilan européen"></iframe>
    </div>
{% endblock %}
