{% extends 'citizen_initiative/add.html.twig' %}

{% block page_title initiative.name %}

{% block content %}
    {% set event = initiative %}
    {% set event_url = url('app_citizen_initiative_show', {slug: event.slug}) %}
    <section class="commitee__event l__wrapper">

        {{ include('events/_header.html.twig') }}

        <a href="{{ event_url }}" class="back-to-list icon--with-text b__nudge--top-15 text--summary">
            {{ include('components/caret--left.html.twig') }}
            Retour à la page de l'initiative citoyenne
        </a>
    </section>
    {{ parent() }}
{% endblock %}
