{% extends 'citizen_initiative/show.html.twig' %}

{% block main_section %}
    {% set event = initiative %}
    {% if event.expertAssistanceDescription %}
    <div class="committee-event-description b__nudge--top b__nudge--bottom-huge">
        {{- event.expertAssistanceDescription|raw -}}
    </div>
    {% else %}
    <p>L'organisateur recherche ce type de compétences :</p>    
    {% endif %}
    <ul>
    {% for skill in event.skills %}
        <li>{{ skill }}</li>
    {% endfor %}
    </ul>

    <p>Contactez l'organisateur si vous pensez pouvoir aider !</p>
{% endblock %}
