{% extends 'citizen_initiative/show.html.twig' %}

{% block main_section %}
    {% set event = initiative %}
    {% if event.expertAssistanceDescription %}
    <div class="text--bold">Description des besoins</div>
    <div class="committee-event-description text--with-bullet b__nudge--bottom-huge">
        {{- event.expertAssistanceDescription|raw -}}
    </div>
    {% endif %}
    <div class="text--bold">Type de mission</div>
    <div class="committee-event-description text--with-bullet b__nudge--bottom-huge">
        La mission est bénévole
    </div>
{% endblock %}
