{% extends 'base.html.twig' %}

{% block page_title 'La fonctionnalité disponible dès Novembre' %}

{% block content %}
    <main class="citizen_initiative__create l__wrapper">
        <section class="content ">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large text--center">
                    Dès novembre, créez votre initiative citoyenne !
                </h1>
                <div class="text--body text--center b__nudge--top-10">
                    <p>
                        Une initiative citoyenne, c'est une action locale qui vise à améliorer concrètement le quotidien des habitants. Par exemple : "Créer un jardin partagé", "Mutualiser la garde des enfants dans un quartier", "Donner des cours du soir à des élèves en difficulté".
                    </p>
                    <p>
                        <a href="https://enmarche.typeform.com/to/gSvShB" target="_blank">
                            Être informé(e) dès sa mise en ligne !
                        </a>
                    </p>
                    <p>
                        À bientôt !
                    </p>
                </div>
            </header>
        </section>
    </main>
{% endblock content %}
