{% extends 'summary/_block/contact.html.twig' %}

{% block summary_contact %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_CONTACT') }) }}" class="button">Modifer</a>
{% endblock %}

