{% extends 'summary/_block/interests.html.twig' %}

{% block summary_interests %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_INTERESTS') }) }}" class="button">Modifer</a>
{% endblock %}

