{% extends 'summary/_block/mission_wishes.html.twig' %}

{% block summary_mission_wishes %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_step', { step: constant('App\\Form\\SummaryType::STEP_MISSION_WISHES') }) }}" class="button">
        Modifier ma description</a>
{% endblock %}
