{% extends 'summary/_block/recent_activities.html.twig' %}

{% block summary_recent_activities %}
    <div>
        <h2>Activité récente chez En Marche</h2>
        <p>
            {% for activity in recent_activities.logs|slice(1, 5) %}
                {{ activity }}
            {% endfor %}
        </p>
    </div>
    <a href="{{ path('app_summary_manager_toggle_showing_recent_activities') }}" class="button">{{ summary.showingRecentActivities ? 'Masquer' : 'Afficher' }} au public</a>
{% endblock %}
