{% extends 'summary/_block/recent_activities.html.twig' %}

{% block summary_recent_activities %}
    {{ parent() }}
    <a href="#" class="button">{{ summary.showingRecentActivities ? 'Masquer' : 'Afficher' }} au public</a>
{% endblock %}

