{% extends 'summary/_block/skills.html.twig' %}

{% block summary_skills %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_SKILLS') }) }}" class="button">Modifer</a>
{% endblock %}

