{% extends 'summary/_block/synthesis.html.twig' %}

{% block summary_synthesis %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_SYNTHESIS') }) }}" class="button">Modifer</a>
{% endblock %}


{% block summary_bottom_part %}
    <div>
        <div>
            {{ app.user.activatedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM Y') }}<br>
            Date d'adhésion
        </div>
        <div>
            23 <br> participations à des events
        </div>
        <div>
            65% <br> profile complété
        </div>
    </div>
{% endblock %}
