{% extends 'summary/_block/synthesis.html.twig' %}

{% block summary_synthesis %}
    {{ parent() }}
    <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_SYNTHESIS') }) }}" class="button">Modifer</a>
{% endblock %}
