{% extends 'summary/_block/synthesis.html.twig' %}

{% block summary_synthesis %}
    {{ parent() }}
    <div class="cv__work-status--modify">
        <a href="{{ path('app_summary_manager_step', { step: constant('AppBundle\\Form\\SummaryType::STEP_SYNTHESIS') }) }}" class="button">Modifer</a>
    </div>
{% endblock %}


{% block summary_bottom_part %}
    <div class="bandeau bandeau--wide bandeau--blue">
        <ul>
            <li>
                <div class="text--normal">Date d'adhésion</div>
                {{ app.user.activatedAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM Y') }}
            </li>
            <li>
                <div class="text--normal">Participation</div>
                23 évènements
            </li>
            <li>
                <div class="text--normal">Profil complété</div>
                65%
            </li>
        </ul>
    </div>
{% endblock %}
