{% extends 'summary/_block/trainings.html.twig' %}

{% block summary_trainings %}
    {{ parent() }}
    <a href="#" class="button"><i class="fa fa-plus fa-3x"></i></a>
    {% block modify %}
        {{ parent() }}
        <a href="#" class="button">Modifer</a>
    {% endblock %}
{% endblock %}
