<section class="l__wrapper--medium">

    <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
        <h2>Formations</h2>
        <a href="#" class="button"><i class="fa fa-plus fa-3x"></i></a>
        <p>
            {% for training in summary.trainings %}
                {# todo #}
                {% if not loop.last %}<br>{% endif %}
            {% endfor %}
        </p>
    </div>

</section>
