{% if object is instanceof('App\\Entity\\NationalEvent\\Payment') %}
    {% set object = object.inscription %}
{% endif %}

{% set items = [] %}

{% if object.packagePlan %}
    {% set package_plan_config = object.getPackagePlanConfig() %}
    {% if package_plan_config %}
        {% set items = items|merge([package_plan_config.titre]) %}
    {% endif %}
{% endif %}
{% if object.visitDay %}
    {% set visit_day_config = object.getVisitDayConfig() %}
    {% if visit_day_config %}
        {% set items = items|merge([visit_day_config.titre]) %}
    {% endif %}
{% endif %}
{% if object.transport %}
    {% set transport_config = object.getTransportConfig() %}
    {% if transport_config %}
        {% set items = items|merge([transport_config.titre]) %}
    {% endif %}
{% endif %}
{% if object.packageCity %}
    {% set items = items|merge(['Ville de départ : ' ~ object.packageCity]) %}
{% endif %}
{% if object.accommodation %}
    {% set accommodation_config = object.getAccommodationConfig() %}
    {% if accommodation_config %}
        {% set items = items|merge([accommodation_config.titre]) %}
    {% endif %}
{% endif %}
{% if object.roommateIdentifier %}
    {% set items = items|merge(['Partenaire : <a href="' ~ path('admin_app_adherent_list', {filter: {search: {value: object.roommateIdentifier}}}) ~ '" target="_blank">' ~ object.roommateIdentifier ~ '</a>']) %}
{% endif %}
{% if object.volunteer %}
    {% set items = items|merge(['Souhaite être bénévole']) %}
{% endif %}
{% if object.isJAM %}
    {% set items = items|merge(['Est JAM']) %}
{% endif %}
{% if object.accessibility %}
    {% set items = items|merge(['A un handicap']) %}
{% endif %}

{% if object.packageDonation %}
    {% set package_donation_config = object.getPackageDonationConfig() %}
    {% if package_donation_config %}
        {% set items = items|merge([package_donation_config.titre]) %}
    {% endif %}
{% endif %}

{% for key, value in object.packageValues %}
    {% set items = items|merge([key ~ ' : ' ~ value]) %}
{% endfor %}

{% if items|length %}
    <ul class="list-disc pl-5">
        {% for item in items %}
            <li>{{ item|raw }}</li>
        {% endfor %}
    </ul>
{% endif %}
