{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.adherent %}
        {{ include('admin/adherent/_tags.html.twig', {tags: object.adherent.tags}) }}
    {% endif %}
    {% if object.ticketScannedAt %}
        {% if object.adherent and object.adherent.tags %}<br/>{% endif %}
        <span class="label label-success">Présent</span>
    {% endif %}
{% endblock %}
