<a href="{{ path('app_national_event_my_inscription', {slug: object.event.slug, uuid: object.uuid}) }}" class="btn btn-sm btn-info" target="_blank" title="Consulter">
    <i class="fa fa-external-link"></i> Voir
</a>
