<a href="{{ path('app_national_event_by_slug', {slug: object.slug, app_domain: user_vox_host}) }}" class="btn btn-sm btn-info" title="Voir" target="_blank">
    <i class="fa fa-eye" aria-hidden="true"></i>
    Voir
</a>
