{% if object.isTicketReady() %}
    <a href="{{ url('app_national_event_ticket', {file: object.ticketQRCodeFile}) }}" class="btn btn-sm btn-default" target="_blank" rel="noopener" title="Voir le billet">
        <i class="fa fa-eye"></i> Voir le billet
    </a>
{% endif %}
