{% if object.isApproved %}
    <a href="{{ admin.generateObjectUrl('sendTicket', object) }}" class="btn btn-sm btn-success" title="Envoyer le billet">
        <i class="fa fa-ticket"></i> Envoyer le billet
    </a>
{% endif %}
