{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.amount > 0 %}
        <div>
            {% set targetAdmin = admin.getConfigurationPool().getAdminByAdminCode(admin.getCode() ~ '_payments') %}
            <a href="{{ targetAdmin.generateUrl('list', {filter: {inscription: {value: object.id}}}) }}">
                {{ object.amountInEuro }} € ({{ object.countPayments() }})
            </a>
        </div>
    {% endif %}
    <div>
        {{ object.paymentStatus|trans }}
    </div>
{% endblock %}
