{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    <table class="table">
        {% for status in value|sort((a, b) => b.createdAt <=> a.createdAt) %}
            <tr>
                <td>{{ status.isSuccess() ? 'Confirmé' : 'Échec' }}</td>
                <td>{{ status.createdAt|date('d/m/Y H:i:s') }}</td>
                <td><pre>{{ status.payload|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
