{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <ul>
        {% for administrator in object.administrators %}
            <li>
                <a href="{{ path('admin_app_adherent_show', {'id': administrator.id}) }}">
                    {{ administrator.fullName }}
                </a>
                <br />
                {{ administrator.emailAddress }}
                {% if administrator.phone %}
                    <br />
                    {{ administrator.phone|phone_number_format }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
