{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.nextAction %}
        <a href="{{ path('admin_app_event_citizenaction_show', {id: object.nextAction.id}) }}">
            {{ object.nextAction.name }}
        </a>
        <br />
        {{ object.nextAction.beginAt|date('Y-m-d H:i:s') }}
    {% endif %}
{% endblock %}
