{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.committeeSupports|length %}
        <ul>
            {% for committeeSupport in object.committeeSupports %}
                <li>
                    {{ committeeSupport.committee.name }}
                    {% if committeeSupport.isApproved %}
                        <span class="label label-success">Accepté</span>
                    {% elseif committeeSupport.isPending %}
                        <span class="label label-primary">En attente</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
