{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block actions %}
    <li>
        <a href="{{ path('app_admin_citizenproject_members', { id: object.id }) }}" class="sonata-action-element" title="Membres">
            <i class="fa fa-users" aria-hidden="true"></i>
            Membres
        </a>
    </li>
    {% if object.isApproved %}
        <li>
            <a href="{{ path('app_citizen_project_show', {'uuid': object.uuid.toString, 'slug': object.slug}) }}"
               class="sonata-action-element" title="Voir sur le site">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Voir sur le site
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('admin_app_citizenproject_edit', { id: object.id }) }}" class="sonata-action-element" title="Éditer">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Éditer
        </a>
    </li>
    <li>
        <a href="{{ path('admin_app_citizenproject_list') }}" class="sonata-action-element" title="Retourner à la liste">
            <i class="fa fa-list" aria-hidden="true"></i>
            Retourner à la liste
        </a>
    </li>
{% endblock %}

