{% if citizenProject.isRefused %}
    <span class="label label-danger">Refusé</span>
{% elseif citizenProject.isApproved %}
    <span class="label label-success">Accepté</span>
{% else %}
    <span class="label label-primary">En attente</span>
{% endif %}
