{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div style="text-align: center;">
        {% if object.video %}
            <a href="{{ media_asset(object) }}" target="_blank">Vidéo</a>
        {% else %}
            <img src="{{ media_asset(object, {'w': 150}) }}" style="max-height: 50px; max-width: 100px;" />
        {% endif %}
    </div>
{% endblock %}
