{% block content %}
Vous êtes invité à adhérer à en Marche !

<main>
    <section>
        <h1>{{ fullName }} vous invite à adhérer à En Marche !</h1>
        <p> {{ message }}<p>
    </section>
</main>

{% endblock %}
