{% extends 'message/send_success.html.twig' %}

{% block message_send_success_sub_content %}
    {% if not message.isSendToTimeline %}
        <div class="l__wrapper--600 b__nudge--top-large">
            {% set filter = message.filter %}

            {% if filter.instanceType == constant('App\\Entity\\AdherentMessage\\Filter\\ReferentInstancesFilter::INSTANCE_TYPE_COPOL') %}
                <a href="{{ path('app_message_referent_instances_publish_message', {uuid: message.uuid}) }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">Publier le message sur la page du Comité politique</a>
            {% else %}
                <a href="{{ path('app_message_referent_instances_publish_message', {uuid: message.uuid, coterr: true}) }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">Publier le message sur la page du Conseil territorial</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
