.adherent__ctn__summary,
.adherent__ctn__bars {
    display: flex;
    justify-content: space-around;

    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
    }
}
