.committee__ctn {
    &__summary,
    &__bars,
    &__ranking {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__select {
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 100%;
    }

    &__input {
        display: flex;
        justify-content: space-between;
        margin: 25px 20px 20px 20px;
        width: 100%;
    }

    &__bars {
        margin-bottom: 15px;
        justify-content: space-around;
    }
}
