<script type="text/javascript">
    Kernel.onLoad(function() {
        App.runManagedList(
            [
                {
                    key: 'lastName',
                    name: 'Nom',
                    sortable: true,
                },
                {
                    key: 'firstName',
                    name: 'Prénom',
                },
                {
                    key: 'gender',
                    name: 'Genre',
                },
                {
                    key: 'phone',
                    name: 'Téléphone',
                },
                {
                    key: 'favoriteCities',
                    name: 'Ville(s) choisie(s)',
                },
                {
                    key: 'tags',
                    name: 'Tags de candidature',
                    className: 'municipal-candidate-tags',
                },
                {
                    key: 'createdAt',
                    name: 'Ajouté le',
                    sortable: true,
                },
                {
                    key: 'updatedAt',
                    name: 'Modifié le',
                    sortable: true,
                },
                {
                    key: 'isAdherent',
                    name: 'Adhérent ?',
                },
                {
                    key: 'inMyTeam',
                    name: 'Équipier ?',
                },
                {
                    key: 'menu',
                    name: 'Action',
                    menu: true,
                },
            ],
            [
                {% for request in requests %}
                    {% spaceless %}
                        {% set team_link_url = false %}

                        {% if request.takenForCity in app.user.municipalChiefManagedArea.codes %}
                            {% set team_link_label = 'Retirer de mon équipe' %}
                            {% set team_link_class = 'text--error' %}
                            {% set team_link_url = path("app_municipal_chief_#{request_type}_remove_from_my_team", { uuid: request.uuid }|merge(target_sub_space == 'my_team' ? {mtt: true} : {})) %}
                        {% elseif not request.takenForCity %}
                            {% set team_link_label = 'Ajouter à mon équipe' %}
                            {% set team_link_class = 'text-dark' %}
                            {% set team_link_url = path("app_municipal_chief_#{request_type}_add_to_my_team", { uuid: request.uuid }|merge(target_sub_space == 'my_team' ? {mtt: true} : {})) %}
                        {% endif %}

                        {% set menu = [
                            {
                                label: 'Plus d\'infos',
                                url: path("app_municipal_chief_candidate_#{request_type}_detail", { uuid: request.uuid })
                            },
                            {
                                label: 'Taguer',
                                url: path("app_municipal_chief_candidate_#{request_type}_tags", { uuid: request.uuid })
                            }
                        ] %}

                        {% if request_type == 'running_mate' %}
                            {% set menu = menu|merge([{
                                label: 'Télécharger le CV',
                                url: path('app_municipal_chief_running_mate_curriculum', { uuid: request.uuid }),
                                targetBlank: true
                            }]) %}
                        {% endif %}

                        {% set menu = menu|merge(team_link_url ? [{
                            label: team_link_label,
                            url: team_link_url,
                            className: "row-action text--dark link--no-decor #{team_link_class}"
                        }] : []) %}

                        {% include "application_request/space/_application_request_row.js.twig" with {
                            menu: menu,
                            columns: {
                                tags: request.tags ? '<span>' ~ request.tags|join('</span><span>') ~ '</span>',
                                updatedAt: request.updatedAt|date('d/m/Y à H:i'),
                                inMyTeam: request.takenForCity in app.user.municipalChiefManagedArea.codes ?
                                    '<span class="status status__1">Oui</span>'
                                    : (request.takenForCity ?
                                        '<span class="text--smallest text--italic">Déjà pris dans une autre ville</span>'
                                        : '<span class="status status__2">Non</span>'
                                    ),
                            }
                        } %},
                    {% endspaceless %}
                {% endfor %}
            ]
        );
    });
</script>
