{% extends 'base.html.twig' %}

{% block page_title 'Mon espace chef municipal' %}
{% block canonical_url url('app_municipal_chief_municipal_running_mate_request') %}

{% block banner '' %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <main>
        <section class="manager-space b__nudge--bottom-huge">
            <header class="manager-header">
                <div class="l__wrapper">
                    <div class="first-section">
                        <div class="manager-information">
                            <p>Vous gérez : <span>{{ get_cities_names_from_insee_code(app.user.municipalChiefManagedArea.codes)|join(', ') }}</span></p>
                        </div>
                        <p class="report">🐛 Bug ? Nouveau besoin ?
                            <a href="mailto:techsupport&#64;en-marche.fr" class="text--blue--dark link--no-decor">Écrivez-nous !</a>
                        </p>
                    </div>
                    <div class="second-section">
                        <h1 class="page-title text--large b__nudge--bottom">
                            {{ block('page_title') }}
                        </h1>
                    </div>

                    <nav class="manager-header__menu">
                        <ul>
                            <li class="{{ is_active_route(app.request, 'app_municipal_chief_municipal_*') ? 'active' : '' }}">
                                <a href="{{ path('app_municipal_chief_municipal_running_mate_request') }}">Municipale</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </header>

            <div class="l__wrapper text--body">
                {% block municipal_chief_content %}{% endblock %}
            </div>
        </section>

    </main>
{% endblock %}

{% block final_javascripts %}
{% endblock %}
