<div>
    {% for citizen_project in citizen_projects %}
    <div>
        <h2><strong>{{ citizen_project.name }}</strong>{{ citizen_project.cityName }}</h2>
        <p>{{ citizen_project.subtitle }}</p>
        <a href="{{ url('app_citizen_project_show', { slug: citizen_project.slug }) }}" class="btn" target="_blank">
            Découvir ce projet
        </a>
    </div>
    <br/>
    {% endfor %}
</div>
