{% extends 'citizen_project/_layout.html.twig' %}

{% block page_title 'Soutenir ce projet citoyen' %}

{% block citizen_project_content %}
    <form method="post" id="committee-confirm-support-form" class="form citizen-project-form">
        {{ form_widget(form) }}
        <div>
            <button type="submit" id="committee-confirm-support" class="btn btn--blue">
                Confirmer le soutien de notre comité pour ce projet
            </button>
        </div>
    </form>
{% endblock %}

{% block citizen_project_sidebar '' %}
