{% extends 'base.html.twig' %}

{% block banner '' %}

{% block page_title 'Projets citoyens' %}
{% block canonical_url url('react_app_citizen_projects_home') %}

{% block base_stylesheets %}
    <link href="{{ asset('css/projets-citoyens.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
{% endblock %}
