{% extends 'base.html.twig' %}

{% block page_title 'Projets citoyens' %}
{% block canonical_url url('app_citizen_project_landing') %}

{% block base_stylesheets %}
    <link href="{{ asset('css/projets-citoyens.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="text/javascript" src="{{ asset('js/projets-citoyens.min.js') }}"></script>
{% endblock %}
