{% extends 'base.html.twig' %}

{% block page_title 'Projets citoyens - Media generateur' %}

{% block content %}
    <main class="image-generator">
        <section class="l__wrapper--medium space--30-0">
            <header class="space--30-0">
                <h1 class="b__nudge--bottom-small text--medium">Creer vos images</h1>
            </header>
            <div>
                <ul>
                    <li><a href="{{ path('app_citizen_project_image_generator') }}">Réseaux sociaux</a></li>
                    <li><a href="{{ path('app_citizen_project_tract_generator') }}">Tracts</a></li>
                </ul>
            </div>
            <div>{% block media_generator_form %}{% endblock %}</div>
        </section>
    </main>
{% endblock content %}
