{% extends 'citizen_project/show_base.html.twig' %}

{% block citizen_project_show_content %}
    {{ parent() }}
    <div class="citizen-project-actions">
        {% for action in citizen_actions|slice(0, 5) %}
            {{ include('citizen_project/_citizen_action.html.twig', {action: action}) }}
        {% else %}
            <div class="text--body text--dark">Aucune action prévue pour le moment.</div>
        {% endfor %}

        {% if citizen_actions|length > 5 %}
            <span id="show-more-citizen-actions" class="text--body text--blue--dark cursor--pointer">Voir plus</span>
            <div id="other-citizen-actions" class="visually-hidden">
                {% for action in citizen_actions|slice(5) %}
                    {{ include('citizen_project/_citizen_action.html.twig', {action: action}) }}
                {% endfor %}
            </div>
            <span id="show-less-citizen-actions" class="text--body text--blue--dark visually-hidden cursor--pointer">Voir moins</span>
        {% endif %}
    </div>
{% endblock %}
