{% extends 'base.html.twig' %}

{% block open_graph_image (homepage_url ~ static_asset('pages-sharers/adherents-en-marche.jpg', {'q': 70}))|raw %}
{% block open_graph_image_width 1200 %}
{% block open_graph_image_height 800 %}

{% block banner '' %}

{% block stylesheets %}
    <style type="text/css">
        nav,
        .cc-window {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        {% block action_talents_header %}
            <header class="hero hero--minimalist hero--gradient hero--minimalist--center-20 progressive-background"
                    data-sd="{{ static_asset('action-talents/home.jpg', {'w': 300, 'q': 20}) }}"
                    data-hd="{{ static_asset('action-talents/home.jpg', {'w': 2000, 'q': 70}) }}">
                <div class="hero--minimalist__nav">
                    <a href="{{ path('homepage') }}">En Marche !</a>
                </div>
                <div class="hero--minimalist__content">
                    <h1>
                        Action talents !
                    </h1>
                    <p>
                        Faire émerger, inspirer et accompagner une communauté de
                        talents citoyens qui veulent transformer la France avec nous.
                    </p>
                    <a href="{{ path('app_static_page', { slug: 'action-talents/candidater' }) }}" class="btn btn--hollow">
                        Candidater
                    </a>
                </div>
            </header>
        {% endblock %}

        <section class="content">
            <article class="l__wrapper--600">
                {% block action_talents_content %}{% endblock %}
            </article>
        </section>

    </main>
{% endblock %}
