{% block app_procuration_election_rounds_widget %}
    {% for key, round_form in form %}
        <div class="procuration__choose-election">
            <div class="form__checkbox">
                {{ form_widget(round_form) }}
                {{ form_label(round_form) }}
            </div>
            <div class="text--small text--body procuration__choose-election__day">
                {{ form.vars.choices[key].data.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
