<p class="text--center b__nudge--top-50" id="procuration_faq">
    Vous avez des questions concernant les modalités du vote par procuration ? <a href="https://aide.en-marche.fr/category/729-vote-par-procuration">Cliquez ici !</a><br /><br />
    Si vous avez besoin d'aide pour remplir le formulaire en ligne, n'hésitez pas à nous contacter au 01&nbsp;86&nbsp;95&nbsp;84&nbsp;20 en précisant votre nom, votre prénom, la ville ainsi que votre numéro de téléphone que nous puissions vous rappeler dans les plus brefs délais.
    À très bientôt.
</p>
