{% extends 'procuration/_layout.html.twig' %}

{% block final_javascripts %}
    <script>
        Bootstrap.onLoad(() => Main.runProxyVotingRepresentativeThanksPage().then(() => {
            const copyLink = document.querySelector('[data-clipboard]');
            copyLink.addEventListener('click', () => {
                window.copy_text_to_clipboard(copyLink.getAttribute('data-clipboard'));
                copyLink.textContent = copyLink.textContent.replace(' (copié !)', '');
                copyLink.append(' (copié !)');
                setTimeout(() => {
                    copyLink.textContent = copyLink.textContent.replace(' (copié !)', '');
                }, 2000);
            });
        }));
    </script>
{% endblock %}

{% set text_block %}
    {% block thanks_text '' %}
{% endset %}

{% block content_section %}
    <section>
        <twig:Atoms:ReCard class="max-w-[500px] re-step gap-0 !border-black !border-[2px]">
            <div class="flex flex-col gap-[24px] !font-value text-black text-[16px]/[20px]">
                <twig:ReParagraphStatus status="success" icon slim>
                    Votre demande est bien enregistrée
                </twig:ReParagraphStatus>

                {{ text_block }}

                <span class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer" data-clipboard="{{ copylink }}">copier le lien</span>

                <div class="h-[2px] bg-black w-full"></div>
            </div>

            <div class="flex items-center justify-center gap-[40px] py-[40px]">
                {{ include('renaissance/partials/sn_links.html.twig') }}
            </div>

            <twig:ReButton
                class="w-full"
                color="black"
                tag="a"
                href="//{{ renaissance_host }}"
            >Retourner sur le site</twig:ReButton>
        </twig:Atoms:ReCard>
    </section>
{% endblock %}
