{% extends 'base.html.twig' %}

{% block open_graph_image static_asset('procuration.jpg', { w: 1600, h: 900, q: 70 }, 0, app_renaissance_host) %}
{% block open_graph_image_height 900 %}

{% block app_title 'Renaissance' %}
{% block page_title 'Procuration' %}
{% block open_graph_site_name 'Renaissance' %}

{% block canonical_url url('app_procuration_request', {step: constant('App\\Entity\\ProcurationRequest::STEP_URI_VOTE')}) %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}
{% block json_ld '' %}
{% block meta_rss '' %}
{% block search_widget '' %}

{% block favicons %}
    <link rel="icon" type="image/png" href="{{ asset('favicon-re.png') }}" sizes="32x32" />
{% endblock %}

{% block content %}
    <main class="procuration">
        <div class="procuration__upper">
            <section class="procuration__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center text--white"
                     data-sd="{{ static_asset('procuration.jpg', { w: 300, q: 20 }, 0, app_renaissance_host) }}"
                     data-hd="{{ static_asset('procuration.jpg', { w: 2000, q: 70 }, 0, app_renaissance_host) }}">

                <div class="procuration__header--inner l__wrapper--slim">
                    <h1 class="text--larger">Chaque vote compte.</h1>
                    {% block subtitle %}
                        {% if next_election is defined and next_election %}
                            {{ next_election.introduction|raw }}
                        {% endif %}
                    {% endblock %}
                </div>
            </section>
            <section class="l__wrapper">
                <div class="l__wrapper--slim">
                    {% include 'procuration/_faq.html.twig' %}
                </div>

                {% block procuration_content %}{% endblock %}
            </section>
        </div>
    </main>
{% endblock %}
