<div class="space--20-0 text--summary b__nudge--top">
    En cochant cette case, vous autorisez LaREM à utiliser vos informations personnelles et à les communiquer à des tiers, notamment le mandataire et les services administratifs concernés, en vue de la mise en œuvre de la procuration
    Les données recueillies sur ce formulaire sont traitées par LaREM de gérer les mandats de procuration et de permettre à LaREM d’adresser des communications politiques.
    Les informations marquées d’un astérisque sont obligatoires. L’absence de réponse dans ces champs ne permettra pas à LaREM de traiter votre demande.
    Conformément à la règlementation, vous disposez d’un droit d’opposition et d’un droit à la limitation du traitement de données vous concernant, ainsi que d’un droit d’accès, de rectification, de portabilité et d’effacement de vos données. Vous disposez également de la faculté de donner des directives sur le sort de vos données après votre décès.
    Vous pouvez exercer vos droits en nous adressant votre demande accompagnée d’une copie de votre pièce d’identité à l’adresse postale ou électronique suivante : La République En Marche, 63 rue Sainte-Anne, 75002 Paris, France ou <a href="mailto:mes-donnees@en-marche.fr">mes-donnees@en-marche.fr</a>.
</div>
