{% extends 'procuration/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProcurationThanks();
        });
    </script>
{% endblock %}

{% block page_title 'Merci de votre confiance ! - Procuration' %}

{% block procuration_content %}
    <section class="procuration__thanks l__wrapper--slim text--center space--60-0">
        <h1 class="text--large">
            Merci. Nous vous remercions de votre confiance !
        </h1>
        <p class="text--body b__nudge--bottom-larger">
            Votre demande de procuration a bien été enregistrée.<br />
            Un mandataire vous contactera dans les prochains jours pour finaliser la procuration.
        </p>

        <p>
            <a href="{{ path('app_procuration_landing') }}" class="btn">
                Recommencer
            </a>
        </p>

        <p>
            <a href="{{ path('homepage') }}" class="text--summary">
                Retourner sur en-marche.fr
            </a>
        </p>

        <p class="text--summary b__nudge--top-50">
            En cas de question, n’hésitez pas à nous contacter au <a href="tel:+33186950286">01 86 95 02 86</a>
            ou à <a href="mailto:procurations@en-marche.fr">procurations@en-marche.fr</a>.
        </p>
    </section>
{% endblock %}
