{% extends 'base.html.twig' %}

{% block content %}
<main>
    <section class="content programme">
        <header class="space--30-0">
            <div class="l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    Les propositions d’Emmanuel Macron<br>
                    #Révolution
                </h1>
                <p class="text--body">Le moment que nous vivons est celui d’une refondation profonde de la France.<br>Voici celle que nous vous proposons.</p>
            </div>
        </header>

        <div class="l__wrapper--slim">
            <ul>
                <li><a href="#">
                    <h2>Investir dans notre avenir</h2>
                    <div>Économie</div>
                </a></li>
                <li><a href="#">
                    <h2>Produire en France et sauver la planète</h2>
                    <div>Environnement</div>
                </a></li>
                <li><a href="#">
                    <h2>Éduquer tous nos enfants</h2>
                    <div>Éducation</div>
                </a></li>
                <li><a href="#">
                    <h2>Pouvoir vivre de son travail</h2>
                    <div>Travail</div>
                </a></li>
                <li><a href="#">
                    <h2>Insérer chacun dans la société</h2>
                    <div>Solidarité</div>
                </a></li>
                <li><a href="#">
                    <h2>Universaliser les droits</h2>
                    <div>Protection Sociale</div>
                </a></li>
            </ul>
        </div>
        <div class="l__wrapper--slim space--60-0">
            <span>Cet espace accueillera de nouvelles propositions dans les semaines qui viennent.</span>
        </div>

    </section>

</main>
{% endblock %}
