.content {
    header {
        margin-bottom: 30px;

        h2 {
            @include text--body;
        }

        &.filtered-image:after {
            @include classic-gradient($filter);
        }

        .list__links--svgs {
            margin-bottom: 65px;

            a {
                color: white;
            }
        }
    }

    .article__social {
        display: flex;
        align-items: center;
        padding-left: 0;

        .btn {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        .fa {
            font-size: 20px;
            margin-right: 10px;
        }

        @media (max-width: $mobile) {
            .fa {
                margin: 0;
            }
            span {
                display: none;
            }
        }
    }

    nav {
        border-top: 1px solid rgba(0, 35, 73, 0.15);

        ul {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 12.5px;

                &.active {
                    font-weight: 700;
                }

                a {
                    border: none;
                }

                @media (max-width: $mobile) {
                    margin: 5px 12.5px;
                }
            }
        }
    }

    figure {
        margin-bottom: 60px;

        @media (max-width: $mobile) {
            margin-bottom: 30px;
        }

        &.fullscreen {
            margin-left: 0;
            margin-right: 0;

            img {
                width: 100%;
            }
        }
    }
}
