// Base colors
$defaultBackgroundColor : white;
$defaultTextColor : black;

// Colors
$pink: #FF3680;
$pink-hover: #E53072;
$green: #55F0B8;
$green-hover: #4CD7A5;
$blue: #01B2FB;
$blue--light: rgba(0, 178, 251, 0.15);
$blue-hover: #009FE1;
$newblue: #005be2; // temporary until we fully update our color palette
$newblue--hover: #024fc1;
$newgreen: #00e28c;
$yellow: #edf861;
$yellow-hover: #c4d02a;
$orange: #ff7822;
$error: #EE324A;
$success: $green;

// Grays
$darker: #222;
$dark: #4a4a4a;
$gray--dark: #666;
$gray--muted: #999;
$black--half: rgba(0, 0, 0, .5);
$gray: #BCBCBC;
$gray--light: #E5E5E5;
$gray--lighter: #F6F6F6;

// Social Media
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google: #db4437;
$instagram: #cd486b;

// Gradients
$gradient--light: linear-gradient(20deg ,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
$gradient: linear-gradient(20deg ,rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
$gradient-hover: linear-gradient(20deg , rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
$filter: rgba(0, 0, 0, 0.3);
$filter--pink: rgba(255, 54, 128, 0.80);
$filter--dark: rgba(0, 0, 0, 0.75);
$filter--gray: #585858;
$gradient--program-left: linear-gradient(215deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%, #01b2fb 100%);
$gradient--program-right: linear-gradient(to right, rgba(black, 0), black);
$gradient--procuration: linear-gradient(to right, black, rgba(black, 0));
$gradient--menu: linear-gradient(to right, rgba(white, 0), white);

@mixin gradient-container {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

@mixin classic-gradient($gradient-style) {
    content: "gradient";
    overflow: hidden;
    position: absolute;
    text-indent: -9999rem;
    font-size: 0;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient-style;
}

@mixin animate-gradient($gradient-style, $opacity) {
    content: "gradient";
    overflow: hidden;
    position: absolute;
    text-indent: -9999rem;
    font-size: 0;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient-style;
    transition: opacity 0.45s;
    opacity: $opacity;
}


// SVGs
@mixin color($color) {
    color: rgba($color, 1);
    border-color: rgba($color, 1);
    fill: rgba($color, 1);
}

@mixin hover($color) {
    color: rgba($color, 0.4);
    border-color: rgba($color, 0.4);
    fill: rgba($color, 0.4);
}

@mixin color-stroke($color) {
    stroke: rgba($color, 1);
}

@mixin hover-stroke($color) {
    stroke: rgba($color, 0.4);
}

@mixin link--white {
    color: white;
    border-color: white;

    path,
    polygon {
        @include color(white);

        &.stroke {
            @include color-stroke(white);
        }
    }

    polyline {
        @include color-stroke(white);
    }

    &:hover {
        @include hover(white);

        path,
        polygon {
            @include hover(white);

            &.stroke {
                @include hover-stroke(white);
            }
        }

        polyline {
            @include hover-stroke(white);
        }
    }
}

.svg--black {
    path {
        @include color(black);
    }
}

.background--primary {
    background-color: $pink;
}

.background--darker {
    background-color: $darker;
}

.background--dark {
    background-color: $dark;
}

.background--light {
    background-color: $gray--light;
}

.background--lighter {
    background-color: $gray--lighter;
}

.background--blue {
    background-color: $blue;
}

.background--blue-light {
    background-color: rgba($newblue, 0.1);
}

.background--green {
    background-color: $green;
}

.background--pink {
    background-color: $pink;
}

.background--yellow {
    background-color: $yellow;
}

.border--pink {
    border-color: $pink;
}

.border--green {
    border-color: $green;
}
