// Base colors
$defaultBackgroundColor : white;
$defaultTextColor : black;

// Colors
$black: #000000;
$white: #FFFFFF;
$blue: #2ABAFF; //old
$blue-hover: #009FE1; //old
$blue--extra-light: #ebf4ff;
$blue--light: #9AD7E8;
$blue--soft: #4a90e2;
$blue--dark: #1D5FD1;
$blue--ice: #e5f4ff;
$blue--adi: #045bff;
$blue--azure: #0496ff;
$blue--gray: #85a5bd;
$blue--dark--hover: #024fc1; //old
$blue--europe: #044FAA;
$blue--chart: #2d5679;
$blue--night: #0900c3;
$green: #61E9D5;
$green-hover: #4CD7A5; //old
$green--forest: #067065;
$green--apple: #0CD283;
$green--pale: #d3ffeb;
$orange: #FF6955;
$pink: #FF4D89;
$pink-hover: #E53072;
$pink--light: #FBD8D8;
$purple: #6F80FF;
$red: #FF4863;
$skin: #FFDCC4;
$yellow: #FFEB00;
$yellow-hover: #c4d02a; //old
$yellow--light: #FFEB00;
$yellow--europe: #FFD600;
$cta: #1254d8;
$cta-hover: #0251C0;

// Alerts
$error: #EE324A;
$success: $green;
$info: #FFF878;
$border-form: #E6ECF0;

// Grays
$darker: #222;
$dark: #444;
$gray--dark: #666;
$black--half: #7f7f7f;
$gray--muted: #999;
$silver: #afafaf;
$gray: #BCBCBC; // #D6D6D6 new gray
$gray--light: #E5E5E5;
$gray--lighter: #F6F6F6;
$gray--white: #FAFAFA;
$text--gray: #666666;
$bg--gray: #F5F5F5;
$border-gray: #F1F1F1;

// Social Media
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$google: #db4437;
$instagram: #cd486b;

// Gradients
$gradient--light: linear-gradient(20deg ,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
$gradient: linear-gradient(20deg ,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
$gradient-hover: linear-gradient(20deg , rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
$filter: rgba(0, 0, 0, 0.3);
$filter--pink: rgba(255, 54, 128, 0.80);
$filter--dark: rgba(0, 0, 0, 0.75);
$filter--gray: #585858;
$gradient--program-left: linear-gradient(215deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 20%, #01b2fb 100%);
$gradient--program-right: linear-gradient(to right, rgba(black, 0), black);
$gradient--procuration: linear-gradient(to right, black, rgba(black, 0));
$gradient--menu: linear-gradient(to right, rgba(white, 0), white);

@mixin gradient-container {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

@mixin classic-gradient($gradient-style) {
    content: "gradient";
    overflow: hidden;
    position: absolute;
    text-indent: -9999rem;
    font-size: 0;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient-style;
}

@mixin animate-gradient($gradient-style, $opacity) {
    content: "gradient";
    overflow: hidden;
    position: absolute;
    text-indent: -9999rem;
    font-size: 0;
    line-height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gradient-style;
    transition: opacity 0.45s;
    opacity: $opacity;
}

@mixin transition {
    transition: all 0.2s;
}

// SVGs
@mixin color($color) {
    color: rgba($color, 1);
    border-color: rgba($color, 1);
    fill: rgba($color, 1);
}

@mixin hover($color) {
    color: rgba($color, 0.4);
    border-color: rgba($color, 0.4);
    fill: rgba($color, 0.4);
}

@mixin color-stroke($color) {
    stroke: rgba($color, 1);
}

@mixin hover-stroke($color) {
    stroke: rgba($color, 0.4);
}

@mixin link--white {
    color: white;
    border-color: white;

    path,
    polygon {
        @include color(white);

        &.stroke {
            @include color-stroke(white);
        }
    }

    polyline {
        @include color-stroke(white);
    }

    &:hover {
        @include hover(white);

        path,
        polygon {
            @include hover(white);

            &.stroke {
                @include hover-stroke(white);
            }
        }

        polyline {
            @include hover-stroke(white);
        }
    }
}

.svg--black {
    path {
        @include color(black);
    }
}

.background--pink {
    background-color: $pink;
}

.background--pink--light {
    background-color: $pink--light;
}

.background--darker {
    background-color: $darker;
}

.background--dark {
    background-color: $dark;
}

.background--silver {
    background-color: $silver;
}

.background--light {
    background-color: $gray--light;
}

.background--lighter {
    background-color: $gray--lighter;
}

.background--blue {
    background-color: $blue;
}

.background--blue-light {
    background-color: rgba($blue--dark, 0.1);
}

.background--green {
    background-color: $green;
}

.background--purple {
    background-color: $purple;
}

.background--yellow {
    background-color: $yellow;
}

.border--pink {
    border-color: $pink;
}

.border--green {
    border-color: $green;
}
