@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-light.eot');
    src: url('/fonts/gillsans-light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/gillsans-light.woff2') format('woff2'),
    url('/fonts/gillsans-light.woff') format('woff'),
    url('/fonts/gillsans-light.ttf') format('truetype'),
    url('/fonts/gillsans-light.svg#gillsans_lightregular') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-regular.eot');
    src: url('/fonts/gillsans-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/gillsans-regular.woff2') format('woff2'),
    url('/fonts/gillsans-regular.woff') format('woff'),
    url('/fonts/gillsans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-italic.eot');
    src: url('/fonts/gillsans-italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/gillsans-italic.woff2') format('woff2'),
    url('/fonts/gillsans-italic.woff') format('woff'),
    url('/fonts/gillsans-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-semibold.woff2') format('woff2'),
    url('/fonts/gillsans-semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-heavy.eot');
    src: url('/fonts/gillsans-heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/gillsans-heavy.woff2') format('woff2'),
    url('/fonts/gillsans-heavy.woff') format('woff'),
    url('/fonts/gillsans-heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-heavy-italic.eot');
    src: url('/fonts/gillsans-heavy-italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/gillsans-heavy-italic.woff2') format('woff2'),
    url('/fonts/gillsans-heavy-italic.woff') format('woff'),
    url('/fonts/gillsans-heavy-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

$font-gillsans: 'Gillsans', 'Roboto', Helvetica, sans-serif;
$font-roboto: 'Roboto', Helvetica, sans-serif;

/** Poppins **/
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/poppins/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/poppins/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/poppins/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/poppins/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
