$text--size-xs: 9px;
$text--size-smallest: 12px;
$text--size-small: 14px;
$text--size-default: 16px;
$text--size-medium--small: 20px;
$text--size-medium: 24px;
$text--size-medium--large: 28px;
$text--size-large: 34px;
$text--size-larger: 44px;
$text--size-extra-large: 48px;
$text--size-extra-large--medium: 64px;
$text--size-extra-large--large: 96px;
$text--size-extra-large--big: 128px;

@mixin text--bold {
    font-weight: 700;
}

@mixin breakword {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@mixin text--smallest {
    font-size: $text--size-smallest;
    line-height: 18px;
}

@mixin text--small {
    font-size: $text--size-small;
    line-height: 20px;
}

@mixin text--default {
    font-size: $text--size-default;
    line-height: 24px;
}

@mixin text--medium-small {
    font-size: $text--size-medium--small;
    line-height: 27px;
}

@mixin text--medium-small--bold {
    font-size: $text--size-medium--small;
    font-weight: 700;
    line-height: 1.4em;
}

@mixin text--medium {
    font-size: $text--size-medium;
    line-height: 1.2em;

    @media (max-width: $mobile) {
        @include text--medium-small;
    }
}

@mixin text--medium-large {
    font-size: $text--size-medium--large;
    letter-spacing: -0.6px;
    line-height: 32px;
}

@mixin text--large {
    font-size: $text--size-large;
    letter-spacing: -0.5px;
    line-height: 38px;

    @media (max-width: $mobile) {
        font-size: $text--size-medium--large;
        line-height: 1.2em;
    }
}

@mixin text--larger {
    font-size: $text--size-larger;
    line-height: 0.93;
    letter-spacing: -1.2px;

    @media (max-width: $mobile) {
        font-size: $text--size-medium--large;
        letter-spacing: -0.6px;
        line-height: 32px;
    }
}

@mixin text--extra-large {
    font-size: $text--size-extra-large;
    letter-spacing: -1.5px;
    line-height: 52px;

    @media (max-width: $tablet) {
        font-size: $text--size-larger;
        line-height: 0.93;
        letter-spacing: -1.2px;
    }

    @media (max-width: $mobile) {
        font-size: $text--size-large;
        letter-spacing: -0.5px;
        line-height: 38px;
    }
}

@mixin text--extra-large--medium {
    font-size: $text--size-extra-large--medium;
    letter-spacing: -1.5px;
    line-height: 52px;
}

@mixin text--extra-large--large {
    font-size: $text--size-extra-large--large;
    letter-spacing: -1.5px;
    line-height: 52px;
}

@mixin text--extra-large--big {
    font-size: $text--size-extra-large--big;
    letter-spacing: -1.5px;
    line-height: 52px;
}

@mixin text--body {
    font-family: $font-roboto;
    line-height: 1.5;
    font-size: $text--size-default;
    @include breakword;
}

@mixin text--summary {
    font-family: $font-roboto;
    line-height: 1.4;
    font-size: $text--size-small;
    font-weight: 400;
}

@mixin text--logo {
    @include text--bold;
    font-family: $font-gillsans;
    font-size: $text--size-medium--large;
    font-style: italic;
    line-height: 0.9em;
    margin-right: 10px;
    letter-spacing: -0.7px;

    @media (max-width: $tablet) {
        font-size: $text--size-medium;
    }

    @media (max-width: $mobile) {
        font-size: 22px;
    }

    a {
        border: 0;
    }
}

@mixin text--blue {
    color: $blue;
}

@mixin text--uppercase {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

// Personnal space mixins
@mixin manager-menu-item {
    font-family: $font-roboto;
    font-weight: normal;
    font-size: 17px;
    color: $silver-grey;
}

@mixin manager-table-thead {
    background-color: $pale-grey;
    color: $silver-grey;
    font-size: 13px;
    text-transform: uppercase;
}

@mixin filter-label-text {
    font-family: $font-roboto;
    font-size: 13px;
    font-weight: bold;
    line-height: normal;
}

@mixin filter-field-text {
    font-family: $font-roboto;
    font-size: $text--size-small;
    font-weight: normal;
    line-height: normal;
}

.text {
    &--breakword {
        @include breakword;
    }

    &--summary {
        @include text--summary;
    }

    &--body {
        @include text--body;
    }

    &--smallest {
        @include text--smallest;
    }

    &--small {
        @include text--small;
    }

    &--medium-small {
        @include text--medium-small;
    }

    &--medium {
        @include text--medium;
    }

    &--medium-large {
        @include text--medium-large;
    }

    &--large {
        @include text--large;

        @media (max-width: $mobile) {
            font-size: $text--size-medium;
            line-height: 1.2em;
        }
    }

    &--larger {
        @include text--larger;

        @media (max-width: $mobile) {
            font-size: $text--size-large;
            letter-spacing: -0.5px;
            line-height: 38px;
        }
    }

    &--extra-large {
        font-size: $text--size-extra-large;
        line-height: 1em;

        @media (max-width: $mobile) {
            @include text--larger;
        }
    }

    &--logo {
        @include text--logo;
    }

    &--italic {
        font-style: italic;
    }

    &--justify {
        text-align: justify;
    }

    &--normal {
        font-weight: normal;
    }

    &--bold {
        @include text--bold;
    }

    &--half-opacity {
        opacity: 0.5;
    }

    &--on-white {
        background: white;
        padding: 0 5px;
    }

    &--on-pink {
        color: white;
        background: $pink;
        padding: 0 5px;
    }

    &--on-blue-night {
        color: $white;
        background: $blue--night;
        padding: 0 5px;
    }

    &--pink {
        color: $pink;
    }

    &--blue {
        color: $blue;
    }

    &--blue--soft {
        color: $blue--soft;
    }

    &--blue--dark {
        color: $blue--dark;
    }

    &--dark {
        color: $dark;
    }

    &--error {
        color: $error;
    }

    &--inline {
        display: inline;
    }

    &--limited {
        max-width: 500px;

        &-extra {
            max-width: 400px;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &--with-bullet {
        ul {
            padding-left: 40px;
            list-style-type: disc;
        }

        li {
            list-style-type: inherit;
        }
    }

    &--uppercase {
        @include text--uppercase;
    }

    &--uppercase-wide {
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }

    &--lowercase {
        text-transform: lowercase;
    }

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--block {
        white-space: nowrap;
    }

    &--white {
        color: white;

        path,
        polygon {
            @include color(white);
        }
    }

    &--blue {
        @include text--blue;
    }

    &--orange {
        color: $orange;
    }

    &--blue--new {
        color: $blue--dark;
    }

    &--green {
        color: $green;
    }

    &--gray {
        color: $black--half;
    }

    &--muted {
        color: $gray--muted;
    }

    &--light-gray {
        color: $gray;
    }

    &--margin-right {
        margin-right: 15px;
    }

    &--shadow {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    }
}

.link {
    &--white {
        color: white;
        border-color: white;
    }
    &--blue--dark {
        color: $blue--dark;
    }
}

.tag {
    @include text--uppercase;
    @include text--smallest;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: $font-roboto;

    &--orange {
        padding: 0 5px;
        background: $orange;
        color: white;
    }
}

.list {
    &__links {
        display: flex;

        li {
            letter-spacing: 0.3px;
            font-family: $font-roboto;
            font-size: $text--size-small;

            h4 {
                font-family: $font-gillsans;
            }
        }

        .head {
            text-transform: uppercase;
            font-family: $font-gillsans;
            letter-spacing: 1.5px;
        }

        &--default {
            li {
                font-size: $text--size-default;
            }
        }
    }

    &__links--vertical-align {
        align-items: center;
    }

    &__links--margin-right {
        li {
            margin-right: 15px;
        }
    }

    &__links--row {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-bottom {
            align-items: flex-end;
        }

        &-left {
            justify-content: flex-start;
        }

        li {
            padding-right: 15px;

            &:last-child {
                padding: 0;
            }
        }
    }

    &__links--col {
        flex-direction: column;
        margin-bottom: 15px;

        li {
            padding-bottom: 4px;
        }
    }

    &__links--col-mobile {
        @media (max-width: $mobile) {
            flex-direction: column;
            margin-bottom: 15px;

            li {
                padding: 0 0 4px 0;

                .btn {
                    margin-bottom: 6px;
                }
            }
        }
    }

    &__links--left {
        justify-content: flex-start;
    }

    &__links--no-decor {
        a {
            border: none;
        }
    }

    &__links--svgs {
        li {
            padding-right: 20px;

            .fa {
                font-size: 38px;
            }
        }

        &--small {
            li {
                padding-right: 15px;

                .fa {
                    font-size: 20px;
                }
            }
        }

        @media (max-width: $mobile) {
            li,
            li:last-child {
                padding-left: 15px;
                padding-right: 15px;

                .fa {
                    margin-bottom: 10px;
                }
            }

            &--small {
                li,
                li:last-child {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    &__links--nav {
        li {
            @include text--default;
            letter-spacing: 0;

            .icon-search {
                position: relative;
                top: 4px;

                @media (max-width: $mobile) {
                    top: 1px;
                    width: 20px;
                }
            }
        }

        &.list__links--col {
            li {
                line-height: 2;
            }
        }
    }

    &__links--subnav li a {
        color: white;
        font-size: $text--size-small;
    }
}

.icon {
    &--with-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;

        svg,
        i {
            margin-right: 7px;

            &.fa {
                width: 15px;
                text-align: center;

                &--auto {
                    width: auto;
                }
            }
        }

        &--reversed {
            svg,
            i {
                margin-left: 7px;
            }
        }
    }
}

.font-gillsans {
    font-family: $font-gillsans;
}
