$large--screen: 1440px;
$tablet: 1000px;
$mobile: 650px;
$h-iphone5: 570px;
$h-iphone6: 670px;

$zIndex__overlay-menu: 500;
$zIndex__overlay-caret: 600;

@mixin wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin wrapper--medium {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

@mixin wrapper--slim {
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@mixin wrapper--600 {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@mixin steps {
    counter-reset: step;
    width: 340px;
    margin: 0 auto 40px auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile) {
        width: 100%;
        flex-wrap: wrap;
    }

    li {
        @include text--summary;
        display: inline-block;
        opacity: 0.3;
        text-align: center;

        @media (max-width: $mobile - 200px) {
            font-size: $text--size-smallest;
        }

        &:before {
            content: counter(step);
            counter-increment: step;
            width: 30px;
            height: 30px;
            background: #808080;
            color: rgba(0, 0, 0, 1);
            display: block;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 5px auto;
        }

        &.active {
            opacity: 1;

            &:before {
                color: white;
            }
        }

        &.clickable {
            text-decoration: none;
            border: 0;
            cursor: pointer;

            &:hover span {
                text-decoration: underline;
            }
        }
    }
}

@mixin flex($positioning, $direction) {
    display: flex;
    justify-content: $positioning;
    flex-direction: $direction;
}

@mixin transform($transform-value) {
    transform: $transform-value;
    -webkit-transform: $transform-value;
}
