{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.isAdherent %}
        <span class="label label-success">Adhérent(e)</span><br />
    {% endif %}
    {% for label in object.labels %}
        <span class="label label-default">{{ label }}</span>
    {% endfor %}
{% endblock %}
