{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.isAdherent is null %}
        <span class="label label-primary">Peut-être</span>
    {% elseif object.isAdherent %}
        <span class="label label-success">Oui</span>
    {% else %}
        <span class="label label-danger">Non</span>
    {% endif %}
{% endblock %}
