{% if currentRoute is same as('app_board_member_search') %}
    {% if app.user.boardMember.hasSavedBoardMember(member.boardMember)  %}
        <span class="newbtn newbtn--smaller newbtn--light" data-member-id="{{ member.id }}">Profil sauvegardé</span>
    {% else %}
        <span class="newbtn newbtn--smaller newbtn--light" data-member-id="{{ member.id }}">Sauvegarder ce profil</span>
    {% endif %}
{% elseif currentRoute is same as ('app_board_member_saved_profile') %}
    <span class="newbtn newbtn--smaller newbtn--light" data-member-id="{{ member.id }}">Supprimer de ma liste</span>
{% endif %}

<a href="{{ path('app_board_member_message_member', {member: member.id}) }}" class="newbtn newbtn--smaller newbtn--light">
    Envoyer un message
</a>
