{% extends 'board_member/layout.html.twig' %}

{% block content__inner %}
    <h1>Saved profile page</h1>
    <div>
        {# stats #}
    </div>
    <div>
        <h2>{{ results_count }} profil{% if results_count > 1 %}s{% endif %} sauvegardé{% if results_count > 1 %}s{% endif %}</h2>
        {% if results_count > 0 %}
            <a href="{{ path('app_board_member_message_saved_profile') }}">Envoyer un message à ces {{ results_count }} personne{% if results_count > 1 %}s{% endif %}</a>
        {% endif %}
        {% include('board_member/_list_board_members.html.twig') %}
    </div>
{% endblock %}
