.question-block {
  margin: 20px 0;

  .question-block-header {
    margin: 20px 0;

    .question-block-header__label {
      color: $blue-sky;
    }

    .question-block-header__question {
      font-weight: 400;
    }
  }

  .collapse {
    .question-block-header {
      margin: initial;
    }

    &.collapse--close {
      .question-block-header,
      .question-block-header__label {
        color: $aurometalsaurus;
      }
    }
  }

  .question-block__editing-footer {
    margin-top: 20px;
    text-align: right;

    .question-block__editing-footer__btn {
      @extend %reset-button;
      margin-left: 15px;
      cursor: pointer;
      font-size: 15px;
      color: $light-black;

      &.editing-footer__btn--main {
        color: $saphir;
      }
    }
  }
}
