{% extends 'adherent_profile/_layout.html.twig' %}

{% block page_title 'Communauté thématiques' %}

{% block content %}
<main id="thematic-community">
    <div class="l__wrapper">
        <div class="l__wrapper--600 space--100-0 text--center">
            <div class="subtitle">Communautés thématiques</div>
            <h1 class="b__nudge--top-15 text--larger">Engagez-vous pour une cause</h1>
        </div>

        <div class="l__row list">
            {% for thematic_community in thematic_communities %}
                <div class="l__col l__col--center l__row--v-stretch list--item">
                    <div class="list--header header"
                        {% if thematic_community.imageName is not empty %}
                            style="background-image: url({{ path('asset_url', {path: thematic_community.imagePath}) }})"
                        {% endif %}
                    >
                    </div>
                    <div class="l__wrapper-300 text--center list--item-content">
                        <p class="subtitle b__nudge--top-large">Je m'engage</p>
                        <h2 class="text--medium text--italic text--bold b__nudge--bottom">{{ ('thematic_community.label.'~thematic_community.slug)|trans }}</h2>
                        {% if thematic_community.uuid.toString in joined_communities|keys %}
                            <a href="{{ path('app_thematic_community_membership_edit', {uuid: joined_communities[thematic_community.uuid.toString]}) }}" class="link--no-decor text--body link--newblue">Modifier mes préférences</a>
                        {% else %}
                            <a href="{{ path('app_thematic_community_join', {slug: thematic_community.slug}) }}" class="link--no-decor link--newblue text--body">Je m'inscris</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

