{% extends 'thematic_community/_layout.html.twig' %}

{% block page_title 'Communauté thématiques' %}

{% set thematic_community = membership.community %}

{% block thematic_community_content %}
    <section class="l__wrapper--600 space--60-0">
        <article>
            <p class="text--body text--gray">Vous n'avez pas confirmé votre demande pour rejoindre cette communauté..</p>
            <p class="text--body text--gray">Veuillez vérifier vos emails et cliquer sur le lien pour confirmer votre adhésion.</p>

            <a href="{{ path('app_thematic_community_membership_resend_confirm_email', {uuid: membership.uuid}) }}" class="btn btn--as-link btn--large-and-full">Renvoyer l'email</a>
            <a href="{{ path('app_thematic_community_index') }}" class="btn btn--ghosting--blue btn--large-and-full b__nudge--top-15">Retour</a>
        </article>
    </section>
{% endblock %}
