.collapse {
  border-radius: 4px;

  &__container {
    @extend %reset-button;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 30px 25px 25px;
    text-align: left;
    cursor: pointer;
    outline: none;

    a {
      text-decoration: none;
      border-bottom: 0;
      cursor: pointer;
    }

    .collapse__container__btn {
      width: 48px;
      height: 48px;
      margin-left: 50px;
      padding: 0;
      border-color: transparent;
    }

    &__btn--close {
      background: transparent;
    }

    &__btn--open {
      border-radius: 50%;
      text-align: center;
      background: $white-smoke;
    }
  }
}

.collapse--close {
  background: $blue-sky;

  .question-block-header__label {
    color: $white;
  }
}

.collapse--open > .collapse__container {
  padding-left: 0;
}
