{% extends 'base.html.twig' %}

{% set homepage_url = 'https://avecvous.fr' %}
{% block open_graph_image static_asset('procuration.jpg', { w: 1600, h: 900, q: 70 }, 0) %}
{% block open_graph_image_height 900 %}

{% block app_title 'Avec vous' %}
{% block page_title 'Élections législatives' %}
{% block open_graph_site_name 'Avec vous' %}

{% block canonical_url url('app_legislatives_newsletter_thank') %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}
{% block json_ld '' %}
{% block meta_rss '' %}
{% block search_widget '' %}

{% block favicons %}
    <link rel="icon" type="image/png" href="{{ asset('favicon-avecvous-32x32.png') }}" sizes="32x32" />
{% endblock %}

{% block content %}
    <main class="legislatives_newsletter">
        <div class="legislatives_newsletter__upper">
            <section class="legislatives_newsletter__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center text--white"
                     data-sd="{{ static_asset('procuration.jpg', { w: 300, q: 20 }) }}"
                     data-hd="{{ static_asset('procuration.jpg', { w: 2000, q: 70 }) }}">

                <div class="legislatives_newsletter__header--inner l__wrapper--medium">
                    <h1 class="text--larger">
                        Élections législatives 2022
                    </h1>
                </div>
            </section>

            <section>
                {% block legislatives_content %}{% endblock %}
            </section>
        </div>
    </main>
{% endblock %}
