{% extends 'legislatives/newsletter/_layout.html.twig' %}

{% block page_title 'Vous êtes désormais inscrit à la newsletter - Législatives' %}

{% block legislatives_content %}
    <section class="legislatives_newsletter__thanks  l__wrapper--slim text--center space--100-0">
        {{ cms_block('legislative-newsletter-thanks-content') }}
    </section>
{% endblock %}
