<div class="flex flex-col basis-1/3 min-h-[400px] max-h-[530px] bg-white rounded-lg">
    <div class="rounded-tl-lg rounded-tr-lg bg-cover bg-bottom h-1/2" style="background-image: url('{{ media_asset(article.media, {q: 70}) }}')"></div>
    <div class="flex flex-col py-6 px-5 h-1/2 border-gray-border border-2 rounded-bl-lg rounded-br-lg border-t-0">
        <p class="line-clamp-3">
            <a href="{{ path('article_view', {categorySlug: article.category.slug, articleSlug: article.slug, app_domain: renaissance_host}) }}" class="font-bold mb-2 text-light-blue">
                {{ article.title }}
            </a>
        </p>
        <p class="line-clamp-3 mt-3">{{ article.description }}</p>
    </div>
</div>
