<header class="interactive__header hero hero--minimalist hero--gradient hero--minimalist--center-20 progressive-background"
        data-sd="{{ static_asset('mon-europe.png', {'w': 300, 'q': 20}) }}"
        data-hd="{{ static_asset('mon-europe.png', {'w': 2000, 'q': 70}) }}">
    <div class="hero--minimalist__nav">
        <a href="{{ path('homepage') }}">EM!</a>
    </div>
    <div class="hero--minimalist__content">
        <h1>
            Mon Europe !
        </h1>
        <p>
            Participez à la Renaissance européenne ! <br/>
            Dites-nous en un peu plus sur le profil d'un(e) proche : <br/>
            nous générerons un e-mail personnalisé à lui envoyer pour qu'il(elle) réponde à l'appel !
        </p>
        <a href="https://eu-renaissance.org/fr" target="_blank" class="link--no-decor">
            <img src="{{ path('asset_url', {path: 'static/renaissance.png'}) }}"
                 style="width: 171px"
                 title="RENAISSANCE"
                 alt="RENAISSANCE" />
        </a>
    </div>
</header>
