{{ introduction.content|replace({'%friend_first_name%': interactive.friendFirstName|e})|raw }}

{% apply spaceless %}
<ul>
    {% if common %}
        <li>{{ common.content|raw }}</li>
    {% endif %}
    {% for argument in interactive.arguments|filter(item => item is not empty) %}
        <li>{{- argument|raw }}</li>
    {% endfor %}
</ul>
{% endapply %}

{{ conclusion.content|raw }}
