{% extends 'interactive/_layout.html.twig' %}

{% block javascripts %}
    {% if transition is constant('App\\Interactive\\MyEuropeProcessor::TRANSITION_SEND') %}
        {% import 'javascript.js.twig' as js %}

        <script src="https://www.google.com/recaptcha/enterprise.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {{ include('interactive/_header.html.twig') }}
    <main class="interactive">
        {{ include('interactive/_'~transition~'.html.twig') }}
    </main>
{% endblock %}
