{% extends 'interactive/_layout.html.twig' %}

{% block javascripts %}
    {% if transition is constant('AppBundle\\Interactive\\PurchasingPowerProcessor::TRANSITION_SEND') %}
        {% import 'javascript.js.twig' as js %}

        <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('ckeditor/lang/fr.js') }}"></script>
        <script type="text/javascript">
            {{ js.ckeditor('purchasing_power_messageContent', 500) }}
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <main class="interactive">
        {{ include('interactive/_'~transition~'.html.twig') }}
    </main>
{% endblock %}
