#adherent-profile {
    background-color: $gray--lighter;
    padding-top: 60px;
}

.adherent-profile {
    margin-bottom: 100px;

    &__aside {
        box-sizing: border-box;
        margin-right: 30px;
        flex: 0 0 275px;
        display: none;

        @media (min-width: $tablet) {
            display: block;
        }
    }

    &__status {

    }

    &__id {

        font-family: $font-roboto;

        aside & {
            margin-left: 15px;
        }

        .name {
            font-weight: bold;
            color: $black;
            font-size: 20px;
        }

        .adhesion-date {
            color: $neutral-grey;
            font-size: 14px;
            line-height: normal;
            margin-top: 6px;
        }
    }

    &__roles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            font-size: 12px;
            font-family: $font-roboto;
            line-height: normal;
            color: $blue--azure;
            padding: 4px;
            border-radius: 2px;
            border: $blue--azure 1px solid;
            margin: 0 5px 5px 0;

        }
    }

    &__completion {
        .gauge {
            display: block;
            background-color: $gray--light;
            width: 200px;
            height: 5px;
            border-radius: 5px;
            position: relative;
            overflow: hidden;

            span {
                position: absolute;
                border-radius: 5px;
                height: 5px;
                left: 0;
                width: 50%;
                background-color: $turquoise;
            }
        }
    }

    &__menu {

        .menu-section {
            margin: 35px 0;

            &__heading {
                display: block;
                position: relative;
                font-size: 18px;
                font-family: $font-roboto;
                color: $silver-grey;
                border: none;
                padding-left: 38px;
                line-height: 30px;
                cursor: pointer;

                background-position: left center;
                background-repeat: no-repeat;

                &.menu-section-informations { background-image: url('/images/icons/adherent_menu/default/informations.svg'); }
                &.menu-section-informations.active { background-image: url('/images/icons/adherent_menu/active/informations.svg'); }

                &.menu-section-activity { background-image: url('/images/icons/adherent_menu/default/activity.svg'); }
                &.menu-section-activity.active { background-image: url('/images/icons/adherent_menu/active/activity.svg'); }

                &.menu-section-documents { background-image: url('/images/icons/adherent_menu/default/documents.svg'); }
                &.menu-section-documents.active { background-image: url('/images/icons/adherent_menu/active/documents.svg'); }

                .icon-container {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    top: 3px;
                }

                .trigger-container {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: rgba(123,136,155,0);
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        width: 6px;
                        height: 6px;
                        left: 11px;
                        top: 10px;
                        transform: rotate(-45deg);
                        border-left: 2px solid;
                        border-bottom: 2px solid;
                        border-color: $silver-grey;
                    }
                }

                &:hover {
                    .trigger-container {
                        background-color: rgba(123,136,155,0.1);
                    }
                }

                &.is-opened {

                    .trigger-container {
                        background-color: rgba(123,136,155,0.1);
                        transform: rotate(180deg);

                        &::before {
                            border-color: $black;
                        }
                    }
                }

                &.active {
                    font-weight: bold;
                    color: $black;
                }
            }

            &__items {
                display: none;
                padding-top: 10px;

                li {
                    margin: 10px 0;
                    padding-left: 38px;
                    position: relative;

                    a {
                        font-size: 16px;
                        font-family: $font-roboto;
                        color: $silver-grey;
                        border: none;

                        &:hover {
                            color: $black;
                        }
                    }

                    &.active {

                        a {
                            color: $black;
                        }

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            top: calc(50% - 2px);
                            left: 0;
                            width: 4px;
                            height: 4px;
                            background-color: $turquoise;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__section {
        background-color: $white;
        border-radius: 3px;
        padding: 70px;

        h1 {
            margin-bottom: 40px;
        }

        .section-subtitle {
            @include subtitle;
            margin-bottom: 30px;
        }

        .data-display {
            font-family: $font-roboto;
            margin-bottom: 40px;

            &__item {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 10px 0;

                .label {
                    color: $neutral-grey;
                    min-width: 40%;
                }

                .value {
                    color: $dark;
                }
            }
        }

        .documents-section {
            &__list {
                margin-bottom: 40px;
            }
        }
    }

    #engagement,
    #subscriptions {
        .form__checkbox,
        .form__radio {
            margin-bottom: 5px;
        }
    }

    #certification {
        .certification-status {
            padding: 30px 40px 40px;
            margin-top: 40px;

            &.certified {
                background-image: url('/images/icons/certification/certification_confettis.svg');
                background-position: center top -5px;
                background-repeat: no-repeat;
                background-size: 90%;
            }

            .title {
                font-weight: bold;
                color: $black;
                margin-top: 15px;
                font-size: 18px;
            }

            p {
                margin: 0 auto;
                max-width: 470px;
            }
        }
    }
}
