@mixin picker-btn {
    display: block;
    width: calc(50% - 8px);
    border-radius: 3px;
    border: 1px solid $gray--light;
    font-size: 20px;
    color: $gray--dark;
    text-align: center;
    padding: 18px 0;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    font-family: $font-roboto;

    &:hover {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }
}

.appel-a-engagement {

    .page-header {
        display: block;
        position: relative;
        overflow: hidden;
        background-color: $blue--extra-light;
        width: 100%;

        .header-content {
            position: relative;
            max-width: 790px;
            padding-bottom: 40px;

            @media (min-width: $mobile) {
                padding-bottom: 150px;
            }

            h1 {
                padding: 0;

                @media (min-width: $mobile) {
                    padding: 0 35px;
                }

                .hightlight__blue--nation {
                    color: $white;
                    background-color: $blue--nation;
                }

                .hightlight__red--nation {
                    color: $white;
                    background-color: $red--nation;
                }
            }

            h2 {
                font-weight: normal;
                font-size: 18px;
            }

            .fake-container {
                display: none;
                position: absolute;
                width: 100%;
                height: 70px;
                bottom: 0;
                background-color: $white;
                border-radius: 3px 3px 0 0;

                @media (min-width: $mobile) {
                    display: block;
                }
            }
        }

        .national-scarf {
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            width: 192px;
            height: 192px;
            pointer-events: none;

            span {
                display: block;
                width: 100%;
                height: 12px;
                background: pink;

                &:nth-child(1) { background-color: $red--nation; }
                &:nth-child(2) { background-color: $white; }
                &:nth-child(3) { background-color: $blue--nation; }
            }
        }
    }

    .page-content {
        padding-bottom: 200px;

        .page-intro {
            margin-bottom: 60px;

            p:first-child {
                font-size: 18px;
                margin-bottom: 30px;
            }
        }

        .role-picker {
            margin-top: 100px;

            &__btns {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .pick-btn {
                    @include picker-btn;

                    &.selected {
                        font-weight: bold;
                    }

                    &.fade {
                        opacity: 0.5;
                    }

                    &__running-mate {
                        &:hover,
                        &.selected {
                            color: $blue--nation;
                            border-color: $blue--nation;
                        }
                    }

                    &__volunteer {
                        &:hover,
                        &.selected {
                            color: $red--nation;
                            border-color: $red--nation;
                        }
                    }
                }
            }
        }

        #running-mate-form {
            .em-form__label {
                .em-form__required {
                    color: $blue--nation;
                }
            }
        }
    }

}

#volunteer-form { display: none; }
