.article__main {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: $mobile) {
        flex-direction: column;
    }

    .article__social {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-top: 35px;

        @media (max-width: $mobile) {
            display: inline;
            width: 100%;
        }

        ul {

            @media (max-width: $mobile) {
                padding: 0;
                display: flex;
                justify-content: space-evenly;
            }
        }

        li {
            margin-bottom: 20px;

            span {
                text-transform: uppercase;
            }

            i {
                cursor: pointer;
            }
        }

        &.isFixed {
            position: fixed;
            top: 0;
            margin-top: 0;

            @media (max-width: $mobile) {
                position: relative;
            }
        }

        &.isFixedToBottom {
            position: absolute;
            bottom: 30px;

            @media (max-width: $mobile) {
                position: relative;
            }
        }
    }

    .content {
        width: 60%;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .article__sidebar {

        &--left,
        &--right {
            width: 20%;
            position: relative;
            text-align: center;
            justify-content: center;
            display: flex;

            @media (max-width: $mobile) {
                width: 100%;
            }

            .newsletter {
                width: 100%;
                position: relative;
                margin-top: 25px;
                display: flex;
                flex-direction: column;

                @media (max-width: $mobile) {
                    flex-direction: column;
                    width: 80%;
                    margin: 20px auto;
                }

                &>div {
                    width: 50%;
                    margin: 0 auto;

                    @media (max-width: $mobile) {
                        width: 100%;
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;

                    @media (max-width: $mobile) {
                        flex-direction: row;
                    }
                }

                input {
                    position: relative;
                    border: 1px solid $black;
                    padding: 10px 0px;
                    margin-bottom: 20px;
                    text-align: center;
                    text-transform: uppercase;

                    @media (max-width: $mobile) {
                        width: 100%;
                        text-align: left;
                        padding-left: 10px;
                    }

                    &.isExpanded {
                        width: 300px;
                        right: 87px;

                        @media (max-width: $mobile) {
                            width: 100%;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}
