.article__main {
    display: flex;
    justify-content: space-evenly;

    .article__social {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin-top: 35px;

        li {
            margin-bottom: 20px;

            span {
                text-transform: uppercase;
            }

            i {
                cursor: pointer;
            }
        }

        &.isFixed{
            position: fixed;
            top: 0;
            margin-top: 0;
        }
        &.isFixedToBottom{
            position: absolute;
            bottom: 0;
        }
    }
    .content {
        width: 60%;
    }

    .article__sidebar {
        &--left,
        &--right{
            width: 20%;
            position: relative;
            text-align: center;
            justify-content: center;
            display: flex;

            .newsletter {
                width: 100%;
                position: relative;
                margin-top: 25px;
                display: flex;
                flex-direction: column;

                form {
                    display: flex;
                    flex-direction: column;
                }

                input {
                    position: relative;
                    border: 1px solid $black;
                    padding: 10px 0px;
                    margin-bottom: 20px;
                    text-align: center;
                    text-transform: uppercase;

                    &.isExpanded {
                        width: 300px;
                        right: 87px;
                    }
                }
            }
        }
    }
}
