.assessor {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__header {
        &--outer {
            @include gradient-container;
            background-color: $blue--extra-light;
        }

        &--inner {
            padding: 20px 0 80px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        @media (max-width: $tablet) {
            flex-direction: column;
            height: auto;
        }

        &__form {
            width: 65%;

            @media (min-width: $large--screen) {
                height: auto;
                width: 50%;
            }

            @media (max-width: $tablet) {
                width: 100%;
                overflow: hidden;
                padding: 5% 0;
            }

            .form__checkbox {
                display: block;

                label {
                    align-items: flex-start;
                }
            }

            .form__error {
                margin-top: 10px;
            }

            .form__errors {
                padding-left: 5px;
            }

            input,
            select {
                padding-left: 12px;
                padding-right: 12px;
                border-radius: 3px;
                border: 1px solid  $gray--light;
                height: 60px;
                box-sizing: border-box;
                font-size: 16px;
            }

            .register__form--full,
            .register__form--mid {
                margin: 10px 0;
            }

            .register__form--mid {
                width: 48%;

                @media (max-width: $mobile) {
                    width: 100%;
                }
            }

            .vote-place-wishes {
                width: 100%;

                .select2-container {

                    .select2-search__field {
                        height: 30px;
                        padding-left: 12px;
                        padding-right: 12px;
                        @include text--default;
                    }

                    .select2-selection--multiple {
                        background-image: none;
                        border: 1px solid $gray--light;
                        border-radius: 3px;
                        -webkit-appearance: none;
                    }
                }
            }

            select#assessor_request_birthdate_day,
            select#assessor_request_birthdate_month {
                width: 90%;
                margin-right: 10px;
            }

            select#assessor_request_birthdate_yeah {
                width: 90%;
            }

            .register__form--full {
                width: 100%;
            }

            .btn {
                border-radius: 3px;
                max-width: 100%;
                width: 100%;
                font-size: 18px;
            }

            .text__checkbox {
                color: $gray--dark;

                a {
                    color: $green--apple;
                    border-bottom: 1px solid $green--apple;
                }
            }
        }

        .header-bloc {
            width: 100%;

            a.back {
                color: $blue--night;
                text-decoration: none;
                border-bottom: none;
                transition: none;
            }

            a.back:hover {
                border-bottom: 1px solid $blue--night;
            }

            .title {
                width: 100%;
                position: relative;
                overflow: hidden;
                margin: 20px 0 10px 0;

                h1 {
                    float: left;
                }

                .step {
                    float: right;
                }
            }
        }

        .summary-bloc {
            table {
                margin-top: 10px;
                width: 100%;

                tr {
                    text-align: left;

                    td:first-child {
                        width: 45%;
                        color: $gray--dark;
                    }

                    td:last-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.assessor-manager {
    &__tabs {
        border-bottom: 1px solid $blue--soft;
        display: inline-block;
        margin: 0 auto 30px;

        li {
            display: inline-block;
        }

        a {
            border: 0;
            display: block;
            padding: 5px 0 7px;
            margin: 0 10px;
            color: $blue--soft;
            border-bottom: 1px solid transparent;

            &:hover {
                color: $pink;
            }
        }

        li:first-child a {
            margin-left: 0;
        }

        li:last-child a {
            margin-right: 0;
        }

        li.active a {
            color: $blue--soft;
            font-weight: bold;
            border-bottom: 2px solid $blue--soft;
        }
    }

    &__content {
        min-height: 300px;
        display: flex;
        flex-direction: column;
    }

    &__request {
        &__process {
            float: right;
            font-weight: 400;
            margin-left: 10px;
        }

        &__col-left {
            flex-basis: 400px;
            margin-right: 75px;
        }

        &__col-right {
            flex-grow: 1;

            th, td {
                padding: 5px 10px;
            }
        }

        .profile-label {
            font-weight: 600;
            font-family: $font-roboto;
            font-size: 13px;
            padding: 0 0 0 20px;
        }

        .profile-value {
            padding: 0 20px 10px 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e3e3e3;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__associate__col {
        flex-basis: 400px;
        margin: 0 30px;

        .profile-label {
            font-weight: 600;
            font-family: $font-roboto;
            font-size: 13px;
            padding: 0 0 0 20px;
        }

        .profile-value {
            padding: 0 20px 10px 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e3e3e3;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
