.assessor {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;

    @media (max-height: 1000px) {
        justify-content: flex-start;
        height: auto;
    }

    @media (max-width: $mobile) {
        background-color: white;
        background-position: 0 0;
        background-size: 100%;
    }

    &__header {
        &--outer {
            background-position: center 62%;
            background-repeat: no-repeat;
            background-size: cover;
            @include gradient-container;
            background-color: $filter--gray;
            background-blend-mode: multiply;

            a.text--logo:hover {
                color: $blue;
            }
        }

        &--inner {
            padding: 20px 0 80px;
        }

        > * {
            position: relative;
        }
    }

    &__steps {
        @include steps;
        width: 360px;
    }

    &__content {
        > div {
            @media (max-width: $tablet) {
                width: 100%;
                margin-bottom: 40px;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
            padding: 15px 0 0 0;

            > div:first-child {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__banner {
        background-color: $dark;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--form-right {
            text-align: right;
        }

        &--form-left {
            text-align: left;
        }

        &__form {
            background-color: $gray--lighter;
            border: 1px solid $gray--light;
            padding: 30px;
            margin: 0 0 0 75px;
            text-align: left;
            box-sizing: border-box;
            min-width: 480px;
            max-width: 650px;

            @media (max-width: $tablet) {
                margin: 0 auto;
                width: 100% !important;
            }

            @media (max-width: $mobile) {
                margin: 0;
                border-left: 0;
                border-right: 0;
                padding: 30px 10px;
                min-width: 0;
            }

            h4 {
                font-family: $font-gillsans;
                font-weight: normal;
                font-size: 24px;
                line-height: 1.2;
                letter-spacing: 0.3px;
                text-align: center;
                margin: 0 0 20px 0;
            }

            label {
                font-weight: bold;
            }

            &--large {
                min-width: 650px;
                max-width: 650px;

                @media (max-width: $tablet) {
                    min-width: 0;
                }
            }
        }
    }

    &__title-elections {
        font-family: $font-gillsans;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.3px;
        margin: 0 0 20px 0;
    }

    &__choose-election {
        margin-bottom: 15px;

        .form__checkbox label:before {
            margin-top: -3px;
        }

        &__day {
            color: $gray--dark;
            margin: -5px 0 0 31px;
        }
    }

    &__copy-link {
        display: flex;
        justify-content: center;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        input {
            font-size: 18px;
            width: 290px;
            border: 1px solid $gray--light;
            border-right: 0;
            padding: 0 20px;
            box-sizing: border-box;
            height: 40px;
            background: $gray--lighter;
            text-align: center;

            @media (max-width: $mobile) {
                width: 100%;
            }
        }
    }

    .form {
        &__radio-button {
            input[type='radio'] {
                &:checked + label:before {
                    border-color: $gray--dark;
                    background: $gray--dark;
                }
            }
        }
    }
}

.assessor-manager {
    &__tabs {
        border-bottom: 1px solid $blue--soft;
        display: inline-block;
        margin: 0 auto 30px;

        li {
            display: inline-block;
        }

        a {
            border: 0;
            display: block;
            padding: 5px 0 7px;
            margin: 0 10px;
            color: $blue--soft;
            border-bottom: 1px solid transparent;

            &:hover {
                color: $pink;
            }
        }

        li:first-child a {
            margin-left: 0;
        }

        li:last-child a {
            margin-right: 0;
        }

        li.active a {
            color: $blue--soft;
            font-weight: bold;
            border-bottom: 2px solid $blue--soft;
        }
    }

    &__content {
        min-height: 300px;
        display: flex;
        flex-direction: column;
    }

    &__request {
        &__process {
            float: right;
            font-weight: 400;
            margin-left: 10px;
        }

        &__col-left {
            flex-basis: 400px;
            margin-right: 75px;
        }

        &__col-right {
            flex-grow: 1;

            th, td {
                padding: 5px 10px;
            }
        }

        .profile-label {
            font-weight: 600;
            font-family: $font-roboto;
            font-size: 13px;
            padding: 0 0 0 20px;
        }

        .profile-value {
            padding: 0 20px 10px 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e3e3e3;

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &__associate__col {
        flex-basis: 400px;
        margin: 0 30px;

        .profile-label {
            font-weight: 600;
            font-family: $font-roboto;
            font-size: 13px;
            padding: 0 0 0 20px;
        }

        .profile-value {
            padding: 0 20px 10px 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid #e3e3e3;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
