.campus {
    h2 {
        @include text--large;
    }

    p {
        @include text--medium-small;
        font-family: $font-roboto;
        color: $gray--dark;
    }

    small {
        @include text--small;
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 120px 0;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        &__inspiration {
            padding: 0;
            margin-top: -90px;
            background: $gray--lighter;

            @media (max-width: $tablet) {
                margin-top: -45px;
            }

            &__graphic {
                background-size: cover;
                background-position: center;
                height: 630px;
                max-height: 57vw;
                min-height: 300px;

                @media (max-width: $mobile) {
                    width: 100%;
                }
            }
        }

        &__learn {
            @media (max-width: $mobile) {
                padding: 0 0 120px;
            }

            &__graphic {
                display: flex;
                background-position: center;
                align-items: center;
                justify-content: center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 350px;
                max-height: 57vw;
                min-height: 300px;

                @media (max-width: $mobile) {
                    order: 2;
                    width: 100%;
                }
            }

            &__text {
                @media (max-width: $mobile) {
                    order: 1;
                }
            }
        }

        &__action {
            border-top: 1px solid $gray--light;
            border-bottom: 1px solid $gray--light;

            @media (max-width: $mobile) {
                padding: 0;
            }

            h2 {
                text-align: center;
            }

            .btn {
                text-align: center;
            }
        }

        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__text {
        max-width: 400px;
        padding: 0 40px;

        @media (max-width: $mobile) {
            padding: 100px 40px;
        }

        &--center {
            max-width: 550px;
        }
    }
}
