.citizen-projects {
    &__landing {
        header {
            background-image: linear-gradient(115deg, $blue--dark, $pink);

            h2 {
                @include text--medium-large;
                font-weight: 300;
                margin-top: 10px;
                letter-spacing: 0;
            }
        }

        &__nearby input {
            border: 0;
            @include text--large;
            font-weight: bold;
            font-family: $font-gillsans;
            color: $purple;
            border-bottom: 1px solid $gray--light;
            max-width: 300px;
        }

        &__create {
            input {
                @include text--medium-small;
                border: solid 4px $blue--dark;
                border-radius: 3px;
                padding: 22px;
                width: 340px;
            }

            button,
            a {
                @include text--medium-small;
                @include newbtn;
                padding: 29px 20px 24px;
                margin-left: -8px;
            }
        }

        &__grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 40px 0;
        }

        @media (max-width: $tablet) {
            &__video {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .form__label {
        font-family: inherit;
    }

    &__create {
        background: $gray--white;

        .form__new {
            margin-bottom: 40px;

            &.form__new__checkbox {
                margin-bottom: 15px;
            }

            input,
            textarea,
            select {
                padding: 17px 20px;
                font-size: 20px;
                line-height: 1.25;
            }

            textarea {
                min-height: 60px;
                max-width: 100%;
                min-width: 100%;
            }

            select {
                -webkit-appearance: none;
                background: white no-repeat url('/images/icons/chevron-down.svg') right 15px center;
                background-size: 34px;
            }

            input[type='file'] {
                border: 1px dashed #ddd;
                background-color: white;
                position: relative;
                padding: 80px 20px;
                font-size: 16px;
                margin-top: -28px;
            }

            .field-image-info {
                color: $gray--muted;
                position: relative;
                margin-top: -75px;
                text-align: center;

                & + small {
                    margin-top: 35px;
                }
            }
        }

        .newbtn svg {
            margin-left: 6px;
            height: 32px;
            width: 32px;
        }

        small {
            font-family: $font-roboto;
            @include text--small;
            margin-top: 8px;
            color: $gray--muted;
            display: block;
        }
    }
}

.citizen-project {
    &--bkg {
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $tablet) {
            background: $purple;
        }
    }

    &-comments {
        label {
            font-family: inherit;
        }

        form {
            background-color: $gray--lighter;
            padding: 20px;
        }

        input {
            border: 1px solid $blue--dark;
            border-radius: 0;
            width: 100%;
            margin-bottom: 20px;
        }

        button {
            margin-top: 20px;
        }

        .form__checkbox {
            width: 190px;
        }

        & > div {
            border: 1px solid $blue--dark;
            padding: 20px;
            margin: 20px 0;

            .header {
                display: flex;
                justify-content: space-between;
                padding: 10px 10px 0 0;

                small {
                    color: $blue--dark;
                    font-weight: 100;
                }

                p {
                    margin: 0;
                    color: $blue--dark;
                    font-weight: 800;
                }
            }

            p {
                font-weight: 100;
            }
        }
    }

    &__aside {
        h3 {
            @include text--default;
            margin-bottom: 5px;
        }
    }

    &__card {
        margin-bottom: 30px;
    }

    &__skills {
        margin-top: 10px;

        li {
            border-radius: 50px;
            background-color: $gray--lighter;
            color: $blue--dark;
            display: inline-block;
            @include text--small;
            padding: 2px 10px;
            margin-bottom: 5px;
        }
    }

    &__menu {
        margin: 40px 0;

        li {
            @include text--medium-small;
            font-family: $font-roboto;

            .active {
                font-weight: bold;
                color: $blue--dark;
                border-bottom: 6px solid $blue--dark;
            }

            a {
                border: 0;
            }
        }
    }

    &__waiting-for-approval {
        background-color: $yellow--light;
        padding: 10px;
    }
}

.skill-remove,
.committee-remove {
    font-size: $text--size-xs;
    position: relative;
    bottom: 1px;
    margin-right: 5px;
}

.summary-skill,
.summary-committee {
    background-color: $purple;
    color: white;
    display: inline;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: $text--size-smallest;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid $purple;

    &:hover {
        transition: all 0.5s;
        background-color: white;
        color: $purple;
    }
}
