.citizen-projects {
    &__create {
        background: $gray--white;

        .form__new {
            margin-bottom: 40px;

            input,
            textarea,
            select {
                padding: 17px 20px;
                font-size: 20px;
                line-height: 1.25;
            }

            select {
                -webkit-appearance: none;
                background: white no-repeat url('/images/icons/chevron-down.svg') right 15px center;
                background-size: 34px;
            }

            input[type="file"] {
                border: 1px dashed #ddd;
                background-color: white;
                position: relative;
                padding: 70px 20px;
                @include text--default;
            }

            .label__header--image {
                position: absolute;
                margin-top: 30px;
                display: block;
                z-index: 2;
                width: 100%;
                text-align: center;
                font-weight: bold;
                color: $newblue;
                @include text--medium-small;
            }

            .field-image-info {
                position: absolute;
                margin-top: -60px;
                width: 100%;
                text-align: center;
                color: #888;
                @include text--small;
            }
        }

        .newbtn svg {
            margin-left: 6px;
            height: 32px;
            width: 32px;
        }

        small {
            font-family: $font-roboto;
            @include text--small;
            margin-top: 8px;
            color: $dark;
            display: block;
        }
    }
}
