#committee-follow-btn-loader {
    display: none;
    margin-right: 7px;
}

.committee-follow--anonymous {

    &__link {
        font-size: 14px;
        font-family: $font-roboto;
    }
}

.committee {
    margin: 0 0 100px 0;

    &__waiting-for-approval {
        font-family: $font-roboto;
        margin-top: 20px;
        margin-bottom: 30px;
        color: $inf-modl--text-yellow;
        background-color: $inf-modl--bkg-yellow;
        padding: 20px;
        font-size: 15px;
        max-width: 900px;
        font-weight: normal;
        line-height: 20px;
    }

    &__infos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: $font-roboto;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;

        @media (min-width: $tablet) {
            align-items: flex-start;
            font-size: 16px;
            justify-content: flex-start;
        }

        li {
            margin: 5px 15px 5px 15px;
            display: flex;
            align-items: center;
            font-size: 18px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            svg {
                margin-right: 10px;
            }

            @media (min-width: $tablet) {
                //margin: 5px 30px 5px 0;
            }

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }

    &__socials {
        display: flex;
        flex-direction: row;

        li {
            margin: 0 0 0 20px !important;
            cursor: pointer;
        }
    }

    &__header {
        padding: 60px 0;

        &--slim {
            padding: 30px 0;
        }

        @media (min-width: $tablet) {
            padding: 80px 0;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @media (min-width: $tablet) {
                flex-direction: row;
            }
        }

        &__titles {
            margin: 0 0 20px 0;
            text-align: center;

            @media (min-width: $tablet) {
                margin: 0 5% 0 0;
                text-align: left;
            }
        }

        &__actions {
            display: flex;
            min-width: 285px;
            justify-content: center;

            @media (min-width: $tablet) {
                justify-content: flex-start;
            }

            // disabled btn style for committees
            .btn:disabled, .btn:disabled:hover {
                border: none;
                color: $black;
                opacity: 0.5;
            }
        }

        &__plus {
            position: absolute;
            right: 0;
            top: -30px;

            &--button {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: transparent;
                border: none;
                padding: 0;
            }

            &--dropdown {
                position: absolute;
                right: 0;
                top: 0;
                padding-top: 30px;
                z-index: 5;
                display: none;

                .dropdown-content {
                    background-color: #fff;
                    box-shadow: 0 2px 4px 0 rgba(99,98,150,.25);
                    border-radius: 3px;
                    min-width: 200px;
                    padding: 5px 0;

                    a {
                        display: block;
                        padding: 6px 15px;
                        background-color: #fff;
                        border: none;
                    }
                }
            }
        }
    }

    &__host {
        &__nav {
            @include text--body;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 25px 0 0;
        }

        &__menu {
            li {
                padding: 15px 25px;

                &:first-child {
                    background: $gray--lighter;
                }

                &:last-child {
                    background: white;
                    padding: 15px 25px;
                }
            }
        }
    }

    &__members {
        &__nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            > div {
                display: flex;
            }

            @media(max-width: $mobile) {
                flex-direction: column;

                > a {
                    margin-top: 10px;
                }

                > div {
                    justify-content: space-between;

                    form {
                        width: 48%;

                        button {
                            margin: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

        &__list {
            font-family: $font-roboto;
            width: 100%;

            thead {
                background: $gray--lighter;
                border-color: $gray;

                th {
                    text-align: left;
                }
            }

            tr {
                border-bottom: 1px solid $gray--light;
            }

            &__host {
                background: $specific-table-row;
            }

            @media (max-width: $mobile) {
                th:nth-child(4),
                th:nth-child(5),
                td:nth-child(4),
                td:nth-child(5) {
                    display: none;
                }
            }
        }

        &__contact {
            textarea {
                width: 100%;
                height: 80px;
                padding: 15px;
            }
        }
    }

    &__message {
        background: $gray--lighter;
        padding: 25px;

        &__publish {
            margin-top: 12px;
            margin-right: 32px;
        }

        textarea {
            width: 100%;
            height: 80px;
            padding: 15px;
        }

        button {
            margin-top: 14px;
        }
    }

    &__form {
        width: 75%;
        margin: 0 auto;

        &--trunc {
            width: 97.5%;
        }

        &__gender {
            label {
                font-size: 18px;
                margin: 0 30px 0 8px;
            }
        }

        &__zip_code {
            width: 20%;
            margin-top: 18px;

            input {
                width: 100%;
            }
        }

        &__city {
            width: 40%;
            margin-top: 18px;

            select {
                width: 85%;
                margin-left: 10%;
            }

            input {
                width: 85%;
                margin-left: 10%;
            }
        }

        &__country {
            width: 40%;

            label {
                margin-left: 5%;
            }
            select {
                width: 90%;
                margin-left: 5%;
            }
        }

        &__profession {
            select {
                width: 95%;
            }
        }

        &__conditions {
            font-size: 18px;

            input {
                margin-right: 8px;
            }

            &__text {
                font-size: 16px;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &--mentions {
        width: 70%;
        font-size: 12px;
        text-align: justify;
        margin: 30px auto 0;
        color: #737373;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__main {
        width: 100%;
        margin-right: 0;

        @media (min-width: $tablet) {
            margin-right: 5%;
        }
    }

    &__aside {
        margin-top: 70px;
        min-width: 285px;

        img {
            max-width: 100%;
        }

        @media (max-width: $tablet) {
            background: $gray--lighter;
            padding: 30px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 40px;
            margin-bottom: 20px;

            .avatar-initials {
                background-color: $white;
            }
        }
    }

    &__timeline {
        margin-top: 30px;

        @media (min-width: $tablet) {
            margin-top: 70px;
        }

        &__item {
            padding: 30px 0;
            border-bottom: 1px solid $gray--light;

            @media (min-width: $tablet) {
                padding: 30px 0 30px 68px;
            }

            &--head {
                position: relative;

                div {
                    position: relative;

                    @media (min-width: $tablet) {
                        position: absolute;
                        left: -68px;
                    }
                }
            }
        }
    }

    &__card {
        margin-bottom: 50px;

        &:last-child {
            margin: 0;
        }

        h5 {
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 16px;
            color: $black;
            font-family: $font-roboto
        }

        .committee-host {
            display: flex;
        }

        @media (max-width: $tablet) {
            img {
                display: none;
            }
        }
    }

    &__social {
        &--facebook {
            .fa:before {
                content: '\f230';
            }
        }
        &--google_plus {
            .fa:before {
                content: '\f2b3';
            }
        }
    }

    &-event {
        // An event within the timeline
        background: $gray--lighter;
        min-height: 200px;
        margin: 0 auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;

        &-map {
            width: 200px;
            height: 200px;
            background: $gray;

            @media (max-width: $mobile) {
                display: none;
            }
        }

        &-details {
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;

            @media (max-width: $mobile) {
                > ul {
                    margin-top: 10px;
                }
            }
        }

        &-nearby {
            .card {
                &:hover {
                    h2 {
                        color: $black;
                    }
                }
                .box-header {
                    &:hover {
                       h2 {
                           color: $black--half;
                       }
                    }
                    h2 {
                        margin-bottom: 15px;
                    }
                    .search-map {
                        max-height: 240px;
                    }
                    .fa {
                        margin-right: 5px;
                    }
                }
                .box-bottom {
                    h4 {
                        float: left;
                    }
                    .share {
                        float: right;
                        margin-right: 22px;
                    }
                }
            }
        }

    }

    &__elections-box {
        box-sizing: border-box;
        background-color: $white;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.14);
        border-radius: 4px;
        padding: 40px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        @media (min-width: $tablet) {
            margin-top: 70px;
        }

        h2 {
            color: $pink;
            max-width: 500px;
        }

        .elections-actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media (min-width: $mobile) {
                flex-direction: row;
                align-items: center;
            }

            > .btn {
                margin: 0 0 20px 0;

                @media (min-width: $mobile) {
                    margin: 0 20px 0 0;
                }
            }

            .candidacy-remove {
                flex-basis: 100%;
            }
        }

        &:hover {
            background-color: $pink;

            & > p {
                color: $white;
            }

            .box-el {
                color: $white;
            }

            .box-el.btn {
                color: $white;
                border-color: $white;
            }

            a.box-el:not(.btn) {
                font-weight: bold;
            }
        }
    }

    .action-menu-oval {
        padding: 0;

        &> a .oval {
            background-color: $white;
        }
    }

    .image-cropper--container {
        img {
            max-width: 100%;
        }
    }

    .image-uploader {
        &--preview {
            text-align: center;

            label {
                color: $blue;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    color: $blue--light;
                }
            }
        }
    }

    .preview-image--container,
    .profile-image--container {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        font-size: 24px;
        background-color: $gray--lighter;
        font-weight: bold;
        color: $blue;
        font-style: italic;
        text-align: center;
    }

    .profile-image--container {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

.committee__event {
    &__header {
        margin-top: 20px;
        background-color: $blue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;

        &__cta {
            min-width: 200px;

            &__social {
                margin-top: 15px;
                @media (min-width: $mobile) {
                    justify-content: flex-end;
                }

                li .fa {
                    cursor: pointer;

                    &:hover {
                        opacity: .5;
                    }
                }

                li a {
                    border-bottom: 0;
                    -webkit-transform: none;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    transform: none;

                    &:hover {
                        opacity: .5;
                        color: white;
                    }
                }
            }
        }

        @media (max-width: $tablet) {
            flex-direction: column;

            &__titles,
            &__cta {
                width: 100%;
            }

            &__titles {
                margin: 0 0 30px;
            }
        }
    }

    &__map {
        height: 350px;
        margin-bottom: 60px;
        border-bottom: 1px solid $gray--light;
    }

    &__schedule {
        padding: 30px;
        border-bottom: 1px solid $gray--light;

        .fa {
            margin-right: 8px;
            width: 15px;
            text-align: center;
        }
    }

    &__create {
        margin-top: 30px;

        label {
            display: block;
        }
        .form__checkbox label {
            display: flex;
        }

        textarea {
            width: 100%;
            height: 80px;
            padding: 15px;
        }

        .event__address div {
            width: 32%;
        }

        .event__finish_at,
        .event__begin_at {
            display: flex;
        }

        @media (max-width: $tablet) {
            aside {
                display: none;
            }
        }
    }

    .back-to-list {
        padding-top: 20px;
    }
}

.committees-map {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    &__container {
        display: flex;
        flex-direction: row;
        height: 100%;
        border-top: 1px solid $gray--light;

        aside {
            overflow-y: scroll;
            border-right: 1px solid $gray--light;
            width: 30%;
            box-sizing: border-box;

            li {
                border-bottom: 1px solid $gray--light;
                padding: 20px 25px;
            }
        }

        article {
            background: url('/images/loader-sm.gif') 50% 50% no-repeat;
            width: 100%;
        }
    }

    &__counter {
        padding-top: 20px;

        h4 {
            display: inline;
        }

        li {
            display: inline-block;
            list-style: none;
            margin: 5px 5px 25px 5px;
        }
    }
}

.events-map-categories {
    margin-bottom: 20px;

    .active {
        font-weight: bold;
        padding-bottom: 5px;
    }
}

.events-map-categories li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}

.feed {
    &__options {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
        }
    }
}
