.concrete {
    header {
        background-color: $blue;
        color: $black;

        &.hero {
            padding-top: 220px;
            padding-bottom: 140px;

            @media (max-width: $mobile) {
                padding-top: 160px;
                padding-bottom: 60px;
            }
        }

        h1 {
            text-transform: uppercase;
            font-size: $text--size-extra-large--medium;
        }
    }

    .keep-reading {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $yellow;
        margin: -30px auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
        border-radius: 50%;
    }

    &__promo {
        display: block;
        background: $blue;
        color: $white;
        @include text--larger;
        padding: 20px;
        box-sizing: border-box;
        margin: 50px auto;
        font-weight: bold;
        border: 0;

        &:hover {
            background: $pink;
        }
    }

    .content article {
        margin-top: 120px;
    }

    h2 {
        border-bottom: 7px solid;
        display: inline;
        line-height: 1.3 !important;
        margin: 20px auto;
        font-size: $text--size-larger !important;
    }

    h3 {
        font-family: $font-roboto !important;
        font-weight: normal !important;
        color: $text--gray;
    }

    ol {
        font-family: $font-gillsans;
        list-style: none;
        counter-reset: concrete-numbers;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    ol > li {
        counter-increment: concrete-numbers;
        display: flex;
        width: 100%;
        margin: 20px 0 0 20px;
        @include text--medium-small;

        @media (max-width: $mobile) {
            margin-left: 0;
        }

        span {
            display: block;
            margin-left: 40px;
        }

        img {
            position: relative;
            top: 5px;
        }
    }

    ol > li::before {
        content: counter(concrete-numbers);
        font-weight: bold;
        margin-right: 0.5rem;
        line-height: 1;
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .section-images {
        background-color: $gray--light;
        background-size: cover;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;

        @media (max-width: $mobile) {
            height: 150px;
        }
    }

    .first-section {
        h2 {
            border-color: $yellow;
        }

        ol li::before {
            background-color: $yellow;
        }

        &__image {
            background-image: url('https://storage.googleapis.com/en-marche-prod/images/cacestduconcret/GENS.jpg');
            background-position: 100% 55%;
        }
    }

    .second-section {
        h2 {
            border-color: $blue;
        }

        ol > li::before {
            background-color: $blue;
        }

        &__image {
            background-image: url('https://storage.googleapis.com/en-marche-prod/images/cacestduconcret/OUVRIERE.jpg');
            background-position: 100% 15%;
        }
    }

    .third-section {
        h2 {
            border-color: $pink;
        }

        ol > li::before {
            background-color: $pink;
        }

        &__image {
            background-image: url('https://storage.googleapis.com/en-marche-prod/images/cacestduconcret/RETRAITE.jpg');
            background-position: 100% 20%;
        }
    }

    .ressources-section {
        h2 {
            border-color: $black;
        }
    }
}
