.content {
    .article__social {
        display: flex;
        align-items: center;

        .btn {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        .fa {
            font-size: 20px;
            margin-right: 10px;
        }

        @media (max-width: $mobile) {
            .fa {
                margin: 0;
            }
            span {
                display: none;
            }
        }
    }
}

.content header {
    margin-bottom: 30px;

    @media (max-width: $mobile) {
        padding-bottom: 30px;
    }

    h2 {
        @include text--summary;

        &.bigger {
            @include text--default;
        }
    }

    &.filtered-image:after {
        @include classic-gradient($filter);
    }

    .list__links--svgs {
        margin-bottom: 65px;

        a {
            color: white;
        }
    }
}

.content nav {
    border-top: 1px solid rgba(0, 35, 73, 0.15);

    ul {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 12.5px;

            &.active {
                font-weight: 700;
            }

            a {
                border: none;
            }

            @media (max-width: $mobile) {
                margin: 5px 12.5px;
            }
        }
    }
}

.content figure {
    margin-bottom: 60px;

    @media (max-width: $mobile) {
        margin-bottom: 30px;
    }

    &.fullscreen {
        margin-left: 0;
        margin-right: 0;

        img {
            width: 100%;
        }
    }
}

.emmanuel-macron article,
.emmanuel-programme article {
    > h1, > h2, > h3, > h4, > h5, > h6,
    > p, > ul, > ol, > div, > blockquote,
    > figure, > img, > iframe {
        @include wrapper--slim;
    }
}

.content article {
    font-family: $font-roboto;
    letter-spacing: 0.3px;
    line-height: 1.62;

    h1, h2, h3 {
        @include text--medium-large;
        font-family: $font-gillsans;
        margin-top: 30px;
        font-weight: 700;
    }

    h4 {
        font-family: $font-gillsans;
        font-size: $text--size-medium--large;
        margin-top: 20px;
        font-weight: 400;
    }

    img {
        max-width: 100%;
    }

    ol li {
        list-style-type: decimal;
    }

    ul {
       padding-left: 40px;
       margin-top: 14px;
       margin-bottom: 14px;

        li {
           list-style-type: disc;
        }

        &.dots {
            font-size: 20px;
            font-weight: 700;
            padding-left: 20px;

            li {
                list-style: disc outside url("/images/icon__dot--blue.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }
        }

        &.arrows {
            @include text--medium-small--bold;
            padding-left: 20px;

            li {
                list-style: disc outside url("/images/icon__arrow.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }

            &.blue {
                a {
                    color: $blue;
                    border-color: $blue;

                    &:hover {
                        @include hover($blue);
                    }
                }
            }
        }
    }

    .indent {
        margin-left: 15px;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        background: $pink;
        margin: 20px 0;

        &__home {
            flex: 1;
            margin: 0 0 20px 0;

            @media (max-width: $tablet) {
                margin: 0;

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        &.blue {
            background: $blue;
        }

        &.yellow {
            background: $yellow;
        }

        &.green {
            background: $green;
        }

        &.black {
            background: black;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        p {
            color: white;
            @include text--medium;
            @include text--bold;
            font-style: italic;
            font-family: $font-gillsans;
            margin: 0 20px 0 0;
            max-width: 350px;

            &.black {
                color: black;
            }

            &.pink {
                color: $pink;
            }

            &.blue {
                color: $blue;
            }

            &.yellow {
                color: $yellow;
            }

            &.green {
                color: $green;
                border: 0;
            }

            @media (max-width: $mobile) {
                margin: 0 0 20px 0;
                max-width: 100%;
            }
        }

        &--full-text {
            p {
                max-width: 100%;
            }
        }

        a {
            font-family: $font-gillsans;
            @include btn;
            border-color: white;
            white-space: nowrap;

            &.black {
                @include btn--black;
            }

            &.pink {
                @include btn--primary;
            }

            &.pink-yellow {
                @include btn--primary;
                color: $yellow;
            }

            &.white-blue {
                color: $blue;

                &:hover {
                    color: white;
                }
            }

            &.blue {
                @include btn--blue;
            }

            &.yellow {
                @include btn--yellow;
            }

            &.green {
                @include btn--green;
            }
        }
    }

    .box--blue {
        border: 7px solid $blue;
        padding: 10px 30px;

        h4 {
            @include text--medium-small;
            @include text--blue;
            @include text--all-caps;
            font-family: $font-gillsans;
            text-align: center;
            font-weight: 700;
        }

        p {
            @include text--blue;
        }
    }

    .video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 60px;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .twitter-tweet,
    iframe {
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 100%;
    }

    figure {
        margin-top: 40px;
        margin-bottom: 40px;

        &.fullscreen {
            max-width: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 100%;
            }

            p {
                @include text--medium-large;
                @include wrapper--slim;
                @include text--bold;
                font-family: $font-gillsans;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @media(max-width: $mobile) {
                    @include text--default;
                }
            }
        }

        &.large {
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        img {
            display: block;
            margin: auto;

            @media (max-width: $mobile) {
                width: 100%;
            }

            ~ figcaption {
                font-size: $text--size-smallest;
                color: $black--half;
                text-align: center;
                margin-top: 5px;
            }
        }

        &.blockquote--short blockquote {
            @include text--large;
            @include text--bold;
            line-height: 42px; /* Overwrite text--large */
            font-family: $font-gillsans;
            font-style: italic;
            text-align: center;
            margin: 55px 70px 15px;

            @media (max-width: $mobile) {
                @include text--medium;
                line-height: 32px;
                margin: 55px 30px 15px;
            }

            span {
                background: $blue;
                color: white;
                padding: 0 5px;
            }

            ~ figcaption {
                @include text--default;
                color: $blue;
                text-align: center;
            }
        }

        &.blockquote--long {
            background: $blue--light;
            border-left: 5px solid $blue;
            margin: 40px;
            padding: 30px;

            blockquote {
                margin: 0;

                ~figcaption {
                    margin-top: 35px;
                }
            }
        }
    }
}

.content {
    .programme {
        nav {
            border: 0;
            background: $darker;
            color: white;

            a {
                @include link--white;
            }
        }
        &__header {
            &__outer {
                @include gradient-container;
                background-size: cover;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                margin-bottom: 100px;
                height: 370px;
                background-color: $filter--gray;
                background-blend-mode: multiply;

                > div {
                    position: relative;
                    z-index: 1;
                }
            }

            &__inner {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__titles {
            max-width: 350px;
            align-self: center;

            @media (max-width: $tablet - 200px) {
                max-width: 100%;
            }
        }

        &__download {
            height: 57px;
            font-family: $font-roboto;
            font-size: 20px;
            text-transform: inherit;
            letter-spacing: 0.4px;
            padding: 0 20px;
            margin: 10px 0;

            &:hover {
                svg path {
                    fill: white;
                }
            }

            svg {
                margin-right: 10px;
            }
        }

        &__cover {
            img {
                width: 310px;
            }

            @media (max-width: $tablet - 200px) {
                display: none;
            }
        }

        &__proposals {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
        }

        &__proposal {
            list-style: none;
            padding: 20px 15px;
            background: $gray--lighter;
            height: 150px;
            width: 32%;
            box-sizing: border-box;
            margin-bottom: 15px;
            transition: all .2s;

            @media (max-width: $tablet - 300px) {
                width: 49%;
            }

            @media (max-width: $mobile - 150px) {
                width: 100%;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                border: 0;
            }

            h2 {
                @include text--body;
                font-size: 22px;
                line-height: 1.1;
                margin: 0;
            }

            div {
                @include text--body;
            }

            &:hover {
                background: $blue;

                h2,
                div {
                    color: white;
                }
            }

            &--category {
                background: #4a4a4a;

                a {
                    color: white;
                }

                &:hover {
                    background: $gray--lighter;

                    h2,
                    div {
                        color: black;
                    }
                }
            }
        }
    }
}

.content.emmanuel-macron {
    header {
        background-size: cover;
        height: 370px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 60px;

        @media (max-width: $mobile) {
            background-position: 70%;
        }

        div {
            z-index: 1;
        }
    }

    nav {
        border-color: rgba(255, 255, 255, 0.3);

        li a {
            color: white;
        }
    }
}

.content.emmanuel-programme article,
.content.emmanuel-macron article {
    ul.arrows,
    ul.dots,
    ul {
        padding-left: 55px;

        @media (max-width: $mobile) {
            max-width: 100%;
            box-sizing: border-box;
        }
    }
}

.content .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    li {
        width: 32.5%;
        list-style: none;
        margin-bottom: 10px;
        background: $gray--lighter;
        display: flex;
        flex-direction: column;

        .image {
            height: 160px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $gray;
        }

        .share {
            a {
                border: 0;
                color: $gray;
                margin-right: 10px;

                &:hover {
                    color: $blue;
                }

                @media (max-width: $mobile) {
                    margin-right: 10px;
                    color: white;
                    padding: 5px;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    text-align: center;

                    &[href*="facebook"] {
                        background-color: $facebook;
                    }

                    &[href*="twitter"] {
                        background-color: $twitter;
                    }

                    &[href*="linkedin"] {
                        background-color: $linkedin;
                    }

                    &:hover {
                        color: white;
                        background-color: $gray;
                    }
                }
            }
        }
    }

    &__meta {
        padding: 18px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 125px;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            height: 135px;
        }
    }

    @media(max-width: $tablet) {
        li {
            width: 49%;

            .image {
                height: 240px;
            }
        }
    }

    @media(max-width: $mobile) {
        li {
            .image {
                height: 180px;
            }
        }
    }

    @media(max-width: $mobile - 200px) {
        li {
            width: 100%;

            .image {
                height: 240px;
            }
        }
    }
}

.content .referents {
    width: 100%;
}

.content.je-marche {
    header {
        position: relative;
        z-index: 1;
        padding-bottom: 70px;
        margin-bottom: 0;

        @media (max-width: $mobile) {
            padding-bottom: 30px;
        }

        svg {
            width: 300px;
            height: 120px;

            @media (max-width: $mobile) {
                width: 280px;
            }
        }

        h2 {
            @include text--medium;
            @include text--bold;
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    .action__block {
        padding: 20px 0 85px;
    }

    .action__items {
        ul {
            width: 55%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width: $tablet) {
                width: 100%;
                flex-wrap: nowrap;
                overflow-x: scroll;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            li {
                width: 47.5%;
                height: 92px;

                &:nth-child(-n+3) {
                    margin-bottom: 22px;
                }

                @media (max-width: $tablet) {
                    width: auto;
                    margin-right: 10px;
                    height: auto;
                }
            }
        }

        .action__menu__item {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            line-height: 18px;
            text-align: center;
            background: white;
            @include text--body;
            padding: 20px;
            box-sizing: border-box;

            &:hover {
                color: black;
                background: $gray--light;
            }

            &--active {
                background: $dark;
                color: white;

                &:hover {
                    background: $darker;
                    color: white;
                }
            }
        }

        .action__item {
            width: 42%;
            padding: 30px;
            box-sizing: border-box;
            background: white;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 320px;

            @media (max-width: $tablet) {
                width: 100%;
                height: auto;
            }

            h4 {
                @include text--body;
                text-transform: uppercase;
            }

            p {
                margin: 0;
                @include text--summary;
            }

            a {
                margin-top: 20px;
                @include btn;
                @include btn--dark;
            }
        }
    }

    label {
        @include text--body;
        font-size: 20px;
    }

    textarea {
        padding: 15px 10px;
    }
}

.content .elles-marchent {
    a {
        color: white !important;
    }

    &__header {
        background-position: center 25%;
        background-repeat: no-repeat;
        background-size: cover;
        @include gradient-container;

        header {
            position: relative;
        }

        &:before {
            @include classic-gradient($filter);
        }
    }

    &__videos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;

        li {
            @include gradient-container;
            width: 32%;
            height: 300px;
            list-style: none;
            margin-bottom: 20px;
            box-sizing: border-box;
            background-size: 200%;
            background-position: center 30%;
            background-repeat: no-repeat;

            > a {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                z-index: 2;
                border: 0;
            }

            &:before {
                content: $play-icon;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                position: relative;
            }

            &:after {
                @include classic-gradient($filter);
            }

            &.info {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    color: white;
                    border-color: white;
                }

                &:before,
                &:after {
                    content: none;
                }
            }

            &.no-video {
                background-size: cover !important;
                background-position: center;

                &:before,
                &:after {
                    content: none;
                }
            }
        }
    }

    &__learn {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;

        li {
            width: 32%;
            list-style: none;
            margin-bottom: 20px;
            box-sizing: border-box;
            position: relative;

            .videos {
                @include gradient-container;
                height: 300px;
                background-size: 200%;
                background-position: center 30%;
                background-repeat: no-repeat;

                &:before {
                    content: $play-icon;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    position: relative;
                }

                &:after {
                    @include classic-gradient($filter);
                }
            }

            > a {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                z-index: 2;
                border: 0;
            }
        }
    }

    &__demarches {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;

        li {
            width: 30%;

            h3 {
                text-align: center;
            }

            p {
                @include text--summary;
            }

            @media (max-width: $mobile) {
                width: 100%;
                text-align: center;
            }
        }
    }

    &__photos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            @include gradient-container;
            width: 32%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border: 1px solid $gray--light;
            margin-bottom: 20px;
            padding: 30px;
            box-sizing: border-box;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;

            > div {
                z-index: 1;
            }

            &:after {
                @include classic-gradient($gradient);
            }

            &:last-child {
                width: 66%;
                background: $blue;
                align-items: center;

                &:after {
                    content: none;
                }

                a {
                    color: white;
                    border-color: white;
                }
            }
        }
    }

    &__videos li,
    &__learn li {
        transition: all 0.2s;

        .videos {
          transition: all 0.2s;
        }

        &:hover .videos,
        &:hover {
            background-size: 220%;
        }
    }

    @media (max-width: $tablet) {
        &__videos,
        &__learn {
            li {
                width: 48%;
            }
        }

        &__photos {
            li {
                width: 48%;

                &:last-child {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: $mobile) {
        &__photos,
        &__videos,
        &__learn {
            li {
                width: 100%;
            }
        }
    }
}
