.amount-chooser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__button,
    &__other {
        border: 0;
        font-family: $font-gillsans;
        cursor: pointer;
        width: 24%;
        height: 47px;
        padding: 13px 0;
        margin-bottom: 5px;
        box-sizing: border-box;
        background: #9b9b9b;
        color: white;
        transition: background .2s;

        &:hover {
            background: $black--half;
        }

        font-size: $text--size-medium--small;
        text-align: center;
        letter-spacing: 1.9px;

        @media (max-width: 450px) {
            width: 47%;
        }
    }

    &__monthly {
        text-align: left;
        margin-bottom: 10px;
        display: flex;

        label {
            margin-top: 10px;
            cursor: pointer;
            font-size: 15px !important;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .flex-top {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }

    &__help {
        width: 100%;
        font-family: $font-roboto;
        text-align: left;
        margin-top: 5px;
        color: $black--half;
        @include text--small;
    }

    &__button {
        outline: 0;

        &--selected {
            background-color: $pink;
            color: white;

            &:hover {
                background: $pink-hover;
            }
        }
    }

    &__other {
        position: relative;
        float: left;
        background: $gray--light;

        &:hover {
            background: $gray--light;
        }

        &__input {
            box-sizing: border-box;
            width: 100%;
            background: transparent;
            top: -11px;
            position: relative;
            font-family: $font-roboto;
            font-size: $text--size-smallest;
            letter-spacing: 0.2px;
            border: none;
            cursor: text;
            text-align: left;
            padding: 16px 26px 13px 18px;

            &:hover {
                background: transparent;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &__label {
            position: absolute;
            top: 11px;
            right: 20px;
            font-size: $text--size-medium--small;
            color: black;

            span {
                display: none;
            }
        }
    }
}

.donate {
    &__text {
        max-width: 285px;

        @media (max-width: $mobile) {
            max-width: 100%;
        }

        h2 {
            line-height: 41px;

            @media (max-width: $mobile) {
                line-height: 1.2em;
            }
        }
    }

    &__form {
        margin-left: 15px;
        width: 450px;

        &__chooser__input {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }

        &__button {
            display: block;
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 0;
            font-family: $font-gillsans;

            svg {
                position: relative;
                top: 2px;
                left: 5px;
            }
        }

        @media (max-width: $mobile) {
            margin-left: 0;
            margin-top: 15px;
            width: 100%;
        }

        .amount-chooser {
            &__button,
            &__other {
                width: 23%;
                margin-bottom: 10px;

                @media (max-width: $mobile) {
                    width: 48%;
                }
            }

            &__button {
                background: white;
                color: black;

                &:hover {
                    background: $gray--light;
                }

                &--selected {
                    background: $pink;
                    color: white;

                    &:hover {
                        background: $pink-hover;
                    }
                }
            }

            &__other {
                background: white;
            }

            &__monthly {
                margin: 0 auto 10px auto;
            }
        }
    }

    &--home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        .donate__text {
            max-width: 400px;
        }

        .amount-chooser {
            &__monthly {
                background: rgba(0, 0, 0, 0.2);
                color: #fff;
                padding: 3px 10px;
            }

            &__help {
                display: none;
            }
        }
    }
}

.donation {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    position: relative;
    width: 100%;

    @media (max-height: 1000px) {
        justify-content: flex-start;
        height: auto;
    }

    @media (max-width: $mobile) {
        background-color: white;
        background-position: 0 0;
        background-size: 100%;
    }

    &__video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

        &--overlay {
            background: rgba(0, 0, 0, .5);
            top: 0;
            height: 100vh;
            width: 100%;
            box-sizing: border-box;
            position: fixed;
        }
    }

    &__header {
        padding: 30px 0;
        color: white;

        h1 a {
            @include text--logo;
            color: white;

            @media (max-width: $mobile) {
                font-size: $text--size-medium;
                color: black;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
            box-sizing: border-box;
            padding: 30px 6% 0;
            font-size: $text--size-smallest;
            color: black;

            .fa {
                font-size: $text--size-smallest;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: baseline;

        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__form {
        width: 550px;
        background: white;
        margin: 0 50px 0 auto;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            width: 100%;
            margin: 0;
        }

        &.donate-adhesion{
            margin: auto;
        }

        form {
            font-family: $font-roboto;
            @include text--small;
            padding: 40px;
        }

        h2 {
            font-family: $font-gillsans;
            font-size: 35px;
            font-weight: 700;
            font-style: italic;
            line-height: 1.15;
            letter-spacing: -0.7px;
        }

        h3 {
            @include text--medium-small;
            font-family: $font-gillsans;
        }

        .fluo {
            background: $yellow;
            font-family: $font-roboto;
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.2px;
            margin: 10px 0 17px;
            display: inline-block;
        }

        .montant {
            margin-bottom: 20px;
            text-align: left;
            @include text--small-plus;
        }

        &__amount {
            margin-bottom: 40px;

            .donate__amounts {
                label.amount {
                    background: #9b9b9b;
                    color: white;

                    &:hover {
                        background: $pink;
                    }
                }

                .other-amount {
                    background: #ececec;
                }
            }
        }

        &__reductions {
            div:nth-child(1) {
                margin-top: 40px;
                font-size: 30px;
                font-weight: 700;
            }
        }

        &__phone {
            max-width: 200px;
        }

        &__city {
            width: 208px;
        }
    }

    &__form-steps {
        @include steps;
        display: none; /* Hiding the steps to see if it increases conversion */
    }

    &__frequency {
        input {
            visibility: hidden;

            &:checked + label {
                background-color: $pink;
                border-color: $pink;
                color: #fff;
            }
        }

        .btn--frequency {
            background: $gray;
            border-color: $gray;
            color: black;
            width: 100px;
        }

        &--amount {
            border: solid $gray 1px;
        }
    }

    &__form-note {
        top: 110px;
        position: relative;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__form-quote {
        width: 250px;
        color: white;
        font-size: 20px;
    }

    &__loader {
        display: none;
        text-align: center;
        margin-top: 60px;

        &__text {
            margin-top: 50px;
        }
    }

    &__amount-chooser {
        margin-bottom: 30px;

        &__after-taxes {
            margin: 25px 0 35px;

            h3 {
                font-size: 26px;
                font-weight: bold;
            }

            p {
                margin: 5px 0 0 0;
                padding: 0;
            }
        }

        input[type="checkbox"]:checked + label:before {
            background: $green--apple;
            border-color: $green--apple;
        }
    }

    &__informations {
        form {
            background: transparent;
            width: auto;
        }

        .register__form__gender label {
            @include text--default;
        }

        input[type="radio"]:checked + label:before {
            background: $green--apple;
            border-color: $green--apple;
        }

        &__amount {
            @include text--default;
            font-family: $font-roboto;
            padding-bottom: 20px;

            div {
                margin-top: 5px;
                font-size: 30px;
                font-weight: bold;
            }

            input[type="text"] {
                width: 70px;
                height: auto;
                text-align: center;
                margin: 0 10px;
            }

            label {
                @include text--default;
            }
        }
    }

    &__payment {
        min-height: 450px;
        padding-top: 50px;
    }

    &__result {
        min-height: 450px;
        padding: 30px 40px;

        &--failure h3 {
            margin-bottom: 40px;
        }

        &--successful {
            &__amount {
                font-size: 14px;
                font-family: $font-roboto;
                margin-bottom: 32px;

                h3 {
                    font-size: 30px;
                    font-weight: bold;
                }
            }

            &__thankyou {
                @include text--medium-large;
                font-weight: bold;
                font-style: italic;
                line-height: 0.97;
                letter-spacing: -0.5px;
                margin-bottom: 16px;
            }

            &__share-pride {
                font-size: 24px;
                font-weight: bold;
                font-style: italic;
                line-height: 1.08;
                letter-spacing: -0.3px;
                margin-top: 45px;
                margin-bottom: 10px;
            }

            &__sharer {
                margin-bottom: 30px;
            }
        }
    }
}

.donation-result {
    text-align: center;
    padding: 100px 0;

    &__support {
        margin-top: 50px;
    }
}
