.amount-chooser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__button,
    &__other {
        border: 0;
        font-family: $font-roboto;
        cursor: pointer;
        width: 24%;
        height: 56px;
        line-height: 56px;
        margin-bottom: 8px;
        box-sizing: border-box;
        background: $white;
        border: 1px solid $lines-grey;
        border-radius: 2px;
        color: $dark;
        transition: background-color .2s, border .2s;

        &:hover {
            background: $pink;
            border-color: $pink;
            color: $white;
        }

        font-size: 16px;
        text-align: center;

        @media (max-width: 450px) {
            width: 47%;
        }
    }

    &__monthly {
        text-align: left;
        margin-bottom: 10px;
        display: flex;

        label {
            margin-top: 10px;
            cursor: pointer;
            font-size: 15px !important;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

        .flex-top {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }

    &__help {
        width: 100%;
        font-family: $font-roboto;
        text-align: left;
        margin-top: 5px;
        color: $black--half;
        @include text--small;
    }

    &__button {
        outline: 0;

        &--selected {
            background-color: $pink;
            color: white;
            border-color: $pink;
            font-weight: bold;
        }
    }

    &__other {
        position: relative;
        width: 100%;

        &:hover {
            background: $gray--light;
        }

        &__input {
            box-sizing: border-box;
            width: 100%;
            background: transparent;
            position: relative;
            font-family: $font-roboto;
            font-size: $text--size-smallest;
            letter-spacing: 0.2px;
            border: none;
            cursor: text;
            text-align: left;
            padding: 0 12px;

            &:hover {
                background: transparent;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &__label {
            position: absolute;
            top: 11px;
            right: 20px;
            font-size: $text--size-medium--small;
            color: black;

            span {
                display: none;
            }
        }
    }
}

// Module page statiques & HP
.donate {
    &__text {
        max-width: 285px;

        @media (max-width: $mobile) {
            max-width: 100%;
        }

        h2 {
            line-height: 41px;

            @media (max-width: $mobile) {
                line-height: 1.2em;
            }
        }
    }

    &__form {
        margin-left: 15px;
        width: 450px;

        &__chooser__input {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }

        &__button {
            display: block;
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 0;
            font-family: $font-gillsans;

            svg {
                position: relative;
                top: 2px;
                left: 5px;
            }
        }

        @media (max-width: $mobile) {
            margin-left: 0;
            margin-top: 15px;
            width: 100%;
        }

        .amount-chooser {
            &__button,
            &__other {
                width: 23%;
                margin-bottom: 10px;

                @media (max-width: $mobile) {
                    width: 48%;
                }
            }

            &__button {
                background: white;
                color: black;

                &:hover {
                    background: $gray--light;
                }

                &--selected {
                    background: $pink;
                    color: white;

                    &:hover {
                        background: $pink-hover;
                    }
                }
            }

            &__other {
                background: white;
            }

            &__monthly {
                margin: 0 auto 10px auto;
            }
        }
    }

    &--home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        .donate__text {
            max-width: 400px;
        }

        .amount-chooser {
            &__monthly {
                background: rgba(0, 0, 0, 0.2);
                color: #fff;
                padding: 3px 10px;
            }

            &__help {
                display: none;
            }
        }
    }
}

.donation {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    position: relative;
    width: 100%;

    @media (max-height: 1000px) {
        justify-content: flex-start;
        height: auto;
    }

    @media (max-width: $mobile) {
        background-color: white;
        background-position: 0 0;
        background-size: 100%;
    }

    &__video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

        &--overlay {
            background: rgba(0, 0, 0, .5);
            top: 0;
            height: 100vh;
            width: 100%;
            box-sizing: border-box;
            position: fixed;
        }
    }

    &__header {
        padding: 30px 0;
        color: white;

        h1 a {
            @include text--logo;
            color: white;

            @media (max-width: $mobile) {
                font-size: $text--size-medium;
                color: black;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
            box-sizing: border-box;
            padding: 30px 6% 0;
            font-size: $text--size-smallest;
            color: black;

            .fa {
                font-size: $text--size-smallest;
            }
        }
    }

    // &__content {
    //     width: 100%;
    //     display: flex;
    //     align-items: baseline;
    //
    //     @media (max-width: $mobile) {
    //         padding: 0;
    //     }
    // }

    &__form {
        width: 550px;
        background: white;
        margin: 0 50px 0 auto;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            width: 100%;
            margin: 0;
        }

        &.donate-adhesion{
            margin: auto;
        }

        form {
            font-family: $font-roboto;
            @include text--small;
            padding: 40px;
        }

        h2 {
            font-family: $font-gillsans;
            font-size: 35px;
            font-weight: 700;
            font-style: italic;
            line-height: 1.15;
            letter-spacing: -0.7px;
        }

        h3 {
            @include text--medium-small;
            font-family: $font-gillsans;
        }

        .fluo {
            background: $yellow;
            font-family: $font-roboto;
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.2px;
            margin: 10px 0 17px;
            display: inline-block;
        }

        .montant {
            margin-bottom: 20px;
            text-align: left;
            @include text--small-plus;
        }

        &__amount {
            margin-bottom: 40px;

            .donate__amounts {
                label.amount {
                    background: #9b9b9b;
                    color: white;

                    &:hover {
                        background: $pink;
                    }
                }

                .other-amount {
                    background: #ececec;
                }
            }
        }

        &__reductions {
            div:nth-child(1) {
                margin-top: 40px;
                font-size: 30px;
                font-weight: 700;
            }
        }

        &__phone {
            max-width: 200px;
        }

        &__city {
            width: 208px;
        }
    }

    &__form-steps {
        @include steps;
        display: none; /* Hiding the steps to see if it increases conversion */
    }

    &__frequency {
        input {
            visibility: hidden;

            &:checked + label {
                background-color: $pink;
                border-color: $pink;
                color: #fff;
            }
        }

        .btn--frequency {
            background: $gray;
            border-color: $gray;
            color: black;
            width: 100px;
        }

        &--amount {
            border: solid $gray 1px;
        }
    }

    &__form-note {
        top: 110px;
        position: relative;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__form-quote {
        width: 250px;
        color: white;
        font-size: 20px;
    }

    &__loader {
        display: none;
        text-align: center;
        margin-top: 60px;

        &__text {
            margin-top: 50px;
        }
    }

    &__amount-chooser {

        &__after-taxes {
            margin: 15px 0 20px;
            font-size: 15px;
            color: $dark;
            font-family: $font-roboto;

            .after-taxes-amount {
                font-size: 22px;
                font-weight: bold;
                color: $black;
            }

            // h3 {
            //     font-size: 26px;
            //     font-weight: bold;
            // }
            //
            // p {
            //     margin: 5px 0 0 0;
            //     padding: 0;
            // }
        }

        input[type="checkbox"]:checked + label:before {
            background: $green--apple;
            border-color: $green--apple;
        }
    }

    &__informations {
        form {
            background: transparent;
            width: auto;
        }

        .register__form__gender label {
            @include text--default;
        }

        input[type="radio"]:checked + label:before {
            background: $green--apple;
            border-color: $green--apple;
        }

        &__amount {
            @include text--default;
            font-family: $font-roboto;
            padding-bottom: 20px;

            div {
                margin-top: 5px;
                font-size: 30px;
                font-weight: bold;
            }

            input[type="text"] {
                width: 70px;
                height: auto;
                text-align: center;
                margin: 0 10px;
            }

            label {
                @include text--default;
            }
        }
    }

    &__payment {
        min-height: 450px;
        padding-top: 50px;
    }

    &__result {
        min-height: 450px;
        padding: 30px 40px;

        &--failure h3 {
            margin-bottom: 40px;
        }

        &--successful {
            &__amount {
                font-size: 14px;
                font-family: $font-roboto;
                margin-bottom: 32px;

                h3 {
                    font-size: 30px;
                    font-weight: bold;
                }
            }

            &__thankyou {
                @include text--medium-large;
                font-weight: bold;
                font-style: italic;
                line-height: 0.97;
                letter-spacing: -0.5px;
                margin-bottom: 16px;
            }

            &__share-pride {
                font-size: 24px;
                font-weight: bold;
                font-style: italic;
                line-height: 1.08;
                letter-spacing: -0.3px;
                margin-top: 45px;
                margin-bottom: 10px;
            }

            &__sharer {
                margin-bottom: 30px;
            }
        }
    }
}

.donation-result {
    text-align: center;
    padding: 100px 0;

    &__support {
        margin-top: 50px;
    }
}

/*
========================================================
========================================================
========================================================
========================================================
*/
@mixin content-mw {
    max-width: 100%;

    @media (min-width: $tablet) {
        max-width: calc((100% - 440px) - 10%);
    }
}

.donation-reassurance {
    font-size: 0;

    &__item {
        display: inline-block;
        font-size: 12px;
        color: white;
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 2px;
        padding: 6px;
        text-transform: uppercase;
        margin-right: 8px;
        line-height: normal;
    }

    &.dark {
        .donation-reassurance__item {
            border: 1px solid rgba(255,255,255,0.5);
        }
    }
}

.donation__landing {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.donation-header {
    position: relative;
    color: $white;
    background-color: red;

    @media (min-width: $tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
    }

    &__content {
        height: 100px;
        display: flex;
        align-items: center;
    }
}

.donation-hero {
    width: 100%;
    height: 670px;
    background-color: black;
    order: 2;

    @media (min-width: $tablet) {
        order: 1;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: $white;
    }

    &__content {
        width: 100%;
        @include content-mw;
        padding-bottom: 70px;

        h1 {
            line-height: normal;
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 40px;
        }
    }
}

/* DONATION-BOX */
.donation-box__container {
    position: relative;
    background-color: #383346;
    pointer-events: none;

    @media (min-width: $tablet) {
        background-color: transparent;
        margin-top: -530px;
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 60px;
        order: 2;
    }

    .l__wrapper {
        display: flex;
        justify-content: center;

        @media (min-width: $tablet) {
            justify-content: flex-end;
        }
    }
}

.donation-box,
.donation-box__flip,
.donation-box__front,
.donation-box__back {
    height: 640px;
    width: 100%;
    max-width: 440px;
    box-sizing: border-box;
}

.donation-box,
.donation-box__flip {
    position: relative;
}

.donation-box__front,
.donation-box__back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    padding: 50px 50px 0;
    pointer-events: all;

    &.disable {
        pointer-events: none;
    }
}

.donation-box {
    pointer-events: all;
    -moz-transform: perspective(1500px);
    -webkit-perspective: 1500px;
    perspective: 1500px;

    &__flip {
        transition: all 0.5s ease-out;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        border-radius: 3px;

        &.with-shadow {
            box-shadow: 0 2px 5px 0 rgba(35, 50, 65, 0.12);
        }

        &.flipped {
          -webkit-transform: rotateY(-180deg);
          -moz-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
        }
    }

    &__front {
        background-color: white;
        text-align: center;
    }

    &__back {
        background-color: white;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    &__head {

        h1 {
            font-weight: 400;
            font-style: italic;
        }

        span {
            background-color: $lighter-pink;
            font-weight: 700;
        }
    }

    &__sending-address {
        background-color: $gray--pale;
        border-radius: 3px;
        padding: 20px;
        margin: 20px 0 30px;
    }

    .donation-button {
        width: 100%;
    }

    .donation-button-separator {
        width: 100%;
        height: 1px;
        background-color: $lines-grey;
        margin: 20px 0;
        position: relative;

        &::before {
            content: 'ou';
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: $white;
            position: absolute;
            top: -10px;
            left: calc(50% - 25px);
            font-family: $font-roboto;
            width: 50px;
            text-align: center;
        }
    }
}

.others-sections {
    order: 3;
}

/* DONATION DISTRIBUTION */
.donation-distribution {
    padding-top: 50px;

    @media (min-width: $mobile) {
        padding-top: 75px;
    }

    @media (min-width: $tablet) {
        padding-top: 0;
    }

    &__content {
        width: 100%;
        @include content-mw;
    }

    &__items-list {
        display: inline;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
        width: 100%;
        margin-top: 50px;
        margin-right: 0;

        @media (min-width: $mobile) {
            width: calc(50% - 12px);

            &:nth-child(2n+1) {
                margin-right: 24px;
            }
        }

        @media (min-width: $tablet) {
            width: 100%;
            margin-right: 0;
        }

        @media (min-width: 1200px) {
            width: calc(50% - 12px);

            &:nth-child(2n+1) {
                margin-right: 24px;
            }
        }

        &:last-child {
            width: 100%;
            margin-right: 0;
        }

        &--head {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &--amount {
            display: block;
            width: 68px;
            min-width: 68px;
            height: 68px;
            text-align: center;
            line-height: 68px;
            background-color: $lighter-pink;
            margin-right: 20px;
            font-size: 22px;
            font-weight: bold;
        }

        &--title {
            font-family: $font-roboto;
            line-height: normal;
        }

        &:first-child .donation-distribution__item--amount {
            background-color: $black;
            color: $white;
        }

        p {
            color: $silver-grey;
            margin: 20px 0 0;
        }
    }
}
