.content .explainer {
    h2 {
        @include text--large;
        text-align: center;
    }

    &__description {
        @include wrapper--slim;
        @include text--medium-small;
        padding: 40px 0 10px;
    }

    &__articles {
        @include wrapper--slim;

        > ul > li {
            padding: 60px 0 20px;
        }

        ul > li > ul {
            padding-left: 40px;

            > li {
                @include text--medium;
                list-style: disc outside url(/images/icons/icon__dot--blue.svg);
                padding: 20px 0 0 8px;

                a {
                    @include link--no-decor;
                }
            }
        }
    }

    &__video-row {
        @include wrapper;
        padding: 20px 0;
        text-align: center;

        p {
            font-weight: bold;
            text-align: left;
            margin: 0;
            padding: 10px 5px;
        }

        a {
            margin: 5px 0;
            display: inline-block;
            @include link--no-decor;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            margin-top: 25px;

            li {
                list-style-type: none;
                width: 23.35%;

                @media (max-width: $tablet) {
                    width: 48%;
                    margin-bottom: 20px;
                }

                @media (max-width: $mobile) {
                    width: 100%;
                }

                > div {
                    position: relative;
                    height: 0;
                    overflow: hidden;
                    // Removes extra space below responsive videos
                    // padding-bottom : ratio = width/height of video
                    padding-bottom: 56.25%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        &--triptique {
            max-width: 900px;

            ul {
                @media (max-width: $tablet) {
                    justify-content: space-around;
                }

                li {
                    width: 31.15%;

                    @media (max-width: $tablet) {
                        width: 48%;
                        margin-bottom: 20px;
                    }

                    @media (max-width: $mobile) {
                        width: 100%;
                    }

                }
            }
        }
    }
}
