.image-generator {
  font-family: $font-roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #444;

  form[name="citizen_project_image"] {
    counter-reset: section;
  }

  a {
    border-bottom: none;
  }
}

.img-gen__fieldset {
  margin-bottom: 45px;
  display: flex;
  flex-flow: row wrap;

  &:before {
    counter-increment: section;
    content: counter(section) ' ';
    color: white;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #444;
    font-family: $font-gillsans;
    font-weight: bold;
    font-size: 16px;
  }

  > div {
    flex: 1;
    margin-left: 20px;
  }

  p {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.img-gen__input {
  margin: 0;

  &--block {
    width: 100%;
  }

  &--narrow {
    max-width: 65px;
  }

  &[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

input.img-gen__input {
  height: 55px;
}

.img-gen__label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }
}

[name="citizen_project_image[backgroundColor]"] + label {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

[name="citizen_project_image[backgroundColor]"] + label:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -8px;
  background-color: transparent;
  transition: background-color 125ms ease;
}

[name="citizen_project_image[backgroundColor]"]:checked + label:after {
  background-color: #444;
}

