.success-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;

    #title {
        font-family: 'Maax';
        font-size: 40px;
        font-style: italic;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 24px;
    }
    
    #subtitle {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #4B5563;
        text-align: center;
    }

    @media (min-width: $tablet) {
        padding: 0;
    }
}
