#jemengage-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title {
    font-family: "Maax";
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
}

#errorType {
    font-family: "Maax";
    font-size: 150px;
    font-weight: 900;
    line-height: 150px;
    margin-bottom: 24px;
}

#body {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
