body.jemengage {
    height: 100vh;
    width: 100vw;

    .login-page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #title {
        font-size: 40px;
        line-height: 56px;
        font-family: 'Maax';
        color: #000000;
        text-align: center;
        margin-bottom: 24px;
    }

    .flash-info, #auth-error, #subtitle, input, a, .btn {
        font-family: "Poppins", sans-serif;
    }

    #subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #4B5563;
        text-align: center;
        margin-bottom: 36px;
    }

    .btn {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        color: #FFFFFF;
        background: #2834C4 !important;
        border-radius: 6px !important;
        border: none;
        width: 100%;
        height: 50px;
        text-transform: lowercase;

    }

    .capitalize {
        text-transform: capitalize;
    }

    .flash-info, #auth-error {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        background: #CC0613 !important;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 36px;
    }

    .flash-info {
        max-width: 483px;
        margin: 0 auto 36px;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        max-width: 483px;
        margin: 0 auto;

        // target email and password inputs
        li input:nth-child(-n+2) {
            color: #111827;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            border-radius: 6px;
            border: none;
            background: #F3F4F6;
            height: 48px;
            width: 100%;
            margin-right: 0;
        }

        li {
            margin-bottom: 24px;
        }

        a {
            color: #2834C3 !important;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            border: none;
        }

        @media (max-width: $tablet) {
            padding: 16px;
        }
    }

    .forgot-password-container {
        margin: 0 auto;
        max-width: 527px;

        li input {
            color: #111827;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            border-radius: 6px;
            border: none;
            background: #F3F4F6;
            height: 48px;
            width: 100%;
            margin-right: 0;
            margin-bottom: 36px;
        }

        @media (max-width: $tablet) {
            padding: 16px;
        }
    }
}
