.create-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    font-family: "Poppins";
        
    #title{
        font-family: 'Maax';
        font-size: 40px;
        font-style: italic;
        font-weight: 400;
        line-height: 40px;
    }
    
    #subtitle {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #4B5563;
        text-align: center;
    }

    .form__error {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #FFFFFF;
        background: #CC0613;
        
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 36px;
    }

    input {
        color: #111827;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        border-radius: 6px;
        border: none;
        background: #F3F4F6;
        height: 48px;
        width: 100%;
        margin-bottom: 16px;
    }

    #adherent_reset_password_submit {
        font-size: 15px;
        font-weight: 500;
        line-height: 26px;
        text-transform: uppercase;

        background: #2834C4;
        border-radius: 8.35px;
    }

    @media (min-width: $mobile) {
        height: 100vh;
        width: 100vw;
        margin: 0 auto;
        padding: 0;
        width: 497px;
    }
}
