@mixin text--normal-oauth {
    font-size: 1rem;
    font-family: $font-roboto;
    font-weight: normal;
}

@mixin text--small-oauth {
    font-size: 0.875rem;
}

.oauth {
    margin-top: 100px;
    font-family: $font-roboto;
    line-height: 1.4;
    background: $white;
    border-radius: 5px;

    a {
        @include transition;
        color: $cta;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: $cta;
        }
    }

    ul {
        list-style-type: disc;
    }

    .flash {
        padding: 20px 30px;

        &-info {
            background-color: $info;
        }

        &-success {
            background-color: $success;
            color: white;
        }

        &-warning {
            background-color: $error;
            color: white;
        }
    }

    .visually-hidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    h1, h2 {
        @include text--normal-oauth;
        color: $text--gray;
        margin: 0 auto 35px;
    }

    .text {
        &--logo {
            color: #333333;
            font-family: $font-gillsans;
            font-size: 3rem;
            font-weight: bold;
            font-style: italic;
            letter-spacing: -1.2px;
            line-height: 1.15;
            margin: 20px 0;
        }

        &--gray {
            color: $text--gray;
        }

        &--small {
            font-size: 0.875rem;
        }

        &--center {
            text-align: center;
        }
    }

    @mixin btn-oauth {
        @include text--normal-oauth;
        @include transition;
        border-radius: 3px;
        color: white;
        border: 0;
        background-color: $cta;
        border: 1px solid $cta;
        padding: 20px 15px;
        width: 100%;
        cursor: pointer;
        box-sizing: border-box;
        text-transform: none;
        letter-spacing: normal;

        &:hover {
            background-color: $cta-hover;
        }
    }

    .btn {
        @include btn-oauth;
    }

    .btn--secondary {
        @include btn--secondary;
    }

    .btn--dual {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
            width: 48%;
        }

        > div button,
        > div a {
            @include btn-oauth;
        }

        > div:first-child button,
        > div:first-child a {
            @include btn--secondary;
        }
    }

    input, select {
        @include text--normal-oauth;
        border-radius: 3px;
        border: solid 1px $border-form;
        width: 100%;
        padding: 20px !important;
        height: 63px;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: $cta;
        }
    }

    select {
        height: 60px;
        background-color: #FFF;
    }

    .form {
        padding: 0;
        text-align: left;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            margin-bottom: 20px;

            &.form--split {
                margin-bottom: 0;

                ul {
                    display: flex;
                    justify-content: space-between;

                    > li {
                        width: 48%;
                    }
                }
            }
        }

        &__forgotten-pw {
            @include text--small-oauth;
            display: inline-block;
            margin: 10px 0 0 0;
        }
    }

    ul.form__error,
    .form__error {
        background: $error;
        padding: 7px 20px;
        color: white;
        border-radius: 3px;
        margin-bottom: 10px;

        li {
            margin-bottom: 0;
        }
    }

}
