.organizational-chart *,
.organizational-chart *:before,
.organizational-chart *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.organizational-chart a {
    border-bottom: none;
}

.organizational-chart span.function {
    border-bottom: 1px solid white;
}

ol.organizational-chart,
ol.organizational-chart ol,
ol.organizational-chart li,
ol.organizational-chart li > div {
    position: relative;
    display: inline-block;
}

ol.organizational-chart,
ol.organizational-chart ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

ol.organizational-chart ol:before, ol.organizational-chart ol:after, ol.organizational-chart li:before, ol.organizational-chart li:after, ol.organizational-chart > li > div:before, ol.organizational-chart > li > div:after {
    display: none;
}

ol.organizational-chart {
    margin: 0 !important;

    h1, h2 {
        @include text--medium-small;
    }
}

.organizational-chart > li > div {
    width: 100% !important;
    margin: 0 !important;
}

.organizational-chart > li:first-child {
    margin-top: 30px !important;
}

ol.organizational-chart > li > ol > li {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 15px !important;
}

ol.organizational-chart > li > ol > li > ol > li > div,
ol.organizational-chart > li > ol > li > ol > li > ol > li > ol > li > div,
ol.organizational-chart > li > ol > li > ol > li > ol > li > ol > li > div >ol >li > div {
    background: white !important;
}

ol.organizational-chart > li > div > h3 {
    font-size: 21px;
    color: $black;
    text-transform: none;
    font-weight: bold;
}

ol.organizational-chart > li > ol.organizational-chart > li > ol > li {
    flex: 1;
    padding-top: 0 !important;

    @media (max-width: $mobile) {
        padding-right: 0 !important;
    }
}

ol.organizational-chart > li > ol.organizational-chart > li > ol > li:last-child {
    padding-right: 0 !important;
}

.organizational-chart > li > ol.organizational-chart {
    flex-direction: column !important;
}

.organizational-chart h3 {
    font-weight: normal;
    color: $silver-grey;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: 12px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 10px 10px;
        color: black;
        width: 280px;
        height: 165px;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
        background-color: $white;

        .name {
            text-transform: none;
            font-size: 18px;
            font-weight: bold;
            color: $black;
            text-align: center;

            &--empty {
                font-style: italic;
                color: $gray;
                font-weight: normal;
            }
        }

        .function,
        .referent-person-link,
        .already-co-referent {
            border: 0;
            margin-top: 5px;
            font-size: 16px;
            color: #8c8c8c;
            text-transform: none;
        }

        .referent-person-link {
            font-weight: normal;
            display: inline;
            font-size: 13px;
            color: $status-green;
        }
    }
}
