.programmatic-foundation {
    position: relative;
    padding-bottom: 100px;

    .background-stripe-01 {
        background-color: $pale-grey;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: calc((100% - 1200px) / 2 );
        min-width: 200px;

        @media (min-width: $tablet) {
            display: block;
        }
    }

    .background-stripe-02 {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        bottom: -100px;
        width: 350px;
        background-color: $pale-grey;

        @media (min-width: $tablet) {
            display: block;
        }
    }

    & .content {
        ul {
            padding-left: 40px;
            margin-top: 14px;
            margin-bottom: 14px;
            list-style: initial;
        }
    }

    &__row {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }

    &__left {
        position: relative;
        box-sizing: border-box;
        background-color: $gray--pale;
        padding: 0 20px 20px;

        @media (min-width: $tablet) {
            position: -webkit-sticky;
            top: -140px;
            background-color: transparent;
            position: sticky;
            width: 350px;
            height: 600px;
            padding: 0 30px 0 0;
            margin: 0;
        }

        .content {
            padding-top: 30px;

            .socle-logo {
                margin: 0 auto;
                border: none;

                img {
                    width: 230px;
                }
            }
        }
    }

    &__right {
        width: 100%;
        box-sizing: border-box;

        @media (min-width: $tablet) {
            width: calc(100% - 350px);
            padding-left: 60px;
        }
    }

    &__breadcrumb {
        margin: 30px 0 !important;
        padding: 0 !important;

        li {
            display: inline-block;
            color: $silver-grey;

            &:not(:first-child)::before {
                content: '';
                display : inline-block;
                height : 0;
                width : 0;
                border-top : 5px solid transparent;
                border-bottom : 5px solid transparent;
                border-left : 5px solid $silver-grey;
                opacity: 0.4;
                margin: 0 10px;
            }
        }
    }

    &__contact {
        position: relative;
        font-family: $font-roboto;
        color: $silver-grey;
        margin-top: 20px;
        padding: 20px 25px 0 0;
        border-top: 1px solid $lines-grey;
        font-size: 13px;
        line-height: 18px;

        .icn-close {
            position: absolute;
            cursor: pointer;
            right: 0px;
            top: 15px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__search {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;

        .em-form__group {
            margin-bottom: 15px;

            .em-form__field {
                height: 50px;
                border-color: white;
            }
        }

        .text-search {
            flex-grow: 2;
        }

        .city-search, .tag-search {
            flex-basis: 100%;
        }
    }

    &__search-results {
        font-family: $font-roboto;

        .measures,
        .projects {
            margin-bottom: 50px;

            .programmatic-foundation__projects {
                margin: 0;
            }
        }
    }

    &__leading {

        .form__checkbox {
            margin: 20px 0 0 0;
        }
    }

    &__legend {
        font-family: $font-roboto;
        font-size: 14px;
        margin: 50px 0 10px 0;

        .legend-item {
            margin-right: 20px;
            white-space: nowrap;
            font-weight: bold;

            &::before {
                content: '';
                display: inline-block;
                margin-right: 8px;
                width: 12px;
                height: 12px;
                border-radius: 10px;
                vertical-align: middle;
            }

            &.leading-measure {
                color: $pink--hit;
                &::before {
                    background-color: $pink--hit;
                }
            }

            &.basic-measure {
                color: $blue--dodger;
                &::before {
                    background-color: $blue--dodger;
                }
            }

            &.project {
                color: $green--ocean;
                &::before {
                    background-color: $green--ocean;
                }
            }
        }
    }

    &__view-measure {
        margin-bottom: 60px;

        header {
            h1 {
                margin-top: 0;
                font-size: 22px;
                line-height: 28px;
                font-weight: bold;
                color: $blue--dodger;
                font-family: $font-roboto;

                &.leading {
                    color: $pink--hit;
                }
            }
        }

        .content {
            article {
                a {
                    color: $blue--dark;
                    border-bottom: none;
                }

                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }

        .programmatic-foundation__project {
            margin-top: 30px;
        }
    }

    &__view-approaches {
        background-color: $white;
    }

    &__approaches {
        font-family: $font-roboto;
    }

    &__approach {
        margin-bottom: 70px;

        h2 {
            font-size: 22px;
            line-height: normal;
            margin-bottom: 20px;

            @media (min-width: $mobile) {
                font-size: 26px;
            }
        }

        & > .content {
            color: $silver-grey;
            margin-bottom: 30px;
        }
    }

    &__sub-approach {
        background-color: $white;

        .title {
            font-size: 18px;
            margin-right: 10px;
            color: $silver-grey;
            font-weight: bold;

            @media (min-width: $mobile) {
                font-size: 20px;
            }
        }

        .subtitle {
            margin-top: auto;
            color: $silver-grey;
        }

        > .head {
            background-color: $gray--pale;
        }

        > .content {
            padding-left: 20px;
        }

        &.expanded {
            > .head {
                .title {
                    color: $dark;
                }
            }
        }
    }

    &__items-type {
        font-size: 16px;
        font-weight: bold;
        color: $silver-grey;
        text-transform: uppercase;
        margin: 30px 0 20px;
        letter-spacing: normal;
    }

    &__measures,
    &__projects {
        &.programmatic-foundation__children {
            .child {
                border-bottom: none;
                overflow: hidden;

                .head {
                    padding: 25px 70px 25px 20px;

                    .title {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                &.expanded {
                    & > .head {
                        .toggle {
                            background-color: $gray--mystic;
                        }
                    }

                    & > .content {
                        margin-bottom: 30px;

                        & > .html {
                            margin-top: 10px;
                            color: $dark;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    &__measure {
        > .head {
            border-left: 4px solid $blue--dodger;
            background-color: $blue-dodger--light;

            .title {
                color: $blue--dodger;
            }
        }

        &.leading {
            > .head {
                border-left: 4px solid $pink--hit;
                background-color: $pink--hit--light;

                .title {
                    color: $pink--hit;
                }
            }
        }
    }

    &__children {
        .child {
            margin-bottom: 10px;

            .head, .content {
                transform: translateZ(0);
                transition: all 0.2s;
            }

            .head {
                box-sizing: border-box;
                padding: 25px 70px 25px 20px;
                font-weight: 500;
                border-radius: 3px;
                cursor: pointer;
                margin-bottom: 0;

                .toggle {
                    position: absolute;
                    top: calc(50% - 15px);
                    right: 20px;
                    width: 30px;
                    height: 30px;
                    background-color: $white;
                    border-radius: 30px;

                    &:after, &:before {
                        position: absolute;
                        top: 10px;
                        right: 14px;
                        height: 10px;
                        content: '';
                        width: 2px;
                        background-color: $silver-grey;
                        transition: all 0.2s;
                    }

                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }

            .content {
                max-height: 0;
                overflow: hidden;


                @media (min-width: $tablet) {
                    padding: 0 25px;
                }
            }

            .measure-links {
                margin-bottom: 30px;
                padding: 20px 0;
                border-bottom: 1px solid $gray--mystic;

                a {
                    display: inline-block;
                    border: 1px solid $lines-grey;
                    font-size: 14px;
                    color: $dark;
                    padding: 6px 12px;
                    border-radius: 50px;
                    font-weight: bold;
                    margin-right: 5px;

                    &:hover {
                        text-decoration: none;
                    }

                    .icn {
                        vertical-align: middle;
                        margin-right: 5px;
                    }

                    &.copied {
                        position: relative;

                        &:before {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            border-bottom: 7px solid $darker;
                            top: 33px;
                            left: 53%;
                        }

                        &:after {
                            content: attr(data-success-title);
                            position: absolute;
                            left: 35%;
                            top: 40px;
                            color: $white;
                            padding: 6px 13px 6px 34px;
                            border-radius: 3px;
                            background: $darker url('/images/check.svg') no-repeat 9px center;
                        }
                    }
                }
            }

            &.expanded {
                & > .head {
                    background-color: $white;

                    .toggle {
                        background-color: $gray--mystic;

                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }

                & > .content {
                    max-height: none;
                    margin-bottom: 20px;

                    & > .html {
                        margin-bottom: 20px;
                        color: $dark;
                    }
                }
            }
        }
    }

    &__projects {
        margin-top: 40px;
    }

    &__project,
    &__project .child {
        > .head {
            padding: 25px 70px 25px 25px;
            border-left: 4px solid $green--ocean;
            background-color: $green--ocean--light;

            .title {
                color: $green--ocean;
                font-weight: bold;
            }
        }
    }
}
