.programmatic-foundation {
    padding-bottom: 100px;

    & .content {
        ul {
            padding-left: 40px;
            margin-top: 14px;
            margin-bottom: 14px;
            list-style: initial;
        }
    }

    &__breadcrumb {
        margin: 30px 0;

        li {
            display: inline-block;
            color: $silver-grey;

            &:not(:first-child)::before {
                content: '';
                display : inline-block;
                height : 0;
                width : 0;
                border-top : 5px solid transparent;
                border-bottom : 5px solid transparent;
                border-left : 5px solid $silver-grey;
                opacity: 0.4;
                margin: 0 10px;
            }
        }
    }

    &__contact {
        position: relative;
        padding-right: 45px;

        .icn-close {
            position: absolute;
            cursor: pointer;
            right: 10px;
            top: 10px;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__search {
        width: 100%;
        margin: 40px 0 15px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .em-form__group {
            margin-bottom: 15px;
        }

        .text-search {
            flex-grow: 2;
        }

        .city-search {
            flex-grow: 1;
        }

        .tag-search {
            flex-basis: 100%;
        }

        @media (min-width: $mobile) {
            flex-direction: row;
            margin: 40px 0 35px 0;

            .em-form__group {
                margin-bottom: 35px;
            }

            .city-search, .tag-search {
                margin-left: 15px;
            }

            .tag-search {
                flex-basis: 250px;
            }
        }
    }

    &__search-results {
        font-family: $font-roboto;

        .measures,
        .projects {
            padding: 30px;
            background-color: $white;
            border-bottom: 1px solid #EEE;

            h2 {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }

    &__leading {
        padding-right: 20px;

        .form__checkbox {
            margin: 20px 0 0 0;
        }
    }

    &__legend {
        font-family: $font-roboto;
        font-size: 14px;
        margin: 20px 0 0 0;

        .legend-title {
            color: $black;
            font-weight: bold;
            margin-right: 20px;

            @media (min-width: $mobile) {
                margin-right: 0;
            }
        }

        .legend-item {
            color: $silver-grey;
            margin-right: 20px;
            white-space: nowrap;

            @media (min-width: $mobile) {
                margin-right: 0px;
                margin-left: 20px;
            }

            &::before {
                content: '';
                display: inline-block;
                margin-right: 8px;
                width: 12px;
                height: 12px;
                border-radius: 10px;
                vertical-align: middle;
            }

            &.leading-measure {
                &::before { background-color: $pink--hit; }
            }

            &.basic-measure {
                &::before { background-color: $blue--dodger; }
            }

            &.project {
                &::before { background-color: $green--ocean; }
            }
        }
    }

    &__view-measure {
        margin-bottom: 60px;

        header {
            h1 {
                margin-top: 0;
            }
        }

        .content {
            article {
                a {
                    color: $blue--dark;
                    border-bottom: none;
                }

                img {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }

    &__view-approaches {
        background-color: $gray--pale;
    }

    &__approaches {
        font-family: $font-roboto;
    }

    &__approach {
        margin-bottom: 70px;

        h2 {
            font-size: 26px;
            margin-bottom: 20px;
        }

        & > .content {
            color: $silver-grey;
            margin-bottom: 30px;
        }
    }

    &__sub-approach {
        background-color: $white;

        .title {
            font-size: 20px;
            margin-right: 10px;
        }

        .subtitle {
            margin-top: auto;
            color: $silver-grey;
            font-weight: 600;
        }
    }

    &__measures,
    &__projects {
        &.programmatic-foundation__children {
            .child {
                border-bottom: none;
                overflow: hidden;

                .head {
                    background-color: $gray--pale;
                    padding: 25px 70px 25px 25px;
                    margin-bottom: 10px;

                    .title {
                        font-size: 18px;
                        align-self: center;
                    }

                    .toggle {
                        top: 20px;
                        right: 20px;
                        width: 30px;
                        height: 30px;
                        background-color: $white;

                        &:after, &:before {
                            top: 10px;
                            right: 14px;
                            height: 10px;
                        }
                    }
                }

                &.expanded {
                    & > .head {
                        .toggle {
                            background-color: $gray--mystic;
                        }
                    }

                    & > .content {
                        margin-bottom: 30px;

                        & > .html {
                            margin-top: 10px;
                            color: $dark;
                            padding: 0;

                            @media (min-width: $mobile) {
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__projects {
        margin-top: 40px;
    }

    &__measure {
        .head {
            border-left: 4px solid $blue--dodger;
        }

        &.leading {
            > .head {
                border-left: 4px solid $pink--hit;
            }
        }
    }

    &__project {
        .head {
            border-left: 4px solid $green--ocean;
        }
    }

    &__children {
        .child {
            border-bottom: 1px solid $gray--gallery;

            .head, .content {
                transform: translateZ(0);
                transition: all 0.2s;
            }

            .head {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                padding: 30px 80px 30px 20px;
                font-weight: 500;
                background-color: $white;
                border-radius: 3px;
                cursor: pointer;
                margin-bottom: 0;

                .toggle {
                    position: absolute;
                    top: calc(50% - 20px);
                    right: 30px;
                    width: 40px;
                    height: 40px;
                    background-color: $gray--mystic;
                    border-radius: 30px;

                    &:after, &:before {
                        position: absolute;
                        top: 13px;
                        right: 19px;
                        content: '';
                        width: 2px;
                        height: 14px;
                        background-color: $silver-grey;
                        transition: all 0.2s;
                    }

                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }

            .content {
                max-height: 0;
                overflow: hidden;
            }

            .measure-links {
                a {
                    font-size: 14px;
                    color: $silver-grey;
                    padding-right: 18px;
                    border-bottom: none;
                    text-decoration: underline;
                    transition: color .5s;

                    &:hover {
                        text-decoration: none;
                    }

                    .icn {
                        vertical-align: middle;
                        margin-right: 5px;
                    }

                    &.copied {
                        color: $green--apple;
                    }
                }
                margin: 0;
                padding-bottom: 15px;
                border-bottom: 1px solid $gray--mystic;

                @media (min-width: $mobile) {
                    margin: 10px 20px;
                }
            }

            .html, .programmatic-foundation__children {
                padding: 0 20px;
            }

            &.expanded {
                & > .head {
                    background-color: $white;

                    .toggle {
                        background-color: $gray--mystic;

                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }

                & > .content {
                    max-height: none;
                    margin-bottom: 20px;

                    & > .html {
                        margin-bottom: 20px;
                        color: $dark;
                    }
                }
            }
        }
    }
}
