.referent {
    &__filters {
        background: $gray--lighter;
        padding: 10px;
        margin: 20px 0 50px 0;

        &__title {
            margin: 0;
            padding: 15px 15px 0 15px;
            font-size: 24px;
        }

        &__subtitle {
            margin: 20px 0 10px 0;
            font-family: $font-roboto;
            font-weight: bold;
        }

        &__form {
            padding: 10px 15px;
        }

        .form__row {
            margin-bottom: 0;
        }

        &__count {
            text-align: center;
            margin: 10px 0 50px 0;
        }

        &__buttons {
            text-align: center;

            a, button {
                vertical-align: top;
                margin: 0 5px;
            }
        }

        &__search {
            &__col {
                flex: 1;
                margin: 0 100px 0 0;

                .l__row {
                    margin: 0 0 20px 0;
                }

                &__area-code {
                    margin: 0 0 10px 0 !important;
                }

                .label__header__interest {
                    margin-top: 20px;
                }

                &__interest {
                    padding: 10px;
                    margin-bottom: 40px;
                }

                .form__checkbox {
                    width: 50%;

                    label:before {
                        background: $white;
                    }
                }
            }
        }
    }

    &__btn-create-event {
        float: right;
        margin: -8px 0 0 0;
    }

    .datagrid__table {
        font-family: $font-roboto;
        font-size: 14px;
    }

    &__item {
        td {
            padding: 10px 0;
        }

        &__metadata {
            color: $gray--muted;
        }

        &--host {
            background: #fffad3;

            &:hover {
                background: #f4efcb !important;
            }
        }
    }
}

.jecoute-survey {
    .form {
        &__radio-button {
            input[type='radio'] {
                &:checked + label:before {
                    border-color: $blue--dark;
                    background: $blue--dark;
                }
            }
        }
    }

    .question-choices {
        margin-left: 30px;

        label {
            font-size: 18px;
        }
    }

    .survey-question {
        &__widget {
            overflow: hidden;

            .question-header {
                overflow: hidden;
                margin-top: 15px;

                &__label {
                    float: left;
                }

                &__management {
                    float: right;
                }
            }
        }

        &__choice_widget {
            overflow: hidden;

            .choice-item {
                float:left;
                width: 70%;
            }

            .choice-management {
                float: right;
            }
        }
    }
}
