.retirement-simulator {
    &__header {
        background-color: $gray--pale;
        padding: 80px 0;

        .title {
            margin-bottom: 45px;
            max-width: 380px;
        }
    }

    &__journey {
        font-size: 18px;
        color: $silver-grey;
        line-height: 28px;
        font-family: $font-roboto;

        .simulator-journey {
            &__item {
                display: inline-block;
                margin: 10px 0;

                label {
                    font-size: 18px;

                    span {
                        box-sizing: content-box;
                        position: relative;
                        display: inline-block;
                        padding: 0;
                        margin: 0 5px;
                        line-height: normal;

                        select {
                            position: relative;
                            -webkit-appearance: none;
                            box-sizing: content-box;
                            border: none;
                            height: 30px;
                            padding: 0 30px 0 5px;
                            border-bottom: solid 2px $blue--dark;
                            background-color: transparent;
                            border-radius: 0;
                            font-size: 18px;
                            font-family: $font-roboto;
                            color: $blue--dark;
                            font-weight: bold;
                            cursor: pointer;
                            margin: 0;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 7px 5px 0 5px;
                            border-color: $blue--dark transparent transparent transparent;
                            right: 10px;
                            top: 14px;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }

    &__result {
        margin: 80px 0 100px;

        .simulator-result__col {
            width: 100%;
            margin-bottom: 60px;

            @media (min-width: $tablet) {
                width: calc(50% - 40px);
            }

            hr {
                width: 40px;
                margin: 40px 0;
            }

            .subtitle {
                text-transform: uppercase;
                color: $green--ocean;
                font-weight: bold;
                margin-bottom: 30px;
                font-family: $font-roboto;
            }

            &--item--measure {
                margin-top: 30px;
                font-family: $font-roboto;
                color: $dark;
                background-position: left top;
                background-repeat: no-repeat;
                padding-left: 40px;

            }

            &.changed {
                .simulator-result__col--item--measure {
                    background-image: url('/images/icons/measure-changed.svg');
                }
            }

            &.unchanged {
                .simulator-result__col--item--measure {
                    background-image: url('/images/icons/measure-unchanged.svg');
                }
            }
        }
    }
}
