.retirement-simulator {
    &__header {
        background-color: $gray--pale;
        padding: 80px 0;

        .title {

        }
    }

    &__journey {

    }

    &__result {
        margin: 80px 0;
    }
}
