.tonmacron {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-position: center;

    @media (max-width: $mobile) {
        background-color: white;
        background-position: 0 0;
        background-size: 100%;
    }

    &__header {
        &--outer {
            background-position: center 62%;
            background-repeat: no-repeat;
            background-size: cover;
            @include gradient-container;
            background-color: $filter--gray;
            background-blend-mode: multiply;

            a.text--logo:hover {
                color: $blue;
            }
        }

        &--inner {
            padding: 20px 0 80px;
        }

        > * {
            position: relative;
        }
    }

    &__steps {
        @include steps;
        width: 360px;
    }

    &__content {
        > div {
            @media (max-width: $tablet) {
                width: 100%;
                margin-bottom: 40px;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
            padding: 15px 0 0 0;

            > div:first-child {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__banner {
        background-color: $dark;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &--form-right {
            text-align: right;
        }

        &--form-left {
            text-align: left;
        }

        &__form-container {
            margin: 0 0 0 75px;
            text-align: left;
            box-sizing: border-box;
            min-width: 480px;
            max-width: 650px;

            @media (max-width: $tablet) {
                margin: 0 auto;
                width: 100% !important;
            }

            @media (max-width: $mobile) {
                margin: 0;
                border-left: 0;
                border-right: 0;
                padding: 30px 10px;
                min-width: 0;
            }
        }

        &__form {
            background-color: $gray--lighter;
            border: 1px solid $gray--light;
            padding: 30px;

            h4 {
                font-family: $font-gillsans;
                font-weight: normal;
                font-size: 24px;
                line-height: 1.2;
                letter-spacing: 0.3px;
                text-align: center;
                margin: 0 0 20px 0;
            }

            label {
                font-weight: bold;
            }

            &--large {
                min-width: 650px;
                max-width: 650px;

                @media (max-width: $tablet) {
                    min-width: 0;
                }
            }
        }
    }

    &__title {
        font-family: $font-gillsans;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.3px;
        margin: 0 0 20px 0;
    }

    &__choice {
        margin: 0 0 15px 15px;

        .form__checkbox label:before {
            margin-top: -3px;
        }

        &__day {
            color: $gray--dark;
            margin: -5px 0 0 31px;
        }
    }
}
