{% extends 'referent/_layout.html.twig' %}

{% import 'referent/organizational_chart_macros.html.twig' as oc %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block referent_content %}
    <h3>Votre équipe départementale</h3>
    <div>
        Remplissez l’organigramme de votre équipe départementale, afin de faciliter les échanges et la coordination
        avec les équipes du QG.<br>Pour donner un accès à l’onglet Adhérents, sauvegardez à nouveau le formulaire de votre
        membre d’équipe avec son e-mail adhérent.
    </div>
    <hr>
    {{ oc.orga_chart_row(organization_chart_items, referent, true) }}
{% endblock %}
