{% extends 'referent/_layout.html.twig' %}

{% import 'referent/organizational_chart_macros.html.twig' as oc %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block referent_content %}
    <h3 class="b__nudge--bottom">Votre équipe départementale</h3>
    <div class="tips-information b__nudge--bottom-larger">
        Remplissez l’organigramme de votre équipe départementale, afin de faciliter les échanges et la coordination
        par les équipes du siège.<br>Pour donner un accès à l’onglet <i>Adhérents</i>, sauvegardez à nouveau le formulaire de votre
        membre d’équipe avec son e-mail adhérent.
    </div>
    {{ oc.orga_chart_row(organization_chart_items, referent, true) }}
{% endblock %}
