<p class="text-center">
    Vous préférez adhérer par voie postale ?<br/>
    Télécharger le formulaire d’adhésion papier !
</p>

<div class="flex justify-center items-center">
    <twig:Molecules:ReButton
        tag="a"
        href="https://storage.googleapis.com/parti-renaissance.fr/Renaissance-Bulletin-adhesion.pdf"
        target="_blank"
        color="not-fill"
        value="Télécharger"
        class="!w-auto"
        icon="download"
    />
</div>
