{% for label, messages in app.flashes(['error', 'info', 'success']) %}
    {% if messages|length %}
        {% for message in messages %}
            <div class="{{ wrapper_class ?? '' }}">
                <twig:ReParagraphStatus status="{{ label }}" icon slim="{{ slim is defined and slim ? '1' : '0' }}">
                    {{ message|trans|raw }}
                </twig:ReParagraphStatus>
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
