<div class="flex mt-4 justify-between">
    <a href="{{ path(previous_route_name) }}" class="button button-blue">
        {{ previous_route_label|default('Étape précédente') }}
    </a>

    <button type="submit" class="button button-green">
        {{ next_button_label|default('Étape suivante') }}
    </button>
</div>
