<header class="sticky top-0 border-b border-b-white/10 bg-light-blue z-10 px-4 py-5 md:px-7 md:py-6">
    <a href="{{ path('app_renaissance_homepage') }}"><img src="{{ asset('/images/renaissance/logo.svg') }}" alt="logo"/></a>
</header>
