<header class="sticky top-0 z-10 {{ theme_bg|default('border-b border-b-white/10 bg-light-blue') }}">
    <div class="max-w-8xl mx-auto py-5 px-4 md:px-6 md:py-6">
        <a href="{{ path('renaissance_site') }}">
            <img src="{{ asset('/images/renaissance/logo.svg') }}" alt="logo"/>
        </a>
    </div>
</header>
