<header class="sticky top-0 border-b border-b-white/10 bg-light-blue z-10 px-3.75 py-4.75 md:px-7.5 md:py-6.25">
    <a href="{{ path('app_renaissance_homepage') }}"><img src="{{ asset('/images/renaissance/logo.svg') }}" alt="logo"/></a>
</header>
