<div class="flex bg-dark-blue justify-center py-15">
    <a href="{{ path('app_renaissance_homepage') }}" class="h-9">
        <img
            src="{{ asset('/images/renaissance/logo.svg') }}"
            class="h-full"
            alt="logo"
        />
    </a>
</div>
<div class="flex flex-col md:flex-row bg-dark-blue items-center md:justify-center gap-x-7.5 pb-12.5 md:py-6.25 text-white font-normal text-sm">
    <a href="#">
        Mentions légales & CGU
    </a>
    <a href="#">
        Politique de confidentialité
    </a>
    <a href="#">
        Contactez-nous
    </a>
    <a href="#">
        Données personnelles
    </a>
</div>
