<div class="flex bg-dark-blue justify-center py-15">
    <a href="{{ path('renaissance_site') }}" class="h-9">
        <img
            src="{{ asset('/images/renaissance/logo.svg') }}"
            class="h-full"
            alt="logo"
        />
    </a>
</div>
<div class="flex flex-col md:flex-row bg-dark-blue items-center md:justify-center gap-x-7 pb-12 md:py-6 text-white text-sm">
    <a href="https://contact.parti-renaissance.fr">
        Contactez-nous
    </a>
</div>
