<a href="https://x.com/renaissance" target="_blank">
    <img src="{{ asset('images/icons/socials/x.svg') }}" alt="x">
</a>
<a href="https://www.instagram.com/renaissance" target="_blank">
    <img src="{{ asset('images/icons/socials/instagram.svg') }}" alt="Instagram">
</a>
<a href="https://www.facebook.com/RENAISSANCE" target="_blank">
    <img src="{{ asset('images/icons/socials/facebook.svg') }}" alt="Facebook">
</a>
