{% extends 'base_renaissance.html.twig' %}

{% block title 'Statut du paiement' %}

{% block content %}
<twig:ReStandaloneLayout class="re_new_ui ">
    <twig:Atoms:ReCard class="max-w-[500px] items-center">
        {% if result_code == '00000' %}
            {% include 'renaissance/payment/status/_success.html.twig' %}
        {% else %}
            {% include 'renaissance/payment/status/_error.html.twig' %}
        {% endif %}

        {% if retry_url %}
            <twig:Molecules:ReButton
                class="w-full"
                tag="a"
                href="{{ retry_url }}"
                value="Retourner vers la page de paiement"
            />

            <hr class="w-full"/>

            {% include 'renaissance/partials/adhesion_paper.html.twig' %}

            <hr class="w-full"/>

            <div>{% include 'renaissance/partials/contact_info.html.twig' with { adhesion: true } %}</div>
        {% endif %}
    </twig:Atoms:ReCard>
</twig:ReStandaloneLayout>
{% endblock %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(async function() {
            {% if result_code == '00000' %}
                await Main.runPaymentStatusPage('{{ path('app_payment_check', { uuid: uuid }) }}');
            {% endif %}
        });
    </script>
{% endblock %}
