{% extends 'base.html.twig' %}

{% set membership = app.user.territorialCouncilMembership %}
{% set territorial_council = membership.territorialCouncil %}
{% set candidacy = territorial_council.currentElection ? membership.candidacyForElection(territorial_council.currentElection) : null %}

{% set able_to_candidate = is_granted('ABLE_TO_BECOME_TERRITORIAL_COUNCIL_CANDIDATE', app.user) %}

{% block content %}
    <main class="territorial-council">
        {% block council_header %}
            {% include 'territorial_council/partials/_header.html.twig' %}
        {% endblock %}

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            {% block territorial_council_content %}{% endblock %}
        </div>
    </main>
{% endblock %}
