{% extends 'territorial_council/_layout.html.twig' %}

{% block territorial_council_content %}
    <div class="territorial-council__main l__wrapper--main l__wrapper--main-left">

        {% if territorial_council.currentElection %}
            {% include 'territorial_council/partials/_election_box.html.twig' %}

            <div id="modal-wrapper"></div>
        {% endif %}

        {{ include('territorial_council/partials/_nav.html.twig') }}

        {% block territorial_council_sub_content %}{% endblock %}
    </div>

    {{ include('territorial_council/partials/_sidebar.html.twig') }}
{% endblock %}
