{% extends 'territorial_council/_layout.html.twig' %}

{% block territorial_council_content %}
    <div class="territorial-council__main l__wrapper--main l__wrapper--main-left">

        {% set election = territorial_council.currentElection %}
        {% if election %}
            {% include 'territorial_council/partials/_election_box.html.twig' %}

            <div id="modal-wrapper"></div>

            {% if election.electionPoll %}
                {% include 'territorial_council/partials/_election_poll.html.twig' %}
            {% endif %}
        {% endif %}

        {{ include('territorial_council/partials/_nav.html.twig') }}

        {% block territorial_council_sub_content %}{% endblock %}
    </div>

    {{ include('territorial_council/partials/_sidebar.html.twig') }}
{% endblock %}
