<nav class="tabs-nav border-on b__nudge--bottom-larger">
    <ul>
        <li class="{{ is_active_route(app.request, 'app_territorial_council_index') ? 'active' }}">
            <a href="{{ path('app_territorial_council_index') }}" class="tabs-nav__item">Membres</a>
        </li>
    </ul>
</nav>
