<aside class="territorial-council__aside l__wrapper--aside">
    {% set president = territorial_council.memberships.president %}
    {% if president %}
        {% set president = president.adherent %}

        <div id="territorial-council-referent" class="territorial-council__aside--section">
            <h5>Président du Conseil territorial</h5>

            <div class="territorial-council__host l__row l__row--top text--body b__nudge--bottom">
                {% include 'territorial_council/_member_identity_box.html.twig' with {
                    initials: president.initials,
                    full_name: president.fullName,
                    label: 'Référent(e)'
                } %}

                <a href="{{ path('app_adherent_contact', {uuid: president.uuid, from: 'territorial_council', id: territorial_council.uuid.toString}) }}" class="link--no-decor text--blue--dark text--small m-auto--left">
                    Contacter
                </a>
            </div>
        </div>
    {% endif %}

    {% if able_to_candidate %}
        <div class="territorial-council__aside--section">
            <h5>Candidature & invitations</h5>
            <p class="text--body text--dark b__nudge--bottom">
                Gérez, modifiez ou annulez votre candidature ou vos invitations.
            </p>
            <div>
                <a href="{{ path('app_territorial_council_candidature_invitation_list') }}" class="btn btn--ghosting--pink btn--no-wrap">
                    Gérer
                </a>
            </div>
        </div>
    {% endif %}
</aside>
