<aside class="territorial-council__aside l__wrapper--aside">
    {% set president = territorial_council.memberships.president %}
    {% if president %}
        <div id="territorial-council-referent" class="territorial-council__aside--section">
            <h5>Président du Conseil Territorial</h5>
            <div class="territorial-council__host l__row l__row--top text--body b__nudge--bottom">
                <div class="avatar-initials avatar--small avatar--style-02">{{ president.initials }}</div>
                <div class="b__nudge--left-medium">
                    <div class="text--body text--bold">{{ president }}</div>
                    <span class="text--normal text--gray b__nudge--bottom">Référent(e)</span>
                </div>
                <a href="{{ path('app_adherent_contact', {uuid: president.uuid, from: 'territorial_council', id: territorial_council.uuid.toString}) }}"
                class="link--no-decor text--blue--dark text--small m-auto--left">
                    Contacter
                </a>
            </div>
        </div>
    {% endif %}
</aside>
