{% extends 'territorial_council/_slim_header_layout.html.twig' %}

{% if election.getDesignationType() == constant('App\\VotingPlatform\\Designation\\DesignationTypeEnum::COPOL') %}
    {% set title = 'Choix de votre binôme' %}
{% else %}
    {% set title = 'Choix de votre trinôme' %}
{% endif %}

{% block page_title title %}

{% block territorial_council_content %}
    <div class="instance-page instance--territorial-council l__wrapper b__nudge--bottom-huge">
        <div class="l__wrapper--slim">
            <h2 class="font-roboto text--medium b__nudge--bottom-large b__nudge--top-50">
                {{ title }}
            </h2>

            <p class="text--body text--dark">
                {% if invitations|length > 1 %}
                    Nous vous confirmons que {{ invitations|map(invitation => invitation.getMembership().getFullName())|join(' et ') }} ont bien reçus votre demande de trinôme. Vous recevrez un email lorsqu’ils
                    auront répondu à votre invitation.
                {% else %}
                    Nous vous confirmons que {{ invitations|first.getMembership().getFullName() }} a bien reçue votre demande de trinôme. Vous recevrez un email lorsqu’elle
                    aura répondu à votre invitation.
                {% endif %}

                <br/><br/>

                Vous avez changé d'avis ? Vous pouvez à tout moment modifier vos demandes en vous rendant sur la page de votre
                Conseil territorial.
            </p>
            <div>
                <a href="{{ path('app_territorial_council_index') }}" class="btn btn--blue btn--large-and-full b__nudge--top-50">
                    Terminer
                </a>
            </div>
        </div>
    </div>
{% endblock %}
