{% extends 'territorial_council/_layout.html.twig' %}

{% block territorial_council_content %}
    <div class="territorial-council__main l__wrapper--main l__wrapper--main-left">

        {% if territorial_council.currentElection %}
            {% include 'territorial_council/_election_box.html.twig' %}

            <div id="modal-wrapper"></div>
        {% endif %}

        {{ include('territorial_council/_nav.html.twig') }}

        <section class="territorial-council__members">
            <h2 class="b__nudge--bottom-larger">Les membres du conseil territorial</h2>

            <div>
                {% for membership in territorial_council.memberships %}
                    {% set adherent = membership.adherent %}

                    <div class="territorial-council__member">
                        {% include 'territorial_council/_member_identity_box.html.twig' with {
                            initials: adherent.initials,
                            full_name: adherent.fullName
                        } %}

                        <ul class="roles">
                            {% for quality in membership.qualities %}
                                <li class="role text--body">{{ ('territorial_council.membership.quality.' ~ quality.name)|trans }} <span class="text--gray">- {{ quality.zone }}</span></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {{ include('territorial_council/_sidebar.html.twig') }}
{% endblock %}
