{% extends 'territorial_council/_main_layout.html.twig' %}

{% block sub_content %}
    <section class="instance-page__feed-items" id="territorial-council-feed-items">
        {% include 'territorial_council/partials/_feed.html.twig' %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        Kernel.onLoad(function(di) {
            {% if feed_items is defined %}
            var page = 1;
            var moreButton = dom('#territorial-council-feed-items-more');

            moreButton && on(moreButton, 'click', function() {
                page++;
                di.get('api').getTerritorialCouncilFeed(
                    '{{ territorial_council.uuid }}',
                    page,
                    function (response) {
                        if (response instanceof XMLHttpRequest) {
                            hide(moreButton);
                            return;
                        }

                        var newPage = document.createElement('div');
                        newPage.id = 'territorial-council-feed-items-page-'+page;
                        newPage.innerHTML = response;

                        insertAfter(dom('#territorial-council-feed-items-page-'+(page-1)), newPage);
                    }
                );
            });
            {% endif %}
        });
    </script>
{% endblock %}
