.instance__elections-box {
    box-sizing: border-box;
    background-color: $white;
    box-shadow: 0 15px 30px 0 rgba(255, 77, 137, 0.15);
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    h2 {
        color: $pink;
        max-width: 500px;
    }

    hr {
        border: none;
        width: 100%;
        height: 1px;
        display: block;
        background-color: $lines-grey;
        margin: 0;
    }

    .elections-actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: $mobile) {
            flex-direction: row;
            align-items: center;
        }

        > .btn {
            margin: 0 0 20px 0;

            @media (min-width: $mobile) {
                margin: 0 20px 0 0;
            }
        }

        .candidacy-remove {
            flex-basis: 100%;
        }
    }
    
    .elections-icon-container {
        position: relative;
        padding-left: 34px;
    }

    .elections-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        box-shadow: 0 15px 45px 0 rgba(255, 77, 137, 0.30);
    }
}

.image-cropper--container {
    img {
        max-width: 100%;
    }
}

.image-uploader {
    &--preview {
        text-align: center;

        label {
            color: $blue;
            font-size: 16px;
            cursor: pointer;

            &:hover {
                color: $blue--light;
            }
        }
    }
}

.preview-image--container {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    font-size: 24px;
    background-color: $gray--lighter;
    font-weight: bold;
    color: $blue;
    font-style: italic;
    text-align: center;
}
