.voting-platform {
    background-color: $gray--lighter;
    min-height: calc(100vh - 100px);

    &__header {
        width: 100%;
        background-color: $white;
        height: 100px;
    }

    &__content {
        margin: 140px 0;

        h1 {
            line-height: normal;
            max-width: 650px;
        }
    }

    .vote-tabs--container {
        margin-top: 60px;

        .vote-tab--1,
        .vote-tab--2 {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .candidate__box {

        position: relative;
        border: 1px solid $lines-grey;
        background-color: $white;
        border-radius: 3px;
        margin: 24px 0;
        padding: 30px;

        // INPUT & LABEL VOTE CARD STYLE
        input[type='radio'] {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + label {
                box-shadow: 0 0 0 5px rgba(29, 95, 209, 0.1);
                border: solid 1px $blue--dark;
            }

            &:checked + label:before {
                box-sizing: border-box;
                border: 8px solid $blue--dark;
                background: $white;
                content: '';
            }

            &:disabled + label {
                cursor: not-allowed;

                &:before {
                    background-color: $pale-grey;

                    &:hover {
                        border-color: $lines-grey;
                    }
                }
            }
        }

        label {
            display: inline-block;
            cursor: pointer;
            position: absolute;
            left: 0;
            right : 0;
            top: 0;
            bottom: 0;
            margin: 0;
            border-radius: 3px;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            border: solid 1px transparent;

            &:hover {
                border: solid 1px $blue--dark;
            }

            &:before {
                box-sizing: border-box;
                content: ' ';
                width: 22px;
                height: 22px;
                min-width: 22px;
                min-height: 22px;
                margin-right: 15px;
                background: $white;
                border: 2px solid $lines-grey;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: calc(50% - 11px);
                right: 8%;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                border-radius: 50px;
            }
        }

        .box__content {
            position: relative;

            .candidate-name {
                font-weight: normal;
            }

            .candidate-photo {
                overflow: hidden;

                img {
                    height: 100%;
                }
            }

            .candidate-biography {
                position: relative;
                z-index: 5;
            }
        }
    }

    .modal-content {
        position: absolute;
        border-radius: 0;
        margin: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
    }
}
