.voting-platform__results {
    .candidate-tabs--container {
        .candidate-tab .tab--container {
            display: flex;
            flex-direction: column;

            @media (min-width: $tablet) {
                flex-direction: row;
            }

            .candidates-block {
                flex-basis: 100%;
                margin-bottom: 24px;

                @media (min-width: $tablet) {
                    margin-right: 40px;
                }
            }

            .election {
                &__aside {
                    flex: 0 0 100%;

                    @media (min-width: $tablet) {
                        flex: 0 0 300px;
                    }
                }

                &__participated {
                    background: $pink;
                    color: $white;
                    border-radius: 3px;
                    margin-bottom: 24px;

                    p {
                        margin: 0;
                    }
                }

                &__stats {
                    background-color: $white;
                    border-radius: 3px;

                    .el {
                        font-family: $font-roboto;
                        margin: 20px 0;

                        .title {
                            font-size: 16px;
                            color: $neutral-grey;
                            margin-bottom: 10px;
                        }

                        .value {
                            font-size: 28px;
                            color: $black;
                            font-weight: bold;
                        }
                    }
                }

                &__ballots-detail {
                    width: 100%;
                    max-width: 676px;

                    .table--container {
                        background: $white;
                        padding: 40px;

                        table {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .progress-bar {
        &__gauge {
            flex-basis: 100%;
            height: 12px;
            border-radius: 6px;
            background: $gray--lighter;

            .slider {
                height: 100%;
                border-radius: 6px;
                background: $blue;
            }
        }

        &__value {
            flex: 0 0 54px;
            font-size: 18px;
            color: $black;
            font-weight: bold;
        }
    }

    .elected-tag {
        display: inline-block;
        padding: 5px;
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
    }
}
