.voting-platform__results {
    .candidate-tabs--container {
        .candidate-tab .tab--container {
            display: flex;
            flex-direction: column;

            @media (min-width: $tablet) {
                flex-direction: row;
            }

            .candidates-block {
                flex-basis: 100%;
                margin-bottom: 24px;

                @media (min-width: $tablet) {
                    margin-right: 40px;
                }

                .majority-vote {
                    &--candidates-head {
                        display: flex;
                        align-items: baseline;
                        background-color: $white;
                        border-radius: 3px;
                        padding: 16px 24px;
                        margin-bottom: 24px;

                        .el {
                            flex: 1;
                        }

                        .el-1 {
                            @media (min-width: 1180px) {
                                flex: 0 0 300px;
                            }
                        }
                    }

                    &--candidates-container {
                        .candidate__box {
                            display: flex;
                            flex-direction: column;
                            min-height: 148px;
                            box-sizing: border-box;

                            @media (min-width: 1180px) {
                                flex-direction: row;
                                align-items: center;
                            }

                            .candidate-names {
                                margin-bottom: 20px;

                                @media (min-width: 1180px) {
                                    flex: 0 0 300px;
                                    margin: 0;
                                }
                            }

                            &.elected .candidate-names {
                                font-weight: bold;
                            }
                        }

                        .majority-vote {
                            &__detail {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                flex: auto;
                                width: 100%;

                                .candidate-mention {
                                    align-self: center;

                                    @media (min-width: 1180px) {
                                        align-self: flex-start;
                                    }

                                    &.mention-data {
                                        background: none;
                                        padding: 0;
                                        margin-right: 12px;
                                        font-weight: 400;
                                    }
                                }
                            }

                            &__progress {
                                display: none;

                                &-container {
                                    position: relative;

                                    span.half {
                                        position: absolute;
                                        display: block;
                                        width: 2px;
                                        top: 0;
                                        bottom: 0;
                                        background-color: $black;
                                        left: 50%;

                                        &:before {
                                            content: '';
                                            width: 0;
                                            height: 0;
                                            top: -5px;
                                            position: absolute;
                                            left: -2px;
                                            border-style: solid;
                                            border-width: 6px 3px 0 3px;
                                            border-color: $black transparent transparent transparent;
                                        }

                                        &:after {
                                            content: '';
                                            width: 0;
                                            height: 0;
                                            bottom: -5px;
                                            position: absolute;
                                            left: -2px;
                                            border-style: solid;
                                            border-width: 0 3px 6px 3px;
                                            border-color: transparent transparent $black transparent;
                                        }
                                    }
                                }

                                &-parts {
                                    display: flex;
                                    margin: 14px 0 8px 0;
                                    flex-wrap: wrap;

                                    .majority-vote__mention {
                                        height: 16px;

                                        &:first-child {
                                            border-radius: 50px 0 0 50px;
                                        }

                                        &:last-child {
                                            border-radius: 0 50px 50px 0;
                                        }
                                    }
                                }
                            }
                        }

                        &.majority-vote--detailed {
                            .majority-vote {
                                &__detail {
                                    .candidate-mention {
                                        align-self: center;
                                    }

                                    .align-self {
                                        align-self: center;
                                    }
                                }
                                &__progress {
                                    display: block;
                                }
                            }
                        }
                    }

                    &__mention--bg {
                        &__excellent { background-color: $excellent; }
                        &__very_good { background-color: $very-good; }
                        &__good { background-color: $good; }
                        &__fair { background-color: $fair; }
                        &__insufficient { background-color: $insufficient; }
                    }
                }
            }

            .election {
                &__aside {
                    flex: 0 0 100%;

                    @media (min-width: $tablet) {
                        flex: 0 0 300px;
                    }
                }

                &__participated {
                    background: $pink;
                    color: $white;
                    border-radius: 3px;
                    margin-bottom: 24px;

                    p {
                        margin: 0;
                    }
                }

                &__stats {
                    background-color: $white;
                    border-radius: 3px;

                    .el {
                        font-family: $font-roboto;
                        margin: 20px 0;

                        .title {
                            font-size: 16px;
                            color: $neutral-grey;
                            margin-bottom: 10px;
                        }

                        .value {
                            font-size: 28px;
                            color: $black;
                            font-weight: bold;
                        }
                    }
                }

                &__ballots-detail {
                    width: 100%;

                    .table--container {
                        background: $white;
                        padding: 40px;
                        overflow: auto;
                        box-sizing: border-box;
                        max-width: 100%;

                        table {
                            width: 100%;
                            min-width: 750px;
                        }
                    }

                    &.majority-vote {
                        background-color: $white;
                        border-radius: 3px;
                        border: 1px solid $lines-grey;

                        .ballots-detail {
                            &__container {
                                overflow-x: auto;
                                display: flex;
                                padding: 40px;
                                box-sizing: border-box;
                                width: 100%;
                            }

                            &__pool {
                                margin-right: 20px;
                            }

                            &__pool-name {
                                display: inline-block;;
                                background-color: $gray--lighter;
                                text-transform: uppercase;
                                font-size: 14px;
                                color: $black;
                                padding: 4px 0;
                                text-align: center;
                                width: 100%;
                            }

                            &__candidates {
                                display: flex;
                            }

                            &__candidates-group {
                                padding: 20px 40px 20px 20px;
                                min-width: 240px;
                                max-width: 240px;
                                box-sizing: border-box;
                                border-left: 1px solid $lines-grey;
                                border-bottom: 1px solid $lines-grey;

                                &:last-child { border-right: 1px solid $lines-grey; }

                                &.elected {
                                    min-width: 340px;
                                    max-width: 340px;

                                    & > .text--body {
                                        font-weight: bold;
                                    }
                                }
                            }

                            &__empty-space {
                                width: 130px;
                            }

                            &__row {
                                display: flex;
                            }

                            &__voter {
                                width: 130px;
                                padding-top: 20px;
                                display: flex;
                                align-items: center;
                                font-size: 14px;
                                color: $neutral-grey;
                            }

                            &__choices {
                                display: flex;
                                min-width: 240px;
                                max-width: 240px;
                                padding: 20px 40px 0 20px;
                                box-sizing: border-box;
                                border-left: 1px solid $lines-grey;

                                &:last-child { border-right: 1px solid $lines-grey; }

                                &.elected {
                                    min-width: 340px;
                                    max-width: 340px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .progress-bar {
        flex-grow: 1;

        &__gauge {
            flex-basis: 100%;
            height: 12px;
            border-radius: 6px;
            background: $gray--lighter;

            .slider {
                height: 100%;
                border-radius: 6px;
            }
        }

        &__value {
            flex: 0 0 54px;
            font-size: 18px;
            color: $black;
            font-weight: bold;
        }
    }
}

.elected-tag {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;

    &--small {
        padding: 2px;
    }
}
