.voting-platform__results {
    .candidate-tabs--container {
        .candidate-tab .tab--container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            & > div {
                &:first-child {
                    flex-grow: 2;
                }

                &:last-child {
                    flex-grow: 1;
                    margin-left: 20px;
                }
            }

            .stats-block {
                background-color: $white;
                padding: 15px;

                & > div {
                    margin-bottom: 10px;
                }
            }

            .participated-block {
                padding: 20px;
                background: $pink;
                color: $white;
            }

            .table--container {
                background: $white;
                padding: 30px;

                table {
                    width: 100%;
                }
            }
        }
    }

    .results__menu {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-bottom: 1px solid $lines-grey;

            li {
                display: inline-block;
                margin: 0 15px -1px 0;

                @media (min-width: $tablet) {
                    margin: 10px 18px -1px 0;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    font-size: 16px;
                    display: inline-block;
                    padding: 5px 0;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        color: $black;
                        @media (min-width: $tablet) {
                            border-bottom-color: $turquoise;
                        }
                    }
                }

                &:hover {
                    & .toggle-menu {
                        display: block;
                    }
                }

                &.active a {
                    color: $black;
                    font-weight: bold;
                    @media (min-width: $tablet) {
                        border-bottom-color: $turquoise;
                    }
                }
            }
        }
    }

    .progress-bar--container {
        flex-grow: 2;

        .progress-bar {
            height: 12px;
            border-radius: 6px;
            background: $gray--lighter;

            .slider {
                height: 100%;
                border-radius: 6px;
                background: #2bbaff;
            }
        }
    }
}
