.voting-platform__results {
    .candidate-tabs--container {
        .candidate-tab .tab--container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .candidates-block {
                flex-basis: 100%;
                margin-right: 24px;
            }
            .side-block {
                flex: 0 0 300px;
            }

            .stats-block {
                background-color: $white;
                padding: 15px;

                & > div {
                    margin-bottom: 10px;
                }
            }

            .participated-block {
                margin: 24px 0;
                padding: 20px;
                background: $pink;
                color: $white;
            }

            .table--container {
                background: $white;
                padding: 30px;

                table {
                    width: 100%;
                }
            }
        }
    }

    .progress-bar{
        &__gauge {
            flex-basis: 100%;
            height: 12px;
            border-radius: 6px;
            background: $gray--lighter;

            .slider {
                height: 100%;
                border-radius: 6px;
                background: $blue;
            }
        }

        &__value {
            flex: 0 0 54px;
            font-size: 18px;
            color: $black;
            font-weight: bold;
        }
    }
}
