{% extends 'jecoute/_layout.html.twig' %}

{% block jecoute_content %}
    <div class="datagrid__table__tabs">
        <div class="datagrid__pre-table b__nudge--bottom-larger">
            <h3>Actualités</h3>
            <a href="{{ path("app_jecoute_news_#{space_name}_news_create") }}" class="btn-secondary btn-secondary--blue">
                + Publier une actualité sur l'application
            </a>
        </div>
    </div>

    <div class="alert alert--tips b__nudge--bottom-60">
        Gérez ici la publication et la modification de vos actualités de campagne.
        Une fois vos actualités publiées, elles seront visibles aux adhérents de votre territoire depuis l'application Je Marche.
    </div>

    <div id="datagrid"></div>
{% endblock %}
