{% extends 'jecoute/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'id',
                        name: 'ID',
                        style: {
                            width: 25,
                        }
                    },
                    {
                        key: 'title',
                        name: 'Titre',
                    },
                    {
                        key: 'text',
                        name: 'Texte',
                    },
                    {
                        key: 'zone',
                        name: 'Zone',
                        style: {
                            'minWidth': 200,
                        },
                    },
                    {
                        key: 'published',
                        name: "Publication",
                        style: {
                            width: 70,
                        },
                    },
                    {
                        key: 'createdAt',
                        name: 'Date de création',
                    },
                    {
                        key: 'menu',
                        name: 'Action',
                        menu: true,
                    },
                ],
                [
                {%- apply spaceless %}
                    {% for data in news %}
                        {% set zone = data.zone %}
                        {% set row = {
                            id: data.id,
                            title: data.title,
                            text: data.text,
                            createdAt: data.createdAt|date('d/m/Y'),
                            zone: '<span class="adherent-dashboard-tag">' ~ ('geo_zone.' ~ zone.type)|trans ~ '</span><br>'
                                ~ "<div class=\"b__nudge--top-10\">#{zone.name} (#{zone.code})</span>",
                            published: data.published ? '<span class="status status__1">Publiée</span>' :
                                '<span class="status status__2">Non publiée</span>',
                        } %}

                        {% set menu = [
                            {
                                label: 'Éditer',
                                url: path("app_jecoute_news_#{space_name}_news_edit", {uuid: data.uuid}),
                            },
                        ] %}
                        {% if data.published %}
                            {% set menu = menu|merge([
                                {
                                    label: 'Dépublier',
                                    url: path("app_jecoute_news_#{space_name}_news_unpublish", {uuid: data.uuid}),
                                },
                            ]) %}
                        {% else %}
                            {% set menu = menu|merge([
                                {
                                    label: 'Publier',
                                    url: path("app_jecoute_news_#{space_name}_news_publish", {uuid: data.uuid}),
                                },
                            ]) %}
                        {% endif %}

                        {% set row = row|merge({
                            menu: menu,
                        }) %}

                        {{ row|json_encode|raw }},
                    {% endfor %}
                {% endapply -%}
                ]
            );
        });
    </script>
{% endblock %}

{% block jecoute_content %}
    <div class="datagrid__table__tabs">
        <div class="datagrid__pre-table b__nudge--bottom-larger">
            <h3>Actualités</h3>
            <a href="{{ path("app_jecoute_news_#{space_name}_news_create") }}" class="btn-secondary btn-secondary--blue">
                + Publier une actualité sur l'application
            </a>
        </div>
    </div>

    <div class="alert alert--tips b__nudge--bottom-60">
        Gérez ici la publication et la modification de vos actualités de campagne.
        Une fois vos actualités publiées, elles seront visibles aux adhérents de votre territoire depuis l'application Je Marche.
    </div>

    <div id="datagrid"></div>
{% endblock %}
