<table class="table">
    <tbody>
        <tr class="sonata-ba-view-container">
            <th>Numéro</th>
            <td>{{ donator.identifier }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Nom</th>
            <td>{{ donator.lastName }}</td>
        </tr>
        <tr class="sonata-ba-view-container">
            <th>Prénom</th>
            <td>{{ donator.firstName }}</td>
        </tr>
    </tbody>
</table>
