<div class="newsletter__banner l__hide--on-tablet" id="header-banner" style="display: none;">
    <div class="l__wrapper l__row l__row--h-stretch space--30-0">
        <div class="text--large text--bold text--limited-extra">
            Je m’abonne<br />
            à <span class="text--on-white">la newsletter</span> !
        </div>
        <div class="l__row l__row--wrap">
            {% include 'newsletter/render_form.html.twig' with { options: {
                input_class: 'form__field--no-border',
                button_class: 'btn btn--no-border btn--black',
                button_label: 'OK'
            } } %}

            <a href="javascript:void(0)" class="btn__icon btn__icon--dark newsletter__banner__btn" id="header-banner-close-btn">
                {{ include('components/close.html.twig') }}
            </a>
        </div>
    </div>
</div>
