{% if object.facebookProfile %}
    <a class="link--no-decor" href="{{ object.facebookProfile }}" target="_blank"><i class="fa fa-facebook"></i></a>
{% endif %}
{% if object.twitterProfile %}
    <a class="link--no-decor" href="{{ object.twitterProfile }}" target="_blank"><i class="fa fa-twitter"></i></a>
{% endif %}
{% if object.instagramProfile %}
    <a class="link--no-decor" href="{{ object.instagramProfile }}" target="_blank"><i class="fa fa-instagram"></i></a>
{% endif %}
{% if object.linkedInProfile %}
    <a class="link--no-decor" href="{{ object.linkedInProfile }}" target="_blank"><i class="fa fa-linkedin"></i></a>
{% endif %}
