{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <a href="{{ path('app_referent_municipal_volunteer_request') }}" class="back-to-list icon--with-text b__nudge--top-15 b__nudge--bottom">
        {{ include('components/caret--left.html.twig') }}
        Retour à la liste des candidats bénévoles
    </a>

    <hr />

    {{ include('application_request/municipal/_volunteer_detail.html.twig') }}
{% endblock %}
