{% extends 'referent/municipal/_edit_tags.html.twig' %}

{% block links %}
    <a href="{{ path('app_referent_municipal_volunteer_request') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
        ⟵ Retour
    </a>
{% endblock %}
