.text-editor__wrapper {
  .text-editor {
    position: relative;
    border: 1px solid $platinum;
    border-radius: 3px;
    padding: 25px;

    &--error {
      border-color: $giants-orange;
    }

    .text-editor__content {
      height: 300px;
      margin-top: 12px;
    }

    .public-DraftStyleDefault-block {
      margin: 0;
    }

    .text-editor__toolbar {
      border: 0;
      padding: 0;
    }

    .text-editor__toolbar__group:not(:last-child) {
      border-right: 1px solid $quick-silver;
      margin-right: 12px;
      padding-right: 10px;
    }

    .text-editor__toolbar__group > .rdw-option-wrapper {
      border: 0;
      height: auto;
    }
    .text-editor__toolbar__group > .rdw-option-wrapper:hover,
    .text-editor__toolbar__group > .rdw-option-active {
      box-shadow: none;
      background-color: $platinum;
    }

    .text-editor__toolbar__link-modal {
      height: initial;
      box-shadow: none;
      border-color: $columbia-blue;

      .rdw-link-modal-label,
      .rdw-link-modal-target-option {
        color: $light-black;
      }

      .rdw-link-modal-target-option {
        cursor: pointer;
        position: relative;

        input {
          margin-right: 5px;
        }

        input::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background-color: $platinum;
        }

        input:hover::after {
          background-color: #ccc;
        }

        input:checked::after {
          background-color: $caribbean-green;
          background-image: url('./img/icn_checklist-white.svg');
          background-position: center;
          background-size: 15px;
          background-repeat: no-repeat;
        }
      }

      .rdw-link-modal-input {
        border: 1px solid $platinum;
        border-radius: 3px;
        padding: 17px 8px;
        font-size: 14px;
      }

      .rdw-link-modal-buttonsection {
        display: flex;
        justify-content: space-between;
        margin: 0;
      }

      .rdw-link-modal-btn {
        @extend .button;
        width: 50%;
        margin: 0;

        &:first-child {
          @extend .button--primary;
          margin-right: 5px;
        }
        &:nth-child(2) {
          @extend .button--secondary;
          margin-left: 5px;
        }
      }
    }

    .text-editor__count {
      position: absolute;
      right: 25px;
      bottom: 25px;
      font-size: 14px;
      color: $ash-grey;
    }
  }

  .text-editor__error {
    font-size: 12px;
    color: $giants-orange;
  }
}
