.text-editor__wrapper {
  .text-editor {
    position: relative;
    border: 1px solid $platinum;
    border-radius: 3px;
    padding: 25px;

    &--error {
      border-color: $giants-orange;
    }

    .text-editor__content {
      height: 300px;
      margin-top: 12px;
    }

    .public-DraftStyleDefault-block {
      margin: 0;
    }

    .text-editor__toolbar {
      border: 0;
      padding: 0;
    }

    .text-editor__toolbar__group:not(:last-child) {
      border-right: 1px solid $quick-silver;
      margin-right: 12px;
      padding-right: 10px;
    }

    .text-editor__toolbar__group > .rdw-option-wrapper {
      border: 0;
      height: auto;
    }
    .text-editor__toolbar__group > .rdw-option-wrapper:hover,
    .text-editor__toolbar__group > .rdw-option-active {
      box-shadow: none;
      background-color: $platinum;
    }

    .text-editor__count {
      position: absolute;
      right: 25px;
      bottom: 25px;
      font-size: 14px;
      color: $ash-grey;
    }
  }

  .text-editor__error {
    font-size: 12px;
    color: $giants-orange;
  }
}
