<nav class="manager-sidebar__menu">
    <ul>
        <li class="{{ is_active_route(app.request, 'app_lre_elected_representatives_*') ? 'active' }}">
            <a href="{{ path('app_lre_elected_representatives_list') }}">Élus</a>
        </li>
    </ul>
</nav>
