{% extends 'base.html.twig' %}

{% block page_title 'Diago, le Bot En Marche !' %}
{% block canonical_url url('page_bot') %}

{% block content %}
    <main>
        <section class="content">
            <header class="space--60-0 l__wrapper--medium text--center">
                <h1 class="text--large">
                    Découvrez Diago, votre assistant <em>En Marche !</em>
                </h1>
            </header>
            <hr class="l__wrapper">
            <article class="l__wrapper--slim b__nudge--bottom-80">
                <iframe style="border: 0; width: 100%; height: 400px;" src="https://api.motion.ai/webchat/31537?sendBtn=SEND&inputBox=Type+something...&token=c68d9fdda1d82f895dcba59e9d14cf38"></iframe>
            </article>
        </section>
    </main>
{% endblock %}
