{% extends 'base.html.twig' %}

{% block page_title 'La carte En Marche !' %}
{% block canonical_url url('page_le_mouvement_la_carte') %}

{% block stylesheets %}
    <style type="text/css">
        body {
            height: 100vh;
            justify-content: flex-start;
        }
        footer {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
    <script>
        Kernel.onLoad(function() {
            App.runCommitteesMap();
        });
    </script>
{% endblock %}

{% block content %}
    <main class="content committees-map">
        <header class="l__wrapper--slim text--center b__nudge--bottom-medium">
            <h1 class="text--large">
                La carte En Marche !
            </h1>
        </header>
        <section class="committees-map__container">
             <article class="text--center">
                 <div id="map" style="height: 100%"></div>
             </article>
         </section>
    </main>
{% endblock %}
