{% extends 'base.html.twig' %}

{% block page_title 'Mentions légales' %}
{% block canonical_url url('page_mentions_legales') %}

{% block content %}
    <main>
        <section class="content">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    Mentions légales
                </h1>
            </header>

            <article class="l__wrapper--slim">
                {{ page.content|markdown }}
            </article>
        </section>
    </main>
{% endblock %}
