{% extends 'base.html.twig' %}

{% block page_title 'Mentions légales' %}
{% block canonical_url url('page_mentions_legales') %}

{% block content %}
    <main>
        <section class="content">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large b__nudge--bottom-small">
                    Mentions légales
                </h1>
            </header>

            <article class="l__wrapper--slim">
                <h3>
                    Editeur
                </h3>
                <p>
                    Ce site est édité par En Marche, association loi 1901, 94270 Kremlin-Bicêtre,
                    <a href="mailto:contact@en-marche.fr">contact@en-marche.fr</a>.
                </p>

                <h3>
                    Directeur de la publication
                </h3>
                <p>
                    Julien Tassy
                </p>

                <h3>
                    Contact presse
                </h3>
                <p>
                    01.86.95.84.23
                </p>

                <h3>
                    Hébergement
                </h3>
                <p>
                    Ce site est hébergé par :<br />
                    NBS System, 8 rue Bernard Buffet 75017 PARIS,
                    <a href="https://www.nbs-system.com/">https://www.nbs-system.com/</a><br />
                    Google Cloud Platform, 8 rue de Londres, 75009 Paris
                </p>

                <h3>
                    Donnés nominatives
                </h3>
                <p>
                    L’utilisateur est informé que, lors de sa navigation sur le site www.en-marche.fr, des données à
                    caractère personnel peuvent lui être demandées via les espaces de commentaires et d'échanges ou via
                    les formulaires à remplir notamment en cas de don ou de demande de contact.
                </p>
                <p>
                    Les informations que vous nous communiquez sont nécessaires à la gestion de nos relations. Vous
                    autorisez En Marche à utiliser vos données pour des opérations de communication politique et de
                    dons. Vos données sont exclusivement réservées à l'usage de En Marche et seront conservées pendant
                    une durée qui n'excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées
                    et traitées.
                </p>
                <p>
                    En application des articles 38 et suivants de la loi du 6 janvier 1978, vous bénéficiez des droits
                    d'accès, de rectification, de suppression et d'opposition aux informations vous concernant. Vous
                    pouvez exercer ces droits en nous écrivant à l'adresse
                    <a href="mailto:contact@en-marche.fr">contact@en-marche.fr</a>
                    ou à <span class="s1">En Marche, BP 80049 – 94801 Villejuif.</span>
                </p>

                <h3>
                    Utilisation de cookies
                </h3>
                <p>
                    Nous vous informons de la présence de cookies de session. Un cookie de session est un fichier texte
                    qui se crée sur votre ordinateur. Ce fichier texte a une durée de vie limitée et se détruit à la fin
                    de votre consultation. Aucune des données stockées de votre ordinateur ne sont inscrites dans ces
                    cookies de session. A chaque fois que vous changez de page, ce fichier texte permet au serveur de
                    vous reconnaître en toute sécurité. Sans cookie de session, vous devriez vous identifier à chaque
                    changement de page. Nous vous informons également de la présence de cookies non détruits à la fin de
                    votre consultation. Ces cookies nous permettent d'affiner l'analyse de la fréquentation de notre
                    site. Tous les résultats obtenus sont compilés et totalement anonymes. Dans tous les cas, vous avez
                    le contrôle de ces cookies. Vous avez la possibilité de les lire, de les filtrer, de les refuser et
                    de les détruire dans la configuration de votre navigateur interne comme suit :
                </p>
                <ul>
                    <li>
                        Sous Internet Explorer : Menu « Outils > Options Internet ». Cliquez sur « Confidentialité »
                        et choisissez « Bloquer tous les cookies ». Validez sur « OK »
                    </li>
                    <li>
                        Sous Firefox : Menu « Outils > Options ». Cliquez sur l'option « Vie privée » puis
                        désactivez les cookies dans la rubrique « Cookies »
                    </li>
                    <li>
                        Sous Chrome : Menu « Outils ». Cliquez sur « Effacer les données de navigation » et
                        choisissez « Supprimer les cookies et autres données de site et de plug-in ».
                        Validez sur « Effacer les données de navigation ».
                    </li>
                </ul>

                <h3>
                    Conditions générales d’utilisation du site en-marche.fr
                </h3>

                <h4>
                    ARTICLE 1 : Objet
                </h4>
                <p>
                    Les présentes « conditions générales d’utilisation » ont pour objet l’encadrement juridique
                    des modalités de mise à disposition des services du site en-marche.fr et leur utilisation par
                    « l’Utilisateur ».
                </p>
                <p>
                    Les conditions générales d’utilisation doivent être acceptées par tout Utilisateur souhaitant
                    accéder au site. Elles constituent le contrat entre le site et l’Utilisateur. L'accès au site par
                    l'Utilisateur signifie son acceptation des présentes conditions générales d'utilisation.
                </p>
                <p>
                    en-marche.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des
                    présentes conditions générales d’utilisation.
                </p>

                <h4>
                    ARTICLE 2 : Mentions légales
                </h4>
                <p>
                    Le site en-marche.fr est édité par En Marche, association loi 1901, 94270 Kremlin-Bicêtre.
                </p>
                <p>
                    Le directeur de la publication est l'association loi 1901 En Marche.
                </p>
                <p>
                    Ce site est hébergé par NBS System, 8 rue Bernard Buffet 75017 PARIS
                </p>

                <h4>
                    ARTICLE 3 : Définitions
                </h4>
                <p>
                    La présente clause a pour objet de définir les différents termes essentiels du contrat :
                </p>
                <ul>
                    <li>
                        Utilisateur : ce terme désigne toute personne qui utilise le site ou l’un des services
                        proposés par le site.
                    </li>
                </ul>
                <ul>
                    <li>
                        Contenu utilisateur : ce sont les données transmises par l’Utilisateur au sein du site.
                    </li>
                </ul>
                <ul>
                    <li>
                        Identifiant et mot de passe : c’est l’ensemble des informations nécessaires à
                        l’identification d’un Utilisateur sur le site. L’identifiant et le mot de passe permettent à
                        l’Utilisateur d’accéder à des contenus spécifiques. Le mot de passe est confidentiel.
                    </li>
                </ul>

                <h4>
                    ARTICLE 4 : accès aux services
                </h4>
                <p>
                    Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous
                    les frais supportés par l’Utilisateur pour accéder au service (matériel informatique, logiciels,
                    connexion Internet, etc.) sont à sa charge.
                </p>
                <p>
                    L'Utilisateur doit s’identifier à l’aide de son identifiant et de son mot de passe.
                </p>
                <p>
                    Le site met en oeuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses
                    services. L’obligation étant de moyens, le site ne s’engage pas à atteindre ce résultat.
                </p>
                <p>
                    Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou
                    du serveur n’engage pas la responsabilité de En Marche.
                </p>
                <p>
                    L’accès aux services du site peut à tout moment faire l’objet d’une interruption, d’une suspension,
                    d’une modification sans préavis pour une maintenance ou pour tout autre cas. L’Utilisateur s’oblige
                    à ne réclamer aucune indemnisation suite à l’interruption, à la suspension ou à la modification du
                    présent contrat.
                </p>
                <p>
                    L’Utilisateur a la possibilité de contacter le site par messagerie électronique à l'adresse
                    contact@en-marche.fr
                </p>

                <h4>
                    ARTICLE 5 : Inscription / Désinscription
                </h4>
                <p>
                    <strong>5.1 Inscription</strong>
                </p>
                <p>
                    L'accès à certains services est conditionné par l'inscription de l'Utilisateur.
                </p>
                <p>
                    Lors de son inscription, l'Utilisateur s'engage à fournir des informations exactes, sincères et à
                    jour sur sa personne et son état civil. L'Utilisateur devra en outre procéder à une vérification
                    régulière des données le concernant afin d'en conserver l'exactitude.
                </p>
                <p>
                    L'Utilisateur doit ainsi fournir impérativement une adresse e-mail valide, sur laquelle le site lui
                    adressera une confirmation de son inscription à ses services. Une adresse de messagerie électronique
                    ne peut être utilisée plusieurs fois pour s'inscrire aux services.
                </p>
                <p>
                    Toute communication réalisée par en-marche.fr et ses partenaires est en conséquence réputée avoir été
                    réceptionnée et lue par l'Utilisateur. Ce dernier s'engage donc à consulter régulièrement les
                    messages reçus sur cette adresse e-mail et à répondre dans un délai raisonnable si cela est
                    nécessaire.
                </p>
                <p>
                    Une seule inscription aux services du site est admise par personne physique.
                </p>
                <p>
                    Le mot de passe est modifiable en ligne par l'Utilisateur dans son Espace personnel. Le mot de passe
                    est personnel et confidentiel, l'Utilisateur s'engage ainsi à ne pas le communiquer à des tiers.
                </p>
                <p>
                    En-marche.fr se réserve en tout état de cause la possibilité de refuser une demande d'inscription aux
                    services en cas de non-respect par l'Utilisateur des dispositions des présentes Conditions Générales
                    d'Utilisation.
                </p>
                <p>
                    <strong>5.2 Désinscription</strong>
                </p>
                <p>
                    L'Utilisateur régulièrement inscrit pourra à tout moment demander sa désinscription en adressant un
                    message à contact@en-marche.fr ou en écrivant par voie postale à l'association En Marche.
                </p>

                <h4>
                    ARTICLE 6 : Propriété intellectuelle
                </h4>
                <p>
                    Les marques, logos, signes et tout autre contenu du site font l’objet d’une protection par le Code de
                    la propriété intellectuelle et plus particulièrement par le droit d’auteur.
                </p>
                <p>
                    L’Utilisateur sollicite l’autorisation préalable du site pour toute reproduction, publication, copie
                    des différents contenus.
                </p>
                <p>
                    L’Utilisateur s’engage à une utilisation des contenus du site dans un cadre strictement privé. Une
                    utilisation des contenus à des fins commerciales est strictement interdite.
                </p>
                <p>
                    Tout contenu mis en ligne par l’Utilisateur est de sa seule responsabilité. L’Utilisateur s’engage à
                    ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout
                    recours en justice engagé par un tiers lésé contre le site sera pris en charge par
                    l’Utilisateur.
                </p>
                <p>
                    Le contenu de l’Utilisateur peut être à tout moment et pour n’importe quelle raison supprimé ou
                    modifié par le site. L’Utilisateur ne reçoit aucune justification et notification préalablement à la
                    suppression ou à la modification du contenu Utilisateur.
                </p>

                <h4>
                    ARTICLE 7 : Données personnelles
                </h4>
                <p>
                    L'utilisateur est informé que, lors de sa navigation sur le site www.en-marche.fr, des données à
                    caractère personnel peuvent lui être demandées via les espaces de commentaires et d'échanges ou via
                    les formulaires à remplir notamment en cas de don ou de demande de contact.
                </p>
                <p>
                    Conformément aux mentions légales précisées sur en-marche.fr, l'Utilisateur autorise En Marche à
                    utiliser les informations que l'Utilisateur lui communique, pour des opérations de communication
                    politique et de dons. Les données de l'Utilisateur sont exclusivement réservées à l'usage de En
                    Marche et seront conservées pendant une durée qui n'excède pas la durée nécessaire aux finalités
                    pour lesquelles elles sont collectées et traitées.
                </p>
                <p>
                    Les informations de l'Utilisateur sont exclusivement réservées à l’usage de En Marche et ne pourront
                    être communiquées qu’à des co-contractants qui, en leur qualité de sous-traitants de En Marche,
                    n’agiront que sur les instructions de cette dernière et seront soumis à une stricte obligation de
                    confidentialité.
                </p>
                <p>
                    En application des articles 38 et suivants de la loi du 6 janvier 1978, l'Utilisateur bénéficie des
                    droits d'accès, de rectification, de suppression et d'opposition aux informations le concernant.
                    L'Utilisateur peut exercer ces droits en nous écrivant à l'adresse contact@en-marche.fr ou par voie
                    postable à l'attention de En Marche.
                </p>
                <p>
                    Le site assure à l’Utilisateur une collecte et un traitement d’informations personnelles dans le
                    respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique,
                    aux fichiers et aux libertés.
                </p>

                <p>
                    Le site en-marche.fr contient la présence de cookies de session. Un cookie de session est un fichier
                    texte qui se crée sur l'ordinateur de l'Utilisateur. Ce fichier texte a une durée de vie limitée et
                    se détruit à la fin de la consultation par l'Utilisateur. Aucune des données stockées de
                    l'ordinateur de l'Utilisateur ne sont inscrites dans ces cookies de session. A chaque fois que
                    l'Utilisateur change de page, ce fichier texte permet au serveur de reconnaître l'Utilisateur en
                    toute sécurité. Sans cookie de session, l'Utilisateur devrait s'identifier à chaque changement de
                    page. Des cookies non détruits restent présents à la fin de la consultation par l'Utilisateur. Ces
                    cookies permettent d'affiner l'analyse de la fréquentation du site en-marche.fr. Tous les résultats
                    obtenus sont compilés et totalement anonymes. Dans tous les cas, l'Utilisateur a le contrôle de ces
                    cookies. L'Utilisateur a la possibilité de les lire, de les filtrer, de les refuser et de les
                    détruire dans la configuration de son navigateur internet.
                </p>

                <h4>
                    ARTICLE 8 : Responsabilité et force majeure
                </h4>

                <p>
                    Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se
                    réserve la faculté d’une non-garantie de la fiabilité des sources. Les informations données sur le
                    site le sont à titre purement informatif. Ainsi, l’Utilisateur assume seul l’entière responsabilité
                    de l’utilisation des informations et contenus du présent site.
                </p>
                <p>
                    L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle
                    que soit sa forme, est interdite.
                </p>
                <p>
                    L’Utilisateur assume les risques liés à l’utilisation de son identifiant et mot de passe. Le site
                    décline toute responsabilité.
                </p>
                <p>
                    Tout usage du service par l’Utilisateur ayant directement ou indirectement pour conséquence des
                    dommages doit faire l’objet d’une indemnisation au profit du site.
                </p>
                <p>
                    Une garantie optimale de la sécurité et de la confidentialité des données transmises n’est pas
                    assurée par le site. Toutefois, le site s’engage à mettre en oeuvre tous les moyens nécessaires afin
                    de garantir au mieux la sécurité et la confidentialité des données.
                </p>
                <p>
                    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et
                    insurmontable d’un tiers.
                </p>

                <h4>
                    ARTICLE 9 : Liens hypertextes
                </h4>
                <p>
                    Des liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens
                    n’engagent en rien la responsabilité de En Marche qui n’a pas le contrôle de ces liens.
                </p>
                <p>
                    L’Utilisateur s’interdit donc à engager la responsabilité du site concernant le contenu et les
                    ressources relatives à ces liens hypertextes sortants.
                </p>

                <h4>
                    ARTICLE 10 : Évolution du contrat
                </h4>
                <p>
                    Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent
                    contrat.
                </p>

                <h4>
                    ARTICLE 11 : Durée
                </h4>
                <p>
                    La durée du présent contrat est indéterminée. Le contrat produit ses effets à l’égard de
                    l’Utilisateur à compter de l’utilisation du service.
                </p>

                <h4>
                    ARTICLE 12 : Publication par l'Utilisateur
                </h4>
                <p>
                    Dans ses éventuelles publications sur le site, l'Utilisateur s'engage à respecter les règles de la
                    Netiquette et les règles de droit en vigueur.
                </p>
                <p>
                    Le site se réserve le droit de refuser leur mise en ligne, sans avoir à s'en justifier auprès de
                    l'Utilisateur.
                </p>
                <p>
                    L'Utilisateur reste titulaire de l'intégralité de ses droits de propriété intellectuelle. Mais en
                    publiant une publication sur le site, il cède à la société éditrice le droit non exclusif et gratuit
                    de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou
                    par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée
                    de la propriété intellectuelle. L'utilisateur cède notamment le droit d’utiliser sa publication sur
                    internet et sur les réseaux de téléphonie mobile.
                </p>

                <h4>
                    ARTICLE 13 : Droit applicable et juridiction compétente
                </h4>
                <p>
                    La législation française s’applique au présent contrat. En cas d’absence de résolution amiable d’un
                    litige né entre les parties, seuls les tribunaux de la Cour d'Appel de Paris sont compétents.
                </p>
            </article>
        </section>
    </main>
{% endblock %}
