{% extends 'facebook/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runFacebookPictureChooser({{ urls|json_encode|raw }});
        });
    </script>
{% endblock %}

{% block content %}
    <main class="facebook text--center b__nudge--bottom-huge" id="facebook-chooser" style="min-height: 380px;"></main>
{% endblock %}
