{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.createdBy %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('admin_app_administrator_edit', { id: object.createdBy.id }) }}">
                {{ object.createdBy }}
            </a>
        {% else %}
            {{ object.createdBy }}
        {% endif %}
    {% endif %}
{% endblock %}
