{% extends 'referent/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'name',
                        name: 'Nom',
                        style: {
                            width: 250
                        }
                    },
                    {
                        key: 'beginAt',
                        name: 'Date',
                        style: {
                            width: 150
                        }
                    },
                    {
                        key: 'postalCode',
                        name: 'Code postal',
                        style: {
                            width: 100
                        }
                    },
                    {
                        key: 'organizer',
                        name: 'Organisateur',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 150
                        }
                    },
                    {
                        key: 'invitationsCount',
                        name: 'Invitations',
                        style: {
                            width: 25
                        }
                    },
                    {
                        key: 'edit',
                        name: "Editer",
                        link: true,
                        style: {
                            width: 70
                        }
                    },
                    {
                        key: 'delete',
                        name: "Supprimer",
                        link: true,
                        style: {
                            width: 70
                        }
                    },
                ],
                {{ managedInstitutionalEventsJson|raw }}
            );
        });
    </script>
{% endblock %}

{% block referent_content %}
    <div class="tips-information">Les réunions privées ne font pas l'objet d'une page dédiée sur le site d'En Marche et ne sont connues que des personnes que vous y invitez. Cette option a été pensée pour vous permettre d'organiser des événements en comité restreint tels que les réunions d'équipe départementale, les réunions avec les animateurs locaux ou les comités politiques.</div>
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Réunions privées</h3>
        <a href="{{ path('app_referent_institutional_events_create') }}" class="btn-type-table">
            + Créer
        </a>
    </div>

    <div id="datagrid"></div>
{% endblock %}
