<div class="ballot-paper-container">
    {% for pool in pools %}
        {% set vote_choice = vote_command.getChoiceForPool(pool) %}

        {% include 'voting_platform/confirmation/candidate_box/' ~ (designation.isExecutiveOfficeType ? 'burex' : 'default') ~ '_content.html.twig' %}
    {% endfor %}
</div>
