<div class="ballot-paper-container">
    {% for pool in pools %}
        {% set vote_choice = vote_command.getChoiceForPool(pool) %}

        {% if designation.isExecutiveOfficeType() %}
            {% include 'voting_platform/confirmation/candidate_box/burex_content.html.twig' %}
        {% elseif designation.isPollType() %}
            {% include 'voting_platform/confirmation/candidate_box/poll_content.html.twig' %}
        {% elseif designation.isConsultationType() %}
            {% include 'voting_platform/confirmation/candidate_box/consultation_content.html.twig' %}
        {% elseif designation.isTerritorialAssemblyType() or designation.isLocalElectionTypes() or designation.isCommitteeSupervisorType() %}
            {% include 'voting_platform/confirmation/candidate_box/local_election_content.html.twig' %}
        {% else %}
            {% include 'voting_platform/confirmation/candidate_box/default_content.html.twig' %}
        {% endif %}
    {% endfor %}
</div>
