.citizen {
    &__layout {
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__header {
        flex-basis: 100%;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000;

        @media (max-width: $tablet) {
            position: static;
        }
    }

    &__main {
        background-color: $gray--white;
        flex: 1;
    }

    &__sidebar {
        position: sticky;
        top: 0;
        flex-basis: 100%;

        z-index: 100;

        height: 150px;
        background-color: white;

        @media (max-width: $tablet) {
            position: sticky;
            width: 100%;
            min-height: 70px;
            height: auto;
        }

        ul {
            font-family: $font-gillsans;
            @include text--medium-small--bold;
            height: 100%;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid $gray--white;

            @media (max-width: $tablet) {
                @include text--default;
                font-weight: 600;
                flex-direction: row;
                min-height: 70px;
                height: auto;
            }

            a {
                border-width: 8px;
                border-style: solid;
                display: flex;
                align-items: center;
                padding: 12px 52px 12px 22px;

                &:hover {
                    color: black;
                }

                span {
                    position: relative;
                    z-index: 1;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 8px;
                        top: 16px;
                        left: -3px;
                        z-index: -1;
                    }
                }

                @media (max-width: $tablet) {
                    border-width: 4px;
                    padding: 10px;
                    font-size: 12px;
                    line-height: 1.25;

                    & span:after {
                        height: 5px;
                        top: 9px;
                    }
                }

                &.citizen-projects {
                    border-color: rgba($yellow--europe, 0);
                    width: 100%;

                    & span:after {
                        width: 99px;
                        background-color: rgba($yellow--europe, 0);
                    }
                    &.is-active,
                    &:hover {
                        border-color: $yellow--europe;
                        width: 100%;

                        & span:after {
                            background-color: $yellow--europe;
                        }
                    }

                    @media (max-width: $tablet) {
                        & span:after {
                            width: 60px;
                        }
                    }
                }

                &.decouvrir-citizen-projects {
                    border-color: rgba($green-citizen, 0);

                    & span:after {
                        width: 105px;
                        background-color: rgba($green-citizen, 0);
                    }

                    @media (max-width: $tablet) {
                        & span:after {
                            width: 65px;
                        }
                    }

                    &.is-active,
                    &:hover {
                        border-color: $green-citizen;
                        width: 100%;

                        & span:after {
                            background-color: $green-citizen;
                        }
                    }
                }

                &.explorer-les-projects {
                    border-color: rgba($pink, 0);
                    width: 100%;
                    & span:after {
                        width: 94px;
                        background-color: rgba($pink, 0);
                    }

                    @media (max-width: $tablet) {
                        & span:after {
                            width: 58px;
                        }
                    }
                    &.is-active {
                        width: 100%;
                    }
                    &.is-active,
                    &:hover {
                        border-color: $pink;
                        width: 100%;

                        & span:after {
                            background-color: $pink;
                        }
                    }
                }
            }

            li {
                display: flex;
                flex: 1;
                text-align: left;
                border: 1px solid $gray--lighter;

                @media (max-width: $tablet) {
                }
            }
            .is--active {
                border: 10px solid $yellow--europe;

                @media (max-width: $tablet) {
                    border: 0;
                    border-right: 1px solid $gray--lighter;
                }
            }
        }
    }

    &__wrapper {
        padding: 70px;

        @media (max-width: $tablet) {
            margin-top: 20px;
            padding: 0;
        }

        h1 {
            text-align: left;
            @include text--larger;
            margin-bottom: 40px;
        }
        h3 {
            @include text--medium-large;
            margin: 70px 0;
        }
    }

    &__blurb {
        font-size: 20px;
        font-family: $font-roboto;
        font-weight: 200;
        color: $gray-dark;
        line-height: 1.43;
        letter-spacing: 0.2px;

        margin: 0 0 40px;
        text-align: left;

        @media (max-width: $tablet) {
            margin-bottom: 36px;
        }
    }

    &__more-link {
        margin-bottom: 48px;

        a {
            color: $dark;
            border-bottom: 1px solid $yellow--europe;
            transition: all 0.5s;
            font-size: 23px;
            letter-spacing: 0.3px;
            line-height: 1.5;
            transition: all 125ms ease;

            @media (max-width: $mobile) {
                font-size: 18px;
            }

            &:hover {
                color: $yellow--europe;
                border-bottom-color: $yellow--europe;
            }
        }
    }
}

.citizen {
    &__help {
        margin-bottom: 50px;
        font-family: $font-gillsans;
        padding: 36px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        background-color: white;

        @media (max-width: $tablet) {
            padding: 24px;
        }

        &__video {
            position: relative;
            padding-bottom: 39.25%;
            height: 0;
            z-index: 1;
            width: 70%;
            margin: 50px auto;

            @media (max-width: $mobile) {
                width: 100%;
                padding-bottom: 56.25%;
                margin: 0 0 15px 0;
            }

            & > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 40px;

            & > div {
                flex: 1;
                padding: 0 14px;
                font-family: $font-gillsans;

                @media (max-width: $tablet) {
                    flex-basis: 100%;
                }

                p {
                    font-size: 20px;
                    font-family: 'Roboto', Helvetica, sans-serif;
                    color: $dark;
                    text-align: center;
                    line-height: 1.25;
                    margin: 10px 0 0 0;

                    @media (max-width: $tablet) {
                        font-size: 20px;
                        margin-bottom: 36px;
                    }
                }

                &:last-child p {
                    margin-bottom: 0;
                }
            }

            .number {
                @include text--extra-large;
                font-weight: 500;
                color: $yellow--europe;
            }

        }

    }
}

h3.citizen__helplist-header {
    flex-basis: 100%;
    margin: 0 0 64px;

    font-size: 28px;
    text-align: left;
    line-height: 1.25;
    letter-spacing: 0.3px;

    @media (max-width: $tablet) {
        font-size: 20px;
        margin-bottom: 16px;
    }
}

.turnkey__home {
    padding: 36px !important;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin-bottom: 50px;

    @media (max-width: $tablet) {
        padding: 24px;
    }

    &__header h3 {
        text-align: center;
        margin: 0 0 64px;

        @media (max-width: $tablet) {
            font-size: 20px;
        }
    }
}

.turnkey__project {
    &__pinned {
        padding: 50px;
        background-color: white;

        @media (max-width: $mobile) {
            padding: 0px;
        }
        h2 {
            @include text--large;
            margin: 0;
            text-align: left;

            @media (max-width: $mobile) {
                padding: 20px 0px 0px 20px;
            }
        }

        h4 {
            font-family: $font-gillsans;
            @include text--medium-small;
            font-weight: 200;
            text-align: left;
            margin-bottom: 8px;
            color: $gray-dark;

            @media (max-width: $mobile) {
                padding: 0 20px;
            }
        }

        hr {
            @media (max-width: $mobile) {
                margin: 15px !important;
            }
        }

        p {
            font-family: $font-roboto;
            @include text--default;
            font-weight: 200;
            margin: 0;
            text-align: left;
            width: 60%;

            @media (max-width: $tablet) {
                margin-bottom: 24px;
                width: 80%;
            }

            @media (max-width: $mobile) {
                padding: 0 40px;
                width: 100%;
            }
        }

        div.solution {
            margin: 20px 0 45px;
            display: inline-flex;

            p {
                width: inherit;
            }
        }

        .coeur-icon {
            position: absolute;
            top: -15px;
            right: -8px;
            width: 85px;
            height: 57px;

            @media (max-width: $tablet) {
                width: 60px;
                height: 25px;
                top: 0;
                right: 10px;
            }
        }

        .turnkey__header {
            margin-bottom: 24px;
            @media (max-width: $mobile) {
                padding: 0 20px;
            }

            hr {
                width: 50%;
                margin: 0;
            }
        }

        .turnkey__header:first-child {
            margin-bottom: 40px;
        }
    }

    &__yellow {
        border: 10px solid $yellow--europe;

        @media (max-width: $mobile) {
            border: 0;
            padding-bottom: 50px;
        }

        p {
            font-size: 23px;
            line-height: 1.43;
            letter-spacing: 0.3px;
            color: $gray-dark;

            margin-bottom: 100px;
        }
    }

    &__light {
        border: 1px solid #e6e6e6;

        .turnkey__video {
            margin-bottom: 48px;

            @media (max-width: $tablet) {
                margin-bottom: 24px;
            }
        }

        .turnkey__video:before {
            background-color: $green-citizen;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;

        @media (max-width: $tablet) {
            flex-direction: column-reverse;
        }
    }

    &__detail {
        position: relative;

        flex: 2;
        margin-right: 16px;

        @media (max-width: $tablet) {
            flex: auto;
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    &__footer {
        text-align: center;

        span {
            @include text--medium-small;
            display: block;
            margin-bottom: 16px;
        }

        a {
            @include text--medium;
            display: inline-block;
            letter-spacing: 0.4px;
            font-family: $font-gillsans;
            transition: color 125ms ease, border-color 125ms ease;

            @media (max-width: $mobile) {
                margin-bottom: 50px;
                font-size: 18px;
            }

            &.link {
                color: black;
                font-size: 18px;
                border-bottom: $green-citizen 1px solid;
                padding-bottom: 3px;

                &:hover {
                    color: $green-citizen;
                }

                &--yellow {
                    border-color: $yellow--europe;
                    color: black;

                    &:hover {
                        color: $yellow--europe;
                    }
                }
            }
        }

        .turnkey__cta {
            margin-bottom: 24px;
        }
    }

    &__list {
        flex: 1;
        overflow: scroll;
        padding: 3px;

        @media (max-width: $mobile) {
          overflow: initial;
          padding: 0;
          margin-bottom: 24px;
        }

        &--item {
            font-family: $font-gillsans;
            text-align: left;
            background-color: white;
            border: 1px solid #e6e6e6;
            padding: 18px;
            margin-bottom: 10px;
            border-radius: 3px;
            display: block;
            position: relative;
            width: 100%;
            transition: border-width 125ms ease, border-color 125ms ease;

            @media (max-width: $mobile) {
                width: 100%;
            }

            &:before {
                content: '';
                position: absolute;
                width: 5px;
                height: 100%;
                left: 0;
                top: 0;

                background-color: rgba($green-citizen, 0);

                transition: background-color 125ms ease;
            }

            &:hover {
                cursor: pointer;

                &:before {
                    background-color: $green-citizen;
                }
            }

            &.is-active {
                border-radius: 3px;
                border: 2px solid $green-citizen;

                &:hover {
                    &:before {
                        background-color: transparent;
                    }
                }
            }

            span {
                font-size: 23px;
                font-weight: normal;
                letter-spacing: 0.4px;
                margin-bottom: 10px;
                display: block;
                color: $green-citizen;

                @media (max-width: $mobile) {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }

            h2 {
                margin: 0 0 5px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.4px;

                @media (max-width: $mobile) {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }

            p {
                color: $gray-dark;
                font-family: $font-gillsans;
                font-size: 18px;
                font-weight: 300;
                margin: 0;
                letter-spacing: 0.5px;
            }
        }
    }

    &__dropdown {
        .Select-control {
          border-radius: 0;
          border-color: $green-citizen;
          border-width: 2px;
        }

        .Select-value {
          line-height: 63px !important;
          cursor: pointer;
        }

        .Select-input {
          height: 63px !important;
        }
    }
}

.turnkey__video {
    &--yellow {
        position: relative;
        padding-bottom: 39.25%;
        height: 0;
        z-index: 1;
        width: 70%;
        margin: 50px auto;

        @media (max-width: $mobile) {
            width: 100%;
            padding-bottom: 56.25%;
            margin: 0 0 15px 0;
        }

        & > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:before {
            content: '';
            position: absolute;
            width: 90%;
            height: 95%;
            right: -10px;
            bottom: -10px;
            z-index: 0;
            background-color: $yellow--europe;

            @media (max-width: $tablet) {
                display: none;
            }
        }
    }
    &--green {
        position: relative;
        padding-bottom: 39.25%;
        height: 0;
        z-index: 1;
        width: 70%;
        margin: 50px auto;

        @media (max-width: $mobile) {
            width: 100%;
            padding-bottom: 56.25%;
            margin: 0 0 15px 0;
        }

        & > iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:before {
            content: '';
            position: absolute;
            width: 90%;
            height: 95%;
            right: -10px;
            bottom: -10px;
            z-index: 0;
            background-color: $green-citizen;

            @media (max-width: $tablet) {
                display: none;
            }
        }
    }
}

.turnkey__cta {
    display: block;
    color: $darker;
    font-weight: 500;
    font-family: $font-gillsans;
    @include text--medium;
    padding: 20px 40px;
    background-color: white;
    transition: all 0.5s;

    @media (max-width: $tablet) {
        padding: 10px;
        font-size: 14px;
        line-height: 1.4;
    }

    &__yellow {
        border: 2px solid $yellow--europe;
        font-size: 28px;
        color: black;
        display: inline-block;
        margin-bottom: 50px;

        @media (max-width: $tablet) {
            font-size: 18px;
        }

        &:hover {
            background-color: $yellow--europe;
            cursor: pointer;
            color: black;
            border-color: $yellow--europe;
            transition: all 0.5s;
        }
    }

    &__green {
        padding: 16px 8px;
        border: 2px solid $green-citizen;
        font-size: 28px;
        letter-spacing: 0.4px;
        width: 80%;
        margin: 0 auto;

        @media (max-width: $mobile) {
            font-size: 18px;
            width: 80%;
            margin: 0 auto;
        }

        &:hover {
            color: white;
            background-color: $green-citizen;
            border-color: $green-citizen;
            cursor: pointer;
            transition: all 0.5s;
        }
    }
}


.turnkey__default {
    width: 100%;
    height: 100%;

    background-image: url('/assets-citizen-project/images/video-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
}

.thematic__turnkey {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.giphy-embed {
    width: 100%;
}

#search-overlay {
    display: none;
}

