.voting-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: $white-smoke;

	> * {
		margin-right: 10px;
	}

	// Hide mobile version
	&__label {
		display: none;
	}

	&__container {
		display: flex;
		width: 100%;
		> * {
			width: 50%;
		}

		&__total-votes {
			color: $cadet-grey;
			font-size: 14px;
		}

		&__button {
			display: flex;
			justify-content: flex-end;
			> * {
				height: 40px;
				width: 134px;
				radius: 2px;
				font-family: $font-roboto;
			}
			&__icon {
				margin-right: 7px;
			}
		}
	}

	&__text {
		color: $cadet-grey;
		margin-right: 90px;
	}

	&__vote {
		cursor: pointer;
		outline: none;
		display: flex;
		width: 25%;
		height: 45px;
		background-color: $white;
		border: 1px solid $grey-sky;
		border-radius: 3px;
		font-family: $font-roboto;
		color: $sky;
		font-size: 15px;
		text-transform: initial;
		> * {
			width: 50%;
		}

		&__name {
			text-align: start;
		}

		&__count {
			text-align: end;
		}

		&--selected {
			border: 1px solid $france;
			color: $france;
		}
	}

	&__vote:hover {
		border: 1px solid $france;
		color: $france;
	}

	/* Responsive */
	@media #{$mobile} {
		flex-direction: column;
		padding: 0 15px;

		&__label {
			display: flex;
			align-items: center;
			margin: 0 20px 0 0;
			font-size: 16px;
			font-weight: 400;

			> * {
				display: flex;
				flex: 1;
			}
			&__total-votes {
				font-size: 14px;
				color: $cadet-grey;
				margin-left: 20px;
			}
			&__action-vote {
				cursor: pointer;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				background: transparent;
				font-size: 16px;
				font-weight: 400;
				color: $blue;
				border: none;
				outline: none;
				&__arrow {
					width: 0;
					height: 0;
					margin-left: 10px;
					border-top: 7px solid transparent;
					border-bottom: 7px solid transparent;
					border-left: 7px solid $blue;
				}
			}
		}

		> * {
			width: 100%;
			margin-bottom: 10px;
		}

		.rotate {
			transform: rotate(90deg);
		}
	}
}
