.voting-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
  padding: 15px;
  padding-left: 30px;
  background: $white-smoke;

  // hide mobile elements
  &__total-votes--mobile,
  &__container__action-vote--mobile {
    display: none;
  }

  &__total-votes {
    color: $cadet-grey;
    font-size: 14px;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    &__action-vote {
      display: flex;

      > * {
        height: 40px;
        width: 134px;
        border-radius: 2px;
        font-family: $font-roboto;
        text-transform: initial;
      }

      &__icon {
        margin-right: 7px;
      }

      &__text {
        color: $cadet-grey;
        width: 100%;
        text-align: center;
        margin-right: 20px;
      }
    }
  }

  .voting-footer__action-vote__btn--active {
    border-color: $blue;
    background: $white;
    color: $blue;

    &:hover {
      border-color: $marine-blue;
      background: $white;
      color: $marine-blue;
    }
  }

  &__vote {
    cursor: pointer;
    outline: none;
    flex: 1;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-right: 10px;
    border: 1px solid $grey-sky;
    border-radius: 3px;
    padding: 10px;
    background-color: $white;
    font-family: $font-roboto;
    color: $sky;
    font-size: 14px;
    text-transform: initial;

    position: relative;

    &--selected {
      border: 1px solid $france;
      color: $france;
    }
  }

  &__vote__name {
    margin-right: 5px;
  }

  &__vote:hover {
    border: 1px solid $france;
    color: $france;
  }

  /* Responsive */
  @media #{$desktop} {
    &--open {
      .voting-footer__container {
        width: initial;
        animation: fadeIn 200ms ease-in;
      }
      .voting-footer__vote-0 {
        animation: fadeIn 300ms ease-in;
      }
      .voting-footer__vote-1 {
        animation: fadeIn 350ms ease-in;
      }
      .voting-footer__vote-2 {
        animation: fadeIn 400ms ease-in;
      }
    }

    &--close {
      .voting-footer__container,
      .voting-footer__total-votes {
        animation: fadeIn 200ms ease-in;
      }
      .voting-footer__vote-0 {
        animation: fadeOut 300ms ease-in;
      }
      .voting-footer__vote-1 {
        animation: fadeOut 350ms ease-in;
      }
      .voting-footer__vote-2 {
        animation: fadeOut 400ms ease-in;
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
        transform: translateX(0);
      }
      50% {
        opacity: 0.7;
      }
      90% {
        opacity: 0.2;
      }
      100% {
        opacity: 0;
        color: $white;
        border-color: $white;
        transform: translateX(-18px);
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
        color: $white;
        border-color: $white;
        transform: translateX(-18px);
      }
      50% {
        opacity: 0.2;
      }
      90% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }

  @media #{$mobile} {
    flex-direction: column;
    height: 100%;
    padding: 20px;

    // hide desktop elements
    &__total-votes,
    &__container__action-vote,
    &__container__action-vote__text {
      display: none;
    }

    &__total-votes--mobile {
      display: block;
      color: $cadet-grey;
      font-size: 14px;
      margin-left: 20px;
    }

    &__vote,
    &__container {
      margin: 0;
      margin-bottom: 5px;
    }

    &__vote {
      width: 100%;
      height: 50px;
      padding: 0 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__container {
      width: 100%;
      align-items: center;
      margin: 0;
      font-size: 16px;
      font-weight: 400;

      &__action-vote--mobile {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 15px 0;
        background: transparent;
        font-size: 16px;
        font-weight: 400;
        color: $blue;
        border: none;
        cursor: pointer;

        &__arrow {
          position: relative;
          right: 5px;
          width: 0;
          height: 0;
          margin-left: 10px;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 7px solid $blue;
        }
      }

      &__action-vote--mobile__text {
        flex: 1;
        margin: 0;
      }
    }

    .rotate {
      transform: rotate(90deg);
    }
  }
}
