{% extends 'municipal_chief/_layout.html.twig' %}

{% block municipal_chief_content %}
    <a href="{{ path('app_municipal_chief_municipal_volunteer_request') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
        ⟵ Retour
    </a>
    
    {{ include('application_request/municipal/_volunteer_detail.html.twig') }}
{% endblock %}
