{% extends 'municipal_chief/_layout.html.twig' %}

{% block municipal_chief_content %}
    <div class="referent__menu-list-event">
        <div class="menu-items">
            <h3><a href="{{ path('app_municipal_chief_municipal_running_mate_request') }}">Candidats colistiers</a></h3>
            <span class="separator">|</span>
            <h3>Candidats bénévoles</h3>
        </div>
    </div>

    <div id="datagrid"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'gender',
                        name: 'Genre',
                    },
                    {
                        key: 'lastName',
                        name: 'Nom',
                    },
                    {
                        key: 'firstName',
                        name: 'Prénom',
                    },
                    {
                        key: 'phone',
                        name: 'Téléphone',
                    },
                    {
                        key: 'favoriteCities',
                        name: 'Ville(s) choisie(s)',
                    },
                    {
                        key: 'tags',
                        name: 'Tags de candidature',
                        className: 'municipal-candidate-tags',
                    },
                    {
                        key: 'isAdherent',
                        name: 'Adhérent ?',
                    },
                    {
                        key: 'inMyTeam',
                        name: 'Équipier ?',
                    },
                    {
                        key: 'menu',
                        name: 'Action',
                        menu: true,
                    }
                ],
                [
                    {% for request in volunteers %}
                        {% spaceless %}
                            {% set team_link_label = 'Ajouter à mon équipe' %}

                            {% if request.takenForCity %}
                                {% if request.takenForCity in app.user.municipalChiefManagedArea.codes %}
                                    {% set team_link_label = 'Retirer de mon équipe' %}
                                    {% set team_link_url = path("app_municipal_chief_municipal_volunteer_request_remove_from_team", {uuid: request.uuid}) %}
                                    {% set team_link_class = 'text--error' %}
                                {% else %}
                                    {% set team_link_url = '#' %}
                                    {% set team_link_class = 'link--disabled' %}
                                {% endif %}
                            {% else %}
                                {% set team_link_class = 'text-dark' %}
                                {% set team_link_url = path("app_municipal_chief_municipal_volunteer_request_add_to_team", {uuid: request.uuid}) %}
                            {% endif %}

                            {% include 'application_request/municipal/_volunteer_row.js.twig'
                                with {
                                    show_route_name: 'app_municipal_chief_municipal_volunteer_request_detail',
                                    edit_route_name: 'app_municipal_chief_municipal_volunteer_request_edit_tags',
                                    menu: [
                                        {
                                            label: team_link_label,
                                            url: team_link_url,
                                            className: "row-action text--dark link--no-decor #{team_link_class}"
                                        }
                                    ],
                                    columns: {
                                        inMyTeam: request.takenForCity in app.user.municipalChiefManagedArea.codes ?
                                            '<span class="status status__1">Oui</span>'
                                            : '<span class="status status__2">Non</span>',
                                    }
                                }
                            %},
                        {% endspaceless %}
                    {% endfor %}
                ]
            );
        });
    </script>
{% endblock %}
