<header class="territorial-council__header">
    <div class="l__wrapper territorial-council__header__content">
        <div class="text--white territorial-council__header__titles">
            <div class="text--uppercase text--small b__nudge--bottom">
                Instance
            </div>
            <div class="territorial-council__name">
                <h1 id="territorial-council-name" class="text--large">Comité politique</h1>
            </div>
            <ul class="territorial-council__infos">
                <li>
                    {{ include('components/location.html.twig') }}
                    {{ political_committee.name }}
                </li>
                <li>
                    {{ include('components/users.html.twig') }}
                    {{ 'common.members_count'|transchoice(political_committee.memberships.count) }}
                </li>
            </ul>
        </div>
    </div>
</header>
