$disable-grey: #c0c0c0;
$dark-blue: #000ABB;
$light-blue: #73C0F1;
$blue-lighter: #CDE2FB;
$green: #2EA78F;
$red: #F00032;
$white: #fff;
$yellow: #FFDC6B;
$gray-lighter: #F6F6F6;
$neutral-grey: #8c8c8c;
$lines-grey: #e1e5ea;
$black: #000000;

:root {
    --green-color: #2EA78F;
}
