framework:
    cache:
        pools:
            doctrine.system_cache_pool:
                adapter: cache.adapter.apcu

doctrine:
    orm:
        metadata_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool
        query_cache_driver:
            type: pool
            pool: doctrine.system_cache_pool
        result_cache_driver:
            type: service
            id: cache.redis_doctrine_provider
