monolog:
    handlers:
        main:
            type: fingers_crossed
            channels: ['!deprecation']
            action_level: error
            handler: sentry
            excluded_http_codes:
                - 400
                - 403
                - 404
                - 405
        sentry_logs:
            type: service
            id: Sentry\SentryBundle\Monolog\LogsHandler
        sentry_breadcrumbs:
            type: service
            channels: ['!deprecation']
            name: sentry_breadcrumbs
            id: Sentry\Monolog\BreadcrumbHandler
        sentry:
            type: sentry
            level: !php/const Monolog\Logger::ERROR
            hub_id: Sentry\State\HubInterface
            fill_extra_context: true
            process_psr_3_messages: false
