services:
    Sentry\Integration\FrameContextifierIntegration: ~
    Sentry\Integration\RequestIntegration: ~

    Sentry\SentryBundle\Monolog\LogsHandler:
        arguments:
            - !php/const Monolog\Logger::INFO

    Sentry\Monolog\BreadcrumbHandler:
        arguments:
            - '@Sentry\State\HubInterface'
            - !php/const Monolog\Logger::INFO

sentry:
    dsn: '%env(SENTRY_DSN)%'
    register_error_listener: false
    register_error_handler: false
    tracing: false
    messenger: true
    options:
        send_default_pii: true
        default_integrations: false
        ignore_exceptions:
            - App\Sentry\SentryIgnoredExceptionInterface
            - ApiPlatform\Validator\Exception\ValidationException
        integrations:
            - Sentry\Integration\FrameContextifierIntegration
            - Sentry\Integration\RequestIntegration
        environment: '%env(APP_ENVIRONMENT)%'
        release: '%env(APP_VERSION)%'
        enable_logs: true
