{% extends 'board_member/message/layout.html.twig' %}

{% set member = message.recipients|first %}

{% block recipients %}
    <p>à un membre du conseil</p>
    <div>
        <p>{{ member }}</p>
        <p>{{ member|age }}, {{ member.isFemale ? 'F' : 'M' }}, {{ member.cityName }}</p>
    </div>
{% endblock %}
