{% extends 'board_member/message/layout.html.twig' %}

{%- block return_path path('app_board_member_saved_profile') -%}

{% block recipients %}
    <p>à votre liste de membres sauvegardés</p>
{% endblock %}
