.idea-filters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .idea-filters__section {
    display: inline-flex;
    align-items: flex-start;
  }

  .idea-filters__section__filters {
    display: flex;
    flex-wrap: wrap;
  }

  .idea-filters__label,
  .select {
    display: inline-block;
  }

  .idea-filters__label {
    margin-right: 15px;
    margin-top: 10px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $wild-blue-yonder;
  }

  .select {
    width: 220px;
    margin-right: 10px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }

    .select__input__control {
      height: 43px;
      border-color: $columbia-blue;
      cursor: pointer;
      color: $light-black;
    }

    .select__input__menu {
      border-color: $columbia-blue;
    }
  }

  .idea-filters__input {
    height: 43px;
    margin-right: 10px;
    border: 1px solid $columbia-blue;
    border-radius: 3px;
    padding: 12px 15px;
    font-size: 16px;
    color: $light-black;
  }

  /* Responsive */
  @media #{$mobile} {
    flex-direction: column;

    .idea-filters__section {
      width: 100%;
      flex-direction: column;
      align-items: start;
      margin-bottom: 10px;
    }

    .idea-filters__section__filters {
      width: 100%;

      .idea-filters__input,
      .select {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
      }
    }

    .idea-filters__label {
      margin-bottom: 10px;
    }
  }

  @media #{$tablet} {
    flex-direction: column;

    .idea-filters__section {
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }

    .idea-filters__section__filters {
      width: 100%;
      justify-content: space-between;

      .idea-filters__input,
      .select {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    .idea-filters__label {
      margin-bottom: 10px;
    }
  }
}
