.idea-filters {
  display: flex;
  justify-content: space-between;

  .idea-filters__section {
    display: inline-flex;
    align-items: center;
  }

  .idea-filters__label,
  .select {
    display: inline-block;
  }

  .idea-filters__label {
    margin-right: 15px;
    font-size: 14px;
    text-transform: uppercase;
    color: $wild-blue-yonder;
  }

  .select {
    width: 220px;
    margin-right: 15px;

    .select__input__control {
      height: 43px;
      border-color: $columbia-blue;
      cursor: pointer;
      color: $light-black;
    }
  }

  .idea-filters__input {
    height: 43px;
    border: 1px solid $columbia-blue;
    border-radius: 3px;
    padding: 12px 15px;
    font-size: 16px;
    color: $light-black;
  }
}
