{% extends 'renaissance/adherent/_layout.html.twig' %}

{% block page_title 'Consultations' %}

{% block content_right_side %}
    <section class="space-y-4 md:space-y-6">
        <h1 class="text-3xl font-bold leading-10 text-gray-900">Consultations</h1>

        {% if consultations is not empty %}
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-6">
                {% for consultation in consultations %}
                    <article class="flex flex-col overflow-hidden border rounded-lg shadow-md border-slate-100">
                        <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                            <div class="flex-1">
                                <div class="w-10 h-10 rounded-md text-white bg-re-blue-500 flex items-center justify-center">
                                    {{ include('icons/clipboard-document.svg.twig', {svg_class: 'h-6 w-6'}) }}
                                </div>
                                <h3 class="mt-4 text-base lg:text-lg font-medium text-slate-900">{{ consultation.title }}</h3>
                            </div>
                            <div class="mt-4">
                                <a class="inline-flex items-center px-3 py-2 rounded-md text-sm leading-5 bg-re-blue-50 text-re-blue-800 hover:bg-re-blue-100"
                                   href="{{ path('app_renaissance_consultation_show', {uuid: consultation.uuid}) }}">
                                    {{ include('icons/eye.svg.twig', {svg_class: 'h-5 w-5 mr-2'}) }}
                                    Voir
                                </a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% else %}
            <div class="flex items-center justify-center p-5">
                <p class="text-gray-500">Aucune consultation en cours pour le moment.</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
