{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    <div style="text-align: center;">
        {% if object.imageName is defined and object.imageName is not empty %}
            <img src="{{ path('asset_url', { path: object.getImagePath }) }}" style="max-height: 70px; max-width: 100px;" alt="thumbnail">
        {% endif %}
    </div>
{% endblock %}
