{% extends base_template %}

{% block event_manager_main_block %}
    <main>
        <section class="b__nudge--bottom-huge">
            {% block event_manager_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
