{% extends 'event_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'name',
                        name: "Nom de l'événement",
                        link: true,
                        targetBlank: true,
                    },
                    {
                        key: 'organizer',
                        name: 'Organisateur',
                        style: {
                            width: 150
                        },
                    },
                    {
                        key: 'status',
                        name: 'Statut'
                    },
                    {
                        key: 'postalCode',
                        name: 'Code postal',
                        style: {
                            width: 150
                        },
                    },
                    {
                        key: 'beginAt',
                        name: 'Date',
                        style: {
                            width: 150
                        },
                    },
                    {
                        key: 'participants',
                        name: 'Participants',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 100
                        },
                    },
                    {
                        key: 'menu',
                        name: 'Actions',
                        menu: true,
                    },
                ],
                [
                    {% for event in events %}
                        {% include 'event_manager/_event_row.js.twig' %},
                    {% endfor %}
                ]
            );
        });

        document.sendEventLinkByMessage = function (event) {
            event.preventDefault();

            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '{{ path("app_message_#{space_name}_create") }}';

            var messageElement = document.createElement('input');
            messageElement.name = 'message_content';
            messageElement.value = 'Inscrivez-vous à l\'événement <a href="' + event.target.dataset.url + '">ici</a>';

            form.appendChild(messageElement);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
{% endblock %}

{% block event_manager_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Événements</h3>
        <a href="{{ path("app_#{space_name}_event_manager"~ ('delegated' in app.request.attributes.get('_route') ? '_delegated') ~"_events_create") }}" class="btn-secondary btn-secondary--blue">
            + Créer
        </a>
    </div>

    {% if space_name != constant('App\\Event\\EventManagerSpaceEnum::MUNICIPAL_CHIEF') %}
        <div class="datagrid__table__tabs">
            <div class="datagrid__table__tabs__items">
                {% if is_active_route(app.request, "app_#{space_name}_event_manager_events") %}
                    <h3>Tous les événements</h3>
                {% else %}
                    <h3><a href="{{ path("app_#{space_name}_event_manager_events") }}">Tous les événements</a></h3>
                {% endif %}

                <span class="separator"></span>

                {% if is_active_route(app.request, "app_#{space_name}_event_manager_events_mine") %}
                    <h3>Mes événements</h3>
                {% else %}
                    <h3><a href="{{ path("app_#{space_name}_event_manager_events_mine") }}">Mes événements</a></h3>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div id="datagrid"></div>
{% endblock %}
