{% extends 'event_manager/_layout.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'name',
                        name: "Nom de l'événement",
                        link: true,
                        targetBlank: true,
                    },
                    {
                        key: 'organizer',
                        name: 'Organisateur',
                        style: {
                            width: 150
                        },
                    },
                    {
                        key: 'postalCode',
                        name: 'Code postal',
                        style: {
                            width: 150
                        },
                    },
                    {
                        key: 'beginAt',
                        name: 'Date',
                        style: {
                            width: 150
                        },
                    },
                    {
                        key: 'participants',
                        name: 'Participants',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 100
                        },
                    }
                ],
                    {{ eventsAsJson|raw }}
            );
        });
    </script>
{% endblock %}

{% block event_manager_content %}
    <div class="datagrid__pre-table b__nudge--bottom-larger">
        <h3>Événements</h3>
        <a href="{{ path("app_#{space_name}_event_manager_events_create") }}" class="btn-type-table">
            + Créer
        </a>
    </div>

    {% if space_name == constant('AppBundle\\Event\\EventManagerSpaceEnum::REFERENT') %}
        <div class="datagrid__table__tabs">
            <div class="datagrid__table__tabs__items">
                {% if is_active_route(app.request, 'app_referent_event_manager_events') %}
                    <h3>Tous les événements</h3>
                {% else %}
                    <h3><a href="{{ path("app_#{space_name}_event_manager_events") }}">Tous les événements</a></h3>
                {% endif %}

                <span class="separator"></span>

                {% if is_active_route(app.request, 'app_referent_event_manager_events_mine') %}
                    <h3>Mes événements</h3>
                {% else %}
                    <h3><a href="{{ path("app_#{space_name}_event_manager_events_mine") }}">Mes événements</a></h3>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div id="datagrid"></div>
{% endblock %}
