{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Désabonnement' %}
{% block flash_message '' %}

{% block content %}
    <twig:ReStandaloneLayout class="bg-gradient-to-b from-slate-600 to-slate-500">
        <twig:Atoms:ReCard class="max-w-[500px] text-center">
            <h1 class="text-xl font-bold mb-4">Vous êtes désabonné</h1>
            <p>Vous ne recevrez plus d'emails de Renaissance.</p>
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}
