/* Common */
.no-print, .no-print * {
    display: none !important;
}

table {
    page-break-inside: auto
}

tr {
    page-break-inside: avoid !important;
    page-break-after: auto
}

thead {
    display: table-header-group !important;
}

tfoot {
    display: table-row-group !important;
}


/* Committee */
.committee {
    margin: 0 0 100px 0;
}

.committee__members__list {
    font-family:'Roboto', Helvetica, sans-serif;
    width: 100%;
}

.committee__members__list tr {
    border-bottom: 5px solid #E5E5E5;
}

.committee__members__list th {
    text-align: left;
}

.committee__members__list thead {
    background: #F6F6F6;
    border-color: #BCBCBC;
}

.committee__host {
    background: #fcecc2;
}

.text--bold {
    font-weight: 700;
}
