<h4 class="manager__filters__subtitle">Filtrer par zones gérées</h4>

<div class="manager__filters__row">
    <div class="manager__filters__section">
        {{ form_errors(form.referentTag) }}
        <div class="filter__row">
            {{ form_widget(form.referentTag, {attr: {class: 'form--full'}}) }}
        </div>
    </div>
</div>
