<div class="referent__filters__subtitle text--center">
    Filtrer par zones gérées
</div>

<div class="l__wrapper--slim b__nudge--bottom-huge l__col l__col--center">
    {{ form_errors(form.referentTag) }}
    <div class="l__row">
        {{ form_widget(form.referentTag, {attr: {class: 'form--full'}}) }}
    </div>
</div>
