{% extends 'message/filter.html.twig' %}

{% block filter_content %}
    <div class="text--center">
        Message aux membres du comité <strong>{{ message.filter.committee.name }}</strong>
    </div>
{% endblock %}
