<div class="referent__filters__form">
    {{ form_start(form) }}

        {% if form.referentTags is defined %}
            {{ include('message/filter/_referent_zone_filter_form.html.twig') }}
        {% else %}
            {{ include('message/filter/_referent_full_filter_form.html.twig') }}
        {% endif %}

        <div class="text--center l__wrapper--500 b__nudge--top-40">
            <button type="submit" class="btn btn--dual">Filtrer</button>
            <button type="submit" name="reset" class="btn--as-link b__nudge--left-large text--body text--blue--new">Réinitialiser le filtre</button>
        </div>
    {{ form_end(form) }}
</div>
