.idea-page-header {
  @extend %sticky-header;

  .idea-page-header__inner {
    display: flex;
    height: 80px;
    align-items: center;

    .idea-page-actions {
      flex: 1;

      &:nth-child(2) {
        margin-left: 0;
      }
    }

    .idea-page-header__back {
      @extend %reset-button;
      cursor: pointer;
      color: $saphir;
    }
    .idea-page-header__back {
      margin-right: 40px;
    }

    .idea-page-header__right {
      display: inline-flex;
      margin-left: auto;

      .share-buttons:not(:only-child) {
        margin-right: 10px;
        border-right: 1px solid $platinum;
        padding-right: 15px;
      }
    }

    .idea-page-header__report {
      display: inline-flex;
      outline: 0;
      width: 30px;
      height: 30px;
      padding: 4px;

      > img {
        width: 22px;
        transform: rotate(90deg);
      }
    }

    .idea-page-actions {
      margin-left: 25px;
    }
  }

  .idea-page-header__success-banner {
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    background-color: $glitter;
    color: $light-black;

    &__close {
      @extend %reset-button;
      position: absolute;
      right: 18px;
      cursor: pointer;
    }
  }

  /* Responsive */
  @media #{$mobile} {
    .idea-page-header__inner {
      height: initial;
      padding: 20px 0;
      flex-wrap: wrap;

      .idea-page-header__back {
        margin: 0;
        order: 1;
      }

      .switch-wrapper {
        margin: 15px auto 0;
        order: 3;
      }
      .idea-page-header__report {
        margin: 0;
      }

      .idea-page-header__right {
        margin-left: auto;
        order: 2;
      }
    }
  }
}
