<div class="candidates-block">
    {% for candidate_group_result in pool_result.candidateGroupResultsSorted %}
        {% include 'voting_platform/results/_candidate_box.html.twig' %}
    {% endfor %}
</div>
