<div class="candidates-block grid grid-cols-1 md:grid-cols-2 gap-6">
    {% for candidate_group_result in pool_result.candidateGroupResultsSorted %}
        {% if designation.isPollType() %}
            {{ include('voting_platform/results/_poll_candidate_box.html.twig') }}
        {% elseif designation.isLocalElectionType() or designation.isCommitteeSupervisorType() or designation.isTerritorialAssemblyType() %}
            {{ include('voting_platform/results/_local_election_candidate_box.html.twig') }}
        {% else %}
            {{ include('voting_platform/results/_candidate_box.html.twig') }}
        {% endif %}
    {% endfor %}
</div>
