<aside class="side-block">
    {% if my_vote is defined and my_vote %}
        <div class="participated-block b__nudge--bottom-medium">
            Vous avez participé à cette désignation le {{ my_vote.votedAt|localizeddate('none', 'none', 'fr_FR', null, "d/MM/yyyy à HH:mm") }}.
        </div>
    {% endif %}

    <div class="stats-block">
        <h3 class="b__nudge--bottom-medium">Les chiffres de la désignation</h3>

        <div>
            <span class="text--silver-gray">Participants</span><br>
            <span class="text--medium">{{ resume.participated ?? 0 }}</span>
        </div>

        <div>
            <span class="text--silver-gray">Bulletins expérimés</span><br>
            <span class="text--medium">{{ resume.expressed ?? 0 }}</span>
        </div>

        <div>
            <span class="text--silver-gray">Bulletins blanc exprimés</span><br>
            <span class="text--medium">{{ resume.blank ?? 0 }}</span>
        </div>
    </div>
</aside>
