.text-area {
  position: relative;

  .text-area__input {
    width: 100%;
    min-height: 120px;
    resize: none;
    border: 1px solid $black-bean;
    border-radius: 3px;
    padding: 15px 20px;

    &::placeholder {
      color: $sonic-silver;
    }
  }

  .text-area__counter {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: $ash-grey;
    font-size: 14px;
  }
}
