{% extends 'search/search.html.twig' %}

{% block page_title 'Projets citoyens' %}
{% block search_title 'Participez aux projets citoyens' %}
{% block canonical_url url('app_search_citizen_projects') %}

{% block content %}
    <main class="search">
        <header class="l__wrapper space--60-0 text--center">
            <h1 class="text--large search-title">Projets citoyens</h1>
            <h2 class="text--body text--normal">Recherchez les projets citoyens par thèmes ou compétences recherchées</h2>
        </header>

        <div class="l__wrapper">
            {{ include('search/_filters.html.twig', {'type': search.type }) }}
            {% set currentRoute = app.request.attributes.get('_route') %}

            <div class="search__results {{ currentRoute }}" id="search-results">
                {{ include('search/results.html.twig') }}
            </div>
        </div>

        <div class="l__wrapper text--center b__nudge--bottom-huge">
            <button role="button" class="btn" id="search-more">Afficher plus</button>
        </div>
    </main>
{% endblock %}

