{% extends 'search/search_committees.html.twig' %}

{% block page_title 'Événements' %}
{% block search_title 'Participez aux événements' %}
{% block canonical_url url('app_search_events') %}
{% block meta_description 'Les événements de La République En Marche ! sont les actions mises en places par les adhérents du mouvement. Ils contribuent à dynamiser la vie quotidienne de votre quartier, de votre village. Participez-y pour contribuer au renouvellement de la politique française !' %}

{% block button_link url('map_events') %}
{% block button_label 'événements' %}

{% block search_subtitle -%}
    Les événements sont ouverts à tous, adhérents ou non. Retrouvez les événements de votre territoire sur votre <a href="https://dpt.en-marche.fr" class="link--no-decor text--blue" target="_blank" rel="noopener noreferrer">site territorial</a>.
{%- endblock %}
