{% extends 'base.html.twig' %}
{% block page_title 'Formation : tous les outils pour comprendre, s\'engager et transformer' %}
{% block meta_description 'Nous mettons à votre disposition une plateforme de formation citoyenne en ligne,
gratuite et ouverte à tous.' %}
{% block canonical_url url('page_campus') %}
{% block open_graph_image (url('homepage')|trim('/') ~ static_asset('pages-sharers/campus.jpg', {'q': 70}))|raw %}
{% block content %}
    <main class="campus">
        <header class="hero hero--simple">
            <h1>
                Espace formation : des ressources pour comprendre, s'engager et transformer.
            </h1>
            <p>
                <strong>Les citoyens ne manquent ni d’idées, ni d’envie d’agir.</strong><br>
                Mais nombreux sont ceux qui n’osent pas franchir le pas.
                L'institut de formation <em>Tous Politiques !</em> met à la disposition de toutes celles et ceux qui souhaitent s'engager les ressources pour se lancer.
                <br>Ces outils sont ouverts à tous.
            </p>
        </header>

        <section class="campus__row campus__row__institut l__col">
            <img src="{{ asset('images/campus/tous-politiques.png') }}" width="400" />
            <h2 class="text--white b__nudge--bottom l__wrapper--slim text--center">
                En Marche lance son institut de formation
            </h2>
            <p class="text--body l__wrapper--slim">
                <em>Tous Politiques !</em> est un projet de formation des citoyens, responsables politiques et élus progressistes. Nous accompagnons l'engagement sous toutes ses formes afin de permettre à chacun de transformer notre pays dans le respect des valeurs d'humanisme, d'audace et de progrès.
            </p>
            <p>
                <a href="https://touspolitiques.fr"
                   class="btn btn--pink btn--medium"
                   target="_blank">Découvrir l'institut</a>
           </p>
        </section>

        <section class="campus__row campus__row__learn">
            <div class="campus__row__learn__graphic progressive-background"
                 data-sd="{{ static_asset('campus/learning.png', {'w': 300, 'q': 20}) }}"
                 data-hd="{{ static_asset('campus/learning.png', {'w': 2000, 'q': 70}) }}">
            </div>
            <div class="campus__row__learn__text">
                <div class="campus__text">
                    <h2>Se former</h2>
                    <p>
                        Vous trouverez sur cette page nos cours sur la vie politique.
                        Ces « microlearning » sont des parcours éducatifs et ludiques à suivre en ligne,
                        à votre rythme, pour mieux comprendre le fonctionnement de la vie politique
                        française et européenne.
                    </p>
                    <a href="https://microlearning.en-marche.fr"
                       target="_blank"
                       class="btn btn--blue">Découvrir les microlearning</a>
                </div>
            </div>
        </section>

        <section class="campus__row campus__row__action">
            <div>
                <div class="campus__text campus__text--center">
                    <h2>Passer à l'action</h2>
                    <p>
                        Nous proposons depuis près d'un an des formations collectives en ligne sur plusieurs semaines, communément appelées MOOC ("Massive Open Online Courses").
                    </p>
                    <p>
                        Découvrez celles qui sont déjà disponibles en attendant les suivantes !
                    </p>
                    <div class="text--center">
                        <a href="https://mooc.en-marche.fr/" class="btn btn--blue">
                            Participer au MOOC
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="campus__row">
            <div>
                <div class="campus__text campus__text--center text--center">
                    <h2>Vous avez des difficultés d’accès à Internet ?</h2>
                    <p>
                        Nous avons réuni des ressources qui peuvent vous aider !
                    </p>
                    <div class="text--center">
                        <a href="{{ path('page_campus_internet') }}" class="btn btn--blue">
                            Accéder à ces ressources
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
