{% extends 'base.html.twig' %}

{% block page_title 'Campus : vous avez des difficultés d’accès à Internet ?' %}
{% block meta_description 'Nous avons réuni des ressources qui peuvent vous aider !' %}
{% block canonical_url url('page_campus_internet') %}

{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main>
        <header class="hero">
            <h1>
                Vous avez des difficultés d’accès à Internet ?
            </h1>
        </header>

        <section class="l__wrapper--slim space--60-0 text--body text--with-bullet">
            <p>
                Voici quelques conseils pour vous permettre d’accéder à nos ressources en ligne :
            </p>
            <ul>
                <li>
                    Identifiez l’espace public numérique le plus proche de chez vous. <a href="http://www.netpublic.fr/net-public/espaces-publics-numeriques/repertoire-national/" target="_blank">Ils sont recensés ici</a>.
                </li>
                <li>
                    Si vous avez un ordinateur ou un smartphone, vous pouvez vous rendre dans une bibliothèque qui dispose d’un accès Internet. <a href="http://ccfr.bnf.fr/portailccfr/jsp/public/index.jsp?failure=%2Fjsp%2Fpublic%2Ffailure.jsp&failure=%2Fjsp%2Fpublic%2Ffailure.jsp&action=public_formsearch_institution&success=%2Fjsp%2Fpublic%2Findex.jsp&success=%2Fjsp%2Fpublic%2Findex.jsp&profile=public&profile=public" target="_blank">Identifiez les bibliothèques près de chez vous ici</a>.
                </li>
                <li>
                    Vous pouvez également accéder à un réseau WiFi gratuitement dans un certain nombre de lieux publics (comme des jardins ou des places). Renseignez-vous auprès de votre mairie pour connaître les espaces connectés près de chez vous.
                </li>
            </ul>
            <p>
                Les formations de La République En Marche se regardent aussi en groupe ! Si vous souhaitez suivre la formation « Agir au niveau local » et que vous n’avez pas d’accès Internet chez vous, vous aurez la possibilité dans les prochaines semaines de rejoindre l’une des équipes qui se réuniront un peu partout en France. Nous essayerons de susciter l’organisation d’un maximum d’événements pour mailler le territoire.
            </p>
        </section>

    </main>
{% endblock %}
