{% extends 'base.html.twig' %}

{% block page_title 'Campus : vous avez des difficultés d’accès à Internet ?' %}
{% block meta_description 'Nous avons réuni des ressources qui peuvent vous aider !' %}
{% block canonical_url url('page_campus_internet') %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
    <main class="campus">
        <header class="hero">
            <h1>
                Votre avez des difficultés d’accès à Internet ?
            </h1>
            <p>
                Nous avons réuni des ressources qui peuvent vous aider !
            </p>
        </header>

        <section class="l__wrapper--slim space--60-0">
            <p>
                tk
            </p>
        </section>

    </main>
{% endblock %}
