.my-contributions {
	margin-top: 38px;

	&__category__button {
		@extend %reset-button;
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		&__label {
			margin-right: 6px;
			font-size: 14px;
			font-weight: bold;
			color: $wild-blue-yonder;
		}

		&__icon {
			&--rotate {
				transform: rotate(180deg);
			}
		}
	}

	&__category__idea {
		&__date {
			margin: 0 0 7px;
			color: $light-black;
			font-size: 14px;
		}

		&__name {
			margin: 0 0 15px;
			font-size: 20px;
		}

		&__actions {
			&__see-note {
				cursor: pointer;
				font-size: 16px;
				color: $saphir;
			}
		}
	}

	.separator {
		width: 100%;
		height: 1px;
		margin: 21px 0 20px;
		background-color: $platinum;
	}
}
