.my-contributions {
  margin-top: 38px;

  &__category__button {
    @extend %reset-button;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 15px;

    &__label {
      margin-right: 6px;
      font-size: 14px;
      font-weight: bold;
      color: $wild-blue-yonder;
      text-transform: uppercase;
    }

    &__icon {
      &--rotate {
        transform: rotate(180deg);
      }
    }
  }

  &__category__idea {
    padding: 20px 0;
    border-bottom: 1px solid $platinum;

    &__date {
      margin: 0 0 7px;
      color: $light-black;
      font-size: 14px;
    }

    &__name {
      margin: 0 0 15px;
      font-size: 20px;
    }

    &__actions {
      &__see-note {
        cursor: pointer;
        font-size: 16px;
        color: $saphir;
      }
    }
  }

  .my-contributions__category__empty-label {
    padding-bottom: 20px;
    border-bottom: 1px solid $platinum;
    font-size: 14px;
    color: $light-black;
  }
}
