{% extends 'oauth/base_jemengage.html.twig' %}

{% block title 'Félicitations' %}

{% set flashes = app.flashes() %}

{% block content %}
    <section class="success-section">
        <div id="subtitle">Votre mot de passe est créé, connectez-vous à l’application mobile pour continuer.</div>
    </section>
{% endblock %}
