{% extends 'oauth/base_jemengage.html.twig' %}

{% block title 'Félicitations' %}

{% block content %}
    <section class="l__inner b__nudge--top">
        <h1 style="margin-top: 45px">Votre compte est activé. Connectez-vous avec l'application mobile</h1>
    </section>
{% endblock %}
