{#
    Override sonata template to have something more readable.
    The old one had something like [key => value], ...
    Now it's with html integration or simply with comma if inline is true
#}
{% macro render_array(value, inline) %}
    {% if inline %}
        {% for key, val in value %}
            {% if not loop.first %}
                ,&nbsp;
            {% endif %}
            {% if val is iterable %}
                ({{ _self.render_array(val, inline) }})
            {% else %}
                {{ val|trans }}
            {% endif %}
        {% endfor %}
    {% else %}
        <ul>
            {% for key, val in value %}
                <li>
                    {% if val is iterable %}
                        {{ _self.render_array(val, inline) }}
                    {% else %}
                        {{ val|trans }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
