{% extends 'base.html.twig' %}

{% block page_title 'Mes activités' %}

{% block content %}
    <main class="search">
        <header class="l__wrapper--medium space--60-0 text--center">
            <h1 class="text--large search-title">{{ block('page_title') }}</h1>

            <nav class="manager-header__menu b__nudge--top-large inline-block">
                <ul class="search__toggle">
                    <li {% if is_active_route(app.request, 'app_adherent_committees') %}class="active"{% endif %}><a href="{{ path('app_adherent_committees') }}">Mes comités</a></li>
                    <li> {% if is_active_route(app.request, 'app_adherent_events') %}class="active"{% endif %}<a href="{{ path('app_adherent_events') }}">Mes événement</a></li>
                </ul>
            </nav>
        </header>
        {% block tab %}
        {% endblock %}
    </main>
{% endblock %}
