{% extends 'base.html.twig' %}

{% block page_title 'Mon compte' %}

{% block content %}

<main class="settings">
    <section class="settings__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center space--60-0"
           data-sd="{{ static_asset('procuration.jpg', {'w': 300, 'q': 20}) }}"
           data-hd="{{ static_asset('procuration.jpg', {'w': 2000, 'q': 70}) }}">
          <div class="settings__header--inner l__wrapper--slim">
              <h1 class="text--larger text--on-white text--pink">
                  En Marche recrute !
              </h1>
              <div class="text--white text--body b__nudge--top l__wrapper-500">
                  Remplissez votre profil En Marche et mettez vos compétences au service de projets citoyens.
              </div>
              <div class="b__nudge--top">
                  <a href="{{ path('app_summary_manager_index') }}" class="btn btn--hollow">
                      Créer mon profil En Marche
                  </a>
              </div>
          </div>
    </section>

    <header class="l__wrapper--medium space--30-0">
        <h1 class="text--large">Paramètres</h1>
    </header>

    <hr class="l__wrapper b__nudge--bottom-larger"/>

    <section class="l__wrapper--medium">
        <div class="l__row l__row--h-stretch l__row--top l__tablet--col b__nudge--bottom-large">
            {% include 'adherent/_profile_menu.html.twig' %}

            <div class="l__wrapper--main l__wrapper--main-right settings__main">
                {% block adherent_profile_form %}{% endblock %}
            </div>
        </div>
    </section>
</main>

{% endblock %}
