{% extends 'base.html.twig' %}

{% block page_title 'Mon vote' %}

{% block content %}
    <main>
        <section class="content space--100-0">
            <article class="l__wrapper--slim">
                <h1>Votez sur la réforme des statuts</h1>
                <p>
                    Le scrutin sur la réforme des statuts ouvrira ce lundi 25 novembre à 18h et vous aurez 3 semaines pour vous exprimer ! Pour voter, il vous suffira de cliquer sur le bouton ci-dessous :
                </p>
                <br />
                <div class="text--center">
                    <a href="https://vote.election-europe.com/EM-1219/" class="btn btn--blue" target="_blank" rel="noopener noreferrer">Je vote</a>
                </div>
                <br /><br />
                <h3>Pourquoi ?</h3>
                <p>Cette réforme, c'est l'acte II de La République En Marche. Tout en gardant ce qui fait notre identité, elle doit nous permettre de renforcer notre ancrage territorial et de préparer le Mouvement à l’arrivée de milliers d’élues locales/élus locaux à la suite des prochaines échéances électorales.</p>
                <p>Cette réforme est le fruit d’un large travail de co-construction : plus de 4 000 contributions déposées par nos adhérents sur l’Atelier des idées, plus de 200 réunions physiques organisées par nos comités à travers tout le pays et des dizaines d’auditions d'experts.</p>

                <h3>Ce projet de nouveaux statuts repose sur 5 piliers : </h3>

                <p>1. Voter et mieux voter</p>
                <p>2. Décentraliser davantage</p>
                <p>3. Assurer une meilleure représentativité</p>
                <p>4. Garantir la parité à tous les niveaux</p>
                <p>5. Rester fidèles à nos marqueurs</p>
                <br />
                <div class="text--center">
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/LaREM_Synthese_reforme_des_statuts.pdf?utm_source=Vote+des+statuts&utm_campaign=db69a9d6be-EMAIL_CAMPAIGN_2019_09_17_12_17_COPY_01&utm_medium=email&utm_term=0_6462e1c8d8-db69a9d6be-98324907" class="btn btn--ghosting--blue" target="_blank" rel="noopener noreferrer">Je lis la synthèse</a>
                </div>
                <br /><br />
                <p>Retrouvez ci-dessous le schéma récapitulatif de la réforme :</p>

                <figure>
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/LaREM-Infographie-reforme-statuts.pdf?utm_source=Vote+des+statuts&utm_campaign=db69a9d6be-EMAIL_CAMPAIGN_2019_09_17_12_17_COPY_01&utm_medium=email&utm_term=0_6462e1c8d8-db69a9d6be-98324907">
                        <img src="{{ path('asset_url', { path: 'images/infographie-reforme-statuts.jpg' }) }}" />
                    </a>
                </figure>
                <br /><br />

                <p>Consultez également l’intégralité du projet de statuts :</p>
                <br />
                <div class="text--center">
                    <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/StatutsLaREM.pdf?utm_source=Vote+des+statuts&utm_campaign=db69a9d6be-EMAIL_CAMPAIGN_2019_09_17_12_17_COPY_01&utm_medium=email&utm_term=0_6462e1c8d8-db69a9d6be-98324907" class="btn btn--ghosting--blue" target="_blank" rel="noopener noreferrer">Je lis le projet des status</a>
                </div>
                <br /><br />

                <h3>Quand ?</h3>
                <p>Le vote se déroulera du lundi 25 novembre 2019 à 18h00 au lundi 16 décembre 2019 à midi (heure de Paris).</p>

                <h3>Comment ?</h3>

                <p>Cliquez sur le bouton JE VOTE ci-dessous. Saisissez ensuite vos codes identifiants de vote personnels que vous avez reçus par e-mail le 25 novembre 2019 (si vous êtes votant).</p>

                <h3>Qui peut voter ?</h3>
                <p>Tous les adhérents ayant adhéré depuis plus de 6 mois peuvent participer au vote.<br />
                Cliquez <a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/ReglementInterieurVote.pdf" target="_blank" rel="noopener noreferrer">ici</a>  pour consulter le règlement intérieur relatif au vote.</p>


                <p>D’autres questions ? Consulter <a href="https://aide.en-marche.fr/category/755-reforme-des-statuts" target="_blank" rel="noopener noreferrer">ici</a> la FAQ dédiée à la procédure de vote.</p>
                <br /><br />
                <div class="text--center">
                    <a href="https://vote.election-europe.com/EM-1219/" class="btn btn--blue" target="_blank" rel="noopener noreferrer">Je vote</a>
                </div>

            </article>
        </section>
    </main>
{% endblock %}
