{% extends 'adherent/layout.twig' %}

{% use 'adherent/_membership_form.html.twig' %}

{% block javascripts %}
    {% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            {{ js.address(form.address) }}
        });
    </script>
{% endblock %}

{% block adherent_profile_form %}

    <h3>Informations personnelles</h3>
    <div class="text--summary b__nudge--top-10">Modifiez vos informations personnelles.</div>

    {{ block('adherent_membership_form') }}

    {% if is_granted('UNREGISTER') %}
        <div class="adherent_profile_unsubscribe text--center space--60-0">
            <a href="{{ path('app_adherent_terminate_membership') }}" class="btn btn--small">
                Désadhérer du mouvement
            </a>
            <div class="text--body b__nudge--top-10 text--small">
                Toutes vos données seront définitivement supprimées.
            </div>
        </div>
    {% endif %}
{% endblock %}
