{% extends 'adherent_profile/_layout.html.twig' %}

{% block page_title 'Profil Renaissance' %}

{% block adherent_profile_menu '' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section" id="certification">
        <h1 class="text--medium-large">Profil Renaissance</h1>

        <p class="text--body">
            Vous avez un compte Renaissance.
            <br>
            Rendez vous sur <a href="{{ url('app_renaissance_adherent_profile') }}">{{ app_renaissance_host }}</a> pour modifier votre profil!
        </p>
    </section>
{% endblock %}
