logout:
    host: '{app_domain}'
    path: '/deconnexion'
    methods: 'GET'
    controller: App\Controller\Renaissance\SecurityController::logoutAction
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%admin_renaissance_host%|%user_vox_host%'

app_user_get_magic_link:
    host: '{app_domain}'
    path: '/demander-un-lien-magique'
    methods: 'GET|POST'
    controller: App\Controller\Renaissance\MagicLinkController::getMagicLinkAction
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%app_renaissance_host%|%user_vox_host%'

app_user_connect_with_magic_link:
    host: '{app_domain}'
    path: '/connexion-avec-un-lien-magique'
    methods: 'GET|POST'
    controller: App\Controller\Renaissance\MagicLinkController::connectViaMagicLinkAction
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%app_renaissance_host%|%user_vox_host%'

#
# Assets
#
app_assets:
    resource: '../src/Controller/AssetsController.php'
    type: attribute
    host: '{app_domain}'
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%app_host%|%app_renaissance_host%|%national_event_host%|%user_vox_host%|%admin_renaissance_host%'

#
# Mooc
#
app_mooc:
    resource: '../src/Controller/MoocController.php'
    type: attribute

#
# User uploaded documents
#
app_documents:
    resource: '../src/Controller/UploadDocumentController.php'
    type: attribute

#
# API
#
app_api:
    host: '{app_domain}'
    resource: '../src/Controller/Api'
    type: attribute
    prefix: '%api_path_prefix%'
    defaults:
        _format: 'json'
        app_domain: '%api_renaissance_host%'
    requirements:
        app_domain: '%app_host%|%app_renaissance_host%|%api_renaissance_host%'

#
# API Platform
#
api_platform:
    resource: .
    type: api_platform
    prefix: '%api_path_prefix%'

#
# OAuth
#
app_oauth:
    host: '{app_domain}'
    resource: '../src/Controller/OAuth'
    type: attribute
    prefix: '/oauth/v2'
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%app_renaissance_host%|%api_renaissance_host%|%admin_renaissance_host%|%user_vox_host%'

#
# Admin panel
#
admin_dashboard:
    host: '%admin_renaissance_host%'
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'

admin_crud:
    host: '%admin_renaissance_host%'
    resource: .
    type: sonata_admin

app_admin:
    host: '%admin_renaissance_host%'
    resource: '../src/Controller/Admin'
    type: attribute

lexik_paybox_ipn:
    host: '%webhook_renaissance_host%'
    path: /paybox/payment-ipn/{time}
    controller: lexik_paybox.controller.default
    methods: [GET, POST]

app_enmarche:
    host: '%app_host%'
    resource: '../src/Controller/EnMarche'
    type: attribute

app_voting_platform:
    resource: '../src/Controller/EnMarche/VotingPlatform'
    type: attribute
    prefix: '/elections/{uuid}'
    trailing_slash_on_root: false
    requirements:
        uuid: '%pattern_uuid%'

app_procuration:
    host: '%procuration_host%'
    resource: '../src/Controller/Procuration'
    type: attribute

app_api_intl:
    host: '{app_domain}'
    prefix: '%api_path_prefix%'
    resource: '../src/Controller/IntlController.php'
    type: attribute
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: '%app_host%|%procuration_host%|%app_renaissance_host%'

app_webhook_renaissance:
    host: '%webhook_renaissance_host%'
    resource: '../src/Controller/Webhook'
    type: attribute

app_renaissance:
    host: '%user_vox_host%'
    resource: '../src/Controller/Renaissance'
    type: attribute

app_besoindeurope:
    host: '%user_vox_host%'
    resource: '../src/Controller/BesoinDEurope'
    type: attribute

app_national_event_redirect:
    host: '%national_event_host%'
    path: '/{slug}'
    requirements:
        slug: '[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*'
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        route: 'app_national_event_by_slug'
        slug: 'slug'

app_national_event:
    host: '{app_domain}'
    resource: '../src/Controller/Renaissance/NationalEvent'
    prefix: '/grand-rassemblement'
    type: attribute
    defaults:
        app_domain: '%national_event_host%'
    requirements:
        app_domain: '%national_event_host%|%user_vox_host%'

renaissance_site:
    host: '%renaissance_host%'
    path: '/'

besoindeurope_site:
    host: '%besoindeurope_host%'
    path: '/'

legislative_site:
    host: '%legislative_host%'
    path: '/'

vox_app:
    host: '%vox_host%'
    path: '/'

vox_app_redirect:
    methods: GET
    host: '%user_vox_host%'
    path: /app
    controller: App\Controller\OAuth\RedirectAppController

vox_app_redirect_from_admin:
    methods: GET
    host: '%admin_renaissance_host%'
    path: /vox
    controller: App\Controller\OAuth\RedirectAppController

cadre_app_redirect:
    methods: GET
    host: '%user_vox_host%'
    path: /cadre
    controller: App\Controller\OAuth\RedirectAppController
    defaults:
        clientCode: jemengage_web

user_renaissance_redirect:
    host: '%user_vox_host%'
    path: /
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        route: 'app_renaissance_login'

renaissance_qr_code:
    host: '%renaissance_qrcode_host%'
    path: '/{uuid}'
    methods: 'GET'
    controller: App\Controller\EnMarche\QrCodeController

app_validate_email:
    host: '{app_domain}'
    path: '/api/validate-email'
    methods: POST
    controller: App\Controller\Renaissance\Adhesion\Api\ValidateEmailController
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: '%app_renaissance_host%|%national_event_host%|%procuration_host%|%user_vox_host%'

app_zone_autocomplete:
    host: '{app_domain}'
    path: '/api/zone/autocomplete'
    methods: GET
    controller: App\Controller\Api\Zone\ZoneAutocompleteController
    defaults:
        app_domain: '%procuration_host%'
    requirements:
        app_domain: '%procuration_host%|%api_renaissance_host%'

app_renaissance_newsletter_confirm:
    host: '{app_domain}'
    path: '/newsletter/confirmation/{uuid}/{confirm_token}'
    methods: GET
    controller: App\Controller\Renaissance\Newsletter\ConfirmNewsletterController
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%national_event_host%|%user_vox_host%'

app_profile:
    host: '{app_domain}'
    type: attribute
    resource: '../src/Controller/EnMarche/UserController.php'
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: '%app_host%|%app_renaissance_host%'

app_certification:
    host: '{app_domain}'
    type: attribute
    resource: '../src/Controller/EnMarche/CertificationRequestController.php'
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: '%app_host%|%app_renaissance_host%'

robots:
    host: '{app_domain}'
    path: '/robots.txt'
    controller: App\Controller\RobotsController
    defaults:
        app_domain: '%user_vox_host%'
    requirements:
        app_domain: '%user_vox_host%|%admin_renaissance_host%'

# VOX redirect paths
app_renaissance_event_show:
    path: '/app/evenements/{slug}'
    controller: App\Controller\OAuth\RedirectAppController::redirectToState
vox_app_profile:
    path: '/app/profil'
    controller: App\Controller\OAuth\RedirectAppController::redirectToState
vox_app_elect:
    path: '/app/profil/informations-elu'
    controller: App\Controller\OAuth\RedirectAppController::redirectToState
