#
# AvecVous
#
avecvous_qr_code:
    host: "%avecvous_qrcode_host%"
    path: "/{uuid}"
    methods: "GET"
    controller: App\Controller\EnMarche\QrCodeController

#
# JeMengage
#
app_jemengage_login:
    host: "%jemengage_auth_host%"
    path: ""
    controller: App\Controller\EnMarche\Security\SecurityController::loginAction
    defaults:
        app: jemengage

app_jemengage_forgot_password:
    host: "%jemengage_auth_host%"
    path: "/mot-de-passe-oublie"
    controller: App\Controller\EnMarche\Security\SecurityController::retrieveForgotPasswordAction
    defaults:
        app: jemengage

app_user_login_check:
    host: "{app_domain}"
    path: "/connexion/check"
    methods: "POST"
    controller: App\Controller\EnMarche\Security\SecurityController::loginCheckAction
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: "%app_host%|%jemengage_auth_host%|%app_renaissance_host%"

logout:
    host: "{app_domain}"
    path: "/deconnexion"
    methods: "GET"
    controller: App\Controller\EnMarche\Security\SecurityController::logoutAction
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: "%app_host%|%jemengage_auth_host%|%app_renaissance_host%"

app_adherent_reset_password:
    host: "{app_domain}"
    path: "/changer-mot-de-passe/{adherent_uuid}/{reset_password_token}"
    methods: "GET|POST"
    controller: App\Controller\EnMarche\Security\SecurityController::resetPasswordAction
    defaults:
        app_domain: '%app_host%'
    requirements:
        app_domain: "%app_host%|%jemengage_auth_host%|%app_renaissance_host%"

app_jemengage:
    host: '%jemengage_auth_host%'
    resource: "../src/Controller/JeMengage"
    type: "annotation"

#
# Assets
#
app_assets:
    resource: "../src/Controller/AssetsController.php"
    type:     "annotation"
    host: "{app_domain}"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

#
# Mooc
#
app_mooc:
    resource: "../src/Controller/MoocController.php"
    type:     "annotation"

#
# User uploaded documents
#
app_documents:
    resource: "../src/Controller/UploadDocumentController.php"
    type:     "annotation"

#
# API
#
app_api:
    host:     "{app_domain}"
    resource: "../src/Controller/Api"
    type:     "annotation"
    prefix:   "%api_path_prefix%"
    defaults:
        _format: 'json'
        app_domain: "%api_renaissance_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%|%api_renaissance_host%"

api_login_check:
    path: "%api_path_prefix%/login_check"

#
# API Platform
#
api_platform:
    resource: .
    type: api_platform
    prefix: "%api_path_prefix%"

swagger_ui:
    path: "%api_path_prefix%/swagger"
    controller: api_platform.swagger.action.ui

#
# API Legislatives
#
app_legislatives_api:
    host:     "{app_domain}"
    resource: "../src/Controller/Api/LegislativesController.php"
    type:     "annotation"
    prefix:   "%api_path_prefix%"
    defaults:
        _format: 'json'
        app_domain: "%legislatives_host%"
    requirements:
        app_domain: "%app_host%|%legislatives_host%|%app_renaissance_host%"

#
# OAuth
#
app_oauth:
    host:     "{app_domain}"
    resource: "../src/Controller/OAuth"
    type:     "annotation"
    prefix:   "/oauth/v2"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%|%api_renaissance_host%|%jemengage_auth_host%"

#
# Admin panel
#
admin_dashboard:
    host:     "%app_renaissance_host%"
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix:   "/admin"

admin_crud:
    host:     "%app_renaissance_host%"
    resource: .
    type:     sonata_admin
    prefix:   "/admin"

app_admin:
    host:     "%app_renaissance_host%"
    resource: "../src/Controller/Admin"
    type:     "annotation"
    prefix:   "/admin"

lexik_paybox_ipn_bc:
    host:     "{app_domain}"
    path: /don/payment-ipn/{time}
    controller: lexik_paybox.controller.default
    methods: [ GET, POST ]
    defaults:
        app_domain: "%app_renaissance_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

lexik_paybox_ipn:
    host: "%webhook_renaissance_host%"
    path: /paybox/payment-ipn/{time}
    controller: lexik_paybox.controller.default
    methods: [ GET, POST ]

# This route must be loaded first to prevent another route to match his path
map_events:
    host:    "%app_host%"
    path:    /evenements/la-carte
    methods: GET
    defaults: { _controller: 'App\Controller\EnMarche\MapController:eventsAction' }

app_enmarche:
    host:     "%app_host%"
    resource: "../src/Controller/EnMarche"
    type:     "annotation"

#
# Legislatives app
#
app_legislatives:
    host:     "%legislatives_host%"
    resource: "../src/Controller/Legislatives"
    type:     "annotation"

#
# Legacy
#
app_desintox:
    host: "%app_host%"
    path: /emmanuel-macron/desintox/{slug}
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        slug: ~
        route: ''

#
# Redirections
#
app_redirect_login:
    host: "%app_host%"
    path: /login
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        route: app_user_login

app_redirect_register:
    host: "%app_host%"
    path: /register
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        route: app_membership_join

app_redirect_inscription:
    host: "%app_host%"
    path: /inscription
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        route: app_membership_join
        permanent: true

app_renaissance_adherent_space:
    host: "%app_renaissance_host%"
    path: /espace-adherent
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
    defaults:
        route: app_renaissance_event_list

app_voting_platform:
    resource: "../src/Controller/EnMarche/VotingPlatform"
    type:     "annotation"
    prefix:   "/elections/{uuid}"
    trailing_slash_on_root: false
    requirements:
        uuid: "%pattern_uuid%"

app_procuration:
    host: "%procuration_host%"
    resource: "../src/Controller/Procuration"
    type: "annotation"

app_assessor:
    host: "%assessor_host%"
    resource: "../src/Controller/Assessor"
    type: "annotation"
    prefix: "%assessor_path_prefix%"

app_legislative_avecvous:
    host: "%legislatives_avecvous_host%"
    resource: "../src/Controller/Legislatives/Newsletter"
    type: "annotation"

app_api_intl:
    host: "{app_domain}"
    prefix: "%api_path_prefix%"
    resource: "../src/Controller/IntlController.php"
    type: "annotation"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%procuration_host%|%app_renaissance_host%"

app_nous_reussirons:
    host:     "%nous_reussirons_host%"
    path:     /
    methods:  GET
    defaults: { _controller: App\Controller\EnMarche\PageController:showPageAction, slug: 'nous-reussirons' }


app_webhook_renaissance:
    host:   "%webhook_renaissance_host%"
    resource: "../src/Controller/Webhook"
    type: "annotation"

app_renaissance:
    host:   "%app_renaissance_host%"
    resource: "../src/Controller/Renaissance"
    type: "annotation"

app_renaissance_national_event:
    host:   "%national_event_host%"
    resource: "../src/Controller/Renaissance/NationalEvent"
    type: "annotation"

renaissance_site:
    host: "%renaissance_host%"
    path: "/"

app_renaissance_login:
    host: "%app_renaissance_host%"
    path: "/connexion"
    controller: App\Controller\EnMarche\Security\SecurityController::loginAction
    defaults:
        app: renaissance

app_renaissance_forgot_password:
    host: "%app_renaissance_host%"
    path: "/mot-de-passe-oublie"
    controller: App\Controller\EnMarche\Security\SecurityController::retrieveForgotPasswordAction
    defaults:
        app: renaissance

user_validate_new_email:
    host: "{app_domain}"
    path: "/valider-changement-email/{adherent_uuid}/{change_email_token}"
    controller: App\Controller\EnMarche\Security\SecurityController::activateNewEmailAction
    methods: GET
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"
        "adherent_uuid": "%pattern_uuid%"
        "change_email_token": "%pattern_sha1%"

renaissance_qr_code:
    host: "%renaissance_qrcode_host%"
    path: "/{uuid}"
    methods: "GET"
    controller: App\Controller\EnMarche\QrCodeController

app_api_form_validation:
    host: "{app_domain}"
    prefix: "%api_path_prefix%"
    resource: "../src/Controller/Api/FormController.php"
    type: "annotation"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

app_api_resubscribe_email:
    host: "{app_domain}"
    prefix: "%api_path_prefix%"
    resource: "../src/Controller/Api/ResubscribeEmailController.php"
    type: "annotation"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

app_api_user_show_me:
    host: "{app_domain}"
    path: '%api_path_prefix%/users/me'
    methods: GET
    controller: App\Controller\Api\UserController::showMe
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

app_article:
    host: "{app_domain}"
    type: "annotation"
    resource: "../src/Controller/EnMarche/ArticleController.php"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

app_profile:
    host: "{app_domain}"
    type: "annotation"
    resource: "../src/Controller/EnMarche/UserController.php"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

app_quiz_europe:
    path: /espace-adherent/quiz-europe
    controller: Symfony\Bundle\FrameworkBundle\Controller\TemplateController
    defaults:
        template: 'renaissance/quiz_europe.html.twig'

app_certification:
    host: "{app_domain}"
    type: "annotation"
    resource: "../src/Controller/EnMarche/CertificationRequestController.php"
    defaults:
        app_domain: "%app_host%"
    requirements:
        app_domain: "%app_host%|%app_renaissance_host%"

# This route must be loaded the last to prevent an override
app_static_page:
    host: "{app_domain}"
    path: /{slug}
    methods: GET
    defaults:
        _controller: 'App\Controller\EnMarche\PageController:showPageAction'
        app_domain: "%app_host%"
    requirements:
        slug: .+
        app_domain: "%app_host%|%app_renaissance_host%"
