parameters:
    timeline_max_messages: 10

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\DataFixtures\:
        resource: '%kernel.project_dir%/src/DataFixtures/'

    Tests\App\Test\Geocoder\DummyGeocoder: ~

    Geocoder\Geocoder: '@Tests\App\Test\Geocoder\DummyGeocoder'

    Doctrine\Bundle\FixturesBundle\Loader\SymfonyFixturesLoader:
        alias: 'doctrine.fixtures.loader'
        public: true

    app.mailer.transactional_client:
        class: 'Tests\App\Test\Mailer\NullEmailClient'

    app.mailer.campaign_client:
        class: 'Tests\App\Test\Mailer\NullEmailClient'

    App\Recaptcha\RecaptchaApiClient:
        class: 'Tests\App\Test\Recaptcha\DummyRecaptchaApiClient'

    Tests\App\Test\Algolia\DummySearchService:
        decorates: 'search.service'
        arguments: ['@Tests\App\Test\Algolia\DummySearchService.inner']

    App\OpenGraph\OpenGraphFetcher:
        class: 'Tests\App\Test\OpenGraph\DummyOpenGraphFetcher'

    data_collector.messenger:
        class: Symfony\Component\Messenger\DataCollector\MessengerDataCollector
        tags: [{ name: 'data_collector', id: messenger, template: profiler/messenger.html.twig }]
