parameters:
    locale:                               fr
    locales:                              [fr, en]
    pattern_uuid:                         '[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}-[0-9A-Fa-f]{12}'
    pattern_sha1:                         '[0-9A-Fa-f]{40}'
    pattern_coordinate:                   '-?\d+(\.\d{1,7})?'
    timeline_max_messages:                30
    search_max_results:                   30
    enable_canary:                        "%env(ENABLE_CANARY)%"
    procurations_reply_to_email:          'contact@en-marche.fr'
    transactional_sender_email:           'contact@en-marche.fr'
    transactional_sender_name:            'La République En Marche !'
    campaign_sender_email:                'jemarche@en-marche.fr'
    campaign_sender_name:                 'La République En Marche !'
    feed_ttl:                             60 # in minutes
    legislatives_financial_hotline_email: 'comptes.legislatives@en-marche.fr'
    legislatives_standard_hotline_email:  'campagne.legislatives@en-marche.fr'
    algolia.application_id:               "%env(ALGOLIA_APP_ID)%"
    algolia.api_key:                      "%env(ALGOLIA_BACK_API_KEY)%"
    app_host:                             "%env(APP_HOST)%"
    amp_host:                             "%env(AMP_HOST)%"
    legislatives_host:                    "%env(LEGISLATIVES_HOST)%"
    nous_reussirons_host:                 "%env(NOUS_REUSSIRONS_HOST)%"
    mooc_base_url:                        "%env(MOOC_BASE_URL)%"
    api_path_prefix:                      "%env(API_PATH_PREFIX)%"
    router.request_context.scheme:        "%env(APP_SCHEME)%"
    router.request_context.host:          "%app_host%"
    image_max_length:                     450px
    webhook.email_subscriptions_secret:   "%env(APP_EMAIL_SUBSCRIPTIONS_WEBHOOK_SECRET)%"
    sonata.exporter.writer.csv.with_bom:  true
    adherent_message_referent_limit: 1000
    adherent_message_committee_limit: 1000
    adherent_message_deputy_limit: 1000
    adherent_message_senator_limit: 1000

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $mailchimpClient: '@csa_guzzle.client.mailchimp_api'
            $mailchimpListId: '%env(MAILCHIMP_MEMBER_LIST_ID)%'
            $mailchimpElectedRepresentativeListId: '%env(MAILCHIMP_ELECTED_REPRESENTATIVE_LIST_ID)%'
            $transactionalMailer: '@app.mailer.transactional'
            $votingProcessWorkflow: '@state_machine.voting_process'
            $votingPlatformCache: !service
                class: Symfony\Component\Cache\Simple\Psr6Cache
                arguments: ['@app.cache.voting_platform']
            $geoGouvApiClient: '@app.http_client.geo_gouv'

    _instanceof:
        App\Adherent\Unregistration\Handlers\UnregistrationAdherentHandlerInterface:
            tags: ['app.adherent.unregistration.handler']
        App\Adherent\Certification\Handlers\CertificationRequestHandlerInterface:
            tags: ['app.adherent.certification_request.handler']
        App\AdherentMessage\MailchimpCampaign\Handler\MailchimpCampaignHandlerInterface:
            tags: [ 'app.adherent_message.mailchimp.campaign.handler' ]
        App\AdherentMessage\TransactionalMessage\MessageModifier\MessageModifierInterface:
            tags: [ 'app.adherent_message.transaction.message_modifier' ]
        App\AdherentMessage\Sender\SenderInterface:
            tags: [ 'app.adherent_message.sender' ]
        App\TerritorialCouncil\Handlers\TerritorialCouncilMembershipHandlerInterface:
            tags: ['app.adherent.territorial_council_membership.handler']
        Symfony\Component\Messenger\Handler\MessageHandlerInterface:
            tags: ['messenger.message_handler']

    # Imports
    App\Adherent\Unregistration\Handlers\:
        resource: '../src/Adherent/Unregistration/Handlers/'
    App\Adherent\Certification\:
        resource: '../src/Adherent/Certification'
    App\AdherentMessage\:
        resource: '../src/AdherentMessage'
    App\Command\:
        resource: '../src/Command/*'
    App\Form\:
        resource: '../src/Form/'
    App\Image\:
        resource: '../src/Image/'
    App\TerritorialCouncil\:
        resource: '../src/TerritorialCouncil/'
    App\VotingPlatform\:
        resource: '../src/VotingPlatform/'

    # Services
    Algolia\AlgoliaSearchBundle\Indexer\Indexer: '@algolia.indexer'

    App\Map\StaticMapProviderInterface: '@app.map.google_maps_static_provider'

    App\Adherent\Handler\RemoveAdherentAndRelatedDataCommandHandler:
        arguments:
            $handlers: !tagged 'app.adherent.unregistration.handler'

    App\Adherent\Certification\CertificationRequestProcessCommandHandler:
        arguments:
            $handlers: !tagged 'app.adherent.certification_request.handler'

    App\Adherent\Handler\AdherentUpdateTerritorialCouncilMembershipsCommandHandler:
        arguments:
            $handlers: !tagged 'app.adherent.territorial_council_membership.handler'

    App\AdherentMessage\Listener\InitialiseMailchimpCampaignEntitySubscriber:
        arguments: [ !tagged 'app.adherent_message.mailchimp.campaign.handler' ]

    App\AdherentMessage\Listener\UpdateTransactionalAdherentMessageDataListener:
        arguments: [ !tagged 'app.adherent_message.transaction.message_modifier' ]

    App\AdherentMessage\AdherentMessageManager:
        arguments:
            $senders: !tagged 'app.adherent_message.sender'

    App\AdherentMessage\MessageLimiter:
        arguments:
            -
                referent: '%adherent_message_referent_limit%'
                committee: '%adherent_message_committee_limit%'
                deputy: '%adherent_message_deputy_limit%'
                senator: '%adherent_message_senator_limit%'

    App\AdherentMessage\Listener\AdherentMessageChangeSubscriber:
        tags: ['doctrine.event_subscriber']

    # Form
    App\Form\PurifiedTextareaType:
        arguments:
            -
                default: '@app.html_purifier.default'
                enrich_content: '@app.html_purifier.enrich_content'

    App\Form\MemberInterestsChoiceType:
        arguments:
            - '%adherent_interests%'
