imports:
    - { resource: services_dev.yaml }

#parameters:
#    ssl_encryption_key: '%env(SSL_ENCRYPTION_KEY)%'
#    ssl_private_key: '%env(SSL_PRIVATE_KEY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    Tests\App\Behat\:
        resource: '../tests/Behat/*'
        exclude:
            - '../tests/Behat/Context/JsonContext.php'
            - '../tests/Behat/Context/RestContext.php'

    Doctrine\Bundle\FixturesBundle\Loader\SymfonyFixturesLoader: '@doctrine.fixtures.loader'

    League\Glide\Server:
        factory: League\Glide\ServerFactory::create
        arguments:
            - source: '@League\Flysystem\FilesystemOperator'
              cache: '@memory.storage'
              response: '@League\Glide\Responses\SymfonyResponseFactory'
              max_image_size: 4000000 # Max image size in number of pixels (2000x2000)

    test.App\Adherent\Handler\RemoveAdherentAndRelatedDataCommandHandler: '@App\Adherent\Handler\RemoveAdherentAndRelatedDataCommandHandler'
    test.App\Vision\IdentityDocumentParser: '@App\Vision\IdentityDocumentParser'
    App\Image\ImageManagerInterface: '@Tests\App\Test\Image\DummyImageManager'
    App\Messenger\MessageRecorder\MessageRecorderInterface: '@App\Messenger\MessageRecorder\MessageRecorder'

    Tests\App\HttpClient\MockHttpClientCallback: ~
    Tests\App\Test\Image\DummyImageManager: ~
    Tests\App\Controller\TestUXComponentController: ~

    Tests\App\Test\Payment\PayboxProvider:
        arguments:
            - '%env(OAUTH_PRIVATE_KEY)%'
