{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block page_title 'Don' %}

{% set bg_color = 'bg-green' %}

{% block content_left_side %}
    <div class="absolute bottom-0 md:h-full flex flex-col justify-end md:justify-center px-3.75 md:px-7.5 mb-3.75">
        <p class="text-white font-bold text-[1.75rem] leading-8 md:text-custom-xl md:mb-16">
            {% block donation_title %}
                Faire <span class="stabilo stabilo-green">un don</span> au parti <br />Renaissance.
            {% endblock %}
        </p>
    </div>
{% endblock %}
