{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block page_title 'Don' %}

{% block back_btn_target path('app_donation_index') %}

{% set left_side_background = 'bg-light-green' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 'w-20 h-20 re-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block content_right_side %}
    <div class="mx-5 my-10 flex flex-grow items-center justify-center">
        {% block donation_content '' %}
    </div>
{% endblock %}
