{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block page_title 'Don' %}

{% set bg_color = 'bg-green' %}
{% set background_image = '/images/renaissance/parcours-don.jpg' %}

{% block content_left_side %}
    <div class="flex md:flex-grow md:items-center md:mt-0 ml-7 text-white font-bold text-[1.75rem] leading-8 md:text-custom-xl md:mb-16 w-full">
        <p>
            {% block donation_title %}
                Faire <span class="stabilo stabilo-green">un don</span> au parti <br />Renaissance.
            {% endblock %}
        </p>
    </div>
{% endblock %}

{% block content_right_side %}
    <div class="mx-5 my-10 flex flex-grow items-center justify-center">
        {% block donation_content '' %}
    </div>
{% endblock %}
