{% extends 'renaissance/double_columns_layout.html.twig' %}

{% block page_title 'Don' %}

{% block back_btn_target path('app_renaissance_donation') %}

{% set left_side_background = 'bg-light-green' %}

{% block content_left_side %}
    {% include 'renaissance/partials/left-side-content.html.twig' with {
        re_logo_class: 're-logo-green',
        text_color_class: 'text-green',
    } %}
{% endblock %}

{% block content_right_side %}
    <div class="flex flex-col items-center justify-center pt-10">
        <h1 class="text-custom-2xl text-green">{% block donation_content_title %}Faire <span class="stabilo stabilo-green font-bold">un don</span> au parti Renaissance.{% endblock %}</h1>
    </div>

    <div class="mx-5 flex flex-grow items-center justify-center">
        {% block donation_content '' %}
    </div>

{% endblock %}
