{% extends 'renaissance/donation/_layout.html.twig' %}

{% block donation_content_title %}
    Je donne <span class="stabilo stabilo-green font-bold">par chèque</span>
{% endblock %}

{% set back_btn_target = path('app_donation_index') %}

{% block donation_content %}
    <section class="w-96">
        <h2 class="uppercase text-center text-green text-2xl lg:text-3xl">
            Je donne <span class="stabilo stabilo-green font-bold text-white">par chèque</span>
        </h2>
        <div class="mt-10 text-center leading-6 md:leading-9">
            <h3 class="text-xl text-gray-900">Vous pouvez télécharger un bulletin de don et nous envoyer le chèque à :</h3>
            <p class="mt-2 text-lg text-gray-500">
                Renaissance <br/>
                Pôle Financier <br/>
                68 rue du Rocher, <br/>
                75008 Paris
            </p>
        </div>
        <div class="flex mt-6 justify-between">
            <a href="https://storage.googleapis.com/parti-renaissance.fr/Bulletin-don-Renaissance-2023.pdf" class="button button-green button-full">
                Télécharger un bulletin de don
            </a>
        </div>
    </section>
{% endblock %}
