{% extends 'renaissance/donation/_layout.html.twig' %}

{% block donation_content_title %}
    Je donne <span class="stabilo stabilo-green font-bold">par chèque</span>
{% endblock %}

{% set back_btn_target = path('app_renaissance_donation') %}

{% block donation_content %}
    <section class="w-96">
        <p class="uppercase text-center text-green font-din text-xl mb-12">
            Je donne <span class="stabilo stabilo-green font-bold">par chèque</span>
        </p>
        <div class="text-center font-normal leading-6.25 md:text-2xl md:leading-9">
            <h1 class="text-2xl">Vous pouvez télécharger un bulletin de don et nous envoyer le chèque à :</h1>
            <p class="text-lg">
                Renaissance <br/>
                Pôle Financier <br/>
                68 rue du Rocher, <br/>
                75008 Paris
            </p>
        </div>
        <div class="flex mt-4 justify-between">
            <a href="https://storage.googleapis.com/en-marche-fr/Bulletin-don_RENAISSANCE_sept2022_digital.pdf" class="button button-green button-full">
                Télécharger un bulletin de don
            </a>
        </div>
    </section>
{% endblock %}
