{% extends 'renaissance/donation/_donation_layout.html.twig' %}

{% block final_javascripts %}
    <script type="text/javascript">
        Bootstrap.onLoad(function () {
            Main.runDonationPage();
        });
    </script>
{% endblock %}

{% block content_right_side %}
    <section class="self-center w-full">
        <form method="post" action="{{ path('app_renaissance_donation') }}" class="renaissance-donation-widget-wrapper"></form>

        <div class="flex mt-4 justify-between">
            <a href="{{ path('app_renaissance_donation_cheque') }}" class="w-full py-5 bg-blue-700 hover:bg-blue-500 text-white hover:text-white px-4 border border-blue-500 hover:border-transparent rounded font-din font-bold uppercase text-center">
                Je donne par chèque
            </a>
        </div>
    </section>
{% endblock %}
