{% extends 'renaissance/donation/_layout.html.twig' %}

{% block donation_content_title %}
    <span class="text-yellow font-bold">
        {% if successful %}
            Votre don est validé
        {% else %}
            Votre don a échoué
        {% endif %}
    </span>
{% endblock %}

{% block donation_content %}
    <section class="w-96">
        {% if successful %}
            <div>
                <h1 class="uppercase text-center text-green font-bold font-din text-xl mb-12">Votre don est validé !</h1>
                <p class="mb-10">
                    Continuons à transformer notre pays ensemble ! Les dons sont une ressource vitale pour Renaissance !
                    Chaque don, quel que soit le montant, nous permet d'engager une action concrète pour réussir ensemble la transformation du pays.
                    <br /><br />
                    <strong>C'est votre engagement qui fait vivre cette promesse !</strong>
                </p>
            </div>
            <div class="flex mt-4 justify-between">
                <a href="{{ path('renaissance_site') }}" class="button button-green button-full">
                    Retourner sur la page d'accueil
                </a>
            </div>
        {% else %}
            <div>
                <h1 class="uppercase text-center text-yellow font-bold font-din text-xl mb-12">Votre don a échoué !</h1>
                <p class="mb-10">{{ get_payment_message_by_code(result_code)|trans|raw }}</p>
            </div>
            <div class="flex mt-4 justify-between">
                <a href="{{ retry_url }}" class="button button-yellow button-full">
                    Je souhaite réessayer
                </a>
            </div>
            <p class="mt-5">
                Si le problème persiste, veuillez <a class="underline font-bold" href="https://contact.en-marche.fr" target="_blank" rel="noopener noreferrer">nous contacter</a>.
            </p>
        {% endif %}
    </section>
{% endblock %}
