{% extends 'renaissance/donation/_layout.html.twig' %}

{% block donation_title %}
    <span class="text-yellow font-bold">
        {% if successful %}
            Votre don est validé
        {% else %}
            Votre don a échoué
        {% endif %}
    </span>
{% endblock %}

{% block donation_content %}
    <section class="w-96">
        {% if successful %}
            <div>
                <h1 class="font-bold mt-5">Votre don est validé !</h1>
                <p>
                    Continuons à transformer notre pays ensemble ! Les dons sont une ressource vitale pour Renaissance !
                    Chaque don, quel que soit le montant, nous permet d'engager une action concrète pour réussir ensemble la transformation du pays.
                    <br /><br />
                    <strong>C'est votre engagement qui fait vivre cette promesse !</strong>
                </p>
            </div>
            <div class="mt-4">
                <a href="{{ path('app_renaissance_homepage') }}" class="bg-blue-700 hover:bg-blue-500 text-white-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Retourner sur la page d'accueil
                </a>
            </div>
        {% else %}
            <div>
                <h1 class="text-yellow font-bold mt-5">Votre don a échoué !</h1>
                <p>{{ get_payment_message_by_code(result_code)|trans|raw }}</p>
            </div>
            <div class="mt-4">
                <a href="{{ retry_url }}" class="bg-yellow hover:bg-yellow-700 text-black font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Je souhaite réessayer
                </a>

                <p class="mt-4">
                    Si le problème persiste, veuillez <a href="https://contact.en-marche.fr" target="_blank" rel="noopener noreferrer">nous contacter</a>.
                </p>
            </div>
        {% endif %}
    </section>
{% endblock %}
