{% extends 'renaissance/donation/_donation_layout.html.twig' %}

{% block donation_title %}
    <span class="text-yellow font-bold">
        {% if successful %}
            Votre don est validé
        {% else %}
            Votre don a échoué
        {% endif %}
    </span>
{% endblock %}

{% block content_right_side %}
    <section class="self-center">
        {% if successful %}
            <div>
                <h1>Votre don est validé !</h1>
                <p>
                    Continuons à transformer notre pays ensemble ! Les dons sont une ressource vitale pour Renaissance !
                    Chaque don, quel que soit le montant, nous permet d'engager une action concrète pour réussir ensemble la transformation du pays.
                    <br /><br />
                    <strong>C'est votre engagement qui fait vivre cette promesse !</strong>
                </p>
            </div>
            <div class="mt-4">
                <a href="{{ path('app_renaissance_homepage') }}" class="bg-green-400 hover:bg-green-700 text-white-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                    Retourner sur la page d'accueil
                </a>
            </div>
        {% else %}
            <div>
                <div>
                    <h3>{{ get_payment_message_by_code(result_code)|trans|raw }}</h3>

                    <a href="{{ retry_url }}">
                        Je souhaite réessayer
                    </a>

                    <p>
                        Si le problème persiste, veuillez <a href="https://contact.en-marche.fr" target="_blank" rel="noopener noreferrer">nous contacter</a>.
                    </p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
