{% extends 'national_council/_layout.html.twig' %}

{% block sub_content %}
    <article class="font-roboto">
        <h2 class="text--medium-large font-gillsans b__nudge--bottom-large">Mot d’accueil</h2>
        <p>
            Chèr(e)s membres du Conseil national,
            <br/><br/>
            Depuis le vote de nos nouveaux statuts en 2019, nous avons mis en place notre nouvelle structuration
            territoriale pour permettre de décentraliser, d’améliorer la représentativité de nos instances, d’améliorer
            la parité et d’intégrer les milliers d’élus locaux que compte maintenant notre Mouvement. Des centaines
            d’élections locales ont eu lieu ces derniers mois. Elles ont permis notamment de désigner les quatuors
            représentant chaque territoire dans la nouvelle forme de notre Conseil national.
            <br/><br/>
            Comme l’indiquent nos statuts ce Conseil national, c’est le parlement de la République En Marche. Vous en
            êtes les membres pour porter la voix des marcheurs de vos territoire, échanger sur les orientations du
            Mouvement et veiller à son bon fonctionnement. Ce Conseil sera en particulier l’occasion d’élire les membres
            de notre bureau exécutif dont le mandat est arrivé à échéance il y a quelques mois.
            <br/><br/>
            Ce Conseil national <strong>aura lieu d’une façon dématérialisée du 19 au 21 juillet et sera présidé par Julien Denormandie</strong>.
            <br/><br/>
            Vous trouverez ci-dessous toutes les modalités validées par le bureau exécutif du 7 juin 2021.
        </p>

        <p><strong>Qui allez-vous élire et comment ?</strong></p>

        <ul class="disc b__nudge--left">
            <li>Le collège des 20 membres élus du bureau exécutif. Ce collège doit être issu du Conseil national,
                paritaire, et au moins la moitié de ce collège ne doit pas exercer de mandat électoral.
            </li>
            <li>C’est un scrutin à un tour à la majorité simple, donc la liste des 20 adhérents qui aura fait le plus
                grand nombre de voix parmi les membres du Conseil national, sera élue.
            </li>
            <li>Le vote sera dématérialisé et aura lieu du lundi 19 juillet à 13h30 jusqu’au mercredi 21 juillet à 16h.
                Le vote étant dématérialisé et sur plusieurs jours, il n’y aura pas de système de procurations. Les
                membres du Conseil national titulaires d’un mandat électif donnant lieu à des indemnités ou exerçant une
                fonction gouvernementale devront être à jour de cotisation au 1er janvier 2021 pour être en capacité de
                voter. Les personnes non à jour peuvent se rapprocher de l’équipe financière du Mouvement à cette
                adresse : cotisations@en-marche.fr. Les régularisations éventuelles devront avoir lieu au plus tard 7
                jours avant l’ouverture du Conseil national.
            </li>
        </ul>

        <p>
            <strong>Quelles sont les dates à retenir ?</strong>
        </p>

        <ul class="disc b__nudge--left">
            <li>Le 5 juillet à 18h : date limite pour déposer les dossiers de candidature.</li>
            <li>Le 7 juillet : information par le bureau exécutif des listes validées.</li>
            <li>Le 9 juillet : mail de publication des différentes listes envoyé aux membres du Conseil national et aux
                adhérents.
            </li>
            <li>Le 19 juillet à 12h30 : ouverture du Conseil national dématérialisé (visioconférence).</li>
            <li>Du lundi 19 juillet à 13h30 au mercredi 21 juillet à 16h : vote dématérialisé pour l’élection du collège
                des 20 membres élus du bureau exécutif.
            </li>
            <li>Le 21 juillet à 20h : conclusion du Conseil national dématérialisée (visioconférence) et annonce des
                résultats.
            </li>
        </ul>

        <p>
            <strong>Comment déposer un dossier de candidature ?</strong>
        </p>

        <ul class="disc b__nudge--left">
            <li>Les dossiers sont à adresser à l’attention du bureau exécutif en format papier dactylographiés (déposé
                au siège contre récépissé ou A/R avec avis de réception) ou envoyé par email à l’adresse
                conseil.national@en-marche.fr. A noter que le siège sera en cours de déménagement à ces dates, nous vous
                recommandons par conséquent de prendre rendez-vous avec les équipes du Mouvement.
            </li>
            <li>Chaque dossier doit contenir les 20 noms (pas d’ordre de le liste) avec pour chacun des candidats : le
                nom, prénom, genre, mandat électoral (et pour les élus indemnisés, une confirmation qu’ils sont à jour
                de cotisation), adresse et date de naissance. Chaque candidat appose sa signature sur la liste et joint
                la copie de sa carte nationale d’identité ou son passeport en cours de validité. Une adresse mail et un
                numéro de téléphone devra être fourni pour les interactions avec l’équipe du Mouvement.
            </li>
            <li>La cotisation des adhérents titulaires d’un mandat électif donnant lieu à des indemnités ou exerçant une
                fonction gouvernementale doit être à jour au 1er janvier 2021. Les personnes non à jour peuvent se
                rapprocher de l’équipe financière du Mouvement à cette adresse : cotisations@en-marche.fr. Les
                régularisations éventuelles devront avoir lieu avant le dépôt des listes pour les candidats au bureau
                exécutif.
            </li>
            <li>Pour la bonne tenue de la campagne il sera aussi demandé lors du dépôt du dossier les photos des
                colistiers et les documents de campagne.
            </li>
        </ul>

        <p>
            <strong>Comment va se dérouler la campagne électorale ?</strong>
        </p>

        <ul class="disc b__nudge--left">
            <li>Un espace dédié sur la plateforme intitulé “Conseil national” sera accessible depuis votre compte
                adhérent. Dans cet espace chaque membre pourra consulter les listes avec les photos et nom des
                candidats, un texte général et 1 à 3 liens. Dans cet espace sera aussi accessible la liste des membres
                du Conseil national.
            </li>
            <li>Les listes pourront partager leurs éléments de présentation et de propagande (une photo des membres avec
                nom et prénom, un texte et 1 à 3 liens) au travers de deux mails envoyés à l’ensemble des membres du
                Conseil national :
            </li>
            <li>Le 9 juillet avec remise des éléments de présentation et de propagande avant le 5 juillet au plus
                tard.
            </li>
            <li>Le 18 juillet avec remise des éléments de présentation et de propagande le 16 juillet au plus tard.</li>
            <li>Chaque liste aura la possibilité d’organiser une visioconférence d'une heure entre le lundi 12 juillet
                et le vendredi 16 juillet avec une invitation par mail et deux messages d’invitation pour la boucle du
                Conseil national.
            </li>
            <li>Chaque liste bénéficiera d’un budget de 3 000€ pris en charge par le Mouvement pour la réalisation des
                documents de présentation et de propagande (photo, profession de foi, etc.).
            </li>
            <li>Lors du dépôt des listes, un numéro sera attribué en fonction de l’ordre de dépôt. La liste déposée en
                premier sera dénommée « Liste 1 » et figurera en 1er dans les différentes communications, la liste
                déposée en deuxième sera dénommée « Liste 2 » etc.
            </li>
        </ul>

        <p>
            <strong>Vous souhaitez communiquer vos coordonnées aux listes candidates ?</strong>
            <br/><br/>
            Pour que les candidats des listes puissent vous contacter directement, vous pouvez remplir ce court
            formulaire : https://enmarche.typeform.com/to/tI4T5x.
            Si vous le remplissez, vos coordonnées seront transmises à toutes les listes candidates.
            <br/><br/>
            Vous avez des questions ?
            <br/><br/>
            Les équipes du mouvement sont à votre disposition pour toutes questions à l’adresse
            conseil.national@en-marche.fr.
            <br/><br/>
            Les membres du Conseil national peuvent saisir la Commission électorale pour toute contestation relative au
            déroulement du scrutin ou à ses résultats.
            <br/><br/>
            Nous reviendrons vers vous prochainement pour la convocation officielle du Conseil national qui détaillera
            l’ordre du jour et toutes les modalités de vote. D’ici là nous vous enverrons un lien sécurisé vers le
            channel d’information et la boucle d’échange réservée aux membres du Conseil national sur l’application
            Telegram.
            <br/><br/>
            Bien cordialement,<br/>
            L’équipe de La République En Marche
        </p>
    </article>
{% endblock %}
