{% extends 'besoindeurope/base_legislative.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block sub_content %}
    <div class="md:grid mb-[120px] md:grid-cols-2 w-full relative">
        <div class="md:sticky md:top-[56px] md:h-[100vh] p-8 md:pt-16"></div>
        <div class="flex gap-8 flex-col pt-8 md:pl-0 items-center justify-center md:items-start">
             {% block content_section '' %}
        </div>
    </div>
{% endblock %}
