{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block content %}
    <main class="bg-[#F4F4F7] re_new_ui">
        <div
            {% block content_title '' %}
        </div>

        <div>
            {% block additional_content '' %}
        </div>
    </main>
{% endblock %}
