{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block content %}
    <main class="bg-[#F4F4F7] re_new_ui">
        Proposition (Mandataire)

        Merci {{ procuration_proxy.firstNames }} !
    </main>
{% endblock %}
