{% extends 'procuration_v2/_form.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block content_title %}
    Proposition (Mandataire)
{% endblock %}

{% block title_content_section %}
    Je vote<br>deux fois
{% endblock %}

{% block description_content_section %}
    Ça vous dit de voter une 2e fois le neuf juin ? Remplissez ce formulaire et nous vous mettrons en relation avec une personne proche de chez vous qui ne pourra pas voter.
{% endblock %}

{% block legal_content_section %}
    {{ election.proxyLegal|markdown }}
{% endblock %}

{% block alternative_form %}
    <p class="text-center">
        Vous ne pouvez pas aller voter le 9 juin ?
        <br>
        <a
            class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer"
            href="{{ url('app_procuration_v2_request', { slug: election.slug }) }}">
            Donnez procuration
        </a>
    </p>
{% endblock %}

{% block inner_content_section %}
    <fieldset>
        <twig:Atoms:ReLabel>Mon numéro d’électeur</twig:Atoms:ReLabel>
        <p class="text-[#555555] opacity-50">Il facilitera la démarche pour vous faire procuration.</p>
        {{ form_row(form.electorNumber, {attr: { placeholder: 'Mon numéro d’électeur', 'x-numberonly':'', validate: '["max:9"]' }}) }}

    </fieldset>

    <fieldset x-show="isNotInFrance">
        <twig:Atoms:ReLabel>Et si vous votiez une 3e fois ?</twig:Atoms:ReLabel>
        <p class="text-[#555555] opacity-50">Les Français de l’étranger peuvent porter jusqu’à deux procurations pour les élections européennes.</p>
        {{ form_row(form.slots) }}
    </fieldset>
{% endblock %}
