{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block content %}
    <main class="bg-[#F4F4F7] re_new_ui">
        Proposition (Mandataire)

        <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
    </main>
{% endblock %}
