
{% extends 'procuration_v2/_layout_thanks.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% set copylink = url('app_procuration_v2_proxy', { slug: procuration_proxy.round.election.slug })  %}

{% block thanks_text %}

    <p>Votre demande a bien été enregistrée.</p>

    <p>Nous venons de vous envoyer un email de confirmation avec des informations complémentaires.</p>

    <p> Nous vous informerons dès qu'une opportunité de procuration se présente dans votre bureau de vote ou à proximité. </p>

{% endblock %}
