{% extends 'procuration_v2/_form.html.twig' %}

{% block page_title 'Procuration - Proposition (Mandataire)' %}

{% block content_title %}
    Proposition (Mandataire)
{% endblock %}

{% block inner_content_section %}
    <fieldset>
        <twig:Atoms:ReLabel>Mon numéro d’électeur</twig:Atoms:ReLabel>
        <p class="text-[#555555] opacity-50">Il facilitera la démarche pour vous faire procuration.</p>
        {{ form_row(form.electorNumber, {attr: { placeholder: 'Mon numéro d’électeur' }}) }}

        <p>
            Votre bureau de vote et votre numéro d’électeur sont affichés sur votre carte électorale.
            <br />
            Si vous ne l’avez pas, récupérez ces informations en quelques clics sur le formulaire de situation électorale de l’État.
        </p>
    </fieldset>
    <p>
        Votre bureau de vote et votre numéro d’électeur sont affichés sur votre carte électorale.
    </p>
    <p>
        Si vous ne l’avez pas, récupérez ces informations en quelques clics sur le formulaire de situation électorale de l’État.
    </p>
    <fieldset>
        <twig:Atoms:ReLabel>Mon nombre de procurations</twig:Atoms:ReLabel>
        <p class="text-[#555555] opacity-50">Lorem ipsum</p>
        {{ form_row(form.slots) }}
    </fieldset>
{% endblock %}
