{% extends 'procuration_v2/_form.html.twig' %}

{% block page_title 'Procuration - Demande (Mandant)' %}

{% block content_title %}
    Demande (Mandant)
{% endblock %}

{% block title_content_section %}
    Je vote par<br>procuration
{% endblock %}

{% block description_content_section %}
    Vous cherchez une personne pour voter pour vous ? Remplissez ce formulaire et nous vous mettrons en relation avec une personne proche de chez vous.
{% endblock %}

{% block inner_content_section %}
{% endblock %}

{% block legal_content_section %}
    {{ election.requestLegal|markdown }}
{% endblock %}


{% block alternative_form %}
    <p class="text-center">
        Vous ne cherchez pas à faire procuration ?
        <br>
        <a
            class="text-[#1877F2] text-center hover:text-[rgb(20,86,171)] cursor-pointer"
            href="{{ url('app_procuration_v2_proxy', { slug: election.slug }) }}">
            Votez une deuxième fois le 9 juin
        </a>
    </p>
{% endblock %}
