{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Procuration - Demande (Mandant)' %}

{% block content %}
    <main class="bg-[#F4F4F7] re_new_ui">
        Demande (Mandant)

        <input type="hidden" id="email-validation-token" value="{{ email_validation_token }}"/>
    </main>
{% endblock %}
