{% if has_role_adherent %}
    <div class="text--body text--with-bullet space--10-0">{{ item.content|raw }}</div>
{% else %}
    <div class="committee-message-invisible text--body space--10-0">
        <a href="{{ path('app_renaissance_login') }}">Connectez-vous</a>
        afin de voir ce message.
    </div>
{% endif %}
