{% import 'voting_platform/_macros.html.twig' as helper %}

<div class="box__content">
    {% if candidate_group %}
        {% for candidate in candidate_group.getCandidatesSorted() %}
            <h4 class="candidate-pool text--medium b__nudge--left-medium">{{ candidate.fullName }}</h4>
        {% endfor %}
    {% else %}
        <h4 class="candidate-pool text--medium b__nudge--left-medium">Bulletin blanc</h4>
    {% endif %}
</div>
