<li>
    <a href="{{ path('admin_app_email_transactionalemailtemplate_content', {id: object.id}) }}" class="sonata-action-element" title="Éditer le contenu">
        <i class="fa fa-file-text"></i> Éditer le contenu
    </a>
</li>
