<a href="{{ path('admin_app_email_transactionalemailtemplate_send_test', {id: object.id}) }}" class="btn btn-sm btn-info" title="Envoyer un test">
    <i class="fa fa-send" aria-hidden="true"></i>
    Envoyer un test
</a>
