<a href="{{ path('admin_app_email_transactionalemailtemplate_duplicate', {id: object.id}) }}" class="btn btn-sm btn-default" title="Dupliquer">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Dupliquer
</a>
