<a href="{{ path('admin_app_email_transactionalemailtemplate_preview', {id: object.id}) }}" class="btn btn-sm btn-warning" title="Visualiser">
    <i class="fa fa-eye" aria-hidden="true"></i>
    Visualiser
</a>
