<form method="post" action="{{ path('app_renaissance_donation') }}" class="renaissance-donation-widget-wrapper">
    <input type="hidden" name="montant" class="renaissance-amount-chooser" />

    <button type="submit" title="Je donne" class="text-center bg-white py-5.75 px-7.5 rounded text-light-blue uppercase font-bold text-lg mr-4">
        Donner à Renaissance <i class="fa fa-caret-right text-black"></i>
    </button>
</form>
