{% extends 'base.html.twig' %}

{% block content %}
<main>
    <section class="article">
        <header class="space--60-0 l__wrapper--slim">
            <h1 class="text--large b__nudge--bottom-small">
                {{ article.title }}
            </h1>
            <h2 class="text--gray b__nudge--bottom">{{ article.description }}</h2>
            <ul class="article__social">
                <li role="button" arial-label="Partagez sur Facebook"><a href="#" class="btn btn--social btn--facebook"><i class="fa fa-facebook-square"></i> Partagez</a></li>
                <li role="button" aria-label="Partagez sur Twitter"><a href="#" class="btn btn--social btn--twitter"><i class="fa fa-twitter"></i> Tweetez</a></li>
                <li role="button" arial-label="Partagez via email"><a href="#" class="btn btn--social btn--email"><i class="fa fa-envelope-o"></i> Envoyez</a></li>
            </ul>
        </header>

        <figure class="fullscreen">
            <img src="{{ article.image }}">
        </figure>

        <article class="text--summary l__wrapper--slim">
            {{ article.content|raw }}
        </article>

        <ul class="article__social space--60-0 l__wrapper-slim">
            <li role="button" arial-label="Partagez sur Facebook"><a href="#" class="btn btn--social btn--facebook"><i class="fa fa-facebook-square"></i> Partagez</a></li>
            <li role="button" aria-label="Partagez sur Twitter"><a href="#" class="btn btn--social btn--twitter"><i class="fa fa-twitter"></i> Tweetez</a></li>
            <li role="button" arial-label="Partagez via email"><a href="#" class="btn btn--social btn--email"><i class="fa fa-envelope-o"></i> Envoyez</a></li>
        </ul>

    </section>
</main>
{% endblock %}
