@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';
@import 'components';
@import 'pages';

[x-cloak] {
  display: none;
}

.text--center {
  text-align: center;
}

@layer base {
  .re_new_ui {
    input[type='text']:focus, textarea:focus {
      @apply ring-0;
    }
  }
}


.re-voting {
  overflow: hidden;

  &.voting-platform__header {
    @apply bg-re-blue-500 py-5 md:py-6;

    .l__wrapper--wide {
      @apply mx-auto max-w-8xl px-4 md:px-6 lg:px-8 md:flex md:items-center md:justify-between;

      .l__row.heading-link {
        @apply md:flex md:items-center md:space-x-4;
        a {
          @apply block mt-2 md:mt-0 text-white hover:text-re-blue-200 font-medium duration-200 transition-colors;
        }
      }
    }
  }

  &.voting-platform {
    min-height: calc(100vh - 152px);
    @apply relative bg-gradient-to-b from-re-blue-50 via-blue-50 to-white h-full flex items-center justify-center md:min-h-[calc(100vh-120px)];

    .voting-platform {
      &__ornaments {
        @apply hidden lg:block absolute inset-0;

        .ornament--1, .ornament--2, .ornament--3 {
          display: none;
        }
      }

      &__content {
        @apply w-full lg:max-w-4xl lg:mx-auto py-12 md:py-16 lg:py-20 space-y-8 lg:space-y-10;

        .introduction-header,
        .confirmation-header {
          @apply space-y-4 lg:space-y-6;

          h1 {
            @apply text-2xl font-bold text-gray-900 lg:text-5xl font-din;
          }

          p {
            @apply text-base text-blue-500 lg:text-lg;
          }
        }

        .election-vote, .text--body {
          @apply prose lg:prose-lg prose-blue lg:max-w-none prose-headings:font-din prose-a:no-underline;
        }

        .b__nudge {
          &--top-50 {
            @apply mt-10 lg:mt-14;
          }

          &--top-15 {
            @apply mt-3 lg:mt-5;
          }

          &--bottom-large {
            @apply mb-5 lg:mb-8
          }

          &--top-large {
            @apply mt-5 lg:mt-8
          }
        }

        .vp-container {
          @apply flex items-center justify-center;
          h1 {
            @apply text-center text-xl font-bold text-gray-900 lg:text-3xl font-din;
          }
        }

        .text--on-white.space--20 {
          @apply inline-block bg-white rounded-md px-5 py-3 text-gray-900 font-medium shadow-sm;
        }
      }

      &__results {
        .candidate__box {
          .progress-bar {
            &__gauge .slider {
              background: theme('colors.re.blue.500');
            }
          }
        }
      }
    }
  }

  .btn {
    &.btn--blue {
      @apply transition-colors duration-300 text-white rounded-md hover:bg-re-blue-900 focus:ring-2 focus:ring-offset-2 focus:ring-re-blue-500;
    }

    &.btn--ghosting--blue {
      @apply bg-re-blue-50 font-medium hover:bg-white border border-re-blue-300 no-underline;
      color: theme('colors.re.blue.500') !important;
    }

    &.btn-disabled {
        @apply opacity-60 cursor-not-allowed;
    }
  }

  .anonymous {
    @apply mt-3 flex items-center text-white space-x-3 md:mt-0;
  }

  .ballot-paper-container {
    @apply mx-auto flex items-center justify-center flex-wrap gap-6;

    .ballot-paper {
      @apply p-5 bg-white rounded-md lg:px-8 lg:py-6 shadow-lg;
    }
  }

  a.link--blue--dark {
    @apply inline-block font-medium hover:text-re-blue-700;
    color: theme('colors.re.blue.500') !important;
  }
}

.election-vote__boxes {
  @apply grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-6 m-0;

  .candidate__box {
    @apply flex flex-col bg-white shadow rounded-lg;

    ul {
      li {
        margin: 0 !important;
        padding-left: 0;
      }
    }

    input[type=radio] {
      @apply hidden;
    }

    input[type=radio]:checked + label {
      @apply shadow rounded-lg ring-2 ring-re-blue-500 ring-offset-2;
    }
  }
}

.grid-paginator {
  margin-bottom: 70px;
  text-align: center;
  margin-top: 50px;

  ul li {
    display: inline-block;
    height: 40px;
    min-width: 40px;
    border: 1px solid black;

    &:hover {
      border-color: rgba(0, 0, 0, 0.5);
    }

    a, span {
      top: 9px;
      position: relative;
      border: none;
      padding: 11px 15px 10px;

      svg {
        top: 2px;
        position: relative;
      }
    }

    &.active {
      border: none;
      font-weight: 700;
    }
  }
}

@layer components {
  .flex-column-container {
    @apply block md:flex flex-col flex-1 border-t border-white w-10/12 pt-4 md:pt-8 mb-12 md:mb-0;
  }

  .button-group {
    @apply cursor-pointer border-2 border-black/20 hover:border-light-blue-500/20 border-l border-r first:border-l-2 last:border-r-2 text-center font-medium text-sm text-black py-5 active:border-light-blue-500/20 active:text-black first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg;
  }

  .button, .btn {
    @apply px-5 py-3 md:px-7 md:py-4 text-xs border text-center md:text-base;

    &-full {
      @apply w-full px-7 py-4;
    }
  }

  .renaissance-amount-chooser {
    @apply flex flex-col;

    &__button {
      @apply flex flex-col items-center justify-center space-y-1 bg-white text-green button-group grow border border-green border-x first:border-l last:border-r;

      &:hover {
        @apply bg-lighter-green text-green border-green;
      }

      &--selected {
        @apply bg-lighter-green;
      }
    }

    &__other {
      @apply flex flex-col gap-x-4 w-full lg:max-w-2xl;

      &__input {
        @apply rounded border focus:ring-0 border-green focus:border-green w-full bg-white text-green font-medium text-sm placeholder:text-green placeholder:font-medium p-5 mb-4;
      }

      &-error {
        input {
          @apply border-red focus:border-red text-red;
        }

        span {
          color: #F00032;
        }
      }
    }
  }

  .civility-choice {
    input[type=radio]:checked + label,
    input[type=radio]:focus + label {
      @apply bg-re-blue-100;
    }
  }

  .page-content {
    h1, h2, h3 {
      @apply font-bold mb-8;
    }

    h1 {
      @apply text-3xl;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    ol {
      @apply list-disc;
    }
  }

  .carousel {
    @apply relative w-full;

    &-inner {
      @apply relative grid transition-all duration-300;
      transform: translate3d(0, 0, 0);
    }

    &-inner {
      &__item {
        padding: 0 20px;

        @media (max-width: 800px) {
          padding: 0;
        }
      }
    }

    &-navigation__button {
      @apply inline-flex h-10 w-10 items-center justify-center shadow-md text-light-blue-500 leading-5 transform rounded-full focus:ring-2 bg-lighter-blue hover:scale-110 transition duration-200 ease-in-out absolute top-1/2 -translate-y-1/2;

      &--next {
        @apply right-0;
      }

      &--prev {
        @apply right-auto left-0;
      }
    }

    &-widget {
      article {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
          display: none;
        }
      }
    }
  }
}
