@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';
@import 'components';
@import 'pages';

[x-cloak] {
    display: none;
}

@layer components {
    .flex-column-container {
        @apply block md:flex flex-col flex-1 border-t border-white w-10/12 pt-4 md:pt-8 mb-12 md:mb-0;
    }

    .button-group {
        @apply cursor-pointer border-2 border-black/20 hover:border-light-blue-500/20 border-l border-r first:border-l-2 last:border-r-2 text-center font-medium text-sm text-black py-5 active:border-light-blue-500/20 active:text-black first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg;
    }

    .button {
        @apply px-5 py-3 md:px-7 md:py-4 text-xs border text-center md:text-base;

        &-full {
            @apply w-full px-7 py-4;
        }
    }

    .form-control {
        @apply border-0 w-full bg-gray text-dark-blue font-medium text-sm placeholder:text-dark-blue placeholder:font-medium focus:ring-0 p-0;

        & option {
            color: black;
        }
    }

    .form-group {
        @apply flex flex-col gap-x-4 bg-gray w-full rounded-lg border-2 border-gray/20 focus-within:border-dark-blue px-4 py-3 mb-4;

        label {
            font-size: small;
            font-weight: 500;
            text-transform: uppercase;
            color: #1254D8;
        }

        &:focus-within {
            label {
                color: #00205F;
            }
        }
    }

    .renaissance-amount-chooser {
        @apply flex flex-col;

        &__button {
            @apply bg-white text-green button-group grow border border-green border-x first:border-l last:border-r;

            &:hover {
                @apply bg-lighter-green text-green border-green;
            }

            &--selected {
                @apply bg-lighter-green;
            }
        }

        &__other {
            @apply flex flex-col gap-x-4 w-full lg:max-w-2xl;

            &__input {
                @apply rounded border focus:ring-0 border-green focus:border-green w-full bg-white text-green font-medium text-sm placeholder:text-green placeholder:font-medium p-5 mb-4;
            }
        }
    }

    .page-content {
        h1, h2, h3 {
            @apply font-bold mb-8;
        }

        h1 {
            @apply text-3xl;
        }

        h2 {
            @apply text-2xl;
        }

        h3 {
            @apply text-xl;
        }

        ol {
            @apply list-disc;
        }
    }

    .carousel {
        @apply relative w-full;

        &-inner {
            @apply relative grid transition-all duration-300;
            transform: translate3d(0, 0, 0);
        }

        &-inner {
            &__item {
                padding: 0 20px;
            }
        }

        &-navigation__button {
            @apply inline-flex h-10 w-10 items-center justify-center shadow-md text-light-blue-500 leading-5 transform rounded-full focus:ring-2 bg-lighter-blue hover:scale-110 transition duration-200 ease-in-out absolute top-1/2 -translate-y-1/2;

            &--next {
                @apply right-0;
            }

            &--prev {
                @apply right-auto left-0;
            }
        }

        &-widget {
            article {
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8),
                &:nth-child(9) {
                    display: none;
                }
            }
        }
    }
}
