.idea-card-skeleton-list {
  .idea-card-skeleton {
    margin-bottom: 20px;
  }
}

.idea-card-skeleton-list--grid {
  display: flex;
  flex-wrap: wrap;

  .idea-card-skeleton-list__item-wrapper {
    flex-basis: 50%;
    padding-bottom: 10px;

    &:nth-child(2n) {
      padding-left: 10px;
    }

    &:nth-child(2n + 1) {
      padding-right: 10px;
    }
  }
}
