<figure class="fixed md:top-[80px] w-full h-64 sm:h-[70vh]">
    <video disableRemotePlayback class="object-cover absolute top-0 left-0 w-full h-full pointer-events-none hidden md:block" autoplay loop muted poster="https://assets.parti-renaissance.fr/national/cinema.jpg">
    </video>

    <img class="object-cover absolute top-0 left-0 w-full h-full md:hidden" src="https://assets.parti-renaissance.fr/national/cinema.jpg">
    <div class="absolute bottom-0 w-full h-1/3 bg-gradient-to-t from-[#D9DDD7]"></div>
</figure>
