<a href="https://www.facebook.com/besoindeurope">
    <img src="{{ asset('images/icons/bde/social-icons/facebook.svg') }}" alt="Facebook">
</a>
<a href="https://twitter.com/besoindeurope">
    <img src="{{ asset('images/icons/bde/social-icons/x.svg') }}" alt="x">
</a>
<a href="https://www.instagram.com/besoindeurope">
    <img src="{{ asset('images/icons/bde/social-icons/instagram.svg') }}" alt="Instagram">
</a>
