{% extends 'base.html.twig' %}

{% set homepage_url = 'https://avecvous.fr' %}
{% block open_graph_image 'https://avecvous.fr/wp-content/uploads/2022/01/AV-VIGNETTE-YOUTUBE-TEASER-1.jpg' %}
{% block open_graph_image_height 900 %}

{% block app_title 'Avec vous' %}
{% block page_title 'Assesseur(e)' %}
{% block canonical_url url('app_assessor_request') %}
{% block meta_description "Proposez-vous en tant qu'assesseur(e)" %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}

{% block favicons %}
    <link rel="icon" type="image/png" href="{{ asset('favicon-avecvous-32x32.png') }}" sizes="32x32" />
{% endblock %}

{% block content %}
    <main class="assessor">
        <div class="assessor__upper">
            <section class="assessor__header--outer l__row l__row--h-stretch list__links--nav progressive-background text--center text--white"
                     data-sd="{{ static_asset('procuration.jpg', { w: 300, q: 20 }) }}"
                     data-hd="{{ static_asset('procuration.jpg', { w: 2000, q: 70 }) }}">

                <div class="assessor__header--inner l__wrapper--medium">
                    <h1 class="text--larger">
                        Proposez-vous en tant qu'assesseur(e)
                    </h1>
                    {% block subtitle %}
                        {{ cms_block('assesseur-request-subtitle')|markdown }}
                    {% endblock %}
                </div>
            </section>

            <section>
                {% block assessor_content %}{% endblock %}
            </section>
        </div>
    </main>
{% endblock %}
