{% extends 'base.html.twig' %}

{% block page_title 'Participer à un événement' %}

{% block content %}
    <section class="l__wrapper">
        <a href="{{ path('app_committee_show_event', {'uuid': committee_event.uuid.toString, 'slug': committee_event.slug}) }}"
           class="previous-link icon--with-text text--summary">
            {{ include('components/caret--left.html.twig') }}
            Retour à la page de l'événement
        </a>

        {{ include('events/_event_header.html.twig') }}

        <hr/>
    </section>
    <section class="l__wrapper-500 space--30-0 b__nudge--bottom-huge text--center">
        <div class="committee-event-registration-confirmation">
            <p class="text--body b__nudge--bottom">
                Votre participation est bien enregistrée !
            </p>
            <div class="text--center">
                <a class="btn" href="{{ path('app_committee_show_event', {'uuid': committee_event.uuid.toString, 'slug': committee_event.slug}) }}">Retour à l'événement</a>
            </div>
        </div>
    </section>
{% endblock %}
