{% extends 'municipal_chief/municipal/_edit_tags.html.twig' %}

{% block links %}
    <a href="{{ path('app_municipal_chief_municipal_running_mate_request') }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
        ⟵ Retour
    </a>
{% endblock %}
