{% extends 'municipal_chief/_layout.html.twig' %}

{% block municipal_chief_content %}
    <div class="referent__menu-list-event">
        <div class="menu-items">
            <h3>Candidats colistiers</h3>
            <span class="separator">|</span>
            <h3><a href="{{ path('app_municipal_chief_municipal_volunteer_request') }}">Candidats bénévoles</a></h3>
        </div>
    </div>

    <div id="datagrid"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runManagedList(
                [
                    {
                        key: 'lastName',
                        name: 'Nom',
                    },
                    {
                        key: 'firstName',
                        name: 'Prénom',
                    },
                    {
                        key: 'phone',
                        name: 'Téléphone',
                    },
                    {
                        key: 'favoriteCities',
                        name: 'Ville(s) choisie(s)',
                    },
                    {
                        key: 'tags',
                        name: 'Tags de candidature',
                        className: 'municipal-candidate-tags',
                    },
                    {
                        key: 'isAdherent',
                        name: 'Adhérent ?',
                    },
                    {
                        key: 'menu',
                        name: 'Action',
                        menu: true,
                    },
                ],
                [
                    {% for running_mate in running_mates %}
                        {% if running_mate.takenForCity %}
                            {% set team_url = '#' %}
                            {% if running_mate.takenForCity in app.user.municipalChiefManagedArea.codes %}
                                {% set team_url = path('app_municipal_chief_municipal_running_mate_request_remove_from_team', {uuid: running_mate.uuid}) %}
                            {% endif %}
                        {% else %}
                            {% set team_url = path('app_municipal_chief_municipal_running_mate_request_add_to_team', {uuid: running_mate.uuid}) %}
                        {% endif %}

                        {% include 'application_request/municipal/_running_mate_row.js.twig'
                            with {
                                running_mate: running_mate,
                                show_route_name: 'app_municipal_chief_municipal_running_mate_request_detail',
                                edit_route_name: 'app_municipal_chief_municipal_running_mate_request_edit_tags',
                                menu: [
                                    {
                                        label: running_mate.takenForCity ? 'Retirer de mon équipe' : 'Ajouter à mon équipe',
                                        url: team_url,
                                        className: 'row-action text--dark link--no-decor' ~ (team_url is same as('#') ? ' link--disabled')
                                    }
                                ]
                            }
                        %},
                    {% endfor %}
                ]
            );
        });
    </script>
{% endblock %}
