{% extends 'base.html.twig' %}

{% block page_title page.title %}
{% block canonical_url url('app_static_page', { slug: page.slug }) %}

{% block content %}
    <main id="default-with-header">
        <section class="content">
            {% if page.headerMedia %}
                <header style="background-image:url('{{ media_asset(page.headerMedia, { w: 1920, fit: 'max' }) }}');"></header>
            {% endif %}

            <article class="l__wrapper--slim b__nudge--bottom-huge">
                {{ page.content|markdown_to_html }}
            </article>
        </section>
    </main>
{% endblock %}
