{% extends 'base_renaissance.html.twig' %}

{% block page_title page.title %}
{% block canonical_url url('app_static_page', { slug: page.slug }) %}

{% block content %}
    <main class="flex flex-col h-screen">
        {% include 'renaissance/partials/site-header.html.twig' %}

        <section class="page-content flex-grow">
            <header class="bg-light-blue py-15">
                <h1 class="text-custom-2xl text-white font-bold text-center">
                    {{ page.title }}
                </h1>
            </header>

            <article class="max-w-screen-lg mx-5 md:mx-auto my-20">
                {{ page.content|markdown_to_html }}
            </article>
        </section>

        {% include 'renaissance/partials/small-footer.html.twig' %}
    </main>
{% endblock %}
