@import './QuestionBlock/style';
@import './CreateIdeaActions/style';
@import './IdeaPageHeader/style';
@import './IdeaContent/style';
@import './IdeaPageTitle/style';
@import './VotingFooterIdeaPage/style';
@import './IdeaPageSkeleton/style';

.create-idea-page {
  position: relative;
  border-top: 1px solid $gainsboro;
  word-wrap: break-word;

  .create-idea-page__content {
    padding: 70px 0;
    background-color: $snow;
  }

  .create-idea-page__content__main {
    margin-top: 30px;
    border-radius: 2px;
    padding: 80px 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;
  }

  .create-idea-page__status-label {
    display: inline-flex;
    align-items: center;
    height: 23px;
    margin: 0 0 15px;
    padding: 0 8px;
    background-color: $honeydew;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: $ufo-green;

    &__icn {
      height: 13px;
      margin-right: 4px;
    }
  }

  .create-idea-page__footer {
    margin-top: 80px;
  }

  .create-idea-page__auto-save {
    text-align: center;

    .create-idea-page__auto-save__label {
      display: inline-flex;
      margin: 0;
      border-radius: 20px;
      padding: 7px 13px;
      background-color: $glitter;
      font-size: 14px;
      color: $slate-grey;

      .create-idea-page__auto-save__icon {
        margin-right: 8px;
      }
    }
  }

  /* Responsive */
  @media #{$mobile} {
    border-top: 0;

    .create-idea-page__content {
      padding: 50px 0;
    }

    .create-idea-page__content__main {
      width: 100%;
      margin: 0;
      padding: 40px 20px;
    }

    .create-idea-actions__back {
      margin-bottom: 20px;
    }

    .create-idea-page__auto-save {
      margin-bottom: 30px;
    }
  }

  @media #{$tablet} {
    .create-idea-page__content__main {
      padding: 40px;
    }
  }
}
