#search-overlay {
    display: none;
}

.g-search {
    display: flex !important;
    flex-direction: column;
    background: white;
}

.g-search__header {
    height: 108px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 300;
    background: white;

    @media (max-width: $mobile) {
        span {
            display: none;
        }
    }
}

.g-search__content {
    display: flex;
    flex-direction: column;
    top: 108px;
    position: relative;
}

.g-search__results {
    top: 138px;
    position: relative;
}

.g-search__search {
    margin-bottom: 15px;

    &--outer {
        position: fixed;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 300;
    }

    input[type="text"] {
        border: 0;
        border-bottom: 1px solid black;
        padding: 10px 0;
        font-weight: bold;
        width: 100%;
        @include text--large;

        &::placeholder {
            color: $gray;
        }

        &:focus {
            outline: none;
        }
    }

    form {
        display: flex;
        align-items: flex-end;
    }
}

#header-banner.hide-me,
header.hide-me,
main.hide-me,
footer.hide-me,
#footer-banner.hide-me {
    display: none !important;
}
