.spaces {
    &__header {
        @media (max-width: $tablet) {
            padding: 20px 0;
        }

        &__logo {
            height: 33px;

            svg {
                width: 54px;
                height: 33px;
            }
        }

        &__separator {
            height: 24px;
            background: $gray--light;
            width: 1px;
            margin: 0 10px;
        }

        &__name {
            @include text--medium-large;
            font-weight: 300;
            color: $blue--dark;
            letter-spacing: 0.5px;
            border-bottom: 0;
        }

        ul {
            margin-top: 7px;
            margin-left: 30px;

            @media (max-width: $tablet) {
                margin: 20px 0 0;
            }

            li {
                @include text--default;
            }
        }
    }

    &__search {
        &--mobile {
            display: none;
        }

        @media (max-width: 1200px) {
            display: none;

            &--mobile {
                display: block;
            }
        }

        &__filters {
            display: flex;
            justify-content: space-between;

            > ul:first-child,
            > ul:nth-child(2) {
                width: 23%;
            }

            > ul:last-child {
                width: 48%;
            }
        }

        &__results {
            @media (max-width: $mobile) {
                h2,
                span {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__results__row {
        border-top: 1px solid $gray--light;
        display: flex;
        justify-content: space-between;
        @include text--body;
        padding: 15px 0;
        flex-direction: column;

        @media (min-width: $mobile) {
            flex-direction: row;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            width: 100%;
            text-align: left;

            &:nth-child(4) {
                margin-top: 10px;
            }

            @media (min-width: $mobile) {
                align-items: flex-start;

                &:nth-child(1) {
                    width: 6rem;
                    justify-content: center;
                    align-items: center;

                    > div {
                        border-radius: 50%;
                        width: 55px;
                        height: 55px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                &:nth-child(2) {
                    width: 14rem;
                    padding: 0 10px;
                }

                &:nth-child(3) {
                    width: 25rem;
                    padding: 0 10px;
                }

                &:nth-child(4) {
                    width: 30rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: row;
                    margin: 0;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
