.manager-header {
    background-color: $pale-grey;
    margin-bottom: 68px;

    .first-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 35px 0;

        .manager-information {
            margin-top: 20px;
            p {
                font-family: $font-roboto;
                font-size: $text--size-small;
                color: $silver-grey;
                margin: 0;

                span {
                    color: $black;
                    font-weight: bold;
                }
            }
        }

        .report {
            @include text--uppercase;
            font-size: 13px;
            color: $silver-grey;
            letter-spacing: 1px;
            margin: 0;
        }
    }

    .second-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        h1.page-title {
            margin-bottom: 20px;
            margin-right: 30px;
        }

        .direct-actions {
            font-size: 0;
            display: flex;
            width: 100%;
            margin-bottom: 20px;

            .btn {
                flex-basis: 50%;

                span {
                    display: none;
                }
            }

            .btn:first-child {
                margin-right: 10px;
            }
        }
    }

    &__menu {

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-bottom: 1px solid $lines-grey;
            padding-bottom: 15px;
            @media (min-width: $tablet) {
                padding-bottom: 0;
            }

            li {
                display: inline-block;
                margin: 0 15px -1px 0;
                @media (min-width: $tablet) {
                    margin: 10px 25px -1px 0;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                & a {
                    @include manager-menu-item;
                    display: inline-block;
                    padding: 5px 0 14px 0;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        color: $black;
                        @media (min-width: $tablet) {
                            border-bottom-color: $turquoise;
                        }
                    }
                }

                &:hover {
                    & .toggle-menu {
                        display: block;
                    }
                }

                &.active a {
                    color: $black;
                    font-weight: bold;
                    @media (min-width: $tablet) {
                        border-bottom-color: $turquoise;
                    }

                }
            }
        }
    }

    // I know, it's a custom size... but goes great like this
    @media (min-width: 1150px) {

        &__menu {
            ul {
                li {
                    &.menu-right {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    @media (min-width: $mobile) {

        .first-section {
            flex-direction: row;

            .manager-information {
                margin: 0 20px 20px 0;
            }
        }

        .second-section {

            .direct-actions {
                width: auto;

                .btn {
                    flex-basis: auto;

                    span {
                        display: inline;
                    }
                }
            }
        }
    }
}

.manager__fixed-bar {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: -80px;
    opacity: 0;
    background-color: $white;
    box-shadow: 0 2px 4px 0 rgba(99, 98, 150, 0.15);
    width: 100%;
    height: 80px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;

    @media (min-width: $tablet) {
        &.active {
            top: 0;
            opacity: 1;
            position: fixed;

        }
    }


    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        p {
            font-size: 18px;
            font-family: $font-roboto;
            width: calc(100% - 500px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            span {
                font-weight: bold;
            }
        }

        .direct-actions {
            font-size: 0;

            .btn {
                margin-left: 10px;
            }
        }
    }
}

.tips-information {
    max-width: 900px;
    background-color: $warning-bkg;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    padding: 20px;
    margin-bottom: 60px;
    color: $warning-text;
}
