#data-corner-modal--content-inner {
    font-family: Poppins, sans-serif;

    h4 {
        color: $black;
        font-size: 48px;
        margin: 32px 0;

        span {
            color: $dataCornerBlue;
            font-style: italic;
            font-weight: 300;
        }
    }

    img {
        width: 50%;
        margin-bottom: 31px;
    }

    a {
        color: $white;
        background-color: $dataCornerBlue;
        padding: 12px 24px;
        border-radius: 6px;
        border-bottom: none;
        box-shadow: 0 1px 1px 0 rgba(0, 11, 52, 0.12);
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 11, 52, 0.12);
        -moz-box-shadow: 0 1px 1px 0 rgba(0, 11, 52, 0.12);

        &:hover {
            background-color: $dataCornerBlueHover;
        }
    }
}
