@mixin filter-label {
    display: block;
    @include filter-label-text;
    color: $silver-grey;
    margin-bottom: 7px;
    text-transform: uppercase;
}

@mixin filter-field {
    box-sizing: border-box;
    display: block;
    @include filter-field-text;
    width: 100%;
    padding-left: 12px;
    color: $dark;
    margin: 0;
    height: 40px;
    border-radius: 2px;
    border: solid 1px $filter-field-border;
    background-color: $white;
}

@mixin filter-radio-label {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-family: $font-roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: $dark;
    margin: 0;
    height: 40px;
    border: solid $filter-field-border;
    border-width: 1px 1px 1px 0px;
    background-color: $white;
    line-height: 40px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
}

@mixin filter-radio-input {
    position: absolute;
    width: 22px;
    height: 22px;
    margin: 0;
    outline: 0;
    z-index: -1;
}

.manager__filters {
    background-color: $pale-grey;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 45px;

    @media (min-width: $mobile) {
        padding: 40px 40px 25px 40px;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__subtitle {
        margin-bottom: 30px;
        font-size: 18px;
        color: $black;
        line-height: normal;
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__section {
        width: 100%;

        @media (min-width: $mobile) {
            width: calc(50% - 30px);
            margin-right: 30px;
        }

        @media (min-width: $tablet) {
            width: calc(33.33% - 30px);
            margin-right: 30px;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        .btn:first-child {
            margin-right: 15px;
        }
    }

    .filter__row {
        margin-bottom: 16px;

        .filter__label {
            @include filter-label;
        }

        .filter__field {
            @include filter-field;

            &::placeholder {
                color: $neutral-grey;
                font-weight: normal;
            }

            &:disabled {
                background-color: #EEF2F7;
                color: rgba(123,136,155,0.5);
                cursor: not-allowed;

                &::placeholder {
                    color: rgba(123,136,155,0.5) !important;
                }
            }
        }

        .filter__compl-info {
            display: block;
            line-height: 14px;
            font-size: 12px;
            color: $silver-grey;
            margin-top: 5px;
            opacity: 0.8;
        }

        .filter__radio {
            &__tabs {
                display: flex;
                flex-direction: row;
            }

            &__tab {
                position: relative;
                flex-grow: 1;

                label {
                    @include filter-radio-label;
                }

                &:first-child {
                    label {
                        border-left-width: 1px;
                        border-radius: 2px 0 0 2px;
                    }
                }

                &:last-child {
                    label {
                        border-radius: 0 2px 2px 0;
                    }
                }

                input[type='radio'] {
                    @include filter-radio-input;
                }

                input[type='radio']:checked+label {
                    font-weight: bold;
                }
            }

            &__tabs {
                &.inputs {
                    &--3 {
                        .filter__radio__tab {
                            flex-basis: 33%;
                        }
                    }
                    &--4 {
                        .filter__radio__tab {
                            flex-basis: 25%;
                        }
                    }
                }
            }
        }

        .filter__multi {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            line-height: 40px;

            label {
                margin-bottom: 0;
            }
        }

        .form__checkbox {
            input:disabled + .form__label {
                color: rgba(123,136,155,0.5);
                cursor: not-allowed;

                &:before {
                    background-color: #EEF2F7;
                }
            }
        }
    }
}
