@mixin table-btn {
    display: inline-block;
    background-color: white;
    font-size: 16px;
    color: $blue--dark;
    font-weight: bold;
    padding: 6px 15px;
    border: 1px solid #c5d1e6;
    border-radius: 20px;
    line-height: normal;
    outline: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;

    &:hover {
        background-color: $blue--dark;
        border: 1px solid $blue--dark;
        color: white;
        cursor: pointer;
    }

    &:disabled,
    &:disabled:hover {
        background-color: white;
        border: 1px solid $lines-grey;
        color: $lines-grey;
        cursor: not-allowed;
    }
}

.btn-type-table {
    @include table-btn;
}


.datagrid__pre-table {
    font-family: $font-roboto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
        font-size: $text--size-medium;
        line-height: 32px;
        margin-right: 10px;
        display: inline-block;
    }

    .datagrid__count {
        color: $dark;
        font-size: $text--size-default;
        line-height: 32px;

        span {
            font-weight: bold;
            color: $blue--dark;
        }
    }

    @media (min-width: $mobile) {

        justify-content: flex-start;

        .datagrid__count {
            margin-left: auto;
            font-size: 18px;
        }

    }
}

.datagrid__table__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    &__items {
        display: flex;
        align-items: center;
        margin-right: 20px;

        span.separator {
            display: block;
            width: 6px;
            height: 6px;
            background-color: #E5E9EE;
            border-radius: 10px;
            margin: 0 15px;
        }

        h3 {
            font-size: 18px;

            a {
                color: $silver-grey;
                font-weight: normal;
                border-bottom: none;
                transition: all 0.2s;

                &:hover {
                    color: $black;
                }
            }
        }
    }
}

.datagrid__table-manager-ctn {
    width: 100%;
    overflow-x: auto;
}

.datagrid__table-manager {
    width: 100%;
    min-width: 700px;
    text-align: left;
    font-family: $font-roboto;
    color: $dark;
    font-size: $text--size-small;
    margin-bottom: 15px;

    thead {
        @include manager-table-thead;

        tr {
            height: 48px;

            th {
                line-height: normal;
                padding: 0 20px 0 0;

                & a {
                    color: $silver-grey;

                    &.sort-link {
                        border: 0 none;
                        position: relative;

                        &:after {
                            content: ' ';
                            margin-left: 6px;
                            margin-top: 4px;
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            opacity: 0.5;
                            transition: opacity 0.2s ease;
                        }

                        &.sort-link--order-d:after {
                            border-width: 0 5px 6px 5px;
                            border-color: transparent transparent $silver-grey transparent;
                        }

                        &.sort-link--order-a:after {
                            border-width: 6px 5px 0 5px;
                            border-color: $silver-grey transparent transparent transparent;
                        }

                        &:hover:after {
                            opacity: 1;
                        }
                    }
                }
            }

            th:first-child { padding-left: 20px; }
            th:last-child { padding-right: 20px; }
        }
    }

    tbody {

        tr {
            height: 68px;
            border-bottom: solid 1px $lines-grey;

            &.host-member {
                background-color: $specific-table-row;
                border-color: $white;
            }

            td {
                padding: 16px 0;
                line-height: normal;
                padding-right: 20px;

                &.adherent-identity {
                    .adherent-name {
                        color: $black;
                        font-weight: bold;
                    }

                    .adherent-caracs {
                        font-size: 12px;
                        color: $silver-grey;
                    }
                }

                &.municipal-candidate-tags span {
                    display: inline-block;
                    margin: 0 5px 5px 0;
                    padding: 4px 8px;
                    border-radius: 50px;
                    background-color: $inf-modl--bkg-blue;
                    color: $inf-modl--text-blue;
                    font-size: 12px;
                    border: none;
                    white-space: nowrap;
                }

                & span.status {

                    &:before {
                        content: '';
                        width: 7px;
                        height: 7px;
                        display: inline-block;
                        border-radius: 50%;
                        margin: 0 10px 1px 0;
                        box-sizing: border-box;
                    }

                    &__1 {
                        color: $status-green;
                        &:before {
                            background-color: $status-green;
                        }
                    }

                    &__2 {
                        color: $silver-grey;
                        &:before {
                            border: 2px solid $silver-grey;
                        }
                    }

                    &__3 {
                        color: $status-red;
                        &:before {
                            border: 2px solid $status-red;
                        }
                    }
                }

                a:not(.row-action) {
                    color: $blue--dark;
                    border: none;
                    transition: all 0.2s;

                    &:hover {
                        color: $black;
                        opacity: 0.8;
                    }

                    &.person {
                        color: $dark;
                        border-color: $dark;
                    }
                }
            }

            td:first-child { padding-left: 20px; }
            td:last-child { padding-right: 20px; }
        }

    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        padding: 2px;
        border-radius: 1px;
        border: solid 1px $filter-field-border;
        background-color: #ffffff;
        outline: 0;
        vertical-align: middle;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-color: $blue--dark;
        border-color: $blue--dark;
        content: $checkbox__mark;
    }

    .icn--no-result {
        vertical-align: middle;
        margin-right: 10px;
    }
}


.datagrid__pager {
    margin-top: 20px;

    ul {
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0;

            .pager__action {
                @include filter-field;
                cursor: pointer;
                font-size: 16px;

                &.switch {
                    width: 40px;
                    padding: 0;
                    text-align: center;
                    margin-right: 4px;
                    line-height: 40px;
                }
            }

            .pager__go-to-page {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;

                .pager__action {
                    width: 60px;
                    margin: 0 10px;
                    text-align: center;

                    &::placeholder {
                        color: $neutral-grey;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
