.article {
    margin-bottom: 60px;

    h2, p {
        font-family: 'Roboto';
        letter-spacing: .3px;
        font-size: $text--size-default;
        font-weight: normal;
    }

    &__social {
        display: flex;
        align-items: center;

        .btn {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        .fa {
            font-size: 20px;
            margin-right: 10px;
        }
    }

    figure {
        &.fullscreen {
            margin-left: 0;
            margin-right: 0;

            img {
                width: 100%;
            }
        }
    }
}

article {
    h3 {
        font-family: 'Gillsans';
        font-size: $text--size-medium--large;
        margin-top: 30px;
    }

    p {
        font-family: 'Roboto';
    }

    .video {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;

        iframe {
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
    }

    figure {
        margin: 40px 0;

        img {
            display: block;
            margin: auto;

            &.large {
                width: 100%;
            }

            @media (max-width: $mobile) {
                width: 100%;
            }

            ~ figcaption {
                font-size: $text--size-smallest;
                color: $black--half;
                text-align: center;
                margin-top: 5px;
            }
        }

        blockquote {
            @include text--large;
            @include text--bold;
            font-family: "Gillsans";
            font-style: italic;
            text-align: center;
            margin-top: 55px;
            margin-bottom: 15px;

            span {
                background: $blue;
                color: white;
                padding: 0 5px;
            }

            ~ figcaption {
                @include text--default;
                color: $blue;
                text-align: center;
            }
        }
    }
}
