body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // hide overflow on IE11
    -ms-overflow-x: hidden;

    font-size: 16px;
    line-height: 24px;
    font-family: $font-gillsans;
}

svg path,
svg polyline,
svg polygon {
    transition: all 0.45s;
}

a {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    transition: all 0.45s;

    &:hover {
        @include hover(black);

        path,
        polygon {
            @include hover(black);

            &.stroke {
                @include hover-stroke(black);
            }
        }

        polyline {
            @include hover-stroke(black);
        }
    }

    &.link--no-decor {
        border: none;
    }

    &.link--blue {
        color: $blue;
        border-color: $blue;

        &:hover {
            @include hover($blue);
        }
    }
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    margin: 15px 0;
    color: $gray--light; /* old IE */
    background-color: $gray--light; /* Modern Browsers */
}

input[type="text"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.cc-window a {
    border-bottom: 0;
}

table {
    border-collapse: collapse;
}
