.bot {
    header {
        margin: 20px auto;

        h1 {
            @include text--large;

            @media (max-width: $mobile) {
                @include text--medium-small;
            }
        }

        @media (max-width: $mobile) {
            margin: 0 auto;
        }
    }

    article {
        margin-top: 20px;

        iframe {
            border: 0;
            width: 100%;
            height: 400px;

            @media (max-height: $h-iphone6) {
                height: 490px;
            }

            @media (max-height: $h-iphone5) {
                height: 390px;
            }
        }
    }
}
