@mixin btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px 15px 7px;
    background: white;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-size: $text--size-small;
    letter-spacing: 1.5px;
    transition: all 0.45s;
    box-sizing: border-box;
    font-family: $font-gillsans;

    &:hover {
        background: black;
        border-color: black;
        color: white;
    }

    &:disabled,
    &:disabled:hover {
        opacity: 0.7;
        background: $gray--light;
        color: $black--half;
        border-color: $gray;
        cursor: not-allowed;
    }
}

@mixin btn--primary {
    color: white;
    background-color: $pink;
    border-color: $pink;

    &:hover {
        background-color: $pink-hover;
        border-color: $pink-hover;
    }
}

@mixin btn--green {
    background: $green;
    border-color: $green;

    &:hover {
        color: black;
        background: $green-hover;
        border-color: $green-hover;
    }
}

@mixin btn--dark {
    color: white;
    background: $dark;
    border-color: $dark;

    &:hover {
        background: $darker;
        border-color: $darker;
    }
}

@mixin btn--yellow {
    background: $yellow;
    border-color: $yellow;

    &:hover {
        color: black;
        background: $yellow-hover;
        border-color: $yellow-hover;
    }
}

@mixin btn--black {
    color: white;
    background: black;
    border-color: black;

    &:hover {
        color: white;
        background: $gray--dark;
        border-color: $gray--dark;
    }
}

@mixin btn--blue {
    color: white;
    background: $blue;
    border-color: $blue;

    &:hover {
        background-color: $blue-hover;
        border-color: $blue-hover;
    }
}

.btn {
    @include btn;

    &--small {
        font-size: $text--size-smallest;
        height: 30px;
        padding: 7px 10px;
    }

    &--medium {
        font-size: $text--size-medium--small;
        height: 47px;
    }

    &--large-and-medium {
        @include text--medium-small;
        letter-spacing: 1.9px;
        font-family: $font-gillsans;
        max-width: 300px;
        width: 100%;
        height: 75px;
    }

    &--large {
        padding: 0 25px;
        font-size: $text--size-large;
        letter-spacing: 3.5px;
        height: 70px;
    }

    &--no-border {
        border-color: white;

        &:hover {
            border-color: black;
        }
    }

    &--no-wrap {
        white-space: nowrap;
    }

    &--full {
        margin: 0;
        width: 100%;
    }

    &--inline {
        display: inline-table;
    }

    &--primary {
        @include btn--primary;
    }

    &--green {
        @include btn--green;
    }

    &--blue {
        @include btn--blue;
    }

    &--text-blue {
        color: $blue;
    }

    &--black {
        @include btn--black;
    }

    &--social {
        font-size: $text--size-smallest;
        font-family: $font-roboto;

        i {
            margin-right: 7px;
        }
    }

    &--facebook {
        background: $facebook;
        border-color: $facebook;
        color: white;
    }

    &--twitter {
        background: $twitter;
        border-color: $twitter;
        color: white;
    }

    &--google_plus {
        background: $google;
        border-color: $google;
        color: white;
    }

    &--instagram {
        background: $instagram;
        border-color: $instagram;
        color: white;
    }

    &--email {
        background: $gray;
        border-color: $gray;
        color: white;
    }

    &__icon {
        border: none;

        &:hover {
            path {
                stroke: rgba(0,0,0,.4);
            }
        }

        &--dark {
            &:hover {
                path {
                    stroke: white;
                }
            }
        }
    }

    &--disabled {
        border-color: #c9c9c9;
        color: #999;

        &:hover {
            cursor: default;
            background: #fff;
            transition: 0s;
            border-color: #c9c9c9;
            color: #999;
        }
    }
}

button.btn {
    display: inline-block;
    padding: 10px 15px 9px;
}
