.card {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;

    text-decoration: none;
    border: none;

    &:hover {
        // We can't use $black--half because we need solid colors
        color: #999;

        h2 {
            color: #999;
        }

        .outer {
            stroke: #fff;
            fill: rgba(0,0,0,0);
        }

        .inner {
            fill: #fff;
        }
    }

    .image, svg {
        display: none;
    }

    &__share {
        font-family: 'Roboto';
        text-transform: uppercase;
        padding: 0 10px;
        font-size: $text--size-smallest;
        color: $gray;

        .fa {
            font-size: $text--size-medium-small;
            margin-left: 5px;
        }
    }

    &--large {
        flex-basis: auto;
        flex-grow: 2;
        color: white;
        padding: 30px;
        margin: 0;

        h2 {
            @include text--large;
            text-decoration: none;
            font-style: italic;
            width: 55%;
        }

        p {
            width: 40%;
        }

        @media (max-width: $tablet) {
            color: black;
            background: none !important;
            padding: 0;
            margin-bottom: 20px;

            h2 {
                width: 100%;
                font-size: $text--size-medium--large;
                letter-spacing: -0.6px;
            }

            p {
                width: 100%;
            }

            .btn {
                display: none;
            }

            .image {
                display: block;
                height: 450px;
                margin-bottom: 15px;
            }
        }

        @media (max-width: $tablet - 200px) {
            .image {
                height: 350px;
            }
        }

        @media (max-width: $mobile + 100px) {
            .image {
                height: 300px;
            }
        }

        @media (max-width: $mobile - 100) {
            .image {
                height: 250px;
            }
        }

        @media (max-width: $mobile - 200) {
            .image {
                height: 200px;
            }
        }

    }

    &--medium,
    &--3,
    &--4 {
        width: 49%;
        height: 385px;
        box-sizing: border-box;

        h2 {
            @include text--large;
            font-style: italic;
            color: white;
            z-index: 1;
        }

        &:hover {
            h2 {
                color: white;
            }
        }

        .headline {
            padding: 0 22px;
            position: relative;
            bottom: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &__share {
            padding: 0 22px;
            color: white;
            position: relative;
            bottom: 50px;
        }

        &__image {
            border: none;

            .background-container {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                display: block;
                position: relative;

                &:after {
                    content: "gradient mask for news image";
                    overflow: hidden;
                    position: absolute;
                    text-indent: -9999rem;
                    font-size: 0;
                    line-height: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0));
                }

                &:hover {
                    &:after {
                        background: linear-gradient(20deg,rgba($green,.6) 0,rgba($blue,.6));
                    }
                }
            }

            .background {
                height: 350px;
            }
        }

        &--video {
            h2 {
                @include text--medium;
            }

            svg {
                display: block;
                margin-right: 20px;
                width: 96px;
                z-index: 1;
            }
        }
    }

    &--small,
    &--1,
    &--2,
    &--5,
    &--6  {
        width: 24%;
        background: none !important;

        &__image {
            border: none;

            .background-container {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
                display: block;
                position: relative;

                &:after {
                    content: "gradient mask for news image";
                    overflow: hidden;
                    position: absolute;
                    text-indent: -9999rem;
                    font-size: 0;
                    line-height: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                &:hover {
                    &:after {
                        background: linear-gradient(20deg,rgba($green,.6) 0,rgba($blue,.6));
                    }
                }
            }

            .background {
                height: 200px;
            }
        }

        h2 {
            @include text--medium;
            font-weight: normal;
            padding: 10px;
        }

        .headline svg {
            display: none;
        }

        &--video {
            &__image {
                .background-container {
                    &:after {
                        background: url("data:image/svg+xml;utf8,<svg width='86px' height='86px' viewBox='8 4 86 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z' class='outer' stroke='#FFFFFF' stroke-width='1' fill='none'></path><path d='M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156' class='inner' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path></svg>"), linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0));
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &:hover {
                        &:after {
                            background: url("data:image/svg+xml;utf8,<svg width='86px' height='86px' viewBox='8 4 86 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z' class='outer' stroke='rgba(255,255,255,.9)' stroke-width='1' fill='none'></path><path d='M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156' class='inner' stroke='none' fill='rgba(255,255,255,.9)' fill-rule='evenodd'></path></svg>"), linear-gradient(20deg,rgba($green,.6) 0,rgba($blue,.6));
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }

                .background {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                svg {
                    display: block !important;
                }
            }
        }
    }

    @media (max-width: $tablet) {
        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            min-width: 236px;
            width: 32%;
            flex-wrap: wrap;
            height: auto;
            padding: 0 0 30px 0;
            margin-bottom: 0;
            background: none !important;

            &:hover {
                h2 {
                    color: $black--half;
                }
            }

            .headline {
                top: 0;
                padding: 0;
            }

            &__image {
                display: block !important;
                border: none;

                .background-container {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    display: block;
                    position: relative;

                    &:after {
                        content: "gradient mask for news image";
                        overflow: hidden;
                        position: absolute;
                        text-indent: -9999rem;
                        font-size: 0;
                        line-height: 0;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: none;
                    }

                    &:hover {
                        &:after {
                            background: linear-gradient(20deg,rgba($green,.6) 0,rgba($blue,.6));
                        }
                    }
                }

                .background {
                    height: 160px;
                }
            }

            h2 {
                @include text--medium;
                font-weight: normal;
                font-style: normal;
                color: black;
                padding: 10px;
            }

            svg {
                display: none;
            }

            &--video {
                &__image {
                    display: block !important;

                    .background-container {
                        &:after {
                            background: url("data:image/svg+xml;utf8,<svg width='86px' height='86px' viewBox='8 4 86 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z' class='outer' stroke='#FFFFFF' stroke-width='1' fill='none'></path><path d='M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156' class='inner' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path></svg>"), linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0));
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        &:hover {
                            &:after {
                                background: url("data:image/svg+xml;utf8,<svg width='86px' height='86px' viewBox='8 4 86 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z' class='outer' stroke='rgba(255,255,255,.9)' stroke-width='1' fill='none'></path><path d='M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156' class='inner' stroke='none' fill='rgba(255,255,255,.9)' fill-rule='evenodd'></path></svg>"), linear-gradient(20deg,rgba($green,.6) 0,rgba($blue,.6));
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }
                }
            }

            &__share {
                padding: 0 10px;
                color: $gray;
                top: 0;
            }
        }
    }

    @media (max-width: $tablet - 180px) {
        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            width: 48.5%;

            &__image {
                .background {
                    height: 230px;
                }
            }
        }
    }

    @media (max-width: $mobile) {
        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6 {
            width: 100%;
            margin: 0;
            padding: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start !important;
            align-items: center;
            border-bottom: 1px solid $gray-light;

            h2 {
                @include text--default;
                font-family: 'Roboto';
                padding: 0;
            }

            &__image {
                width: 30%;

                .background {
                    height: 70px;
                    width: 100%;
                }
            }

            .headline {
                margin-left: 3%;
                width: 67%;
            }

            &--video {
                svg {
                    margin: 0;
                }

                .background-container {
                    &:after {
                        background: url("data:image/svg+xml;utf8,<svg width='50px' height='50px' viewBox='8 4 86 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z' class='outer' stroke='#FFFFFF' stroke-width='1' fill='none'></path><path d='M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156' class='inner' stroke='none' fill='#FFFFFF' fill-rule='evenodd'></path></svg>"), linear-gradient(20deg ,rgba(0,0,0,.8), rgba(0,0,0,0));
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &:hover {
                        &:after {
                            background: url("data:image/svg+xml;utf8,<svg width='50px' height='50px' viewBox='8 4 86 86' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M92.8999,47.1999 C92.8999,70.2299 74.2299,88.8999 51.1999,88.8999 C28.1699,88.8999 9.4999,70.2299 9.4999,47.1999 C9.4999,24.1699 28.1699,5.4999 51.1999,5.4999 C74.2299,5.4999 92.8999,24.1699 92.8999,47.1999 Z' class='outer' stroke='rgba(255,255,255,.9)' stroke-width='1' fill='none'></path><path d='M43.2027,30.7156 L68.4057,44.8236 C70.2627,45.8636 70.2627,48.5366 68.4057,49.5756 L43.2027,63.6846 C41.3877,64.7006 39.1497,63.3886 39.1497,61.3086 L39.1497,33.0916 C39.1497,31.0116 41.3877,29.6996 43.2027,30.7156' class='inner' stroke='none' fill='rgba(255,255,255,.9)' fill-rule='evenodd'></path></svg>"), linear-gradient(20deg,rgba($green,.6) 0,rgba($blue,.6));
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }

            &--video svg {
                margin: 0;
            }

            &__share {
                display: none;
            }
        }
    }
}

.box {
    border-radius: 4px;
    background: white;
    padding: 20px;
    margin: 0 10px;
    width: 265px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
