.committee {
    margin: 20px 0 100px 0;

    h2 {
        text-align: center;
    }

    &--intro {
        text-align: justify;
        margin: 30px 20px;
    }

    &__form {
        width: 75%;
        margin: 0 auto;

        &--trunc {
            width: 97.5%;
        }

        &__gender {
            label {
                font-size: 18px;
                margin: 0 30px 0 8px;
            }
        }

        &__zip_code {
            width: 20%;
            margin-top: 18px;

            input {
                width: 100%;
            }
        }

        &__city {
            width: 40%;
            margin-top: 18px;

            select {
                width: 85%;
                margin-left: 10%;
            }

            input {
                width: 85%;
                margin-left: 10%;
            }
        }

        &__country {
            width: 40%;

            label {
                margin-left: 5%;
            }
            select {
                width: 90%;
                margin-left: 5%;
            }
        }

        &__profession {
            select {
                width: 95%;
            }
        }

        &__conditions {
            font-size: 18px;

            input {
                margin-right: 8px;
            }

            &__text {
                font-size: 16px;
            }
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &--mentions {
        width: 70%;
        font-size: 12px;
        text-align: justify;
        margin: 30px auto 0;
        color: #737373;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}

.committee-timeline {
    .committee-timeline-item {
        background: #efefef;
        border: 1px solid #000;
        margin: 20px;
        padding: 15px;
    }

    .committee-event {
        background: lightblue;
        padding: 10px;
        min-height: 200px;
    }

    .committee-event-map {
        width: 300px;
        height: 200px;
        margin-right: 20px;
        float: left;
    }

    .conmittee-event-details {
        min-height: 150px;
    }
}

.committee__event {
    &__header {
        margin-top: 20px;
        background-color: $blue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;

        &__titles {
            margin-right: 25px;
        }

        &__cta {
            min-width: 200px;

            &__social {
                margin-top: 15px;

                li .fa {
                    cursor: pointer;

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }

        @media (max-width: $tablet) {
            flex-direction: column;

            &__titles,
            &__cta {
                width: 100%;
            }

            &__titles {
                margin: 0 0 30px;
            }
        }
    }

    &__map {
        height: 350px;
        margin-bottom: 60px;
        border-bottom: 1px solid $gray--light;
    }

    &__schedule {
        padding: 30px;

        .fa {
            margin-right: 8px;
            width: 15px;
            text-align: center;
        }
    }
}
