.content {
    .article__social {
        display: flex;
        align-items: center;

        .btn {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        .fa {
            font-size: 20px;
            margin-right: 10px;
        }

        @media (max-width: $mobile) {
            .fa {
                margin: 0;
            }
            span {
                display: none;
            }
        }
    }
}

.content header {
    margin-bottom: 20px;

    h2 {
        @include text--summary;

        &.bigger {
            @include text--default;
        }
    }

    &.filtered-image:after {
        @include classic-gradient($filter);
    }

    .list__links--svgs {
        margin-bottom: 65px;

        a {
            color: white;
        }
    }
}

.content nav {
    ul {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid rgba(0, 35, 73, 0.15);
        padding: 20px 0;

        li {
            list-style: none;
            display: inline-block;

            &.active {
                font-weight: 700;
            }

            a {
                border: none;
            }
        }
    }
}

.content figure {
    margin-bottom: 60px;

    &.fullscreen {
        margin-left: 0;
        margin-right: 0;

        img {
            width: 100%;
        }
    }
}

.content article {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.62;

    h1, h2, h3 {
        @include text--medium-large;
        font-family: 'Gillsans';
        margin-top: 30px;
        font-weight: 700;
    }

    h4 {
        font-family: 'Gillsans';
        font-size: $text--size-medium--large;
        margin-top: 20px;
        font-weight: 400;
    }

    img {
        max-width: 100%;
    }

    ol li {
        list-style-type: decimal;
    }

    ul {
       padding-left: 40px;
       margin: 14px 0;

        li {
           list-style-type: disc;
        }

        &.dots {
            font-size: 20px;
            font-weight: 700;
            padding-left: 20px;

            li {
                list-style: disc outside url("/images/icon__dot--blue.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }
        }

        &.arrows {
            font-size: 20px;
            font-weight: 700;
            padding-left: 15px;

            li {
                list-style: disc outside url("/images/icon__arrow.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray--light;
        border-bottom: 1px solid $gray--light;
        padding: 25px 0;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        p {
            @include text--medium;
            color: $black--half;
            margin: 0 20px 0;

            @media (max-width: $mobile) {
                margin: 0 0 20px 0;
            }
        }

        a {
            font-family: 'Gillsans';
            @include btn;
            white-space: nowrap;

            &.primary {
                @include btn--primary;
            }

            &.blue {
                @include btn--blue;
            }

            &.green {
                @include btn--green;
            }
        }
    }

    .video {
    	position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;

        iframe {
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
    }

    figure {
        margin: 40px 0;

        img {
            display: block;
            margin: auto;

            &.large {
                width: 100%;
            }

            @media (max-width: $mobile) {
                width: 100%;
            }

            ~ figcaption {
                font-size: $text--size-smallest;
                color: $black--half;
                text-align: center;
                margin-top: 5px;
            }
        }

        blockquote {
            @include text--large;
            @include text--bold;
            line-height: 42px; /* Overwrite text--large */
            font-family: "Gillsans";
            font-style: italic;
            text-align: center;
            margin: 55px 70px 15px;

            @media (max-width: $mobile) {
                @include text--medium;
                line-height: 32px;
                margin: 55px 30px 15px;
            }

            span {
                background: $blue;
                color: white;
                padding: 0 5px;
            }

            ~ figcaption {
                @include text--default;
                color: $blue;
                text-align: center;
            }
        }
    }
}
.content.programme {
    padding-bottom: 10px;

    header {
        background-image: url('/images/programme@3x.jpg');
        background-size: cover;
        height: 370px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;

        h1 {
            max-width: 550px;
        }
    }

    li {
        border-bottom: 1px solid rgba(0, 35, 73, 0.15);
        padding: 50px 0 10px;

        h2 {
            @include text--large;
        }

        div {
            @include text--body;
            text-transform: uppercase;
            margin-top: 5px;
        }

        h2,
        div {
            transition: margin-left .2s ease-out;
        }

        &:hover {
            h2,
            div {
                margin-left: 20px;
                color: $blue;
            }
        }
    }

    span {
        @include text--summary;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
        width: 450px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

.content.emmanuel-macron {
    header {
        background-image: url('/images/emmanuel-macron@3x.jpg');
        background-size: cover;
        height: 370px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        div {
            z-index: 1;
        }
    }

    nav ul {
        border-color: rgba(255, 255, 255, 0.3);

        li a {
            color: white;
        }
    }
}
