.content {
    .article__social {
        display: flex;
        align-items: center;

        .btn {
            display: flex;
            align-items: center;
            margin-right: 5px;
        }

        .fa {
            font-size: 20px;
            margin-right: 10px;
        }

        @media (max-width: $mobile) {
            .fa {
                margin: 0;
            }
            span {
                display: none;
            }
        }
    }
}

.content header {
    margin-bottom: 30px;

    @media (max-width: $mobile) {
        padding-bottom: 30px;
    }

    h2 {
        @include text--summary;

        &.bigger {
            @include text--default;
        }
    }

    &.filtered-image:after {
        @include classic-gradient($filter);
    }

    .list__links--svgs {
        margin-bottom: 65px;

        a {
            color: white;
        }
    }
}

.content nav {
    border-top: 1px solid rgba(0, 35, 73, 0.15);

    ul {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            list-style: none;
            display: inline-block;
            margin: 0 12.5px;

            &.active {
                font-weight: 700;
            }

            a {
                border: none;
            }

            @media (max-width: $mobile) {
                margin: 5px 12.5px;
            }
        }
    }
}

.content figure {
    margin-bottom: 60px;

    @media (max-width: $mobile) {
        margin-bottom: 30px;
    }

    &.fullscreen {
        margin-left: 0;
        margin-right: 0;

        img {
            width: 100%;
        }
    }
}

.emmanuel-macron article,
.emmanuel-programme article {
    > h1, > h2, > h3, > h4, > h5, > h6,
    > p, > ul, > ol, > div, > blockquote,
    > figure, > img, > iframe {
        @include wrapper--slim;
    }
}

.content article {
    font-family: $font-roboto;
    letter-spacing: 0.3px;
    line-height: 1.62;

    h1, h2, h3 {
        @include text--medium-large;
        font-family: $font-gillsans;
        margin-top: 30px;
        font-weight: 700;
    }

    h4 {
        font-family: $font-gillsans;
        font-size: $text--size-medium--large;
        margin-top: 20px;
        font-weight: 400;
    }

    img {
        max-width: 100%;
    }

    ol li {
        list-style-type: decimal;
    }

    ul {
       padding-left: 40px;
       margin-top: 14px;
       margin-bottom: 14px;

        li {
           list-style-type: disc;
        }

        &.dots {
            font-size: 20px;
            font-weight: 700;
            padding-left: 20px;

            li {
                list-style: disc outside url("/images/icon__dot--blue.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }
        }

        &.arrows {
            @include text--medium-small--bold;
            padding-left: 15px;

            li {
                list-style: disc outside url("/images/icon__arrow.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }

            &.blue {
                a {
                    color: $blue;
                    border-color: $blue;

                    &:hover {
                        @include hover($blue);
                    }
                }
            }
        }
    }

    .indent {
        margin-left: 15px;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        background: $pink;
        margin: 20px 0;

        &.blue {
            background: $blue;
        }

        &.yellow {
            background: $yellow;
        }

        &.green {
            background: $green;
        }

        &.black {
            background: black;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        p {
            color: white;
            @include text--medium;
            @include text--bold;
            font-style: italic;
            font-family: $font-gillsans;
            margin: 0 20px 0 0;
            max-width: 350px;

            &.black {
                color: black;
            }

            &.pink {
                color: $pink;
            }

            &.blue {
                color: $blue;
            }

            &.yellow {
                color: $yellow;
            }

            &.green {
                color: $green;
                border: 0;
            }

            @media (max-width: $mobile) {
                margin: 0 0 20px 0;
                max-width: 100%;
            }
        }

        a {
            font-family: $font-gillsans;
            @include btn;
            border-color: white;
            white-space: nowrap;

            &.black {
                @include btn--black;
            }

            &.pink {
                @include btn--primary;
            }

            &.blue {
                @include btn--blue;
            }

            &.yellow {
                @include btn--yellow;
            }

            &.green {
                @include btn--green;
            }
        }
    }

    .box--blue {
        border: 7px solid $blue;
        padding: 10px 30px;

        h4 {
            @include text--medium-small;
            @include text--blue;
            @include text--all-caps;
            font-family: $font-gillsans;
            text-align: center;
            font-weight: 700;
        }

        p {
            @include text--blue;
        }
    }

    .video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 60px;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .twitter-tweet,
    iframe {
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 100%;
    }

    figure {
        margin-top: 40px;
        margin-bottom: 40px;

        &.fullscreen {
            max-width: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 100%;
            }

            p {
                @include text--medium-large;
                @include wrapper--slim;
                @include text--bold;
                font-family: $font-gillsans;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @media(max-width: $mobile) {
                    @include text--default;
                }
            }
        }

        &.large {
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        img {
            display: block;
            margin: auto;

            @media (max-width: $mobile) {
                width: 100%;
            }

            ~ figcaption {
                font-size: $text--size-smallest;
                color: $black--half;
                text-align: center;
                margin-top: 5px;
            }
        }

        &.blockquote--short blockquote {
            @include text--large;
            @include text--bold;
            line-height: 42px; /* Overwrite text--large */
            font-family: $font-gillsans;
            font-style: italic;
            text-align: center;
            margin: 55px 70px 15px;

            @media (max-width: $mobile) {
                @include text--medium;
                line-height: 32px;
                margin: 55px 30px 15px;
            }

            span {
                background: $blue;
                color: white;
                padding: 0 5px;
            }

            ~ figcaption {
                @include text--default;
                color: $blue;
                text-align: center;
            }
        }

        &.blockquote--long {
            background: $blue--light;
            border-left: 5px solid $blue;
            margin: 40px;
            padding: 30px;

            blockquote {
                margin: 0;

                ~figcaption {
                    margin-top: 35px;
                }
            }
        }
    }
}

.content.programme {
    padding-bottom: 10px;

    header {
        background-size: cover;
        height: 370px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;
        margin-bottom: 60px;

        h1 {
            max-width: 550px;
        }
    }

    .programme-proposal {
        border-bottom: 1px solid rgba(0, 35, 73, 0.15);
        padding: 50px 0 10px;

        a {
            // Fix transition issue on MS Edge
            transition: none;
        }

        h2 {
            @include text--large;
            max-width: 90%;
        }

        div {
            @include text--body;
            text-transform: uppercase;
            margin-top: 5px;
        }

        h2,
        div {
            transition: margin-left .2s ease-out;
        }

        &:hover {
            h2,
            div {
                margin-left: 20px;
                color: $blue;
            }
        }

        span {
            display: inline-block;
            padding: 5px;
        }
    }
}

.content.emmanuel-macron {
    header {
        background-size: cover;
        height: 370px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 60px;

        @media (max-width: $mobile) {
            background-position: 70%;
        }

        div {
            z-index: 1;
        }
    }

    nav {
        border-color: rgba(255, 255, 255, 0.3);

        li a {
            color: white;
        }
    }
}

.content.emmanuel-programme article,
.content.emmanuel-macron article {
    ul.arrows,
    ul.dots,
    ul {
        padding-left: 55px;

        @media (max-width: $mobile) {
            max-width: 100%;
            box-sizing: border-box;
        }
    }
}

.content .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    li {
        width: 32.5%;
        list-style: none;
        margin-bottom: 10px;
        background: $gray--lighter;
        display: flex;
        flex-direction: column;

        .image {
            height: 160px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $gray;
        }

        .share {
            a {
                border: 0;
                color: $gray;
                margin-right: 10px;

                &:hover {
                    color: $blue;
                }

                @media (max-width: $mobile) {
                    margin-right: 10px;
                    color: white;
                    padding: 5px;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    text-align: center;

                    &[href*="facebook"] {
                        background-color: $facebook;
                    }

                    &[href*="twitter"] {
                        background-color: $twitter;
                    }

                    &[href*="linkedin"] {
                        background-color: $linkedin;
                    }

                    &:hover {
                        color: white;
                        background-color: $gray;
                    }
                }
            }
        }
    }

    &__meta {
        padding: 18px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 125px;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            height: 135px;
        }
    }

    @media(max-width: $tablet) {
        li {
            width: 49%;

            .image {
                height: 240px;
            }
        }
    }

    @media(max-width: $mobile) {
        li {
            .image {
                height: 180px;
            }
        }
    }

    @media(max-width: $mobile - 200px) {
        li {
            width: 100%;

            .image {
                height: 240px;
            }
        }
    }
}

.content .referents {
    width: 100%;
}
