.datagrid {
    &__search {
        float: right;
        margin-bottom: 10px;

        &__count {
            margin-right: 20px;

            @media (max-width: $mobile) {
                display: none;
            }
        }

        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__pager {
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }
    
    &__loader {
        position: absolute;
        z-index: 99;
        margin: 150px 0 0 200px;
    }

    &__table {
        margin: 15px 0;
        border-top: 2px solid #f2f2f2;
        clear: both;
        width: 100%;

        &--loading {
            opacity: 0.1;
        }

        th, td {
            font-weight: normal;
            text-align: center;
        }

        th {
            color: #999;
            text-transform: uppercase;
            font-size: 14px;
            border-bottom: 2px solid #f2f2f2;
        }

        &--bordered-rows td {
            border-bottom: 1px solid #e5e5e5;
        }

        tbody tr:hover {
            background: #eaeaea;
        }

        &--no-hover tr:hover {
            background: transparent !important;
        }

        &__col {
            &--left {
                text-align: left !important;
            }

            &--top {
                vertical-align: top !important;
            }

            &--hide-mobile {
                @media (max-width: $mobile) {
                    display: none;
                }
            }
        }
    }
}
