.datagrid {
    &__search {
        float: right;
        margin-bottom: 10px;

        @media (max-width: $mobile) {
            display: none;
        }
    }

    &__pager {
        li {
            display: inline-block;
            margin-right: 10px;
        }
    }

    &__table {
        margin: 15px 0;
        border-top: 2px solid #f2f2f2;
        clear: both;
        width: 100%;

        &__col--hide-mobile {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        th, td {
            font-weight: normal;
            text-align: center;
        }

        th {
            color: #999;
            text-transform: uppercase;
            font-size: 14px;
            border-bottom: 2px solid #f2f2f2;
        }

        tbody tr:hover {
            background: #eaeaea;
        }
    }
}
