.desintox {
    margin-bottom: 100px;

    hr {
        margin-top: 0;
        background-color: rgba(0, 35, 73, 0.15);
    }

    &__intro {
        margin: 50px 0;
    }

    &__cases {
        h1 {
            margin: 0 30px 0 0;

            @media (max-width: $mobile) {
                margin: 0 0 25px 0;
            }
        }

        li {
            background: white;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none !important;
            margin-bottom: 30px;

            @media (max-width: $mobile) {
                flex-direction: column;
                align-items: stretch;

                .btn {
                    width: 100%;
                }
            }
        }
    }
}
