.donate {

    .text {
        width: 250px;
    }

    &--home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        .text {
            width: 400px;
        }
    }

    .text {
        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__nojs {
        display: flex;
        justify-content: flex-end;
    }

    #home-donation {
        margin-left: 15px;
        width: 450px;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: $mobile) {
            margin-left: 0;
            margin-top: 15px;
            width: 100%;
        }
    }

    &__amounts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        input[type="radio"] {
            position: absolute!important;
            left: -9999px;
            text-indent: -9999px;

            &:checked + label {
                background-color: $pink;
                color: white;
            }
        }

        label.amount,
        .other-amount,
        .other-amount input {
            cursor: pointer;
            width: 31%;
            height: 43px;
            padding: 11px 0;
            margin-bottom: 15px;
            box-sizing: border-box;
            background: white;

            &:hover {
                background: $gray--lighter;
            }

            font-size: $text--size-medium--small;
            text-align: center;
            letter-spacing: 1.9px;

            @media (max-width: 450px) {
                width: 47%;
            }
        }

        .other-amount input {
            width: 100%;
            background: transparent;
            top: -10px;
            position: relative;

            &:hover {
                background: transparent;
            }
        }

        .other-amount {
            position: relative;
            float: left;
            background: white;

            label {
                position: absolute;
                top: 11px;
                right: 20px;
                font-size: $text--size-medium--small;

                span {
                    display: none;
                }
            }

            input {
                font-family: 'Roboto';
                font-size: $text--size-smallest;
                letter-spacing: 0.2px;
                border: none;
                cursor: text;
                text-align: left;
                padding: 0 38px 0 18px;
            }
        }
    }
}

.donation {
    margin: 20px 0 100px 0;

    &__form {
        width: 55%;

        &__amount {
            margin-bottom: 40px;
        }

        &__reductions {
            font-size: $text--size-medium--small;
        }

        &__phone {
            max-width: 200px;
        }

        &__city {
            width: 200px;
        }
    }

    &__form-explainations {
        width: 40%;
        color: #737373;

        &__taxes, &__usages, &__reasons {
            margin: 25px 0 50px 0;
        }
    }

    &__loader {
        display: none;
        text-align: center;
        margin-top: 60px;

        &__text {
            margin-top: 50px;
        }
    }
}

.donation-result {
    text-align: center;
    padding: 100px 0;

    &__support {
        margin-top: 50px;
    }
}
