.amount-chooser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__button,
    &__other {
        border: 0;
        font-family: $font-gillsans;
        cursor: pointer;
        width: 24%;
        height: 47px;
        padding: 13px 0;
        margin-bottom: 5px;
        box-sizing: border-box;
        background: #9b9b9b;
        color: white;
        transition: background .2s;

        &:hover {
            background: $black--half;
        }

        font-size: $text--size-medium--small;
        text-align: center;
        letter-spacing: 1.9px;

        @media (max-width: 450px) {
            width: 47%;
        }
    }

    &__button {
        outline: 0;

        &--selected {
            background-color: $pink;
            color: white;

            &:hover {
                background: $pink-hover;
            }
        }
    }

    &__other {
        position: relative;
        float: left;
        background: $gray--light;

        &:hover {
            background: $gray--light;
        }

        &__input {
            box-sizing: border-box;
            width: 100%;
            background: transparent;
            top: -11px;
            position: relative;
            font-family: $font-roboto;
            font-size: $text--size-smallest;
            letter-spacing: 0.2px;
            border: none;
            cursor: text;
            text-align: left;
            padding: 16px 26px 13px 18px;

            &:hover {
                background: transparent;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        &__label {
            position: absolute;
            top: 11px;
            right: 20px;
            font-size: $text--size-medium--small;
            color: black;

            span {
                display: none;
            }
        }
    }
}

.donate {
    &__text {
        max-width: 250px;

        @media (max-width: $mobile) {
            max-width: 100%;
        }

        h2 {
            line-height: 41px;

            @media (max-width: $mobile) {
                line-height: 1.2em;
            }
        }
    }

    &__form {
        margin-left: 15px;
        width: 450px;

        &__chooser__input {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }

        &__button {
            display: block;
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 0;
            font-family: $font-gillsans;

            svg {
                top: 2px;
            }
        }

        @media (max-width: $mobile) {
            margin-left: 0;
            margin-top: 15px;
            width: 100%;
        }

        .amount-chooser {
            &__button,
            &__other {
                width: 23%;
                margin-bottom: 10px;

                @media (max-width: $mobile) {
                    width: 48%;
                }
            }

            &__button {
                background: white;
                color: black;

                &:hover {
                    background: $gray--light;
                }

                &--selected {
                    background: $pink;
                    color: white;

                    &:hover {
                        background: $pink-hover;
                    }
                }
            }

            &__other {
                background: white;
            }
        }
    }

    &--home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        .donate__text {
            max-width: 400px;
        }
    }
}

.donation {
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;

    @media (max-height: 1000px) {
        justify-content: flex-start;
        height: auto;
    }

    @media (max-width: $mobile) {
        background-color: white;
        background-position: 0 0;
        background-size: 100%;
    }

    &__header {
        padding: 30px 0;

        h1 a {
            @include text--logo;
            color: white;

            @media (max-width: $mobile) {
                font-size: $text--size-medium;
            }
        }

        @media (max-width: $mobile) {
            height: 210px;
            background-position: center top;
            background-size: cover;
            width: 100%;
            box-sizing: border-box;
            align-items: baseline;
            padding: 30px 6%;
            font-size: $text--size-smallest;

            .fa {
                font-size: $text--size-smallest;
            }
        }

        @media (max-width: $mobile - 200px) {
            height: 130px;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: baseline;

        @media (max-width: $mobile) {
            padding: 0;
        }
    }

    &__form {
        width: 500px;
        background: white;
        padding: 40px 55px;
        margin: 0 72px 0 30px;
        text-align: center;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            width: 100%;
            margin: 0;
            padding: 40px 6%;
        }

        form {
            font-family: $font-roboto;
            font-size: 14px;
        }

        h2 {
            font-family: $font-gillsans;
            font-size: 41px;
            font-weight: 700;
            font-style: italic;
            line-height: 0.86;
            letter-spacing: -0.7px;
        }

        .fluo {
            background: $yellow;
            font-family: $font-roboto;
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.2px;
            margin: 10px 0 17px;
            display: inline-block;
        }

        .montant {
            margin-bottom: 10px;
        }

        &__amount {
            margin-bottom: 40px;

            .donate__amounts {
                label.amount {
                    background: #9b9b9b;
                    color: white;

                    &:hover {
                        background: $pink;
                    }
                }

                .other-amount {
                    background: #ececec;
                }
            }
        }

        &__reductions {
            div:nth-child(1) {
                margin-top: 40px;
                font-size: 30px;
                font-weight: 700;
            }
        }

        &__phone {
            max-width: 200px;
        }

        &__city {
            width: 208px;
        }
    }

    &__form-steps {
        counter-reset: step;
        width: 340px;
        margin: 0 auto 40px auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile) {
            width: 100%;
            flex-wrap: wrap;
        }

        li {
            @include text--summary;
            display: inline-block;
            opacity: 0.3;
            text-align: center;

            @media (max-width: $mobile - 200px) {
                font-size: $text--size-smallest;
            }

            &:before {
                content: counter(step);
                counter-increment: step;
                width: 30px;
                height: 30px;
                background: #808080;
                color: rgba(0, 0, 0, 1);
                display: block;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto 5px auto;
            }

            &.active {
                opacity: 1;

                &:before {
                    color: white;
                }
            }

            &.clickable {
                text-decoration: none;
                border: 0;
                cursor: pointer;

                &:hover span {
                    text-decoration: underline;
                }
            }
        }
    }

    &__form-note {
        top: 110px;
        position: relative;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__form-quote {
        width: 250px;
        color: white;
        font-size: 20px;
    }

    &__loader {
        display: none;
        text-align: center;
        margin-top: 60px;

        &__text {
            margin-top: 50px;
        }
    }

    &__amount-chooser {
        margin-bottom: 30px;

        &__after-taxes {
            margin: 25px 0 35px;

            h3 {
                font-size: 26px;
                font-weight: bold;
            }

            p {
                margin: 5px 0 0 0;
                padding: 0;
            }
        }
    }

    &__informations__amount {
        font-size: 14px;
        font-family: $font-roboto;
        margin-bottom: 32px;

        h3 {
            font-size: 30px;
            font-weight: bold;
        }
    }

    &__payment {
        min-height: 450px;
        padding-top: 50px;
    }

    &__result {
        min-height: 450px;
        padding-top: 20px;

        &--failure h3 {
            margin-bottom: 40px;
        }

        &--successful {
            &__amount {
                font-size: 14px;
                font-family: $font-roboto;
                margin-bottom: 32px;

                h3 {
                    font-size: 30px;
                    font-weight: bold;
                }
            }

            &__thankyou {
                font-size: 30px;
                font-weight: bold;
                font-style: italic;
                line-height: 0.97;
                letter-spacing: -0.5px;
                margin-bottom: 16px;
            }

            &__share-pride {
                font-size: 24px;
                font-weight: bold;
                font-style: italic;
                line-height: 1.08;
                letter-spacing: -0.3px;
                margin-top: 45px;
                margin-bottom: 10px;
            }

            &__sharer {
                margin-bottom: 30px;
            }
        }
    }
}

.donation-result {
    text-align: center;
    padding: 100px 0;

    &__support {
        margin-top: 50px;
    }
}
