.amount-chooser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__button,
    &__other {
        border: 0;
        font-family: Gillsans, Roboto, Helvetica, sans-serif;
        cursor: pointer;
        width: 31%;
        height: 43px;
        padding: 11px 0;
        margin-bottom: 15px;
        box-sizing: border-box;
        background: white;

        &:hover {
            background: $gray--lighter;
        }

        font-size: $text--size-medium--small;
        text-align: center;
        letter-spacing: 1.9px;

        @media (max-width: 450px) {
            width: 47%;
        }
    }

    &__button {
        outline: 0;

        &--selected {
            background-color: $pink;
            color: white;

            &:hover {
                background: $pink-hover;
            }
        }
    }

    &__other {
        position: relative;
        float: left;
        background: white;

        &__input {
            box-sizing: border-box;
            width: 100%;
            background: transparent;
            top: -11px;
            position: relative;
            font-family: 'Roboto', Helvetica, sans-serif;
            font-size: $text--size-smallest;
            letter-spacing: 0.2px;
            border: none;
            cursor: text;
            text-align: left;
            padding: 16px 26px 13px 18px;

            &:hover {
                background: transparent;
            }
        }

        &__label {
            position: absolute;
            top: 11px;
            right: 20px;
            font-size: $text--size-medium--small;

            span {
                display: none;
            }
        }
    }
}

.donate {
    &__text {
        width: 250px;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__form {
        margin-left: 15px;
        width: 450px;

        &__chooser__input {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }

        &__button {
            display: block;
            width: 100%;
            justify-content: center;
            align-items: center;
            border: 0;
            font-family: Gillsans, Roboto, Helvetica, sans-serif;

            svg {
                top: 2px;
            }
        }

        @media (max-width: $mobile) {
            margin-left: 0;
            margin-top: 15px;
            width: 100%;
        }
    }

    &--home {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;

        .donate__text {
            width: 400px;
        }
    }
}

.donation {
    margin: 20px 0 100px 0;

    &__form {
        width: 55%;

        &__amount {
            margin-bottom: 40px;
        }

        &__reductions {
            font-size: $text--size-medium--small;
        }

        &__phone {
            max-width: 200px;
        }

        &__city {
            width: 200px;
        }
    }

    &__form-explainations {
        width: 40%;
        color: #737373;

        &__taxes, &__usages, &__reasons {
            margin: 25px 0 50px 0;
        }
    }

    &__loader {
        display: none;
        text-align: center;
        margin-top: 60px;

        &__text {
            margin-top: 50px;
        }
    }
}

.donation-result {
    text-align: center;
    padding: 100px 0;

    &__support {
        margin-top: 50px;
    }
}
