.facebook {
    &__subtitle {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        padding-top: 20px;
    }

    &__example {
        padding-top: 60px;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    &__legalities {
        &__checkbox {
            padding-top: 40px;

            label {
                font-size: 12px !important;
                color: #999;
                text-align: justify;
            }
        }

        &__text {
            padding-top: 60px;
            font-size: 12px !important;
            color: #999;
            text-align: left;
        }
    }

    &__chooser {
        &__choice {
            vertical-align: top;
            display: inline-block;
            padding: 15px;
        }

        &__image {
            img, &--loading {
                width: 175px;
                height: 175px;
                padding: 0;
                margin: 0 0 10px 0;
            }

            &--loading {
                display: inline-block;
                background: url('/images/loader-sm.gif') no-repeat 50% 50% #f5f5f5;
                border: 1px solid #e5e5e5;
            }
        }
    }
}
