@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-light.eot');
    src: url('/fonts/gillsans-light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/gillsans-light.woff2') format('woff2'),
        url('/fonts/gillsans-light.woff') format('woff'),
        url('/fonts/gillsans-light.ttf') format('truetype'),
        url('/fonts/gillsans-light.svg#gillsans_lightregular') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-book.eot');
    src: url('/fonts/gillsans-book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/gillsans-book.woff2') format('woff2'),
        url('/fonts/gillsans-book.woff') format('woff'),
        url('/fonts/gillsans-book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-book-italic.eot');
    src: url('/fonts/gillsans-book-italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/gillsans-book-italic.woff2') format('woff2'),
        url('/fonts/gillsans-book-italic.woff') format('woff'),
        url('/fonts/gillsans-book-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-heavy.eot');
    src: url('/fonts/gillsans-heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/gillsans-heavy.woff2') format('woff2'),
        url('/fonts/gillsans-heavy.woff') format('woff'),
        url('/fonts/gillsans-heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gillsans';
    src: url('/fonts/gillsans-heavy-italic.eot');
    src: url('/fonts/gillsans-heavy-italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/gillsans-heavy-italic.woff2') format('woff2'),
        url('/fonts/gillsans-heavy-italic.woff') format('woff'),
        url('/fonts/gillsans-heavy-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
