form {
    @media (max-width: $tablet) {
        width: 100%;
    }
}

.form {
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;

    &__field {
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid $gray;
        height: 38px;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: $text--size-small;
        font-family: 'Roboto', sans-serif;

        @media (max-width: $tablet) {
            margin: 5px 10px 5px 0;
        }
    }

    &__email {
        width: 290px;

        @media (max-width: $tablet) {
            flex-grow: 2;
        }

        @media (max-width: $mobile) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__zipcode {
        width: 110px;

        @media (max-width: $tablet) {
            flex-grow: 1;
        }
    }

    &--full {
        width: 100%;
    }
}

.newsletter {
    @media (max-width: $tablet) {
        .text--all-caps {
            text-align: center;
        }
    }
}
