.form {
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;

    &__field {
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid $gray;
        height: 38px;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: $text--size-small;
        font-family: 'Roboto', sans-serif;

        @media (max-width: $tablet) {
            margin: 10px 10px 10px 0;
        }
    }

    &__email-field {
        width: 290px;
    }

    &__zipcode {
        width: 110px;
    }

    &--full {
        width: 100%;
    }
}

.newsletter {
    @media (max-width: 877px) {
        &.l__row--h-stretch {
            justify-content: center;
        }
    }

    @media (max-width: 665px) {
        &.l__row {
            flex-direction: column;
        }

        .l__row {
            flex-direction: column;
            width: 90%;
        }

        .form__email-field {
            width: 290px;
            margin: 10px 0;
        }

        .form__zipcode {
            width: 147px;
            margin-left: 0;
        }
    }
}
