.form {

    &__label {
        font-family: $font-roboto;
        @include text--small;
    }

    &__field {
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid $gray;
        height: 41px;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: $text--size-small;
        font-family: $font-roboto;
        @media (max-width: $tablet) {
            margin: 5px 10px 5px 0;
        }

        &--no-border {
            border: none;
        }

        &--textarea-120 {
            height: 120px;
            padding: 12px;
        }

        &--textarea-300 {
            height: 200px;
            padding: 12px;
        }

        &--textarea-500 {
            height: 500px;
            padding: 12px;
        }

        &--no-margin {
            margin: 0;
        }
    }

    &__errors {
        padding-left: 13px !important;
        padding-right: 13px;
        @include text--smallest;
        font-family: $font-roboto;

        li {
            list-style-type: none !important;
            padding: 2px 0 0;
            width: 95%;
        }
    }

    &__email {
        width: 290px;
        @media (max-width: $tablet) {
            flex-grow: 2;
        }
        @media (max-width: $mobile) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__zipcode {
        width: 110px;
        @media (max-width: $tablet) {
            flex-grow: 1;
        }
    }

    &__row {
        margin-bottom: 15px;
        width: 100%;

        label {
            font-family: $font-roboto;
            @include text--small;
        }

        &--stretch {
            display: flex;
            justify-content: space-between;
        }

        #app_donation_gender {
            .form {
                font-family: $font-roboto;
            }

            label {
                margin: 0 25px 0 5px;
            }
        }

        &__checkbox {
            text-align: left;
        }
    }

    &__error {
        color: $error;
    }

    &--full {
        width: 100%;
    }

    &--mid {
        width: 49%;
        margin: 0;
    }

    &--third {
        width: 32%;
        margin: 0;
    }

    &--warning {
        background: #edf861;
        margin: 30px 0;
        padding: 10px;
        color: #ff3680;
        font-size: 16px;
        line-height: 1em;
    }

    &__radio-button {
        label {
            display: flex;
            align-items: center;
            margin: 5px 0;

            &:before {
                content: ' ';
                width: 20px;
                height: 20px;
                min-width: 20px;
                min-height: 20px;
                border-radius: 50px;
                margin-right: 10px;
                border: 7px solid $gray--light;
                transition: all .2s;
                background: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
            }
        }

        input[type="radio"] {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + label:before {
                border-color: $blue;
                background: white;
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;

        &--col {
            width: 25%;

            @media (max-width: $mobile) {
                width: 50%;
            }
        }

        label {
            display: flex;
            align-items: center;
            margin: 5px 0;
            text-align: left;

            &:before {
                content: ' ';
                width: 20px;
                height: 20px;
                min-width: 20px;
                min-height: 20px;
                margin-right: 10px;
                border: 1px solid $gray;
                transition: all .2s;
                background: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--large label:before {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            margin-right: 15px;
            border-width: 2px;
        }

        &:hover {
            label:before {
                background: $gray--lighter;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:checked + label:before {
                border-color: $blue;
                background: $blue;
                content: $checkbox__mark;
            }
        }
    }
}

.newsletter {
    @media (max-width: $tablet) {
        form {
            width: 100%;
        }

        .text--all-caps {
            text-align: center;
        }
    }


    @media (max-width: $mobile) {
        button {
            width: 100%;
            margin-top: 5px;
        }

        input {
            margin-right: 0;
        }
    }
}

.newsletter-page, .invitation-page {
    margin: 20px 0 100px 0;

    &__form {
        margin-top: 20px;
    }
}

.newsletter-result, .invitation-result {
    margin: 80px 0 100px 0;
    text-align: center;
}

.security,
.login,
.forgot-password,
.reset-password {
    &--box {
        margin: 20px auto 0;
        background-color: white;

        &--separator {
            border-top: 2px solid black;

            &--text {
                width: 20%;
                position: relative;
                top: -12px;
                margin: 0 auto;
                background-color: white;
            }
        }
    }

    margin: 50px 0 100px 0;
    text-align: center;

    &__form {
        margin-top: 25px;
    }

    &__error {
        margin-bottom: 20px;
    }

    &__separator {
        margin: 50px 0 10px 0;
        border-top: 1px solid $gray--light;

        &__text {
            width: 55%;
            position: relative;
            top: -12px;
            margin: 0 auto;
            background-color: white;
        }
    }
}

.address {
    &__postal-code--loading {
        background: url('/images/loader-sm.gif') no-repeat 93% 50%;
    }
}

.flash {
    background-color: $yellow;

    &__inner {
        @include wrapper;
        padding: 20px 0;
        font-family: $font-roboto;
        text-align: center;
    }
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.select__styled {
    width: 285px;
    height: 50px;
    position: relative;

    &:before {
        content: $caret--down;
        top: 14px;
        right: 20px;
        position: absolute;
        z-index: 1;
    }

    &--inner {
        position: absolute;
        font-size: $text--size-default;
        width: 285px;
        -webkit-appearance: inherit;
        border-radius: 0;
        color: rgba(black, 0.5);
        padding: 15px 20px;
        border: 0;
        border-bottom: 1px solid $gray--light;
    }
}
