.form {
    font-family: 'Gillsans', 'Roboto', Helvetica, sans-serif;

    &__field {
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid $gray;
        height: 41px;
        box-sizing: border-box;
        margin-right: 10px;
        font-size: $text--size-small;
        font-family: 'Roboto', sans-serif;
        @media (max-width: $tablet) {
            margin: 5px 10px 5px 0;
        }

        &--no-border {
            border: none;
        }
    }

    &__email {
        width: 290px;
        @media (max-width: $tablet) {
            flex-grow: 2;
        }
        @media (max-width: $mobile) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__zipcode {
        width: 110px;
        @media (max-width: $tablet) {
            flex-grow: 1;
        }
    }

    &__row {
        margin-bottom: 15px;
    }

    &__error {
        color: #c80303;
    }

    &--full {
        width: 100%;
    }
}

.newsletter {
    @media (max-width: $tablet) {
        form {
            width: 100%;
        }

        .text--all-caps {
            text-align: center;
        }
    }
}

.login {
    &--box {
        margin: 20px auto 0;
        background-color: white;

        &--separator {
            border-top: 2px solid black;

            &--text {
                width: 20%;
                position: relative;
                top: -12px;
                margin: 0 auto;
                background-color: white;
            }
        }
    }
}
