// Layout

.l {
    &__wrapper {
        @include wrapper;
    }

    &__wrapper--medium {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__wrapper--narrow {
        width: 90%;
        max-width: 850px;
        margin: 0 auto;
    }

    &__wrapper--slim {
        @include wrapper--slim;
    }

    &__wrapper--main {
        max-width: 800px;
        flex-grow: 1;
        margin-right: 30px;
    }

    &__wrapper--aside {
        width: 285px;
    }

    &__wrapper-560 {
        width: 90%;
        max-width: 560px;
        margin: 0 auto;
    }

    &__wrapper-500 {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__wrapper-300 {
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--wrap {
            flex-wrap: wrap;
        }

        &--h-stretch {
            justify-content: space-between;
        }

        &--h-stretch-around {
            justify-content: space-around;
        }

        &--v-stretch {
            align-items: stretch;
        }

        &--center {
            justify-content: center;
        }

        &--top {
            align-items: flex-start;
        }

        &--middle {
            align-items: center;
        }

        &--bottom {
            align-items: flex-end;
        }

        &--top {
            align-items: flex-start;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--center {
            align-items: center;
        }

        &--left {
            align-items:flex-start;
        }

        &--top {
            justify-content: flex-start;
        }

        &--middle {
            justify-content: center;
        }

        &--bottom {
            justify-content: flex-end;
        }

        &--v-stretch {
            justify-content: space-between;
        }
    }

    &__tablet {
        @media (max-width: $tablet) {
            &--col {
                display: flex;
                flex-direction: column;
                align-items: stretch;

                &-center {
                    align-items: center;
                }
            }
        }
    }

    &__mobile {
        @media (max-width: $mobile) {
            &--col {
                display: flex;
                flex-direction: column;

                &-center {
                    align-items: center;
                }
            }
        }
    }

    &__hide {
        &--on-mobile {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        &--on-small-laptop {
            @media (max-width: $tablet + 150px) {
                display: none;
            }
        }

        &--on-tablet {
            @media (max-width: $tablet) {
                display: none !important;
            }
        }

        &--above-small-laptop {
            @media (min-width: $tablet + 151px) {
                display: none;
            }
        }

        &--on-desktop {
            @media (min-width: $tablet + 1) {
                display: none;
            }
        }
    }
}

// Blocks

.space {
    &--100-0 {
        padding: 100px 0;
    }

    &--60-0 {
        padding: 60px 0;
    }

    &--45-5 {
        padding: 45px 5px;
    }

    &--30 {
        padding: 30px;
    }

    &--30-0 {
        padding: 30px 0;
    }

    &--35-15 {
        padding: 35px 0 15px;
    }

    &--20 {
        padding: 20px;
    }

    &--20-0 {
        padding: 20px 0;
    }

    &--5-20 {
        padding: 5px 0 20px;
    }

    &--20-30 {
        padding: 20px 30px;
    }

    &--10-0 {
        padding: 10px 0;
    }
}

.b {
    &__nudge {

        &--top-50 {
            margin-top: 50px;
        }

        &--top-40 {
            margin-top: 40px;
        }

        &--top-large {
            margin-top: 30px;
        }

        &--top {
            margin-top: 20px;
        }

        &--top-15 {
            margin-top: 15px;
        }

        &--top-10 {
            margin-top: 10px;
        }

        &--bottom-tiny {
            margin-bottom: 5px;
        }

        &--bottom-small {
            margin-bottom: 10px;
        }

        &--bottom-medium {
            margin-bottom: 15px;
        }

        &--bottom {
            margin-bottom: 20px;
        }

        &--bottom-large {
            margin-bottom: 30px;
        }

        &--bottom-larger {
            margin-bottom: 40px;
        }

        &--bottom-60 {
            margin-bottom: 60px;
        }

        &--bottom-huge {
            margin-bottom: 80px;
        }

        &--right-nano {
            margin-right: 5px;
        }

        &--right {
            margin-right: 20px;
        }

        &--right-large {
            margin-right: 30px;
        }

        &--right-larger {
            margin-right: 40px;
        }
    }
}

// TODO: need better way to manage bg images, maybe a scss file just for that

.comite {
    flex-basis: 320px;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        max-width: 90%;
    }
}

.proteger {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 25px;
}
