// Layout

.l {
    &__wrapper {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__wrapper--medium {
        width: 95%;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__wrapper--slim {
        width: 95%;
        max-width: 725px;
        margin: 0 auto;
    }

    &__wrapper-500 {
        width: 500px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;

        &--wrap {
            flex-wrap: wrap;
        }

        &--h-stretch {
            justify-content: space-between;
        }

        &--h-stretch-around {
            justify-content: space-around;
        }

        &--v-stretch {
            align-items: stretch;
        }

        &--center {
            justify-content: center;
        }

        &--top {
            align-items: flex-start;
        }

        &--middle {
            align-items: center;
        }

        &--bottom {
            align-items: flex-end;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--center {
            align-items: center;
        }

        &--top {
            justify-content: flex-start;
        }

        &--middle {
            justify-content: center;
        }

        &--bottom {
            justify-content: flex-end;
        }
    }

    &__tablet {
        @media (max-width: $tablet) {
            &--col {
                display: flex;
                flex-direction: column;
                align-items: stretch;

                &-center {
                    align-items: center;
                }
            }
        }
    }

    &__mobile {
        @media (max-width: $mobile) {
            &--col {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &__hide {
        &--on-mobile {
            @media (max-width: $mobile) {
                display: none;
            }
        }

        &--on-tablet {
            @media (max-width: $tablet) {
                display: none;
            }
        }

        &--on-desktop {
            @media (min-width: $tablet + 1) {
                display: none;
            }
        }
    }
}

// Blocks

.space {
    &--60-0 {
        padding: 60px 0;
    }

    &--45-5 {
        padding: 45px 5px;
    }

    &--30 {
        padding: 30px;
    }

    &--30-0 {
        padding: 30px 0;
    }

    &--20-0 {
        padding: 20px 0;
    }

    &--20-30 {
        padding: 20px 30px;
    }

    &--10-0 {
        padding: 10px 0;
    }
}

.b {
    &__nudge {

        &--top {
            margin-top: 20px;
        }

        &--top-large {
            margin-top: 30px;
        }

        &--bottom-nano {
            margin-bottom: 5px;
        }

        &--bottom-small {
            margin-bottom: 10px;
        }

        &--bottom {
            margin-bottom: 20px;
        }

        &--bottom-large {
            margin-bottom: 30px;
        }

        &--bottom-larger {
            margin-bottom: 60px;
        }

        &--right-nano {
            margin-right: 5px;
        }

        &--right-small {
            margin-right: 10px;
        }

        &--right {
            margin-right: 20px;
        }

        &--right-big {
            margin-right: 30px;
        }
    }
}

// TODO: need better way to manage bg images, maybe a scss file just for that

.comite {
    flex-basis: 320px;
    height: 370px;
    background: linear-gradient(0deg ,rgba(0,0,0,.8), rgba(0,0,0,0)),
                url('/images/carte-france.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.proteger {
    background: linear-gradient(120deg ,rgba(0,0,0,.8), rgba(0,0,0,0)),
                url('/images/proteger-la-france@3x.jpg');
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}
