.legislatives {
    .box {
        width: 48%;
        border-width: 2px;
        border-style: solid;
        padding: 30px 25px;;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            width: 100%;

            &:first-child {
                margin-bottom: 20px;
            }
        }

        form {
            width: 100%;

            input[type="text"] {
                border-right: 0;
                flex: 1;
                height: 40px;
            }
        }
    }

    .list__links a {
        opacity: 0.7;

        &.active {
            opacity: 1;
        }
    }

    &__trombi__item {
        width: 32%;

        @media (max-width: $tablet) {
            width: 48%;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }

        &__visual {
            @include gradient-container;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 200px;
            display: flex;
            align-items: flex-end;
            padding: 10px 15px;
            box-sizing: border-box;

            &:before {
                @include classic-gradient($filter);
            }

            > div {
                z-index: 2;
            }
        }
    }

    &__social {
        .fa {
            font-size: $text--size-medium;
            margin-left: 5px;
            cursor: pointer;

            &-facebook-official {
                color: $facebook;
            }

            &-twitter {
                color: $twitter;
            }

            &:hover {
                opacity: .8
            }
        }
    }

    &__candidate__photo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40%;
        height: 250px;

        @media (max-width: $tablet) {
            height: 175px;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__candidate__info {
        width: 57%;

        @media (max-width: $mobile) {
            width: 100%;
            margin-top: 20px;
        }
    }
}
