.legislatives__map {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.legislatives {
    &__header {
        margin: 20px auto;

        @media (max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            > div {
                padding-left: 5%;
            }

            nav {
                margin-top: 20px;
                width: 100%;
                padding-left: 5%;
                box-sizing: border-box;
                @include gradient-container;

                &:after {
                    @include classic-gradient($gradient--menu);
                    width: 40px;
                    right: 0;
                    left: auto;
                    top: -5px;
                }
            }

            ul {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                width: auto;
                justify-content: flex-start;
                padding: 0 0 20px 0;
                -webkit-overflow-scrolling: touch;

                li:last-child {
                    padding-right: 50px;
                }
            }
        }
    }

    header {
        @media (max-width: $mobile) {
            padding: 0 0 40px;
        }
    }

    input[type="text"] {
        border: 0;
        border-bottom: 1px solid black;
        padding: 6px 0;
        width: 100%;
        margin: 0 auto;
        @include text--default;
        margin-right: 20px;

        &::placeholder {
            color: $gray;
        }

        &:focus {
            outline: none;
        }
    }

    select {
        @include text--default;
        border: 0;
        background: 0;
        border-radius: 0;
        -webkit-appearance: none;
        border-bottom: 1px solid black;
        padding: 6px 0;
        min-width: 272px;
    }

    &__form {
        display: flex;
        align-items: center;

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;

            .fa {
                margin: 0;
            }

            .l__row,
            .l__row > select {
                width: 100%;
            }

            .l__row {
                margin: 15px 0 0 0;
            }
        }

        .label {
          margin-right: 10px;
        }

        .fa {
          margin-left: -10px;
        }
    }

    &__no_results {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    &__trombi__item {
        width: 32%;
        margin-bottom: 20px;
        height: 248px;

        @media (max-width: $tablet) {
            width: 48%;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }

        &__visual {
            @include gradient-container;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 200px;
            display: flex;
            align-items: flex-end;
            padding: 10px 15px;
            box-sizing: border-box;
            transition: all .2s;
            background-size: 100%;

            &:before {
                @include classic-gradient($filter);
            }

            &:hover {
                background-size: 200%;
            }

            > div {
                z-index: 2;
            }
        }
    }

    &__social {
        .fa {
            font-size: $text--size-medium;
            margin-left: 5px;
            cursor: pointer;

            &-facebook-official {
                color: $facebook;
            }

            &-twitter {
                color: $twitter;
            }

            &:hover {
                opacity: .8
            }
        }
    }

    &__candidate__photo {
        background-color: $filter;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40%;
        height: 250px;

        @media (max-width: $tablet) {
            height: 175px;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__candidate__info {
        width: 57%;

        @media (max-width: $mobile) {
            width: 100%;
            margin-top: 20px;
        }
    }
}

.hidden {
    display: none;
}
