.legislatives {
    input[type="text"] {
        border: 0;
        border-bottom: 1px solid black;
        padding: 6px 0;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        @include text--default;
        margin-right: 20px;

        &::placeholder {
            color: $gray;
        }

        &:focus {
            outline: none;
        }
    }

    select {
      @include text--default;
      border: 0;
      background: 0;
      border-radius: 0;
      -webkit-appearance: none;
      border-bottom: 1px solid black;
      padding: 6px 0;
      min-width: 272px;
    }

    form {
        display: flex;
        align-items: center;

        .label {
          margin-right: 10px;
        }

        .fa {
          margin-left: -10px;
        }
    }

    &__no_results {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    &__trombi__item {
        width: 32%;
        margin-bottom: 20px;
        height: 248px;

        @media (max-width: $tablet) {
            width: 48%;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }

        &__visual {
            @include gradient-container;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 200px;
            display: flex;
            align-items: flex-end;
            padding: 10px 15px;
            box-sizing: border-box;

            &:before {
                @include classic-gradient($filter);
            }

            > div {
                z-index: 2;
            }
        }
    }

    &__social {
        .fa {
            font-size: $text--size-medium;
            margin-left: 5px;
            cursor: pointer;

            &-facebook-official {
                color: $facebook;
            }

            &-twitter {
                color: $twitter;
            }

            &:hover {
                opacity: .8
            }
        }
    }

    &__candidate__photo {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40%;
        height: 250px;

        @media (max-width: $tablet) {
            height: 175px;
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &__candidate__info {
        width: 57%;

        @media (max-width: $mobile) {
            width: 100%;
            margin-top: 20px;
        }
    }
}

.hidden {
    display: none;
}
