.referent {
    &__filters {
        background: $gray--lighter;
        padding: 10px;
        margin: 20px 0 50px 0;

        &__title {
            margin: 0;
            padding: 0;
        }

        .form__row {
            margin-bottom: 0;
        }

        &__button {
            text-align: center;
            width: 200px;
            height: 75px;
        }
    }

    &__btn-create-event {
        float: right;
        margin: -8px 0 0 0;
    }

    .datagrid__table {
        font-family: $font-roboto;
        font-size: 14px;
    }

    &__item {
        td {
            padding: 10px 0;
        }

        &__metadata {
            margin-left: 10px;
            color: $gray--muted;
        }

        &--host {
            background: #fffad3;

            &:hover {
                background: #f4efcb !important;
            }
        }
    }
}
