.referent {
    &__sidebar {
        flex-grow: 1;
        min-width: 275px;
        border-right: 2px solid #f2f2f2;
        padding: 0 20px 20px 20px;

        h4 {
            text-transform: uppercase;
            font-weight: normal;
            margin-top: 20px;
            color: #828282;
            font-size: 16px;
            padding: 10px 15px;
        }

        a {
            font-size: 14px;
            display: block;
            border: 0;
            text-decoration: none;
            transition: 0s;
            padding: 10px 15px;
            
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }

        li.active a {
            background: #e9e9e9;
            color: black;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__content {
        padding: 20px;
        flex-grow: 3;

        &__loader {
            width: 100%;
            height: 300px;
            background: url('/images/loader-sm.gif') no-repeat 50% 50%;
        }

        &__list {
            width: 100%;
        }
    }

    &__btn-send-mail {
        float: left;
        margin: -8px 20px 0 0;
    }

    &__users-count-container {
        @media (max-width: $mobile) {
            display: block;
            clear: both;
            padding-top: 10px;
        }
    }
}
