.register {
    &__header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__form {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;

        form {
            width: 100%;
        }

        &__row {
            width: 100%;
            background: yellow;
        }

        &--full,
        &--mid,
        &--third {
            margin: 5px 0;

            input,
            select {
                width: 100%;
                margin-right: 0;
            }
        }

        &--mid {
            width: 49%;

            @media (max-width: $mobile) {
                width: 100%;
            }
        }

        &--third {
            width: 32%;

            @media (max-width: $mobile) {
                width: 100%;
            }
        }

        &__phone {
            margin: 5px 0;

            select,
            input {
                width: 49%;
                margin-right: 0;
            }
        }

        &__gender {
            label {
                @include text--small;
                margin: 0 20px 0 8px;
                font-family: $font-roboto;
            }
        }

        &__conditions {
            margin-left: 25px;
            margin-top: -22px;
        }

        #membership-address {
            display: flex;
            flex-direction: column;

            .form__errors {
                order: 3;
                margin-bottom: 10px;
                margin-top: -5px;
            }
        }
    }

    &__donation {
        article {
            max-width: 575px;
            width: 90%;
            margin: 0 auto;
        }
    }

    &__interests {
        label {
            height: 25px;
            width: 20%;
            font-family: $font-roboto;

            @media (max-width: $mobile) {
                width: 41%;
            }
        }

        input {
            width: 3%;

            @media (max-width: $mobile) {
                width: 5%;
            }
        }

        &__options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        &__buttons {
            width: 100%;
            max-width: 340px;
            margin: 0 auto;

            @media (max-width: $mobile) {
                button {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__comites {
        margin-bottom: 120px;
        align-items: stretch;

        &__list {
            flex-grow: 2;
        }

        &__follow {
            flex-grow: 1;
            max-width: 220px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 20px;

            @media (max-width: $mobile) {
                justify-content: flex-start;
                max-width: 100%;
            }

            input {
                margin-right: 10px;
            }

            .form {
                font-family: $font-roboto;
            }
        }
    }
}
