$text--size-smallest: 12px;
$text--size-small: 14px;
$text--size-default: 16px;
$text--size-medium--small: 18px;
$text--size-medium: 24px;
$text--size-medium--large: 28px;
$text--size-large: 34px;
$text--size-larger: 44px;
$text--size-extra-large: 48px;

@mixin text--bold {
    font-weight: 700;
}

@mixin text--smallest {
    font-size: $text--size-smallest;
    line-height: 18px;
}

@mixin text--small {
    font-size: $text--size-small;
    line-height: 23px;
}

@mixin text--default {
    font-size: $text--size-default;
    line-height: 24px;
}

@mixin text--medium-small {
    font-size: $text--size-medium--small;
    line-height: 28px;
}

@mixin text--medium-small--bold {
    font-size: $text--size-medium--small;
    font-weight: 700;
    line-height: 1.4em;
}

@mixin text--medium {
    font-size: $text--size-medium;
    line-height: 1.2em;
}

@mixin text--medium-large {
    font-size: $text--size-medium--large;
    letter-spacing: -0.6px;
    line-height: 32px;
}

@mixin text--large {
    font-size: $text--size-large;
    letter-spacing: -0.5px;
    line-height: 38px;
}

@mixin text--larger {
    font-size: $text--size-larger;
    line-height: 0.93;
    letter-spacing: -1.2px;
}

@mixin text--extra-large {
    font-size: $text--size-extra-large;
    letter-spacing: -1.5px;
    line-height: 52px;
}

@mixin text--body {
    font-family: $font-roboto;
    letter-spacing: .3px;
    line-height: 1.5;
    font-size: $text--size-default;
}

@mixin text--summary {
    font-family: $font-roboto;
    letter-spacing: .3px;
    line-height: 1.4;
    font-size: $text--size-small;
    font-weight: 400;
}

@mixin text--logo {
    @include text--bold;
    font-size: $text--size-medium--large;
    font-style: italic;
    line-height: 0.9em;
    margin-right: 10px;
    letter-spacing: -0.7px;

    @media (max-width: $tablet) {
        font-size: $text--size-medium;
    }

    @media (max-width: $mobile) {
        font-size: 22px;
    }

    a {
        border: 0;
    }
}

@mixin text--blue {
    color: $blue
}

@mixin text--all-caps {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.text {
    &--summary {
        @include text--summary;
    }

    &--body {
        @include text--body;
    }

    &--small {
        @include text--small;
    }

    &--medium-small {
        @include text--medium-small;
    }

    &--medium {
        @include text--medium;
    }

    &--medium-large {
        @include text--medium-large;
    }

    &--large {
        @include text--large;

        @media (max-width: $mobile) {
            @include text--medium-large;
        }
    }

    &--larger {
        @include text--larger;

        @media (max-width: $mobile) {
            @include text--large;
        }
    }

    &--extra-large {
        font-size: $text--size-extra-large;
        line-height: 1em;

        @media (max-width: $mobile) {
            @include text--larger;
        }
    }

    &--logo {
        @include text--logo;
    }

    &--italic {
        font-style: italic;
    }

    &--normal {
        font-weight: normal;
    }

    &--bold {
        @include text--bold;
    }

    &--on-white {
        background: white;
        padding: 0 5px;
    }

    &--on-pink {
        color: white;
        background: $pink;
        padding: 0 5px;
    }

    &--limited {
        max-width: 500px;

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    &--all-caps {
        @include text--all-caps;
    }

    &--all-caps-wide {
        text-transform: uppercase;
        letter-spacing: 2.5px;
    }

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--white {
        color: white;

        path,
        polygon {
            @include color(white);
        }
    }

    &--blue {
        @include text--blue;
    }

    &--gray {
        color: $black--half;
    }

    &--light-gray {
        color: $gray;
    }
}

.link {
    &--white {
        color: white;
        border-color: white;
    }
}

.list {
    &__links {
        display: flex;

        li {
            letter-spacing: 0.3px;
            font-family: $font-roboto;
            font-size: $text--size-small;

            h4 {
                font-family: $font-gillsans;
            }
        }

        .head {
            text-transform: uppercase;
            font-family: $font-gillsans;
            letter-spacing: 1.5px;
        }

        &--default {
            li {
                font-size: $text--size-default;
            }
        }
    }

    &__links--row {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &-bottom {
            align-items: flex-end;
        }

        li {
            padding-right: 15px;

            &:last-child {
                padding: 0;
            }
        }
    }

    &__links--col {
        flex-direction: column;
        margin-bottom: 15px;

        li {
            padding-bottom: 4px;
        }
    }

    &__links--col-mobile {
        @media (max-width: $mobile) {
            flex-direction: column;
            margin-bottom: 15px;

            li {
                padding: 0 0 4px 0;
            }
        }
    }

    &__links--no-decor {
        a {
            border: none;
        }
    }

    &__links--svgs {
        li {
            padding-right: 20px;

            .fa {
                font-size: 38px;
            }
        }

        &--small {
            li {
                padding-right: 15px;

                .fa {
                    font-size: 20px;
                }
            }
        }

        @media (max-width: $mobile) {
            li,
            li:last-child {
                padding-left: 15px;
                padding-right: 15px;

                .fa {
                    margin-bottom: 10px;
                }
            }

            &--small {
                li,
                li:last-child {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    &__links--nav {
        li {
            font-family: $font-gillsans;
            font-size: $text--size-medium--small;

            h1 {
                @include text--logo;
            }

            .icon-search {
                position: relative;
                top: 6px;
            }
        }

        &.list__links--col {
            li {
                line-height: 2;
            }
        }
    }
}

.icon {
    &--with-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;

        svg,
        i {
            margin-right: 7px;
        }
    }
}
