$tablet: 1000px;
$mobile: 650px;

$gradient--light: linear-gradient(20deg ,rgba(0, 0, 0, .0), rgba(0, 0, 0, .3));
$gradient: linear-gradient(20deg ,rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
$gradient-hover: linear-gradient(20deg , rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
