$tablet: 1000px;
$mobile: 650px;

@mixin wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@mixin wrapper--slim {
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}


$zIndex__overlay-menu: 2;
$zIndex__overlay-caret: 3;
