.videos {
    hr {
        background: rgba(0, 0, 0, 0.1);
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
            width: 48%;

            @media (max-width: $mobile) {
                width: 100%;
            }

            .fb-video {
                background: white;
                margin-bottom: 10px;
            }

            ._4-u2 {
                border-color: transparent;
                border-width: 5px;
            }
        }
    }
}

.home__video__wrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

    iframe {
        position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
}
