.videos {
    hr {
        background: rgba(0, 0, 0, 0.1);
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
            width: 48%;

            @media (max-width: $mobile) {
                width: 100%;
            }

            .fb-video {
                background: white;
                margin-bottom: 10px;
            }

            ._4-u2 {
                border-color: transparent;
                border-width: 5px;
            }
        }
    }
}

.video__container {
    position: relative;
    display: flex;
    flex-direction: column;

    video {
        position: relative;
        z-index: 100;
    }
}

.video__content {
    position: absolute;
    z-index: 200;
    bottom: 0;
    left: 0;
    padding: 30px;
    max-width: 500px;

    @media (max-width: $tablet) {
        max-width: 100%;

        h2 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        > p {
            display: none;
        }
    }

    @media (max-width: $mobile) {
        h2 {
            font-size: 24px;
            line-height: 28px;
            margin: 0;
        }

        > div {
            display: none;
        }
    }
}

.video__filter {
    z-index: 150;
    @include classic-gradient($gradient);
}
