$biggerthanmobile: $mobile + 150px;

.content.je-partage {
    background: black;

    @media (max-width: $biggerthanmobile) {
        background: white;
        padding-bottom: 20px;
    }

    header {
        margin-bottom: 0;
        padding: 0;
    }

    .je-partage__copy {
        text-align: center;
        background: $pink;
        color: white;
        font-size: 80px;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        z-index: 3;
        opacity: 0;
        display: none;
        transform: opacity .2s;

        &--flash {
            display: flex;
            opacity: 1;
        }
    }

    .je-partage__header__info {
        text-align: center;
        padding: 20px;
        font-family: $font-roboto;
        font-size: 20px;
        background: black;
        width: 100%;
        color: white;
        box-sizing: border-box;

        @media (min-width: $biggerthanmobile + 1px) {
            display: none;
        }
    }

    .je-partage__info {
        z-index: 3;
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;
        position: relative;
        width: 100%;
        box-sizing: border-box;

        &__title {
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @media (max-width: $biggerthanmobile) {
            display: none;
        }
    }

    .je-partage__graphics {
        &__crop {
            display: flex;
            align-items: flex-start;
            position: relative;
            width: 50%;
            float: left;

            &.story--even {
                float: right;
            }

            img {
                width: 100%;
            }

            @media (max-width: $biggerthanmobile) {
                flex: initial;
                width: 100%;
                min-width: 100%;
                margin-top: 20px;
                flex-direction: column;
            }

            &:hover .je-partage__social {
                opacity: 1;
            }
        }
    }

    .je-partage__social {
        @include gradient-container;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity .2s;

        @media (max-width: $biggerthanmobile) {
            opacity: 1;
            background: black;
            position: inherit;
            align-items: initial;
            height: 94px;

            &:before {
                display: none;
            }
        }

        &--inner {
            width: 200px;
            z-index: 2;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            @media (max-width: $biggerthanmobile) {
                width: 100%;
                flex-direction: row;
            }

            a,
            .social__copy {
                cursor: pointer;
                text-align: center;
                color: white;
                border: 0;
                margin: 7px 0;
                border: 4px solid white;
                border-radius: 50px;
                height: 40px;
                width: 40px;
                padding: 20px;
                display: flex !important;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: $blue;
                    border-color: $blue;
                }

                @media (max-width: $biggerthanmobile) {
                    border: 0;
                    flex: 1;
                    text-align: center;
                    padding: 20px 0;
                    border: 0;
                    color: white;
                }
            }

            .fa {
                font-size: 30px;
            }
        }

        &:before {
            @include classic-gradient($filter--dark);
        }
    }
}
