@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@import "mixins/vars";
@import "mixins/fonts";
@import "mixins/icons";
@import "mixins/colors";
@import "mixins/text";

@import "layout/base";
@import "layout/buttons";
@import "layout/layout";
@import "layout/nav";

@import "content/header";
@import "content/inside-common";
@import "content/inside-amp";
@import "content/program";

@import "pages/listing";
@import "pages/videos";

.amp-warning {
    background: #fcecc2;
    padding: 7px 10px;
    color: $darker;
    text-align: center;
}
