@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@import "vars";
@import "fonts";
@import "icons";
@import "colors";
@import "text";

@import "base";
@import "buttons";
@import "layout";
@import "nav";

@import "content";
@import "listing";
@import "videos";

.amp-warning {
    background: #fcecc2;
    padding: 7px 10px;
    color: $darker;
    text-align: center;
}
