{% extends 'page/legislatives/layout.html.twig' %}

{% block page_title 'Recherche | Législatives' %}
{% block canonical_url url('site_legislatives_resultats_noms') %}


{% block content__inner %}

    <div class="l__wrapper">
        <a href="{{ path('site_legislatives') }}" class="icon--with-text text--summary space--20-0">
            {{ include('components/caret--left.html.twig') }}
            Retour à l'accueil</a>
    </div>

    <div class="l__wrapper--medium space--30-0 text--medium">
        Votre recherche : 2 résultats pour « Mounir »
    </div>

    {% block resultats %}

    <div class="legislatives__search__list__item l__wrapper--medium space--30-0 l__row l__row--h-stretch l__mobile--col">
        <a href="#"
           class="legislatives__search__photo progressive-background link--no-decor"
           data-sd="{{ static_asset('elles-marchent/mounir.jpg', {'w': 100, 'q': 20}) }}"
           data-hd="{{ static_asset('elles-marchent/mounir.jpg', {'w': 400, 'q': 70}) }}">
        </a>
        <div class="legislatives__search__info">
            <h1 class="text--large"><a href="#" class="link--no-decor">Mounir Mahjoubi</a></h1>
            <span class="text--medium-large">1e circonscription<span>
            <div class="legislatives__social space--20-0 text--body text--medium-small">
                Entrepreneur, Mounir Mahjoubi a grandi au sein d'une famille populaire à Paris.
            </div>
        </div>
    </div>

    {% endblock %}

{% endblock %}
