@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.movement-ideas {
  &__first__section {
    height: 400px;
    padding-top: 125px;

    &__title {
      display: inline-block;
      font-size: 48px;
    }

    &__content {
      margin-top: 20px;
      color: $medium-grey;
    }
  }

  &__second__section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }

  @media screen and (max-width: $width-md) {
    &__first__section {
      padding-top: 30px;
      padding-bottom: 100px;

      &__title {
        font-size: 32px;
      }
    }

    &__slider {
      margin-bottom: 60px;
    }
  }
}
