.movement-ideas {
    &__first__section {
        height: 400px;
        padding: 50px 0 0 100px;

        &__content {
            color: $medium-grey;
        }
    }

    &__second__section {
        display: flex;
        justify-content: center;
        height: 300px;
        padding: 0px 100px 0 100px;
    }
}