.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 35px;

  &__dots {
    color: $marine-blue;
  }

  > * + * {
    margin-left: 15px;
  }

  &__current {
    cursor: default;
    padding: 0;
  }

  &__prev,
  &__next {
    padding: 5px 0;
  }
}
