{% extends 'base.html.twig' %}

{% block page_title 'Vous êtes désormais inscrit à notre newsletter' %}
{% block canonical_url url('newsletter_subscription') %}

{% block content %}

    <main class="newsletter-result">
        <h2>Vous êtes désormais inscrit à notre newsletter !</h2>

        <p>
            Vous serez régulièrement informé toutes les informations concernant le mouvement.
        </p>

        <p>
            <a href="{{ path('homepage') }}" class="btn btn--blue">Retourner à l'accueil</a>
        </p>
    </main>

{% endblock %}
