{% extends 'base.html.twig' %}

{% block banner '' %}
{% block footer '' %}

{% block page_title 'Vous êtes désormais déinscrit de notre newsletter' %}
{% block canonical_url url('newsletter_subscription') %}

{% block content %}

    <main class="newsletter-result">
        <h2 class="b__nudge--bottom-60">Vous êtes désormais désinscrit de notre newsletter.</h2>

        <p>
            <a href="{{ path('homepage') }}" class="btn btn--blue">Retourner à l'accueil</a>
        </p>
    </main>

{% endblock %}
