{% extends 'base.html.twig' %}

{% block page_title 'La Grande Marche' %}
{% block meta_description 'La Grande Marche pour l\'Europe démarre le 7 avril 2018. Nous partons à l\'écoute de nos concitoyens, afin de réinventer avec eux notre projet pour l\'Europe.' %}
{% block canonical_url url('page_grande_marche_europe') %}
{% block open_graph_image (url('homepage')|trim('/') ~ static_asset('grande-marche-social-media.jpg', {'q': 70}))|raw %}

{% block header '' %}
{% block banner '' %}
{% block footer '' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runGrandeMarcheEurope();
        });
    </script>
{% endblock %}

{% block content %}
<main class="gme">
    <section class="splash-screen">
       <div class="logo text--center">
           <img src="https://storage.googleapis.com/en-marche-staging/static/images/logoGme.svg"
                alt="La Grande Marche">
       </div>
    </section>
        <section class="video--bkg">
            <header>
                <div class="logo text--white ">
                    <img src="https://storage.googleapis.com/en-marche-staging/static/images/logoGme.svg"
                         alt="La Grande Marche">
                </div>
                <div class="socials text--white">
                    <p class="text--uppercase text--body text--small">Partager sur :</p>
                    <a href="#"
                       onclick="App.share('facebook', window.location.href, 'La grande Marche de l\'Europe')">
                        <i class="fa fa-lg fa-facebook"></i>
                    </a>
                    <a href="#"
                       onclick="App.share('twitter', window.location.href, 'La grande Marche de l\'Europe')">
                        <i class="fa fa-lg fa-twitter"></i>
                    </a>
                </div>
            </header>
            <div class="gme__title text--center">
                <h1 class="text--white text--large text--italic">
                    La Grande Marche pour l'Europe démarre le <span>7 avril 2018</span>
                </h1>
                <p>
                    Nous partons à l’écoute de nos concitoyens, afin de réinventer
                    avec eux notre projet pour l’Europe.
                </p>
                <div class="b__nudge--top-50 b__nudge--bottom">
                    <a href="https://en-marche.fr/evenements/categorie/grande-marche-pour-l-europe"
                       class="btn btn--medium gme__btn--yellow">
                        S'inscrire aux événements près de chez moi
                    </a>
                </div>
                <div class="text--body text--white">
                    <a class="link--white"
                       href="https://en-marche.us16.list-manage.com/subscribe/post?u=55827081e9c72c969a6fa0ea5&id=1b1d13be5b">
                        Recevoir la newsletter de La Grande Marche
                    </a>
                </div>
            </div>
            <div class="filter"></div>
            <video src="https://storage.googleapis.com/en-marche-staging/static/videos/gMarche.mp4" autoplay loop>
            </video>
        </section>
</main>
{% endblock %}
