{% extends 'base.html.twig' %}

{% block page_title 'La Grande Marche de l\'Europe' %}
{% block meta_description 'Pendant 5 semaines, les adhérents de La République En Marche sont allés à la rencontre de leurs concitoyens dans le cadre d\'une vaste opération nationale de porte-à-porte, afin d\'écouter leurs préoccupations, leurs attentes et leurs propositions pour la refondation du projet européen. ' %}
{% block canonical_url url('page_grande_marche_europe') %}
{% block open_graph_image (url('homepage')|trim('/') ~ static_asset('grande-marche-social-media.jpg', {'q': 70}))|raw %}

{% block header '' %}
{% block banner '' %}
{% block footer '' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runGrandeMarcheEurope();
        });
    </script>
{% endblock %}

{% block content %}
<main class="gme">
    <section class="splash-screen">
       <div class="logo text--center">
           <img src="https://storage.googleapis.com/en-marche-staging/static/images/logoGme.svg"
                alt="La Grande Marche">
       </div>
    </section>
    <section class="video--bkg">
        <header>
            <div class="logo text--white ">
                <img src="https://storage.googleapis.com/en-marche-staging/static/images/logoGme.svg"
                     alt="La Grande Marche">
            </div>
            <div class="socials text--white">
                <p class="text--uppercase text--body text--small">Partager sur :</p>
                <a href="#"
                   onclick="App.share('facebook', window.location.href, 'La grande Marche de l\'Europe')">
                    <i class="fa fa-lg fa-facebook"></i>
                </a>
                <a href="#"
                   onclick="App.share('twitter', window.location.href, 'La grande Marche de l\'Europe')">
                    <i class="fa fa-lg fa-twitter"></i>
                </a>
            </div>
        </header>
        <div class="gme__title text--center">
            <h1 class="text--white text--large text--italic">
                <span>Grande Marche pour l’Europe :</span><br>
                Plus de 230 000 portes frappées
            </h1>
        </div>
        <div class="filter"></div>
        <video src="https://storage.googleapis.com/en-marche-staging/static/videos/gMarche.mp4" autoplay loop>
        </video>
    </section>
    <section class="gme__text">
        <div class="l__wrapper--slim b__nudge--top-50 text--body">
            <blockquote>
                « La Grande Marche pour l’Europe est un succès porté par nos adhérents, partout en France. Ils réaffirment notre volonté de faire de la politique autrement. Pendant ces cinq semaines, il ne s’agissait pas de débattre ou de convaincre, mais bien de prendre le temps d’écouter toutes les Françaises et tous les Français, au-delà des clivages partisans. Le succès de la Grande Marche, c’est aussi celui de notre méthode ! »<br>
                <span>— Christophe Castaner, Délégué général La République En Marche !</span>
            </blockquote>
            <p class="b__nudge--top-40">
                Pendant 5 semaines, les adhérents de La République En Marche sont allés à la rencontre de leurs concitoyens dans le cadre d'une vaste opération nationale de porte-à-porte, afin d'écouter leurs préoccupations, leurs attentes et leurs propositions pour la refondation du projet européen. La Grande Marche pour l'Europe a cherché à sortir de la logique d’entre-soi des cercles informés, convaincus ou sceptiques, en allant à la rencontre des citoyens sur l'ensemble du territoire quand beaucoup n'ont pas accès aux outils numériques, et de sortir des débats institutionnels ou techniques qui ont alimenté le sentiment d’exclusion de beaucoup des citoyens sur les questions européennes.
            </p>
            <p>
                <strong>Quelques chiffres :</strong>
                <ul>
                    <li>+ de 230 000 portes frappées</li>
                    <li>+ de 5000 événements organisés</li>
                    <li>près de 80 000 questionnaires remplis</li>
                    <li>720 000 minutes à l'écoute des Français et des Françaises sur la perception qu'ils ont de l'Europe !</li>
                </ul>

            <div class="b__nudge--top-50 b__nudge--bottom">
                <a href="https://www.instagram.com/explore/tags/grandemarcheeurope/"
                   class="btn btn--medium gme__btn--yellow">
                    <i class="fa fa-instagram fa-large"></i>
                    &nbsp; #GrandeMarcheEurope
                </a>
            </div>
            <div class="text--body text--white">
                <a class="link--white"
                   href="https://en-marche.us16.list-manage.com/subscribe/post?u=55827081e9c72c969a6fa0ea5&id=1b1d13be5b">
                    Recevoir la newsletter de La Grande Marche
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
