{% extends 'base.html.twig' %}

{% block page_title 'Espace responsable procuration' %}
{% block canonical_url url('app_procuration_manager_requests') %}

{% block content %}
    <main>
        <section class="procuration-manager">
            <header class="l__wrapper--slim b__nudge--bottom-large">
                <h1 class="text--center text--large">
                    Espace responsable procuration
                </h1>
                <p class="text--center">
                    Zones gérées : {{ app.user.procurationManagedAreaCodesAsString }}
                </p>
            </header>

            <div class="l__wrapper procuration-manager__content">
                {% set pages = [
                    {
                        route: 'app_procuration_manager_requests',
                        status: constant('AppBundle\\Procuration\\Filter\\ProcurationRequestFilters::UNPROCESSED'),
                        label: 'Demandes à traiter'
                    },
                    {
                        route: 'app_procuration_manager_requests',
                        status: constant('AppBundle\\Procuration\\Filter\\ProcurationRequestFilters::PROCESSED'),
                        label: 'Demandes traitées'
                    },
                    {
                        route: 'app_procuration_manager_proposals',
                        status: constant('AppBundle\\Procuration\\Filter\\ProcurationProxyProposalFilters::UNASSOCIATED'),
                        label: 'Mandataires disponibles'
                    },
                    {
                        route: 'app_procuration_manager_proposals',
                        status: constant('AppBundle\\Procuration\\Filter\\ProcurationProxyProposalFilters::ASSOCIATED'),
                        label: 'Mandataires traités'
                    },
                    {
                        route: 'app_procuration_manager_proposals',
                        status: constant('AppBundle\\Procuration\\Filter\\ProcurationProxyProposalFilters::DISABLED'),
                        label: 'Mandataires désactivés'
                    }
                ] %}

                <ul class="procuration-manager__tabs">
                    {% for page in pages %}
                        <li class="{{ is_active_route(app.request, page.route) and filters.status == page.status ? 'active' }}">
                            <a href="{{ path(page.route, { status: page.status }) }}">
                                {{ page.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <hr />

                {% block procuration_manager_content %}{% endblock %}
            </div>
        </section>
    </main>
{% endblock %}
