{% extends 'adherent_space/_layout.html.twig' %}

{% block page_title 'Espace animateur' %}

{% block adherent_space_header_title %}
    {{ committee is defined ? committee.name }}
{% endblock %}

{% block content %}
    <main class="manager-space manager-body">
        <aside class="manager-sidebar">
            {{ include('committee_manager/_sidebar.html.twig') }}
        </aside>

        <section class="manager-content">
            <div class="manager-content__container">
                <div class="text--body">
                    {% block committee_content %}{% endblock %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
