.create-idea-page__header {
  @extend %sticky-header;

  .create-idea-page__header__inner {
    display: flex;
    height: 80px;
    align-items: center;

    .create-idea-actions {
      flex: 1;

      &:nth-child(2) {
        margin-left: 0;
      }
    }

    .create-idea-actions__back,
    .create-idea-actions__report {
      @extend %reset-button;
      cursor: pointer;
      color: $saphir;
    }
    .create-idea-actions__back {
      margin-right: 40px;
    }

    .create-idea-actions__report {
      margin-left: auto;
    }

    .create-idea-actions {
      margin-left: 25px;
    }
  }

  .create-idea-page__success-banner {
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    background-color: $glitter;
    color: $light-black;

    &__close {
      @extend %reset-button;
      position: absolute;
      right: 18px;
      cursor: pointer;
    }
  }

  /* Responsive */
  @media #{$mobile} {
    .create-idea-page__header__inner {
      flex-direction: column;
      height: initial;
      padding: 30px 0;

      .create-idea-actions__back {
        margin: 0;
      }
      .create-idea-actions__report {
        margin: 0;
      }
    }
  }
}
