<div class="bercy__banner l__hide--on-tablet progressive-background" id="header-banner"
     style="display: none;"
     data-sd="{{ static_asset('bercy-banner.jpg', {'w': 300, 'q': 20}) }}"
     data-hd="{{ static_asset('bercy-banner.jpg', {'w': 2000, 'q': 70}) }}">
    <div class="l__wrapper l__row l__row--h-end space--30-0">
        <div class="l__row">
            <a href="http://invitation.agp.fr/FR/PAGE-Demande-invitation.awp?P1=Emmanuel_Macron_%C3%A0_Bercy_!_2017&P2=33v8PnE&P3=101&AWPID191FCA69=766958B9257ACF88B5A87252FBBA227458709FD3"
            class="btn btn--large btn--no-border b__nudge--right-large">
                S'inscrire
            </a>
            <a href="javascript:void(0)" class="btn__icon btn__icon--dark" id="header-banner-close-btn">
                {{ include('components/close.html.twig') }}
            </a>
        </div>
    </div>
</div>
