<img src="{{ asset('images/jevotemacron.svg') }}"
     title="Je Vote Macron"
     alt="Je Vote Macron" />
<div class="macron__banner__links">
    <a href="{{ path('article_view', {'slug': '10-raisons-de-voter-emmanuel-macron'}) }}">
        10 raisons de voter Emmanuel Macron
    </a>
    <a href="{{ path('page_emmanuel_macron_desintox_list') }}">
        Désintox
    </a>
    <a href="{{ path('page_emmanuel_macron_videos') }}">
        Vidéos à partager
    </a>
</div>
