{% extends 'base.html.twig' %}

{% block page_title 'Administration' %}

{% block content %}
    <main>
        <section class="l__wrapper--slim space--100-0">
            <h3>En raison du silence républicain, votre espace est momentanément désactivé. Vous pourrez de nouveau y accéder à la fin de celui-ci.</h3>
        </section>
    </main>
{% endblock %}
