<div class="{{ links_container_class|default('legislatives__social space--20-0') }}" class="candidate_links">
    <div class="{{ social_networks_container_class|default('list__links--svgs b__nudge--top-10') }} candidate_social_networks_links">
        {% if referent.twitterPageUrl %}
            <a href="{{ referent.twitterPageUrl }}" target="_blank" class="link--no-decor" title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}

        {% if referent.facebookPageUrl %}
            <a href="{{ referent.facebookPageUrl }}" target="_blank" class="link--no-decor" title="Facebook">
                <i class="fa fa-facebook-official"></i>
            </a>
        {% endif %}
    </div>

</div>
