{% extends 'jemengage/base.html.twig' %}

{% block banner '' %}
{% block page_title 'Une erreur est survenue.' %}

{% block content %}
    <div id="jemengage-error-container">
        <div id="title">Je m'engage</div>
        <div id="errorType">{{ status_code }}</div>
        <div id="body">Une erreur inattendue s'est produite.</div>
    </div>
{% endblock %}
