{% extends 'jemengage/base.html.twig' %}

{% block banner '' %}
{% block page_title 'Une erreur est survenue.' %}

{% block content %}
   <div id="jemengage-error-container">
        <div id="title">Espace cadre</div>
        <div id="errorType">500</div>
        <div id="body">Une erreur est survenue.</div>
    </div>
{% endblock %}
