{% extends 'jemengage/base.html.twig' %}

{% block banner '' %}
{% block page_title 'Page introuvable' %}

{% block content %}
    <div id="jemengage-error-container">
        <div id="title">Espace cadre</div>
        <div id="errorType">404</div>
        <div id="body">Cette page n'existe pas.</div>
    </div>
{% endblock %}
