{% extends 'jemengage/base.html.twig' %}

{% block banner '' %}
{% block page_title 'Maintenance' %}

{% block content %}
    <main class="error">
        <section class="l__wrapper--slim">
            <div class="error__box error__box--404"></div>
            <div>
                <h1>
                    Cette page n'existe pas !
                </h1>
                <p class="text--body text--gray">
                    Le site n'est pas disponible pour le moment car il est en train d'être mis à jour.
                </p>
            </div>
        </section>
    </main>
{% endblock %}
