{% extends 'jemengage/base.html.twig' %}

{% block banner '' %}
{% block page_title 'Page introuvable' %}

{% block content %}
    <main class="error">
        <section class="l__wrapper--slim">
            <div class="error__box error__box--404"></div>
            <div>
                <h1>
                    Cette page n'existe pas !
                </h1>
            </div>
        </section>
    </main>
{% endblock %}
