{% extends 'jemengage/base.html.twig' %}

{% block banner '' %}
{% block page_title 'Accès interdit' %}

{% block content %}
    <div id="jemengage-error-container">
        <div id="title">Espace cadre</div>
        <div id="errorType">403</div>
        <div id="body">Vous n’avez pas le droit d’accéder à cette page.</div>
    </div>
{% endblock %}
