/* --------------------------------- Tooltip --------------------------------- */
.tooltip {
    position: fixed;
    background-color: #161c24e3;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
    transform: translateX(-50%) translateY(-100%);
    margin-top: -8px;
    box-shadow: 0 2px 8px #161c241d;
    text-align: center;
}

.tooltip-line1 {
    color: white;
    margin-bottom: 4px;
}

.tooltip-line2 {
    font-weight: bold;
    font-size: 13px;
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.85);
}

/* --------------------------------- ZoomControls --------------------------------- */
.zoom-controls {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: 0px;
    background-color: #F9FAFB;
    backdrop-filter: blur(4px);
    padding: 0px;
    border-radius: 4px;
    border: 1px solid #DFE3E8;
}

.zoom-control-btn {
    padding: 8px;
    background: none;
    border: none;
    border-radius: 4px;
    color: #637381;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom-control-btn svg {
    display: block;
}

/* --------------------------------- Seat --------------------------------- */
.seat-hitbox {
    cursor: pointer;
}

.seat-disabled-hitbox {
    cursor: not-allowed;
}

/* --------------------------------- SeatMap --------------------------------- */
.seat-map-svg {
    width: 100%;
    height: 100%;
    cursor: grab;
}

.seat-map-svg:active {
    cursor: grabbing;
}

/* --------------------------------- SeatPicker ---------------------------------  */
.seat-picker-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.zoom-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.zoom-content {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.zoom-content svg {
    display: block;
    margin: 0 auto;
}
