.voting-footer-idea-page {
  margin-bottom: 20px;

  &__title {
    margin: 75px 0 34px;
    text-align: center;
    font-size: 28px;
  }

  &__vote {
    display: flex;
    justify-content: center;
    flex-direction: row;

    &__button {
      width: 180px;
      height: 50px;
      padding: 15px 14px;
      font-size: 17px;

      &:nth-child(2) {
        margin: 0 15px;
      }
    }
  }
}

@media #{$mobile} {
  .voting-footer-idea-page {
    &__vote {
      display: flex;
      justify-content: center;
      flex-direction: column;

      &__button {
        width: 100%;
        margin-bottom: 12px;

        &:nth-child(2) {
          margin: 0 0 12px 0;
        }
      }
    }
  }
}
