.voting-footer-idea-page {
  margin-bottom: 20px;

  &__title {
    margin: 75px 0 34px;
    text-align: center;
    font-size: 28px;
  }

  &__vote {
    display: flex;
    justify-content: center;
    flex-direction: row;

    &__button {
      outline: none;
      display: flex;
      justify-content: space-between;
      width: 180px;
      height: 50px;
      border: 1px solid $grey-sky;
      border-radius: 2px;
      font-size: 17px;
      font-weight: 500;
      color: $sky;
      background-color: $white;
      position: relative;

      &--selected {
        border: 1px solid $france;
        color: $france;
      }

      &:nth-child(2) {
          margin: 0 15px;
      }
    }
    &__button:hover {
      border: 1px solid $france;
      color: $france;
    }
  }

  &__flag {
    font-family: $font-roboto;
    font-size: 15px;
    font-weight: bold;
    color: $pale-cerulean;

    position: absolute;
    right: -18px;
    top: 5px;

    z-index: 5;

    opacity: 0;
  }

  &__vote__button.up &__flag {
    animation: slide-up 500ms ease-out;
  }
  &__vote__button.down &__flag {
    animation: slide-down 500ms ease-out;
  }
}

@media #{$mobile} {

    .voting-footer-idea-page {

      &__vote {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__button {
            width: 100%;
            margin-bottom: 12px;

          &:nth-child(2) {
              margin: 0 0 12px 0;
          }
        }
      }

      &__flag {
        font-size: 18px;
        right: 0;
        left: 0;
        margin: auto;
      }
    }

}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(0);
  }

  25% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  25% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(0px);
  }
}
