.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

// shared
@import '../src/style/fonts';
@import '../src/style/variables';
@import '../src/style/placeholders';
@import '../src/style/typographie';
@import '../src/style/button';

// component
@import '../src/components/Button/style';
@import '../src/components/Tabs/style';
@import '../src/components/IdeaCard/style';
@import '../src/components/IdeaCard/ContributingFooter/style';
@import '../src/components/IdeaCard/VotingFooter/style';
@import '../src/components/IdeaCardList/style';
@import '../src/components/MovementIdeas/style';
@import '../src/components/MovementIdeas/MovementIdeasSection/style';
@import '../src/components/LatestIdeas/style';
@import '../src/components/LatestIdeas/LatestIdeasPane/style';
@import '../src/components/Reports/style';
@import '../src/components/Skeletons/IdeaCardSkeleton/style';
@import '../src/components/Skeletons/IdeaCardSkeletonList/style';
@import '../src/components/Banner/style';
@import '../src/components/TextEditor/style';
@import '../src/components/Collapse/style';
@import '../src/components/TextArea/style';
@import '../src/components/Select/style';

// containers
@import '../src/containers/ModalRoot/style';
@import '../src/containers/IdeaCardList/style';

// modal
@import '../src/components/Modal/ReportsModal/style';

// pages
@import '../src/pages/ThreeTabs/style';
@import '../src/pages/Contribute/style';
@import '../src/pages/Consult/style';
@import '../src/pages/Propose/style';
