@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

*,
*::before,
*::after {
  box-sizing: border-box; }

@font-face {
  font-family: 'Gillsans';
  src: url("/public/assets/fonts/");
  src: url("/public/assets/fonts/?#iefix") format("embedded-opentype"), url("/public/assets/fonts/gillsans-light.woff2") format("woff2"), url("/public/assets/fonts/gillsans-light.woff") format("woff"), url("/public/assets/fonts/gillsans-light.ttf") format("truetype"), url("/public/assets/fonts/gillsans-light.svg#gillsans_lightregular") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("/public/assets/fonts/gillsans-regular.eot");
  src: url("/public/assets/fonts/gillsans-regular.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/gillsans-regular.woff2") format("woff2"), url("/public/assets/fonts/gillsans-regular.woff") format("woff"), url("/public/assets/fonts/gillsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("/public/assets/fonts/gillsans-italic.eot");
  src: url("/public/assets/fonts/gillsans-italic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/gillsans-italic.woff2") format("woff2"), url("/public/assets/fonts/gillsans-italic.woff") format("woff"), url("/public/assets/fonts/gillsans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Gillsans';
  src: url("/public/assets/fonts/gillsans-heavy.eot");
  src: url("/public/assets/fonts/gillsans-heavy.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/gillsans-heavy.woff2") format("woff2"), url("/public/assets/fonts/gillsans-heavy.woff") format("woff"), url("/public/assets/fonts/gillsans-heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("/public/assets/fonts/gillsans-heavy-italic.eot");
  src: url("/public/assets/fonts/gillsans-heavy-italic.eot?#iefix") format("embedded-opentype"), url("/public/assets/fonts/gillsans-heavy-italic.woff2") format("woff2"), url("/public/assets/fonts/gillsans-heavy-italic.woff") format("woff"), url("/public/assets/fonts/gillsans-heavy-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

body {
  font-family: "Roboto", Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif; }

.button {
  cursor: pointer;
  padding: 7px; }

.button--primary {
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
  background-color: #045bff;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #045bff; }

.button--primary:hover {
  background-color: #0045c8;
  color: #fff; }

.button--secondary {
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
  background-color: #fff;
  color: #045bff;
  text-transform: uppercase;
  border: 1px solid #045bff; }

.button--secondary:hover {
  background-color: #0045c8;
  color: #fff; }

.button--tertiary {
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border: 1px solid #000; }

.button--tertiary:hover {
  background-color: #000;
  color: #fff; }

.button {
  display: flex;
  align-items: center;
  justify-content: center; }
  .button .button__icon--start {
    margin-right: 7px; }
  .button .button__icon--end {
    order: 1;
    margin-left: 7px; }

.movement-ideas__first__section {
  height: 400px;
  padding: 50px 0 0 100px; }
  .movement-ideas__first__section__content {
    color: #7f7f7f; }

.movement-ideas__second__section {
  display: flex;
  justify-content: center;
  height: 280px;
  padding: 0px 100px 0 100px; }

@media screen and (max-width: 768px) {
  .movement-ideas__first__section {
    height: 250px; }
  .movement-ideas__slider {
    margin-bottom: 60px; } }

.movement-ideas__section__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px; }
  .movement-ideas__section__item__title {
    color: #353edd; }
    .movement-ideas__section__item__title__main {
      border-bottom: 7px solid #b3d7ff;
      display: inline-block;
      height: 21px; }
  .movement-ideas__section__item__content {
    margin: 15px 0 15px;
    color: #636476; }
  .movement-ideas__section__item__link {
    width: 140px;
    align-self: center;
    padding: 7px; }
