{% if object.isPending or object.isFinalized %}
    <a href="{{ path('react_app_ideas_workshop_proposition', { id: object.uuid } ) }}" class="btn btn-sm btn-default view_link"
       title="Voir sur le site" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-search-plus" aria-hidden="true"></i>
        Voir sur le site
    </a>
{% endif %}
