<a href="{{ path('app_admin_idea_contributors', { id: object.id }) }}" class="btn btn-sm btn-default view_link"
   title="Voir sur le site" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-users" aria-hidden="true"></i>
        Contributeurs
</a>
