{% if not object.isForRenaissance %}
    <a href="{{ path('app_our_organization_show', { slug: object.slug }) }}" target="_blank" class="btn btn-sm btn-default" title="Voir la biographie">
        <i class="fa fa-eye" aria-hidden="true"></i>
        Voir la biographie
    </a>
{% endif %}
