<h2 class="b__nudge--bottom">Les projets chez En Marche qui m'interessent</h2>

{{ form_errors(summary_form.mission_type_wishes) }}
<div class="form__row">
    {{ form_widget(summary_form.mission_type_wishes) }}
</div>
