<h2 class="b__nudge--bottom">Mes motivations</h2>

{{ form_errors(summary_form.motivation) }}
{{ form_widget(summary_form.motivation, {'attr': {'placeholder': 'Expliquez en quelques lignes vos motivations'}}) }}
