<h2 class="b__nudge--bottom">Modifier ma photo</h2>

<div class="form__row">
    {{ form_label(summary_form.profile_picture, 'Choisissez une photo sur votre ordinateur (maximum 1 Mo, JPG ou PNG)') }}<br />
    {{ form_errors(summary_form.profile_picture) }}
    {{ form_widget(summary_form.profile_picture) }}
</div>
