<h2 class="b__nudge--bottom">Changer ma photo</h2>

{{ form_row(summary_form.profile_picture) }}

<a id="summary-photo-delete" href="{{ path('app_summary_manager_remove_photo') }}">Supprimer ma photo de profil</a>
