{% set ppElectionRounds = proxy.getAvailableRounds(request ?? null) %}

{% if ppElectionRounds.isEmpty %}
    Aucun tour disponible
{% else %}
    <ul class="circle">
        {% for ppElectionRound in ppElectionRounds %}
            <li>
                {{ ppElectionRound.electionRound.label }} ({{ proxy.countFreeSlots(ppElectionRound.electionRound) }})
                <ul class="disc">
                    <i>Procurations disponibles pour une demande faite :</i>
                    <li class="proxy-french-request-available">en France : {{ ppElectionRound.frenchRequestAvailable ? 'global.yes'|trans : 'global.no'|trans }} <br></li>
                    <li class="proxy-foreign-request-available">à l'étranger : {{ ppElectionRound.foreignRequestAvailable ? 'global.yes'|trans : 'global.no'|trans }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}
