.adherent-banner {
    .alert {
        &-warning {
            background-color: #F5C518;
        }

        &-danger {
            background-color: #FADCD9;
            color: #A1160A;

            span img {
                filter: invert(17%) sepia(64%) saturate(3812%) hue-rotate(355deg) brightness(81%) contrast(99%);
            }
        }
    }

    &__inner {
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-consultation .adherent-banner__inner {
        background-image: url("/images/icons/consultation-banner-bg.svg");
    }

    .banner-btn {
        display: flex;
        flex-wrap: nowrap;
        padding: 0.625rem 1.135rem;
        border: 1px solid black;
        background: white;
        border-radius: 8px;
        color: black;
        font-weight: 500;
        line-height: 1rem;

        &-disabled {
            border-color: #8F8F8F;
            color: #8F8F8F;
            cursor: not-allowed;

            img {
                filter: invert(49%) sepia(0%) saturate(5558%) hue-rotate(184deg) brightness(113%) contrast(112%);
            }
        }

        &:not(.banner-btn-disabled) {
            &:hover,
            &:active {
                background: black;
                color: white;

                img {
                    filter: invert(77%) sepia(93%) saturate(0%) hue-rotate(250deg) brightness(113%) contrast(100%);
                }
            }

            &:active {
                background: #303030;
            }
        }
    }
}
