.category {
  background: #FF4D89;
  padding: 20px;
  border: 0;
  display: block;
  margin-top: 40px;

  &__label {
    color: #FFEB00;
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
  }
}
