$text-color-light: #959CA0;
$bg-color--dark: #17211C;
$primary: black;
$secondary: #00AEEF;
$tertiary: #959CA0;

.bde-theme {
    font-family: 'Value', sans-serif;
    letter-spacing: -0.002em;
    font-size: 16px !important;
    line-height: 20px !important;
    color: black;

    .text {
        &-secondary {
            color: $secondary;
        }
    }

    a {
        color: $secondary !important;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: $primary;
        }
    }

    &.bg-primary, .bg-primary {
        background-color: $bg-color--dark;
    }

    .text-subtitle1, .help-text {
        color: $text-color-light;
    }

    .neg-letter-spacing {
        &--4 {
            letter-spacing: -0.04em;
        }
    }

    .re-card {
        @apply border-solid border-black md:border-2 rounded-none md:rounded-[30px] border-t-2 border-l-0 border-r-0 border-b-0;
    }

    .re-linked-toggle .re-linked-toggle-content {
        input {
            &[type=radio] {

                &:checked + label {
                    @apply bg-white border-black text-black z-10;
                    border-width: 2px;
                }

                &:disabled {
                    @apply cursor-not-allowed;
                    & + label {
                        @apply bg-ui_gray-20 border-ui_gray-20;
                    }
                }

                &:focus:not(:checked) + label {
                    @apply outline-ui_blue-20 outline-2 z-20
                }

                &:hover:not(:disabled):not(:checked) + label {
                    @apply border-ui_gray-40 bg-ui_gray-5 text-ui_gray-80 z-10
                }
            }
        }

        & > * {
            &:first-child label {
                @apply rounded-l-full;
            }

            &:last-child label {
                @apply rounded-r-full;
            }
        }
    }

    .re-field-frame {
        @apply rounded-[30px];
        padding-left: 10px !important;

        &.re-field-frame-select {
            padding-left: 0 !important;
        }

        &:focus,
        &.focus,
        &:active,
        &.active {
            @apply outline-4 outline-[#CFCFCF] outline border-black outline-offset-0;
        }

        &:focus,
        &.focus,
        &:hover,
        &:active,
        &.active,
        &.re-field-frame--warning,
        &.re-field-frame--error,
        &.re-field-frame--success,
        &.re-field-frame--valid,
        {
            border-width: 2px;
        }

        > input::placeholder {
            color: $text-color-light !important;
        }
    }

    .re-paragraph-status {
        &.re-paragraph-status--slim {
            justify-content: flex-start;
        }

        &.re-paragraph-status--success {
            background-color: #00E08C;
            border: none;
            color: black;

            svg {
                fill: black;
            }
        }
    }

    .re-button {
        @apply rounded-[30px];
        height: 56px;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        z-index: 2;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 2px 0px 1px #000000;
        }

        &:disabled {
            border: none;
        }
    }

    label.mb-6 {
        font-family: Value, sans-serif;
        font-weight: 400;
        margin-bottom: 0.5em !important;
        color: black !important;
        font-size: 16px !important;
    }
}

.re-phone .re-field-frame {
    padding-left: 0 !important;
}
