$text-color-light: #959CA0;
$bg-color--dark: #17211C;

.bde-theme {
    &.bg-primary, .bg-primary {
        background-color: $bg-color--dark;
    }

    .font-main {
        font-family: 'Value', sans-serif;
        letter-spacing: -0.002em;
        font-size: 16px !important;
        line-height: 20px !important;
        color: black;
    }

    @extend .font-main;

    .text-subtitle1 {
        color: $text-color-light;
    }


    .neg-letter-spacing {
        &--4 {
            letter-spacing: -0.04em;
        }
    }

    .re-linked-toggle .re-linked-toggle-content {
        & > * {
            &:first-child label {
                @apply rounded-l-full;
            }

            &:last-child label {
                @apply rounded-r-full;
            }
        }
    }

    .re-field-frame {
        @apply rounded-[30px];
        padding-left: 10px !important;

        > input {
            color: $text-color-light !important;
        }
    }

    label.mb-6 {
        font-family: Value, sans-serif !important;
        font-weight: 400;
        margin-bottom: 0.5em !important;
        color: black !important;
        font-size: 16px !important;
    }
}
