.button, .btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .25rem;

    &-blue, &--blue {
        color: $white;
        background: $dark-blue;

        &:hover {
            color: $dark-blue;
            background: $white;
        }
    }

    &-light-blue {
        color: white;
        background: $light-blue;

        &:hover {
            color: $light-blue;
            background: white;
        }
    }

    &-blue-lighter {
        color: $dark-blue;
        background: $blue-lighter;

        &:hover {
            color: $blue-lighter;
            background: $dark-blue;
        }
    }

    &-red {
        color: $white;
        background: $red;

        &:hover {
            color: $red;
            background: $white;
        }
    }

    &-green {
        color: $white;
        background: $green;

        &:hover {
            color: $green;
            background: $white;
        }
    }

    &-yellow {
        color: $white;
        background: $yellow;

        &:hover {
            color: $yellow;
            background: $white;
        }
    }

    &-white {
        color: $dark-blue;
        background: $white;

        &:hover {
            color: $white;
            background: $dark-blue;
        }
    }

    &.btn--large-and-full {
        display: inline-flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}

.banner-btn {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.625rem 1.135rem;
    border: 1px solid black;
    background: white;
    border-radius: 8px;
    color: black;
    font-weight: 500;
    line-height: 1rem;
    white-space: nowrap;

    &-disabled {
        border-color: #8F8F8F;
        color: #8F8F8F;
        cursor: not-allowed;

        img {
            filter: invert(49%) sepia(0%) saturate(5558%) hue-rotate(184deg) brightness(113%) contrast(112%);
        }
    }

    &:not(.banner-btn-disabled) {
        &:hover,
        &:active {
            background: black;
            color: white;

            img {
                filter: invert(77%) sepia(93%) saturate(0%) hue-rotate(250deg) brightness(113%) contrast(100%);
            }
        }

        &:active {
            background: #303030;
        }
    }
}
