.button {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .25rem;

    &-blue {
        color: $white;
        background: $dark-blue;

        &:hover {
            color: $dark-blue;
            background: $white;
        }
    }

    &-light-blue {
        color: white;
        background: $light-blue;

        &:hover {
            color: $light-blue;
            background: white;
        }
    }

    &-blue-lighter {
        color: $dark-blue;
        background: $blue-lighter;

        &:hover {
            color: $blue-lighter;
            background: $dark-blue;
        }
    }

    &-red {
        color: $white;
        background: $red;

        &:hover {
            color: $red;
            background: $white;
        }
    }

    &-green {
        color: $white;
        background: $green;

        &:hover {
            color: $green;
            background: $white;
        }
    }

    &-yellow {
        color: $white;
        background: $yellow;

        &:hover {
            color: $yellow;
            background: $white;
        }
    }

    &-white {
        color: $dark-blue;
        background: $white;

        &:hover {
            color: $white;
            background: $dark-blue;
        }
    }

}
