.re-logo {
    width: 5rem;
    height: 5rem;

    &-green {
        filter: invert(52%) sepia(68%) saturate(419%) hue-rotate(118deg) brightness(92%) contrast(86%);
    }

    &-red {
        filter: invert(30%) sepia(99%) saturate(7409%) hue-rotate(342deg) brightness(90%) contrast(109%);
    }

    &-light-blue {
        filter: invert(32%) sepia(53%) saturate(2638%) hue-rotate(176deg) brightness(103%) contrast(89%);
    }
}
