.re-checkbox {
  input {
    &[type=checkbox], &[type=radio] {
      @apply cursor-pointer;
      & + label {
        @apply border-ui_gray-40;
      }

      &:disabled {
        @apply cursor-not-allowed;
        & + label {
          @apply bg-ui_gray-20 border-ui_gray-20;
        }
      }

      &:focus + label {
        @apply outline-4 outline-ui_blue-20 outline-offset-0 outline border-ui_gray-40;
      }

      &:hover:not(:disabled):not(:checked) + label {
        @apply border-ui_gray-60;
      }

      &:checked + label {
        @apply bg-ui_blue-50 border-ui_blue-50;
      }

    }
  }

  &.re-checkbox--error input {
    &[type=checkbox], &[type=radio] {
      & + label {
        @apply border-ui_red-50;
      }
    }
  }
}


