.re-phone {
  width: 100%;
}

.re-phone .re-field-frame {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  width: 100% !important;
}

.re-tel .re-textfield-select {
  left: 2px;
}

.re-textfield-select .re-field-frame {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  font-size: 16px !important;

  textarea {
    min-height: 49px !important;
    padding: 12px;
    //text-align: center;
  }

  .re-input-option {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      text-align: center;
    }
  }
}

.re-field-frame {
  @apply transition-colors  w-full h-[51px] p-1 pt-3.5 md:pt-4 md:py-4 bg-white rounded-lg border border-ui_gray-30 ring-0;

  &input, &textarea, input {
    @apply rounded-lg text-ui_gray-80 text-sm sm:text-base appearance-none;
    &::placeholder {
      @apply text-ui_gray-60 text-sm sm:text-base;
    }
  }

  .frc-captcha {
    background-color: inherit;
    border: none;
    min-width: 200px;
  }

  &.re-field-frame--success {
    @apply border-ui_green-50
  }

  &.re-field-frame--valid {
    @apply border-ui_blue-50
  }

  &.re-field-frame--warning {
    .re-icon-warning {
      display: none;
    }

    @apply border-ui_gray-60
  }

  &.re-field-frame--error {
    @apply border-ui_red-50
  }

  &:disabled, &.disabled {
    @apply cursor-not-allowed;
    @apply border-ui_gray-30 bg-ui_gray-5;
  }

  &:focus,
  &.focus,
  &:active,
  &.active {
    @apply outline-4 outline-ui_blue-20 outline border-ui_blue-50 outline-offset-0;

    &.re-field-frame--success {
      @apply border-ui_green-50 outline-ui_green-20
    }

    &.re-field-frame--error {
      @apply border-ui_red-50 outline-ui_red-20
    }
  }

  &:hover:not(:disabled):not(:focus):not(:active):not(.active) {
    @apply border-ui_gray-40 bg-ui_gray-5;

    &.re-field-frame--success {
      @apply bg-ui_green-5 border-ui_green-50
    }

    &.re-field-frame--error {
      @apply bg-ui_red-5 border-ui_red-50
    }
  }

  &-select.active {
    z-index: 10;
  }
}
