.my-nickname-modal {
  .my-nickname-modal__description {
    margin-bottom: 35px;
    font-size: 14px;
    color: $light-black;
  }

  .my-nickname-modal__form__label {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
  }

  .my-nickname-modal__form__input {
    display: inline-block;
    width: 100%;
    border: 1px solid $platinum;
    border-radius: 3px;
    padding: 20px 60px 20px 12px;
    font-size: 16px;

    &::placeholder {
      color: $sonic-silver;
    }
  }

  .my-nickname-modal__form__use-nickname {
    display: flex;
    align-items: center;
    margin-top: 40px;

    .my-nickname-modal__form__label {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  .my-nickname-modal__form__button {
    width: 100%;
    height: 60px;
    margin-top: 54px;
  }
}
