{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.generalSecretaries is not empty %}
        <ul>
        {% for generalSecretary in object.generalSecretaries %}
            <li>
                {{ include(('admin/adherent/_summary.html.twig'), {adherent: generalSecretary}) }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
