{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if not object.isPublished %}
        <a class="label label-warning" href="{{ path('app_admin_citizen_initiative_publish', {uuid: object.uuid.toString}) }}">Dépubliée</a>
    {% elseif object.isCancelled %}
        <span class="label label-danger">Annulée</span>
    {% else %}
        <span class="label label-primary">Programmée</span>
    {% endif %}
{% endblock %}
