<div x-data="{currentStatus: 'error', message: 'one error' }">

    <twig:ReParagraphStatus status="x:currentStatus" icon x-text="message" />

    <button @click="currentStatus = 'warning'; message= 'one warning'">
        change Status Message
    </button>
</div>
