<div x-data="{ message: 'content' }">

    <twig:ReParagraphStatus status="error" icon x-text="message" />

    <button @click="message='dynamic content'">
        change Status Message
    </button>
</div>
