{% extends 'base.html.twig' %}

{% use 'donation/_donation_form.html.twig' %}

{% block banner '' %}

{% block javascripts %}
    {{ block('donation_form_script') }}
{% endblock %}

{% block content %}

    <section class="l__wrapper--medium">
        <div class="donation">
            <h2>Je donne</h2>

            <div class="l__row l__row--top l__row--h-stretch">

                {{ block('donation_form') }}

                <div class="donation__form-explainations">
                    <p class="donation__form-explainations__taxes">
                        Votre don vous donne droit à une réduction annuelle d’impôt sur le revenu à hauteur de 66%
                        de son montant, dans la double limite de 20% du revenu imposable et de 15 000 € par foyer
                        fiscal.
                    </p>

                    <h4>Concrètement, à quoi sert mon soutien ?</h4>

                    <p class="donation__form-explainations__usages">
                        Votre don nous permettra de développer tous nos outils numériques, mais aussi d’organiser
                        des événements comme le grand rassemblement que nous avons organisé le 10 décembre. C’est
                        grâce à vous que nous pourrons convaincre le plus grand nombre !
                    </p>

                    <h4>Pourquoi devrais-je donner ?</h4>

                    <p class="donation__form-explainations__reasons">
                        Parce qu'En Marche est un mouvement indépendant, et que nous ne recevons pas un seul
                        euro de subvention de l'Etat ni d'aucun parti politique. Et parce qu'En Marche est un
                        mouvement totalement ouvert, dont l'adhésion est gratuite. Notre réussite repose donc
                        uniquement sur votre générosité.
                    </p>

                    <p>
                        Si vous préférez effectuer votre don par chèque, vous pouvez également télécharger un bulletin
                        de don et le renvoyer par courrier postal à l’adresse indiquée dessus (en cliquant ici)
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
