{% extends 'base.html.twig' %}

{% block page_title 'Je donne' %}
{% block meta_description 'En Marche est un mouvement indépendant, qui ne reçoit pas un seul euro de subvention de l’Etat ni d’aucun parti politique. Notre réussite repose uniquement sur votre générosité.' %}
{% block canonical_url url('donation_index') %}

{% block banner '' %}

{% block content %}
<section class="l__wrapper--slim donation-result">
    {% if successful %}
        <p>
            Merci de votre don !
        </p>
    {% else %}
        {% if error_code == 'paybox' %}
            <p>
                Un problème s'est produit avec la plateforme de paiement.
            </p>
            <p>
                Pouvez-vous s'il vous plait réessayer ?
            </p>
            <p>
                <a href="{{ retry_url }}" class="form btn btn--primary btn--large">
                    Réessayer
                </a>
            </p>
        {% elseif error_code == 'invalid-card' %}
            <p>
                Notre banque nous a indiqué que votre carte est invalide.
            </p>
            <p>
                Pouvez-vous s'il vous plait réessayer en vérifiant les informations de votre carte ?
            </p>
            <p>
                <a href="{{ retry_url }}" class="form btn btn--primary btn--large">
                    Réessayer
                </a>
            </p>
        {% elseif error_code == '00030' %}
            <p>
                Vous avez mis trop de temps à payer, votre session a expirée.
            </p>
            <p>
                Pouvez-vous s'il vous plait réessayer ?
            </p>
            <p>
                <a href="{{ retry_url }}" class="form btn btn--primary btn--large">
                    Réessayer
                </a>
            </p>
        {% else %}
            <p>
                Une erreur inconnue s'est produite.
            </p>
            <p>
                Pouvez-vous s'il vous plait réessayer ?
            </p>
            <p>
                <a href="{{ retry_url }}" class="form btn btn--primary btn--large">
                    Réessayer
                </a>
            </p>
        {% endif %}

        <p class="donation-result__support">
            Si le problème se reproduit et que vous ne le comprenez pas, n'hésitez pas à contacter le
            <a href="mailto:support@en-marche.fr">support En Marche</a>.
        </p>
    {% endif %}
</section>
{% endblock %}
