{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.public %}
        <span class="label label-success">oui</span>
        <small style="margin-left: 5px;">
            <a href="{{ path('app_summary_index', {'slug': object.slug}) }}" target="_blank">
                Voir le CV public
            </a>
        </small>
    {% else %}
        <span class="label label-danger">non</span>
    {% endif %}
{% endblock %}
