{% if feed_items|length %}
    <div id="territorial-council-feed-items-page-1">
        {{ include('territorial_council/partials/_feed_items.html.twig') }}
    </div>
    <div class="text--center space--30-0">
        <button role="button" class="btn" id="territorial-council-feed-items-more">Afficher plus</button>
    </div>
{% else %}
    <div class="text--center">
        <p class="text--body b__nudge--top-60">
            Aucun message.
        </p>
    </div>
{% endif %}
