<header class="instance-page__header instance-page__header--slim">
    <div class="l__wrapper instance-page__header__content">
        <div class="text--white instance-page__header__titles">
            <div class="text--uppercase text--small b__nudge--bottom-small">
                Instance
            </div>
            <div class="instance-page__name">
                <h1 id="territorial-council-name" class="text--medium">Conseil territorial</h1>
            </div>
        </div>
    </div>
</header>
