<header class="territorial-council__header territorial-council__header--slim">
    <div class="l__wrapper territorial-council__header__content">
        <div class="text--white territorial-council__header__titles">
            <div class="text--uppercase text--small b__nudge--bottom-small">
                Instance
            </div>
            <div class="territorial-council__name">
                <h1 id="territorial-council-name" class="text--medium">Conseil territorial</h1>
            </div>
        </div>
    </div>
</header>
