{% set type = xSyncType is defined ? xSyncType : '\''~type~'\'' %}

<div
    x-data="xReIcon({ type: {{ type | raw }}})"
    {{ attributes.defaults({ class: 're-icon'  }) }}
    :class="`re-icon-` + {{ type | raw }}"
    x-html="getSvg({{ type | raw }})"
>
</div>
