<label
    for="{{ id is defined ? id }}"
    {{ attributes.defaults({class: 'block text-ui_gray-80 text-base font-medium'}) }}
>
    {% block content %}
        {%- if labelHtml is same as(true) -%}
            {{- block(outerBlocks.content)|raw -}}
        {%- else -%}
            {{- block(outerBlocks.content) -}}
        {%- endif -%}
    {% endblock %}
</label>
