{% set xStatus = xSyncStatus is defined ? xSyncStatus : '\''~status~'\'' %}

<span {{ attributes.defaults({ class: 'text-sm font-normal text-ui_gray-80 font-[Maax]' ~ ' ' ~ 're-text-status--' ~ status }) }}
    :class="'re-text-status--' + {{ xStatus | raw }}"

>{{ value }}</span>

