{% set xStatus = xSyncStatus ?? status %}

<span {{ attributes.defaults({ class: 'text-sm font-normal text-ui_gray-80 font-maax re-text-status--' ~ status }) }}
    :class="'re-text-status--' + {{ xStatus }}"
>{{ value }}</span>
