<div class="re-toggle-btn" :class="status ? `re-toggle-btn--${status}` : ''">
    <input {{ attributes }} type="radio" {% if checked %}checked="checked"{% endif %}/>
    <label for="{{ attributes.all().id }}" id="{{ attributes.all().id }}_label">{% block content '' %}</label>
</div>
