{# src/Twig/components/atoms/ReToggleButton.php #}

<div class="re-toggle-btn" :class="status ? `re-toggle-btn--${status}` : ''">
    <input {{ attributes }} type="radio"/>
    <label for="{{ attributes.all().id }}">{% block content '' %}</label>
</div>
