<div class="re-toggle-btn" x-data="{ status: '{{ status }}'}" :class="status ? `re-toggle-btn--${status}` : ''">
    <input {{ attributes }} type="radio"/>
    <label for="{{ attributes.all().id }}">{% block content '' %}</label>
</div>
