{% extends 'besoindeurope/inscription/_layout.html.twig' %}

{% block page_title "Félicitation !" %}

{% block sub_content %}
    <div class="bg-[#F4F5F7] flex flex-col items-center py-20">
        <twig:Atoms:ReCard class="max-w-[500px]">
            <twig:ReParagraphStatus status="success" icon class="!justify-center" slim="1">
                Votre inscription est finalisée
            </twig:ReParagraphStatus>

            <div class="gap-6 flex flex-col">
                <p>Merci !</p>

                <p>
                    Votre inscription est désormais finalisée.<br/>
                    Bienvenue : vous êtes maintenant un militant Ensemble.
                </p>

                <p>Participez à nos événements, rejoignez les actions de terrain et portez une procuration sur notre plateforme.</p>

                <p>
                    Ensemble, défendons notre vision de la France et de la démocratie les 30 juin et 7 juillet.<br/>
                    Ne laissons pas d'autres nous dicter notre avenir.
                </p>

                <p>Nous comptons sur vous comme vous pouvez compter sur nous !</p>
            </div>

            <twig:ReButton tag="a" href="{{ path('vox_app_redirect') }}" class="w-full" color="black">
                C'est parti
            </twig:ReButton>
        </twig:Atoms:ReCard>
    </div>
{% endblock %}
