{% extends 'besoindeurope/inscription/_layout.html.twig' %}

{% block page_title "Félicitation !" %}

{% block sub_content %}
    <div class="bg-[#F4F5F7] flex flex-col items-center py-20">
        <twig:Atoms:ReCard class="max-w-[500px]">
            <twig:ReParagraphStatus status="success" icon class="!justify-center" slim="1">
                Votre inscription est finalisée
            </twig:ReParagraphStatus>

            <div class="gap-6 flex flex-col">
                <img alt="felicitations" class="rounded-lg" src="{{ asset('/images/europe/inscription_felicitation.jpg') }}" />

                <p>Bienvenue sur la campagne !</p>

                <p>Votre inscription est désormais finalisée. Vous êtes maintenant militant de Besoin d’Europe.</p>

                <p>Vous allez rejoindre un collectif déterminé à défendre une France souveraine dans une Europe forte.</p>

                <p>Participez à nos événements, faites des actions de terrain et prenez une procuration sur notre plateforme.</p>

                <p>Nous comptons sur vous comme vous pourrez compter sur nous !</p>
            </div>

            <twig:ReButton tag="a" href="{{ path('vox_app_redirect') }}" class="w-full" color="black">
                C'est parti
            </twig:ReButton>
        </twig:Atoms:ReCard>
    </div>
{% endblock %}
