{% extends 'renaissance/local_election/_layout.html.twig' %}

{% block sub_content %}
    <div class="prose text-gray-500 prose-blue lg:max-w-none">
        {{ cms_block('departmental-election-sas-home-text') }}
    </div>
{% endblock %}
