{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <nav class="tabs-nav b__nudge--bottom-larger">
        <ul>
            <li class="{{ is_active_route(app.request, 'app_message_referent_*') and not is_active_route(app.request, 'app_message_referent_elected_representative_*') ? 'active' }}">
                <a class="tabs-nav__item" href="{{ path('app_message_referent_list') }}">
                    Messagerie adhérents
                </a>
            </li>
            <li class="{{ is_active_route(app.request, 'app_message_referent_elected_representative_*') ? 'active' }}">
                <a class="tabs-nav__item" href="{{ path('app_message_referent_elected_representative_list') }}">
                    Messagerie élus
                </a>
            </li>
        </ul>
    </nav>

    {% block messages_main_block %}{% endblock %}
{% endblock %}
