{% extends base_template %}

{% block messages_main_block %}
    <main>
        <div class="alert alert--error b__nudge--bottom-larger l__wrapper--wide">Nous rencontrons actuellement un problème technique avec le système de mail. Il ne vous est donc pas possible d’en envoyer un depuis votre espace pour le moment. Nous mettons tout en oeuvre pour trouver une solution rapidement, merci pour votre compréhension !</div>

        <section class="b__nudge--bottom-huge">
            {% block message_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
