{% extends 'message/_layout.html.twig' %}

{% block message_page_title 'Filtrer pour envoyer' %}

{% block message_content %}
    {% block filter_content '' %}
    <div id="message-actions-block" class="l__wrapper--slim b__nudge--top-40 text--center"></div>
{% endblock %}

{% block javascripts %}
    {% if message.filter %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runMessageFilters(
                    '{{ message.uuid|e('js') }}',
                    {{ message.synchronized ? 'true' : 'false' }},
                    {{ message.recipientCount|e('js') }}
                );
            });
        </script>
    {% endif %}
{% endblock %}
