{% extends 'message/_layout.html.twig' %}

{% block message_page_title 'Filtrer pour envoyer' %}

{% block messages_header_left_block %}
    <a href="{{ path("app_message_#{message_type}_list") }}">â† Retour</a>
{% endblock %}

{% block messages_header_right_block %}
    <span class="text--bold text--black">2</span> / 2
{% endblock %}

{% block message_content %}
    {% block filter_content '' %}
    <div id="message-actions-block" class="l__wrapper--slim background--lighter b__nudge--top-40 text--center"></div>
{% endblock %}

{% block javascripts %}
    {% if message.filter %}
        <script type="text/javascript">
            Kernel.onLoad(function() {
                App.runMessageFilters(
                    '{{ message.uuid|e('js') }}',
                    {{ message.synchronized ? 'true' : 'false' }},
                    {{ message.recipientCount|e('js') }}
                );
            });
        </script>
    {% endif %}
{% endblock %}
