<div id="chart_dialog" title="{{ title }}{{ subtitle is defined ? ' - ' ~ subtitle}}" style="display: none">
    <object data="{{ fileUrl }}" type="application/pdf">
        <embed src="{{ fileUrl }}" type="application/pdf" />
    </object>
</div>
