<div id="chart_dialog" title="{{ title }} - {{ subtitle }}" style="visibility: hidden">
    <object data="{{ fileUrl }}" type="application/pdf">
        <embed src="{{ fileUrl }}" type="application/pdf" />
    </object>
</div>
