{% block _adherent_profile_facebookPageUrl_widget %}
    <div class="em-form__social">
        <span class="social social--fb"></span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
{% block _adherent_profile_twitterPageUrl_widget %}
    <div class="em-form__social">
        <span class="social social--tw"></span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
{% block _adherent_profile_linkedinPageUrl_widget %}
    <div class="em-form__social">
        <span class="social social--lk"></span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
{% block _adherent_profile_telegramPageUrl_widget %}
    <div class="em-form__social">
        <span class="social social--tl"></span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}
