.referent__nav {

        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 30px;
        border-bottom: 1px solid $blue-primary;

        @media (max-width: $mobile) {
            flex-direction: column;
            width: 100%;
            border-bottom: 10px;
        }

    li {
        margin-right: 10px;
        color: $blue-primary;

        &.active {
            position: relative;
            border-bottom: 4px solid $blue-primary;
            bottom: -2px;
        }

        @media (max-width: $mobile) {
            margin: 10px;
        }
    }
}
