@mixin page-number {
  color: $pink;
  font-family: $font-roboto;
  font-weight: 600;
  background-color: white;
  border: 2px solid $pink;
  border-radius: 3px;
  font-size: 18px;
  padding: 8px 14px;
  cursor: pointer;

  transition: background-color 125ms ease, color 125ms ease;

  &:hover {
    color: white;
    background-color: $pink;
  }

  @media (max-width: $tablet) {
    font-size: 12px;
    padding: 6px 7px;
    line-height: 1.2;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 750px;
  margin: 0 auto 24px;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }

  &__number {
    @include page-number;
    appearance: none;
  }

  &__prev,
  &__next {
    border: none;
    padding: 0;
    border-bottom: 2px solid rgba($pink, 0);
    background: none;
    font-weight: 300;
    font-size: 14px;
    color: $pink;
    cursor: pointer;

    transition: border-color 125ms ease;

    &:hover {
      border-color: $pink;
    }

    @media (max-width: $tablet) {
      flex-basis: 100%;

      &:hover {
        border-color: transparent;
        color: rgba($pink, 0.5);
      }
    }

  }

  &__prev,
  &__number,
  &__current,
  &__dots {
    @media (max-width: $tablet) {
      margin-bottom: 16px;
    }
  }

  &__current {
    @include page-number;
    background-color: $pink;
    color: white;

    cursor: default;
  }

  &__dots {
    color: $pink;
    font-size: 18px;
  }
}
