.summary {
    &__cpn {
        text-align: center;
        background-color: $pink-lighter;
        width: 90%;
        padding: 20px 10px 10px 10px;
        margin-right: 20px;

        @media (max-width: $mobile) {
            margin-bottom: 20px;
        }

        h2 {
            color: $blue-primary;
            @include text--large
        }

        p {
            color: $blue-primary;
            @include text--default;
            margin: 5px;
        }
    }

    &__parity {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: baseline;
        }

        @media (max-width: $mobile) {
            justify-content: space-around;
        }
    }
}
