<div class="l__row l__row--h-stretch l__row--wrap">
    <h1 class="text--medium-large">Mes dons</h1>
    <a href="{{ path('donation_index') }}" class="btn btn--red b__nudge--bottom-larger">Faire un don</a>
</div>

<p class="text--body">Merci pour votre engagement à nos côtés !</p>
<p class="text--body text--bold">Votre dernier don remonte à 2 mois.</p>
<p class="text--body text--small text--gray">
    Veuillez noter que :<br />
    - Les dons effectués par chèque ne sont pas encore visibles sur cette page. <br />
    - Votre reçu fiscal sera envoyé entre avril et juin, il n'est pas nécessaire de le joindre à la déclaration de revenus de mai. Une fois obtenu, conservez-le pour pouvoir le présenter en cas de contrôle de l'administration fiscale.
</p>

<div class="b__nudge--top-large">
    <table class="em-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th>Type</th>
                <th>Moyen de paiement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20/05/2020</td>
                <td>200€</td>
                <td>Don ponctuel</td>
                <td>Carte bleue</td>
            </tr>
            <tr>
                <td>20/05/2020</td>
                <td>200€</td>
                <td>Don ponctuel</td>
                <td>Carte bleue</td>
            </tr>
            <tr>
                <td>20/05/2020</td>
                <td>200€</td>
                <td>Don ponctuel</td>
                <td>Carte bleue</td>
            </tr>
        </tbody>
    </table>
</div>
