{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        function controller(app) {
            app.home();
        }
    </script>
{% endblock %}

{% block content %}
    <main>
        <section class="listing">
            <header class="l__wrapper--narrow space--60-0">
                <h1 class="text--center text--large">
                    Actualités
                </h1>
            </header>

            <nav class="l__wrapper--narrow text--body b__nudge--bottom-larger">
                <ul>
                    <li class="label">
                        Filtres :
                    </li>
                    {% set currentRoute = app.request.attributes.get('_route') %}
                    {% for route, title in {
                        'page_actualites': 'Actualités',
                        'page_actualites_videos': 'Vidéos',
                        'page_actualites_discours': 'Discours',
                        'page_actualites_medias': 'Médias',
                        'page_actualites_communiques': 'Communiqués',
                    } %}
                        <li class="{{ route == currentRoute ? 'active' }}">
                            <a href="{{ path(route) }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <article class="l__wrapper--narrow">
                <ul>
                    <li>
                        <a href="#" class="thumbnail"><img src="https://unsplash.it/220/150/?random"></a>
                        <div>
                            <h2><a href="#">Richard Ferrand répond au ministre Christian Eckert</a></h2>
                            <div>10 janvier 2016</div>
                            <div class="share">
                                Partagez
                                <span role="button" onclick="share('facebook', 'link goes here', 'title goes here')">
                                    <i class="fa fa-facebook-square"></i>
                                </span>
                                <span role="button" onclick="share('twitter', 'link goes here', 'title goes here')">
                                    <i class="fa fa-twitter"></i>
                                </span>
                            </div>
                        <div>
                    </li>
                <ul>
            </article>
        </section>

    </main>
{% endblock %}
