{% extends 'renaissance/national_event/_confirmation_layout.html.twig' %}

{% block content_section %}
    <div class="md:grid sm:items-center mb-[120px] md:grid-cols-2 w-full z-10 relative">
        <div class="flex gap-8 flex-col mt-[90px] pt-[150px] md:pt-[50px] p-5 md:pl-0 md:col-start-2 items-center justify-center md:justify-start">
            <twig:Atoms:ReCard class="max-w-[500px] re-step gap-0 !border-black !border-[2px]">
                <div class="flex flex-col gap-[24px] !font-value text-black text-[16px]/[20px]">
                    {{ include('renaissance/partials/flashes.html.twig', {slim: true}) }}

                    {% if app.request.query.has('already-registered') %}
                        <h1 class="font-bold text-2xl">Vous êtes déjà inscrit</h1>
                    {% else %}
                        <h1 class="font-bold text-2xl">Merci !</h1>

                        {% if event.textConfirmation %}
                            <div>{{ event.textConfirmation|raw }}</div>
                        {% endif %}
                    {% endif %}
                    <div class="h-[2px] bg-black w-full"></div>

                    <p class="text-ui_gray-80">Suivez nos réseaux sociaux :</p>

                    <div class="flex items-center justify-center gap-[40px]">
                        {{ include('renaissance/national_event/partials/sn_links.html.twig') }}
                    </div>
                </div>

                <twig:ReButton class="w-full" color="black" tag="a" href="{{ path('renaissance_site') }}">Retourner sur le site</twig:ReButton>
            </twig:Atoms:ReCard>
        </div>
    </div>
{% endblock %}
