.create-idea-tool {
  .create-idea-tool__section-title {
    margin: 50px 0;

    .create-idea-tool__section-title__main::after {
      content: '';
      display: block;
      width: 100px;
      border-bottom: 1px solid $black-bean;
      margin-top: 20px;
    }

    .create-idea-tool__section-subtitle {
      margin: 0;
      font-size: 14px;
      font-family: $font-gillsans;
      text-transform: uppercase;
      color: $dark-aurometalsaurus;
    }
  }
}
