@import './QuestionBlock/style';

.create-idea-page {
  .create-idea-page__content {
    padding: 50px 0;
    background-color: $snow;
  }

  .create-idea-page__content__main {
    border-radius: 2px;
    padding: 80px 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;
  }
}
