@import './QuestionBlock/style';
@import './CreateIdeaActions/style';
@import './CreateIdeaTool/style';
@import './IdeaPageTitle/style';

.create-idea-page {
  border-top: 1px solid $gainsboro;

  .create-idea-page__header {
    display: flex;
    padding: 20px 0;

    .create-idea-actions {
      flex: 1;
    }

    .create-idea-actions__back {
      @extend %reset-button;
      cursor: pointer;
      color: $saphir;
    }
    .create-idea-actions__back {
      margin-right: 40px;
    }
    .create-idea-actions {
      margin-left: 25px;
    }
  }

  .create-idea-page__content {
    padding: 100px 0;
    background-color: $snow;
  }

  .create-idea-page__content__main {
    border-radius: 2px;
    padding: 80px 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;
  }

  .create-idea-page__footer {
    margin-top: 80px;
  }

  /* Responsive */
  @media #{$mobile} {
    border-top: 0;

    .create-idea-page__content {
      padding: 50px 0;
    }

    .create-idea-page__content__main {
      width: 100%;
      margin: 0;
      padding: 40px 20px;
    }

    .create-idea-page__header {
      flex-direction: column;
    }

    .create-idea-actions__back {
      margin-bottom: 20px;
    }
  }

  @media #{$tablet} {
    .create-idea-page__content__main {
      padding: 40px;
    }
  }
}
