@import './QuestionBlock/style';
@import './CreateIdeaActions/style';

.create-idea-page {
  border-top: 1px solid $gainsboro;

  .create-idea-page__header {
    display: flex;
    padding: 20px 0;

    .create-idea-actions {
      flex: 1;
    }

    .create-idea-actions__back {
      @extend %reset-button;
      cursor: pointer;
      color: $saphir;
    }
    .create-idea-actions__back {
      margin-right: 20px;
    }
  }

  .create-idea-page__content {
    padding: 100px 0;
    background-color: $snow;
  }

  .create-idea-page__title-section {
    .text-area__input {
      font-size: 26px;
      font-weight: bold;
    }
  }

  .create-idea-page__section-title {
    margin: 50px 0;

    .create-idea-page__section-title__main::after {
      content: '';
      display: block;
      width: 100px;
      border-bottom: 1px solid $black-bean;
      margin-top: 20px;
    }

    .create-idea-page__section-subtitle {
      margin: 0;
      font-size: 14px;
      font-family: $font-gillsans;
      text-transform: uppercase;
      color: $dark-aurometalsaurus;
    }
  }

  .create-idea-page__content__main {
    border-radius: 2px;
    padding: 80px 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;
  }

  .create-idea-page__footer {
    margin-top: 80px;
  }

  /* Responsive */
  @media #{$mobile} {
    border-top: 0;

    .create-idea-page__content {
      padding: 50px 0;
    }

    .create-idea-page__content__main {
      width: 100%;
      margin: 0;
      padding: 40px 20px;
    }

    .create-idea-page__header {
      flex-direction: column;
    }

    .create-idea-actions__back {
      margin-bottom: 20px;
    }
  }

  @media #{$tablet} {
    .create-idea-page__content__main {
      padding: 40px;
    }
  }
}
