<li>
    <a href="{{ path('app_admin_donation_refund', { id: object.id }) }}" class="sonata-action-element" title="Rembourser">
        <i class="fa fa-exchange" aria-hidden="true"></i>
        Rembourser
    </a>
</li>
