{% if object is instanceof('App\\Entity\\EntitySoftDeletedInterface') and object.getDeletedAt() is not null %}
    <span class="badge bg-yellow">supprimé</span>
{% endif %}

{% if object.isApproved is defined and object.isApproved %}
    <span class="badge bg-green">approuvé</span>
{% endif %}
