<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>

        <!-- RabbitMQ -->
        <service id="app.consumer.service_locator" public="false">
            <argument type="collection">
                <argument key="app.mailjet.campaign_mailer" type="service" id="app.mailjet.campaign_mailer" />
                <argument key="app.mailjet.transactional_mailer" type="service" id="app.mailjet.transactional_mailer" />
                <argument key="app.mailjet.campaign_client" type="service" id="app.mailjet.campaign_client" />
                <argument key="app.mailjet.transactional_client" type="service" id="app.mailjet.transactional_client" />
                <argument key="doctrine" type="service" id="doctrine" />
                <argument key="Psr\Log\LoggerInterface" type="service" id="logger" />
                <argument key="Symfony\Component\Validator\Validator\ValidatorInterface" type="service" id="validator" />
            </argument>

            <tag name="container.service_locator" />
        </service>

        <service id="AppBundle\Consumer\CampaignMailjetConsumer">
            <argument type="service" id="app.consumer.service_locator" />
        </service>

        <service id="AppBundle\Consumer\TransactionalMailjetConsumer">
            <argument type="service" id="app.consumer.service_locator" />
        </service>

        <service id="AppBundle\Consumer\ReferentMessageDispatcherConsumer">
            <argument type="service" id="app.consumer.service_locator" />
        </service>

        <!-- Redirections from old website -->
        <service id="app.legacy_redirections_subscriber" class="AppBundle\Redirection\LegacyRedirectionsSubscriber">
            <tag name="kernel.event_subscriber" />
        </service>

        <!-- Dynamic redirections -->
        <service id="app.dynamic_redirections_subscriber" class="AppBundle\Redirection\DynamicRedirectionsSubscriber">
            <argument type="service" id="app.repository.redirection" />
            <tag name="kernel.event_subscriber" />
        </service>

        <!-- Campaign silence -->
        <service id="app.feature_flag.campaign_silence_listener" class="AppBundle\Campaign\CampaignSilenceSubscriber">
            <argument type="service">
                <service class="AppBundle\Campaign\CampaignSilenceProcessor">
                    <argument type="service">
                        <service class="GeoIp2\Database\Reader">
                            <argument>%kernel.project_dir%/app/data/geolite2-countries.mmdb</argument>
                        </service>
                    </argument>
                    <argument type="service">
                        <service class="Symfony\Component\ExpressionLanguage\ExpressionLanguage">
                            <argument type="service" id="cache.app" />
                        </service>
                    </argument>
                    <argument type="service" id="cache.app" />
                    <argument>%env(ENABLE_SILENCE_RULE)%</argument>
                </service>
            </argument>
            <argument type="service" id="twig" />

            <tag name="kernel.event_subscriber" />
        </service>

        <!-- Security -->
        <service id="app.security.adherent_login_timestamp_recorder" class="AppBundle\Security\AdherentLoginTimestampRecorder">
            <argument type="service" id="doctrine.orm.entity_manager"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="app.security.2fa_qr_code_factory" class="AppBundle\Security\TwoFactorAuthenticationQrCodeFactory">
            <argument type="service" id="csa_guzzle.client.google_charts_api" />
            <argument type="service" id="scheb_two_factor.security.google_authenticator" />
        </service>

        <service id="app.security.authentication_utils" class="AppBundle\Security\AuthenticationUtils">
            <argument type="service" id="security.token_storage" />
        </service>

        <service id="app.security.legacy_migration_listener" class="AppBundle\Security\LegacyMigrationListener">
            <argument type="service" id="security.encoder_factory" />
            <argument type="service" id="doctrine.orm.entity_manager" />

            <tag name="kernel.event_listener" event="security.interactive_login" method="onSecurityInteractiveLogin" />
        </service>

        <service id="AppBundle\Security\InactiveAdminListener">
            <argument type="service" id="Psr\Container\ContainerInterface"/>
            <argument>%env(SESSION_MAX_IDLE_TIME)%</argument>

            <tag name="container.service_subscriber" />
            <tag name="kernel.event_listener" event="kernel.request" method="onKernelRequest" />
        </service>

        <!-- Cache -->
        <service id="cache.adapter.null" class="Symfony\Component\Cache\Adapter\NullAdapter" abstract="true">
            <argument/>
            <argument/>
            <argument/>
        </service>

        <service id="cache.redis_doctrine_provider" class="Symfony\Component\Cache\DoctrineProvider">
            <argument type="service">
                <service class="Symfony\Component\Cache\Adapter\RedisAdapter">
                    <argument type="service" id="snc_redis.default" />
                </service>
            </argument>
        </service>

        <!-- Sentry -->
        <service id="app.logging.sentry_handler" class="AppBundle\Logging\SentryHandler" public="false">
            <argument type="service">
                <service class="Raven_Client">
                    <argument>%env(SENTRY_DSN)%</argument>
                </service>
            </argument>
        </service>

        <service id="app.logging.activation_strategy" class="AppBundle\Logging\ActivationStrategy" public="false">
            <argument type="constant">Monolog\Logger::ERROR</argument>
            <argument type="collection">
                <argument type="constant">Symfony\Component\HttpFoundation\Response::HTTP_NOT_FOUND</argument>
                <argument type="constant">Symfony\Component\HttpFoundation\Response::HTTP_FORBIDDEN</argument>
                <argument type="constant">Symfony\Component\HttpFoundation\Response::HTTP_METHOD_NOT_ALLOWED</argument>
            </argument>
        </service>

        <service id="app.logging.user_processor" class="AppBundle\Logging\CurrentUserProcessor" public="false">
            <argument type="service">
                <service>
                    <argument type="collection">
                        <argument key="security.token_storage" type="service" id="security.token_storage" />
                        <argument key="security.authorization_checker" type="service" id="security.authorization_checker" />
                    </argument>

                    <tag name="container.service_locator" />
                </service>
            </argument>

            <tag name="monolog.processor" method="processRecord" />
        </service>

        <!-- Serializer -->
        <service id="app.serializer_visitor.ical_serialization_visitor" class="AppBundle\Serializer\IcalSerializationVisitor" public="false">
            <tag name="jms_serializer.serialization_visitor" format="ical"/>

            <argument type="service" id="jms_serializer.naming_strategy" />
        </service>

        <service id="app.committee_serializer.committee_event_ical_handler" class="AppBundle\Serializer\EventICalHandler">
            <tag name="jms_serializer.subscribing_handler" />
        </service>

        <!-- Form -->
        <service id="AppBundle\Form\TypeExtension\FormTypeExtension">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\FormType" />
        </service>

        <service id="AppBundle\Form\TypeExtension\TextTypeExtension">
            <tag name="form.type_extension" extended-type="Symfony\Component\Form\Extension\Core\Type\TextType" />
        </service>

        <service id="AppBundle\Form\SummaryType">
            <argument type="service" id="app.storage" />
            <argument type="service" id="app.glide" />
            <argument type="service" id="doctrine.orm.entity_manager" />
            <tag name="form.type" />
        </service>

        <service id="AppBundle\Form\CitizenInitiativeType">
            <argument type="service" id="app.repository.skill" />
            <tag name="form.type" />
        </service>

        <service id="user_provider.entity" parent="hwi_oauth.user.provider.entity">
            <argument>AppBundle\Entity\Adherent</argument>
            <argument type="collection">
                <argument key="auth">emailAddress</argument>
            </argument>
        </service>
    </services>
</container>
