{% extends 'base.html.twig' %}

{% block page_title 'Bénévoles - Appel à candidature' %}
{% block meta_description "Soyez bénévole pour la meilleure plateforme du monde" %}
{% block canonical_url url('app_application_request_volunteer') %}

{% block open_graph_image (homepage_url ~ static_asset('procuration-sharer_2.jpg', { q: 70 }))|raw %}

{% block banner '' %}
{% block header '' %}
{% block footer '' %}

{% block content %}
    <main class="appel-a-engagement">
        <section class="page-header">
            <div class="l__wrapper l__row space--40-0">
                <a href="{{ path('homepage') }}" class="text--logo link--no-decor text--black">EM!</a>
            </div>
            <div class="l__wrapper text--center header-content b__nudge--top">
                <h2 class="text--uppercase b__nudge--bottom">
                    Élections municipales
                </h2>
                <h1 class="text--large">
                    Je participe à la campagne LaREM de ma ville en tant que <span class="hightlight__blue--nation">colistier</span> ou <span class="hightlight__red--nation">bénévole</span> 
                </h1>
                <span class="fake-container"></span>
            </div>
            <div class="national-scarf">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section class="page-content">
            <div class="l__wrapper--600">
                <div class="text--center">
                    <h3>Je postule en tant que :</h3>
                    <div class="">Colistier</div>
                    <div class="">Bénévole</div>
                </div>
            </div>
        </section>

        <section class="procuration__content l__wrapper l__row l__row--top l__row--h-stretch-around l__tablet--col space--60-0">
            <div class="procuration__banner__form procuration__banner__form--large">
                {% block form_body '' %}
            </div>
        </section>
    </main>
{% endblock %}
