{% extends base_template %}

{% block invitation_main_block %}
    <main>
        <section class="b__nudge--bottom-huge">
            {% set back_url = path('homepage') %}

            <a href="{{ back_url }}" class="back-to-list text--blue--dark link--no-decor b__nudge--bottom block">
                ⟵ Retour
            </a>

            {% block invitation_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
