<a href="{{ path('asset_url', { path: object.getPathWithDirectory, mime_type: 'application/pdf' }) }}" class="btn btn-sm btn-default view_link"
   title="Prévisualiser" target="_blank" rel="noopener noreferrer">
    Télécharger le CV
</a>
