<a href="{{ path('app_renaissance_adherent_message_preview', {uuid: object.uuid.toString(), app_domain: app.request.host}) }}" class="btn btn-sm btn-default" title="Aperçu" target="_blank">
    <i class="fa fa-eye"></i> Voir
</a>
