{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <ul style="list-style-type: none; padding: 0; margin: 0;">
        <li class="text-bold">{{ object.authorInstance }}</li>
        <li>{{ object.authorZone }}</li>
    </ul>
{% endblock %}
