<li>
    <a class="sonata-action-element" href="{{ path('admin_app_myteam_delegatedaccessgroup_list') }}">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        Gérer les groupes
    </a>
</li>
