{% extends 'assessor_manager/_filters.html.twig' %}

{% block filter_content %}
    <div class="filter__row">
        <label class="filter__label">
            Nom de famille :
        </label>
        <input type="text"
               name="{{ constant('PARAMETER_LAST_NAME', filters) }}"
               value="{{ filters.lastName }}"
               class="filter__field form form__field">
    </div>
{% endblock %}
