{% extends 'assessor_manager/_layout.html.twig' %}

{% block assessor_manager_content %}

    {{ include('assessor_manager/_filters_cities.html.twig') }}

    {% if 0 == cities|length %}
        <div class="datagrid__pre-table b__nudge--bottom-larger">
            <h3>
                {% if constant('ASSOCIATED', filters) == filters.status %}
                    Aucune de vos communes n'a de bureau de vote assigné avec au moins un assesseur
                {% endif %}
            </h3>
        </div>
    {% else %}
        <div class="datagrid__pre-table b__nudge--bottom-larger assessor_cities_total_count">
            <h3>
                {% if constant('ASSOCIATED', filters) == filters.status %}
                    {{ 'cities.associated.choices'|trans({ count: total_count }) }}
                {% endif %}
            </h3>
        </div>
    {% endif %}

    {% if cities|length %}
        <div class="datagrid__table-container">
            <table class="datagrid__table-manager managed__list__table">
                <thead>
                <tr>
                    <th class="datagrid__table__col--left">Nom de la commune</th>
                    <th class="datagrid__table__col--left">Nombre de bureaux de vote</th>
                    <th class="datagrid__table__col--left">Nombre d'assesseurs</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="proposals-list">
                {{ include('assessor_manager/_cities_list.html.twig') }}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
