{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <a href="{{ path('admin_app_filesystem_file_edit', {id: object.id}) }}" class="btn btn-xs btn-default" title="Éditer">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Éditer
    </a>

    <a href="{{ path('admin_app_filesystem_file_delete', {id: object.id}) }}" class="btn btn-xs btn-default" title="Supprimer">
        <i class="fa fa-times" aria-hidden="true"></i>
        Supprimer
    </a>

    {% if not object.isDir %}
        <div style="width: 160px; margin-top: 5px;">
            <a href="{{ path('app_admin_files_download', {uuid: object.uuid}) }}" class="btn btn-xs btn-default" title="Télécharger">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
                Télécharger
            </a>
        </div>
    {% endif %}
{% endblock %}
