{% extends 'besoindeurope/base_besoindeurope.html.twig' %}

{% block page_title 'Merci !' %}

{% block sub_content %}
    <main class="bg-[#F4F5F7] flex flex-col items-center py-20">
        <twig:Atoms:ReCard class="max-w-[500px]">
            <div class="flex-col items-center">
                <twig:ReParagraphStatus status="success" class="w-full !justify-center mb-12" icon slim>
                    Votre don a bien été pris en compte
                </twig:ReParagraphStatus>

                <div class="flex flex-col gap-y-4">
                    <p class="font-medium">Merci pour votre engagement</p>

                <p>Votre don pour la campagne européenne 2024 de la liste Besoin d’Europe a bien été enregistré, nous vous remercions pour votre mobilisation à ce moment électoral si important. Vous recevrez ce jour la confirmation de votre paiement par email et le reçu fiscal par courrier postal au 3e trimestre 2024.</p>

                <p>Le 9 juin, nous avons besoin de vous comme nous avons Besoin d’Europe !</p>

                <p>Revenir vers <a href="https://besoindeurope.fr">besoindeurope.fr</a></p>

                <p>Vous n’êtes pas disponible le jour du vote ou vous souhaitez porter une voix supplémentaire ? Pensez à la procuration ! Rendez-vous sur : <a href="https://besoindeurope.fr/procurations">besoindeurope.fr/procurations</a></p>

                <p>Pour toute question, envoyez un message à <a href="mailto:contact@besoindeurope.fr">contact@besoindeurope.fr</a></p>
                </div>
            </div>
        </twig:Atoms:ReCard>
    </main>
{% endblock %}
