.dropdown-button {
  @extend %reset-button;
  cursor: pointer;
}

.dropdown-menu {
  .rc-dropdown-menu {
    border-color: $columbia-blue;
    box-shadow: none;
  }

  .rc-dropdown-menu-item.dropdown-menu__item {
    padding: 5px 15px;
    font-size: 15px;
    font-family: $font-roboto;
    cursor: pointer;

    &--important {
      color: $rose-madder;
    }
  }
}
