<div class="ton_macron__header">
    {% if transition is constant('AppBundle\\TonMacron\\InvitationProcessor::TRANSITION_FILL_INFO') %}
        <h2 class="text--medium b__nudge--top-large text--center l__wrapper--slim">TON MACRON</h2>
        <p class="text--medium text--center l__wrapper--medium b__nudge--top b__nudge--bottom-large">
            Marcheurs, envoyez un message<br/>
            personnalisé aux indécis
        </p>
    {% else %}
        <ul class="ton_macron__steps">
            {% for t in constant('AppBundle\\TonMacron\\InvitationProcessor::TRANSITIONS') %}
                <li{% if transition == t %} class="active"{% endif %}></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
