{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <ul>
        {% for item in value %}
            <li>{{ item|trans|capitalize }}</li>
        {% endfor %}
    </ul>
{% endblock %}
