{% extends 'voting_platform/_layout_base.html.twig' %}

{% set start_button_label = 'Commencer' %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="{{ path('app_national_council_index') }}" class="btn btn--blue">
            Retour au Conseil national
        </a>
    </div>
{% endblock %}
