{% extends 'base.html.twig' %}

{% block title %}
    {% block page_title '' %} | Election
{% endblock %}

{% block banner '' %}

{% block header %}
    <header class="voting-platform__header">
        <!-- <img src="{{ asset('logo/em-logo.svg') }}" /> -->
    </header>
{% endblock %}

{% block content %}
    <main class="voting-platform">
        <div class="voting-platform__content">
            <div class="l__wrapper--slim">
                {% block voting_platform_header %}
                <div class="introduction-header">
                    <h1 class="text--larger b__nudge--bottom-large">{{ election.title }}</h1>
                    <p class="text--body b__nudge--bottom-large">du {{ election.startDate|date('d/m/Y') }} au {{ election.endDate|date('d/m/Y') }}</p>
                </div>
                {% endblock %}

                {% block voting_platform_content '' %}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer '' %}
