{% extends 'voting_platform/_layout_base.html.twig' %}

{% block banner %}
    <div class="space--10-0 background--blue">
        <div class="l__wrapper--wide">
            <a href="{{ path('app_committee_show', {slug: election.electionEntity.committee.slug}) }}"
               class="text--body text--small text--white link--no-decor">
                Retourner au comité <span class="text--bold">{{ election.electionEntity.committee.name }}</span> →
            </a>
        </div>
    </div>
{% endblock %}
