{% extends 'voting_platform/_layout_base.html.twig' %}

{% block banner %}
    <div class="space--10-0 background--green-territory">
        <div class="l__wrapper--wide">
            <a href="#"
               class="text--body text--small text--white link--no-decor">
                Retourner →
            </a>
        </div>
    </div>
{% endblock %}

{% block vote_step_pool_title %}
    Sélectionnez un choix
{% endblock %}

{% block vote_finish_action_block %}
    <div class="b__nudge--bottom-large b__nudge--top-large">
        <a href="#" class="btn btn--blue">
            Retour
        </a>
    </div>
{% endblock %}
