{% extends 'base.html.twig' %}

{% block title %}
    {% block page_title '' %} | Election
{% endblock %}

{% block banner '' %}

{% block header %}
    <div>
        <img src="{{ asset('logo/em-logo.svg') }}" />
    </div>
{% endblock %}

{% block content %}
    <div class="voting-platform">
        <div class="l__wrapper--600 b__nudge--top-50 space--30">
            {% block voting_platform_header %}
                <div>
                    <h1>{{ election.title }}</h1>
                    <p class="text--smallest">du {{ election.startDate|date('d/m/Y') }} au {{ election.endDate|date('d/m/Y') }}</p>
                </div>
            {% endblock %}

            {% block voting_platform_content '' %}
        </div>
    </div>
{% endblock %}

{% block footer '' %}
