{% extends base_layout %}

{% block page_title %}
    À voté!
{% endblock %}

{% block voting_platform_header %}
    <h2>Mon bulletin de vote</h2>
{% endblock %}

{% block voting_platform_content %}
    <h4>a voté</h4>
{% endblock %}

