{% extends base_layout %}

{% block page_title 'Vote désignation' %}

{% block voting_platform_content %}
    <div class="l__wrapper--slim">
        <div class="text--body text--dark">
            <h2>Bienvenue sur la plateforme de vote de La République en Marche !</h2>
            <p>Vous allez participer à la désignation des binômes d'adhérents au sein de votre comité. C’est un grand temps fort de démocratie interne pour notre mouvement. C'est également une première étape importante pour la représentativité des adhérentes et des adhérents au sein du Conseil territorial.</p>

            <h2>Comment ça marche ?</h2>
            <p>Il s’agit d’un scrutin majoritaire à un tour.</p>
            <p>Deux désignations se font ici en même temps, celle des femmes et celle des hommes lorsque des candidats sont déclarés. Les deux adhérents désignés formeront un binôme paritaire.</p>
            <p>Si l’une des deux désignations n’a pas candidat, vous n’aurez pas à vous prononcer sur celle-ci. Lorsqu’un seul candidat est déclaré, la désignation a lieu et un choix vous est demandé. Dans tous les cas, le vote blanc est possible.</p>
            <p>Le candidat ayant obtenu le plus de suffrages est automatiquement désigné à l’annonce des résultats. Il n’y a pas de second tour.</p>

            <h2>Que se passe-t-il lors d’une égalité parfaite ?</h2>
            <p>Si jamais deux candidats ont exactement le même nombre de suffrages, la désignation est relancée pour 5 jours et les adhérents inscrits sont invités à voter de nouveau.</p>

            <h2>Mon choix est-il anonyme ?</h2>
            <p>Ici, vous êtes comme dans l’isoloir. Votre choix ne sera connu que de vous seul. Nous ne conservons pas de lien entre vous et votre bulletin. Votre Animateur et votre Référent auront accès aux listes d’émargement et chacun pourra consulter la liste des bulletins anonymisés.</p>

            <h2>Puis-je changer de comité de désignation pour voter dans un autre territoire ?</h2>
            <p>En votant à cette désignation, vous ne pourrez plus changer de comité de désignation jusqu’au 4 septembre afin que nous puissions garantir votre participation à cette désignation dans un unique comité.</p>

            <h2>Qu’est ce que le Conseil territorial ?</h2>
            <p>Le Conseil territorial est le parlement de LaREM dans chaque département. Il permet de rassembler les adhérents désignés au sein des comités, les animateurs locaux et les élus dans un espace commun pour se retrouver et échanger sur l’avenir et la stratégie locale du mouvement.</p>

            <h2>Quelle est la composition du Conseil territorial ?</h2>

            <div class="text--with-bullet">
                <ul>
                    <li>les adhérents désignés par vous au sein des comités locaux</li>
                    <li>les animateurs locaux</li>
                    <li>le référent</li>
                    <li>les élus et membres du gouvernement issus du département concerné</li>
                    <li>les représentants JAM et LRE</li>
                </ul>
            </div>

            <p>Ces conseils territoriaux devront également désigner les personnes qui les représenteront au Copol et au Conseil national.</p>
        </div>

        <div class="text--center b__nudge--top-50">
            <a href="{{ path('app_voting_platform_vote_step', {uuid: election.uuid}) }}" class="btn btn--blue btn--large-and-full">Soumettre mon vote</a>
        </div>
    </div>
{% endblock %}
