{% extends base_layout %}

{% block page_title 'Vote désignation' %}

{% block voting_platform_content %}
    <div class="l__wrapper--slim">
        <div class="text--body text--dark"></div>

        <div class="text--center b__nudge--top-50">
            <a href="{{ path('app_voting_platform_vote_step', {uuid: election.uuid}) }}" class="btn btn--blue btn--large-and-full">Soumettre mon vote</a>
        </div>
    </div>
{% endblock %}
