{% extends base_layout %}

{% block page_title 'Résultats de la désignation' %}

{% block voting_platform_header %}
    <div class="l__wrapper--medium">
        <div class="has-voted-header b__nudge--bottom-50">
            <h1 class="text--larger">Résultats de la désignation</h1>
        </div>
    </div>
{% endblock %}

{% block header_actions '' %}
{% block voting_platform_ornametns '' %}

{% block voting_platform_content %}
    <div class="voting-platform__results election-results">
        {% block results_content '' %}
    </div>
{% endblock %}
