{% extends 'voting_platform/_layout.html.twig' %}

{% block page_title %}
    Vote élection
{% endblock %}

{% form_theme form with 'voting_platform/form_theme.html.twig' %}

{% block voting_platform_content %}
    <div class="l__wrapper--slim">
        {% block vote_step_content '' %}
    </div>
{% endblock %}
