{% extends base_layout %}

{% block page_title %}
    Vote élection
{% endblock %}

{% block voting_platform_content %}
    <div class="l__wrapper--slim">
        {% block vote_step_content '' %}
    </div>
{% endblock %}
