<twig:ReModal>
    <div class="flex flex-col w-[850px] rounded py-10" style="background: linear-gradient(94deg, #DEE4F9 14.86%, #ABC8FF 145.08%);">
        <h2 class="text-[54px] font-medium uppercase my-10 px-8 text-[#18184D] leading-tight">Je renouvelle ma<br/><span class="font-normal">Cotisation</span></h2>

        <img src="{{ asset('images/icons/renaissance-hand.svg') }}" alt="Recotiser" class="w-3/4" />

        <div class="self-end mr-10">
            <twig:ReButton tag="a" href="{{ path('app_adhesion_index') }}" color="gray">Je cotise</twig:ReButton>
        </div>
    </div>
</twig:ReModal>
