<div>
    <a href="{{ data_corner_host }}" target="_blank" class="link--no--decor">
        <img src="{{ asset("images/data-corner/sidebar-data-corner.png")}}" style="width: 100%;" alt="data-corner-logo">
    </a>
</div>
