<nav class="gtm__navigation__mobile l__wrapper l__hide--on-desktop space--20-0">
    <ul class="list__links list__links--row list__links--nav l__row--h-stretch">
        <li>
            <a href="{{ path('homepage') }}" class="link--no-decor text--logo">EM!</a>
        </li>
        <li>
            <a class="btn btn--red b__nudge--right-extra-large" href="{{ path('donation_index') }}">Donner</a>
        </li>
    </ul>
    <div class="nav-mobile">
        <input id="nav-menu" type="checkbox">
        <label for="nav-menu">Menu de navigation</label>
        <div class="nav-mobile--menu em-nav em-nav-mobile l__col l__col--top">
            {{ include('components/_dropdown_user_mobile.html.twig') }}
        </div>
    </div>
</nav>

<!-- New mobile nav -->
