<div class="alert__european-elections">
    <h3>Votre événement est-il lié aux élections européennes ?</h3>
    <p>
        Dans le cadre du suivi précis du compte de campagne, <span>tout événement public lié aux élections européennes doit faire l'objet d'une validation préalable par le siège de LaREM</span>.
    </p>
    <p>
        Notamment tout événement qui :
    </p>
    <ol>
        <li>Engendre des frais ou comporte la mise à disposition d'une salle</li>
        <li>Aborde directement ou indirectement le sujet des élections européennes du 26 mai prochain</li>
        <li>Est ouvert au public ou communiqué sur les réseaux sociaux, dans la presse, sur Telegram, via des tracts...</li>
    </ol>
    <div class="text--center">
        <a class="btn btn--pink" href="https://europeennes-larem.typeform.com/to/GcWHRx" target="_blank">
            Je demande la validation de mon événement par LaREM
        </a>
    </div>
</div>
