<svg width="109px" height="41px" viewBox="462 369 109 41" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="title">
    <title>En Marche !</title>
    <polygon points="468.7 369.5 463 408.6 492.3 408.6 493.3 401.6 474.1 401.6 475.4 392 489.2 392 490.2 385 476.5 385 477.7 376.5 493.5 376.5 494.5 369.5"/>
    <polygon points="539 369.5 525.6 394.4 519.4 369.5 508.9 369.5 496 408.6 505.8 408.6 514.3 382.8 520.8 408.6 526.8 408.6 540.4 383.6 541.5 408.6 551 408.6 549.2 369.5"/>
    <path d="M570.4 373.2C570.4 374.2 570.3 375.2 570.1 376.2 569.9 377.2 569.5 378.5 569.1 379.9L564.7 395.5 558.7 395.5 559.2 377.4C559.4 374.9 559.7 373.2 560 372.3 560.3 371.5 560.9 370.7 561.8 370 562.6 369.3 563.9 369 565.4 369 567.2 369 568.5 369.4 569.2 370.3 570 371.2 570.4 372.2 570.4 373.2M566.4 403.3C566.4 404.3 566.2 405.3 565.7 406.2 565.1 407.1 564.4 407.8 563.5 408.4 562.6 408.9 561.6 409.1 560.6 409.1 559.5 409.1 558.5 408.9 557.6 408.4 556.7 407.8 556 407.1 555.5 406.2 554.9 405.3 554.7 404.3 554.7 403.3 554.7 402.2 554.9 401.2 555.5 400.3 556 399.4 556.7 398.7 557.6 398.2 558.5 397.6 559.5 397.4 560.6 397.4 561.6 397.4 562.6 397.6 563.5 398.2 564.4 398.7 565.1 399.4 565.7 400.3 566.2 401.2 566.4 402.2 566.4 403.3"/>
</svg>
