<main {{ attributes.defaults({class:'bg-gradient-to-b from-slate-600 min-h-screen flex flex-col items-center md:justify-center to-slate-500'}) }}>
    <section class="flex flex-col justify-center items-center gap-10 w-full">
        <div class=" flex-col gap-8 w-full">
            <div class="flex gap-8 flex-col p-5 flex-1 justify-center items-center">
                {% block content '' %}
            </div>
        </div>
    </section>
</main>
