<main {{ attributes.defaults({class:'bg-gradient-to-b from-slate-600 min-h-screen flex flex-col items-center md:justify-center to-slate-500'}) }}>
    <section class="flex flex-col justify-center items-center gap-10">
        <div class="justify-center items-center flex-col gap-8">
            <div class="flex gap-8 flex-col p-5">
                {% block content '' %}
            </div>
        </div>
    </section>
</main>
