{% if object.isForRenaissance %}
    {% if not object.published %}
        <a href="{{ path('article_view', {categorySlug: object.category.slug, articleSlug: object.slug, app_domain: app_renaissance_host, preview: article_preview_admin_key}) }}" class="btn btn-sm btn-default view_link"
           title="Prévisualiser" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Prévisualiser
        </a>
    {% else %}
        <a href="{{ path('article_view', {categorySlug: object.category.slug, articleSlug: object.slug, app_domain: app_renaissance_host}) }}" class="btn btn-sm btn-default view_link"
           title="Prévisualiser" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Prévisualiser
        </a>
    {% endif%}
{% else %}
    {% if not object.published %}
        <a href="{{ path('article_view', {categorySlug: object.category.slug, articleSlug: object.slug, preview: article_preview_admin_key}) }}" class="btn btn-sm btn-default view_link"
           title="Prévisualiser" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Prévisualiser
        </a>
    {% else %}
        <a href="{{ path('article_view', {categorySlug: object.category.slug, articleSlug: object.slug}) }}" class="btn btn-sm btn-default view_link"
           title="Prévisualiser" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Prévisualiser
        </a>
    {% endif %}
{% endif %}
