{% extends 'summary_manager/_layout.html.twig' %}

{% block summary_content %}
    <section class="l__wrapper--narrow b__nudge--bottom-huge">
        <div class="b__nudge--bottom">
            <a href="{{ path('app_summary_manager_index') }}"
               class="back-to-list icon--with-text text--summary">
                {{ include('components/caret--left.html.twig') }}
                Retourner à mon profil En Marche</a>
        </div>

        <div class="cv__form">
            {% block summary_form '' %}
        </div>
    </section>
{% endblock %}
