{% extends 'base.html.twig' %}

{% block page_title 'Mon profil En Marche' %}
{% block meta_description 'Remplissez votre profil En Marche et mettez vos compétences au service de projets citoyens.' %}
{% block canonical_url url('app_summary_manager_index') %}

{% block content %}
    <main class="adherent_cv">
        {% block summary_content %}{% endblock %}
    </main>
{% endblock %}
