.comments-list__comment {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px 15px 10px;
  border-radius: 6px;
  border: 1px solid $platinum;
  background-color: $white;

  &--approved {
    border-left: 3px $ufo-green solid;
  }

  &__infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;

    &__author {
      margin-right: 8px;
      font-size: 14px;
      font-weight: bold;
      color: $black;
    }

    &__date {
      color: $sonic-silver;
      font-size: 12px;
    }

    &__approved {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      margin-left: 8px;
      background-color: $ufo-green;
      border-radius: 50%;

      &__icon {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__content {
    font-size: 14px;
    color: $light-black;

    &:last-child {
      margin-bottom: 28px;
    }
  }

  &__actions {
    margin-top: 9px;
    padding-right: 5px;
    text-align: right;

    > * {
      @extend %reset-button;
      cursor: pointer;
      font-size: 15px;
      margin-left: 15px;
    }

    &__button {
      &__answer {
        color: $saphir;
      }

      &__edit {
        color: $saphir;
      }

      &__approved {
        color: $ufo-green;
      }

      &__disapproved {
        color: $light-black;
      }

      &__delete {
        color: $light-black;
      }
    }
  }
}
