<div class="w-full flex justify-between items-start border-t-1 border-black/10 pt-3.75 mb-3.75">
    <span class="basis-1/2">{{ label }}</span>
    <span class="basis-1/2 text-right">{{ value }}</span>
</div>
