{% if is_granted('DATA_CORNER', app.user) %}
    <div class="flex flex-col mt-3">
        <span class="text-[13px]">Vous êtes cadre ! Accédez à votre espace</span>
        <a href="{{ jemengage_host }}" class="bg-white text-[14px] font-bold font-sans mt-3 text-[#637381] p-3 flex items-end border rounded-[9px] border-ui_gray-50">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 14.25L3.75 9L9 3.75" stroke="#637381" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.25 9H3.75" stroke="#637381" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <span class="ml-2">Mon espace cadre</span>
        </a>
    </div>
{% endif %}
