{% extends 'referent/users/_list.html.twig' %}

{% block referent_menu_users_followers 'class="active"' %}

{% block referent_users_list_action path('app_referent_users_selected', { 'from': 'followers' }) %}
{% block referent_users_list_description %}
J’envoie un message uniquement aux <span class="text--bold">personnes adhérentes</span> et qui sont <span class="text--bold">membres d’un comité local</span>.
{% endblock %}
