{% extends 'referent/layout.html.twig' %}

{% block referent_menu_users_list 'class="active"' %}

{% block javascripts %}
<script type="text/javascript">
    Kernel.onLoad(function() {
        App.runReferentUsers({{ managedUsersJson|raw }});
    });
</script>
{% endblock %}

{% block referent_content %}
    <h3>Tous les utilisateurs</h3>

    <p>
        Inclus tous les marcheurs (tous les inscrits à la newsletter), tous les adhérents, tous les membres de comités
        et tous les animateurs de comité.
    </p>

    <hr />

    <form method="post" action="{{ path('app_referent_users_selected') }}">
        <p id="selected-users">
            <button class="btn btn--blue referent__btn-send-mail" id="send-mail-btn" disabled="disabled">
                Envoyer un e-mail
            </button>

            <span class="referent__users-count-container">
                <span id="selected-users-count">0</span> utilisateur(s) sélectionnés
            </span>
        </p>
    </form>

    <hr />

    <div id="users-list"></div>
{% endblock %}
