{% extends 'referent/users/_list.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runReferentUsers(
                [
                    {
                        key: 'id',
                        name: 'ID',
                        style: {
                            width: 25
                        }
                    },
                    {
                        key: 'postalCode',
                        name: 'Code postal',
                        style: {
                            width: 100
                        }
                    },
                    {
                        key: 'name',
                        name: 'Nom'
                    },
                    {
                        key: 'age',
                        name: 'Age',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 50
                        }
                    },
                    {
                        key: 'email',
                        name: 'E-mail',
                        link: true,
                        className: 'datagrid__table__col--hide-mobile'
                    },
                    {
                        key: 'phone',
                        name: 'Téléphone',
                        className: 'datagrid__table__col--hide-mobile'
                    },
                    {
                        key: 'committees',
                        name: 'Comités',
                        className: 'datagrid__table__col--hide-mobile'
                    },
                    {
                        key: 'createdAt',
                        name: 'Inscription',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 150
                        }
                    },
                    {
                        key: 'emailsSubscription',
                        name: 'Abonné aux mails ?',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 100
                        }
                    }
                ],
                {{ managedUsersJson|raw }}
            );
        });
    </script>
{% endblock %}

{% block referent_menu_users_hosts 'class="active"' %}

{% block referent_users_list_action path('app_referent_users_selected', { 'from': 'followers' }) %}
{% block referent_users_list_description %}
J’envoie un message uniquement aux <span class="text--bold">animateurs de comités</span>.
{% endblock %}
