{% extends 'referent/users/_list.html.twig' %}

{% block referent_menu_users_subscribers 'class="active"' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runReferentUsers(
                [
                    {
                        key: 'id',
                        name: 'ID',
                    },
                    {
                        key: 'postalCode',
                        name: 'Code postal',
                    },
                    {
                        key: 'createdAt',
                        name: 'Inscription',
                        className: 'datagrid__table__col--hide-mobile',
                        style: {
                            width: 150
                        }
                    }
                ],
                {{ managedUsersJson|raw }}
            );
        });
    </script>
{% endblock %}

{% block referent_users_list_action path('app_referent_users_selected', { 'from': 'subscribers' }) %}
{% block referent_users_list_description %}
J’envoie un message à toutes les personnes <span class="text--bold">inscrites à la newsletter</span>.
{% endblock %}
