{% block subject %}
    Modification de votre mot de passe
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            {% verbatim %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour {{var:target_firstname:""}},
                    </p>
                    <p>
                        Vous souhaitez configurer ou réinitialiser votre mot de passe ? Il suffit de cliquer sur le bouton ci-dessous !
                    </p>

                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="{{var:reset_link}}" target="_blank" class="btn">(Re)configurer mon mot de passe</a>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        À très bientôt,
                    </p>
                    <p>

                        L'équipe d'En Marche !
                    </p>
                </td>
            </tr>
            {% endverbatim %}
        {% endblock %}
    {% endembed %}

{% endblock %}
