{% block subject %}
    Email subject
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            {% verbatim %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour {{var:target_firstname:""}},
                    </p>
                    <p>
                        Nous vous confirmons que votre mot de passe a bien été modifié.
                    </p>
                    <p>
                        À très bientôt,
                    </p>
                    <p>
                        L'équipe d'En Marche !
                    </p>
                </td>
            </tr>
            {% endverbatim %}
        {% endblock %}
    {% endembed %}

{% endblock %}
