{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.binome_ids is defined and object.binome_ids|length %}
        <a href="#">{{ object.binome_ids is defined ? object.binome_ids|join }}</a>
    {% endif %}
{% endblock %}
