{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.type in ['committee', 'committee_supervisor'] %}
        <a href="{{ path('admin_app_committee_list', {filter: {id: {value: object.election_entity.id}}}) }}">
    {% endif %}

    {{ object.election_entity.name }}

    {% if object.type in ['committee', 'committee_supervisor'] %}
        </a>
    {% endif %}
{% endblock %}
