{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.designation.isCommitteeTypes() and object.electionEntity.committee %}
        <a href="{{ path('admin_app_committee_list', {filter: {id: {value: object.electionEntity.committee.id}}}) }}">{{ object.electionEntity.name }}</a>
    {% endif %}
{% endblock %}
