{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set filters = {electionRound__election__designation: {value: object.designation.id}} %}

    {% if object.designation.isCopolType() %}
        {% set filters = filters|merge({electionRound__election__electionEntity__territorialCouncil: {value: object.electionEntity.territorialCouncil.id}}) %}
    {% elseif object.designation.isCommitteeType() %}
        {% set filters = filters|merge({electionRound__election__electionEntity__committee: {value: object.electionEntity.committee.id}}) %}
    {% endif %}

    <a href="{{ path('admin_app_votingplatform_vote_list', {filter: filters}) }}">
        {% for round in object.electionRounds %}
            {% set details_by_pool = get_election_participation_details(round) %}

            tour {{ loop.index }} : {{ (details_by_pool|first.votes_count * 100 / details_by_pool|first.voters_count)|round(1) }} %<br/>
        {% endfor %}
    </a>
{% endblock %}
