{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set filters = {electionRound__election__designation: {value: object.designation.id}} %}

    {% if object.designation.isCommitteeTypes() and object.electionEntity.committee %}
        {% set filters = filters|merge({electionRound__election__electionEntity__committee: {value: object.electionEntity.committee.id}}) %}
    {% endif %}

    <a href="{{ path('admin_app_votingplatform_vote_list', {filter: filters}) }}">
        {% for round in object.electionRounds %}
            {% set details_by_pool = get_election_participation_details(round)|first %}

            tour {{ loop.index }} : {{ details_by_pool.voters_count > 0 ? (details_by_pool.votes_count * 100 / details_by_pool.voters_count)|round(1) : '0' }} %<br/>
        {% endfor %}
    </a>
{% endblock %}
