{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set filters = {designation: {value: object.designation.id}} %}

    {% if object.designationType == 'copol' %}
        {% set filters = filters|merge({territorialCouncil: {value: object.electionEntity.territorialCouncil.id}}) %}
    {% else %}
        {% set filters = filters|merge({committee: {value: object.electionEntity.committee.id}}) %}
    {% endif %}

    <ul>
        {% for pool in object.electionPools %}
            <li>{{ get_election_pool_title_key(pool)|trans }} : <a href="{{ path('admin_app_algolia_algoliacandidature_list', {filter: filters}) }}">{{ pool.countCandidateGroups }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
