{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set filters = {designation: {value: value.id}} %}

    {% if object.election.designationType == 'copol' %}
        {% set filters = filters|merge({electionEntity__territorialCouncil: {value: object.election.electionEntity.territorialCouncil.id}}) %}
    {% else %}
        {% set filters = filters|merge({electionEntity__committee: {value: object.election.electionEntity.committee.id}}) %}
    {% endif %}

    <a href="{{ path('admin_app_votingplatform_election_list', {filter: filters}) }}">{{ value.label }}</a>
{% endblock %}
