{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if value.designation.isCommitteeTypes() %}
        <a href="{{ path('admin_app_committee_list', {filter: {id: {value: value.electionEntity.committee.id}}}) }}">{{ value.electionEntity.name }}</a>
    {% endif %}
{% endblock %}
