{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block pager_links %}
    <div style="margin-top: 10px;">Faites dérouler ce dropdown pour exporter les équipes sélectionnées.</div>
    {{ parent() }}
{% endblock %}
