<a href="{{ path('app_admin_referent_exports_departemental_team', { id: object.id }) }}" class="btn btn-sm btn-default view_link"
   title="Exporter la team" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-download" aria-hidden="true"></i>
    Exporter la team
</a>
