{% macro get_certification_request_status_badge(certification_request) %}
    {% apply spaceless %}
        {% if certification_request.ocrStatus %}
            <span class="badge
                {% if certification_request.isPreApproved %}
                    bg-green
                {% elseif certification_request.isPreRefused %}
                    bg-red
                {% endif %}
                ">
                {{ ('certification_request.status.' ~ certification_request.ocrStatus)|trans }}
            </span>
        {% endif %}

        <span class="badge
            {% if certification_request.isApproved %}
                bg-green
            {% elseif certification_request.isRefused %}
                bg-red
            {% elseif certification_request.isPending %}
                bg-blue
            {% elseif certification_request.isBlocked %}
                bg-orange
            {% endif %}
            ">
            {{ ('certification_request.status.' ~ certification_request.status)|trans }}
        </span>
    {% endapply %}
{% endmacro %}

{% macro get_certification_request_processed_by(certification_request) %}
    {% if certification_request.isProcessed %}
        <i>
            Traitée
            {% if certification_request.processedBy %}
                par <b>{{ certification_request.processedBy }}</b>
                <br>
            {% endif %}
            le <b>{{ certification_request.processedAt|format_datetime }}</b>
        </i>
    {% endif %}
{% endmacro %}
