{% if is_granted(constant('App\\Adherent\\Certification\\CertificationPermissions::REFUSE'), object) %}
    <li>
        <a href="{{ admin.generateObjectUrl('refuse', object) }}" class="sonata-action-element" title="Refuser">
            <i class="fa fa-check"></i> Refuser la certification
        </a>
    </li>
{% endif %}
