{% if is_granted(constant('App\\Adherent\\Certification\\CertificationPermissions::APPROVE'), object) %}
    <li>
        <a href="{{ admin.generateObjectUrl('approve', object) }}" class="sonata-action-element" title="Approuver">
            <i class="fa fa-check"></i> Approuver la certification
        </a>
    </li>
{% endif %}
