.my-contributions {
	margin-top: 38px;

	&__category__button {
		@extend %reset-button;
		cursor: pointer;
		display: flex;
		align-items: center;

		&__label {
			margin-right: 6px;
			font-size: 14px;
			font-weight: bold;
			color: $wild-blue-yonder;
			text-transform: uppercase;
		}

		&__icon {
			&--rotate {
				transform: rotate(180deg);
			}
		}
	}

	&__category__idea {
		padding: 20px 0;
		border-bottom: 1px solid $platinum;

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }

		&__date {
			margin: 0 0 7px;
			color: $light-black;
			font-size: 14px;
		}

		&__name {
			margin: 0 0 15px;
			font-size: 20px;
		}

		&__actions {
			&__see-note {
				cursor: pointer;
				font-size: 16px;
				height: 24px;
				color: $saphir;
				border: none;

				&:hover {
	                color: $saphir;
	                opacity: 0.75;
	      }
			}
		}
	}

  .my-contributions__category__empty-label {
    padding-bottom: 20px;
    border-bottom: 1px solid $platinum;
    font-size: 14px;
    color: $light-black;
  }

}
