.idea-card-list {
  .idea-card {
    margin-bottom: 20px;
  }

  &--grid {
    display: flex;
    flex-wrap: wrap;

    .idea-card-list__wrapper {
      flex-basis: 50%;
      max-width: 50%;
      padding-bottom: 10px;

      &:nth-child(2n) {
        padding-left: 10px;
      }

      &:nth-child(2n + 1) {
        padding-right: 10px;
      }
    }
  }

  /* Responsive */
  @media #{$mobile} {
    flex-direction: column;

    .idea-card-list__wrapper {
      flex-basis: initial;
      max-width: initial;
      padding: 0;

      &:nth-child(2n) {
        padding-left: 0;
      }

      &:nth-child(2n + 1) {
        padding-right: 0;
      }
    }
  }
}
