.idea-card-list {
  .idea-card {
    margin-bottom: 20px;
  }

  .idea-card-list__empty-label {
    text-align: center;
    font-size: 20px;
    color: #667484; // TODO: replace with $aurometalsaurus
  }
}

.idea-card-list--grid {
  display: flex;
  flex-wrap: wrap;

  .idea-card-list__wrapper {
    flex-basis: 50%;
    padding-bottom: 10px;

    &:nth-child(2n) {
      padding-left: 10px;
    }

    &:nth-child(2n + 1) {
      padding-right: 10px;
    }
  }
}
