{% extends base_template %}

{% block assessor_space_main_block %}
    <main>
        <section class="b__nudge--bottom-huge">
            {% block assessor_content %}{% endblock %}
        </section>
    </main>
{% endblock %}
