{% extends 'base.html.twig' %}

{% block banner '' %}
{% block footer '' %}
{% block page_title 'Finalisez votre adhésion' %}

{% block stylesheets %}
    <style type="text/css">
        nav,
        .cc-window {
            display: none !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
{% import 'javascript.js.twig' as js %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runComplete();
        });
    </script>
{% endblock %}

{% block content %}
    <main class="content complete">
        <section class="complete__anim">
            <h1>
                <a href="{{ path('homepage') }}" class="link--no-decor text--logo text--center">EM !</a>
            </h1>

            <div class="anim">
                <img src="https://storage.googleapis.com/en-marche-staging/static/images/mail.gif" alt="">
            </div>
        </section>
        <section class="complete__desc">
        	<div class="desc__texts l__wrapper--slim l__col l__col--center text--left">
                <div class="text--larger">
                    <span>
                        Merci ! Nous sommes heureux de vous compter parmi nous.
                    </span>
                    <span>
                        Nous venons de vous envoyer un email pour confirmer votre adhésion.<br/>
                        Rendez-vous sur votre boîte email.
                    </span>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
