{% extends 'oauth/base.html.twig' %}

{% block page_title 'Finalisez votre adhésion' %}

{% block content %}
    <section class="l__inner">
        <p>
            <img src="{{ asset('images/emojis/clapping-hands-sign.png') }}" width="18" />
            Bienvenue ! Nous venons de vous envoyer un e-mail afin de confirmer votre nouveau compte.
        </p>
        <p>Rendez-vous dans votre boite e-mail pour continuer !</p>
    </section>
{% endblock %}
