{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Je donne' %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runDonation();
        });
        {{ parent() }}
    </script>
{% endblock %}

{% block content %}
    <section class="donation__content l__wrapper l__row space--60-0">
        <div class="donation__form donate-adhesion">
            <div class="donation__amount">
                <form method="get" action="{{ path('donation_index', { adhesion: true }) }}">
                    <h2>Je soutiens<br>En Marche !</h2>
                    <span class="fluo">Vous êtes une majorité à donner 50€</span>

                    <p class="montant">
                        Depuis l'élection présidentielle, 200 000 nouveaux adhérents nous ont rejoints. Ensemble, nous
                        avons lancé des centaines de projets citoyens, des formations en ligne, la Grande Marche
                        Européenne et structuré le mouvement dans toute la France.<br>
                        Merci pour votre soutien et continuons à transformer la France ensemble !
                    </p>

                    <input name="montant"
                           id="donation-amount"
                           class="form form__field form--full"
                           type="number" min="0.01" max="7500" step="0.01" value="{{ amount }}"/>

                    <input name="abonnement" id="donation-abonnement"/>

                    <div class="form--full text--center space--30">
                        <a href="{{ path('app_membership_complete') }}" id="skip-donation" class="form btn">Passer cette étape</a>
                        <button class="btn--primary form btn" type="submit">continuer</button>
                    </div>
                    <div class="b__nudge--top-10">
                        <a href="https://storage.googleapis.com/en-marche-fr/bulletin-de-don-EMa.pdf">Je donne par
                            chèque</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
