{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Je donne' %}

{% block content %}
    <section class="donation__content l__wrapper--medium l__row b__nudge--bottom-50">
        <div class="donation__form donate-adhesion">
            <header class="space--60-0 l__wrapper--slim">
                <h1 class="text--large">Vous êtes une majorité<br /> à donner <span>50 €</span></h1>
            </header>
            <hr class="l__wrapper b__nudge--bottom b__nudge--top">
            <div class="donation__amount l__wrapper--slim">
                {{ include('donation/_quick_form.html.twig') }}

                <div class="text--center b__nudge--bottom b__nudge--top-large">
                    <a href="{{ path('app_membership_complete') }}" id="skip-donation" class="form btn">Passer cette étape</a>
                </div>

                <div class="b__nudge--top-large b__nudge--bottom-large">
                    <a href="https://storage.googleapis.com/en-marche-fr/bulletin-de-don-EMa.pdf">
                        Je donne par chèque
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
