<a class="btn btn-sm btn-default" href="{{ path('admin_app_adherent_list', {filter: {pushNotification: {value: object.id}}}) }}" title="Voir les adhérents">
    <i class="fas fa-user"></i>
</a>
<a class="btn btn-sm btn-default" href="{{ path('admin_app_appsession_list', {filter: {pushNotification: {value: object.id}}}) }}" title="Voir les sessions">
    <i class="fas fa-mobile-alt"></i>
</a>
