{% if object.memberships.count > 0 %}
    <a href="{{ path(
        'admin_app_territorialcouncil_territorialcouncil_territorialcouncil_territorialcouncilmembership_list',
        { id: object.id, filter: { territorialCouncil: { value: object.id } } }) }}"
       class="btn btn-sm btn-default view_link"
       title="Membres"
    >
        <i class="fa fa-users" aria-hidden="true"></i>
        Membres
    </a>
{% endif %}
