{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a href="{{ path('admin_app_adherent_show', { id: object.adherent.id }) }}">
        {{ object.adherent.fullName }}
    </a>
    <br />
    {{ object.adherent.emailAddress }}
{% endblock %}
