{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Désintox' %}
{% block canonical_url url('page_emmanuel_macron_desintox_list') %}
{# {% block meta_description page.description %} #}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #edf861;
        }
    </style>
{% endblock %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
<main class="content">
    <section class="desintox">

        <header class="space--60-0">
            <div class="l__wrapper--slim text--center">
                <h1 class="text--large text--inline text--on-white">
                    Désintox
                </h1>
            </div>
        </header>

        {% if enable_canary %}
            <nav class="desintox__nav l__wrapper--medium">
                <ul class="text--body">
                    {{ include('page/emmanuel-macron/nav.html.twig') }}
                </ul>
            </nav>
            <hr>
        {% else %}
            <hr class="l__wrapper">
        {% endif %}

        <div class="l__wrapper--slim">
            <div class="desintox__intro text--body">
                « Ce n'est qu’un banquier, le candidat de la finance. »<br>
                « Attention il fera payer un loyer fictif aux propriétaires ! »<br>
                « Il est à la solde des médias ! Tout la presse roule pour lui. »<br>
                <br>
                Vous avez forcément vu passer ces affirmations. C’est un ami qui vous les a envoyé via une boucle de mail, c’est une connaissance qui l'a partagé sur son mur Facebook, c’est un voisin qui a entendu dire d'une "source sûre" qu'Emmanuel Macron n'était pas net, qu'il y avait des zones d'ombres.<br>
                <br>
                Ils instillent le doute, le soupçon devient roi, les rumeurs courent. Les réseaux en sont pleins.<br>
                <br>
                Depuis des semaines, nous partageons, échangeons, sur le terrain et sur internet : pour nous il s'agit d’honorer notre démocratie. D’autres, cachés derrière leurs ordinateurs, salissent leurs adversaires. Nous choisissons la bienveillance.<br>
                <br>Mettons fin à ces rumeurs dès à présent : il est plus que jamais temps de nous consacrer à notre projet.<br>
                <br>
                Mounir Mahjoubi<br>
                Responsable de la campagne numérique

                <!-- <iframe width="100%" height="315" class="b__nudge--top-40" src="" frameborder="0" allowfullscreen></iframe> -->
            </div>


            <ul class="desintox__cases">
                {% for clarification in clarifications %}
                <li>
                    <h1 class="text--large">
                        <a href="{{ path('page_emmanuel_macron_desintox_view', {'slug': clarification.slug}) }}"
                           class="link--no-decor">
                            {{ clarification.title }}
                        </a>
                    </h1>
                    <div>
                        <a href="{{ path('page_emmanuel_macron_desintox_view', {'slug': clarification.slug}) }}"
                           class="btn btn--black">Lire</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

</main>
{% endblock %}
