{% extends 'base.html.twig' %}

{% block banner '' %}
{% block page_title 'Désintox' %}
{% block canonical_url url('page_emmanuel_macron_desintox_list') %}
{# {% block meta_description page.description %} #}

{% block stylesheets %}
    <style type="text/css">
        body {
            background-color: #edf861;
        }
    </style>
{% endblock %}

{% block final_stylesheets include('bot/_stylesheet.html.twig') %}
{% block final_javascripts include('bot/_javascript.html.twig') %}

{% block content %}
<main class="content">
    <section class="desintox">

        <header class="space--60-0">
            <div class="l__wrapper--slim text--center">
                <h1 class="text--large text--inline text--on-white">
                    Désintox
                </h1>
            </div>
        </header>

        {% if enable_canary %}
            <nav class="desintox__nav l__wrapper--medium">
                <ul class="text--body">
                    {{ include('page/emmanuel-macron/nav.html.twig') }}
                </ul>
            </nav>
            <hr>
        {% else %}
            <hr class="l__wrapper">
        {% endif %}

        <div class="l__wrapper--slim">
            <div class="space--30-0 text--body">
                Le rôle de la politique est de déployer un cadre qui permettra à
                chacune et à chacun de trouver sa voie, de devenir maître de son destin,
                d'exercer sa liberté, de pouvoir choisir sa vie, puis de pouvoir vivre de
                son travail. C'est avec cette promesse d'émancipation que la politique doit
                renouer. Le chômage n'est pas une fatalité, mais un combat que nous pouvons
                gagner grâce aux mesures justes qui donneront à tous les acteurs la capacité.

                <!-- <iframe width="100%" height="315" class="b__nudge--top-40" src="" frameborder="0" allowfullscreen></iframe> -->
                <div class="space--20-0"></div>
            </div>


            <ul class="desintox__cases">
                {% for clarification in clarifications %}
                <li>
                    <h1 class="text--large">
                        <a href="{{ path('page_emmanuel_macron_desintox_view', {'slug': clarification.slug}) }}"
                           class="link--no-decor">
                            {{ clarification.title }}
                        </a>
                    </h1>
                    <div>
                        <a href="{{ path('page_emmanuel_macron_desintox_view', {'slug': clarification.slug}) }}"
                           class="btn btn--black">Lire</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

</main>
{% endblock %}
