{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        function controller(app) {
            app.home();
        }
    </script>
{% endblock %}

{% block content %}
    <main>
        <section class="content emmanuel-macron">
            <header class="filtered-image">
                <div class="l__wrapper--slim">
                    <h1 class="text--center text--larger">
                        Emmanuel Macron
                    </h1>
                    <h2 class="text--summary text--center small">
                        Fondateur d’En Marche, ancien ministre de l’Economie, de l’Industrie et du Numérique,
                        et candidat à l’élection présidentielle des 23 avril et 7 mai 2017
                    </h2>
                    <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-mobile">
                        <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href="https://medium.com/@enmarchefr"><i class="fa fa-medium"></i></a></li>
                    </ul>
                    <nav class="text--body">
                        <ul>
                            {% set currentSlug = app.request.attributes.get('slug') %}
                            {% for slug, title in {
                                'ce-que-je-suis': 'Ce que je suis',
                                'revolution': 'Révolution',
                                'mes-propositions': 'Mes propositions',
                                'mon-agenda': 'Mon agenda'
                            } %}
                                <li class="{{ slug == currentSlug ? 'active' }}">
                                    <a href="{{ path('page_emmanuel_macron', {'slug': slug}) }}">
                                        {{ title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </header>

            <article class="l__wrapper--slim">
                {% block emmanuel_macron_content %}{% endblock %}
            </article>

            <ul class="article__social space--60-0 l__wrapper--slim">
                <li role="button" aria-label="Partagez sur Twitter" role="button" arial-label="Partagez sur Facebook" class="btn btn--social btn--facebook"
                    onclick="share('facebook', window.location.href, '')">
                    <i class="fa fa-facebook-square"></i> Partagez
                </li>
                <li class="btn btn--social btn--twitter"
                    onclick="share('twitter', window.location.href, '')">
                    <i class="fa fa-twitter"></i> Tweetez
                </li>
                <li role="button" arial-label="Partagez via email" class="btn btn--social btn--email" onclick=" share('email', window.location.href, '')">
                    <i class="fa fa-envelope-o"></i> Envoyez
                </li>
            </ul>
        </section>

        <section class="donate l__wrapper--narrow background--green b__nudge--bottom-huge">
            <div class="donate__inner space--30 l__row l__row--h-stretch l__mobile--col">
                <div class="text">
                    <h2 class="text--large">Donnez et <span class="text--on-white">faites gagner le progrès !</span></h2>
                    <p class="text--body text--small b__nudge--top-large">Votre don vous donne droit à une réduction annuelle d’impôt sur le revenu à hauteur de 66% de son montant. <a href="#">En savoir plus</a>.</p>
                </div>
                {# React component HomeDonation replace the following div when JS is available #}
                <div id="home-donation">
                    <div class="donate__nojs">
                        <a href="{{ path('donation_index') }}" title="Je donne" class="btn btn--primary btn--medium-small">
                            Je donne
                            <svg width="10px" height="16px" viewBox="1 5 10 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Right arrow</title>
                                <polyline id="right-arrow" stroke="#FFFFFF" stroke-width="1" fill="none" points="2 6 10.14 12.9223586 2 19.8436338"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
