{% set currentRoute = app.request.attributes.get('_route') %}
{% for route, title in {
    'page_emmanuel_macron': 'Ce que je suis',
    'page_emmanuel_macron_revolution': 'Révolution'
} %}
    <li class="{{ route == currentRoute ? 'active' }}">
        <a href="{{ path(route) }}">
            {{ title }}
        </a>
    </li>
{% endfor %}
{% if enable_canary %}
    <li>
        <a href="{{ path('page_emmanuel_macron_desintox_list') }}">
            Désintox
        </a>
    </li>
{% endif %}
