<nav class="text--body">
    <ul class="l__wrapper">
        <li class="active"><a href="{{ path('page_emmanuel_macron_programme') }}">
            Le programme
        </a></li>
        <li><a href="/article/contrat-avec-la-nation">Le contrat avec la Nation</a></li>
        <li><a href="/article/emmanuel-macron-notre-projet-economique-efficace-juste-et-credible">Stratégie économique</a></li>
        <li><a href="https://storage.googleapis.com/en-marche-fr/COMMUNICATION/Programme-Emmanuel-Macron.pdf">Télécharger le programme</a></li>
    </ul>
</nav>
