<nav class="text--body">
    <ul class="l__wrapper">
        <li class="active"><a href="{{ path('page_emmanuel_macron_programme') }}">
            Le programme
        </a></li>
        <li><a href="#">Financement<a></li>
        <li><a href="#">Le contrat avec la nation</a></li>
        <li><a href="#">Télécharger le programme</a></li>
    </ul>
</nav>
