<div class="ballot-paper bri">
    <div class="ballot-paper__content text--center">
        <div class="b__nudge--bottom-small">
            <div class="text--gray b__nudge--bottom">
                {{ cms_block(pool.code)|markdown_to_html }}
            </div>

            {% set candidate_group = candidate_groups|filter(group => vote_choice == group.uuid.toString)|first %}
            {% if candidate_group %}
                {% set candidates = candidate_group.getCandidatesSorted() %}

                {% for candidate in candidates %}
                    <div class="b__nudge--bottom-small">
                        <h3 class="text--medium">{{ candidate.fullName }}</h3>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="text--medium">{{ vote_blanc_label }}</h3>
            {% endif %}
        </div>
        <a href="{{ path('app_voting_platform_vote_step', {uuid: election.uuid, s: loop.index}) }}" class="text--body text--center link--no-decor link--blue--dark">
            Modifier mon choix
        </a>
    </div>
</div>
