.cc-window {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px;
  font-size: 24px;

  &__text {
    margin-right: 18px;
  }

  .cc-btn {
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    transition: opacity 125ms ease;

    &:hover {
      opacity: 0.75;
    }
  }

  .cc-link {
    border-botom: 1px solid #000;
  }
}
