.select__cpt {
    border: 1px solid $pink-lighter;
    background: none;
    padding: 30px;
    border-radius: 0;
    width: 48%;
    height: 50px;
    @include text--default;
    color: $blue-primary;
    text-transform: uppercase;
}
