{% extends 'base.html.twig' %}

{% block page_title 'Le socle programme' %}
{% block canonical_url url('app_approaches') %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProgrammaticFoundation();
        });
    </script>
{% endblock %}

{% block content %}
<main class="programmatic-foundation programmatic-foundation__view-approaches">
    <section class="content">
        <span class="left-stripe"></span>
        <div class="programmatic-foundation-widget-wrapper">
        </div>
    </section>
</main>
{% endblock %}
