{% extends 'base.html.twig' %}

{% block page_title 'Le meilleur pour nos communes' %}
{% block meta_description '300 projets qui marchent.' %}
{% block canonical_url url('app_approaches') %}
{% block open_graph_image (homepage_url ~ static_asset('programmatic-foundation_sharer.jpg', { q: 70 }))|raw %}

{% block javascripts %}
    <script type="text/javascript">
        Kernel.onLoad(function() {
            App.runProgrammaticFoundation();
        });
    </script>
{% endblock %}

{% block content %}
<main class="programmatic-foundation programmatic-foundation__view-approaches">
    <section class="content">
        <span class="background-stripe-01"></span>
        <div class="programmatic-foundation-widget-wrapper">
        </div>
    </section>
</main>
{% endblock %}
