{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if not object.published %}
        <span class="label label-warning">Dépublié</span>
    {% elseif object.cancelled %}
        <span class="label label-danger">Annulé</span>
    {% else %}
        <span class="label label-primary">Programmé</span>
    {% endif %}
{% endblock %}
