{% extends 'coordinator/_layout.html.twig' %}

{% set coordinator_path = 'app_coordinator_citizen_project' %}

{% set pages = [
    {
        'route': coordinator_path,
        'status': constant('App\\Entity\\CitizenProject::PENDING'),
        'label': 'Projets en attente'
    },
    {
        'route': coordinator_path,
        'status': constant('App\\Entity\\CitizenProject::PRE_APPROVED'),
        'label': 'Projets pré-validés'
    },
    {
        'route': coordinator_path,
        'status': constant('App\\Entity\\CitizenProject::PRE_REFUSED'),
        'label': 'Projets pré-refusés'
    },
    {
        'route': coordinator_path,
        'status': constant('App\\Entity\\CitizenProject::APPROVED'),
        'label': 'Projets lancés'
    }
] %}

{% block coordinator_content %}

    {% if results|length %}
        <div class="datagrid text--summary">
            <div class="b__nudge--bottom-larger">
                {{ include('coordinator/_citizen_project_list.html.twig') }}
            </div>
        </div>
    {% else %}
        <div class="text--body text--center">
            Aucun projet ne répond à ce filtre
        </div>
    {% endif %}
{% endblock %}

{% block page_title %}Espace Responsable Engagement Citoyen{% endblock %}

{% block coordinator_area_header_description %}
    <p class="text--center">
        Cet espace vous permet d'apprécier les projets citoyens des
        zones que vous gérez. Seule l’équipe du QG sera en mesure de
        voir vos appréciations.
    </p>
    <p class="text--center">
        Zones gérées : {{ app.user.coordinatorCitizenProjectArea }}.
    </p>
{% endblock %}
