{% extends 'coordinator/_layout.html.twig' %}

{% set coordinator_path = 'app_coordinator_committees' %}

{% set pages = [
    {
        route: coordinator_path,
        status: constant('App\\Entity\\Committee::PENDING'),
        label: 'Comités en attente',
    },
    {
        route: coordinator_path,
        status: constant('App\\Entity\\Committee::PRE_APPROVED'),
        label: 'Comités pré-validés',
    },
    {
        route: coordinator_path,
        status: constant('App\\Entity\\Committee::PRE_REFUSED'),
        label: 'Comités pré-refusés',
    },
] %}

{% block coordinator_area_header_description %}
    <div class="alert alert--tips b__nudge--bottom">
        L’espace coordinateur vous permet d'apprécier les comités des
        zones que vous gérez. Seule l’équipe du QG sera en mesure de
        voir vos appréciations.
    </div>
{% endblock %}

{% block adherent_space_header_title %}
    Zones gérées : <span class="text--black text--bold">{{ app.user.regionalCoordinatorZone|join(', ') }}</span>
{% endblock %}

{% block coordinator_nav %}Comités{% endblock %}

{% block coordinator_content %}
    {% if results|length %}
        <div class="datagrid__table-container">
            <table class="datagrid__table-manager" style="border-spacing: 0 1em;">
                <thead>
                <tr>
                    <th>Créateur</th>
                    <th>Comité</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Date de création</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody id="committee-list">
                    {{ include('coordinator/_committee_list.html.twig') }}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="text--body text--center">
            Aucun comité ne répond à ce filtre
        </div>
    {% endif %}
{% endblock %}
