.share-buttons {
  display: inline-flex;
  align-items: center;

  .share-buttons__label {
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    color: $dark-aurometalsaurus;

    @media #{$mobile} {
        display: none;
    }
  }

  .SocialMediaShareButton {
    margin-left: 7px;
    cursor: pointer;
  }

  .share-buttons__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: center;

    &--telegram {
      background-image: url('./img/icn_rs-telegram.svg');
    }
  }
}
