.idea-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
  }

  &__link {
    border: none;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 20px;
  }

  &__content {
    flex: 1;
    max-width: calc(100% - 120px);

    &__title {
      $title-height: 56px;

      margin: 0 0 10px;
      font-family: $font-gillsans;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: -0.5px;
      color: $black;

      line-height: #{$title-height / 2};
      height: $title-height;

      overflow: hidden;
      overflow-wrap: break-word;
      // webkit specifics
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &__title--read {
      color: $granite-grey;
    }

    &__infos {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;

      > * {
        display: flex;
        align-items: center;
        height: 26px;
        margin-right: 10px;
        flex-wrap: wrap;
      }

      &__author {
        &__name {
          margin-left: 4px;
          color: $black;
        }

        &__separator {
          display: inline-block;
          margin: 0 10px;
          height: 4px;
          width: 4px;
          background: $light-grey;
          border-radius: 50%;
        }

        &__type {
          &--QG {
            color: $pink;

            &::after {
              content: '';
              display: inline-block;
              width: 18px;
              height: 18px;
              margin-left: 5px;
              background-image: url('./img/icn_certified-larem.svg');
              background-repeat: no-repeat;
              vertical-align: middle;
            }
          }

          &--COMMITTEE,
          &--ELECTED,
          &--ADHERENT {
            color: $dark-blue;
          }
        }
      }

      &__ideas {
        &__contributors,
        &__comments {
          display: flex;
          align-items: center;
          margin-right: 10px;
          &__icon {
            vertical-align: middle;
            margin-right: 5px;
          }
        }
      }

      &__date,
      &__meta {
        color: $grey;
      }
    }

    &__description {
      height: 50px;
      margin-top: 20px;
      margin-bottom: 25px;
      color: $light-black;
    }

    &__tags {
      margin: 0;
      padding: 0;
      list-style: none;

      &__item {
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 6px;
        padding: 0 7px;
        border: 1px solid $alice-blue;
        border-radius: 1px;
        background-color: $alice-blue;
        font-size: 12px;
        color: $cadet-grey;
      }
    }
  }

  &__tip,
  &__theme-tip {
    white-space: nowrap;
    font-family: $font-roboto;
    border-radius: 3px;
    box-shadow: 0 3px 10px 0px rgba($light-grey, 0.25);
  }

  &__tip {
    font-size: 12px;
    color: $light-grey !important;
    padding: 5px 15px;
  }

  &__theme-tip {
    color: black;
    font-size: 16px;
  }

  &__theme {
    position: absolute;
    top: 20px;
    right: 25px;

    &__icon {
      width: 76px;
      height: 76px;
    }
  }

  &--condensed {
    .idea-card__main {
      padding: 25px 25px 10px;
    }

    .idea-card__content__title {
      $title-height: 50px;
      font-size: 22px;

      line-height: #{$title-height / 2};
      height: $title-height;
    }

    .idea-card__theme__icon {
      width: 60px;
      height: 60px;
    }

    .idea-card__link::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  /* Responsive */
  @media #{$mobile} {
    &__main {
      padding: 20px;
      padding-bottom: 25px;
    }

    &__content {
      max-width: 100%;

      &__title {
        font-size: 22px;
        height: auto;
      }

      &__description {
          height: auto;
          margin-top: 5px;
          margin-bottom: 15px;
      }

      &__infos {
        flex-direction: column;

        &__ideas {
            margin-top: 5px;
        }
      }
    }

    &__theme {
      display: none;
    }
  }
}
