{% extends 'base.html.twig' %}

{% block page_title 'Merci de marcher' %}
{% block canonical_url url('app_je_marche') %}

{% block content %}
    <main>
        <section class="content l__wrapper--slim">
            <header class="space--60-0">
                <h1 class="text--large b__nudge--bottom-small">
                    Je Marche !
                </h1>
            </header>

            <p>
                Merci !
            </p>
        </section>
    </main>
{% endblock %}
