<span id="data-corner-modal--trigger" class="em-modal--trigger" data-content-element="#data-corner-modal--content"></span>

<div style="display: none;">
    <div id="data-corner-modal--content">
        <div id="data-corner-modal--content-inner" class="text--center">
            <h4><span>Data</span>Corner</h4>

            <p class="b__nudge--bottom-medium">Votre nouvel espace de travail comprenant statistiques d'utilisation de Je m'engage et messagerie moderne.</p>

            <p>
                <img src="{{ asset("images/data-corner/modal-animation.gif") }}" alt="datacorner-animation">
                <br/>
                <a href="{{ data_corner_host }}">Accéder à Je m'engage</a>
            </p>
        </div>
    </div>
</div>
