<span
    id="data-corner-modal--trigger"
    class="em-modal--trigger"
    data-content-element="#data-corner-modal--content"
></span>

<div style="display: none;">
    <div id="data-corner-modal--content" class="font-roboto">
        <div style="text-align: center;">
            <h4 
            style="
                color: #0049C6;
                font-style: italic;
                font-size: 48px;
                line-height: 36px;
                font-weight: 300;
                margin-bottom: 0;
            ">Data<span
                style="
                    color: black;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 48px;
                    line-height: 36px;"
            >Corner</span></h4>
            <p style="font-family: Poppins, sans-serif;">Votre nouvel espace de travail comprenant statistiques d'utilisation de Je m'engage et messagerie moderne.</p>
            <img src="{{ asset("images/gif/data-corner.gif")}}" style="width: 100%">
            <a
                href="https://data-corner.en-marche.fr/"
                style="
                font-family: Poppins, sans-serif;   
                color: #fff;
                background-color:#0049C6;
                padding: 8px;
                border-radius: 6px;
                "
            >Accéder à Data Corner</a>
        </div>
    </div>
</div>
