<a href="{{ path('app_approach_measure_view', {uuid: object.uuid}) }}" target="_blank" class="btn btn-sm btn-default" title="Voir la mesure">
    <i class="fa fa-eye" aria-hidden="true"></i>
    Voir la mesure
</a>
