.rc-tabs.tabs {
  border-bottom: none;

  .rc-tabs-tab {
    color: $black;

    &-active {
      color: $spiro-disco-ball;
    }
  }

  .rc-tabs-ink-bar {
    background-color: $spiro-disco-ball;
    z-index: 0;
  }
}
