{% extends 'base.html.twig' %}

{% block content %}
    <main id="adherent-profile">
        <div class="l__wrapper">
            <div class="adherent-profile l__row l__row--v-stretch">
                <aside class="adherent-profile__aside">
                    <div class="adherent-profile__status b__nudge--top">
                        <div class="l__row b__nudge--bottom-large">
                            <div class="avatar-initials avatar--medium avatar--style-02">
                                {{app.user.initials}}
                            </div>
                            <div class="adherent-profile__id">
                                <div class="name">{{ app.user.partialName }}</div>
                                <div class="adhesion-date">Inscrit{{ app.user.female ? "e" }} en {{ app.user.registeredAt|localizeddate('none', 'none', 'fr_FR', null, 'MMMM yyyy') }}</div>
                            </div>
                        </div>
                        <ul class="adherent-profile__roles b__nudge--bottom-large">
                            <li>Référent(e)</li>
                            <li>Conseiller départemental</li>
                            <li>Référent(e)</li>
                            <li>Référent(e)</li>
                            <li>Conseiller départemental</li>
                            <li>Référent(e)</li>
                        </ul>
                        <div class="profile-completion b__nudge--bottom-50">
                            <div class="text--body b__nudge--bottom-small">Complétion du profil : 50%</div>
                            <div class="gauge">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <nav class="adherent-profile__menu adherent-profile__menu--desktop">
                        <div class="menu-section">
                            <div class="menu-section__heading active">
                                <div class="icon-container">
                                    {% include('components/_adherent-menu/active/profile.html.twig') %}
                                </div>
                                <span>Informations</span>
                            </div>
                            <ul class="menu-section__items">
                                <li class="active"><a href="#">Général</a></li>
                                <li><a href="#">Certification du profil</a></li>
                                <li><a href="#">E-mail et mot de passe</a></li>
                                <li><a href="#">Centres d'intérêt</a></li>
                                <li><a href="#">Engagement</a></li>
                                <li><a href="#">Élections</a></li>
                                <li><a href="#">Communication</a></li>
                            </ul>
                        </div>
                        <div class="menu-section">
                            <div class="menu-section__heading">
                                <div class="icon-container">
                                    {% include('components/_adherent-menu/default/activity.html.twig') %}
                                </div>
                                <span>Activités</span>
                            </div>
                            <ul class="menu-section__items">
                                <li><a href="#">Général</a></li>
                                <li><a href="#">Général</a></li>
                                <li><a href="#">Général</a></li>
                                <li><a href="#">Général</a></li>
                                <li><a href="#">Général</a></li>
                            </ul>
                        </div>
                        <div class="menu-section">
                            <a class="menu-section__heading" href="#">
                                <div class="icon-container">
                                    {% include('components/_adherent-menu/default/documents.html.twig') %}
                                </div>
                                <span>Documents</span>
                            </a>
                        </div>
                    </nav>
                    <ul class="">
                        <li><a href="">Formation</a></li>
                        <li><a href="">Aide</a></li>
                        <li><a href="">Déconnexion</a></li>
                    </ul>
                </aside>
                <div class="adherent-profile__content">
                    {% block adherent_profile_content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
