{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section b__nudge--bottom-50" id="comittees">
        <h1 class="text--medium-large">Mes comités</h1>
        <h2 class="section-subtitle">Vos comités</h2>

        <div class="l__col">
            <article class="em-card">
                <h2 class="text--normal text--medium b__nudge--bottom-small text--breakword">En Marche - 9ème - Maubeuge Lamartine</h2>
                <div class="font-roboto">
                    <span class="text--bold b__nudge--right-small">Paris 2e</span>
                    <span>291 adhérents</span>
                </div>

                <div class="em-card__footer l__row l__row--h-stretch l__row--bottom l__row--wrap b__nudge--top">
                    <div class="l__row">
                        <a href="/comites/paris-2eme-sentier" class="btn btn--blue b__nudge--right-small">
                            Voir
                        </a>
                    </div>

                    <div class="b__nudge--top">
                        <div class="em-switch__wrapper">
                            <label class="switch">
                                <input type="checkbox" class="vote-switcher" data-committee-title="Paris 2ème - Sentier" data-committee-slug="paris-2eme-sentier" data-token="AhJr7PMH7cx6pe3SPataHs-KDovIjl-d7PgZw36lL-8" disabled="disabled">
                                <span class="slider"></span>
                            </label>
                            <span class="em-switch__label">Comité de désignation</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="events">
        <h1 class="text--medium-large">Mes événements</h1>
        <nav class="tabs-nav b__nudge--bottom-larger">
            <ul>
                <li class="active"><a href="#" class="tabs-nav__item">À venir</a></li>
                <li><a href="#" class="tabs-nav__item">Passés</a></li>
            </ul>
        </nav>
        <h2 class="section-subtitle">Vos événements à venir</h2>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="citizen-projects">
        <h1 class="text--medium-large">Mes projets citoyens</h1>
        <nav class="tabs-nav b__nudge--bottom-larger">
            <ul>
                <li class="active"><a href="#" class="tabs-nav__item">Project(s) créé(s)</a></li>
                <li><a href="#" class="tabs-nav__item">Projet(s) rejoint(s)</a></li>
            </ul>
        </nav>
        <h2 class="section-subtitle">Vos projets créé(s)</h2>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="adi">
        <h1 class="text--medium-large">Mon atelier des idées</h1>
        <nav class="tabs-nav b__nudge--bottom-larger">
            <ul>
                <li class="active"><a href="#" class="tabs-nav__item">Mes propositions</a></li>
                <li><a href="#" class="tabs-nav__item">Mes contrivutions</a></li>
                <li><a href="#" class="tabs-nav__item">Mes votes</a></li>
            </ul>
        </nav>
        <h2 class="section-subtitle">Vos propositions</h2>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="donations">
        {{ include("adherent_profile/activity/_donation.html.twig") }}
    </section>
{% endblock %}
