{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section b__nudge--bottom-50" id="comittees">
        <h1 class="text--medium-large">Mes comités</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="events">
        <h1 class="text--medium-large">Mes événements</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="citizen-projects">
        <h1 class="text--medium-large">Mes projets citoyens</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="adi">
        <h1 class="text--medium-large">Mon atelier des idées</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="donations">
        <h1 class="text--medium-large">Mes dons</h1>
    </section>
{% endblock %}
