{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section b__nudge--bottom-50" id="comittees">
        <h1 class="text--medium-large">Mes comités</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="events">
        <h1 class="text--medium-large">Mes événements</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="citizen-projects">
        <h1 class="text--medium-large">Mes projets citoyens</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="adi">
        <h1 class="text--medium-large">Mon atelier des idées</h1>
    </section>

    <section class="adherent-profile__section b__nudge--bottom-50" id="donations">
        <h1 class="text--medium-large">Mes dons</h1>

        <p class="text--body">Merci pour votre engagement à nos côtés !</p>
        <p class="text--body text--bold">Votre dernier don remonte à 2 mois.</p>
        <p class="text--body text--small text--muted">
            Veuillez noter que :<br />
            - Les dons effectués par chèque ne sont pas encore visibles sur cette page. <br />
            - Votre reçu fiscal sera envoyé entre avril et juin, il n'est pas nécessaire de le joindre à la déclaration de revenus de mai. Une fois obtenu, conservez-le pour pouvoir le présenter en cas de contrôle de l'administration fiscale.
        </p>
    </section>
{% endblock %}
