{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section">
        <h1 class="text--medium-large">Documents</h1>

        <div class="documents-section">
            <h2 class="section-subtitle">
                <span>Programmes électoraux</span>
            </h2>
            <ul class="documents-section__list">
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
            </ul>
        </div>

        <div class="documents-section">
            <h2 class="section-subtitle">
                <span>Programmes électoraux</span>
            </h2>
            <ul class="documents-section__list">
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
            </ul>
        </div>

        <div class="documents-section">
            <h2 class="section-subtitle">
                <span>Programmes électoraux</span>
            </h2>
            <ul class="documents-section__list">
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
                <li><a href="#">1_Charte_et_manifeste</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
