{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
    <section class="adherent-profile__section">
        <h1 class="text--medium-large">Élections</h1>


    </section>
{% endblock %}
