{% extends 'adherent_profile/_layout.html.twig' %}

{% block adherent_profile_content %}
<section class="adherent-profile__section" id="engagement">
    <h1 class="text--medium-large">Engagement</h1>

    <form class="em-form">

        <section class="em-form__section">
            <h2 class="section-subtitle">Modes d'engagement</h2>

            <div class="b__nudge--bottom-larger">
                <div class="em-form__group">
                    <label for="" class="em-form__label">
                        Vous vous engagez à LaREM en particulier pour
                    </label>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                </div>
            </div>

            <div class="b__nudge--bottom-larger">
                <div class="em-form__group">
                    <label for="" class="em-form__label">
                        Débattre et proposer des idées
                    </label>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                </div>
            </div>

            <div class="b__nudge--bottom-larger">
                <div class="em-form__group">
                    <label for="" class="em-form__label">
                        Agir pour son territoire
                    </label>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                    <div class="form__checkbox">
                        <input type="checkbox">
                        <label for="">aa</label>
                    </div>
                </div>
            </div>

            <div class="em-form__group">
                <label for="" class="em-form__label">
                    Faire gagner le progressisme aux élections
                </label>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
            </div>
        </section>

        <section class="em-form__section">
            <h2 class="section-subtitle">Compétences</h2>
            <div class="em-form__group">
                <label for="" class="em-form__label">
                    Je peux aider les équipes LaREM pour
                </label>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
                <div class="form__checkbox">
                    <input type="checkbox">
                    <label for="">aa</label>
                </div>
            </div>
        </section>

        <section class="em-form__section">
            <h2 class="section-subtitle">Temps à disposition</h2>
            <div class="em-form__group">
                <label for="" class="em-form__label">
                    Votre temps disponible pour votre engagement est d'environ…
                </label>
                <div class="form__radio">
                    <input type="radio">
                    <label for="">aa</label>
                </div>
                <div class="form__radio">
                    <input type="radio">
                    <label for="">aa</label>
                </div>
                <div class="form__radio">
                    <input type="radio">
                    <label for="">aa</label>
                </div>
            </div>
        </section>

        <button class="btn btn--blue">Enregistrer</button>
    </form>
</section>
{% endblock %}
