{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Confirmation' %}

{% block content %}
    <twig:ReStandaloneLayout class="bg-ui_gray-5">
        <twig:Atoms:ReCard class="max-w-[500px]">
            <div class="flex flex-col items-center">
                <twig:ReParagraphStatus status="info" class="w-full justify-center" slim="true">
                    Redirection en cours...
                </twig:ReParagraphStatus>

                <div class="relative flex h-6 w-6 items-center justify-center my-12">
                    <div class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></div>
                    <div class="relative inline-flex rounded-full h-5 w-5 bg-sky-500"></div>
                </div>
            </div>

            <div class="hidden">
                {{ form(form, {attr: {
                    'x-data': '',
                    'x-init': '$nextTick(function () {setTimeout(function () {$el.submit()}, 1000)})',
                }}) }}
            </div>
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}
