{% extends 'base_renaissance.html.twig' %}

{% block page_title 'Statut du paiement' %}

{% block content %}
    <twig:ReStandaloneLayout class="bg-ui_gray-5">
        <twig:Atoms:ReCard class="max-w-[500px]">
            {% if status == 'limit' %}
                <twig:ReParagraphStatus status="warning" icon="warning" class="w-full justify-center" slim="true">
                    Un problème est survenu
                </twig:ReParagraphStatus>

                <p class="text-ui_gray-80 font-medium">Pour des raisons de sécurité, nous limitons le nombre de tentatives de paiement.
                    Pas d’inquiétude, vous pourrez réessayer dans quelques instants.</p>

                <twig:ReButton tag="a" href="{{ path('app_national_event_new_payment', {slug: event.slug, uuid: inscription.uuid}) }}" color="blue">Retourner vers la page de paiement</twig:ReButton>
            {% elseif status == 'cancel' %}
                <twig:ReParagraphStatus status="warning" icon="warning" class="w-full justify-center" slim="true">
                    Un problème est survenu
                </twig:ReParagraphStatus>

                <p class="text-ui_gray-80 font-medium">Le paiement a été annulé. Aucune somme ne vous a été prélevée.</p>

                <twig:ReButton tag="a" href="{{ path('app_national_event_new_payment', {slug: event.slug, uuid: inscription.uuid}) }}" color="blue">Retourner vers la page de paiement</twig:ReButton>
            {% else %}
                <twig:ReParagraphStatus status="error" icon="error" class="w-full justify-center" slim="true">
                    Un problème est survenu
                </twig:ReParagraphStatus>

                <p class="text-ui_gray-80 font-medium">Nous n'avons rien reçu ou la banque indique que le paiement n'a pas eu lieu. Votre compte bancaire n'a pas été débité.</p>

                <twig:ReButton tag="a" href="{{ path('app_national_event_new_payment', {slug: event.slug, uuid: inscription.uuid}) }}" color="blue">Retourner vers la page de paiement</twig:ReButton>
            {% endif %}

            <hr />

            <p class="text-ui_gray-80 text-center">
                {% if event.textIntroContact %}
                    {{ event.textIntroContact|raw|nl2br }}
                {% else %}
                    Une question relative à l’inscription ?<br/>Écrivez-nous à <a href="mailto:evenements@parti-renaissance.fr" class="text-ui_blue-50">evenements@parti-renaissance.fr</a> ou appelez-nous au <a href="tel:+33186950286" class="text-ui_blue-50">01 86 95 02 86</a>
                {% endif %}
            </p>
        </twig:Atoms:ReCard>
    </twig:ReStandaloneLayout>
{% endblock %}
