{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Espace d'administration
{% endblock %}

{% block banner '' %}

{% block content %}

    <main>
        <section class="l__wrapper-500">
            <div class="login">
                <h2>Espace d'administration</h2>

                <div class="login__form">
                    <p class="login__form__title">Code d'authentification</p>

                    <form class="form" action="" method="post">
                        {% for flashMessage in app.session.flashbag.get("two_factor") %}
                            <p class="error">{{ flashMessage|trans }}</p>
                        {% endfor %}

                        <div class="form__row">
                            <input id="_auth_code" type="text" autocomplete="off" name="_auth_code"
                                   class="form form__field form--full" />
                        </div>

                        <button type="submit"
                                title="Je me connecte"
                                class="form form--full btn btn--primary login__button">Je me connecte</button>

                        {# The logout link gives the user a way out if they can't complete the second step #}
                        <p>
                            <a href="{{ path('app_admin_logout') }}">
                                Annuler
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
