{% extends 'base.html.twig' %}

{% block page_title 'Comité politique' %}

{% set membership = app.user.politicalCommitteeMembership %}
{% set political_committee = membership.politicalCommittee %}

{% block content %}
    <main class="territorial-council">
        {% block political_committee_header %}
            {% include 'territorial_council/political_committee/partials/_header.html.twig' %}
        {% endblock %}

        <div class="l__wrapper l__row l__row--top l__row--h-stretch l__tablet--col">
            <div class="territorial-council__main l__wrapper--main l__wrapper--main-left">
                {% block political_committee_content %}{% endblock %}
            </div>

            {% block political_committee_sidebar %}
                {{ include('territorial_council/political_committee/partials/_sidebar.html.twig') }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
