{% extends 'territorial_council/political_committee/_layout.html.twig' %}

{% block political_committee_content %}
    <section class="political-committee__timeline" id="political-committee-timeline">
        <h2 class="b__nudge--bottom">
            Messages du référent
        </h2>
    </section>
{% endblock %}
