.voting-footer-idea-page {
  margin-bottom: 20px;

  &__title {
    margin: 75px 0 34px;
    text-align: center;
    font-size: 28px;
  }

  &__vote {
    display: flex;
    justify-content: center;
    flex-direction: row;

    &__button {
      outline: none;
      display: flex;
      justify-content: space-between;
      width: 180px;
      height: 50px;
      border: 1px solid $grey-sky;
      border-radius: 2px;
      font-size: 17px;
      font-weight: 500;
      color: $sky;
      background-color: $white;
      position: relative;

      &--selected {
        border: 1px solid $france;
        color: $france;
      }

      &:nth-child(2) {
          margin: 0 15px;
      }
    }
    &__button:hover {
      border: 1px solid $france;
      color: $france;
    }
  }
}

@media #{$mobile} {

    .voting-footer-idea-page {

      &__vote {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__button {
            width: 100%;
            margin-bottom: 12px;

          &:nth-child(2) {
              margin: 0 0 12px 0;
          }
        }
      }

    }

}
