{% for committee in results %}
    <div class="search__committee__box">
        <div class="search__results__meta">
            <h2 class="text--medium text--normal">{{ committee.name }}</h2>
            <div class="text--body text--bold">{{ committee.cityName }}</div>
        </div>

        <div class="search__results__cta">
            <a href="" class="btn btn--blue">Je Participe</a>
            <div class="text--body icon--with-text l__row--center">
                {{ include('components/participants.html.twig') }}
                {{ 'committee.participants_count'|transchoice(committee.membersCount) }}
            </div>
        </div>
    </div>
{% endfor %}
