{% extends 'search/layout.html.twig' %}

{% block results %}
    {% for result in results %}
        <a href="{{ path('app_committee_show', { uuid: result.committee.uuid, slug: result.committee.slug }) }}" style="float: left; width: 200px; background-color: lightgrey; margin: 10px; display: block">
            <h3>{{ result.committee.name }}</h3>
            <h5>
                <small>
                  {{ 'committee.participants_count'|transchoice(result.memberships) }}
                  {% if result.committee.cityName is not empty %}
                      &bullet; {{ result.committee.cityName }}
                  {% endif %}
                </small>
            </h5>
        </a>
    {% endfor %}
{% endblock %}
