{% extends 'search/layout.html.twig' %}

{% block results %}
    {% for result in results %}
        <a href="{{ path('app_committee_show_event', { committee_uuid: result.event.committee.uuid, slug: result.event.slug }) }}" style="float: left; width: 200px; background-color: lightgrey; margin: 10px; display: block">
            <h3>{{ result.event.name }}</h3>
            <h5>
                <small>
                    {{ '1 participant|%count% participants'|transchoice(result.attendees) }}
                    {% if result.event.cityName is not empty %}
                        &bullet; {{ result.event.cityName }}
                    {% endif %}
                </small>
            </h5>
        </a>
    {% endfor %}
{% endblock %}
