.em-tooltip {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    &--trigger {
        display: block;
        box-sizing: border-box;
        cursor: pointer;

        &-circle {
            border-radius: 20px;
            min-width: 18px;
            height: 18px;
            line-height: 15px;
            font-size: 13px;
            text-align: center;
            font-weight: 700;
            background-color: $white;
            font-family: $font-roboto;
            border: 2px solid $lines-grey;
            color: $dark;
        }
    }

    &--content {
        display: none;
        width: 400px;
        z-index: 25;
        box-sizing: border-box;
        background: $white;
        padding: 20px;
        text-align: left;
        border-radius: 3px;
        color: #444;
        position: absolute;
        top: 30px;
        left: -70px;
        transition: opacity .125s ease-in-out;
        -webkit-transition: opacity .125s ease-in-out;
        font-family: $font-roboto;

        &-small {
            top: -35px;
            left: -60px;
            width: 150px;
            padding: 5px;
            text-align: center;
        }

        &-big {
            width: 600px;
        }

        &-bordered {
            border: 1px solid #eeeeee;
        }

        &-reversed {
            background: $dark;
            color: $white;
        }

        div {
            font-size: 18px;
            color: #000;
            margin-bottom: 15px;
        }

        p, li {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
        }

        ul {
            list-style: initial;
            margin-left: 20px;
        }
    }

    &:hover {
        .em-tooltip--content {
            display: block;
        }
    }
}
