.content article {
    font-family: $font-roboto;
    letter-spacing: 0.3px;
    line-height: 1.62;

    header {
        margin-bottom: 30px;

        h2 {
            @include text--body;
        }

        &.filtered-image:after {
            @include classic-gradient($filter);
        }

        .list__links--svgs {
            margin-bottom: 65px;

            a {
                color: white;
            }
        }
    }

    h1, h2, h3 {
        @include text--large;
        font-family: $font-gillsans;
        margin-top: 30px;
        font-weight: 700;
    }

    h3 {
        @include text--medium;
    }

    h4 {
        font-family: $font-gillsans;
        font-size: $text--size-medium--large;
        margin-top: 20px;
        font-weight: 400;
    }

    img {
        max-width: 100%;
    }

    ol li {
        list-style-type: decimal;
    }

    ul {
        padding-left: 40px;
        margin-top: 14px;
        margin-bottom: 14px;

        li {
            list-style-type: disc;
        }

        &.dots {
            font-size: 20px;
            font-weight: 700;
            padding-left: 20px;

            li {
                list-style: disc outside url("/images/icons/icon__dot--blue.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }
        }

        &.arrows {
            @include text--medium-small--bold;
            padding-left: 20px;

            li {
                list-style: disc outside url("/images/icons/icon__arrow.svg");
                padding-left: 8px;
                margin-left: 7px;
                margin-bottom: 10px;
            }

            &.blue {
                a {
                    color: $blue;
                    border-color: $blue;

                    &:hover {
                        @include hover($blue);
                    }
                }
            }
        }
    }

    .category {
        background: $pink;
        padding: 20px;
        border: 0;
        display: block;
        margin-top: 40px;

        &__label {
            color: $yellow;
            font-weight: bold;
            font-family: $font-gillsans;
            font-size: $text--size-medium;
            font-style: italic;
        }
    }

    .indent {
        margin-left: 15px;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        background: $pink;
        margin: 20px 0;

        &__home {
            flex: 1;
            margin: 0 0 20px 0;

            @media (max-width: $tablet) {
                margin: 0;

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        &.blue {
            background: $blue;
        }

        &.yellow {
            background: $yellow--light;
        }

        &.green {
            background: $green;
        }

        &.black {
            background: black;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        p {
            color: white;
            @include text--medium;
            @include text--bold;
            font-style: italic;
            font-family: $font-gillsans;
            margin: 0 20px 0 0;
            max-width: 350px;

            &.black {
                color: black;
            }

            &.pink {
                color: $pink;
            }

            &.blue {
                color: $blue;
            }

            &.yellow {
                color: $yellow--light;
            }

            &.green {
                color: $green;
                border: 0;
            }

            @media (max-width: $mobile) {
                margin: 0 0 20px 0;
                max-width: 100%;
            }
        }

        &--full-text {
            p {
                max-width: 100%;
            }
        }

        a {
            font-family: $font-gillsans;
            @include btn;
            border-color: white;
            white-space: nowrap;

            &.black {
                @include btn--black;
            }

            &.pink {
                @include btn--primary;
            }

            &.pink-yellow {
                @include btn--primary;
                color: $yellow;
            }

            &.white-blue {
                color: $blue;

                &:hover {
                    color: white;
                }
            }

            &.blue {
                @include btn--blue;
            }

            &.yellow {
                @include btn--yellow;
            }

            &.green {
                @include btn--green;
            }
        }
    }

    .box--blue {
        border: 7px solid $blue;
        padding: 10px 30px;

        h4 {
            @include text--medium-small;
            @include text--blue;
            @include text--uppercase;
            font-family: $font-gillsans;
            text-align: center;
            font-weight: 700;
        }

        p {
            @include text--blue;
        }
    }

    figure {
        margin-top: 40px;
        margin-bottom: 40px;

        &.fullscreen {
            max-width: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 100%;
            }

            p {
                @include text--medium-large;
                @include wrapper--slim;
                @include text--bold;
                font-family: $font-gillsans;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @media(max-width: $mobile) {
                    @include text--default;
                }
            }
        }

        &.large {
            margin-left: auto;
            margin-right: auto;

            img {
                width: 100%;
            }
        }

        img {
            display: block;
            margin: auto;

            @media (max-width: $mobile) {
                width: 100%;
            }

            ~ figcaption {
                font-size: $text--size-smallest;
                color: $black--half;
                text-align: center;
                margin-top: 5px;
            }
        }

        &.blockquote--short blockquote {
            @include text--large;
            @include text--bold;
            line-height: 42px; /* Overwrite text--large */
            font-family: $font-gillsans;
            font-style: italic;
            text-align: center;
            margin: 55px 70px 15px;

            @media (max-width: $mobile) {
                @include text--medium;
                line-height: 32px;
                margin: 55px 30px 15px;
            }

            span {
                background: $blue;
                color: white;
                padding: 0 5px;
            }

            ~ figcaption {
                @include text--default;
                color: $blue;
                text-align: center;
            }
        }

        &.blockquote--long {
            background: $blue--light;
            border-left: 5px solid $blue;
            margin: 40px;
            padding: 30px;

            blockquote {
                margin: 0;

                ~figcaption {
                    margin-top: 35px;
                }
            }
        }
    }
}
