.emmanuel-macron {
    header {
        background-size: cover;
        height: 370px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 60px;

        @media (max-width: $mobile) {
            background-position: 70%;
        }

        div {
            z-index: 1;
        }
    }

    nav {
        border-color: rgba(255, 255, 255, 0.3);

        li a {
            color: white;
        }
    }

    article {
        > h1, > h2, > h3, > h4, > h5, > h6,
        > p, > ul, > ol, > div, > blockquote,
        > figure, > img, > iframe {
            @include wrapper--slim;
        }

        ul.arrows, ul.dots, ul {
            padding-left: 55px;

            @media (max-width: $mobile) {
                max-width: 100%;
                box-sizing: border-box;
            }
        }
    }
}

.content article ul.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    li {
        width: 32.5%;
        list-style: none;
        margin-bottom: 10px;
        background: $gray--lighter;
        display: flex;
        flex-direction: column;

        .image {
            height: 160px;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $gray;
        }

        .profile-pic {
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }

        .share {
            a {
                border: 0;
                color: $gray;
                margin-right: 10px;

                &:hover {
                    color: $blue;
                }

                @media (max-width: $mobile) {
                    margin-right: 10px;
                    color: white;
                    padding: 5px;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    box-sizing: border-box;
                    text-align: center;

                    &[href*="facebook"] {
                        background-color: $facebook;
                    }

                    &[href*="twitter"] {
                        background-color: $twitter;
                    }

                    &[href*="linkedin"] {
                        background-color: $linkedin;
                    }

                    &:hover {
                        color: white;
                        background-color: $gray;
                    }
                }
            }
        }
    }

    .team__meta {
        padding: 18px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        @media (max-width: $mobile) {
            height: 135px;
        }

        .bio {
            @include text--small;
            color: $dark;
        }
    }

    @media(max-width: $tablet) {
        li {
            width: 49%;

            .image {
                height: 240px;
            }
        }
    }

    @media(max-width: $mobile) {
        li {
            .image {
                height: 180px;
            }
        }
    }

    @media(max-width: $mobile - 200px) {
        li {
            width: 100%;

            .image {
                height: 240px;
            }
        }
    }
}

.content .referents {
    width: 100%;
}
