.content {
    .programme {
        nav {
            border: 0;
            background: $darker;
            color: white;

            a {
                @include link--white;
            }
        }
        &__header {
            &__outer {
                @include gradient-container;
                background-size: cover;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-sizing: border-box;
                margin-bottom: 100px;
                height: 370px;
                background-color: $filter--gray;
                background-blend-mode: multiply;

                > div {
                    position: relative;
                    z-index: 1;
                }
            }

            &__inner {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__titles {
            max-width: 350px;
            align-self: center;

            @media (max-width: $tablet - 200px) {
                max-width: 100%;
            }
        }

        &__download {
            height: 57px;
            font-family: $font-roboto;
            font-size: 20px;
            text-transform: inherit;
            letter-spacing: 0.4px;
            padding: 0 20px;
            margin: 10px 0;

            &:hover {
                svg path {
                    fill: white;
                }
            }

            svg {
                margin-right: 10px;
            }
        }

        &__cover {
            img {
                width: 310px;
            }

            @media (max-width: $tablet - 200px) {
                display: none;
            }
        }

        &__proposals {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
        }

        &__proposal {
            list-style: none;
            padding: 20px 15px;
            background: $gray--lighter;
            height: 150px;
            width: 32%;
            box-sizing: border-box;
            margin-bottom: 15px;
            transition: all .2s;

            @media (max-width: $tablet - 300px) {
                width: 49%;
            }

            @media (max-width: $mobile - 150px) {
                width: 100%;
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                border: 0;
            }

            h2 {
                @include text--body;
                font-size: 22px;
                line-height: 1.1;
                margin: 0;
            }

            div {
                @include text--body;
            }

            &:hover {
                background: $blue;

                h2,
                div {
                    color: white;
                }
            }

            &--category {
                background: #4a4a4a;

                a {
                    color: white;
                }

                &:hover {
                    background: $gray--lighter;

                    h2,
                    div {
                        color: black;
                    }
                }
            }
        }
    }
}
