{% extends 'adherent/layout.twig' %}

{% block adherent_profile_form %}
    {{ form_start(confirmation_form) }}
        <p>Êtes-vous sûr(e) de vouloir arrêter votre don mensuel ?</p>
        {{ form_widget(confirmation_form.allow) }}
        {{ form_widget(confirmation_form.deny) }}
    {{ form_end(confirmation_form) }}
{% endblock %}
