.input__cpt {
    border: 1px solid $pink-lighter;
    background: none;
    border-radius: 0;
    width: 97%;
    @include text--default;
    color: $blue-primary;
    text-transform: uppercase;
    font-weight: 100;

    @media (max-width: $mobile) {
        width: 100%;
    }
}

.Select {
    &-placeholder {
        height: 50px;
        color: $blue-primary;
        padding-top: 10px;
    }

    &-input {
        padding-top: 10px;
    }

    &-control {
        border: 1px solid $pink-lighter;
        height: 50px;
    }

    &-value {
        padding-top: 10px;
    }

    &-clear {
        line-height: 2;
    }
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
    color: $blue-primary;
}

.select__cpt__control {
    border: 1px solid $pink-lighter;
    background: none;
}
