<table class="committee__members__list" cellpadding="10">
    <thead>
        <tr>
            <th class="no-print"><input type="checkbox" id="members-check-all" /></th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date d'inscription</th>
        </tr>
    </thead>
    <tbody>
        {% for registration in registrations %}
            <tr>
                <td class="no-print"><input type="checkbox" name="members[]" value="{{ registration.uuid }}" /></td>
                <td>{{ registration.lastName }}</td>
                <td>{{ registration.firstName }}</td>
                <td>{{ registration.createdAt|date('d/m/Y à H:i') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
