{% extends 'events/_layout.html.twig' %}

{% block page_title 'Participer à un événement' %}

{% block event_content %}
    <section class="l__wrapper--500 space--30-0 b__nudge--bottom-huge text--center">
        <div class="committee-event-registration-confirmation">
            <p class="text--body b__nudge--bottom">
                Votre participation est bien enregistrée !
            </p>
            <div class="text--center">
                {% if event.getType() == constant('App\\Event\\EventTypeEnum::TYPE_CITIZEN_ACTION') %}
                    {% set event_url = path("app_citizen_action_event_show", { slug: event.slug }) %}
                {% else %}
                    {% set event_url = path("app_committee_event_show", { slug: event.slug }) %}
                {% endif %}

                <a class="btn" href="{{ event_url }}">Retour</a>
            </div>
        </div>
    </section>
{% endblock %}
