{% extends 'base.html.twig' %}

{% block page_title 'Événements' %}
{% block canonical_url url('app_search_events') %}

{% block content %}
    <main>
        <section class="l__wrapper">
            <h2>Événements</h2>
            <ul class="list__links list__links--row list__links--no-decor list__links--svgs l__hide--on-mobile space--35-15">
                <li class="head">Suivez Emmanuel Macron !</li>
                <li><a href="https://www.facebook.com/EnMarche/"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/enmarchefr"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/enmarchefr/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCJw8np695wqWOaKVhFjkRyg"><i class="fa fa-youtube-square"></i></a></li>
                <li><a href="https://www.linkedin.com/company/en-marche"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
            <div class="l__wrapper space--5-20 l__row l__row--center l__hide--on-tablet">
                <div class="icon--with-text text--uppercase text--bold b__nudge--right">
                    {{ include('components/lightening-bolt.html.twig') }}
                    En Direct
                </div>
            </div>
        </section>
    </main>
{% endblock %}
