{% extends 'events/_layout.html.twig' %}

{% block page_title 'Inviter des amis à un événement' %}

{% block event_content %}
    <section class="l__wrapper--500 space--30-0 b__nudge--bottom-huge">
        <div class="event_invitation-result">
            <h2 class="b__nudge--bottom text--normal">Inviter des amis à l'événement</h2>
            <p>{{ 'event.invitation.form.invite_sent'|trans({count: invitations_count}) }}</p>
        </div>
    </section>
{% endblock %}
