{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <span class="label label-default">
        {{ object.community.name }}
    </span>
    &nbsp;
    {% for motivation in object.motivations|filter(m => m is not empty) %}
        <span class="label label-default">
            {{ ('admin.thematic_community.membership.motivations.'~motivation)|trans }}
        </span>
        &nbsp;
    {% endfor %}

    {% if object.expert %}
        <br>
        <span class="label label-danger">
        Expert
    </span>
    {% endif %}
{% endblock %}
