<a href="{{ path('app_admin_qr_code_generate', { uuid: object.uuid }) }}"
   class="btn btn-sm btn-default view_link"
   title="QR Code" target="_blank" rel="noopener noreferrer">
    <i class="fa fa-qrcode" aria-hidden="true"></i>
    QR Code
</a>
