{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set host = object.host %}

    <span class="badge
    {% if host is constant('App\\QrCode\\QrCodeHostEnum::HOST_ENMARCHE') %}
        bg-light-blue
    {% elseif host is constant('App\\QrCode\\QrCodeHostEnum::HOST_RENAISSANCE') %}
        bg-purple
    {% else %}
        bg-danger
    {% endif %}
    ">
        {{ host }}
    </span>
{% endblock %}
