{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="btn-group">
        <a href="{{ path('app_admin_qr_code_generate', { uuid: object.uuid, _format: 'png' }) }}"
           class="btn btn-sm btn-default view_link"
           title="QR Code" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-qrcode" aria-hidden="true"></i>
            PNG
        </a>
        <a href="{{ path('app_admin_qr_code_generate', { uuid: object.uuid, _format: 'svg' }) }}"
           class="btn btn-sm btn-default view_link"
           title="QR Code" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-qrcode" aria-hidden="true"></i>
            SVG
        </a>
    </div>
{% endblock %}
