<div class="candidate__box l__row {{ not designation.isPollType() ? 'l__row--v-stretch' }} b__nudge--bottom-medium">
    {{ form_widget(form) }}
    {{ form_label(form, ' ') }}

    {% if designation.isExecutiveOfficeType() %}
        {% include 'renaissance/voting_platform/vote_step/candidate_box/burex_content.html.twig' %}
    {% else %}
        {% include 'renaissance/voting_platform/vote_step/candidate_box/default_content.html.twig' %}
    {% endif %}
</div>
