{% block subject %}
    Confirmation réinitialisation du mot de passe
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour @@first_name@@,
                    </p>
                    <p>
                        Nous vous confirmons que votre mot de passe a bien été modifié.
                    </p>
                    <p>
                        À très bientôt,
                    </p>
                    <p>
                        L'équipe de La République En Marche !
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
