{% block subject %}
    Message de votre porteur de projet
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour @@first_name@@,
                    </p>
                    <p>
                        @@citizen_project_host_firstname@@ vous envoie ce message :

                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p>
                        -------
                    </p>
                    <p>
                        @@citizen_project_host_message@@
                    </p>
                    <p>
                        -------
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        Si nécessaire, vous pouvez échanger avec @@citizen_project_host_firstname@@ en répondant à cet e-mail.
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        A très bientôt,
                    </p>
                    <p>
                        L'équipe de La République En Marche !
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
