{% block subject %}
    Un comité vient d'être approuvé
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour @@first_name@@,
                    </p>
                    <p>
                        Nous avons le plaisir de vous annoncer qu'un nouveau comité @@committee_name@@ a été crée dans votre département, à @@committee_city@@.
                    </p>
                    <p>
                        Nous vous invitons à prendre contact avec @@animator_firstname@@ pour lui souhaiter la bienvenue et l'inviter à un premier rendez-vous ou à une réunion d'animateurs.
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="@@creator_contact_link@@" target="_blank" class="btn">Le contacter</a>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        A très bientôt !
                    </p>
                    <p>
                        L'équipe de La République En Marche !
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
