{% block subject %}
    @@subject@@
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        Bonjour @@first_name@@,
                    </p>
                    <p>
                        @@member_firstname@@ vous envoie ce message :
                    </p>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <p>
                        ------
                    </p>
                    <p>
                        @@message@@
                    </p>
                     <p>
                        ------
                    </p>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        Si nécessaire, vous pouvez échanger avec @@member_firstname@@ en répondant à cet e-mail.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        À très bientôt,
                    </p>
                    <p>
                        L'équipe de La République En Marche !
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
