{% block subject %}
    Un message au sujet de @@event_name@@
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        @@target_message@@
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
