{% block subject %}
    Demande de contact
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        Demande de contact de
                        @@first_name@@ @@last_name@@.
                    </p>
                    <p>
                        <strong>E-mail :</strong>
                        @@email@@<br/>
                        <strong>Prénom :</strong>
                        @@first_name@@<br/>
                        <strong>Nom :</strong>
                        @@last_name@@<br/>
                        <strong>Circonscription :</strong>
                        @@department_number@@
                        -
                        @@electoral_district_number@@<br/>
                        <strong>Rôle dans la campagne :</strong>
                        @@role@@
                    </p>
                    <p>
                        <strong>Sujet :</strong>
                        @@subject@@
                    </p>
                    <p>
                        <strong>Message :</strong><br/>
                        @@message@@
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
