{% block subject %}
    Pour toi
{% endblock %}

{% block body_html %}

    {% embed 'email/layout.html.twig' %}
        {% block content %}
            <tr>
                <td align="left">
                    <p>
                        @@message@@
                    </p>
                </td>
            </tr>
        {% endblock %}
    {% endembed %}

{% endblock %}
