<li>
    <a href="{{ admin.generateObjectUrl('refresh_tags', object) }}" class="sonata-action-element" title="Rafraîchissement des tags">
        <i class="fa fa-refresh"></i> Rafraîchir les tags
    </a>
</li>
