{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <a href="{{ path('admin_app_adherent_edit', { id: object.id }) }}">
        {{ object.fullName }}
    </a>

    {% if object.isCertified %}
        {% include('components/_certification_logo.html.twig') %}
    {% endif %}
{% endblock %}
