{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div style="width: 160px; margin-top: 5px;">
        {% if object.enabled %}
            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                <div class="btn-group">
                    <a href="{{ path(object.isRenaissanceUser() ? 'app_renaissance_adherent_space' : 'app_renaissance_adhesion', {'_switch_user': object.emailAddress}) }}" class="btn btn-xs btn-default" title="Impersonnifier">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                        RE
                    </a>

                    {% if is_granted(constant('App\\Security\\Voter\\DataCornerVoter::DATA_CORNER'), object) %}
                        <a href="{{ path('app_front_oauth_authorize', {
                            app_domain: app_renaissance_host,
                            '_switch_user': object.emailAddress,
                            response_type: 'code',
                            client_id: get_jme_client_id(),
                            scope: constant('App\\OAuth\\Model\\Scope::JEMENGAGE_ADMIN')
                        }) }}" class="btn btn-xs btn-primary" title="Impersonnifier JME">
                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                            JME 🇫🇷
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <span class="label label-danger">Compte inactif</span>
        {% endif %}
    </div>

    <div style="width: 160px; margin-top: 5px;">
        {% if admin.hasAccess('edit') %}
        <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-xs btn-default" title="Éditer">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Éditer
        </a>
        {% endif %}

        <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-xs btn-default" title="Afficher">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Afficher
        </a>
    </div>
{% endblock %}
