{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.adherentReferentData %}
        {% for tag in object.adherentReferentData.tags %}
            <a href="{{ path('admin_app_referenttag_edit', { id: tag.id }) }}">
                {{- tag.name -}}
            </a>
            {%- if not loop.last -%}, {%- endif -%}
        {% endfor %}
    {% endif %}
{% endblock %}
