{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% for mandate in object.activeAdherentMandates %}
        {% if mandate is instanceof('App\\Entity\\AdherentMandate\\CommitteeAdherentMandate') %}
            <span class="label label-warning">{{ 'territorial_council.membership.quality.elected_candidate_adherent'|trans }}</span><br>
        {% endif %}
    {% endfor %}

    {% for mandate in object.findElectedRepresentativeMandates(true) %}
        <span class="label label-success">
            {{ ('adherent.mandate.type.' ~ mandate.mandateType)|trans }}
        </span>
        <br>
    {% endfor %}
{% endblock %}
