{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set committee_membership = object.getCommitteeV2Membership() %}
    {% set committee = committee_membership ? committee_membership.getCommittee() : null %}

    {% if committee %}
        {% if is_granted('ROLE_APP_ADMIN_COMMITTEE_EDIT') %}
            <a href="{{ path('admin_app_committee_edit', { id: committee.id }) }}" class="sonata-action-element">
                {{ committee }}
            </a>
        {% else %}
            {{ committee }}
        {% endif %}
    {% endif %}
{% endblock %}
