{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div style="width: 160px; margin-top: 5px;">
        {% if not object.isDisabled() %}
            {% if object.isPending() %}
                <span class="label label-warning">Compte en attente</span>
            {% endif %}

            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                <div class="btn-group">
                    {% set client = get_vox_client() %}

                    <a href="{{ path('app_front_oauth_authorize', {
                        app_domain: admin_renaissance_host,
                        _switch_user: object.emailAddress,
                        response_type: 'code',
                        client_id: client.getUuid().toString(),
                        redirect_uri: client.getRedirectUris()|first,
                        scope: client.getSupportedScopes()|join(' '),
                    }) }}" class="btn btn-xs btn-default" title="Impersonnifier">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                        Impersonnifier
                    </a>
                </div>
            {% endif %}
        {% else %}
            <span class="label label-danger">Compte inactif</span>
        {% endif %}
    </div>

    <div style="width: 160px; margin-top: 5px;">
        {% if admin.hasAccess('edit', object) %}
            <a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-xs btn-default" title="Éditer">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Éditer
            </a>
        {% endif %}

        <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn btn-xs btn-default" title="Afficher">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Afficher
        </a>
    </div>
{% endblock %}
