{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field_value %}
    {% if object.hasActiveMembership() %}
        <div class="label" style="background-color:#166534;">A jour de cotisation</div>
    {% else %}
        <div class="label" style="background-color:#c11e1e;">Non à jour de cotisation</div>
    {% endif %}

    {% if object.getFirstMembershipDonation() %}
        <div class="text-bold"> Première cotisation: {{ object.getFirstMembershipDonation()|date('d/m/Y H:i:s') }}</div>
    {% endif %}

    {% if object.getLastMembershipDonation() %}
        <div class="text-bold"> Dernière cotisation: {{ object.getLastMembershipDonation()|date('d/m/Y H:i:s') }}</div>
    {% endif %}
{% endblock %}
