{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field_value %}
    <ul>
        {% for reason in object.reasons %}
            <li>{{ reason|trans({}, 'forms') }}</li>
        {% endfor %}
    </ul>
{% endblock %}
