{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field_value %}
    {% if object.hasActiveMembership() %}
        <span class="label" style="background-color:#166534;">A jour de cotisation</span>
    {% else %}
        <span class="label" style="background-color:#c11e1e;">Non à jour de cotisation</span>
    {% endif %}
    {% if object.isRenaissanceAdherent() %}<span class="text-bold"> Dernière cotisation: {{ object.getLastMembershipDonation()|date('d-m-Y') }}</span>{% endif %}
{% endblock %}
