{% set labels = [] %}

{% if object.hasAdvancedPrivileges %}
    {% if object.isReferent %}
        {% set labels = labels|merge(['Référent']) %}
    {% endif %}

    {% if object.isCoReferent %}
        {% set labels = labels|merge(['Co-Référent']) %}
    {% endif %}

    {% if object.isDelegatedReferent %}
        {% set labels = labels|merge(['Référent délégué']) %}
    {% endif %}

    {% if object.isRegionalCoordinator %}
        {% set labels = labels|merge(['Coordinateur Régional']) %}
    {% endif %}

    {% if object.isRegionalDelegate %}
        {% set labels = labels|merge(['Coordinateur Régional']) %}
    {% endif %}

    {% if object.isPresidentDepartmentalAssembly() %}
        {% set labels = labels|merge(['Président assemblée départementale']) %}
    {% endif %}

    {% if object.isDelegatedPresidentDepartmentalAssembly() %}
        {% set labels = labels|merge(['PaD délégué']) %}
    {% endif %}

    {% if object.isProcurationManager %}
        {% set labels = labels|merge(['Procuration']) %}
    {% endif %}

    {% if object.isAssessorManager %}
        {% set labels = labels|merge(['Responsable assesseurs']) %}
    {% endif %}

    {% if object.isAnimator %}
        {% set labels = labels|merge(['Responsable comité local']) %}
    {% endif %}

    {% if object.isDelegatedAnimator %}
        {% set labels = labels|merge(['Responsable comité local délégué']) %}
    {% endif %}

    {% if object.isAssessor %}
        {% set labels = labels|merge(['Assesseur']) %}
    {% endif %}

    {% if object.isJecouteManager %}
        {% set labels = labels|merge(['Responsable des questionnaires']) %}
    {% endif %}

    {% if object.isHost %}
        {% set labels = labels|merge(['Co-Animateur']) %}
    {% endif %}

    {% if object.isSupervisor(false) %}
        {% set labels = labels|merge(['Animateur']) %}
    {% endif %}

    {% if object.isSupervisor(true) %}
        {% set labels = labels|merge(['Animateur provisiore']) %}
    {% endif %}

    {% if object.isBoardMember %}
        {% set labels = labels|merge(['Membre du Conseil']) %}
    {% endif %}

    {% if object.isDeputy %}
        {% set labels = labels|merge(['Délégué de circonscription']) %}
    {% endif %}

    {% if object.isDelegatedDeputy %}
        {% set labels = labels|merge(['Délégué de circonscription délégué']) %}
    {% endif %}

    {% if object.isSenator %}
        {% set labels = labels|merge(['Sénateur']) %}
    {% endif %}

    {% if object.isDelegatedSenator %}
        {% set labels = labels|merge(['Sénateur délégué']) %}
    {% endif %}

    {% if object.isSenatorialCandidate %}
        {% set labels = labels|merge(['Candidats Sénatoriales 2020']) %}
    {% endif %}

    {% if object.isHeadedRegionalCandidate %}
        {% set labels = labels|merge(['Tête de liste aux régionales']) %}
    {% endif %}

    {% if object.isLeaderRegionalCandidate %}
        {% set labels = labels|merge(['Chef de file aux régionales']) %}
    {% endif %}

    {% if object.isDepartmentalCandidate %}
        {% set labels = labels|merge(['Candidat aux départementales']) %}
    {% endif %}

    {% if object.isDelegatedHeadedRegionalCandidate %}
        {% set labels = labels|merge(['Tête de liste aux régionales délégué']) %}
    {% endif %}

    {% if object.isDelegatedLeaderRegionalCandidate %}
        {% set labels = labels|merge(['Chef de file aux régionales délégué']) %}
    {% endif %}

    {% if object.isDelegatedDepartmentalCandidate %}
        {% set labels = labels|merge(['Candidat aux départementales délégué']) %}
    {% endif %}

    {% if object.isElectionResultsReporter %}
        {% set labels = labels|merge(['Rapporteur résultats']) %}
    {% endif %}

    {% if object.isLegislativeCandidate %}
        {% set labels = labels|merge(['Candidat aux législatives']) %}
    {% endif %}

    {% if object.isCorrespondent %}
        {% set labels = labels|merge(['Correspondant']) %}
    {% endif %}

    {% if object.isThematicCommunityChief %}
        {% set labels = labels|merge(['Responsable Thématique']) %}
    {% endif %}
{% endif %}

{% if object.hasNationalRole %}
    {% set labels = labels|merge(['Rôle National']) %}
{% endif %}

{% if object.hasNationalCommunicationRole %}
    {% set labels = labels|merge(['Rôle National communication']) %}
{% endif %}

{% if object.hasPhoningManagerRole %}
    {% set labels = labels|merge(['Responsable équipe d\'appel']) %}
{% endif %}

{% if object.hasPapNationalManagerRole %}
    {% set labels = labels|merge(['Responsable National PAP']) %}
{% endif %}

{% for label in labels %}
    <span class="label" style="background-color: #3C8DBC; padding: 2px;">
        {{ label }}
    </span>
    <br/>
{% endfor %}

{% include 'admin/adherent/_tags.html.twig' with { tags: object.tags } %}

{% if object.isTerritoireProgresMembership %}
    {% set labels = labels|merge(['Militant TDP']) %}
{% endif %}

{% if object.isAgirMembership %}
    {% set labels = labels|merge(['Militant AGIR']) %}
{% endif %}
