{% if object.hasAdvancedPrivileges %}
    {% if object.isReferent %}
        <span class="label label-primary" style="padding: 2px;">Référent</span><br/>
    {% endif %}

    {% if object.isCoReferent %}
        <span class="label label-primary" style="padding: 2px;">Co-Référent</span><br/>
    {% endif %}

    {% if object.isDelegatedReferent %}
        <span class="label label-primary" style="padding: 2px;">Référent délégué</span><br/>
    {% endif %}

    {% if object.isRegionalCoordinator %}
        <span class="label label-primary" style="padding: 2px;">Coordinateur Régional</span><br/>
    {% endif %}

    {% if object.isPresidentDepartmentalAssembly() %}
        <span class="label label-primary" style="padding: 2px;">Président assemblée départementale</span><br/>
    {% endif %}

    {% if object.isDelegatedPresidentDepartmentalAssembly %}
        <span class="label label-primary" style="padding: 2px;">PaD délégué</span><br/>
    {% endif %}

    {% if object.isProcurationManager %}
        <span class="label label-primary" style="padding: 2px;">Procuration</span><br/>
    {% endif %}

    {% if object.isAssessorManager %}
        <span class="label label-primary" style="padding: 2px;">Responsable assesseurs</span><br/>
    {% endif %}

    {% if object.isAnimator %}
        <span class="label label-primary" style="padding: 2px;">Responsable comité local</span><br/>
    {% endif %}

    {% if object.isDelegatedAnimator %}
        <span class="label label-primary" style="padding: 2px;">Responsable comité local délégué</span><br/>
    {% endif %}

    {% if object.isAssessor %}
        <span class="label label-primary" style="padding: 2px;">Assesseur</span><br/>
    {% endif %}

    {% if object.isJecouteManager %}
        <span class="label label-primary" style="padding: 2px;">Responsable des questionnaires</span><br/>
    {% endif %}

    {% if object.isHost %}
        <span class="label label-primary" style="background-color: #90ade6 !important; padding: 2px;">Co-Animateur</span><br/>
    {% endif %}

    {% if object.isSupervisor(false) %}
        <span class="label label-primary" style="background-color: #90ade6 !important; padding: 2px;">Animateur</span><br/>
    {% endif %}

    {% if object.isSupervisor(true) %}
        <span class="label label-primary" style="background-color: #90ade6 !important; padding: 2px;">Animateur provisiore</span><br/>
    {% endif %}

    {% if object.isBoardMember %}
        <span class="label label-primary" style="padding: 2px;">Membre du Conseil</span><br/>
    {% endif %}

    {% if object.isDeputy %}
        <span class="label label-primary" style="padding: 2px;">Délégué de circonscription</span><br/>
    {% endif %}

    {% if object.isDelegatedDeputy %}
        <span class="label label-primary" style="padding: 2px;">Délégué de circonscription délégué</span><br/>
    {% endif %}

    {% if object.isSenator %}
        <span class="label label-primary" style="padding: 2px;">Sénateur</span><br/>
    {% endif %}

    {% if object.isDelegatedSenator %}
        <span class="label label-primary" style="padding: 2px;">Sénateur délégué</span><br/>
    {% endif %}

    {% if object.isSenatorialCandidate %}
        <span class="label label-primary" style="padding: 2px;">Candidats Sénatoriales 2020</span><br/>
    {% endif %}

    {% if object.isHeadedRegionalCandidate %}
        <span class="label label-primary" style="padding: 2px;">Tête de liste aux régionales</span><br/>
    {% endif %}

    {% if object.isLeaderRegionalCandidate %}
        <span class="label label-primary" style="padding: 2px;">Chef de file aux régionales</span><br/>
    {% endif %}

    {% if object.isDepartmentalCandidate %}
        <span class="label label-primary" style="padding: 2px;">Candidat aux départementales</span><br/>
    {% endif %}

    {% if object.isDelegatedHeadedRegionalCandidate %}
        <span class="label label-primary" style="padding: 2px;">Tête de liste aux régionales délégué</span><br/>
    {% endif %}

    {% if object.isDelegatedLeaderRegionalCandidate %}
        <span class="label label-primary" style="padding: 2px;">Chef de file aux régionales délégué</span><br/>
    {% endif %}

    {% if object.isDelegatedDepartmentalCandidate %}
        <span class="label label-primary" style="padding: 2px;">Candidat aux départementales délégué</span><br/>
    {% endif %}

    {% if object.isElectionResultsReporter %}
        <span class="label label-primary" style="padding: 2px;">Rapporteur résultats</span><br/>
    {% endif %}

    {% if object.isLegislativeCandidate %}
        <span class="label label-primary" style="padding: 2px;">Candidat aux législatives</span><br/>
    {% endif %}

    {% if object.isCorrespondent %}
        <span class="label label-primary" style="padding: 2px;">Correspondant</span><br/>
    {% endif %}

    {% if object.isThematicCommunityChief %}
        <span class="label label-primary">Responsable Thématique</span>
    {% endif %}
{% endif %}

{% if object.isRenaissanceAdherent %}
    <span class="label" style="background-color: #00205F">Adhérent RE</span>
{% elseif object.isRenaissanceSympathizer %}
    <span class="label" style="background-color: #73C0F1">Sympathisant RE</span>
{% elseif object.isAdherent and object.source is null %}
    <span class="label label-default">Adhérent EM</span>
{% else %}
    <span class="label label-default">Utilisateur</span>
{% endif %}

{% if object.isTerritoireProgresMembership %}
    <span class="label label-primary">Militant TDP</span>
{% endif %}

{% if object.isAgirMembership %}
    <span class="label label-primary">Militant AGIR</span>
{% endif %}


{% if object.hasPrintPrivilege %}
    <span title="Accès LMI">&nbsp;🖨</span>
{% endif %}

{% if object.hasNationalRole %}
    <span class="label label-primary" style="padding: 2px;">Rôle National</span>
{% endif %}

{% if object.hasNationalCommunicationRole %}
    <span class="label label-primary" style="padding: 2px;">Rôle National communication</span>
{% endif %}

{% if object.isCoalitionModerator %}
    <span class="label label-primary" style="padding: 2px;">Responsable des coalitions</span><br/>
{% endif %}

{% if object.isApprovedCauseAuthor %}
    <span class="label label-primary" style="padding: 2px;">Porteur de cause ✊</span><br/>
{% endif %}

{% if object.hasPhoningManagerRole %}
    <span class="label label-primary" style="padding: 2px;">Responsable équipe d'appel</span>
{% endif %}

{% if object.hasPapNationalManagerRole %}
    <span class="label label-primary" style="padding: 2px;">Responsable National PAP</span>
{% endif %}
