{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul id="{{ id }}_errors">
            {%- for error in errors -%}
                <li class="form__error">
                    {%- if error_raw -%}
                        {{- error.message|raw -}}
                    {%- else -%}
                        {{- error.message -}}
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}
